[2017-03-22 14:49] codemodouk commented on #611
You've totally thrown me now! Can you provide an example of how I can wrap the UINavigationController in the segue?

In the example project I uploaded, I added the following:

[code]

But I got this error:

`Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'Application tried to present modally an active controller <SnackbarTest.GreenViewController: 0x7fdc4540a0a0>.'`

[2017-03-22 17:27] Deadpikle opened #723 "[Enhancement] TextField tint (divider, etc.) should default to View tint"
Hi,

First time user of the library here, so it's possible I'm missing something, but it would be nice IMO if the default divider color and `placeholderActiveColor` (the latter of which appears to determine the overall tint color [e.g. caret, selection color]) for the `TextField` would follow the app's global tint and/or the tint set for the overall `View` in IB (see bottom of screenshot from IB).

[2017-03-22 23:00] danieldahan commented on #292
Not sure why this was closed, I am going to reopen it and put it on the ToDo. Sorry about that. As for timing, it will be sooner than later. I have a few items that I want to tackle first. If you have any ideas on this, I'd be happy to learn about them. Thank you!

[2017-03-23 04:43] sohayb commented on #292
Well TBH I haven't thought about how to design a Theme API in a generic way, I'm just using a solution I found online:
[code]
Then in my AppDelegate:
[code]
I hope this is helpful.

[2017-03-23 15:33] giofid opened #724 "[TextField] inside a UITableViewCell"
I'm trying to put TextField inside a UITableViewCell in this way:

                let cell = tableView.dequeueReusableCell(withIdentifier: "textfieldCell", for: indexPath)
                // Configure the cell...
                let passwordField = TextField()
                passwordField.placeholder = "Password"
                passwordField.isDividerHidden = true
                passwordField.

[2017-03-24 14:32] codemodouk opened #725 "FABMenu delegate methods not executing when manually opening/closing menu"
Hi,

I'm using the FABMenu functionality standalone - i.e. not as part of the FABMenuController.

I notice that if I programatically call `open` or `close`, the `willOpen`, `willClose`, `didOpen`, `didClose` delegate methods don't get called.

I see in the FABMenuController code there is a parameter `isTriggeredByUserInteraction`, but the use of that is internal to the class. Is this intentional?

[2017-03-24 18:23] jokjok opened #726 "dyld: Library not loaded: @rpath/libswiftAVFoundation.dylib"
dyld: Library not loaded: @rpath/libswiftAVFoundation.dylib
  Referenced from: /Users/martin/Library/Developer/CoreSimulator/Devices/E19F771B-6A6F-4DEE-B0E7-74FBAE299565/data/Containers/Bundle/Application/1E7B1695-9018-4854-87EF-5E8AF8D0C6A7/test.app/Frameworks/Material.framework/Material
  Reason: image not found

The App compiles without errors, and it works on real devices.
On any simulator, in

[2017-03-24 19:01] danieldahan commented on #726
Have you tried including this library? `AVFoundation` ? Are you using the `Capture` component in Material?

[2017-03-24 19:49] jokjok commented on #726
Hello Daniel, yes I've tried to add AVFoundation, both as an embedded binary and as a linked one.
And no, I'm not using the Capture component. I'm using Material for the fab menus and colors only, if I recall correctly.

I suspect that this may be some Xcode-related issue.

[2017-03-24 19:57] danieldahan commented on #726
Yes, I have seen issues like this go away once the user's DerivedData directory is deleted and all is cleared. Something could be stale, which is causing this issue. Would you mind trying to clean everything up and deleting the user's DerivedData directory?

[2017-03-24 20:17] jokjok commented on #726
Just did it, with no luck :(.

[2017-03-24 20:21] danieldahan commented on #726
Not sure then. I don't use Carthage. Can you send me a sample project that I can try reproducing this with?

[2017-03-25 16:01] sohayb commented on #292
I was just overhauling the app's code by removing all initialization inline code and replace by this code in the app's delegate 😃
[code]

[2017-03-25 20:59] jokjok commented on #726
Ok, so, I managed to fix the issue somehow.

I tried making a new empty project and including the Material framework, and the same error appeared.
Then, I tried to run Carthage to fetch the latest version 2.6.0 of Material and then I've included it in the empty project, and it worked.

I then rebuilt with Carthage the version that I needed to avoid other compilation errors in my project (2.4.12),

[2017-03-26 03:51] volkangurol opened #727 "Swiping in AppPageTabarController triggers other VC"
In appPageTabBarController i have 3 VC, swiping second VC, triggers third VC as well.
This issue not occurs when its rootController. After i transitioned from other VC to appPageTabBarController, if i swipe from first VC to 2nd VC, it triggers 3rd VC.

let appPageTabBarController = AppPageTabBarController(viewControllers: [first,second,third])
toolbarController?.transition(to: appPageTabBarControl

[2017-03-27 00:30] danieldahan commented on #726
Awesome, thank you!

[2017-03-27 00:30] #726 closed

[2017-03-28 10:25] talkabhishek commented on #720
@WrathChaos, I assume you want to show drawer after your SplashScreen.
You can let your app open SplashScreen first and do your work
Put all code to set rootViewController(currently in applicationDidFinishLaunching) in another function on AppDelegate.

    func setDrawerRootView() {
        let appToolbarController = AppToolbarController(rootViewController: RootViewController())
        let leftVi

[2017-03-28 13:20] kerem1905 opened #728 "build error with last version on master branch"
I am getting build error and logs are as follows,

/Users/jenkinsbuild04/jenkins/workspace/TM_MAD_Swift_iOS/Pods/Material/Sources/iOS/Material+Motion.swift:175:15: error: Objective-C method 'animationControllerForPresented:presenting:source:' provided by method 'animationController(forPresented:presenting:source:)' does not match the requirement's selector ('animationControllerForPresentedControll

[2017-03-28 15:20] danieldahan commented on #728
What version of Xcode are you using?

[2017-03-28 19:36] danieldahan commented on #720
Hi @WrathChaos I haven't heard from you in regards to any sample code, so I will close this issue, please reopen if you need any further help. @talkabhishek Thank you for your response.

[2017-03-28 19:36] #720 closed

[2017-03-28 19:48] danieldahan commented on #728
Please find an update for Xcode 8.3 in [Material 2.6.1](https://github.com/CosmicMind/Material/releases/tag/2.6.1). If you need, please reopen this issue. Thank you!

[2017-03-28 19:48] #728 closed

[2017-03-28 19:54] danieldahan commented on #292
Cool, I will come up with something for this. I think it is a great idea to theme Material.

[2017-03-28 19:54] danieldahan commented on #723
I believe you are talking about creating themes for Material? We have a [Theme Feature Request](https://github.com/CosmicMind/Material/issues/292#issuecomment-289220858) for this. Please follow that issue, and if I am not correct in my thinking, please reopen this issue and describe further. Thank you!

[2017-03-28 19:54] #723 closed

[2017-03-28 20:17] danieldahan commented on #611
Seems like it can't find this `GreenViewController`. Maybe you need to remove that reference as that is probably from the sample code. As for the code, that looks like the correct idea if not the correct way. I don't do much with storyboards. See if you can remove the `GreenViewController` reference, and if you still have an issue, please let me know. Thank you!

[2017-03-28 20:58] codemodouk commented on #611
Hey, thanks for the feedback I really appreciate it.

Sent from my iPhone

[2017-03-28 22:36] danieldahan commented on #725
Hey, yes this is intentional. Apple says that a ui control should not fire its delegation methods when not initiated by a user. If you are programmatically executing code, you should be able to trigger the correct functionality, or add a selector and target to the `FABMenuItem.button` as needed. If you need, please reopen the issue. Thank you!

[2017-03-28 22:36] #725 closed

[2017-03-28 22:41] danieldahan commented on #727
I am not sure what you mean by triggers.

[2017-03-28 23:51] volkangurol commented on #727
ok, mouse dragging (swiping) in emulator misleading me, sorry for that. It is accurate in device

[2017-03-28 23:51] #727 closed

[2017-03-28 23:52] danieldahan commented on #727
No worries :)

[2017-03-29 15:08] OrkhanAlikhanov commented on #724
This is not a solution but you can play with `placeholderVerticalOffset` property.

[2017-03-29 16:07] danieldahan commented on #724
Hey :)

You will need to adjust the height of the `TextField` with a slight top offset, and increate the height of the `UITableViewCell` to accommodate it. At the current moment, the height of the `TextField.placeholderLabel` is not included in the intrinsic height of the `TextField`. If you have any further questions, or need any help, please reopen this issue. Thank you!

[2017-03-29 16:07] #724 closed

[2017-03-29 16:09] danieldahan commented on #722
I'll have a response and fix for this later today. Sorry for any delay. Thank you!

[2017-03-29 16:11] #722 closed

[2017-03-29 16:14] danieldahan commented on #709
Hey, really sorry I didn't get to this earlier. The issue is a minor bug with hiding the `back button` using multiple methods at the same time. So `hidesBackButton` needed to be set to `false` to avoid the `...` that appeared. All the best and hope you are having fun with Material :)

[2017-03-29 16:14] #709 closed

[2017-03-29 16:17] OrkhanAlikhanov commented on #709
What is actually the three dots (`...`) appearing? Just curious :)

[2017-03-29 16:21] danieldahan commented on #709
It's Apple's way of saying there is a title value that is not fully being shown. It is like `Mate...`, but in this case it is only the `...`. This is the behaviour of Strings that are too long in some cases when coding with iOS :)

[2017-03-30 02:10] danieldahan commented on #608
You can now use the `selectedIndex` property to select a tab in [Material 2.6.2](https://github.com/CosmicMind/Material/releases/tag/2.6.2). For example:

[code]

Thank you!

[2017-03-30 02:10] #608 closed

[2017-03-30 04:55] HowardCsie commented on #608
@danieldahan Thanks a lot. I 'll try it later :)

[2017-03-30 19:29] carbonimax commented on #611
Hi @codemodouk,

After all, did you find a solution ? I have the same issue.

[2017-03-30 19:32] danieldahan commented on #611
If anyone would like to send a sample over that reproduces this issue, I'd be happy to help. Thanks!

[2017-03-31 08:28] codemodouk commented on #611
Hi @carbonimax, unfortunately, I haven't solved this yet by using Storyboards and segues. I can workaround it by conforming my source VC to `UIPopoverPresentationControllerDelegate` and presenting my target VC as a popover. Using this approach, I can make use of `UIPopoverPresentationControllerDelegate` function

`func presentationController(UIPresentationController:  UIModalPresentationStyle) `

[2017-03-31 08:59] codemodouk commented on #611
Hi @carbonimax, you must have given me some inspiration. Try this, I've just got it working:

[code]

Let me know if it works for you too.

[2017-03-31 09:02] carbonimax commented on #611
Hi,

Thank you for your replies.
I found a working solution. I use a custom segue in IB with this class :

[code]

[2017-03-31 09:48] codemodouk commented on #611
I prefer your approach to mine as it keeps the implementation details outside of the view controller. I've modified it to suit my needs, so, thought I would share in case anyone else has a similar requirement:

[code]

[2017-04-03 15:02] AkiraTaki opened #729 "Switch inside cards doesn't work"
In my app I put a Switch inside a Card, the layout is alright but it doesn't respond to touches (switch not changing its state). I've also tried UISwitch which does not work as well. Is this a bug in cards?

[2017-04-03 15:05] AkiraTaki commented on #729
Oh, I've just figured it out. It turns out that I put a card inside a custom UITableViewCell. That causes the problem.

[2017-04-03 15:05] #729 closed

[2017-04-03 16:05] danieldahan commented on #729
Great :) Happy all has worked out. Thank you!

[2017-04-04 08:31] AkiraTaki opened #730 "PulseView with depth"
When I programmatically called pulse() on a card with depth (the shadow), the pulse appears in the back of the card  (where the shadow is) rather than pulsing on the card itself. Is this normal? or am I doing something wrong?

[2017-04-04 18:02] danieldahan commented on #730
Hmm... Can you show me a visual of this?

[2017-04-05 01:35] danieldahan commented on #619
This is a related issue, https://github.com/CosmicMind/Material/issues/619. Working on this now.

[2017-04-05 01:36] danieldahan commented on #606
Working on this now, and this is a related issue, please follow this one. https://github.com/CosmicMind/Material/issues/619

[2017-04-05 01:36] #606 closed

[2017-04-05 17:01] danieldahan commented on #730
Hey, I haven't heard from you, when you get a chance, please provide a visual of the issue and the version of Material that you are using, and reopen the issue then :) Thank you!

[2017-04-05 17:01] #730 closed

[2017-04-06 02:01] markst opened #731 "TextField calls layoutSubviews() directly."
What's the reason for `TextField` calling `layoutSubviews()` on `becomeFirstResponder()`?

Apple advises against calling `layoutSubviews()` directly.

https://developer.apple.com/reference/uikit/uiview/1622482-layoutsubviews

[2017-04-06 16:36] danieldahan commented on #731
True, but remember I am not calling `layoutSubviews` external to the class itself. Meaning, I am not doing this: `textField.layoutSubviews()`, which is not a good idea. I'll run some tests and see if there is an improvement I can make in this area :)

Calling it in `becomeFirstResponder` is because of the change in layout that is needed if one triggers `becomeFirstResponder` when initially loading

[2017-04-06 16:36] #731 closed

[2017-04-08 11:17] reloni opened #732 "TextView placeholder"
Hello.
Previously TextView's placeholder worked similarly as placeholder in TextField (when you start input text placeholder moved up). Now placeholder in TextField simply disappears when control has text. Is it a bug or this functionality was removed?

[2017-04-08 13:04] danieldahan commented on #732
Great question, the functionality was removed to simplify the TextView as it was causing issues with scrollable text. TextView has multi line support, using clipsToBounds = false, bugs out. If you have any suggestions, I'd be happy to discuss them. Please reopen the issue if needed.

[2017-04-08 13:04] #732 closed

[2017-04-09 08:13] tariq235 opened #733 "How to call pushViewController in NavigationDrawerController ?"
I want to do pushViewController on rootViewController in current sample of `NavigationDrawerController` https://github.com/CosmicMind/Samples/blob/master/Projects/Programmatic/NavigationDrawerController/NavigationDrawerController/RootViewController.swift

and as well as in ```TransitionedViewController``` https://github.com/CosmicMind/Samples/blob/master/Projects/Programmatic/NavigationDrawerContr

[2017-04-10 03:34] sdondon opened #734 "Is there any way to use features like Fab button, snackbar in one view controller?"
Hello :)

I'm trying to implement fab button, snack bar and some other features that Material framework have in one viewcontroller.

but it seems like there is no way to use them in one VC other then nesting all different VCs like this :
[code]

It works fine when tested, but I just want to know if I'm doing right. Will there be any performance issues? sometimes the screen gets really odd when tra

[2017-04-10 13:06] danieldahan commented on #733
I am away until this evening, I can help you then :)

[2017-04-11 02:57] markst commented on #731
Hey @danieldahan thanks for response.

I believe `layoutSubviews()` should never be called regardless of being called external or internally.

It seems there are some progress of changes to the more appropriate way of forcing layout:
https://github.com/CosmicMind/Material/blob/5e81df5a0c3448b9c811d82e57be02e57abd59f5/Sources/iOS/TextField.swift#L385

[code]

[2017-04-11 03:02] markst commented on #552
I seem to be experiencing this issue with `TextView`.
Works fine if I remove `@objc(TextView)`. But I wonder if there's a better workaround to support objective-c & interface builder modules.

[2017-04-11 05:42] danieldahan commented on #733
Your setup sounds like it is trying to combine more than one idea. So I am slightly confused, but from your issue question - the code to call `pushViewController` from the `NavigationDrawerController` where the `NavigationDrawerController.rootViewController` is a `NavigationController` do this:

[code]

If you have any further issues or questions, please reopen or create a new issue. Thank you :)

[2017-04-11 05:42] #733 closed

[2017-04-11 05:48] danieldahan commented on #731
Initially I made those changes and tested all the projects. It caused some issues, so there is another method to achieve your suggestion, which I will do on my flight tomorrow. Personally, I don't see an issue with calling it internally, but I don't know everything and I can make a fix from your suggestion :) Thanks for submitting this.

[2017-04-11 05:50] danieldahan commented on #552
Hmmm... @markst can I see your setup code please? Thank you!

[2017-04-11 16:36] johndpope opened #735 "clarification - switch properties"
it wasn't clear to me how to achieve this stretched look from looking through switch class.

<img width="178" alt="screen shot 2017-04-11 at 12 34 28 pm" src="https://cloud.githubusercontent.com/assets/289994/24919934/4f99e22e-1eb3-11e7-9f02-7050fdc1e948.png">

thus far
<img width="147" alt="screen shot 2017-04-11 at 12 35 48 pm" src="https://cloud.githubusercontent.com/assets/289994/24919955/6a1f

[2017-04-12 07:06] markst commented on #552
I'll have to put together a demo project. But it would simply be to create a project - install Material. Create a storyboard with a `UITextView` then define `TextView` as the class type:
![image](https://cloud.githubusercontent.com/assets/274318/24945373/5f2bb588-1fa2-11e7-949c-b528fdddac27.png)

[2017-04-12 09:15] mrengine opened #736 "RaisedButton. Show full animation before action"
Hi,

I have RaisedButton and action (tapping on this button) which is moving me to another viewcontroller.
The action is running so fast and I do not have time to notice button's animation. Is it possible to handle delay before action in order to show full animation to user?

p.s. sure i can add delay (runAfter or Timer) inside my action method, but it's not good solution. maybe there is better so

[2017-04-12 13:37] johndpope commented on #735
<img width="1037" alt="screen shot 2017-04-12 at 9 36 44 am" src="https://cloud.githubusercontent.com/assets/289994/24960360/93767a24-1f63-11e7-9657-7dfb0629437f.png">

I can achieve making switch longer by changing these internal variable values.
<img width="669" alt="screen shot 2017-04-12 at 9 37 14 am" src="https://cloud.githubusercontent.com/assets/289994/24960378/a0ea7da4-1f63-11e7-982e-62e8

[2017-04-12 13:43] johndpope commented on #735
this seems to get the job done.
[code]

[2017-04-12 13:43] #735 closed

[2017-04-12 17:12] danieldahan commented on #735
Another way you could do this is by using a `Bar` and setting the views to the `rightViews`, or really any side and then placing the `Bar` in the position you would like.

[2017-04-12 17:21] johndpope commented on #735
Hi Daniel, thanks for your hard work. Can I ask - did you ever attempt to do an expand menu from the kebab / overflow / more icon on timeline?

[2017-04-12 17:22] johndpope commented on #735
perhaps - maybe not production worthy - but just a crude gist you could share?

[2017-04-12 17:26] danieldahan commented on #735
@johndpope You mean [Expansion Panels](https://material.io/guidelines/components/expansion-panels.html#expansion-panels-usage) ? If so, this is good, I will probably want to add these soon, they are quite useful. Thanks!

There are a bunch of new features coming. I am working on a way to help make the process of creating new components much easier and faster. Thank you for your support!

[2017-04-12 17:29] johndpope commented on #735
like a popup menu
<img width="194" alt="screen shot 2017-04-12 at 1 29 30 pm" src="https://cloud.githubusercontent.com/assets/289994/24970940/19d2517c-1f84-11e7-9655-4d7322e0d174.png">

[2017-04-12 17:34] danieldahan commented on #735
Yes, I have a prototype for a `popmenu`. I am almost done the latest rebuild of the `PageTabBarController`, now being called `TabMenuController`. Once that is done, the `PopMenu` will probably one of the next on the list to complete, alongside the `BottomSheetController` :)

[2017-04-12 17:38] danieldahan commented on #552
Cool, if you can do exactly that where the issue is reproducible, it would be great. Normally I would do it, but I have a lot to do at the moment. Thank you!

[2017-04-12 18:20] danieldahan commented on #736
Hey :)

Have you thought of running the `action` as an `async` call on the main thread? That might be helpful. Other than that, a delay seems like a reasonable approach based on what you are describing. If you would like, please reopen or create a new issue. I think a better place to have this discussion is on [Material Gitter](https://gitter.im/CosmicMind/Material). There we can chat about differ

[2017-04-12 18:20] #736 closed

[2017-04-13 05:50] markst commented on #552
Not sure if this is something further introduced in xcode 8.3

But it's also happening to `PageTabBarController`:
[code]
Again resolution is to remove the `@objc(PageTabBarController)`.

Afraid I can't provide any more details on reproducing, otherwise I'd fix the problem & PR myself.

[2017-04-13 10:29] GABHISEKBUNTY opened #737 "Material 2.6.2 has Menu library removed in it."
I was using _**Menu**_ library in **Material 2.4.13** for my project. I updated the pod to version 2.6.2 to avail the functionality mentioned in `https://github.com/CosmicMind/Material/issues/608` .

But now, I can't find the **Menu** library anymore. Has this library been removed or altered?

[2017-04-13 16:14] danieldahan commented on #734
Hey! You are doing it the correct way. If you would like them all to be in one view controller, you can take the components from the controllers and put them together yourself within a single view controller. For example `SnackbarController`, you could use the `Snackbar` and construct some of its features yourself that only the controller offers This is beneficial when you have certain reworks to

[2017-04-13 16:14] #734 closed

[2017-04-13 16:19] danieldahan commented on #552
I'll test and make a release for this today :) Thank you! @markst

[2017-04-13 16:20] danieldahan commented on #737
Hey, checkout the [FABMenu Sample Project](https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/FABMenuController). The `Menu` is now called the `FABMenu` and has some upgraded features. All the best!

[2017-04-13 16:20] #737 closed

[2017-04-15 05:19] tharhtet opened #738 "Do NavigationDrawer and PageTabBar Support?"
![image](https://cloud.githubusercontent.com/assets/7901572/25060978/038d6bfa-21d1-11e7-8ab0-ab5894d1f5fb.png) figure 1

I would like to show only 2 tabs such as red and Green.

![image](https://cloud.githubusercontent.com/assets/7901572/25060989/51124954-21d1-11e7-9291-ee0ac607a674.png) figure 2

I would like to add this navigation drawer. If I will add this 2 function, does it work or is any pro

[2017-04-15 15:28] danieldahan commented on #738
I am not sure what you are asking? Are you asking if you can combine them? If so, the answer is yes. Please update your question for more help and feel free to reopen the issue :) Thank you!

[2017-04-15 15:28] #738 closed

[2017-04-16 17:34] tharhtet commented on #738
[Testing.zip](https://github.com/CosmicMind/Material/files/924453/Testing.zip)

I mean this one "https://github.com/CosmicMind/Material/issues/605". and when i add only two tabs, it is not smooth well. Thank.

[2017-04-17 07:09] NikunjKumbhani commented on #552
Please Send me sample project which have integrate the material design source frame work

i getting error Used of unresolved identifier 'objc_getAssociatedObject'

- Xcode 8 and Swift 3

Help me as soon as Possible.

[2017-04-17 16:28] danieldahan commented on #552
@NikunjKumbhani There is an entire repo of samples https://github.com/CosmicMind/Samples :)

[2017-04-17 23:18] mLupine opened #739 "Xamarin bindings"
I was wondering if you could take the time to create Xamarin.iOS bindings for your fantastic library, so developers of Xamarin apps could make use of it.

[2017-04-18 04:30] NikunjKumbhani commented on #552
Thanks A lot @danieldahan

[2017-04-18 04:47] markst commented on #710
![image](https://cloud.githubusercontent.com/assets/274318/25114958/fd8d158a-2445-11e7-913c-747dfb4a36e9.png)

[2017-04-18 04:50] markst opened #740 "TabBar button selected state"
We would like to style our tab bar so that the selected index updates the button title colour:
![image](https://cloud.githubusercontent.com/assets/274318/25115016/5c6d57c2-2446-11e7-90f1-4543910252bd.png)

[2017-04-18 04:51] markst commented on #740
Seems it might be possible if it were possible to subclass `TabBar` and perhaps possible to override
[code]
https://github.com/CosmicMind/Material/issues/710

[2017-04-18 12:45] OrkhanAlikhanov opened #741 "PageTabBarViewController does not take the tabBar height into account."
Please consider shrinking the `rootViewController.view.height`  by `tabBar.height` in the case when the `PageTabBarViewController` is nested in `TabBarViewContoller`.
[PageTabBarController.swift:189](https://github.com/CosmicMind/Material/blob/master/Sources/iOS/PageTabBarController.swift#L189)
[code]

[2017-04-18 12:55] OrkhanAlikhanov opened #742 "PageTabBar will grow/shrink continuously"
If someone sets the `pageTabBar.layoutEdgeInsets.[bottom or top]` to a non-zero value the pageTabBar's height will change on every `layoutSubviews()`

The [layoutSubviews](https://github.com/CosmicMind/Material/blob/master/Sources/iOS/PageTabBarController.swift#L180) method has following:
[code]

where `pageTabBar.intrinsicContentSize.height` just returns the `pageTabBar.height`.

On every call to

[2017-04-18 15:55] wwe-johndpope commented on #740
see the tabBar programmatic code samples.  specifically....

       tabBar.buttons = buttons
        tabBar.select(at: 0)

[2017-04-19 10:43] viral-etymon opened #743 "TabsController not able to change tab with swipe"
The version of Xcode: 8.2.1
The version of iOS: 9+
Material Version: 2.6.3

Recently I am having issue with PageTabBarController. Clicking on tab I am able to change tab. but I am not able to change tabs on swipe.
![tabchanges](https://cloud.githubusercontent.com/assets/23634389/25176196/ff7a3bea-251a-11e7-990b-87f1b774438a.gif)

[2017-04-20 14:23] johndpope commented on #743
hard to say why it's broken without seeing code. you're best off referring to sample code and swapping in your classes.
https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/PageTabBarController

You may also want to checkout XLPagerTabStrip

[2017-04-20 14:25] johndpope commented on #740
https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/TabBar

[2017-04-20 14:38] johndpope opened #744 "TabBar scrolling - enhancement"
I have this use case where I need the items to layout beyond the controls dimensions.
Is it possible with this control?

<img width="407" alt="screen shot 2017-04-20 at 10 36 30 am" src="https://cloud.githubusercontent.com/assets/289994/25236253/67bdc18c-25b5-11e7-9fee-f975cc09e2ea.png">

[2017-04-20 21:32] danieldahan commented on #744
Hey! I am almost done the feature you are looking for. Here is the issue https://github.com/CosmicMind/Material/issues/642 that follows its progress. If you look in development, there is a new controller called `PageMenuController`, and it will provide this feature. I am going to close this issue as you can follow the other. Thank you :)

[2017-04-20 21:32] #744 closed

[2017-04-20 22:05] danieldahan commented on #743
Thank you for sharing. It seems that when two view controllers are set, there is a crash, at least in the sample project. In the next release, there is a new controller, `PageMenuController` coming out to replace the `PageTabBarController`. So the fix will be ready then. Shouldn't be much longer, I am working out the final details. I will leave this issue up until the release. Thank you!

[2017-04-20 22:53] danieldahan commented on #742
The `PageTabBarController` is being replaced by a new component `PageMenuController` that is near completion. So this will be replaced. I am going to leave this up until I release the component, and make sure to make the intention of the code more clear in this area. Thank you!

[2017-04-20 22:58] danieldahan commented on #739
I can take a look and see how much work it would take. I'll post back to this issue in a couple days with my findings.

[2017-04-20 23:00] danieldahan commented on #741
Can you share your code setup, there may be an issue with the extended layout value. If I can replicate the issue, it might be a matter of a configuration to help you out.

[2017-04-20 23:03] danieldahan commented on #738
@tharhtet

Okay, the `PageTabBarController` is being updated with a new component called `PageMenuController`. Once that is released, you can try it out and it should resolve your issue.

[2017-04-20 23:05] danieldahan commented on #710
@markst trying subclassing ```CSTabBar: PageTabBar``` not `TabBar`.

[2017-04-20 23:08] danieldahan commented on #740
@markst  You shouldn't need to override the function you are specifying. Also, there are delegation calls you can tap into:

[code]

Give those a try, plus the other recommendations above and if you still have an issue, please reopen or create a new one. Thank you!

[2017-04-20 23:08] #740 closed

[2017-04-21 03:32] markst commented on #710
Ah whoops. Still seems to be an issue:
![image](https://cloud.githubusercontent.com/assets/274318/25261744/fec9c422-2696-11e7-8a80-3547f56b7b5a.png)

[2017-04-21 03:45] markst commented on #740
Thanks for input guys.
@danieldahan I'm aware this is possible - however the delegates only get called if `isTriggeredByUserInteraction` which isn't ideal as I'll have to ensure I set the selected state of my tab bar button whenever I programatically select the tab bar item at an index.

[2017-04-21 21:55] danieldahan commented on #740
Your delegate is a function call, you could make a reusable function within there that you can trigger?

[2017-04-22 17:43] RogerBCA opened #745 "Hide space toolbar in view"
Hello
There is possibility to hide the section indicated in the image because I want to put this screen to fullscreen

![Captura](https://i.imgur.com/BpWnsuL.png)

`guard let tc = toolbarController else {
            return
        }
        tc.toolbar.isHidden = true
`

[2017-04-22 20:38] danieldahan commented on #745
Yes, set `toolbarDisplay` to `.full` :) All the best!

[2017-04-22 20:38] #745 closed

[2017-04-22 21:51] danieldahan commented on #739
Hey! So I wouldn't have the time to manage this on my own. If you or anyone else would want to help, I would consider it more. I will close the issue for now. Thank you for sharing this wonderful idea. All the best!

[2017-04-22 21:51] #739 closed

[2017-04-22 22:10] danieldahan commented on #710
This might be because it is a let property. Another option is to add an extension to the PageTabBar with your changes. I would need to double check my `This might be because it is a let property`, but you may be able to do that while you work with your code.

[2017-04-23 16:10] danieldahan commented on #741
I haven't heard from you, so if you need help, please reopen this issue. Thank you :)

[2017-04-23 16:10] #741 closed

[2017-04-23 16:13] danieldahan commented on #742
This has now been fixed and will be added to the next release. Thank you!

[2017-04-24 10:22] viral-etymon opened #746 "White space around navigation in landscape"
Xcode: 8.2.1
Material: 2.6.3

![simulator screen shot 24-apr-2017 3](https://cloud.githubusercontent.com/assets/23634389/25332664/ec1a4426-2904-11e7-9626-0442b0e6e996.png)

Steps to generate:
- View1: With navigation bar: Taping on one item from collection view is taking to View2
- View2: Without navigation bar
hiding navigation bar using `self.navigationController?.isNavigationBarHidden = true` b

[2017-04-24 15:56] danieldahan commented on #746
Thank you for sharing this. Can you send me a sample project. Setting everything up, I may do it differently, which may give different results. Thank you!

You can email it to support@cosmicmind.com

[2017-04-25 06:03] viral-etymon commented on #746
I have created demo for your reference and attached screen recoding how it is generated, it might help you to investigate.

![navdemo](https://cloud.githubusercontent.com/assets/23634389/25370790/b3aaed56-29aa-11e7-9fd5-fe42968ecc2e.gif)

[MaterialNavigationIssue.zip](https://github.com/CosmicMind/Material/files/954022/MaterialNavigationIssue.zip)

Let me know anything else needed from my side.

T

[2017-04-25 07:59] PetresS commented on #661
is it possible to change the tintColor with an extension of NavigationItem?

[2017-04-25 13:36] danieldahan commented on #746
Thank you! I will take a look.

[2017-04-25 13:41] danieldahan commented on #661
Hey @PetresS Not at the current moment, because the property is not `open`. I made a switch now, which will make its way to the next release.

@OrkhanAlikhanov I am closing this issue, as I have a feature request to allow for theming, which will handle this. As well, this fell behind my current schedule of features, and I have to re-prioritize it. Sorry for any delays.

[2017-04-25 13:41] #661 closed

[2017-04-25 16:19] danieldahan commented on #746
I ran your sample on my device and had zero issues. I think you need to update to Xcode 8.3.* as I have updated Material to use that version. Try and let me know. Thank you!

[2017-04-27 03:36] markst opened #747 "`PageTabBarController` tab bar not honouring `layoutEdgeInsets`"
I'd like to set insets of my `PageTabBarController` tab bar:
[code]

However this does not appear to affect the tab bars button layouts:
![image](https://cloud.githubusercontent.com/assets/274318/25466815/34796224-2b4e-11e7-8c37-9805e7161e96.png)

[2017-04-27 03:47] markst commented on #747
oh it seems `contentEdgeInsets` is the correct property to use:
[code]

[2017-04-27 15:46] PrabhuBhosale25 commented on #575
what is expected release for this feature?

[2017-04-27 16:29] danieldahan commented on #746
@viral-etymon great, let me know. If you have any further issues with this, please reopen the issue. Thank you!

[2017-04-27 16:29] #746 closed

[2017-04-27 16:31] danieldahan commented on #747
@markst yes that is correct, contentEdgeInsets is the general property for all components to adjust the padding. LayoutInsets is to adjust he entire component in its parent view bounds. If you need any further help, please let me know. I am closing this issue for now. Thank you!

[2017-04-27 16:31] #747 closed

[2017-04-28 16:22] robforsythe opened #748 "Hiding Toolbar/NavigationBar on scroll inside PageTabBar"
My app is laid out as follows: A Toolbar is the top-level controller, it contains a PageTabBar, and each Tab contains a ScrollView. I'd like to be able to scroll vertically and have the Toolbar (or NavigationBar) collapse - is there any way to hide the Toolbar/NavigationBar when a ScrollView scrolls inside a PageTabBar? I've looked through the API and tried some solutions, but nothing's worked. Pe

[2017-04-28 18:48] danieldahan commented on #748
Hey, thank you! There is not a direct way to do this in Material at the moment. That said, give me a couple days and let me see what I can think of. I am in the middle of adding updates to the Motion (animation) portion of Material, so maybe I can do something here with scroll techniques. I know there has been a feature request for it. Check in soon if you don't hear from me by Wednesday of next w

[2017-05-01 23:31] chrisdhaan opened #749 "NavigationDrawerController with NavigationController causes NavigationBar to flicker on transition"
Xcode version: 8.3.2
iOS version: 10.2

I'm currently attempting to make use of a `NavigationDrawerController` that contains both a `rootViewController of type NavigationController` and a `leftViewController of type UIViewController`. I have a UITableViewCell in the `leftViewController` that when clicked should transition the `NavigationDrawerController` to a new `NavigationController` as its root

[2017-05-01 23:37] chrisdhaan commented on #749
Here is a YouTube video displaying the Issue above.

https://youtu.be/c48X4gB-vwA

[2017-05-02 07:06] drinkius commented on #619
Still facing the same issue, will try to look into it as well when I have some spare time

[2017-05-02 08:25] viral-etymon commented on #746
I have tested it in new version of xcode. Still there is same problem:

[2017-05-02 08:30] viral-etymon commented on #746
One thing i have notice to regenerate issue
1) Run app
2) Go to second view
3) Rotate left
4) Go back (sometime issue generate here) if not generate then follow below steps
5) Back to portrait view
6) Repeat 2nd step
7) Rotate right
8) Go back (here I am always getting issue)

Hope it appears at your side as well.

[2017-05-02 14:30] PetresS commented on #743
At my project i have the same issue after i set following property to false: `pageTabBarController?.isBounceEnabled = false`

if I set it back to true, the swipe works, too.
Hope that this information helps.

[2017-05-02 18:11] danieldahan commented on #746
@viral-etymon Can you send me a sample app and then I will follow your steps, as well, please update to the latest. Thank you!

[2017-05-02 18:12] danieldahan commented on #743
@PetresS Yes, this issue is fixed in development with the latest `TabsController`. Mind you, the component is not complete. It will be done shortly.

[2017-05-02 18:14] danieldahan commented on #619
@drinkius No need to look into it. It is an issue that will be solved in a replacement component coming out, `TabsController`. Solving it in the current component will be replaced anyways.

Thank you though :)

[2017-05-02 18:17] danieldahan commented on #749
@chrisdhaan No worries, I am here to help. The video is unavailable. It might be because of where I am in the world, not sure. As for the flicker, have you set the `UINavigationBar` to `NavigationBar`? As well, if you can share a sample project, I should be able to help you.

All the best!

[2017-05-02 20:29] chrisdhaan commented on #749
@danieldahan here is a link to example Github project `https://github.com/chrisdhaan/material-demo-app`. If you switch between the two `Drawer` options in the menu you will see the flicker. It doesn't occur every time but it does seem to occur 50% of the time.

[2017-05-02 20:31] danieldahan commented on #749
@chrisdhaan Thank you! What version of Material are you using and what device / simulator are testing on?

[2017-05-02 20:35] chrisdhaan commented on #749
I am using version `2.6.3` of Material and have experienced the flicker on the iPhone 6, iPhone 6s, iPhone 7, iPhone 7 Plus, and iPhone SE.

[2017-05-03 09:50] lance2611 opened #750 "Other TabBar Items not showing immediately"
![tabbar](https://cloud.githubusercontent.com/assets/10286806/25655816/e2467106-3028-11e7-89de-3707eaa8f546.gif)

Can someone help me with this? Thanks!

[2017-05-03 10:00] #750 closed

[2017-05-03 11:35] viral-etymon commented on #746
Material: 2.6.3
Xcode: 8.3.2

You can use above app sample to regenerate issue. Below is the link

[https://github.com/CosmicMind/Material/files/954022/MaterialNavigationIssue.zip](url)

[2017-05-03 12:31] danieldahan commented on #746
@viral-etymon I am able to see the issue, I believe I may know what it is, will see if I can spot the issue or make a fix. Thank you!

[2017-05-03 12:51] danieldahan commented on #746
@viral-etymon Sorry, my mistake, I mixed up issues. I will verify this. Thank you!

[2017-05-03 12:51] danieldahan commented on #749
@chrisdhaan I am able to see the issue, I believe I may know what it is, will see if I can spot the issue or make a fix. Thank you!

[2017-05-03 12:52] danieldahan commented on #746
@viral-etymon The link to your sample does not work.

[2017-05-03 13:06] danieldahan commented on #749
@chrisdhaan are the devices you are testing on happening only on the simulator? I tried your sample on my iPhone 6s and the issue is not there.

[2017-05-03 16:17] robforsythe commented on #748
Thanks for taking the time to respond! Have you had any time to look into this yet?

[2017-05-03 16:22] danieldahan commented on #748
@robforsythe Thank you for following up. I am still looking into it. Had a few other items pop up before I could dive fully into this. That said, have you taken a look at this: https://www.natashatherobot.com/navigation-bar-interactions-ios8/ ?

[2017-05-03 16:44] danieldahan commented on #750
I am guessing this was closed because you solved the problem?

[2017-05-03 16:45] danieldahan commented on #661
Hey @OrkhanAlikhanov You can do this to set the global configuration of the backButton:

[code]

[2017-05-03 16:49] OrkhanAlikhanov commented on #661
@danieldahan I do that of course, my request was about the `UINavigationItem.backButton.tintColor` globally...

[2017-05-03 16:50] danieldahan commented on #661
Ah sorry, I was read this incorrectly, well then that will need to be handled through theming. Thank you for the clarification :)

[2017-05-03 17:36] chrisdhaan commented on #749
@danieldahan I apologize. I could of sworn I tested it on a device and experienced the same flicker but testing on my iPhone 7 right now I am not seeing the bug. Again I am sorry for any large amount of time looking into this may have caused you.

I wonder if perhaps there's a way to document that it's a known simulator experience in case other users of your framework run into the same experience?

[2017-05-03 18:47] danieldahan commented on #749
@chrisdhaan No worries :) I am happy you pointed it out. Currently I am making some really nice updates to Material and when I get to the NavigationController, I will be testing on simulators as well. Generally, I found that the simulators are not reliable at all, especially for animation work. All the best and never hesitate to reach out, I am here to help. All the best!

[2017-05-03 18:47] #749 closed

[2017-05-03 21:39] danieldahan commented on #748
@robforsythe So at this point, the only options would be to use the native iOS scroll techniques. There is a noted feature request to make this more simple. I am going to close the issue for now, and hopefully you can help provide some insight after you tryout the iOS 8+ updates from Apple. Soon enough I will be working on this myself as well :) Always feel free to create any issue and reach out w

[2017-05-03 21:39] #748 closed

[2017-05-04 09:46] viral-etymon commented on #746
[MaterialNavigationIssue.zip](https://github.com/CosmicMind/Material/files/975712/MaterialNavigationIssue.zip)

[2017-05-04 14:18] GABHISEKBUNTY opened #751 "Disable page tab bar animation."
Is there a way in which we can disable the animation for changing of view controllers when user selects any tab.

[2017-05-04 14:18] danieldahan commented on #746
@viral-etymon I am testing the issue on an iPhone 6+ and I am not seeing anything wrong with the NavigationBar.

[2017-05-04 14:23] danieldahan commented on #751
Can you give more details? Which tab bar style are you using? BottomNavigationController, PageTabBarController, an independent TabBar?

[2017-05-04 14:48] MatanGold opened #752 "FABMenu delegation not called on fabMenu.close() - Why?"
I saw there is a special `if` in FABMenu class for this case, why?
There are general things I would like to do in both cases (`isTriggeredByUserInteraction` true AND false)

[2017-05-04 14:50] danieldahan commented on #752
According to Apple, controls should only call their delegation methods when triggered by a user interaction. If you need the delegation call to be called somewhere in your programmatic steps, then place the delegation call in a handler function and call that where and when needed. Hope that helps and please reopen the issue if you need :)

[2017-05-04 14:50] #752 closed

[2017-05-05 05:50] viral-etymon commented on #746
Ohh Its my bad luck. I am testing with simulator iPhone 6s and real device iPhone5 and in both I am getting that white space around navigation bar. Again I am attaching gif of my screen recording hope this time you will get idea.

![navigationissue](https://cloud.githubusercontent.com/assets/23634389/25734802/37ab93ae-3184-11e7-87cf-289b36148f1e.gif)

You can use above attached sample demo, nothin

[2017-05-05 06:41] GABHISEKBUNTY commented on #751
I am using PageTabBarController and have added viewControllers to it, with tabBar provided by the PageTabBarController. Now the animation is by default set to yes. So, when I switch in between the tabs the view controller changes with animation.

[2017-05-05 15:55] danieldahan commented on #746
I still cannot reproduce this issue. Can you try and not use Storyboards as a test?

[2017-05-05 16:41] danieldahan commented on #751
I can't seem to find one. That said, there is a BottomNavigationController that you may be able to utilize. There is a new component coming out called the TabsController which will allow you to do what you are looking for. The current PageTabBarController is using a UIPageViewController, which is accessible through the `PageTabBarController.pageViewController` property. You may be able to find a s

[2017-05-05 16:41] #751 closed

[2017-05-05 21:16] melcug opened #753 "NavigationDrawerController toggle programmatically"
How I use toggleLeftView func to show/hide notification drawer.

Can be specified a top constraint for notification drawer?

Regards.

[2017-05-05 22:29] danieldahan commented on #753
Hey,

In any view controller once it appears, after `viewDidAppear` is called, you can use the `navigationDrawerController` optional property, so long as the view controller is a child view in the view hierarchy. Once calling it, you can then call the `toggleLeftView` function. For example:

[code]

Take a look at the [NavigationDrawerController Sample Project](https://github.com/CosmicMind/Sample

[2017-05-05 22:29] #753 closed

[2017-05-06 11:59] IceFloe commented on #638
Hi, I am just wondering will we have multiline TextField like Google have here https://material.io/guidelines/components/text-fields.html#text-fields-field-types. Are you still planning to do it?

[2017-05-06 17:41] danieldahan commented on #638
@IceFloe Hey, So the only way to support multi-line text is with a TextView and that has been released :) Let me know if you need any further help. All the best!

[2017-05-06 17:41] #638 closed

[2017-05-06 17:42] danieldahan commented on #614
Hey, I am not going to get a chance to do this for a while. So I have put it as a note. To clean up the project board, I am closing this issue. Thank you!

[2017-05-06 17:42] #614 closed

[2017-05-07 01:44] IceFloe commented on #638
@danieldahan Yes, but the TextView is not the multiline TextFiled ) It does not have all needed properties, thx for answer )

[2017-05-08 08:14] viral-etymon commented on #746
Ohk, I will try but will take some time as I have some  on hand task to deliver. Thanks

[2017-05-08 18:58] danieldahan commented on #638
Well a PR is always nice :)

[2017-05-10 11:13] quanguyen opened #754 "how to change the tint color of title bar button"
[code]

Note that `MyVC` is pushed from another `ViewController`.

In `MyVC`, I want my trash can icon to be at the upper right corner of the screen, which is `navigationItem.rightViews = [deleteButton]`, and to have red base color `deleteButton.tintColor = Color.red.base`.

But it does not work in the code above, the trash can is still black, which is its default color. How can I change its tint

[2017-05-10 16:26] danieldahan commented on #754
Try using the ```public convenience init(image: UIImage?, tintColor: UIColor = Color.blue.base)``` initializer. For the image, if the image is exactly 24 x 24 than it will appear bigger, because all the icons in Material have space included in their image, based on the Material Design Icons from Google. Let me know how it works out and if you need any further help, reopen the issue. Thank you!

[2017-05-10 16:26] #754 closed

[2017-05-11 06:55] sverin opened #755 "Color extractor for images?"
Is there a plan to implement a color extractor for images? This would be a great new feature.

[2017-05-11 10:34] quanguyen commented on #754
I just tried to use `Icon.cm.add` instead of `UIImage(named: "Trash")` and it works! i.e. The icon is tinted red as I wish.

So, there must be something wrong with my Trash icon, which I export from Sketch.
I tried to export some other icons (not this Trash icon) but things are still the same: I cannot tint it.

Do you have any advice?

[2017-05-11 11:04] quanguyen commented on #754
OK, I filled it with red before exporting in Sketch -> no need for `tintColor = ...`

[2017-05-11 13:25] danieldahan commented on #754
Use this :

deleteButton = IconButton(image: UIImage(named: "Trash")!.withRenderingMode(.alwaysOriginal))

:)

[2017-05-11 15:19] danieldahan commented on #755
At the current moment I have no plan for that. If you want to kick it off and then work with me on it, I'd be happy to do that. Reopen the issue if you would like to work on it with me and have something to get it going :) Thank you!

[2017-05-11 15:19] #755 closed

[2017-05-12 03:22] bayarmanlai opened #756 "Help: Launch CaptureController with front camera"
Thanks for amazing library,

I want to launch CaptureController with front camera.
I did it that way within prepare method
[code]
but camera loads too slow.

Do you have any solution?

[2017-05-12 12:04] melcug opened #757 "Custom cell outlets are nil in UITableViewcontroller using PageTabBarController"
Custom cell in UITableViewController is working well in my test1 project (https://drive.google.com/open?id=0B12slIEw9f2Kb2hKdGNwNHhadm8).

I managed to integrate PageTabBarController capability changing AppDelegate : application: didFinishLaunchingWithOptions func.

If I comment marked code (from begin to end) the application is running well as single view:
    func application(_ application: UIAp

[2017-05-12 17:49] ZahraShams opened #758 "Hiding Search bar controller or toolbar controller"
I used search bar and tool bar controller in my view controllers which include tableview controllers as well,
how can i hide search bar controller or toolbar controller when user scrolls down , just like inbox app in IOS
i also need this config for tab bar controller

[2017-05-12 22:50] sverin opened #759 "Update depth preset to match updated elevation guidelines"
Update the preset of depths (shadow) to match the new guidelines of ten levels of elevation:

1dp, 2dp, 3dp, 4dp, 6dp, 8dp, 9dp, 12dp, 16dp, 24dp

https://material.io/guidelines/material-design/elevation-shadows
https://material.io/guidelines/resources/shadows.html

[2017-05-13 07:28] kandarpesw opened #760 "NavigationDrawerController's status bar"
When we are setting delegate to navigationDrawer controller then panning from left/right.
When we remove touch from screen then black height of status bar appeared.

[2017-05-15 16:13] ayoze opened #761 "Color, Icon and other stuff from Objective-C"
Hello,
I am trying to import this amazing library from Objective. I can compile it but some methods are not visible, for example Icon static methods or Color palettes. The visible interface for Color is:

[code]

Is there any way to fix this? I can make static classes in objective C but i'd absolutely prefer to use the original code...

Thanks in advance!

[2017-05-16 16:02] danieldahan commented on #761
Hey, not sure exactly what is going on here. Can you send a sample project to support@cosmicmind.com or paste it to this isssue?

Thank you :)

[2017-05-16 16:04] danieldahan commented on #760
You will need to send me a sample or visual with Material version number and device you are testing on. When you got that ready, please reopen the issue.

Thank you :)

[2017-05-16 16:04] #760 closed

[2017-05-16 16:05] danieldahan commented on #759
Thank you, I will add this as a feature request and will post it in the next release.

[2017-05-16 16:06] danieldahan commented on #758
The feature to make this happen has not been made yet. It will shortly, it is called scroll techniques. I have it noted to make this feature. Thank you!

[2017-05-16 16:06] #758 closed

[2017-05-16 16:23] danieldahan commented on #757
Somewhere in your project you are referencing a cell identifier that is either not set correctly, or not registered in the correct sequence. Please provide a sample project, or some code I can reference. Once you do that, please reopen the issue :) Thank you!

[2017-05-16 16:34] danieldahan commented on #756
Thank you :) Can you explain more about when you are launching the camera? Possibly provide a sample project, version of Material you are using, and the device you are testing on?

[2017-05-17 07:52] bayarmanlai commented on #756
Thanks for your response,
Material - 2.6.3
Device - iPhone 5s, iPhone7

I think below codes enough to explain my problem, If it is not I will provide sample project.

CameraViewController
[code]
In AppCaptureController (extends from CaptureController)
[code]
Show CameraViewController
`AppCaptureController(rootViewController: CameraViewController())`

[2017-05-17 14:32] danieldahan commented on #756
I have been looking into it, and it looks like the camera starts out at the back because on iPhones it wasn't always guaranteed that the device would have a camera in the front. Why not start the camera in the background when the app opens? Only on the initial launch of your app would it be the slowest as you will need permission from the user to use the camera. One of my next areas of focus is to

[2017-05-17 14:32] #756 closed

[2017-05-17 14:33] danieldahan commented on #761
Please reopen this issue once you have more for me to work with. Thank you and all the best!

[2017-05-17 14:33] #761 closed

[2017-05-17 17:56] melcug commented on #757
In the beginning of first message (on top in current issue) you can see a link to a project where I faced this issue.

[2017-05-17 19:50] danieldahan commented on #757
Sorry, I missed that:

You need to register your identifier when using UITableView cells.

[code]
and in your code here:

[code]

You are using identifiers "cell1", "cell2", "cell3" when they are not registered. Also, in your storyboard project, you need to set the UITableView to `TableView`.

Hope that helps :)

[2017-05-18 09:56] melcug commented on #757
I used the same register command for cell1, cell2 and cell3 and in tableView func with cellForRowAt i get cell instance using dequeueReusableCell, but lblText1 and lblText2 outlets are nil. All happen when I use your TabViewcontroller. If i use just MyTableViewController as initial view contrller, I don't need to register cell1, cell2 or cell3 because is done in Main storyboard and lblText1 and lb

[2017-05-18 10:45] melcug commented on #757
I don't understand "_in your storyboard project, you need to set the UITableView to TableView_", how to do that.

[2017-05-18 17:19] danieldahan commented on #757
Registering your cell classes is where the issue is arising. As for the Storyboard, in your `Main` storyboard, where you set the UITableView, git it a custom class name TableView.

[2017-05-19 08:07] melcug commented on #757
I get an error if I comment register command:
![without register](https://cloud.githubusercontent.com/assets/8708178/26237687/e2fae1ba-3c7e-11e7-82f1-05b5da4e4a4f.png)

Register command **overwrites the storyboard and all the outlink associated with it** and in this context I get following error:
![with register](https://cloud.githubusercontent.com/assets/8708178/26237699/ecfca3b0-3c7e-11e7-9952-c

[2017-05-19 14:55] danieldahan commented on #757
I don't use storyboards at all, so the advice I will give you will surround programmatic solutions. I will take a look at your other same later today.

[2017-05-22 17:17] danieldahan commented on #642
@brucehappy The scrollable TabBar is almost done.

[2017-05-22 17:21] brucehappy commented on #642
That's great, @danieldahan Looking forward to checking it out.  I've been using https://github.com/xmartlabs/XLPagerTabStrip .  Will your version implement what they call the "Button Bar" approach?

[2017-05-22 17:48] danieldahan commented on #642
Not sure what the `Button Bar` approach is. Any links you want to share on that?

[2017-05-22 17:50] brucehappy commented on #642
You can see it on the project page I linked to in the Readme section.

[2017-05-22 17:51] danieldahan commented on #642
Then the answer is yes :)

[2017-05-24 07:28] Ccmi opened #763 "无法获取边缘拖动手势"
NavigationDrawerController

[2017-05-24 07:33] #763 closed

[2017-05-25 03:21] markst opened #764 "TabBar isTriggeredByUserInteraction wrong value"
Tab bar `isTriggeredByUserInteraction` is incorrectly false when the user taps a tab bar item:

https://github.com/CosmicMind/Material/blob/master/Sources/iOS/PageTabBarController.swift#L278

Calls on:
https://github.com/CosmicMind/Material/blob/master/Sources/iOS/TabBar.swift#L265

[2017-05-25 12:14] Ccmi opened #765 "NavigationController backImage Color"
can't change

[2017-05-25 12:17] #765 closed

[2017-05-25 18:42] danieldahan commented on #764
I don't see anything wrong with it. The user has not triggered the event. Maybe you can describe a scenario to better demonstrate how it is behaving incorrectly. Please reopen the issue when you do :) Thank you!

[2017-05-25 18:42] #764 closed

[2017-05-31 05:10] jojonarte opened #766 "Capture API: sometimes when tapping returns an image darker than it usually is."
Using the Capture API of this library, I could sometimes trigger this issue, when the user taps on a random part of the capture preview screen. The view would go darker than expected.

[2017-05-31 05:26] emadd opened #767 "Translucent NavigationBar"
Just started using this impressive framework.  Is it not possible to set the NavigationBar as translucent?  I was just messing around with the sample project (NavigationController via Storyboard) and it appears that setting isTranslucent = true and barTintColor to black causes the bar to go completely transparent.

[2017-05-31 09:23] okankocyigit opened #768 "PageTabBarController's indicator line bounce problem"
https://drive.google.com/file/d/0B5L3zd-GHgiFYl95OVFWcXlydkE/view

When I just make three tabs it works as expected without bouncing.

[2017-05-31 09:41] okankocyigit commented on #768
I couldn't get the point of this [line](https://github.com/CosmicMind/Material/blob/82f8768481ccea0908bca51bf49e1d111b3038ee/Sources/iOS/PageTabBarController.swift#L380),

[code]

there might be a bug, I've also tried it on Material Samples, when I increase tab count more then three it starts animating indicator wrongly.

[2017-05-31 17:11] danieldahan commented on #768
Thank you. I will give this a look :)

[2017-06-01 06:01] Akshayp101192 commented on #642
If I add 10 tabs to base controller , How Can I make page tab controller swipable ?
How Can I change Line width of tab ?

[2017-06-01 16:09] danieldahan commented on #642
@Akshayp101192 The width of the line will be automatic, and the swipe feature is automatic too. Are you having trouble at the moment with the PageTabBarController to achieve this?

[2017-06-01 16:22] danieldahan commented on #766
I believe it is because this is enabled: `isTapToExposeEnabled`. Try setting that to false. If the issue persists, please reopen the issue :) Thank you!

[2017-06-01 16:24] danieldahan commented on #767
Thank you :) I will take a look.

[2017-06-02 04:41] Akshayp101192 commented on #642
@danieldahan  yes with  PageTabBarController I am having trouble . If I add 6 tabs and their tab titles are of greater length .tab width is fixed and upper tabs does not scroll . is there any property of PageTabBarController ? I need to get this done because I will have to make lot of changes in project if it does not work .. Please help me out !

[2017-06-02 06:00] jojonarte opened #770 "CaptureAPI: tap to focus sometimes results in blurry focused image"
Easily replicated. Sometimes the focus would do it's job properly but half of the time it would result in blurry image.

[2017-06-02 08:10] jojonarte commented on #766
@danieldahan  I actually tried disabling that, but this occurs when trying to do the func capture.expose(point)
when I as a user would tap on something in the dark, it would go even darker.

[2017-06-02 08:10] jojonarte commented on #766
I can't reopen btw.

[2017-06-02 16:58] #770 closed

[2017-06-02 16:58] danieldahan commented on #770
Should this be opened or closed?

[2017-06-02 16:59] danieldahan commented on #642
I am working on that feature. It is in the development branch and almost ready to go. I have been making some really key updates, and unfortunately they are all necessary to release at once. I mentioned in another issue that I plan to have this done within a week. Hopefully that works for you :)

[2017-06-04 00:13] danieldahan commented on #766
Let me investigate this. I can do the investigation once I am done the latest animation and text view changes. So I will queue this up.

[2017-06-04 00:14] danieldahan commented on #757
Hey, sorry, this slipped my mind and I didn't get a chance to look at it. Are you still facing an issue?

[2017-06-04 14:26] stachon commented on #710
I have the same issue. The graphical design forces me to make some visual changes to the tab bar - one of them is to have fixed width for the indicator line. I managed to do it this way:
[code]

Xcode warns `cannot override a non-dynamic class declaration from an extension` but it works in runtime. However, this breaks the selection animation and I cannot fix those, since the `animate` function is

[2017-06-04 14:33] danieldahan commented on #710
@stachon Please share the design you are trying to accomplish. Thank you!

[2017-06-04 14:39] stachon commented on #710
@danieldahan
<img width="366" alt="snimek obrazovky 2017-06-04 v 16 35 00" src="https://cloud.githubusercontent.com/assets/1611070/26762541/54ac8af8-4944-11e7-9f43-626db6a9b6f3.png">

[2017-06-04 14:40] stachon commented on #710
I came up with a trick to keep the animation:
[code]

[2017-06-04 14:41] danieldahan commented on #710
You could add a handler to the button, and there are delegates you can tap into.

[code]

Have you looked into those?

[2017-06-04 14:57] danieldahan commented on #710
@stachon btw... there is a newly created TabsController that will replace all this with added and missing features. So hopefully that will help solve your issue.

[2017-06-04 16:18] stachon commented on #710
@danieldahan unfortunately `TabBarDelegate` methods are not triggered  for `pageTabBar` of `PageTabBarController`. However I can use `PageTabBarControllerDelegate`. Thank you, looking forward to next release!

[2017-06-04 16:19] danieldahan commented on #710
@stachon sorry, I meant the `PageTabBarControllerDelegate`. Thanks, I think it will be a good one :)

[2017-06-05 23:52] jojonarte commented on #766
ok cool :)

[2017-06-05 23:52] jojonarte commented on #770
Closed, this happens because I called focus() twice.

[2017-06-06 08:58] jojonarte opened #772 "Capture API works bad in dark corners, especially in night time."
I've tried this one which works pretty well with improved lighting in the dark, it is pretty much useful for devices that don't have flash such as iPads.

https://github.com/ooper-shlab/AVCamManual-Swift

I can't seem to get where the lighting optimization happens in the code. I would've help if I have figured out.

The preview really would look a lot darker using the Capture API of material.

[2017-06-06 10:31] jojonarte commented on #772
I will supply some sample images below:

Using AVCamManualDemo(Apple demo):
![avcammanual](https://cloud.githubusercontent.com/assets/11880365/26825066/366da6aa-4ae6-11e7-9355-0eefd2dbc2d4.jpg)

Using Material Capture API (Demo):
![capturematerial_api](https://cloud.githubusercontent.com/assets/11880365/26825082/4565dfba-4ae6-11e7-82b0-a5019d034de8.jpg)

[2017-06-06 10:54] Rdxer opened #773 "Help ~ 😂🙏 ~ Swift 4 Support"
pod 'Material'
xcode 9(Version 9.0 beta (9M136h))

[code]

[2017-06-06 11:20] jojonarte commented on #772
After a few hours of struggling to find an answer, I was finally able to figure out how to get the same result as above , by setting the preset of capturecontroller's capture into .presetPhoto.

One question left is it takes too long like around 2 -4 seconds to load the capture controller now than before.

I've set the preset like this.
`override func viewWillAppear(_ animated: Bool) {
        sup

[2017-06-06 18:30] danieldahan commented on #773
I am currently working on Material 3. I will have Swift 4.0 in there. It will take a few days to get it going, so until then I will keep this up :)

[2017-06-06 18:38] danieldahan commented on #772
@jojonarte Thank you for sharing this. I plan to rewrite the Capture component. It is still using the initial write, and a lot has been learned since then, but has not been updated yet. If you continue to find issues, please send them my way :)

[2017-06-07 01:30] Rdxer commented on #773
Thank you very much!

[2017-06-07 10:59] Recouse commented on #700
I'm doing it as in the example. But naigationbar not work.

[2017-06-07 12:05] LukA888 opened #774 "Orientation issue in NavigationDrawer"
Hi!
My app supports both orientations and I have an UITableView built in _rightViewController_.

My problem is:
- When I change the orientation for example from portrait to landscape, I can't scroll to the bottom of the table.
- If I do landscape -> portrait (starting the app in landscape mode), the _rightviewcontroller_ height ends at half of the screen.

I need a way to set the correct height ag

[2017-06-07 12:50] Recouse opened #775 "NavigationController doesn't work"
I'm doing it as in the example https://github.com/CosmicMind/Samples/tree/master/Projects/Storyboards/NavigationController.
But navigationbar not work. It only shows navigationbar, and nothing changes.

[2017-06-07 17:28] Recouse commented on #754
Can't change tintColor too. It doesn't work for me:
`saveButton = IconButton(image: UIImage(named: "ic_save")!.withRenderingMode(.alwaysOriginal))`

[2017-06-07 17:30] danieldahan commented on #754
Can you shore the code where you are trying to change this? As well, what version of Material and device are you using?

[2017-06-07 19:55] Recouse commented on #754
This code from viewcontroller's `viewDidLoad` method:
[code]
Material 2.6.3, iphone 7, ios 10.3 simulator.

[2017-06-07 20:27] danieldahan commented on #754
@Recouse I don't see the tinting code. Can you share that as well?

[2017-06-07 20:31] danieldahan commented on #700
@Recouse What do you mean by it doesn't work?

[2017-06-07 20:32] danieldahan commented on #775
Can you elaborate? By doing it as in the example, does the example work? If so, what are the differences?

[2017-06-07 20:33] danieldahan commented on #774
Hi @LukA888 Would it be possible to send me a slimmed down sample project with the issues? Thank you! :)

[2017-06-08 00:24] Recouse commented on #754
I want to use tintColor default value. But color of my icons doesn't change.

[2017-06-08 00:26] Recouse commented on #775
It only shows default NavigationBar:
<img width="375" alt="screen shot 2017-06-08 at 05 24 58" src="https://user-images.githubusercontent.com/7093328/26907165-e9f2762c-4c0a-11e7-92d3-952eff29bb3c.png">

[2017-06-08 01:30] danieldahan commented on #775
Have you set in Storyboards the class `NavigationBar` ?

[2017-06-08 01:31] Recouse commented on #775
Yes, of course.

[2017-06-08 01:32] danieldahan commented on #775
<img width="1440" alt="screen shot 2017-06-07 at 7 31 24 pm" src="https://user-images.githubusercontent.com/9982123/26908446-f6623f08-4bb7-11e7-9ec0-be4a874f651d.png">

[2017-06-08 01:32] danieldahan commented on #775
And you have done the same for the `NavigationController` ?

[2017-06-08 01:32] danieldahan commented on #775
May you show me the code you are using to set the items?

[2017-06-08 01:34] danieldahan commented on #754
@Recouse  It seems like you are facing two issues, this and https://github.com/CosmicMind/Material/issues/775#issuecomment-306963495. May you send a sample with both your issues and I can look into them? Thank you! Send it to support@cosmicmind.com

[2017-06-08 01:37] Recouse commented on #775
Oh, I mixed up NavigationController with NavigationBar.
All works after adding `NavigationBar` class.

[2017-06-08 01:38] danieldahan commented on #775
Nice :) Let's close this up.

[2017-06-08 01:38] #775 closed

[2017-06-08 03:06] jojonarte opened #776 "MOV File from AVCaptureFileOutput gets deleted or missing when running the app again"
So I am currently using the Capture API of this library to take videos now and record them. I am able to get the video from the outputfileURL by setting it into an AVPlayer on a new view controller.

Everything seems to be working fine, I could load the video to the AVPlayer by doing anything aside from running the app again through Xcode's run button.

If I just go on testing/using the app to rec

[2017-06-08 07:00] GABHISEKBUNTY opened #777 "Uneven spacing between page bar tabs."
<img width="314" alt="screen shot 2017-06-08 at 3 01 45 pm" src="https://user-images.githubusercontent.com/15869731/26915803-d004650a-4c27-11e7-96b9-99e9c433b998.png">

In the above screenshot, there is uneven spacing between the tabs. Is there a way in which we can customise the tab spacing to be even ?

Class used: `TabBar`

[code]

[2017-06-08 07:48] jojonarte commented on #772
ok I will :)

[2017-06-08 09:05] melcug commented on #757
I still have this issue.
In my previous message i posted a link to a sample project (test2), hopefully that you could solve the problem.
The problem only occurs when I use PageTabBarController and this force me to use tableView.register func that probably overwrite storyboard settings.

I am waiting a new version of Material to test again if it's working or not.

[2017-06-08 09:16] Recouse commented on #754
@danieldahan I sent you an email to support@cosmicmind.com

[2017-06-08 09:16] LukA888 commented on #774
Hello @danieldahan!  I created a little project for you and I discovered that the problem occurs only if the _rightViewController_ has embedded a UINavigationViewController. Try it for example in a iPhone 7 :)

Here's the project:

[NavigationDrawer.zip](https://github.com/CosmicMind/Material/files/1060499/NavigationDrawer.zip)

[2017-06-08 09:58] jojonarte commented on #776
Update:
The files aren't really missing as I could list them up using a function listing all .mov files in documents.
The issue was upon rerunning the app through xcode run my AVPlayer would show slashed play button.

[2017-06-08 14:33] danieldahan commented on #777
It is not actually uneven, it is that the word sizes are different. The buttons themselves are even. In scrollable version of the TabBar, this has been solved. It is within the development branch, so for this version there is not much I can offer, without rewriting some code within Material. If you cannot find another alternative before I release the next Material version with this update, please

[2017-06-08 14:33] #777 closed

[2017-06-08 14:36] danieldahan commented on #754
@Recouse thank you, I will take a look.

[2017-06-08 15:52] danieldahan commented on #774
@LukA888 The NavigationController is a tricky view controller in embedded child view controller. Have you tried the ToolbarController?

[2017-06-08 15:55] danieldahan commented on #754
@Recouse I am not sure I got the email, can you try and send it again? Please and thank you!

[2017-06-09 00:07] Recouse commented on #754
@danieldahan Done.

[2017-06-10 14:48] danieldahan commented on #776
This is a player issue. The files you record should be moved to a safe location once you receive them. They are more or less temporary when provided by Material. Try moving them to a folder in the shared application space, or documents directory, and if the issue still persists, reopen this issue. I am  almost ready to get back to the Capture component for a rewrite, and I will be more helpful the

[2017-06-10 14:48] #776 closed

[2017-06-10 14:49] danieldahan commented on #774
I haven't heard back from you. When you are ready to continue the discussion, please reopen the issue. Thank you :)

[2017-06-10 14:49] #774 closed

[2017-06-10 14:50] danieldahan commented on #772
I am going to close this issue, as you found a solution for the problem, and I have made the update in the development branch, which will be ready for release shortly. Thank you! :) Your help is very much appreciated.

[2017-06-10 14:50] #772 closed

[2017-06-10 19:49] juvs opened #778 "Issues combining NavigationController + NavigationDrawerController"
I did a small project base on your NavigationController sample and I found the following:

1. When displaying the left viewcontroller from the AppNavigationDrawerController using toggleLeftView(), show it below the NavigationBar.

![screen shot 2017-06-10 at 2 23 10 pm](https://user-images.githubusercontent.com/204912/27005670-9c45258e-4de8-11e7-92f9-ac6f9a9ed812.png)

Is this the normal behaviour

[2017-06-10 23:18] danieldahan commented on #778
Hey :)

You need to flip the order of the view controller hierarchy.

[code]

Thank should fix it.

[2017-06-10 23:55] juvs commented on #778
Excellent! Works ok, did you check point 2, maybe I should open a separate issue?

[2017-06-10 23:56] danieldahan commented on #778
No I didn't see that. Can you send me the sample you are working from?

[2017-06-10 23:56] juvs commented on #778
Already attach a sample and a url video

[2017-06-10 23:57] danieldahan commented on #778
Ah, then yes I tried it, but didn't see the issue. Let me see, btw, I am guessing you recorded the bug on the simulator, if so, which one, and have you tried a device?

[2017-06-11 00:00] danieldahan commented on #757
I am reopening this issue for you.

[2017-06-11 00:11] juvs commented on #778
Correct! I record from emulator (iPhone 6 - iOS 10.3), I try on a real phone and works like a charm, but you never know... at least there's evidence and maybe is not a real "user" scenario. Anyway thanks for your "pronto" feedback...

:thumbsup: :thumbsup: for this great framework!!!

[2017-06-11 00:13] danieldahan commented on #778
Anytime :) I am always excited to get feedback. I am going to close this, as simulator issues are usually a result of the simulator. As long as it works on a device, I will dive into the issue. Thanks again!

[2017-06-11 00:13] #778 closed

[2017-06-11 00:14] danieldahan commented on #778
Btw, the simulator issue is probably because you are swiping fast and and the cursor goes off the simulator, so the animation is cut.

[2017-06-11 00:15] juvs commented on #778
Agree!

[2017-06-12 07:16] LukA888 commented on #774
Hi! Yes, I've tried using ToolbarController and works perfectly now.
Thank you!

[2017-06-14 09:50] shemchavez opened #779 "Capture API: Camera preview not correct"
When CaptureController is being push using navigation controller, camera preview is always portrait. When going to landscape it won't reflect the camera preview. But when it's just a "self.present" it's okay like the sample project. How can I manipulate when orientation is landscape and the camera preview is also landscape. Captured image have correct orientation, just the camera preview.

See thi

[2017-06-14 20:18] adeesh opened #780 "Side Navigation Menu gives jerking issue"
on first time opening of navigation menu, it gives jerking issue.

Also if i select some item in menu and keep navigation menu open then push new controller on top of it then on press of back from that controller, it gives jerking.  This issue is noticeable in iphone6, iphone6 plus.

Any tips to optimize this behavior would be great.

[2017-06-14 20:42] gmoalvarez commented on #773
So, according to the Swift Migration Guide https://swift.org/migration-guide/ as long as you compile the cocoapods in Swift 3.2 you should be able to use them in Swift 4. When I do that though, I still get two compilation errors in the Material library.

[2017-06-15 01:40] shemchavez commented on #779
Solved! This line fix the issue - **(capture.preview.layer as! AVCaptureVideoPreviewLayer).connection.videoOrientation = videoOrientation**, just put it in the delegate function **func capture(capture: Capture, didChangeFrom previousVideoOrientation: AVCaptureVideoOrientation, to videoOrientation: AVCaptureVideoOrientation)**

[2017-06-15 01:40] #779 closed

[2017-06-16 18:03] danieldahan commented on #779
@shemchavez excellent :) Thank you!

[2017-06-16 18:04] danieldahan commented on #780
@adeesh You would need to send me a sample so I can reproduce this issue. It may be because the shadow animations are set / not set correctly. Can you send a sample to support@cosmicmind.com. Thank you!

[2017-06-18 00:41] sxmichaels opened #781 "Navigation bar shadow cannot be removed"
# Problem
The code at [this link](https://medium.com/simple-swift-programming-tips/how-to-disable-uinavigationbar-shadow-in-ios-9-swift-2bdf6e9be41e) details how to remove the shadow at the bottom of a regular UINavigationBar. This same method, when used on a Material `NavigationBar` (for instance, adding those two lines to the navbar sample [here](https://github.com/CosmicMind/Samples/blob/master

[2017-06-18 18:40] danieldahan commented on #781
Thank you for sharing this. Are you using storyboards?

[2017-06-18 18:54] sxmichaels commented on #781
No, my app does everything programmatically.

2017年6月18日 14:40，"Daniel Dahan" <notifications@github.com>写道：

Thank you for sharing this. Are you using storyboards?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/CosmicMind/Material/issues/781#issuecomment-309294973>,
or mute the thread
<https://github.com/notifications/

[2017-06-18 18:55] danieldahan commented on #781
Then you would need to share a sample project with me that reproduces the issue. I am not getting any issues with the NavigationBar at the moment. Would you be able to do that?

[2017-06-18 19:09] sxmichaels commented on #781
Do you mean that if you build and run the NavigationBar sample from
Material (the second link in my first post above, I'm on my phone now so
it's hard to paste in) then you don't see the drop shadow? When I do, the
shadow is definitely there.

The app is closed source so I can't share it directly, but an equivalent
test is to take the sample app and add
`navigationController?.navigationBar.depthPr

[2017-06-18 19:11] danieldahan commented on #781
You cannot add it to the viewDidLoad of the view controller, because the optional `navigationController` property has not been set. You will need to do it in a subclass of the NavigationController within the `prepare` statement, or in the `viewWillAppear` method of the view controller, which will have the `navigationController` property set.

Let me know how that works out.

[2017-06-18 19:27] sxmichaels commented on #781
Oh, then probably I just misremembered when I said `viewDidLoad` - I don't
have the code in front of me right now. I'll be back at my computer in a
few hours and I'll let you know then what works (and give screenshots).

2017年6月18日 15:11，"Daniel Dahan" <notifications@github.com>写道：

You cannot add it to the viewDidLoad of the view controller, because the
optional navigationController property has

[2017-06-18 19:29] danieldahan commented on #781
Generally, people make the same mistake. So you are probably correct about the code. Hopefully it is as simple as the recommendation I made. either way, we will figure it out. Thank you, and let me know how it turns out.

[2017-06-18 20:59] danieldahan commented on #780
Hey, I have not heard from you, so when you are ready, please reopen the issue. Thank you!

[2017-06-18 20:59] #780 closed

[2017-06-18 21:36] sxmichaels commented on #781
Ah, so I found where I was wrong — you have a custom `prepare()` function in the example app that already sets `navigationBar.depthPreset = .none` ([AppNavigationController.swift line 41](https://github.com/CosmicMind/Samples/blob/master/Projects/Programmatic/NavigationController/NavigationController/AppNavigationController.swift#L41)) and I guess what's what I was messing with yesterday — the lin

[2017-06-18 21:38] sxmichaels commented on #781
(Oops, sorry, I accidentally closed this a moment ago.)

So I found where I was wrong — you have a custom `prepare()` function in the example app that already sets `navigationBar.depthPreset = .none` ([AppNavigationController.swift line 41](https://github.com/CosmicMind/Samples/blob/master/Projects/Programmatic/NavigationController/NavigationController/AppNavigationController.swift#L41)) and I gue

[2017-06-18 21:40] danieldahan commented on #781
Yeah everything is correct. Remove the color from the divider line, you are not looking at a shadow, you are looking at the `navigationBar.dividerColor` being set.

[2017-06-18 21:49] sxmichaels commented on #781
I see. Although, it's still the case that the default setting for `NavigationBar` is to show the shadow, and it's not obvious that you need to use `depthPreset = .none` to disable it. Maybe it would be a good idea to add a function or computed var like `dropShadowEnabled` that makes the toggle more explicit?

[2017-06-18 21:51] danieldahan commented on #781
In this case that won't make sense, since a developer would need to manage multiple variables to set the depth. By setting it to `.none` it is clear that the depth will be gone. What really needs to exist is documentation that outlines this. I believe that is the best approach :) I am working on documentation for Material 3 and the latest updates. I will be sure to include this. Sorry for the inco

[2017-06-18 21:51] #781 closed

[2017-06-18 22:19] danieldahan opened #782 "BottomNavigationController does not have the correct depth angle upon initial load."

[2017-06-19 00:11] shemchavez commented on #779
Your'e welcome @danieldahan 👍

[2017-06-20 02:47] volkangurol opened #783 "navigation item buttons not aligned correctly - xcode 9"
im using Material Library in xcode 9,
if i use NavigationController  items not align correctly,
if i use ToolBarController  items align correctly
any quick fix / workaround is appreciated.

<img width="477" alt="screen shot 2017-06-20 at 05 45 36" src="https://user-images.githubusercontent.com/2510054/27314336-c7fc694a-557b-11e7-8b66-93c76109c632.png">

[2017-06-20 19:47] davros1970 opened #784 "Incorrect layout for TableViewWithinCard with CardTableView"
Having an issue with using the TableViewWithinCard sample in the CardTableView sample. The layout of the default UITableViewCell.imageView is fine, but UITableViewCell.textLabel is shifted off-screen to the left of the imageView.

I noticed if I set the backgroundColor of the UITableViewCell to any color, that it is not spanning the entire width of its parent tableView (which goes the width of the

[2017-06-20 21:10] danieldahan commented on #784
Hey, thank you for sharing this. Funny enough, I was working on a similar issue when combining these two components. I will try your code later today, does it solve the issue?

[2017-06-20 21:25] danieldahan commented on #783
I haven't updated Material for Xcode 9 yet. I will need to look into that. I will keep this up and get back to you with a solution once I move Material to Xcode 9.

[2017-06-20 22:18] davros1970 commented on #784
Good, glad you'll be able to help look at this. I tried to work around it with my own custom UITableViewCell nib with autolayout but that didn't seem to help. There's something in the default programmatic TableView layout code thats not happy and I need to set it up I suppose, but I'm unable to find that magic. As it stands right now, I removed the tableview from the card as I only had a handful o

[2017-06-20 22:20] danieldahan commented on #784
:) I will notify you once I have a solution. I am working on this particular issue in my work at the moment, so your timing is impeccable.

[2017-06-20 22:25] davros1970 commented on #784
I think this usage will be common for the worker bees out there so once there's a solution maybe a new sample would be helpful ultimately for others.

[2017-06-20 22:28] danieldahan commented on #784
I am actually working on an Advanced sample pack for all the updates I have been doing and this is in there. So you are right on point.

[2017-06-20 22:32] davros1970 commented on #784
Excellent! Thx! Looking forward to that.

[2017-06-20 23:58] Noodlekim opened #785 "How to control original back button on navigationBar"
Hello.
I just want to set customized back button on navigationBar except original back button.
But I can't remove original back button like this screenshot.
<img width="375" alt="2017-06-21 08 53 38" src="https://user-images.githubusercontent.com/5136313/27360952-3f5b9b1c-565f-11e7-95a9-bf2577e5005e.png">

Moreover It can't be adjust `navigationBar.tintColor`
How to solve this issue? Please help~😥

[2017-06-21 00:04] Noodlekim commented on #785
Sorry I just solved by myself.

Before I did set about navigation Bar options when viewDidLoad.

I modified `viewWillLayoutSubviews `. It is working good.
[code]

[2017-06-21 00:16] Noodlekim commented on #785
I think that this method 👆is not so good.
Because it need to input `prepareNavi()` in every detail viewController when I push sub viewController.
I want to set this just one time.
So I am trying to change tintColor original back button. But It was not work.

[2017-06-21 04:50] rushstrike opened #786 "flatbutton title allignment"
is there away to left align the flatbutton title text?

[2017-06-21 04:52] rushstrike commented on #786
nevermind I found it button?.contentHorizontalAlignment = .left

[2017-06-21 04:52] #786 closed

[2017-06-21 13:36] ajonp opened #787 "Drawer does not resize to fit when rotating device"
I am adding the drawer to the root
[code]

**This is my layout**
![image](https://user-images.githubusercontent.com/3102249/27386573-470281c8-5664-11e7-9c41-609e1675643e.png)
**When this is in a vertical it looks great**
![image](https://user-images.githubusercontent.com/3102249/27386627-68cdd92e-5664-11e7-9bde-eb2eb49da928.png)
However when I rotate it the drawer I think wants to stay centered to

[2017-06-25 00:19] rushstrike opened #790 "anyone tried launching AEConsole"
anyone succesful in getting AEConsole to work with this material UI? I use the code below and cannot get the console to open. I tried.commenting out setting the rootview controller and doesn't work either.
[code]

[2017-06-25 14:58] danieldahan commented on #786
Sweet :)

[2017-06-25 16:01] danieldahan commented on #790
This is better as a StackOverflow question. Not sure what AEConsole is and how it relates to Material. All the best :)

[2017-06-25 16:01] #790 closed

[2017-06-25 16:09] danieldahan commented on #785
Try subclassing the `NavigationController` and setting the overall values you would like in there.

[code]

If you need any further help, feel free to reopen the issue. Thank you!

[2017-06-25 16:09] #785 closed

[2017-06-25 16:20] danieldahan commented on #787
You would need to handle changes in the panel view controllers by recalculating the view hierarchy when the view will layout. For example:

[code]

If you need further help, please reopen the issue. Thank you!

[2017-06-25 16:20] #787 closed

[2017-06-26 05:59] hvp1621991 opened #791 "Bottom Tab Navigation with Side Bar Navigation"
This is my AppNavigationDrawerController.swift
[code]

This is my AppToolbarController.swift
[code]
This is my AppBottomNavigationController.swift
[code]
I am not able integrate Botton Navigation with Side Drawer Navigation
Please help me out
Thanking You

[2017-06-26 15:21] danieldahan commented on #791
Hey, I see that you have the 3 classes, are you looking for the best way to connect these 3 components? What is your desired flow between these components?

[2017-06-27 05:35] Akshayp101192 opened #792 "I have one query, How to set small font size when placeholder is active in textfield ?"

[2017-06-27 06:24] hvp1621991 commented on #791
I want to show sidebar navigation with bottom tab bar with the help of this I am able to see only bottom tab bar & not sidebar navigation

[2017-06-27 14:36] danieldahan commented on #791
Can you share how you are launching these controllers?

[2017-06-27 14:39] danieldahan commented on #792
You want the size of the font to get smaller? It already shrinks to fit proportionally. If you start changing that, the component may not animate with the correct look and feel. Can you elaborate more on what you are trying to accomplish, possibly include a visual representation?

[2017-06-28 05:21] Akshayp101192 commented on #792
![screen shot 2017-06-28 at 10 49 27 am](https://user-images.githubusercontent.com/28347440/27621613-a5cf5092-5bef-11e7-88a7-a77e93d20a3a.png)
Please check this .. and suggest me i have not set custom font . I want active placeholder font to be smaller .

[2017-06-28 05:22] danieldahan commented on #792
As I mentioned, it should be smaller by default. Can you share a sample project reproducing this issue?

[2017-06-28 05:24] Akshayp101192 commented on #792
is it because of constraints I set to textfield ?

[2017-06-28 05:24] danieldahan commented on #792
Maybe, I need to see a reproducible sample in order to give correct feedback.

[2017-06-28 07:31] danieldahan commented on #792
I am going to close this issue for now. Once you have a reproducible project, please send it to support@cosmicmind.com :) Thank you!

[2017-06-28 07:31] #792 closed

[2017-06-29 03:22] danieldahan commented on #791
So you would basically want to setup your AppDelegate like so:

[code]

If you need any further help, please reopen the issue. Thank you!

[2017-06-29 03:22] #791 closed

[2017-06-29 06:26] Tahlia-rt opened #793 "navigationbar frame issue"
Good day!
this issue about NavigationBar.swift , layoutShape() in the open override func layoutSubviews()

this was reported from Fabric, it was written;

"This crash has non-main threads that appear to use UIKit classes or functions. Generally speaking, it is only safe to use UIKit from the main thread. Calling into UIKit from background threads can cause unpredictable behavior (like crashes!)..

[2017-06-30 17:02] danieldahan commented on #793
Hey, resizing the frame in the `prepare` function is the correct place to do it :)

Was that your question?

[2017-07-02 04:02] danieldahan commented on #793
Hi, I haven't heard from you. If you need, please reopen the issue. Thank you!

[2017-07-02 04:02] #793 closed

[2017-07-03 01:45] Tahlia-rt commented on #793
ooh i should have used it. it could be occurred the thread issue!! Thank you very much!! :)

[2017-07-03 01:46] danieldahan commented on #793
Great! Anytime :)

[2017-07-03 15:53] ro22e0 commented on #642
Hello, is there any update ?

Thanks in advance.

[2017-07-03 15:54] ro22e0 commented on #642
Hello, is there any update ?

Thanks.

[2017-07-03 17:02] CAP-ONE opened #794 "How to add a SearchView to an instantiated Controller"
So to start, I'm completely new to iOS & Swift Development, coming from Android, so I naturally got attired by this lib. But one thing I can't get around is how do I add a simple SearchView (+ "More Menu" button and Graph, like in the sample) from an instantiated Controller ?

My project start with a first controller with only a login form, and after a successful authentification, the user is redi

[2017-07-03 22:30] SeeD-Seifer commented on #472
@ggammon could you share the experience with making Xamarin bindings for this library? Spend half a day with no success using tutorial for Swift-to-Xamarin binding https://stackoverflow.com/documentation/xamarin.ios/6091/binding-swift-libraries#t=201707032228154316842
Your knowledge could be a good start for https://github.com/CosmicMind/Material/issues/739

[2017-07-04 00:18] ggammon commented on #472
I actually have a working version of this for Xamarin already. Its a bit outdated (I made it sometime last fall) but it definitely was working at one point. I built it using the objective-c bridge to the swift libraries and then trying to add Obj-C indicators where things weren't visible. Let me see if I can find it and I can attach it here.

[2017-07-04 00:24] ggammon commented on #472
[CosmicMind.Material.iOS.zip](https://github.com/CosmicMind/Material/files/1120749/CosmicMind.Material.iOS.zip)

That is the version I made for Xamarin. Last I checked it was functional. I haven't updated it to the newest version of this library though so doing that might actually cause some issues.

Some notes about the process. I bound the original library using Xamarin's framework binding tool

[2017-07-04 00:43] SeeD-Seifer commented on #472
@ggammon that's cool, thanks!

I found a few tricky (and annoying) steps in the SO link above, so here are some questions:
1. Have you converted Material.framwork to *fat* library?
2. Have you used Xamarin lib in the production app (uploaded to the Apple Store)? There is a note about *SwiftSupport* folder in production IPA file.
3. Do you only include compiled DLL into the app project? Or Material

[2017-07-04 22:39] danieldahan commented on #794
Hey :) Welcome to iOS and Material. Please use the [Gitter Material](https://gitter.im/CosmicMind/Material) channel to get help for this matter. I will be available to help you.

[2017-07-04 22:39] #794 closed

[2017-07-04 22:41] danieldahan commented on #642
@ro22e0 I am almost done. Finishing some documentation for `Motion's` latest release / rework. Finishing the TabsController next with a release.

[2017-07-06 10:59] dk53 opened #795 "iOS 8 Freezing issues"
Hello,

I ran thru an issue when adding a subview to a pageTabBarItem in iOS 8.

CPU goes up to 100 % and app is frezzing.

Working perfectly when configuring a pageTabBarItem (setting it text properties, etc), but not when adding a subview to pageTabBarItem.

Issues is reproductible with latest tools at this date : Xcode 8.3.3, Swift 3 and latest Material version.

It's not reproductible on iOS 9

[2017-07-06 16:40] dk53 commented on #795
I made a github repo https://github.com/dk53/materialTabBarTest to reproduce this issue.

Tested with an iOS 8.1 simulator

[2017-07-06 19:38] dromerobarria opened #796 "Space textfield icon"
Any way to change the space between the icon and text.
Thanks

[2017-07-06 21:43] danieldahan commented on #795
Thank you! I will take a look at see what's happening.

[2017-07-06 21:48] danieldahan commented on #796
Hey, there is a `textInset`property. Give that a try, and if you need, please reopen the issue :)

[2017-07-06 21:48] #796 closed

[2017-07-06 23:45] danieldahan commented on #795
I am not able to get that sample simulator, so I cannot reproduce your issue. As well, we would need to confirm the findings on a device. Simulators are not reliable. Can you think of an approach going forward to test this? The CPU hitting 100% and freezing the app sounds really weird for that behavior, especially since you are using all of Apple's APIs. Adding a view to a PageTabBarItem is equiva

[2017-07-06 23:45] #795 closed

[2017-07-07 04:53] javimuu opened #797 "How to replace back button in Material in Swift"
I want to change behavior of back button and I replace back button of **Material** with new bar button like bellow:

    let backButton: UIButton = {
        let btn = UIButton()
        btn.setImage(UIImage(named: "prev"), for: .normal)
        btn.frame = CGRect(x: 0, y: 0, width: 33/2, height: 27/2)

        return btn
    }()

In **viewDidLoad** function:

    override func viewDidLoad() {

[2017-07-07 15:06] danieldahan commented on #797
Hey, I made a fix for this in development. I am going to release a new version of Material with it in the next few days.

[2017-07-07 16:11] Iambecomeroot commented on #604
Any news? I don't see this feature. Also, is there a place to get a list of all the features with a short example. I cloned the samples but that doesn't seem complete.

[2017-07-07 16:13] danieldahan commented on #604
The next release will include a bunch of updates. This one I have been working on for a couple months now, getting the latest Motion framework in. At the moment, I have not had a chance to work on an indicator, though it should be fairly simple with the Motion framework now. So I will prioritize it, make a list like you are requesting and update the repo. Sorry for any inconvenience.

[2017-07-08 15:25] rudian opened #798 "the toolbar cant put in tabbarcontrolller?"
I added the toolbar into the tabbarcontroller like sample , but why i still getting error? Got any example can give me .... thx

[2017-07-08 18:26] rudian commented on #798
this issue can be close , i solve already , is my wrong coding make it error

[2017-07-08 20:01] bilsou opened #799 "Issue with present/dismiss - navigation controllers for each tab within tabbarcontroller"
My issue is the following: I have a MainTabBarController as the root of my window
`window!.rootViewController = MainTabBarController()`
I have a navigation controller for each tab.
[code]

If I navigate, for instance, from my `FirstViewController` to a `CustomViewController` `self.navigationController?.pushViewController(CustomViewController(), animated: true)` then within `CustomViewController` I

[2017-07-09 06:37] javimuu commented on #797
Yeah. Thank you very much  for this fix.

[2017-07-10 03:10] wlching opened #800 "Page tab bar lag issue"
I used pageTabBarController to handle 4 viewcontrollers. One of them is a camera which is used to scan QRCode.(I guess it is the reason why it lags.)
Could I close tab bar bounce(damping) animation and keep transition effect only?
I try to set isBounceEnabled false, but it would close swipe function also.
Thanks.

[2017-07-10 03:40] YoonjaeYoo commented on #642
Nice! Can't wait to check it.

[2017-07-10 12:09] Akshayp101192 commented on #642
Yes , In a severe need of update and specially scrollable tab pager controller .

[2017-07-10 16:53] josejuanqm opened #801 "hidesBarsOnSwipe not working on NavigationController"
XCode version: 8.3.2
Target: iOS 10

Setting hidesBarsOnSwipe within navigationController wont hide bars.

please help!

[2017-07-11 08:02] sumitkapoorshineweb opened #802 "Not able to Work with Xcode 8.2 with Material pod"
Hello Friend,
               I am using Material pod, version 1.42.9 with Xcode 7.3.1 . And it is working fine with Xcode 7.3.1 . Now I am trying to update my project for Xcode 8.2 But I am not able to solve Material pod issue, it gives legacy swift version issue, I tried to Set swift_version to 'YES' , 'NO' , trying to update latest Material version But issue is still there , Material gives thous

[2017-07-11 11:10] danieldahan commented on #802
Hey :)

You will need to upgrade a few things. Firstly, move to Xcode 8.3.* if you can, as that will save you upgrade time in general. If that is not possible, then make sure you have upgraded CocoaPods to the latest. Make sure to upgrade Material to the latest, and then clear your pod cache and User Derived directory in Xcode. If you need, connect on the [Gitter Material](https://gitter.im/Cosmic

[2017-07-11 11:10] #802 closed

[2017-07-11 11:12] danieldahan commented on #801
Please setup a sample project with the issue and let's move this to the [Gitter Material](https://gitter.im/CosmicMind/Material) channel :)

[2017-07-11 11:12] #801 closed

[2017-07-11 11:15] danieldahan commented on #800
This issue is combined in a few others. The PageTabBar is being replaced within a couple releases. It is already working as a prototype, but not ready for production. It will have the feature you are looking for then. The current issue is more of a limitation that is imposed by the base UIPageViewController provided by Apple. Watch the updates coming and you will have the feature really soon. Than

[2017-07-11 11:15] #800 closed

[2017-07-11 11:18] danieldahan commented on #799
So this is really an iOS issue not a Material issue. That said, if you go to the [Gitter Material](https://gitter.im/CosmicMind/Material) channel, I can help you there :)

[2017-07-11 11:18] #799 closed

[2017-07-11 11:19] danieldahan commented on #798
Sounds good :) All the best!

[2017-07-11 11:19] #798 closed

[2017-07-11 11:19] asadali737 opened #803 "Add convenience property for the attributed text of the text field placeholder label"
This will allow for developers to access the attributedText property of the UILabel of the text field placeholder and let us set attributed text to it for both modes. (Editing/Not Editing)

[2017-07-11 11:23] danieldahan commented on #803
I believe you can access it through the `placeholderLabel`. If not, please reopen the issue :)

[2017-07-11 11:35] wlching commented on #800
Thanks a lot. :)

[2017-07-11 11:50] Rico9260 opened #804 "Crash while changing viewControllers in PageTabbarController"
![screen shot 2017-07-11 at 5 16 29 pm](https://user-images.githubusercontent.com/14157753/28067015-0258b868-665d-11e7-92bc-59c903a0223c.png)

When I tap rapidly on tabbar buttons to change the selected index it crashes and navigates me to this line in Code.

You can reproduce it by rapidly tapping the tabbar buttons.

Thanks

[2017-07-11 13:36] bilsou commented on #799
I thought it was related to some issue with the Material's Navigation Controller. But fair enough I followed up your link and posted the issue on Gitter.
Thanks in advance

[2017-07-11 15:36] danieldahan commented on #804
Excellent, thank you! I will take a look at this.

[2017-07-12 03:25] wlching commented on #800
Hello @danieldahan , may I suggest an idea?
Could you offer a property which indicator the percentage of view transition.
When user starts scrolling pageview the property is 0(0%). On the other hand, when pageview is scrolled to next page, the property is 1(100%).
With this property, developers could do something.(ex: changing layout of view, some animations of view... and so on)
Or there is a met

[2017-07-12 06:33] asadali737 commented on #803
We can set attributed string to `placeholderLabel ` but problem is, it has no effect. Because it's text colour get changed when we start editing text field.
My actual requirement is to assign multicolour text to `placeholderLabel ` with different font sizes.

[2017-07-12 18:05] CAP-ONE opened #805 "Can't properly hide Back Button"
Hello, in my app, I've 3 ViewControllers, a login screen, a TableView screen and a screen which provide detailed infos of a row clicked from the TableView Page. I've a NavigationController for each pages, I want to hide the back button on the TableView Page to prevent the user from coming back on the login screen, and replace it with a menu button, I've managed to hide it but the space for the bac

[2017-07-13 00:11] rodolfohelfenstein opened #806 "Tabbar covered when using PageTabBarController inside NavigationController"
When I create a UINavigationViewController and set PageTabBarController as root my PageTab stay behind of NavigationBar.
Issue #679 describes something very similar that happened to some old versions, but I am in 2.6.3 and the problem persists

<img width="1103" alt="screen shot 2017-07-12 at 21 06 33" src="https://user-images.githubusercontent.com/4798334/28145194-9f2bf7d8-6746-11e7-8ec3-525675c6

[2017-07-14 18:21] danieldahan commented on #806
Thank you for sharing this. Can you send a sample project over?

[2017-07-14 18:23] danieldahan commented on #805
Thank you for sharing this. I have a fix for this in development, and added features to hide, change, and manipulate the back button. I will leave the issue up and notify you once I have released Material 2.7.0.

[2017-07-14 18:24] danieldahan commented on #805
In the meantime, have you tried using the ToolbarController for the login screen and then a NavigationController for the page you are creating. This will make it that you actually don't have a back state, and will not need to hide the back button. An idea for you as a workaround for now.

[2017-07-14 18:25] danieldahan commented on #800
@wlching this is a great idea in general. Would you create a feature request for this idea? Then I can update you on its release. I have a release coming up, so this may be able to squeeze in there.

[2017-07-14 18:26] danieldahan commented on #803
Okay, I understand. Let's reopen this as a feature request.

[2017-07-15 09:31] CAP-ONE commented on #805
Thanks for the reply. I tried the ToolbarController for the login screen yes, but I ran into a lot of trouble, like I couldn't access toolbar instance from the controller, nor pushing the next controller with navigationController.pushViewController (my guess was ToolbarController doesn't create a navigationController for the rootController).

I'll keep experimenting, but as I don't know when Mater

[2017-07-15 14:52] mirjalolbahodirov opened #808 "I can't use development branch of Material"
Hello, @danieldahan
Currently, I need to use scrollable Tabbar view. As I know it is working on development branch. But I can't use development branch with Cocoapods (my version is 1.2.1). Let me share my podfile content:

`pod 'Material', :git => 'https://github.com/CosmicMind/Material.git', :branch => 'development'`
`pod 'Graph', '~> 2.0'`
`pod 'Motion', :git => 'https://github.com/CosmicMind/Mo

[2017-07-15 14:53] mirjalolbahodirov commented on #808
Please, help me :-)

[2017-07-15 15:21] 01taylop opened #809 "detailTextLabel not working in TableViewCell"
It seems that the `detailTextLabel` is not displaying inside `TableViewCell`.

1. I have just downloaded Samples and am looking at the Search example:
  `cd Downloads/Samples-master/Projects/Programmatic/Search`

2. Install Pods:
  `pod install`

[code]

3. In `SampleData.swift` I can see that each `Entity` has a status:
  `u1["status"] = "Making the world a better place, one line of code at a tim

[2017-07-15 18:38] danieldahan commented on #805
Yes, I have already submit an app with the development branch, Material Colors. All is fine. I am mainly working on documentation right now. As for accessing the ToolbarController, after the `viewWillAppear` message, you can call the `toolbarController` optional property that accesses the parent ToolbarController. You can either change the `rootViewController` with the `transition` helper function

[2017-07-15 18:38] #805 closed

[2017-07-15 19:28] mirjalolbahodirov commented on #808
@danieldahan can you give me any suggestions?

[2017-07-15 21:49] danieldahan commented on #809
This was a good find. I made updates to Material and the sample to fix the issue. I will update this issue once I release it from the development branch. Shouldn't be long at all.

[2017-07-15 21:52] danieldahan commented on #808
Hey, I wouldn't use the development branch right now. I am making a release after I finish the transition documentation. Then I will be making another release with the scrollable tab bar. Sorry I can't be any more help at this point. I will update this issue once it is out: https://github.com/CosmicMind/Material/issues/642.

[2017-07-15 21:52] #808 closed

[2017-07-16 14:55] mzgnr opened #810 "Combining PageTabBarController , NavigationDrawerController & ToolBarController"
I'm not sure if im making things wrong but I've problems with combining these components. Since there are not much documentation about these, i'm trying example projects.

One the issues i have is ```//(navigationDrawerController?.rootViewController as? ToolbarController)?.transition(to: ProfileViewController(), completion: closeNavigationDrawer) ``` this does not make backbutton show up. Not sure

[2017-07-17 18:27] danieldahan commented on #810
Hey @mzgnr, to get a back button you need to use a `NavigationController`, not `ToolbarController`. So it would look like this:

[code]

And you would call a transition like so:

[code]

If you need any further help, reopen the issue :) Or go to [Material Gitter](https://gitter.im/CosmicMind/Material)

[2017-07-17 18:27] #810 closed

[2017-07-17 19:15] mzgnr commented on #810
@danieldahan thanks for the response. I think i tried this before but i got blank/white screen for some reason. Dont know what tweaks should i make 😢

[2017-07-17 19:16] danieldahan commented on #810
Make a sample project that shows a blank screen using this setup and we can go from there :)

[2017-07-17 19:37] mzgnr commented on #810
@danieldahan i think problem is my code. thanks for the help.

[2017-07-17 19:39] danieldahan commented on #810
No worries. You should still send over a project if it is not working. I can take a look and confirm why, if it is related to Material.

[2017-07-19 09:04] vimalrick commented on #575
Thanks for the great Material library.
Could you please update when we can expect the release of RTL support?

[2017-07-19 13:48] danieldahan commented on #575
I am going to release a roadmap once I finish the documentation and release for Motion and Material. I will comment on all open feature requests soon. Thank you!

[2017-07-19 14:11] iceman201 commented on #773
@Rdxer Follow the steps you should be sweet

![image](https://user-images.githubusercontent.com/5027957/28371298-affe8508-6cf0-11e7-8bbc-d5a00fb69ee4.png)

[2017-07-20 16:08] danieldahan commented on #552
You can find a fix for this in [Material 2.7.0](https://github.com/CosmicMind/Material/releases/tag/2.7.0) :)

[2017-07-20 16:08] #552 closed

[2017-07-20 16:08] danieldahan commented on #797
You can find a fix for this in [Material 2.7.0](https://github.com/CosmicMind/Material/releases/tag/2.7.0) :)

[2017-07-20 16:08] #797 closed

[2017-07-20 16:08] danieldahan commented on #809
You can find a fix for this in [Material 2.7.0](https://github.com/CosmicMind/Material/releases/tag/2.7.0) :)

[2017-07-20 16:08] #809 closed

[2017-07-20 17:17] ssrballin commented on #773
Just curious around when Material 3 is scheduled to release?

[2017-07-20 17:36] danieldahan commented on #773
@ssrballin Good question. I am not setting a date, but I am already working on it, making small releases in the 2.* branch.

[2017-07-20 17:36] danieldahan commented on #806
Hey, I have not heard from you, so I will close this issue, and if you need, please reopen it. Thank you!

[2017-07-20 17:36] #806 closed

[2017-07-20 17:57] haluzak opened #811 "Scrollable TabBar incorrect divider position"
I noticed an issue with `TabBar` which is used by `PageTabBarController` when the divider is visible and `tabBarStyle` is set to `.scrollable`. The divider is initially at correct position, but after I scroll to another controller, the divider `x` offset is off. The `x` position is calculated correctly when tapping on tabs (although there is a weird/glitchy animation, the bounce starts animating a

[2017-07-20 17:59] danieldahan commented on #811
Darn, I shouldn't have released that feature in this version. I will need to take that out now until it is ready. Thank you! I am going to close this issue, as the feature was accidentally released and will be removed now.

[2017-07-20 17:59] #811 closed

[2017-07-20 18:06] danieldahan commented on #811
Thank you! [Material 2.7.1](https://github.com/CosmicMind/Material/releases/tag/2.7.1) is available.

[2017-07-21 19:17] danieldahan commented on #767
Hey, sorry I fell completely behind on this issue. If it is still an issue, please reopen it, and I will be glad to help. Sorry for the inconvenience.

[2017-07-21 19:17] #767 closed

[2017-07-21 19:18] #782 closed

[2017-07-21 19:19] danieldahan commented on #677
Hey, is this still an issue? If yes, please reopen it, otherwise sorry for any delays and inconvenience.

[2017-07-25 08:20] ssyzh opened #813 "TextStorage.swift:74:1: 'required' initializer 'init(itemProviderData:typeIdentifier:)' must be provided by subclass of 'NSTextStorage' -Version Xcode 9.0 beta1"
need insert
[code]

[2017-07-25 09:37] maxhis commented on #813
It should be a swift 4 compatible issue.

[2017-07-25 10:37] danieldahan commented on #813
I am making a Swift 4 update shortly. Please follow this issue: https://github.com/CosmicMind/Material/issues/773 Thank you!

[2017-07-25 10:37] #813 closed

[2017-07-25 12:20] gilthonweapps opened #814 "Scroll indicators visible after using Motion transition"
Hi,

I have one issue when using Motion to animate the transition between views.

I have created a subclass of UITabBarController, so I can animate the transition between all the tabs. Here is the code:
[code]

Here is a simple video showing the visible scroll indicators on my views after I switch from one view to another. My views contain UICollectionView and UITableView.
If I scroll in those vie

[2017-07-26 07:10] litunny commented on #734
Hello there, @danieldahan , really impress with alot of work that you've put in place making this framework, thanks to you.

I wanna ask this, if per-adventure, I wanna make use of another controller, how do I inject, may be from the above sample code provided by @sdondon, how do we inject another controller when we cannot as well call them directly, I wouldn't mind if you can help with a sample c

[2017-07-26 16:44] timoman commented on #688
Sorry to dig up an old issue, but are there any updates on this?

I'm currently manually removing `Reminders` and `RemindersController` after building with Carthage. However, I'd like to move to Cocoapods, and it'd be really nice to not have to remember to do this every time this `Material` pod updates.

[2017-07-26 18:17] danieldahan commented on #814
Hey :) Have you set the

[code]

properties ?

[2017-07-26 19:21] gilthonweapps commented on #814
Hi.

If I set those properties, then I don't have the issue anymore.
However, I would like to see the scroll indicator when I scroll. So I think, there is an issue somewhere in the Motion lib :)

[2017-07-26 19:30] danieldahan commented on #814
Not necessarily. The scroll indicators show that the content is larger than the visible space. ScrollViews allow all directions and automatically find the direction once a scroll occurs and it needs to show your content. The only other scenario for scroll is when you set the direction manually. The visibility of the indicators can go on and off when first displayed and then no longer be shown if n

[2017-07-26 20:47] mzgnr commented on #810
@danieldahan it might be silly question but ill ask it any way 😄

[code]

[2017-07-26 20:49] danieldahan commented on #810
Yeah of course @mzgnr :)

[2017-07-26 20:51] mzgnr commented on #810
So i have to put everything needed in AppNavigationDrawerController class O_O

[2017-07-26 21:16] danieldahan commented on #688
I removed Reminders from the latest Material, as they will be separate additions going forward. @timoman

[2017-07-26 21:18] danieldahan commented on #734
@litunny Happy to help :)

I am not sure I fully understand what you are asking. Are you asking how to reuse the code? How to add more controllers to the code above?

[2017-07-26 22:29] timoman commented on #688
Perfect, thanks!

[2017-07-27 04:34] danieldahan commented on #619
This component has now been updated in [Material 2.8.0](https://github.com/CosmicMind/Material/releases/tag/2.8.0). Features like swiping have not been included in 2.8.0, and will be included in a following release. The overall TabsController adds stability and scrollable Tabs. I am closing this issue and thank you for your patience.

[2017-07-27 04:34] #619 closed

[2017-07-27 04:35] danieldahan commented on #743
This component has now been updated in [Material 2.8.0](https://github.com/CosmicMind/Material/releases/tag/2.8.0). Features like swiping have not been included in 2.8.0, and will be included in a following release. The overall TabsController adds stability and scrollable Tabs. I am closing this issue and thank you for your patience.

[2017-07-27 04:35] danieldahan commented on #642
This component has now been updated in [Material 2.8.0](https://github.com/CosmicMind/Material/releases/tag/2.8.0). Features like swiping have not been included in 2.8.0, and will be included in a following release. The overall TabsController adds stability and scrollable Tabs. I am closing this issue and thank you for your patience.

[2017-07-27 04:35] #642 closed

[2017-07-27 04:35] danieldahan commented on #605
This component has now been updated in [Material 2.8.0](https://github.com/CosmicMind/Material/releases/tag/2.8.0). Features like swiping have not been included in 2.8.0, and will be included in a following release. The overall TabsController adds stability and scrollable Tabs. I am closing this issue and thank you for your patience.

[2017-07-27 04:35] #605 closed

[2017-07-27 04:35] danieldahan commented on #768
This component has now been updated in [Material 2.8.0](https://github.com/CosmicMind/Material/releases/tag/2.8.0). Features like swiping have not been included in 2.8.0, and will be included in a following release. The overall TabsController adds stability and scrollable Tabs. I am closing this issue and thank you for your patience.

[2017-07-27 04:35] #768 closed

[2017-07-27 04:35] danieldahan commented on #742
This component has now been updated in [Material 2.8.0](https://github.com/CosmicMind/Material/releases/tag/2.8.0). Features like swiping have not been included in 2.8.0, and will be included in a following release. The overall TabsController adds stability and scrollable Tabs. I am closing this issue and thank you for your patience.

[2017-07-27 04:35] #742 closed

[2017-07-27 05:14] HowardCsie commented on #619
@danieldahan Thank you so much:)

[2017-07-27 06:32] gilthonweapps commented on #814
Hi,

I have made a repo with the issue: https://github.com/gilthonweapps/testMaterial

If you switch between TabBarController and MyTabBarController in the storyboard, you will see the difference when you navigate between tabs.

[2017-07-27 06:51] litunny commented on #734
Thank you for your response. I'm looking at the possibility of adding more controllers at any point in time.

[2017-07-27 12:22] danieldahan opened #815 "TabBar line not aligned when rotated."

[2017-07-27 15:35] danieldahan commented on #814
@gilthonweapps awesome I will take a look :)

[2017-07-27 22:54] amr6655 opened #816 "Navigation Drawer Controller using Storyboards and code"
Hi,

I'd be really grateful for some help with this.

I'd like to use the NavigationDrawerController and ToolbarController to show a sequence of views connected by segues, with the Toolbar displayed on each view (showing the menu, toggle and more buttons) and left/right view controllers to show.

My storyboard layout is:

AppNavigationController -> RootViewController -> NextViewController

[2017-07-28 04:32] marcelosantoro opened #817 "TextField with Mask"
I would like to add a pattern to a UITextField. For example, when the user starts to type, automatically format the content inside the the UITextField with the following mask:

'###.###.###-##' // Brazilian Document Format

'+99 (99) 99999-9999' // Brazilian Phone Number Format.
How can I do this with Material UITextField ?

[2017-07-28 11:08] nitishrana28 opened #818 "TextField with text masking feature"
This isn't an issue. Requesting for a new feature in ErrorTextField wherein text can be masked. I basically want to mask the phone number entered, similar to the [PhoneNumberKit](https://github.com/marmelroy/PhoneNumberKit). I could use that, but since I like validation message and UI of Cosmic's ErrorTextField, I would really like it here.

[2017-07-28 13:10] mzgnr commented on #810
@danieldahan since i was not sure if this is related to this framework, im asking in this comment. The confusing thing is, viewWillAppear viewdidAppear called before view actually appears on device O_O Why ?

[2017-07-28 20:55] danieldahan commented on #814
@gilthonweapps I will be working on this tomorrow if not tonight. Sorry for any delays :)

[2017-07-29 04:40] quanguyen commented on #627
Hi

I got [the same issue](https://github.com/CosmicMind/Samples/issues/58), but my problem is on the large screen (i6S+, i6+), not the small screen (i5S, i6).

Have you got solution to this problem?

[2017-07-29 05:58] gilthonweapps commented on #814
Great ! :-)

Envoyé de mon iPhone

[2017-07-29 18:30] #815 closed

[2017-07-29 18:35] danieldahan commented on #810
@mzgnr Well viewWillAppear will always be called before the final render to screen, and viewDidAppear I believe coordinates with the final render to screen. Are you only seeing this in certain situations?

[2017-07-29 18:38] mzgnr commented on #810
@danieldahan viewWillAppear was a mistake of mine. But viewDidAppear always called when app launches. It called secondly when i select it from TabbarController.

[2017-07-29 18:39] danieldahan commented on #810
Well it is only ever called when the viewDidAppear. So it sounds correct. I am not understanding where the issue is. Please expand on your thoughts about this :)

[2017-07-29 18:44] mzgnr commented on #810
Oh my English is not great and im missing some points 😆  Take a look at the first comment to my issue here. DailySummaryVC is the last view controller and NewsViewController is the first one in TabBarController. When app launches DailySummaryVC is triggered.

[2017-07-29 18:59] danieldahan commented on #810
No worries, what version of Material are yo using that you have `TabBarController` in the code base?

[2017-07-29 19:02] mzgnr commented on #810
`import UIKit
import Material

class AppPageTabBarController: TabsController {
    fileprivate var menuButton: IconButton!
    fileprivate var calendarButton: IconButton!
    open override func prepare() {
        super.prepare()

        //delegate = self
        preparePageTabBar()
        prepareNavigationItem()
    }
}

extension AppPageTabBarController {
    fileprivate func preparePageTabBar

[2017-07-29 19:04] danieldahan commented on #816
So you should only use the `NavigationController` or `ToolbarController` in a screen setup like the one you are looking for. The `NavigationController` is a subclass of `UINavigationController`. So you can use it as you would normally use any navigation controller. When setting up the navigation controller items, you will want in each view controller that you are navigating to, to access the `navi

[2017-07-29 19:04] #816 closed

[2017-07-29 19:06] danieldahan commented on #810
If you are basing your work off the samples, all should be fine. Feel free to share a sample project with me, so I can better understand and help with your issue. Also, we should move this to the [Material GItter](https://gitter.im/CosmicMind/Material) channel :)

[2017-07-29 19:08] danieldahan commented on #817
Material subclasses the `UITextField` found normally in `UIKit`. So everything should work as expected if you use the same methods. Have you tried this?

[2017-07-29 19:09] danieldahan commented on #817
I am linking this issue to here: https://github.com/CosmicMind/Material/issues/818. As it is a feature request for text field masking.

[2017-07-29 19:09] #817 closed

[2017-07-29 19:09] danieldahan commented on #818
Nice, I will put this in the queue of items. I like the idea of adding this to Material.

[2017-07-29 19:13] danieldahan commented on #804
The `PageTabBarController` has been updated with a new `TabsController`. This should fix your issue. Thank you!

[2017-07-29 19:13] #804 closed

[2017-07-30 03:21] danieldahan commented on #814
I am looking more into your issue. I can verify it happens when using Motion. That said, I am not sure that it is actually Motion. It could be a symptom of custom animations being made with Apple's Animator objects. I will keep investigating over the next couple days. A temporary workaround is to hide and show the indicators within the `viewDidAppear` and `viewWillAppear` methods.

[2017-07-30 03:25] danieldahan commented on #757
The `PageTabBarController` has been replaced with the `TabsController`. Please use that new controller and if the issue persists reopen this issue. Thank you :)

[2017-07-30 03:25] #757 closed

[2017-07-30 11:29] TeplrGuy opened #819 "Card View: How do I go about placing toolbar and bottom bar on content view ?"
Instead of having it align right at top and bottom respectively

[2017-07-30 18:36] danieldahan commented on #819
Instead of adding the Toolbar and Bar to the Card component, add them as subviews of the contentView. Then in code you can probably do something like this:

[code]

Something like that. Give it a try, and if you need any further help, message me on [Material Gitter](https://gitter.im/CosmicMind/Material) :) All the best!

[2017-07-30 18:36] #819 closed

[2017-08-01 03:36] comaxime opened #820 "FABMenu: memory issue (reference cycle)"
Hello,
I have found a problem of reference cycle between FABMenu and FABMenuController.

FABMenuController has a reference to FABMenu:
[code]

FABMenu has references to FABMenuController via the 4 callbacks:
[code]

One way to avoid this is to use weak references in the callbacks:
[code]
This did fix the problem in my case.

Am I correct or am I missing something?
Do you see better ways to solve t

[2017-08-01 23:24] danieldahan commented on #820
I will take a look, nice catch :)

[2017-08-02 05:34] wlching opened #821 "tabBarController"
Hello, in Material v2.8.1, pagerTabbarController is change to tabController.
The tabController doesn't have scrolling function.
Would you add scrolling feature to tabController in the future?
Thanks

[2017-08-02 06:35] comaxime commented on #820
thanks @danieldahan ;)

[2017-08-02 07:20] wlching commented on #821
I find the changed log.
https://github.com/CosmicMind/Material/wiki/change_log

2.7.1

issue-811: Removed scrollable TabBar style, until feature is ready.

[2017-08-02 07:20] #821 closed

[2017-08-02 10:59] melcug commented on #757
I succeed to implement UITableViewController views as tabs using TabBarController.
For that I changed views initialization in AppDelegate func application: didFinishLaunchingWithOptions from:
`var viewControllers = [MyTableViewController]()

    **viewControllers.append(MyTableViewController(category: "test1"))
    viewControllers.append(MyTableViewController(category: "test2"))**

    let pageTab

[2017-08-03 07:39] gilthonweapps commented on #814
I will use the temporary workaround for now. Hope that you will find a better solution :)

[2017-08-03 08:55] dalistoadsoft opened #822 "What is the equviliant of PageTabBarControllerDelegate's 'didTransitionTo' for brand new TabsController?"
I've used to change the navigation title when tab is changed,

[code]

So now I use TabBarDelegate to handle tabs changing,

[code]

How can I do that?

[2017-08-03 11:08] theolof commented on #677
Yes, it's still behaving the same.

I'm not using the toolbar due to this (though I would like to, for convenience)

[2017-08-03 13:48] markst commented on #822
+1

[2017-08-03 20:53] melcug opened #823 "Features that are still missing in TabsController"
![pagertabstrip](https://user-images.githubusercontent.com/8708178/28943071-2c3fa8b6-78a6-11e7-8eab-78dbcde71513.png)

- active tab always in center
- different title color for inactive tabs and other for active tabs
- show only the active tab title and adjacent tabs (other tabs are hidden, but can be shown using scrolling function)
- event when a tab become inactive and other event when a tab bec

[2017-08-03 20:55] danieldahan commented on #823
Thank you, I will follow up on these feature requests. I know that generally the `TabsController` is not fully complete, but that is part of why I released it that way so I can get back notes. Thank you, these are great!

[2017-08-03 20:55] danieldahan commented on #823
Adding to this issue: https://github.com/CosmicMind/Material/issues/683

[2017-08-03 20:55] danieldahan commented on #683
Let's follow this issue now for the feature request https://github.com/CosmicMind/Material/issues/823, thank you!

[2017-08-03 20:55] #683 closed

[2017-08-03 21:04] danieldahan commented on #821
The Scrollable TabBar is available now. It will automatically detect if it needs to add the scrollable feature.

[2017-08-03 21:05] danieldahan commented on #677
Okay, I am making an update to the `RootController` types, which includes the `ToolbarController`. I am going to reopen this issue and investigate further. Thank you!

[2017-08-03 21:07] danieldahan commented on #822
For now there is the `TabBarDelegate`

[code]

I am going to add more delegation calls for the next release, which is probably going to be ready in max a couple days.

[2017-08-04 02:49] wlching commented on #821
Sorry, I miss-used the word. The feature what I want is horizontally swiping content view and also change  the selectedIndex of tabbar in tabController.

[2017-08-04 11:26] melcug opened #824 "TabsController indicator line bug"
I use following code to initialize TabBar:
[code]
![2017-08-04 14 16 04](https://user-images.githubusercontent.com/8708178/28966818-e2dc5f40-7920-11e7-80c4-ec4f736badc5.gif)

As you can see, there are some problems with indicator line shown on active tab:
- initially the line is moving from top (not from bottom) of latest active tab to next active tab;
- the line height is ok at start, but changin

[2017-08-04 12:50] danieldahan commented on #824
Nice, I will investigate this today :) Thank you!

[2017-08-04 12:52] danieldahan commented on #821
@wlching Yes, those features are coming :) I am making a nice update with those included.

[2017-08-04 12:54] wlching commented on #821
@danieldahan  Thank you!!!!! :)

[2017-08-07 04:05] quanguyen commented on #627
Hi @danieldahan

Have you got some updates on this issue?

[2017-08-07 05:22] Recouse opened #825 "UITableViewCell ripple (pulse)"
I think it's a feature request, so can you add ripple(pulse) effect on select to the UITableViewCell?

[2017-08-07 05:41] Recouse commented on #825
Oh, sorry. Just found that it added in `TableViewCell`.

[2017-08-07 05:41] #825 closed

[2017-08-07 15:44] danieldahan commented on #825
No worries :)

[2017-08-07 17:20] danieldahan commented on #627
Hey :) @quanguyen It is one of the next items on queue to be looked at. Sorry for any delays.

[2017-08-07 18:05] thevest opened #826 "Capture Gone?"
Just curious what your plans for the Capture API are, is it gone for good or are you planning on adding it back in the future?

[2017-08-07 18:08] danieldahan commented on #826
Great question :) I am adding it again. I only need to rework it so that it is not causing any issues with inclusion for those that do not want it. If you need, please feel free to reach out on [Material Gitter](http://gitter.im/CosmicMind/Material) to discuss more. All the best!

[2017-08-07 18:08] #826 closed

[2017-08-07 19:40] lddd opened #827 "Error on installing Material cocoapods"
Hello there,

i am new to iOs development. Just trying to create my first app where i would like to use your great library.

Right now i stuck here

pod install
`Analyzing dependencies
[!] Unable to find a specification for `Material (~> 2.0)``

Podfile
[code]

[2017-08-07 20:13] danieldahan commented on #827
Hey :) Welcome to iOS and Material.

This is what you Podfile:

[code]

[2017-08-07 21:02] danieldahan commented on #827
If you have any further trouble, please reopen or create a new issue. Thank you!

[2017-08-07 21:02] #827 closed

[2017-08-07 22:14] lddd commented on #827
Still the same message

[code]

[2017-08-07 22:22] danieldahan commented on #827
What version of CocoaPods are you using?

[2017-08-07 22:24] lddd commented on #827
cocoapods-1.3.1

[2017-08-07 22:25] danieldahan commented on #827
Okay, send me your project please, I want to try and install it :)

[2017-08-07 22:42] lddd commented on #827
Its actually a complete blank Xcode project based on a swift single view application. Hold, on just trying to complete reinstall cocoapods.

[2017-08-07 22:57] lddd opened #828 "Running Xcode Project: warning: directory not found for option"
What to do here?

[code]
[code]

[2017-08-07 22:58] danieldahan commented on #828
So it looks like your CocoaPods is acting up. Please send me the project you are trying to setup, and I will see what happens on my end :)

[2017-08-07 23:09] lddd commented on #828
https://github.com/lddd/firstApp

[2017-08-07 23:11] danieldahan commented on #828
Did you open the workspace or the project folder?

[2017-08-07 23:18] lddd commented on #828
aaah :)

[2017-08-07 23:18] danieldahan commented on #828
So it is working now?

[2017-08-07 23:27] #828 closed

[2017-08-07 23:28] danieldahan commented on #824
Thank you for submitting this issue. It is now fixed. I will push an update now.

[2017-08-07 23:28] #824 closed

[2017-08-07 23:40] danieldahan commented on #820
@comaxime For now, your solution looks great :) I am going to make a push now. All the best!

[2017-08-07 23:40] #820 closed

[2017-08-08 14:50] jbaez opened #829 "NavigationItem cannot find navigationBar"
Tested in iOS 11 and Material latest version 2.8.1 (previous version of Material was 2.4.0)
The current implementation to find the navigationBar from the navigationItem is:
`return contentView.superview?.superview as? NavigationBar`
I just updated Cocoa pods libraries for an App to prepare it for iOS11 and noticed that a when I was appending/removing views to navigation item (after the view has lo

[2017-08-08 17:36] danieldahan commented on #829
Nice, thank you. I will take your code as a PR and add it to the next release :) Awesome catch.

[2017-08-08 17:36] #829 closed

[2017-08-09 10:34] melcug opened #830 "TabsController and ToolbarController bugs"
![2017-08-09 13 20 48](https://user-images.githubusercontent.com/8708178/29117256-3b3ac832-7d06-11e7-90e4-d4086e65d8e4.gif)

As you can see, there some problems with TabBar and toolbar controller:
1. When I initialize AppPageTabBarController with selectedIndex: 1 the second view is shown when the application is loaded, but first tab is selected and not second tab as I expect.
2. Changing the orien

[2017-08-09 10:59] melcug opened #831 "TabBar view motion transition type sugestion"
![2017-08-09 13 23 52](https://user-images.githubusercontent.com/8708178/29118125-6a84fc40-7d09-11e7-9e0c-a7e83c6c2b6e.gif)

For a natural transition from a view to another view using Tabs Controller you could add a new value for slide motion transition like 'auto' that generates following behaviour:
- as you can see above in the animation selecting first tab will **slide to left** because **last

[2017-08-09 11:17] melcug opened #832 "TabsController indicator line bug #2"
![untitled](https://user-images.githubusercontent.com/8708178/29119202-e352a1f0-7d0d-11e7-8311-4fcfb81e50fa.png)

As you can see above, after selecting few times between tabs and changing the orientation, the line indicator has different size other that the size of the selected tab.

Regards,
Gogu.

[2017-08-09 16:07] danieldahan commented on #832
I will double check this, I made adjustments to fix the other issue, and this may have already been fixed in the process.

[2017-08-09 16:13] danieldahan commented on #831
The .auto behaviour already exists: It is `motionTransitionType = .autoReverse(presenting: .slide(direction: .left))`. That said, I will need to configure it to handle the case when moving between all directions. Good suggestion :)

[2017-08-09 16:14] danieldahan commented on #830
Great catch :)

[2017-08-10 05:08] danieldahan commented on #832
Please try [Material 2.9.1](https://github.com/CosmicMind/Material/releases/tag/2.9.1) for a fix to this issue. Thank you!

[2017-08-10 05:08] #832 closed

[2017-08-10 10:13] melcug commented on #824
In latest version of Material (v2.9.1) following bug come back (fixed in v2.9.0):
- initially the line is moving from top (not from bottom) of first active tab to next active tab.

Regards,
Gogu.

[2017-08-10 10:23] melcug opened #833 "TabBarController - bug on selecting tabs programmatically"
![simulator screen shot aug 10 2017 13 10 03 1](https://user-images.githubusercontent.com/8708178/29166569-9f639e5a-7dcf-11e7-9bd5-c9794bf1576d.jpg)

I use following code the select second tab from TabBar:
`
navigationDrawerController?.rootViewController.tabsController?.tabBar.select(at: 1)
`

As you can see, the result is incomplete: the tab is selected, but associated view is not shown and previ

[2017-08-10 13:42] cody1024d commented on #701
Any progress on this?  I'd be willing to help chip in if it's needed; as I need this capability for my day job.  I'll write it myself if I have to, but would rather contribute if I can

[2017-08-10 14:10] danieldahan commented on #701
@cody1024d I don't see this being a priority for a while. Contributions are always more appreciated than asking for work to be done ;) all the best!

[2017-08-10 15:13] cody1024d commented on #701
@danieldahan Totally man.  I'll have something working by EoD I think.  It will probably be fairly rough, as I'm hacking it together in a local project (by copying the TextView source), and then tacking on the features I need by looking at the TextField implementation for it.  It'll be a start, atleast, though.  What I'll do, after I get it working locally, is fork this project, and make the chang

[2017-08-10 15:17] danieldahan commented on #701
@cody1024d Sounds great :) But let's do one better. Join [Material Gitter](https://gitter.im/CosmicMind/Material) and we can hash it out together as you go. I want to make updates to the `TextView` in general, so maybe this is the right time. Also, we can chat freely on there and more may join the conversation. I appreciate your help :)

[2017-08-11 01:32] danieldahan commented on #833
You can write this now with the latest Material 2.9.* version.

[code]

and the select feature has not yet been implemented. I will make that update most likely tomorrow. Thank you!

[2017-08-11 01:34] danieldahan commented on #822
You can now follow this issue, https://github.com/CosmicMind/Material/issues/823, for a complete solution that is being currently worked on. Thank you!

[2017-08-11 01:34] #822 closed

[2017-08-11 14:19] CAP-ONE opened #835 "Support for Options Menu"
I know popovers are generally reserved for iPad, but is it possible to add some sort of support for Material Popover like in the picture below :

![image](https://user-images.githubusercontent.com/7479837/29216869-4d2c9574-7eb0-11e7-93d9-64abe78b5987.png)

It could be linked to a ToolbarController or NavigationController, and we could easily add new items to it.

[2017-08-11 16:36] danieldahan commented on #835
No worries. I have already started prototyping this sometime ago. I will add this to the feature list and put it in queue for development.

[2017-08-11 19:55] james-ingold opened #836 "Ambiguous use of 'title' UINavigationItem"
Hello,

Using Xcode9 and Swift4, I have a UIViewController that has a NavigationBar on it. I'm trying to dynamically update the navigation bar item title in prepareNavigationItem()

[code]
[code]

I'm getting an error Ambiguous use of 'title'. It looks like in Materials extension of UINavigationItem the title property name conflicts with UIKit. I'm new to Swift and iOS programming, so I'm not sure

[2017-08-11 19:59] danieldahan commented on #836
At the current moment I am not support Xcode 9 and Swift 4. That said, send me a project reproducing the issue, and I can take a look :)

[2017-08-11 20:27] james-ingold commented on #836
Thanks, [here's a demo project with the issue](https://github.com/james-ingold/materialambiguous).
 I spun up a new single view app project in Xcode9, added a UINavigationBar in the storyboard and changed the class to a NavigationBar (Material). Added the following code to the ViewController class
[code]
[code]

[2017-08-12 16:06] OrkhanAlikhanov commented on #661
So again, how can we change `tintColor` of the `backButton` in a global level? I don't want to do that in every view controller that I push.

[2017-08-12 16:19] OrkhanAlikhanov commented on #661
I don't want to change the sources either, to insert just one line:
[code]

[2017-08-12 16:22] OrkhanAlikhanov commented on #661
Shouldn't the `backButton.tint Color`be equal to `navigationBar.tintColor` by default? I think it is the default behavior in `UINavigationController` that `UIKit` offers.

[2017-08-12 16:29] OrkhanAlikhanov commented on #661
By the way, what I am discussing here is also applying to `navigationItem.titleLabel.textColor`.

[2017-08-12 16:47] OrkhanAlikhanov commented on #661
What I am currently doing to handle the situation is to create an `AppViewConroller` which acts as base view controller for the rest of the view controllers and to set color for title+backbutton in `viewDidLoad`. Yet, I still hold my position regarding the ability to set the colors globally :)

[2017-08-14 13:07] chanonly123 opened #837 "PulseView not working with layer changes"
@IBDesignable
class CardView: PulseView {

	@IBInspectable var shadowOffsetWidth: CGFloat = 0
	@IBInspectable var shadowOffsetHeight: CGFloat = 1.5
	@IBInspectable var cardCornerRadius: CGFloat = 7

	override func layoutSubviews() {
		let shadowColor: UIColor? = UIColor.darkGray
		let shadowOpacity: Float = 0.5
		layer.cornerRadius = cardCornerRadius
		let shadowPath = UIBezierPath(roundedRect: bo

[2017-08-14 13:59] phlippieb opened #838 "TextView's font breaks when you type emoji"
When using a TextView, if a user types emoji, the text after the emoji is in a different font. This works fine when using a normal UITextView.

To reproduce the issue, create a single application project with Material, and use this as the ViewController:

[code]

As demonstrated in this screenshot, the UITextView (the first box) handles emoji correctly, while the Material TextView (the second box)

[2017-08-15 07:11] phlippieb commented on #838
This seems to happen only when a TextView is initialized using the convenience no-parameter `init()`. Seemingly something about overriding how the layout manager is constructed breaks this. I can bypass the issue by constructing it as `TextView(textContainer: nil)`.

[2017-08-16 16:04] adamdahan commented on #837
@chanonly123 missing a call to super in layoutSubviews.

[2017-08-16 16:06] adamdahan commented on #837
Also your for loop is in a dangerous place. Layout subviews gets called multiple times. And because you are just breaking out of it. Your for loop has no value.

[2017-08-16 16:13] danieldahan commented on #837
@chanonly123 I think there is a better approach to what you are trying to do. Would you please explain your goal with this code?

[2017-08-16 17:01] chanonly123 commented on #837
Thanks for reply. My goal is to use the touch pulse effect with any UIView. (here with CardView).

[2017-08-16 18:34] danieldahan commented on #837
The CardView already inherits from the PulseView. So the pulse effect is already there. Just set the `pulseAnimation` animation property. To set the pulse effect is not the best idea as it adds two layers to each view making it an expensive addition. This is why it is isolated to its own view type. Most major components inherit or implement the pulse effect in the optimal way.

[2017-08-16 18:59] danieldahan commented on #837
Let's move this issue to [Material GItter](https://gitter.im/CosmicMind/Material). As this is more of a conversation for there :)

[2017-08-16 18:59] #837 closed

[2017-08-16 23:46] danieldahan commented on #661
You make a great point here, and there is a feature request to start allowing global color configurations. Maybe you can help me do this by outlining the details we should cover and we can make the change for everyones benefit. What do you think?

[2017-08-16 23:48] danieldahan commented on #838
hmmm... I will have to take a look at this. Thank you, it is now in the queue.

[2017-08-17 09:43] OrkhanAlikhanov commented on #661
Let's move the discussion to the that feature request. #292

[2017-08-18 06:03] a88zach commented on #836
For now you can use the following to set the title
`
navigationItem.titleLabel.text = "foo"
`

[2017-08-19 19:11] OrkhanAlikhanov commented on #292
I think the `UIAppearance` is a bit outdated for swift. It will require the `dynamic` keyword for every property in order to be eligible for Objective-C.

[2017-08-20 09:28] amr6655 opened #839 "Right view controller on NavigationDrawerController"
Hi,

I'm quite new to Swift/iOS development and have a query I was hoping could be answered regarding the Right view controller that can be swiped in on the navigation drawer controller. I set up the AppNavigationDrawerController in AppDelegate as shown in the examples and that's all fine.

`appNavigationDrawerController = AppNavigationDrawerController(rootViewController: navigationController, lef

[2017-08-20 23:24] danieldahan commented on #292
@OrkhanAlikhanov I fully agree. In [Material Gitter](http://gitter.im/CosmicMind/Material) we can discuss and then update this issue with our solution.

[2017-08-20 23:26] danieldahan commented on #836
@a88zach Thank you :)

@james-ingold I will be preparing a branch for Swift 4 and Xcode 9 this week. At that point I will publish a solution to the issue. Thank you!

[2017-08-20 23:38] danieldahan commented on #839
Hey, welcome to iOS and Material. So there are basically two approaches you can take. The first approach is to create the view controller as you did, then pass that controller to the initializer for the NavigationDrawerController. The second option is to pass in the view controller to the NavigationDrawerController without initializing the data, and then in your view controller itself, you impleme

[2017-08-20 23:38] #839 closed

[2017-08-23 03:36] Ccmi opened #841 "Switch Too narrow；"

[2017-08-23 03:37] danieldahan commented on #841
You will need to describe more than this please.

[2017-08-23 03:41] Ccmi commented on #841
Set the size to medium or large,width too narrow;
![image](https://user-images.githubusercontent.com/17047142/29597856-02d92d96-878b-11e7-930c-e0391936a35e.png)

[2017-08-23 03:42] danieldahan commented on #841
hmmm... okay, I will take a look. Thanks.

[2017-08-23 17:41] egenvall commented on #824
This issue exists in v2.9.4 as well on the first swap between tabs

[2017-08-23 17:42] danieldahan commented on #824
I will double check.

[2017-08-23 17:46] danieldahan commented on #824
I cannot reproduce it. Are you sure you are using the latest? That said, if you can provide reproduction steps, that would be helpful. Thank you!

[2017-08-23 17:59] egenvall commented on #824
Using Material (2.9.4)

    class AppTabBarController: TabsController {

        override func viewDidLoad() {
            viewControllers = [someVc, someVc2]
            super.viewDidLoad()
        }

        open override func prepare() {
            super.prepare()
            tabBar.tabBarStyle = .auto
            tabBarAlignment = .top
            tabBar.dividerColor = nil
            tabBar.

[2017-08-23 18:01] danieldahan commented on #824
Hmmm... well I cannot reproduce this within Material, you would have to setup a sample project with another library and demonstrate how Material breaks. Then I would be happy to help out.

[2017-08-23 18:30] egenvall commented on #824
It seems to be a storyboard issue.
    class AppDelegate: UIResponder, UIApplicationDelegate {

    var window: UIWindow?

    func applicationDidFinishLaunching(_ application: UIApplication) {
        window = UIWindow(frame: Screen.bounds)
        window!.rootViewController = AppTabsController(viewControllers: [])
        window!.makeKeyAndVisible()
    }
}

    class AppTabsController: TabsCont

[2017-08-23 18:59] danieldahan commented on #824
I need a sample project that creates this issue. As well, you shouldn't need to set this:

[code]

They should already be set.

[2017-08-23 19:07] egenvall commented on #824
[Demo Repo](https://github.com/egenvall/TabsControllerBugRepo)
(Didn't clean away the other files from the sample)
Yes you are correct regarding the scrollview indicators.

[2017-08-24 02:10] danieldahan opened #842 "TabsController calls viewDidAppear when initialization of TabsController occurs."

[2017-08-24 06:42] phlippieb opened #843 "BottomSheetController?"
According to #628, BottomSheetController was slated for release in 2.5.0. When I search for it in this repo, I see some commits adding it, but it doesn't seem to be in the code base at the moment. Was it removed?

[2017-08-24 11:25] kizitonwose commented on #605
@danieldahan Any update on this issue? Still happening with TabsController on [2.9.4](https://github.com/CosmicMind/Material/releases/tag/2.9.4)

[2017-08-24 17:30] danieldahan commented on #605
The TabsController doesn't have a swipe feature. So there shouldn't be anything conflicting with it. If you can send me an updated sample, I can take a look at what is going on: @kizitonwose, thank you!

[2017-08-24 17:31] danieldahan commented on #843
It was in, but I removed it as it wasn't fully completed. I needed to updated Motion and some other components before I had time to fully make this. I added this to the feature list. I will need it in an app I am working on, so it will most likely be out very soon.

[2017-08-24 17:35] kizitonwose commented on #605
@danieldahan I just realized this. Will this feature be added in the future?

[2017-08-24 17:36] danieldahan commented on #605
Yes, it is in the short list to release :)

[2017-08-24 17:43] danieldahan commented on #605
@kizitonwose Most likely within a couple weeks.

[2017-08-25 05:39] amitrajmodi opened #844 "Textfield(On secure text entry ) Memory Leak in iPhone 6S+"
Hello,
Memory is leaking when type secure text in Textfield in iPhone 6s+ after 20 characters. Please do needful.

Set Font system 18 and wR - hR font 24 in attribute inspector.
Xcode 8.3.2
iOS version:- 10.1.1
Thank You

[2017-08-25 06:59] theolof commented on #841
The width for `.small` is also smaller than intended

This is my Switch:
[code]
which leads to
<img width="59" alt="screen shot 2017-08-25 at 08 53 22" src="https://user-images.githubusercontent.com/14074538/29702758-e56b7f9a-8972-11e7-9de9-70a852521c49.png">
This is the Switch from https://github.com/CosmicMind/Material#switch
<img width="94" alt="screen shot 2017-08-25 at 08 53 06" src="https://

[2017-08-25 07:23] phlippieb commented on #843
Outstanding 👍

[2017-08-25 16:49] danieldahan commented on #844
Thank you, I will investigate this :)

[2017-08-25 20:32] OrkhanAlikhanov opened #845 "UIView extension causes ambiguity due to name collision."
Importing a framework in swift results in importing all public extensions from that framework. Material offers [`UIView.borderWidth`](https://github.com/CosmicMind/Material/blob/2.9.4/Sources/iOS/Material%2BUIView.swift#L258) extension which causes ambiguity for the compiler when I try to use [`PopTip.borderWidth`](https://github.com/andreamazz/AMPopTip/blob/2.1.7/Source/PopTip.swift#L105). Accord

[2017-08-25 20:35] OrkhanAlikhanov commented on #841
As a workaround you can subclass it and return custom `intrinsicContentSize`.

[2017-08-26 02:01] danieldahan commented on #845
Let's discuss this in [Material Gitter](http://gitter.im/CosmicMind/Material) as there isn't an issue here. There is a conflict because of two libraries.

[2017-08-26 06:29] OrkhanAlikhanov commented on #845
Well, actually I opened an issue here so that when someone encounteres the same problem, he/she can search for and find a way out.

[2017-08-26 18:47] danieldahan commented on #845
Yes, that is a great reason. So in that case, let's leave a fix for this. I was hoping to discuss what should be done when this situation arises? As it will probably again on another property.

[2017-08-27 03:06] robertying opened #846 "TextField in SearchBar cannot become the first responder"
I was trying to make the textField in searchBar the first responder, but it always failed.

What I have done:

- `searchBar.textField.canBecomeFirstResponder` returns true
- `searchBar.textField.becomeFirstResponder()` returns false
- look for the current first responder but returns nil
[code]

I don't know whether I was missing something or It seems to be a bug.
Any help would be appreciated.

-

[2017-08-27 03:07] danieldahan commented on #846
When are you calling this function? Can you send me a sample with this and I will take a look?

[2017-08-27 05:25] robertying commented on #846
@danieldahan
I use the Search Sample from [https://github.com/CosmicMind/Samples](url)
I try to add `searchBar.textField.becomeFirstResponder()` in two places.
- `prepareSearchBar()` in `AppSearchBarController.swift`
- `prepareSearchBar()` in `RootViewController.swift`

Thanks for you time ;)

[2017-08-28 07:31] amitrajmodi commented on #844
[MaterialTest.zip](https://github.com/CosmicMind/Material/files/1255387/MaterialTest.zip)
pfy

[2017-08-29 12:12] lddd commented on #604
This would be awesome.

[2017-08-29 19:12] danieldahan commented on #844
Thank you! This is very helpful.

[2017-08-29 19:27] danieldahan commented on #846
Yeah, I can see it is not working. Weird, well I shall take a look :)

[2017-09-01 08:51] littlemozart opened #849 "Set TextView's placeholderNormalColor failed"
No matter what color I set, the placeholderNormalColor was always blue.

[2017-09-01 16:54] hariDasu opened #850 "ChipIconButton within TextField"
For selecting contacts, invites, etc this would be a nice feature.

<img width="410" alt="lizcr" src="https://user-images.githubusercontent.com/2300054/29979734-b2b0a556-8f14-11e7-895d-17a20efeeee2.png">

[2017-09-03 17:51] hariprasadiit opened #852 "Adding `Grid` to `UIScrollView` Doesn't work"
I'm trying to add scroll view to the grid example but getting blank screen.

code
[code]
what am i missing here?
please help me out with this.

[2017-09-05 09:31] Ccmi opened #853 "isMotionEnabled is true, Set a button or other failure."

[2017-09-05 15:08] danieldahan commented on #853
This issue is not clear. Please revise it and then reopen the issue, thank you!

[2017-09-05 15:10] danieldahan commented on #852
The issue may be that you need to set the contentSize of the scroll view. Give it a try and if you need further help, reopen the issue. Thank you! Also, this kind of question is more appropriate for [Material Gitter](http://gitter.im/CosmicMind/Material).

[2017-09-05 15:10] #852 closed

[2017-09-05 15:15] danieldahan commented on #849
Can you share your code? Thank you!

[2017-09-05 15:17] danieldahan commented on #850
I'll expand the Chips to support this, it is a very useful feature :) Thank you!

[2017-09-05 15:44] kudosQUJO opened #854 "Improper bounds to View"
![img_1535](https://user-images.githubusercontent.com/12536850/30069410-4bf1957c-9226-11e7-8c33-a7224e5d2e6d.PNG)

Why is there a white box at the bottom of the viewcontroller (just above the bottomNavBar)?

Code in AppDelegate (with unimportant info removed):

let rightVC = FMSideDrawerViewController()
let feedNav = FMNavigationController(rootViewController: FMFeedTableViewController())
let profi

[2017-09-05 15:46] kudosQUJO commented on #854
Also to be clear the white box is there even when the rightVC is not toggled

![img_1536](https://user-images.githubusercontent.com/12536850/30069888-7f05bd84-9227-11e7-891c-4ef1ac9856bb.PNG)

[2017-09-05 16:06] kudosQUJO opened #855 "Collapsable/Expandable Header Views above TabsController"
![giphy](https://user-images.githubusercontent.com/12536850/30070780-2924365e-922a-11e7-83ca-5d706d4f2c29.gif)

How would one go about achieving something like the above where there is an expandable/collapsable header view above a TabBar?

Would it be like BottomNavController -> NavController -> CustomStretchyHeaderController? (of type TransitionController) -> TabsController -> ContentTableViewCon

[2017-09-06 00:22] Pwootage opened #856 "Text field placeholder with placeholderAnimation set to none not appearing when text set to nil"
With `.placeholderAnimation = .hidden`, setting `.text = nil` programmatically does not properly re-show the placeholder. It is fixed if you open then close the keyboard.

XCode 8.3, Material 2.9.4

Working:
![placeholder working](https://user-images.githubusercontent.com/503910/30088832-11982202-9266-11e7-9a25-333eae89adaf.jpg)

After setting to nil from having text (i.e. to clear):
![placeholder

[2017-09-06 00:25] danieldahan commented on #856
Thank you for sharing this, I will reproduce the issue and push a fix :)

[2017-09-06 01:42] Ccmi commented on #853
isMotionEnabled is true , Set button or other alpha failure.

[2017-09-06 01:48] Ccmi commented on #853
open

[2017-09-06 19:06] danieldahan commented on #853
Please send over a sample project demonstrating the issue. I still don't get what you are describing. Thank you!

[2017-09-07 01:20] Ccmi commented on #853
[Test.zip](https://github.com/CosmicMind/Material/files/1283185/Test.zip)

[2017-09-07 03:38] littlemozart commented on #849
@danieldahan Sorry for the late reply, here are my codes before.
//        textView.placeholderNormalColor = UIColor.lightGray
//        textView.placeholderActiveColor = UIColor.orange
But later I tried to set "placeholderLabel.textColor" and that was what I wanted.
        textView.placeholderLabel.textColor = UIColor.lightGray
Thank you!

[2017-09-07 04:49] hariprasadiit commented on #852
@danieldahan  you are right. my mistake.

thank you and thanks for awesome library.

[2017-09-07 04:50] danieldahan commented on #852
Anytime buddy :)

[2017-09-07 07:08] svachmic opened #857 "statusBar.backgroundColor in ToolbarController is white"
I'm using the version **2.9.4** and by doing this setup:

[code]

I get this result:

<img width="282" alt="screen shot 2017-09-07 at 09 04 20" src="https://user-images.githubusercontent.com/1448888/30150457-c08b13d2-93ab-11e7-8e8a-6a096dae01ce.png">

The function [`darker()`](https://github.com/svachmic/ios-url-remote/blob/develop/URLRemote/Classes/Helpers/UIColorExtension.swift) is not the issue

[2017-09-07 17:05] wdcurry opened #858 "missing buttons property"
Testing out the Photos sample, with the latest repo, seeing this. Guessing this is now supposed to refer to tabItems. A quick conversion in the prepare methods was all that is needed.. just a minor FYI. ;)

/Users/me/Downloads/Samples-master/Projects/Programmatic/Photos/Photos/PhotoCollectionViewController.swift:109:9: Value of type 'TabBar' has no member 'buttons'

[2017-09-08 02:02] danieldahan commented on #858
The issue has been fixed and an update will be posted within 30 minutes. Thank you :)

[2017-09-08 02:02] #858 closed

[2017-09-08 02:26] danieldahan commented on #857
This was a great catch, and a fix has been made and will be released within 30 minutes. Thank you :)

[2017-09-08 02:26] #857 closed

[2017-09-08 08:05] svachmic commented on #857
Works like a charm, thanks a lot!

[2017-09-08 18:44] OrkhanAlikhanov opened #859 "How to know TabsController tab is changed?"
I was implementing `TabBarDelegate` on `tabsController.tabBar` to get notified when tab is changed. So you have filled that hole:
https://github.com/CosmicMind/Material/blob/63301f01f2b30519a4ba22b70dddb0ebcb8166a8/Sources/iOS/TabsController.swift#L262

I'd like to get controller-wide notification. I tried to override `selectedIndex` and implement `didSet`
[code]
I get error since it is marked as

[2017-09-08 18:46] danieldahan commented on #859
I can make a TabsControllerDelegate for you now. There should be one and this would be beneficial for everyone. Can you suggest what other items you may like in that delegate before I make it?

[2017-09-08 18:55] OrkhanAlikhanov commented on #859
Basic things from [`UITabBarControllerDelegate`](https://developer.apple.com/documentation/uikit/uitabbarcontrollerdelegate) would be enough I guess.

[2017-09-08 19:00] danieldahan commented on #859
Cool, I will add some basic insight. Thanks, this will be done within the next couple hours.

[2017-09-08 19:02] OrkhanAlikhanov commented on #859
Thank you for your support 👍

[2017-09-08 19:21] OrkhanAlikhanov opened #860 "TabsController - tabItem colors for states."
By the way, I was using the tabBar delegate to change title colors for (de)selected states accordingly.
[code]
Shouldn't be there something like `selectedTabItemTitleColor` and `normalTabItemTitleColor`. ?
![image](https://user-images.githubusercontent.com/15037839/30227686-8ec2a766-94eb-11e7-9678-04f5cfa81066.png)

[2017-09-08 19:32] danieldahan commented on #831
Hey :) This has been added to [Material 2.10.0](https://github.com/CosmicMind/Material/releases/tag/2.10.0). Thank you!

[2017-09-08 19:32] #831 closed

[2017-09-08 19:35] #842 closed

[2017-09-08 19:36] danieldahan commented on #860
I can add this with the delegation calls.

[2017-09-08 19:38] danieldahan commented on #854
Hey, sorry for my late reply. I will need a reproducible project so I can see what is happening. Would you be able to send one? Thank you!

[2017-09-08 19:41] danieldahan commented on #766
The Capture API is getting completely revamped and is no longer in the Material release branch. So I am going to make a note of this and close it for now. Thank you!

[2017-09-08 19:41] #766 closed

[2017-09-08 19:42] danieldahan commented on #621
Hey, so I have been thinking about this for a bit, and I don't see me working on a new Layout system for a bit. So I am going to make a note to look back into this, and close the issue for now. Thank you!

[2017-09-08 19:42] #621 closed

[2017-09-09 01:41] danieldahan commented on #830
You can now find a fix for this in [Material 2.10.1](https://github.com/CosmicMind/Material/releases/tag/2.10.1). Thank you!

[2017-09-09 01:41] #830 closed

[2017-09-09 01:42] danieldahan commented on #833
You can now find a fix for this in [Material 2.10.1](https://github.com/CosmicMind/Material/releases/tag/2.10.1).

Use:

[code]

Thank you!

[2017-09-09 01:42] #833 closed

[2017-09-09 01:43] danieldahan commented on #859
In [Material 2.10.1](https://github.com/CosmicMind/Material/releases/tag/2.10.1) you can now use the following delegation methods:

[code]

Thank you!

[2017-09-09 01:43] #859 closed

[2017-09-09 02:49] OrkhanAlikhanov commented on #859
Great ^^

For your information, you can make issues get closed automatically in commits. For example, you can commit like this: `Added TabsControllerDelegate. Closes #859`
The issue #859 will be automatically closed as soon as the commit becomes the part of master branch. [An example commit](https://github.com/showdownjs/showdown/commit/51e46933a483fb9324ac83c0751f5162833d2ebb)

[Here is docs](htt

[2017-09-09 16:15] danieldahan commented on #859
Nice I shall try that out :) Thank you!

[2017-09-10 23:43] danieldahan commented on #849
You are correct, there is a bug here. Also, there shouldn't be a `placeholderActiveColor` property, as TextView doesn't act as `TextField` just yet. I am going to make an update and release this within a couple hours. Thank you!

[2017-09-10 23:53] danieldahan commented on #854
Hey, I haven't heard from you. If you need, please reopen this issue and I will be happy to help out. Thank you :)

[2017-09-10 23:53] #854 closed

[2017-09-10 23:55] danieldahan commented on #823
Adding to this issue: https://github.com/CosmicMind/Material/issues/860

[2017-09-11 00:28] danieldahan commented on #846
Hey, so you need to call `becomeFirstResponder()` when the view controller has appeared, like so:

[code]

:) All the best!

[2017-09-11 00:28] #846 closed

[2017-09-11 00:32] #849 closed

[2017-09-11 00:32] #856 closed

[2017-09-11 00:37] danieldahan commented on #849
Please find a fix for this in [Material 2.10.2](https://github.com/CosmicMind/Material/releases/tag/2.10.2). Use the `textView.placeholderColor` property.

[2017-09-11 00:38] danieldahan commented on #856
Please find a fix for this in Material 2.10.2. Thank you for sharing the issue :)

[2017-09-11 06:11] littlemozart commented on #849
Thank you very much!

[2017-09-11 08:47] robertying commented on #846
That works! Thank you!  ;)
I should have investigated the view life cycles better.

[2017-09-11 09:17] Ccmi commented on #853
Hi，Have you seen the problem?

[2017-09-11 10:08] Ccmi opened #861 "navigationBar is nil."
![image](https://user-images.githubusercontent.com/17047142/30269640-26a4795a-96af-11e7-83f5-ac77c3c5fc2a.png)
![image](https://user-images.githubusercontent.com/17047142/30269655-34157206-96af-11e7-992b-cdf5796fff5c.png)

[2017-09-11 10:08] Ccmi commented on #861
Xcode 9 beta 6

[2017-09-11 12:40] danieldahan commented on #846
No worries :) I am happy to help.

[2017-09-11 12:43] danieldahan commented on #861
Are you using Storyboards? If so, set the class name to NavigationBar where appropriate.

[2017-09-12 01:49] danieldahan commented on #853
I will take a look tomorrow :)

[2017-09-12 01:53] Ccmi commented on #861
No.
![image](https://user-images.githubusercontent.com/17047142/30304441-2e19ab7c-9733-11e7-9195-1ee219e8698e.png)

[2017-09-12 01:54] danieldahan commented on #861
Okay, I haven't updated Material for Xcode 9. So I will add this issue to that Feature Request and get back to you ASAP :)

[2017-09-12 01:54] danieldahan commented on #773
Adding issue: https://github.com/CosmicMind/Material/issues/861#issuecomment-328708212

[2017-09-12 01:55] Ccmi commented on #861
Thank you very much!

[2017-09-12 02:11] robertying commented on #783
I also found this issue in the simulator but the problem will not appear in the real devices. Better use actual devices to run the app.

[2017-09-12 02:15] robertying commented on #861
@Ccmi Have you tried `navigationController?.navigationBar`?

[2017-09-12 02:32] Ccmi commented on #861
@robertying Yes, In xcode 9 beta 6 is nil.

[2017-09-12 19:44] danieldahan commented on #773
Adding issue: https://github.com/CosmicMind/Material/issues/783

[2017-09-14 01:12] danieldahan commented on #861
I am preparing Material for Xcode 9 and iOS 11. I will get back to you within a couple days. Most likely a release and update as well :)

[2017-09-14 14:32] danieldahan commented on #823
The features that will be worked on have been added in separate issues or released. I will make note of this checklist. This issue will be closed now :) Thank you!

[2017-09-14 14:32] #823 closed

[2017-09-16 02:19] eforth opened #863 "navigationDrawerController transition to UITabBarController crash"
My app crashes whenever I try to transition using the `navigationDrawerController?.transition(to: UIViewController)` to a UITabBarController. It doesn't crash if there no view controllers attached to the UITabBarController.

[code]

[2017-09-17 12:48] danieldahan commented on #863
Can you send a sample project with your setup? Thank you!

[2017-09-17 12:57] danieldahan commented on #861
Can you test the `development` branch please?

[2017-09-17 15:47] danieldahan commented on #505
Adding PR https://github.com/CosmicMind/Material/pull/864

[2017-09-17 16:43] danieldahan commented on #783
I have made an adjustment for this, now it centers correctly. That said iOS 11 introduces a new view container within the hierarchy. So I am working out that last issue.

[2017-09-19 19:40] WillMays1 opened #865 "Swift 4 Conversion"
Swift 4 breaks Material please update

[2017-09-19 19:56] danieldahan commented on #865
Try the development branch for now :) it has been updated. All the best :)

[2017-09-19 19:56] #865 closed

[2017-09-19 23:56] WillMays1 commented on #865
What’s the url

On Tue, Sep 19, 2017 at 3:56 PM Daniel Dahan <notifications@github.com>
wrote:

[2017-09-19 23:56] WillMays1 commented on #865
What’s the url?

[2017-09-20 00:24] danieldahan commented on #865
https://github.com/CosmicMind/Material/tree/development

[2017-09-20 00:27] WillMays1 commented on #865
Error In:

class Base: UIControl {

under

func prepare() {

self.addTarget(self, action: #selector(didTap), for: .touchUpInside)

Argument of '#selector' refers to instance method 'didTap()' that is not exposed to Objective-C
Add '@objc' to expose this instance method to Objective-C

[2017-09-20 00:28] danieldahan commented on #865
Sorry about that. That is a commit that was PRed into the repo recently. It has not been groomed yet for the framework. Use this commit: 6b0bd134d458a1b3250985bf920cac952b799e9a. All the best!

[2017-09-20 02:11] HowardCsie commented on #836
@danieldahan Excuse me Is there any branch swift4 supported?

[2017-09-20 02:13] danieldahan commented on #836
Hey, checkout this commit https://github.com/CosmicMind/Material/commit/6b0bd134d458a1b3250985bf920cac952b799e9a from the https://github.com/CosmicMind/Material/tree/development branch :)

[2017-09-20 02:13] #836 closed

[2017-09-20 02:14] HowardCsie commented on #836
Thanks :)

[2017-09-20 06:30] melcug commented on #823
Function to change active tabs by horizontally swiping content view is already in production or not yet?

[2017-09-20 07:17] melcug opened #866 "TabsController delegate func not fired"
Using
`tabsController?.select(at: tabIndex)`
the new tab item is selected, the content view of the tab is changed, but tabBar(tabBar: TabBar, willSelect tabItem: TabItem) delegate function is not fired.

[2017-09-20 07:23] quanguyen opened #867 "Swift 4 - Extra argument in call"
Hi,

I just migrated to Swift 4.

When compiling, it raises the error below:

<img width="1104" alt="screen shot 2017-09-20 at 2 19 41 pm" src="https://user-images.githubusercontent.com/11938078/30631544-c991b9aa-9e0e-11e7-83e5-a3f785bcf8ac.png">

How should I fix this?

Sided question: when is the new Material version, that is compatible with Swift 4, released?

Regards

[2017-09-20 08:35] melcug opened #868 "Statusbar Investigation"
![statusbar](https://user-images.githubusercontent.com/8708178/30634375-92dd96e8-9df7-11e7-96d6-a115cfb568d1.png)
Changing the orientation, status bar become invisible or is over the toolbar.

[2017-09-20 13:08] danieldahan commented on #867
Hey, checkout this commit 6b0bd13 from the development branch :)

I am releasing to the master branch by tomorrow :)

[2017-09-20 13:08] #867 closed

[2017-09-20 13:25] danieldahan commented on #823
@melcug  That is only ready as a prototype at the moment.

[2017-09-20 13:26] danieldahan commented on #868
It should be hidden when using an iPhone. Can you share your setup code for this, device, and branch that you are using for Material?

[2017-09-20 13:28] danieldahan commented on #866
Delegation methods are only fired when the user interacts with the application. You can utilize the callback available:

[code]

In general, delegates should only be fires when the user interacts with a control.

[2017-09-20 13:28] #866 closed

[2017-09-20 13:29] danieldahan commented on #863
Hey, I haven't heard from you. If you need please reopen this issue :) Thank you!

[2017-09-20 13:29] #863 closed

[2017-09-20 13:30] danieldahan commented on #861
@Ccmi Hey, checkout this commit https://github.com/CosmicMind/Material/commit/6b0bd134d458a1b3250985bf920cac952b799e9a from the [development](https://github.com/CosmicMind/Material/tree/development) branch :)

[2017-09-20 15:59] melcug commented on #868
I am using the latest release of Material.
The screenshots are taken in Simulator.
In first application (blue toolbar) i don't use a NavigationDrawer controller, but in second application I do.

On second application, in the output window is shown, when I change the orientation in the Simulator, the following message:

printed by

[code]

[2017-09-20 22:39] tys-bradford opened #869 "TextField crash on iOS 11"
Including a TextField in a ViewController via storyboard is causing app to crash when UIViewController is instantiated with the error:

Stack trace is showing me that this is caused by line 111 in TextField.swift

To fix, I needed to check if placeholderLabel was nil before trying to access the .text property.

Seems like something in iOS11 has changed since this was not a problem in previous OS v

[2017-09-20 22:40] danieldahan commented on #869
What version of Material are you using? Can you share you setup code?

[2017-09-20 22:43] tys-bradford commented on #869
I am using CocoaPods:

pod 'Material', '~> 2.0'

[2017-09-20 22:44] danieldahan commented on #869
Checkout this commit 6b0bd13 from the development branch :)

[2017-09-20 22:51] tys-bradford commented on #869
Thanks, but not really sure how this commit fixes the issue as it doesn't apply any changes to Textfield.swift

[2017-09-20 22:52] danieldahan commented on #869
It is the latest version for iOS 11 that I have pushed.

[2017-09-20 22:58] tys-bradford commented on #869
Got it thanks. Do you think this will be merged to master anytime soon?

[2017-09-21 06:08] tianqiujie opened #870 "xcode 9 has error !"
![image](https://user-images.githubusercontent.com/2835129/30681108-60a04938-9e69-11e7-80bb-3362b4c2fa2a.png)
please help me.  version:2.10.2

[2017-09-21 06:52] #870 closed

[2017-09-21 12:58] danieldahan commented on #870
If you need Xcode 9 support, checkout this commit 6b0bd13 from the development branch :)

[2017-09-22 14:50] SandroMachado opened #871 "Update from 1.37.3 to 2.10.2"
Hi,

I am experiencing some difficulties to update from version `1.37.3` to `2.10.2`, I tried to follow the changelog without luck.

I want to update the following code:

[code]

The `detailLabelAnimationDistance` is not available anymore?
The `titleLabel` change to `leftLabel`?

Can someone help converting this code to the latest version?

Some things like the color I were able to convert, like `

[2017-09-22 14:51] danieldahan commented on #871
Hey :)
Are you using Xcode 9 with Swift 4, or using Xcode 8.* with Swift 3.*?

[2017-09-22 14:52] SandroMachado commented on #871
Hi @danieldahan, Xcode 8.* with Swift 3.*.

[2017-09-22 14:53] danieldahan commented on #871
Cool, I can take a look a little later today. I think it would be better to move this conversation to [Material Gitter](http://gitter.im/CosmicMind/Material). So please post their the issue and I will be happy to help :)

[2017-09-22 14:53] #871 closed

[2017-09-22 14:54] SandroMachado commented on #871
Sure 👍

[2017-09-22 15:09] karstengresch opened #872 "Swift 4: TableViewCell Dynamic Height Adjustment"
Following the CardTableView example from https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/CardTableView

I wrote a simple app which got broken after moving to XCode 9 and Swift 4 as e.g.

[code]
(like in https://github.com/CosmicMind/Samples/blob/master/Projects/Programmatic/CardTableView/CardTableView/CardTableViewCell.swift)

isn't working anymore.

Results in the compiler

[2017-09-22 15:17] danieldahan commented on #872
It looks like you are trying to set a value that is read-only `heightPreset.rawValue`. If you would like to do what you are doing, try this:

[code]

where appropriate.

[2017-09-22 15:38] karstengresch commented on #872
Thanks for your extremely quick answer first!

Actually the code is yours 😄 : https://github.com/CosmicMind/Samples/blob/master/Projects/Programmatic/CardTableView/CardTableView/CardTableViewCell.swift

[code]

Hm, why would I _return_ something in the _setter_? I'm sorry not understanding your hint...

I guess, I need to wait until there's a Samples branch for Swift 4...

Best wishes,

Karsten

[2017-09-22 15:40] danieldahan commented on #872
Lol, I knew it looked familiar ;) Well, I am updating the sample today and over the weekend. So You should have this available shortly. I am going to close this for now, as all samples will be looked at. Thank you!

[2017-09-22 15:47] karstengresch commented on #872
:) Thanks. Wish I could support you somehow in this Herculean task.

?

Anyway, have wonderful hackish weekend!

:)

[2017-09-22 15:48] danieldahan commented on #872
Anything helps my friend :) Pointing out this issue was a great start. Thank you!

[2017-09-22 15:52] karstengresch commented on #872
You're my hero, love this attitude :)

[2017-09-23 10:54] HowardCsie opened #874 "Viewcontroller animated weird when swiping out of Navigation Controller from edge"
As Title. Thanks:)

Material Navigation Controller
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/17197816/30772439-afa3733a-a020-11e7-9b88-3cf369f2fbc9.gif)

UINavigationController
![ezgif com-video-to-gif 1](https://user-images.githubusercontent.com/17197816/30772552-7565a1f4-a023-11e7-8190-b6bcbb794378.gif)

[2017-09-24 05:12] GreyEcologist opened #875 "Decouple SnackbarController"
Hey, is there way to use the SnackbarController without setting a rootViewController? I have a Navigation Stack and I use UI ViewControllers transitions, so I've haven't been able to refactor my stack and making the call below:

 rootviewcontroller = AppSnackbarController(rootViewController: RootViewController())

Is this the only way to call the SnackbarController?

[2017-09-25 11:44] apps4everyone opened #876 "Swift 4.0: didTap() needs @objc"

[2017-09-25 15:48] danieldahan commented on #876
This has been updated in the [development](https://github.com/CosmicMind/Material/tree/development) branch and will be released in the next release. Thank you for notifying us :)

[2017-09-25 15:48] #876 closed

[2017-09-25 15:51] danieldahan commented on #874
Very interesting, I will see if I can reproduce this. If you have a reproducible project, please share :) Thank you!

[2017-09-25 15:54] danieldahan commented on #875
The easiest method for your issue is to set the navigation stack as the root view controller. Otherwise, look at the controller logic and copy that into your view controller, or subclass the SnackbarController and then add the details into your view controller as is. Other than that, until we refactor this design pattern, there isn't another option.

[2017-09-25 15:54] #875 closed

[2017-09-25 15:55] danieldahan commented on #868
Are you using the latest [development](https://github.com/CosmicMind/Material/tree/development) branch version? If so, can you send over a reproducible project. Also, I don't rely on simulators as they are buddy. This should be tested on a device. I await to hear from you :)

[2017-09-25 19:53] Coppola-Aleandro opened #877 "Declarations from extensions cannot be overridden yet"
in xcode9 in new project, when I build my app occurred this error: "Declarations from extensions cannot be overridden yet"

[2017-09-25 19:55] danieldahan commented on #877
Make sure to use the `development` branch for now :) If the issue persists, please reopen it. Thank you!

[2017-09-25 19:55] #877 closed

[2017-09-25 20:07] Coppola-Aleandro commented on #877
Not working with: pod 'Material', '~> 2.0' but i downloaded the Material Project and changed the core files and working!

[2017-09-25 20:08] danieldahan commented on #877
Hmmm interesting. I am going to prepare the Swift 4 release tonight, so I will be double checking tonight.

[2017-09-25 20:10] Coppola-Aleandro commented on #877
Good!! 👍

[2017-09-26 14:51] katunch opened #879 "swift 4 plans?"
I'm using Material framework under swift 3.1 (Xcode 8.x) but now under swift 4 (Xcode 9) it is not able to compile.. are there any plans to convert to swift 4?

[2017-09-26 14:52] danieldahan commented on #879
Yeah, the `development` branch supports Swift 4 :) It will be in the master branch shortly. Thank you and all the best!

[2017-09-26 14:52] #879 closed

[2017-09-26 15:42] yasirmturk opened #880 "material stretchable table header"
how to make the stretchable sticky uitableview header using this library.. i have checked all the samples there is nothing like that?? thanks

[2017-09-27 04:34] spot-developers opened #881 "Getting Swift Compiler Issues (Declarations from extensions cannot be overridden yet)"
Generates subsequent errors in ambiguous use of cornerRadiusPreset and shapePreset members.

Building using Swift 4.0 and Xcode 9.0 (9A235)

[2017-09-27 04:43] mohpor commented on #881
@spot-developers
Can you tell us more about the issue you're having?
What method of integration are you using? (Cocoapods? Source?)
What Branch are you on? Are you using `development` branch?

[2017-09-27 04:45] spot-developers commented on #881
Ignore above - realised not using development branch for Swift 4 support.

[2017-09-27 04:45] #881 closed

[2017-09-27 07:04] Sreekanth1234 commented on #372
Hi,

    I'm using MaterialComponents.MaterialAppBar, I want know how change navigationBar tintColor.... leftBarButtonItem image height is showing bigger....I tired I didn't get

Here is my code 👎

    override func viewDidAppear(_ animated: Bool) {
        super.viewDidAppear(true)

        addChildViewController(appBar.headerViewController)
        appBar.headerViewController.headerView.backgrou

[2017-09-27 08:38] LuckyFA opened #882 "ErrorTextField error"
I updated to Xcode 9, the Project itself is working.
If dismiss a ViewController with an ErrorTextField in it, i get this Error:

Do not add subviews directly to the visual effect view itself, instead add them to the -contentView.

Layout.swift; Line 974

[code]

[2017-09-27 08:42] mohpor commented on #882
@LuckyFA
This is not directly related to Material. Please check if you are trying to Layout the TextField directly to a `VisualEffectView`.
Thanks

[2017-09-27 08:42] #882 closed

[2017-09-27 15:26] danieldahan commented on #372
@Sreekanth1234 I believe you want to post your question to this repo https://github.com/material-components/material-components-ios :) All the best!

[2017-09-27 17:51] HybridHB opened #883 "Card layout constraint issue [Help Wanted]"
Hello, Im having issues with a scroll view with 2 cardViews as subviews. The card views are arranged one above another (cardA above cardB). They are arranged on the screen using the layout frame work.

scrollView.addSubview(cardA)
scrollView.addSubview(cardB)
scrollView.layout(cardA).horizontally(left: 8, right: 8).centerHorizontally().top(8)
scrollView.layout(cardB).horizontally(left: 8, right: 8

[2017-09-27 17:52] danieldahan commented on #880
Hey! I would need to make a sample for this, would you be able to create an issue in the Samples repo and describe what you would like with images and / or links? Thank you!

[2017-09-27 17:52] #880 closed

[2017-09-28 13:23] Dengekiko opened #884 "Declarations from extensions cannot be overridden yet + Ambiguous use of corner radius"
This is where the issue lies according to Xcode:

[code]
[code]
The three corner radii are
[code]
[code]
[code]
I am using swift 4 with Xcode 9.

[2017-09-28 13:56] danieldahan commented on #884
Hey :) Are you using the `development` branch?

[2017-09-28 17:42] danieldahan commented on #883
Hey! Have you had a chance to look at these two samples, [CardTableView](https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/CardTableView) and [CollectionView](https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/CollectionView)?

One uses a CollectionView and the other a TableView to accomplish a feed style view controller with Cards. That said, is that wha

[2017-09-28 21:25] Coppola-Aleandro commented on #884
I have the same problem!
Card.swift
-Declarations from extensions cannot be overridden yet + Ambiguous use of 'cornerRadiusPreset'
- same for shapePreset

[2017-09-28 22:12] Coppola-Aleandro commented on #884
I resolved it with:
pod 'Material', :git => 'https://github.com/CosmicMind/Material.git', :branch => 'development'

@Dengekiko @danieldahan #

Thanks!! 👍

[2017-09-29 13:33] choxxy opened #885 "FAB Menu without Item"
How do I display the fabMenu without Items attached ?

[2017-09-29 13:43] choxxy commented on #885
Figured it out.

[2017-09-29 13:43] #885 closed

[2017-09-29 14:30] danieldahan commented on #885
Cool :)

[2017-09-29 14:31] danieldahan commented on #884
Awesome :) I am closing this issue.

[2017-09-29 14:31] #884 closed

[2017-09-30 06:45] choioi opened #886 "Fix Leak motion!"
i have a tabbar and when i set isMotionEnabled = true is my viewdidload, after dimiss still have ref strong.. that why make alot instance when i push or present or change root view. so this is my fix !

this is Fix : add weak before  var previousNavigationDelegate
File Motion+UIViewController.swift !

[code]

[2017-09-30 19:53] mortenholmgaard commented on #269
@danieldahan Any news on this? - I can't find the component or any notes about its state

[2017-09-30 19:54] danieldahan commented on #269
@mortenholmgaard nothing yet.

[2017-10-01 10:59] Coppola-Aleandro opened #887 "Bottom Tab Navigation with Toolbar"
Hi have this flow:

let appBottomNavigationController = AppBottomNavigationController()
        appBottomNavigationController.viewControllers = [
            AppToolbarController(rootViewController: FirstViewController()),
            AppToolbarController(rootViewController: SecondViewController()),
            AppToolbarController(rootViewController: InterstitialController()),
            AppTool

[2017-10-01 22:10] danieldahan commented on #883
I haven't heard from you. If you still face the issue, please reopen it. Thank you!

[2017-10-01 22:10] #883 closed

[2017-10-01 22:11] danieldahan commented on #886
This has been fixed in `development` and will be released shortly.

[2017-10-01 22:12] danieldahan commented on #868
Hey! I haven't heard from you. If you still face this issue, please reopen it. Thank you!

[2017-10-01 22:12] #868 closed

[2017-10-02 04:05] seongminnpark opened #888 "Transitions using NavigationDrawerController with NavigationController"
Hello. I am trying to achieve the same behavior as the [NavigationDrawerController](https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/NavigationDrawerController/NavigationDrawerController) sample with `NavigationController` and `NavigationDrawerController`.

The sample uses a `ToolbarController`, however, and calls the following in its `NavigationDrawerController` to transiti

[2017-10-02 04:17] seongminnpark commented on #888
For reference, the following is my AppDelegate that initializes the app.

`let appNavigationController = AppNavigationController(rootViewController: DiscoverViewController())
        let leftViewController = MenuViewController() // This view contains buttons with ViewController names.

        window = UIWindow(frame: UIScreen.main.bounds)
        window!.rootViewController = AppNavigationDrawerCo

[2017-10-02 13:13] #773 closed

[2017-10-02 13:13] #845 closed

[2017-10-02 13:13] #861 closed

[2017-10-02 14:38] danieldahan commented on #886
Fixed :) You can download the latest in [Material 2.10.3](https://github.com/CosmicMind/Material/releases/tag/2.10.3). Thank you!

[2017-10-02 14:38] #886 closed

[2017-10-02 22:19] HybridHB commented on #883
Sorry for the late response, Ive been working on converting my view to use a CollectionView as you suggested and finally got it working. FWIW my original code used to work on release 2.4.12. I only recently updated the material package for swift 4 support and thats when I saw the issue of xy positions changing after a card size change and layout although I dont know when exactly layout changed in

[2017-10-03 07:08] alvincrisuy opened #889 "Swift Compiler Error"
<img width="993" alt="screen shot 2017-10-03 at 3 05 17 pm" src="https://user-images.githubusercontent.com/7260700/31113548-6744cccc-a84c-11e7-9d81-ef7b99c16611.png">

Xcode 9
iOS 11.0

[2017-10-03 07:16] mohpor commented on #889
@alvincrisuy
Can you provide us with the `Swift Language Version` build setting of your target?
thanks

[2017-10-03 07:24] slxl commented on #889
@mohpor
since I have the same error [happened exactly at the same moment of time :)  - 13 mins ago]:

1. For app target I have 3.2
2. For pods - post_install action which writes 3.2 to all pod targets as well

[2017-10-03 07:25] slxl commented on #889
+ there are few others:

![2017-10-03 14 25 11](https://user-images.githubusercontent.com/3089985/31114108-b0abfbc0-a846-11e7-8a95-d530115a6f6e.png)

[2017-10-03 07:30] mohpor commented on #889
I guess the problem is that you are using 3.2, it needs to be 4. You can specifically set 4 to be used by Material (if you don't want all your pods to use Swift 4). just add the following code at the end of your pod file:

[code]

[2017-10-03 07:40] alvincrisuy commented on #889
Thanks! that did the trick! 😄

[2017-10-03 07:41] mohpor commented on #889
I'm glad it did.
Have a nice day

[2017-10-03 07:41] #889 closed

[2017-10-03 09:44] theolof opened #890 "Help with compiling, Swift 4"
I'm trying to convert my project to Swift 4, but it's aborting at compile time.
It says "note: compiling as Swift 3.2" but I'm trying really hard to compile with Swift 4, no idea why it says so.

Any ideas on how I can fix this?

I have "Swift Language Version" set to "Swift 4.0" for the project.
In the Podfile, I do
[code]
This is the error I get:
[code]

and further down

[code]

[2017-10-03 09:50] mohpor commented on #890
@theolof
If you want your project to compile as Swift 4, you need to set Swift Language Version to swift 4 in **Target**'s build setting, not the project's.
If you do so, you don't need to set the pod's swift version in the pod.
Am I missing something here?

[2017-10-03 09:55] theolof commented on #890
Ah, thanks. I didn't know that the target doesn't inherit from the project. Hopefully it'll work now.

[2017-10-03 09:55] #890 closed

[2017-10-03 09:57] mohpor commented on #890
Hope it helps with the migration to Swift 4.
Good luck

[2017-10-03 13:34] danieldahan commented on #890
@mohpor Thank you for help :)

[2017-10-03 13:46] danieldahan commented on #883
@HybridHB If you believe there is an issue, let's solve it :) I'd be happy to investigate this with you.

[2017-10-03 13:54] danieldahan commented on #887
Hey! So two things I would like to ask, have you setup the buttons within the view controller for the bottom nav? Can you share a screen shot of your views rendering using Xcode's inspector?

<img width="187" alt="screen shot 2017-10-03 at 9 53 56 am" src="https://user-images.githubusercontent.com/9982123/31128799-d3d04532-a820-11e7-8000-0004bf5dad76.png">

[2017-10-03 13:58] danieldahan commented on #888
@seongminnpark Hey :)

When using the `NavigationController`, you actually want to use the `pushViewController` method. The Toolbar was custom built so it has a slightly different interface. The NavigationController is subclassed from UINavigationController, so most of its features from there. So you can do this:

[code]

Take a look at this line in the `NavigationController` sample project https:

[2017-10-03 13:58] #888 closed

[2017-10-04 06:40] theolof opened #891 "addAttributes conflict with Swift 4"
In `Material+NSMutableAttributedString.swift`:
[code]
This conflicts with addAttributes in `Foundation.NSAttributedString.swift`:
[code]
A workaround is to use `updateAttributes` until it's fixed.

[2017-10-04 07:02] Shivaprabhu049 opened #892 "Facing Issues in Both swift3 and swift4"
Lot of compile time errors after updating the podfile
![screen shot 2017-10-04 at 12 24 35 pm](https://user-images.githubusercontent.com/13536023/31163449-10778830-a900-11e7-9cd7-07ccc29e0d01.png)
![screen shot 2017-10-04 at 12 25 02 pm](https://user-images.githubusercontent.com/13536023/31163450-12b31e5c-a900-11e7-8f91-c75a23a48679.png)
![screen shot 2017-10-04 at 12 25 10 pm](https://user-images

[2017-10-04 08:48] mohpor commented on #892
@Shivaprabhu049
Could you elaborate on the settings of the workspace you are testing with?
`2.10.3` is Swift 4 only. You need to either set your **Target**'s `Swift Language Version` to 4, or
set the swift version for Material pod in your pod file (see #889)

[2017-10-04 12:52] danieldahan commented on #891
Hmm... can you show me the error for this. I don't see it when I compile. Thank you!

[2017-10-04 17:06] chilinh opened #893 "NavigationController: hidesBottomBarWhenPushed with isMotionEnabled introduces bug with iOS 11"
I make an app with view controller structure like BottomNavigationController with 4 tabs as NavigationController.
I want to enable isMotionEnabled in NavigationController to use Motion api when push childViewController. If I set childViewController. hidesBottomBarWhenPushed = true when push, after pop that viewController and back to the NavigationController, the BottomBar can not be interacted.
If

[2017-10-04 17:47] danieldahan commented on #893
Can you send me a sample project that highlights this issue?

[2017-10-04 18:36] chilinh commented on #893
Sample project to show this issue is [here](https://github.com/chilinh/SampleNavigationController)
And I have another issue here: if BaseNavigationController doesn't extend UINavigationController but NavigationController, app will crash on iOS 10

[2017-10-04 18:42] chilinh commented on #874
This happens because of [contentInsetAdjustmentBehavior](https://developer.apple.com/documentation/uikit/uiscrollview/2902261-contentinsetadjustmentbehavior).
I guess you use UITableView for Navigation root view controller so you can add this code to viewDidLoad of that controller:
`if #available(iOS 11.0, *) {
    tableView.contentInsetAdjustmentBehavior = .never
}`

[2017-10-05 02:10] HowardCsie commented on #874
@chilinh Thank you! It works.

[2017-10-05 02:10] #874 closed

[2017-10-05 05:12] ybanezmarjune opened #894 "Swift 4 (XCode 9)"
I got error when upgrading to XCode 9.

![screen shot 2017-10-05 at 1 11 33 pm](https://user-images.githubusercontent.com/6849087/31211829-d706b4fc-a9ce-11e7-8104-29e326f95757.png)

[2017-10-05 05:27] mohpor commented on #894
@ybanezmarjune
Have you seen #890?
I think your issue might be related.

[2017-10-05 05:56] ybanezmarjune commented on #894
This will fix the error. Thank you @mohpor
![screen shot 2017-10-05 at 1 55 06 pm](https://user-images.githubusercontent.com/6849087/31212745-d541ed48-a9d4-11e7-8b4e-2ad142925fc8.png)

[2017-10-05 05:56] #894 closed

[2017-10-05 05:59] Sreekanth1234 commented on #372
@danieldahan , I have tried my level best..But I didn't get solution of leftSide BarButtonItem..I'm for iOS app Development...

Without Coding 👎

<img width="376" alt="screen shot 2017-10-04 at 3 33 50 pm" src="https://user-images.githubusercontent.com/23524697/31212539-becd64b8-a9be-11e7-858d-fa7d014b845d.png">

WithCoding 👎

    override func viewDidLoad() {
        super.viewDidLoad()

[2017-10-05 07:34] Sreekanth1234 commented on #372
@danieldahan  , No need ur help...I have done myself.....Thank you

[2017-10-05 09:09] titiphoque commented on #891
I have the same issue :

`Material.NSMutableAttributedString:7:15: note: found this candidate
    open func addAttributes(_ keys: [NSAttributedStringKey : Any], range: NSRange)
              ^
Foundation.NSMutableAttributedString:4:15: note: found this candidate
    open func addAttributes(_ attrs: [NSAttributedStringKey : Any] = [:], range: NSRange)`

Why do you have this method in your extension

[2017-10-05 13:34] WillMays1 opened #895 "UITextFiled Placeholder"
I have 5 UITextFields and have information stored in them which always leaves the placeholder above the text. Is there anyway to move it down closer to the text? It seems like it is very high. I don’t know if this is a bug or what. I can post a screenshot

[2017-10-05 14:17] theolof commented on #891
Compilation error:
[code]

[2017-10-05 16:33] Zangoran opened #896 "List of all components?"
Is there a list of all the components that this framework adds? If so, where is it located. Does it have pictures and examples of it being used? Thanks!

[2017-10-06 13:05] TheAsadHayat opened #897 "Any body have insight on this issue???"
Crashed: com.apple.main-thread
0  libswiftCore.dylib             0x103e0d1fc specialized _fatalErrorMessage(StaticString, StaticString, StaticString, UInt, flags : UInt32) -> Never + 120
1  Material                       0x102f4151c _TFE8MaterialCSo6UIView18transitionSnapshotfT12afterUpdatesSb10shouldHideSb_S0_ + 1872
2  Material                       0x102f42064 _TToFE8MaterialCSo6UIView18transit

[2017-10-06 15:06] danieldahan commented on #897
Can you send over a project that reproduces this issue?

[2017-10-06 15:08] danieldahan commented on #896
There are [sample projects](https://github.com/CosmicMind/Samples) you can use. As well, we will be demonstrating many new things that can be done with Material this month as we have finished our documentation tool :)

[2017-10-06 15:08] #896 closed

[2017-10-06 15:16] danieldahan commented on #891
I removed that function :) in this release [Material 2.10.4](https://github.com/CosmicMind/Material/releases/tag/2.10.4). Thanks for sharing.

[2017-10-06 15:16] #891 closed

[2017-10-06 15:18] danieldahan commented on #895
Hey! You can use this `placeholderVerticalOffset`, `placeholderHorizontalOffset`, and `placeholderActiveScale` in order to customize the distance and scale on both axis.

[2017-10-06 15:18] #895 closed

[2017-10-06 15:19] danieldahan commented on #372
@Sreekanth1234 okay, we are here if you need :)

[2017-10-06 15:22] danieldahan commented on #893
@chilinh thank you! I will take a look at the sample.

[2017-10-06 15:26] Zangoran commented on #896
@danieldahan Does the documentation tool include the list of each elements and their usage?

[2017-10-06 15:32] danieldahan commented on #896
It will include that and more, but mind you, Material is a tool to make any component really, so you can always go beyond what we supply.

[2017-10-06 15:51] Zangoran commented on #896
@danieldahan Yeah, of course. Where can one access the documentation?

[2017-10-06 15:53] danieldahan commented on #896
It will be available on either CosmicMind.com or MaterialSwift.com. We are deciding on how we will roll this out. I am starting to put it together here https://www.cosmicmind.com/danieldahan/lesson/7.

[2017-10-06 15:55] Zangoran commented on #896
@danieldahan Awesome! Just let me know when its live. Thanks!

[2017-10-06 15:56] danieldahan commented on #896
@Zangoran Will do!

[2017-10-06 16:48] muppetkermit commented on #892
version 2.x already have swift 4.0 codes. Could you upgrade version 3.0 ( maybe 4.0 ) so conflicts would resolve.
Have a nice day.

[2017-10-06 16:52] danieldahan commented on #892
@muppetkermit What do you mean version 3.0?

[2017-10-06 18:26] muppetkermit commented on #892
I mean release label 2.x for before swift 4.0 and Material label 3.0 for swift 4+ support would be nice

[2017-10-06 20:03] yasirmturk commented on #860
+100

[2017-10-06 20:03] yasirmturk commented on #860
i do this on viewdidload

[2017-10-06 20:04] yasirmturk commented on #855
i think this is similar to what i seek https://github.com/CosmicMind/Samples/issues/69

[2017-10-09 08:48] paraschodavadiya commented on #858
Still getting same issue.

[2017-10-09 10:06] ahmedsafadii opened #898 "missing feature after update to swift 4"
<img width="254" alt="screen shot 2017-10-09 at 1 05 25 pm" src="https://user-images.githubusercontent.com/6974081/31333403-9f322c24-acf2-11e7-8f9d-1852e18850cc.png">

after update no border color or width or radius and so on ..