[2016-10-26 18:44] danieldahan commented on #568
@reidmain cool :)

[2016-10-26 18:53] reidmain commented on #568
So here is an example of how the positioning of the placeholder label changes based on the height of the text field.

[code]
![height 50](https://cloud.githubusercontent.com/assets/535202/19740148/7cc74ce2-9b72-11e6-982b-4a105330d327.png)

[code]
![height 100](https://cloud.githubusercontent.com/assets/535202/19740159/88ec4a0e-9b72-11e6-818d-1d13e8796316.png)

You can see how the placeholder label

[2016-10-26 19:04] reidmain commented on #568
Actually @danieldahan could you confirm something for me? I would expect `placeholderNormalColor` to be the color of the placeholder label when the text field is not the first responder. I would then expect `placeholderActiveColor` to be the color of the placeholder label when the text field becomes the first responder. Currently it looks like `placeholderActiveColor` just corresponds to the color

[2016-10-26 19:05] danieldahan commented on #568
It should be the former, where the colors correspond to the different states.

[2016-10-26 19:09] reidmain commented on #568
So this screenshot from the samples app indicates a bug then? The "Name" text should also be pink?

![placeholder color](https://cloud.githubusercontent.com/assets/535202/19741280/ee53e2b0-9b74-11e6-9763-82b96f82ec54.png)

[2016-10-26 19:23] danieldahan commented on #568
It should, I will look into it. I will make this issue as a bug.

[2016-10-26 21:35] reidmain commented on #568
I'm now confident that the placement of the placeholder label is also a bug. Say you have a textfield whose top is flush with the bottom of some other view, the placeholder label will now overlap that other view. You'd have to put padding into between the text field and the other view and that padding would need to be a function of the height of the text field which, in my opinion, is not ideal. Y

[2016-10-27 11:14] DennisNehrenheim opened #569 "Recommended Implementation: CardView with dynamic number of subViews"
Do you have a recommendation regarding such an implementation:
![mockup](https://cloud.githubusercontent.com/assets/19328249/19765005/638eb8ee-9c46-11e6-97e9-491ad27dc4ea.png)
I need to have grouped sections in a Material Card Layout.
The sections include a variable number of cells.
The cells per section are not fix and they can differ like shown in the picture. Some will have switches, some textf

[2016-10-27 13:57] Sufi-Al-Hussaini opened #570 "MenuController messes up navigationItems"
Hi Daniel,

I'm migrating my project to Swift 3. I was using a `Menu` with `FabButtons` before and I'm trying to change it to the new `MenuViewController` approach.
[code]

Now, I'm still using `FabButtons` (instead of `MenuItems`) and do:
[code]

I'm using your `MenuController` project in `Samples` as reference. I see that you are setting the `rootViewController` as an instance of `AppMenuControl

[2016-10-27 15:15] okankocyigit opened #571 "Button border with edge insets problem"
If we have a border set on a button that also has content insets, borders ignore insets.

[2016-10-27 15:21] okankocyigit commented on #571
It was because i did not set class as Button with Material module, this problem is about default button border property. After I set class it worked.

[2016-10-27 19:07] danieldahan commented on #571
awesome! :)

[2016-10-27 19:19] danieldahan commented on #570
Hi @Sufi-Al-Hussaini Yes, I can help.

So the latest Menu, MenuView, and MenuViewController have all been consolidated into Menu and MenuController.

Originally, there was a control called Menu that was wrapped by a UIView called MenuView. Now they are together in a single View object called Menu.

If you would like, you are able to place that in your current UIViewController as a subview, and the

[2016-10-27 19:19] #570 closed

[2016-10-27 19:23] danieldahan commented on #569
Yes, I can make a suggestion, which version of Material are you using ?

[2016-10-27 20:00] danieldahan commented on #568
Agreed. I am going to spend the weekend to make the necessary changes and push an update :)

[2016-10-27 20:09] reidmain commented on #568
Much appreciated @danieldahan. Let me know if you need anything tested.

[2016-10-27 20:11] danieldahan commented on #568
Will do, when I am done we will test against your use case.

[2016-10-28 09:10] babatimmai opened #572 "[Textfield] Can I set divider active color?"
I use Textfield material, and I want to set my divider color for active state but now I can't.
Can you help me?

Thank you so much,

[2016-10-28 13:28] danieldahan commented on #572
Hey, yes, I can help. Here is some sample code that shows properties you can set to change the color states.

[code]

All the best :)

[2016-10-28 13:28] #572 closed

[2016-10-28 14:12] DennisNehrenheim commented on #569
Version 2.0

[2016-10-28 16:42] danieldahan commented on #569
Excellent. So in the latest version there are few things to consider. Each card has a structure that includes an area that can be any UIView. In the `Card` and `ImageCard`, it is known as the `contentView` and in the `PresenterCard` there are two areas, `presenterView` and `contentView`.

All the cards then have a common `Toolbar` that adjusts to the layout and bottom `Bar` type that is always at

[2016-10-28 16:42] #569 closed

[2016-10-28 18:07] Sufi-Al-Hussaini commented on #570
Thank you for your help Daniel.

I'm able to add the `Menu` to my view controller now.
However, I'm not able to get it to rotate on click. Also, my other buttons don't show up.

I read that the recommended way of accessing the `Menu` is to use a view controllers associated `MenuController`. I believe in my case, I should have a `Menu` property in my view controller.

[code]

In your Menu example,

[2016-10-28 18:11] danieldahan commented on #570
The `Menu` has `open` and `close` methods:

[code]

You can add a handler to your base button, `btn1` triggers the menu to open, and in there, the completion block, or before, you trigger the rotation animation you see in the example.

[2016-10-28 18:37] Sufi-Al-Hussaini commented on #570
Thanks again! Problem solved!

[2016-10-28 18:38] danieldahan commented on #570
wonderful :)

[2016-10-29 15:18] akhilm3 opened #573 "Toolbar Sample Image Spelt Wrong."
It says 'Marterial' instead of 'Material'

[2016-10-29 15:35] akhilm3 opened #574 "Detailed guides for Material."
When will there be some documentation for Material. A lot has changed since I have last used it and a documentation would help me reorient myself and others.

[2016-10-29 15:58] danieldahan commented on #574
Great question. I will aim to put new documentation every day starting today.

[2016-10-29 15:58] #574 closed

[2016-10-29 15:59] danieldahan commented on #573
Ah, thank you. I will make a change for this.

[2016-10-31 15:58] okankocyigit commented on #571
@danieldahan I've faced this problem again, could you please check if I'm doing something wrong?

![ekran resmi 2016-10-31 18 54 09](https://cloud.githubusercontent.com/assets/16730661/19860981/7fffcafe-9f93-11e6-80d5-ff321d02b6ab.png)
![ekran resmi 2016-10-31 18 54 34](https://cloud.githubusercontent.com/assets/16730661/19860984/800246ee-9f93-11e6-9bfd-5a1d3b304ee1.png)
![ekran resmi 2016-10-31 1

[2016-10-31 16:52] danieldahan commented on #571
So I believe I know what the issue is. When the Button is initialized, it removed the insets on initialization. You are using Storyboards, and Storyboards freeze dries the initialization and executes at a different time. I will make an adjustment to correct this. Would you be able to test development to see if the solution works for you?

[2016-10-31 16:58] danieldahan commented on #571
Yes, please try the `development` branch.

[2016-10-31 19:41] #548 closed

[2016-10-31 19:41] #573 closed

[2016-10-31 19:51] okankocyigit commented on #571
yes, this issue fixed in development brach. it's working thanks.

[2016-10-31 19:52] danieldahan commented on #571
Great! I will push the fix with the nest release :) Thank you

[2016-11-01 04:09] danieldahan commented on #571
This is now in master and released in [Material 2.3.0](https://github.com/CosmicMind/Material/releases/tag/2.3.0). Thank you for pointing this issue out.

[2016-11-01 04:09] #571 closed

[2016-11-01 14:07] hamedmohammadi opened #575 "RTL Support"
first of all thank to you for making this useful and brilliant project .
i want to know , how can we use this project for rtl language .i looked at your codes and it is not made with constraints and so it is big problem i think for rtl support .
can i ask why not using constraints ?
is there any way to achieve  rtl material design  using this project?

[2016-11-01 14:22] danieldahan commented on #575
Thank you :)

I am putting this as a feature request on high priority.

[2016-11-01 14:35] hamedmohammadi commented on #575
thanks a lot bro.
i don't have time till next month but i will try to join you as soon as possible.

[2016-11-01 16:13] danieldahan commented on #575
No worries. So you know, the way I am building Material is in layers. I try and solidify each stage of the framework to ensure that when I add more, it has stable foundations. So RTL is a great next step.

[2016-11-01 16:20] danieldahan commented on #568
I will be looking at this more today. Had some "work work" to do :)

[2016-11-01 16:20] danieldahan commented on #551
Hey I will be looking at this later today :)

[2016-11-01 16:22] reidmain commented on #568
@danieldahan totally understand. It's not blocking anything on our end at this moment. We put in some workarounds and the second you have a release out we'll update.

[2016-11-01 16:22] danieldahan commented on #568
Perfect!

[2016-11-02 06:24] danieldahan commented on #551
Linking this issue https://github.com/CosmicMind/Samples/issues/7

[2016-11-03 10:46] Arkezis opened #576 "TextField : placeholderActiveColor not working ?"
Hello,

Seems that placeholderNormalColor is working fine, unfortunately placeholderActiveColor is not working :(
You can try in your Sample, the "placeholder" is always on the same color (activated or not)

Any way to solve this ? :)

Thanks for your awesome work :D

[2016-11-03 13:20] lutzj82 commented on #553
I too am getting this.  I have a tableview inside the view that represents the Left view. I am using autolayout and if i set the width constraint of the tableview equal to the width of the parent view it takes up the entire width of the screen. I am using 2.2.5 of Material

[2016-11-03 16:09] danieldahan commented on #553
@lutzj82 Can you send a sample project to support@cosmicmind.com?

[2016-11-03 16:16] danieldahan commented on #568
I am relating an issue that came in https://github.com/CosmicMind/Material/issues/576

Let's tackle this today :) I will post to development a proposed fix, and if possible, please test.

[2016-11-03 16:20] Arkezis commented on #568
Sure, I'll test it this evening or tomorrow :) (GMT+2 here ;))

[2016-11-03 19:04] gristoi opened #577 "Menu View transitioning issue (swift 3 )"
Hi, i am trying to absorb the great library you guys have built here, but ive hit a bit of a wall. Its either because im not transitioning properly or there is a bug. Im hoping its the first option.

So i followed your programatic sample for menu view, and amended it slightly to use storyboard, so the App Delegate looks like this:

`func application(_ application: UIApplication, didFinishLaunching

[2016-11-03 20:02] danieldahan commented on #577
Hey!

I found storyboards to behave interestingly in some cases. Though, I have never seen this.
I pushed a potential fix to `development`, could you try the `development` branch?

If that doesn't work, then please send a sample to support@cosmicmind.com so I can assess further.

Thank you for bringing this to our attention :)

[2016-11-04 07:46] gristoi commented on #577
sure!, I'll give it a go today

[2016-11-04 08:04] gristoi commented on #577
Hi dan, I gave it a whirl, and see you moved the transistioned vied to the background, which seems to have worked :)

But the menu now does not work when tapped on. I have popped my demo onto my github for you to show the issue, I hope it helps, and anything i can do to help let me know

https://github.com/gristoi/sight-marker

thanks
Ian

[2016-11-04 10:17] minademian opened #578 "Referencing Color in Attributes Inspector"
I'd like to set the background color of a RaisedButton in Xcode's Attribute Inspector to the color codes specified in Color.swift. Is there a way to load/reference them in the GUI?

I'm using the latest version of Material 2 in XCode 8.1 (8B62).

[2016-11-04 17:05] danieldahan commented on #577
@gristoi Yes, the issue there is that your `RootViewController` had the handler set, and now you have a `NewViewController`, so now your handler is not available any longer. This is where you can leverage the `AppMenuController` to put in base code that is shared amongst your transitioning root view controllers.

[2016-11-04 17:45] danieldahan commented on #577
I am going to make a release with the fix to this issue later today. I will close this once that happens, until then, please try to move your handle code to the AppMenuController to avoid loss of the handler functionality :)

[2016-11-04 17:48] gristoi commented on #577
really appreciate the quick response, I will do :)

[2016-11-04 17:56] danieldahan commented on #578
I am investigating a solution for this :)

[2016-11-04 17:57] danieldahan opened #579 "Rework TextView for Editor component."
Reworking the TextView in preparation for a new Editor component.

[2016-11-04 18:07] reidmain commented on #549
Would you like me to open up an issue for how people who are using Carthage do not have the ability to not include features that would trigger privacy warnings?

I understand it is a complex problem with manually created framework targets but I just want to get the team's official opinion on how they would like people to handle it.

At this point in time I am looking at removing Material as a Cart

[2016-11-04 18:08] danieldahan commented on #549
@reidmain Yes please. This is a good issue to have on the board and to tackle. Thank you!

[2016-11-04 18:17] reidmain opened #580 "Can't omit Capture and Photos code for Carthage builds"
When integrating Material using Carthage you are building the entire Material framework and including it in your app. This means you need to include `NSCameraUsageDescription ` and `NSPhotoLibraryUsageDescription` in your Info.plist and provide reasons that you may not have if you are not using those features of Material.

The quick workaround I have is to stop integrating Material with Carthage a

[2016-11-04 18:18] reidmain commented on #549
Done https://github.com/CosmicMind/Material/issues/580

[2016-11-04 18:20] danieldahan commented on #577
The fix for this is in `master` :) [Material 2.3.2](https://github.com/CosmicMind/Material/releases/tag/2.3.2). Thank you for bringing this to our attention.

[2016-11-04 18:20] #577 closed

[2016-11-04 23:34] danieldahan opened #581 "Add Filter Blur as a UIImage extension."
This is a rework of the original `UIImage.filterBlur` for Swift 3.

[2016-11-05 09:00] tomtharakan opened #582 "TextField left icon not working properly in version 2.3.2"
<img width="497" alt="screen shot 2016-11-05 at 14 28 31" src="https://cloud.githubusercontent.com/assets/5616425/20028925/6050ce90-a364-11e6-81f3-e0ae8c207057.png">
<img width="523" alt="screen shot 2016-11-05 at 14 28 55" src="https://cloud.githubusercontent.com/assets/5616425/20028926/605136c8-a364-11e6-945b-d6fa143956d0.png">

[2016-11-05 16:14] minademian commented on #578
thanks a lot. i appreciate the Swift response!

:)

[2016-11-05 16:29] #581 closed

[2016-11-05 16:30] danieldahan commented on #568
Adding this as well https://github.com/CosmicMind/Material/issues/582

[2016-11-05 16:53] danieldahan commented on #582
I am revisiting the TextField to look at the issues that have popped up. Sorry for the inconvenience.

[2016-11-06 06:04] #579 closed

[2016-11-06 13:55] balazsgerlei opened #583 "If you don't set the detail text for a TextField in Storyboard, it won't appear when set from code later"
I use the detail property of TextFields to display an error message when the validation fails for a TextField. After updating to 2.3.2, it won't appear unless I set it in the Storyboard. But I don't want to display anything unless a validation fails, and it was working before switching to 2.x.

My workaround for now is to set a single space as "details" in the Storyboard.

[2016-11-06 14:17] danieldahan commented on #583
Thank you for sharing this. Today I am planning to look at the issues with the `TextField`. Sorry for the inconvenience.

[2016-11-06 14:18] danieldahan commented on #568
Adding this as well https://github.com/CosmicMind/Material/issues/583

[2016-11-06 14:20] danieldahan commented on #568
Adding this as well https://github.com/CosmicMind/Samples/issues/15

[2016-11-06 14:22] balazsgerlei commented on #583
No worries, it is a cool library with a ton of features! ;)
I a currently going through the migration of an app to Swift 3.0 and I know how exhausting it can be.

[2016-11-06 14:23] danieldahan commented on #583
Yes, takes time to maintain Material, that said, it is a lot of fun to do so :)

[2016-11-06 18:04] sverin opened #584 "Device model as enumeration"
At the moment the device model is returned as a string. Wouldn't it be better returned as an enumeration?

[2016-11-06 20:10] danieldahan commented on #584
Yes, that is a great idea. I will put that in the next release.

[2016-11-06 20:49] ZahraShams opened #585 "PageTabBarController"
I Added PageTabbarCotroller with three view controllers. in each of them I used a table view which I added swipe gesture for deleting row. but with swiping instead of table view delete style action ,the the view get transitioned to the other one  . how can I disable pan gesture in page tabbar controller?

[2016-11-06 20:52] danieldahan commented on #585
Try the:

[code]

This currently removes all bouncing from left to right, so will effectively stop the swiping. I plan to refactor this shortly. So to get the page to stop bouncing, set the

[code]

of if you subclassed the `PageTabBarController`, you can set the property to:

[code]

For now this is the easiest way. Let me know how it works, thank you :)

[2016-11-06 22:10] #585 closed

[2016-11-07 00:43] danieldahan commented on #568
@reidmain Hey, so I made these updates to the `TextField`, can you verify:

* [issue-568](https://github.com/CosmicMind/Material/issues/568): fixed issue where `placeholderActiveColor` was not being set correctly when `TextField` was in an active state.
* [issue-568](https://github.com/CosmicMind/Material/issues/568): fixed issue where setting `text` to `nil` broke the `TextField` layout.

[2016-11-07 00:44] danieldahan commented on #582
Can you share your setup code for this? Also, if possible, please try the `development` branch, as I made some updates. Thank you!

[2016-11-07 00:45] danieldahan commented on #583
There was an issue when the `text` property was equal to `nil`. I had fixed that, and now in `development` there is a modified `TextField`. Would you be able to test it to see if your issue still persists? Thank you!

[2016-11-07 01:23] danieldahan commented on #583
If this is not fixed, could you send me a sample project that I can use as a reference and reproduce the issue? Thank you!

[2016-11-07 01:55] Ybrin opened #586 "Set rootViewController from Stotyboard"
It would be great if we could change the `rootViewController` from within the Storyboard. There are certain use cases where this is a lot easier than instantiating the Controller together with its rootViewController manually.

[2016-11-07 10:00] tomtharakan commented on #582
lazy var username: TextField = {
        let username = TextField();
        //username.translatesAutoresizingMaskIntoConstraints = false;
        username.dividerColor = UIColor.lightGray
        username.autocapitalizationType = UITextAutocapitalizationType.none;
        username.tag = 12
        username.placeholder = NSLocalizedString("username", comment: "")
        username.keyboardType = .e

[2016-11-07 11:23] aemgtz opened #587 "navigation item problems"
![screen shot 2559-11-07 at 5 30 19 pm](https://cloud.githubusercontent.com/assets/276439/20056136/416ba8ec-a517-11e6-8990-809a9fead874.png)

I have added items into leftView and rightView
Seeing my items in rightview is stay over the screen!

`navigationItem.leftViews = [menuButton,dateButton]`
`navigationItem.rightViews = [nowButton, settingsButton]`

[2016-11-07 17:07] danieldahan commented on #587
I think that you have either one of two issues, the button is too large, or you need to set the contentViewAlignment property to .any so that it doesn’t try and center the contentView and create a funny alignment.

[2016-11-07 18:42] reidmain commented on #568
@danieldahan I'll update to the development branch and report back after all of our tests have run.

[2016-11-07 20:07] reidmain commented on #568
Looks good from my end. The placeholder text field shows if nil is set and the placeholder text is coloured properly when in the active state.

[2016-11-07 20:22] reidmain commented on #568
Oh sorry I noticed one issue. If you become active and type in some text it works fine. The divider line and placeholder text are the active color. But if you move to the inactive state and then back to the active the placeholder text is the current color but the divider line is not.

[2016-11-08 08:10] aemgtz commented on #587
What do you mean by "set the contentViewAlignment" to which view?
Is it possible to set my date button as the center and adjust the inset to the left like in the screenshot?

[2016-11-08 08:29] danieldahan commented on #587
Try the 'centerViews' property for the button. Sorry on the road, I could answer in more detail tomorrow.

[2016-11-08 08:32] aemgtz commented on #587
Many thanks

[2016-11-08 08:33] foxsin10 opened #588 "Investigate Any Memory Leaks"
This UI framework is awesome, I really like it.And I have been used it in my project since `Swift 2.2`.
Recently, I decided to migrate to `Swift 3.0`, but When I run the NavigatioanController Demo with Instruments two days ago,I found there are leaks  .There are some issues with `Grid.swift`

[2016-11-08 08:35] danieldahan commented on #588
Nice catch. I'll investigate, and please share more if possible. Thank you :)

[2016-11-08 08:49] foxsin10 commented on #588
I'm coding with version `Material 2.2.5`.
The demo I downloaded is using `Material 2.0`.
Maybe It's been fixed in `Material 2.3` .Anyway , I'm updating and then try it again.

[2016-11-08 09:32] danieldahan commented on #588
I verified the issue. I will fix this tomorrow. Thank you!

[2016-11-08 09:33] foxsin10 commented on #588
Good job!

[2016-11-08 09:56] wlching opened #589 "PageTabBarController"
Does it possible set my layout constraint to pageTabBarController's view?
I want to set scrollView of PageTabBarController in a certain region.
I try to set autolayout constraint to scrollView of PageTabBarController.
But it still doesn't work. Could anyone give me a hint?
Thanks.

[2016-11-08 10:47] danieldahan commented on #588
The fix is in [Material 2.3.4](https://github.com/CosmicMind/Material/releases/tag/2.3.4). Thank you for bringing this to my attention :)

[2016-11-08 12:00] unittesting0 opened #590 "Time Picker"
Can we see in the near future a Time Picker like in Android.

I found a Xamarin version here: https://github.com/fpt-software/Material-Controls-For-iOS#mdtimepicker

[2016-11-08 15:11] foxsin10 commented on #588
Appreciated your work.
Maybe there are some work left to be done. :)
see:
<img width="821" alt="qq20161108-2 2x" src="https://cloud.githubusercontent.com/assets/11630650/20104175/ec6f392a-a607-11e6-8a4c-e57914065adb.png">

[2016-11-08 15:13] danieldahan commented on #588
Yes, I want to go through each part. I closed your issue as it was related to GridAxis itself. Let's reopen this issue and treat it as a general memory leak investigation :)

[2016-11-08 22:57] danieldahan commented on #587
@aemgtz Have you had a chance to try the `centerViews` property?

Some insight on the NavigationBar with NavigationItem.

The NavigationBar is made from 3 main areas, the leftViews, contentView (centerViews), and rightViews. When you start to add items to either of the view areas, from the left to the right, it calculates the positioning of the items based on the `contentEdgeInsets`, `interimSpace

[2016-11-08 22:57] #587 closed

[2016-11-08 23:00] danieldahan commented on #590
Yes, it is definitely coming in the near future. There is already a request for it, so I will close this off and link it this issue https://github.com/CosmicMind/Material/issues/560,

Thank you! Keep the great feature requests coming.

[2016-11-08 23:00] #590 closed

[2016-11-08 23:55] kaifucious opened #591 "Unable to Build Material..."
Whenever i execute a carthage update, it fails to build and gives me this line:

Material+UIImage.swift:309:30: error: expression was too complex to be solved in reasonable time; consider breaking up the expression into distinct sub-expressions
                var radius = UInt32(floor(inputRadius * 3.0 * CGFloat(sqrt(2 * M_PI)) / 4 + 0.5))

Has anyone ran into this issue yet?

[2016-11-09 00:23] danieldahan commented on #591
Yes, I had seen this earlier today. I will post a fix for that within the hour :) Thank you!

[2016-11-09 00:40] kaifucious commented on #591
Sweet, let me know when it's fixed! :)

[2016-11-09 01:47] danieldahan commented on #591
Please fine a fix in [Material 2.3.5](https://github.com/CosmicMind/Material/releases/tag/2.3.5) :)

[2016-11-09 01:47] #591 closed

[2016-11-09 05:32] jjmean2 opened #592 "After transition occurs in NavigationDrawerController, black view cover entire screen."
Hi. I like your work. I appreciate this nice library.

I'd like to report an issue. I have an issue using NavigationDrawerController.
When I make transition from NavigationDrawerController with method `transition(to:duration:options:animations:compeltion:)`, screen-sized black view comes up to front and cover entire screen. Please see screenshot below.

![2016-11-09 14_31_45](https://cloud.githubu

[2016-11-09 05:59] danieldahan commented on #592
Hey, sorry about that, this was a regression. Please find a fix in [Material 2.3.7](https://github.com/CosmicMind/Material/releases/tag/2.3.7) :) Thank you!

[2016-11-09 05:59] #592 closed

[2016-11-09 06:08] danieldahan commented on #568
@reidmain I will check this scenario out within an hour :)

[2016-11-09 07:54] jjmean2 commented on #592
Thanks a lot!

[2016-11-09 15:33] lutzj82 commented on #553
I've got a sample project up now where I can't duplicate it :(
I'm trying to go over the differences between the two projects to see why I'm getting an actual width that is greater than the left view width.

[2016-11-09 16:57] gorbat-o opened #593 "[NAV BAR][TAB BAR] both on view"
Hey,

i'm trying to show both of the things, but i can't ..
tab bar is set with Storyboard, i prefere code for search bar if possible,

i tried addsubview and addSubViewController, but don't work ..

Can someone help me ?

Thanks

CODE:
[code]

[2016-11-09 17:09] lutzj82 commented on #553
Ok, I think I've identified the problem.
If the view controller is hosted using storyboards and not programmatically, I am getting the issue in regards to height and width. The view frame is being resized when it is done using storyboards where it is not happening when loading programmatically. @danieldahan, I've sent you the sample project.

[2016-11-09 17:41] danieldahan commented on #593
Hey :) I can help, but let's move this to [Material Gitter](https://gitter.im/CosmicMind/Material). Ping me there and I will help you out.

[2016-11-09 17:41] #593 closed

[2016-11-09 17:42] danieldahan commented on #589
Hey, I can help you out, but let's move this to [Material Gitter](https://gitter.im/CosmicMind/Material). Ping me there :)

[2016-11-09 17:42] #589 closed

[2016-11-09 19:44] danieldahan commented on #553
Yes, this makes sense. I will look this over and make an update :)

[2016-11-10 05:37] danieldahan commented on #568
@reidmain Sorry, I got majorly sidetracked with an issue I am looking at for Material. I will have to look into this more tomorrow.

[2016-11-10 05:59] reidmain commented on #568
@danieldahan no rush man. We already shipped a release with the workarounds I detailed and tomorrow we should be preparing a release with the 2.3.3 version. Everything is solid.

[2016-11-10 14:43] danieldahan commented on #568
@reidmain amazing :) Thank you

[2016-11-10 16:15] danieldahan commented on #588
@foxsin10 So I am looking through all the code in Material and I get what seems to be a strange memory issue that I think you may be able to help with. In the `Bar` type objects, there is a property `contentView` that I have reduced down to a `UIView` from a `View` to simplify the investigation. It seems that whenever I do this `bar.contentView.<property> = value` I get an issue where the getter a

[2016-11-11 01:08] foxsin10 commented on #588
Sorry , forgot to check my email.
 I’m kind of busy recently, maybe after I check your source code and do some investigation, now I get to turn to my work. :)

[2016-11-11 01:09] danieldahan commented on #588
No worries :) I figured it out.

[2016-11-11 02:19] danieldahan commented on #588
I am going to continue to make improvements in this area if I find any issues. For now, unless there is a specific memory leak found, there doesn't need to be an issue. Thank you for bringing this to my attention :)

[2016-11-11 02:19] #588 closed

[2016-11-11 15:12] balazsgerlei commented on #583
Hi!
I had time to test it, but sadly the issue is still there. I created a repo to illustrate:
https://github.com/balazsgerlei/MaterialTextViewTest

In this project I added to TextView. I set the detail property of the first one to a single space in Storyboard and didn't set anyting to the second when. When you click the button below the two TextField, I set the detail and detailColor property for

[2016-11-11 15:15] danieldahan commented on #583
Thank you for this, I will take a look. I am currently working on both the Textview and TextField. I will follow up with your example and fix very soon :) I appreciate your help very much.

[2016-11-12 17:19] danieldahan opened #594 "Add to TextField a normal and active color state."
Original request here: https://github.com/CosmicMind/Samples/issues/17

Add the ability to change the `leftView` color based on state properties.

[2016-11-12 17:44] danieldahan commented on #582
I am going to test this tonight with the other issues that surround `TextField` and update you. Thank you for your help :)

[2016-11-14 06:52] GreyEcologist opened #595 "Change Menu behavior"
the Menu behavior has changed since 2.x, I want to keep using it, but I don't need the MenuViewController. I've looked in the sample projects but couldn't find an example of how to use Menu directly.

[code]

I've tried to update my implementation to match the changes but the Menu doesn't respond when clicked on it and the FabButton don't display anymore.

[2016-11-14 16:52] danieldahan commented on #595
Hey, yes, the `MenuView` and `Menu` became one in Material 2, so now `Menu` is effectively the old `MenuView` with the mechanics of the previous `Menu`.

So  few things I am seeing here.

1. You can omit these lines: `menu.addSubview(btn3)`, when you set `menu.views = [btn1, btn2, btn3]` it automatically adds the views to the menu as a subview.

2. These lines can be omitted as well:

[code]

and

[2016-11-14 18:20] danieldahan commented on #584
This is ready for release and coming out today :) Thank you!

[2016-11-14 18:20] #584 closed

[2016-11-14 19:28] sverin commented on #584
Great news! Looking forward to it!

[2016-11-14 20:52] danieldahan commented on #584
Released :) [Material 2.3.9](https://github.com/CosmicMind/Material/releases/tag/2.3.9)

[2016-11-14 22:34] danieldahan commented on #594
This feature is now ready and will be released with the next Material release.

[2016-11-14 22:34] #594 closed

[2016-11-14 22:42] danieldahan commented on #582
I haven't been able to reproduce this. I am making a release with TextField updates today. Would you be able to share a sample project? Thank you!

[2016-11-14 22:45] danieldahan commented on #568
I tired reproducing this after I made some updates. I am basically tabbing to different fields and all seems well. I am going to make a release now with some updates. Please test this out and let me know :) Thanks buddy! `If you become active and type in some text it works fine. The divider line and placeholder text are the active color. But if you move to the inactive state and then back to the a

[2016-11-14 22:45] #568 closed

[2016-11-14 22:46] danieldahan commented on #582
When I get my hands on a reproduction of this issue, we can open it up again. Thank you very much for submitting this :)

[2016-11-14 22:46] #582 closed

[2016-11-14 23:09] danieldahan commented on #583
Fixed the issue :) This was a really good catch, thank you! I am pushing a release now with the fix along with some others.

Also, just incase, your app sample had an issue:

[code]

should be

[code]

Thank you :)

[2016-11-14 23:09] #583 closed

[2016-11-15 01:18] GreyEcologist commented on #595
Hey Daniel, after some reviews it looks like the new Menu works fine, the issue I'm running into is after I apply the animations below, the frame of the Menu is not updated:

[code]

The socialButton is a Menu, the voteButton is a Button but they both have the same issue. If I remove the animation then all works fine, but with animation, after the animate() has completed, the frame of both remains

[2016-11-15 18:30] danieldahan commented on #595
You should be animation the Menu in this case based on how you have it setup. Is it possible to share a sample with me and I can help fix it up?

[2016-11-15 19:09] reidmain commented on #568
So I updated from 2.3.3 to 2.3.10 and unfortunately the divider line is still having the issue where it doesn't become the active colour when it regains focus. Below are some images showing exactly what I am seeing.

Here is the screen when it is first presented. You can see the two text fields are in their placeholder state.
![1](https://cloud.githubusercontent.com/assets/535202/20319446/f491a49c

[2016-11-15 20:55] danieldahan commented on #568
Your app looks pretty :) All seems to be working for me. Do you mind showing me your latest setup code?

[2016-11-15 23:02] reidmain commented on #568
Your "all seems to be working for me" made me go back and double check and I realized that this table view cell is a unique case. In another scenario (where we are taking in a credit card number) the text fields seem to be working as intended.

I suspect that in the delegate methods of UITextField we are doing something strange that is confusing the state of TextField. I will delve deeper and repo

[2016-11-15 23:03] danieldahan commented on #568
Thank you, and if you can, even privately at support@cosmicmind.com, you can share code with me on the setup and I can help :)

[2016-11-15 23:29] GreyEcologist commented on #595
https://github.com/GreyEcologist/MaterialButtons

If you uncomment the lines inside the showingButtons() you can see the non-responsiveness.

[2016-11-16 00:37] oleynikd opened #596 "[HELP] hide status bar inside NavigationDrawerController"
Hi,

First of all - thank you for such a great tool!!!

I have a little problem, I can't hide status bar with `prefersStatusBarHidden` inside inner `UIViewController` after I added `NavigationDrawerController` to my app.

I did set `isHiddenStatusBarEnabled = false` in `NavigationDrawerController`. I need the ability to handle status bar visibility manually!

Please help.
Thanks!

[2016-11-16 01:25] danieldahan commented on #596
Thank you! :) It has been a dream working on Material and building with our great community.

As for helping you, yes, I can for sure help you. What version of Material are you using?

[2016-11-16 01:59] danieldahan commented on #595
Hey, so I looked at your sample and I noticed a lot of fighting between layout, frame, and animation. So I wrote a simple sample for you to replace your current code with:

[code]

Look at this code and see how things were setup. This should help you get going in the right direction :)

[2016-11-16 02:32] oleynikd commented on #596
@danieldahan I'm using version 2.3.1
`Using Material (2.3.1)`

I'm not sure why cocapods not installing latest 2.3.10. When I try to specify exact version I get:
[code]

[2016-11-16 04:32] GreyEcologist commented on #595
@danieldahan Hey thanks for the layout tips, that make things a lot cleaner.

However, when I click on the button after the animation it still doesn't respond, but I click on its former position, where the button was before the animation, then I get a response. I'm using Material 2.3.10.

[2016-11-16 07:30] aemgtz opened #597 "Navigation item in leftViews and rightViews not appear in "modalPresentationStyle = .formSheet""
Navigation items in leftViews and rightViews not appear in "modalPresentationStyle = .formSheet"

Before added support for iPad

![screen shot 2559-11-16 at 2 27 57 pm](https://cloud.githubusercontent.com/assets/276439/20338331/f39dc8fe-ac08-11e6-9cb5-80be6ec93e43.png)

After adjusted the code to support iPad
with

``                    if UI_USER_INTERFACE_IDIOM() == .pad {

[2016-11-16 11:43] theolof opened #598 "Problem with TextView ( add placeholder to TextView in Editor component )."
I used this code before:
`    var textView: TextView!
    /// A Text storage object that monitors the changes within the textView.
    lazy var text: Text = Text()
`
I did a pod update and now I cannot compile. "Use of undeclared type 'Text'".
Need help :-)

[2016-11-16 15:13] oleynikd commented on #596
@danieldahan OK, I ran `pod repo update` and now I have `2.3.10`!
Question remains the same...
Thanks in advance!

[2016-11-16 15:27] oleynikd opened #599 "NavigationDrawerController's (left|right)ViewThreshold values and behavior"
Hi,

[Here](https://github.com/CosmicMind/Material/blob/master/Sources/iOS/NavigationDrawerController.swift#L182) it is said that:
[code]
So the Drawer will never be opened unless you drag it at least half of its width, right?
Is there some reason for that? Actually for me it is not expected behavior. In Android velocity is more important then traveled distance. If you make short but fast swipe fr

[2016-11-16 17:09] danieldahan commented on #599
Hey :)

So in this case, the comment is actually outdated. As well, you can set it to a value that you like. There should also be a velocity measure applied internally in the algorithm that calculates the distance to open and close the NavigationDrawer.

Please try and set the `leftThreshold` and `rightThreshold` to a value that works more for you. If you feel there is an improvement that can be m

[2016-11-16 17:09] #599 closed

[2016-11-16 17:20] danieldahan commented on #598
Hey,

So in Material 2, I silently launched a new component that is officially launched at the end of the month. It is called `Editor`. It now encapsulates all the work needed to setup a dynamic textView. Later today I will post an example for you, and for now if you can take a look at the `Editor` and `EditorController` API, that will get you started. For example:

[code]

Place that code in a UI

[2016-11-16 17:24] danieldahan commented on #597
I will take a look, and if you can, please send a reproducible project :)

[2016-11-16 17:25] danieldahan commented on #596
Great! I will take a look a bit later today and help you out :)

[2016-11-16 17:37] danieldahan commented on #578
Hey, sorry for any delay. I found this StackOverflow question and answer, and it shows how to add colors as a palette to IB. http://stackoverflow.com/questions/2889491/how-to-define-colors-in-xcodes-interface-builder

I don't think there is an easy import method for this. If you have found any solutions that I can help implement or you want to PR, it would be very much appreciated.

Thank you!

[2016-11-16 17:37] #578 closed

[2016-11-16 19:31] oleynikd commented on #596
@danieldahan Thank you! Looking forward, cuz I'm out of ideas.

[2016-11-16 19:44] oleynikd commented on #596
@danieldahan OK, never mind, just had to move my statusBar logic to `NavigationDrawerController` instance. Solved. Thank you!!!

[2016-11-16 19:44] #596 closed

[2016-11-16 20:20] danieldahan commented on #596
You can use `Application.isStatusBarHidden = true`, that can be used anywhere, and you could set the `navigationDrawerController?.isStatusBarHidden = true` property.

Glad you found a way :)

[2016-11-16 23:35] ejimenez93 opened #600 "Carthage Update Failed"
Getting this error after running `carthage update --platform ios`. Using XCode 8 and Carthage v0.18.1

[code]

[2016-11-17 03:30] ejimenez93 commented on #600
Hey @danieldahan,

Thanks for the response! Unfortunately that didn't work:

[code]

[2016-11-17 03:34] ejimenez93 commented on #600
Here's the output log:

[code]

[2016-11-17 09:15] ejimenez93 commented on #600
Hey @danieldahan,

Think I might have found the issue. You might need to add this to your last commit (line 1085 of NavigationDrawerController.swift):

`@objc(gestureRecognizer:shouldReceiveTouch:)` instead of just @objc

Let me know if that helps!

[2016-11-17 13:34] theolof commented on #598
Thanks, I'm trying to implement Editor now. I'll let you know how it goes.

[2016-11-17 13:39] theolof opened #601 "Card doesn't get a height with 2.3.11"
I used 2.2.0 before and just updated to 2.3.11.

The width of the Card is before, but the height is very small, as if it doesn't contain anything.

[code]

where detailView is a view with TextFields, buttons, labels etc.

Has anything changed I should be aware of?

[2016-11-17 13:55] theolof commented on #601
It works fine if `detailView` is a `UILabel()`. Then the card expands and shows the label.
In my case, the `detailView` is a `UIView()`.

[2016-11-17 15:08] theolof commented on #601
I tried your Card sample now. It looks fine with the `contentView` as a `UILabel` as in the example.
I'm trying to modify your example to show a `UIView` instead as the `contentView`, but whenever I do that, it shows up empty. I even tried adding a `UILabel` to the `UIView` - still an empty `contentView`.

[2016-11-17 16:17] danieldahan commented on #601
Hey, the `detailView` is the `contentView`. There has been a change to the math behind the card. It is now calculated without AutoLayout. This was done for performance reasons. In general though, the UIView that you place needs to have an `intrinsicContentSize` or a height given to it, otherwise, it doesn't know how to calculate the size.

That said, the `contentView` property itself is a UIView,

[2016-11-17 19:41] danieldahan commented on #595
So I figure this out. It turns out that iOS has changed the animationDidStop method which updates the final values to a delegation call `CAAnimationDelegate`. So I made a fix for this and will push a new release :)

[2016-11-17 20:06] danieldahan commented on #600
Fixed and released in [Material 2.3.12](https://github.com/CosmicMind/Material/releases/tag/2.3.12).

[2016-11-17 20:06] #600 closed

[2016-11-17 20:07] danieldahan commented on #595
Fixed and released in [Material 2.3.12](https://github.com/CosmicMind/Material/releases/tag/2.3.12).

[2016-11-17 20:07] #595 closed

[2016-11-17 21:02] GreyEcologist commented on #595
Great! Thanks Dan!

Sent from my iPhone

[2016-11-18 06:49] balazsgerlei commented on #583
Hi! Thx for the fix, I verified and it indeed works now with the latest version. 👍

(An yes, what you found was a copy-paste bug, the truth is that when I tried it I only used one TextView and only later added another one to demonstrate the original issue more clearly) 😄

[2016-11-18 09:09] theolof commented on #601
Please tell me if I should send the file in another way.
I attached a ViewController here, it's from your Card sample.

I'm trying to add two TextFields to the contentView (via detailView). Ideally I don't want to set the height since I want the Card to be expanding to the contents of detailView so it looks good on different phones. Even when I do set the height on contentView, the TextFields don'

[2016-11-18 17:58] danieldahan commented on #583
No worries :) Thanks for you help.

[2016-11-18 18:02] danieldahan commented on #601
I am going to try your sample today :)

[2016-11-18 21:54] danieldahan commented on #551
I will be reworking this all tomorrow. Sorry for any delays.

[2016-11-18 21:55] danieldahan commented on #551
I will be reworking this all tomorrow. Sorry for any delays.

[2016-11-19 16:38] timoschwarzer opened #603 "UITableViewController doesn't autoresize when used as NavigationDrawer pane"
Hello!

I'm using a TableViewController as the left hand pane of a NavigationDrawer.
Everything is working perfectly fine except for the TableView Cells autoresizing.

I'm composing the static cells of the TableViewController in a storyboard:
![image](https://cloud.githubusercontent.com/assets/8849554/20456823/97d72bdc-ae7e-11e6-82a4-313af8c93cd9.png)

And I've added layout constraints to the butt

[2016-11-19 18:03] danieldahan commented on #603
Hey! Would you be able to share your project as a sample to support@cosmicmind.com and I can take a look ?

[2016-11-19 19:40] danieldahan commented on #601
So I tried your example, and without setting the height, it is not possible to make it work. So dynamic height is not built in. That said you inspired a new feature. I am going to make an additional layout tool that will make these situations simple to handle. I will followup in a couple days with a solution for you.

[2016-11-20 15:10] theolof commented on #601
That would be awesome. I'm updating the whole codebase with the new Material but this is stopping me since a lot of my Cards have dynamic heights.

[2016-11-20 15:50] danieldahan commented on #601
Wonderful, I am happy to help :)

My aim is to have a solution that you can test within a few days. So hopefully that wont block you too much.

[2016-11-20 16:23] danieldahan commented on #586
I can't seem to get the `rootViewController` property to appear in the Storyboard pane. I am not the best with Storyboards as I do everything programmatically. So if you have a proposed method to accomplish this, I would be able to help you make it happen. For now, I am going to close this issue and leave it to you to reopen it if needed. Thank you!

[2016-11-20 16:23] #586 closed

[2016-11-20 16:47] timoschwarzer opened #604 "Materialish Progress Indicator"
Hello there!

Is it possible to implement a materialish circular progress indicator as described in Material Design guidelines?
https://material.google.com/components/progress-activity.html#progress-activity-types-of-indicators

Thanks!

[2016-11-20 16:48] danieldahan commented on #604
Yes, I will add this to the feature request list :)

[2016-11-20 16:49] timoschwarzer commented on #604
You are fast, man! Thanks!

[2016-11-20 16:51] danieldahan commented on #604
No worries. There are new features coming out this month, and next month. I will include it in one of the major updates :)

[2016-11-20 16:54] timoschwarzer commented on #604
I was only stunned by your reply speed!
Keep up the good work... 😄

[2016-11-20 19:34] timoschwarzer opened #605 "Having a PageTabBarController within a NavigationDrawerController makes the Drawer not opening on swipe"
When a PageTabBarController is the rootViewController of a NavigationDrawerController, the NavigationDrawer's panes can't be opened with a swipe gesture.

I've attached a sample project for testing.
[TabBarControllerWithNavigationDrawer.zip](https://github.com/CosmicMind/Material/files/602246/TabBarControllerWithNavigationDrawer.zip)

[2016-11-20 19:43] timoschwarzer opened #606 "The line of a PageTabBarController behaves weird when the PageTabBarController has only two views attached"
The line stops somewhere at 2/3 of the window's width and then it goes further to its target position.
You can launch this sample project and swipe between the two tabs:
[TabBarControllerWithTwoViewControllers.zip](https://github.com/CosmicMind/Material/files/602252/TabBarControllerWithTwoViewControllers.zip)

[2016-11-21 02:22] danieldahan commented on #606
I will take a look at this. I have gathered a a few issues on the PageTabBar, so I will be most likely rewriting it to include more features and correct all the issues. Thank you for sharing this, I have added it to the list of things to investigate.

[2016-11-21 02:29] danieldahan commented on #605
Nice, adding this to the list of items to investigate with the PageTabBar rewrite.

[2016-11-21 04:49] kaifucious opened #607 "SearchBarController in TabBarController"
I'm trying to setup my app using a tab bar controller, and the first tab should show a table view with the  Material search bar on top...the trouble is I can't seem to find an example of how this is done, outside of setting a root view controller to App Delegate's window, which won't work for me because I'm using Storyboards.

Is there an example that shows the Material SearchBar with a Table View

[2016-11-21 05:01] danieldahan commented on #607
Using strictly storyboards no, there isn't an example. It could be possible though a bit of code and storyboards. I will work on a sample and place it in the [Samples](http://github.com/CosmicMind/Samples.git) repo :) If you would like to further discuss this, let's chat in [Material Gitter](https://gitter.im/CosmicMind/Material). All the best!

[2016-11-21 05:01] #607 closed

[2016-11-21 14:43] HowardCsie opened #608 "Is PageTabBarController possible to dynamicly arrange view controllers?"
I want to insert or delete view controllers corresponding to user operation.
Is it possible?
The error message popped out while doing so.
```The number of view controllers provided (3) doesn't match the number required (1) for the requested transition```

[2016-11-21 15:43] danieldahan commented on #608
Have you tried this function:

[code]

It allows you to set the Array of UIViewControllers.

[2016-11-21 17:33] HowardCsie commented on #608
yes, I have tried.
I initialized a PageTabBarController with one root view controller,then i used that function to set three UIViewControllers (Array). I got that error message above.

[2016-11-21 17:39] danieldahan commented on #608
Okay, I will take a look. I am planning to update the PageTabBar this week, so I will investigate today to help you out, and then release a new PageTabBar. Thanks :)

[2016-11-22 01:18] HowardCsie commented on #608
Thank you very much.I'll be waiting to hear from you.

[2016-11-22 15:41] Daeda88 opened #609 "Conflicting UIView Extension on width & height"
For my current project using Material, I am moving to a use_frameworks setup. However, Im running into some problems due to conflicting extensions. In Material+UIView.swift, an extension is created to access the layers width and height via "width" and "height" respectively. Unfortunately, I am also currently using the Masonry framework for some legacy code. Since that framework also specifies an e

[2016-11-22 18:25] danieldahan commented on #609
I appreciate your suggestion. At the current moment making such a change would not be ideal. I am going to close this for now, but that said, I will think about this more and see if I can come up with something elegant to solve this issue :) Feel free to discuss more with me and the community on [Material Gitter](https://gitter.im/CosmicMind/Material).

[2016-11-22 18:25] #609 closed

[2016-11-23 20:46] timoschwarzer opened #610 "Transitioning the RootViewController of a ToolbarController to an UITableViewController causes flickering"
Transitioning the RootViewController of a ToolbarController to an UITableViewController causes the Toolbar not being shown for the duration of the transition:

`myToolbarController.transition(to: myTableViewController, duration: TimeInterval(1))`
-> Toolbar is hidden for 1 sec

Using a duration of 0 causes a bit flickering even with normal UIViewControllers.

[2016-11-24 13:21] phlippieb commented on #561
Was this solved? I couldn't figure out how to do this from the sample issue.

[2016-11-24 15:18] danieldahan commented on #561
@phlippieb Yes, take a look here https://github.com/CosmicMind/Samples/issues/1, and look at this sample [CardTableView](https://github.com/CosmicMind/Samples/tree/master/Graph/CardTableView).

[2016-11-24 17:59] danieldahan commented on #610
Could you send me a sample of this?

[2016-11-24 18:28] timoschwarzer commented on #610
@danieldahan You can take the programmatic NavigationDrawerController sample and make the `TransitionedViewController` extend `UITableViewController` instead of `UIViewController`. I tried this and it shows the mentioned effect.

[2016-11-24 18:29] danieldahan commented on #610
This could be when the UITableVIewController is setup. Usually this is done after the view loads and could give a stutter effect. I will take a look and see if I can replicate the behavior.

[2016-11-24 18:32] timoschwarzer commented on #610
But the toolbar is hidden for exactly the same amount of time like the transition's duration is. So if you call `transition(to: duration:)` with a duration of 10sec, you won't see the toolbar for 10sec.

[2016-11-24 18:33] danieldahan commented on #610
Ahh... I think I know why. Okay, I will take a look later today. I am finishing up some documentation, and then will tackle this issue and some others on the board. Thanks for bringing this to my attention.

[2016-11-24 18:34] timoschwarzer commented on #610
Thanks! 😄

[2016-11-24 19:11] Arkezis opened #611 "Possibility to make the SnackbarController from a UITabBarController ?"
Hi,

I want to use your awesome SnackBar by using the SnackbarController but my main VC is a UITabBarController !
Can you help me on this ?

Moreover, do I need to instanciate my UITabBarController manually in AppDelegate ? (it's not the case for now ...)

Thanks a lot :)

[2016-11-24 19:20] danieldahan commented on #611
I'll be back later today and can help you out :)

[2016-11-24 22:11] danieldahan commented on #611
Hey, so to do what you are looking for is relatively easy. In your AppDelegate, you can instantiate a `SnackbarController` and set the `rootViewController` to your UITabBarController. For example:

[code]

If you are using storyboards, you will want to do something like this:

[code]

Once that is all working, you can access the `SnackbarController` with the optional `UIViewController` property `s

[2016-11-24 23:07] danieldahan commented on #610
Thank you for sharing this issue with me. Please give [Material 2.3.18](https://github.com/CosmicMind/Material/releases/tag/2.3.18) a try :)

[2016-11-24 23:07] #610 closed

[2016-11-25 10:11] Arkezis commented on #611
Ok, it's fine now, I didn't really understood how I can handle it with all my storyboards. The main info here is that the root must be a SnackbarController :)

Thanks for your help !

[2016-11-25 15:46] danieldahan commented on #611
You can place the SnackbarController at any layer you like, and in this case, I think it makes most sense to be the lowest layer at the window's rootViewController. In some cases you may even want to add the SnackbarController as the base of each tab. So feel free to explore combinations, the SnackbarController is designed to fit anywhere based on needs.

[2016-11-25 23:00] danieldahan commented on #553
Hey, please give [Material 2.3.19](https://github.com/CosmicMind/Material/releases/tag/2.3.19) a try. I believe it may fix this issue. Thank you :)

[2016-11-25 23:00] #553 closed

[2016-11-26 10:34] aemgtz commented on #597
@danieldahan
I have created the sample project which demonstrate the problem
https://github.com/aemgtz/Matreial-iOS-Problem

[2016-11-26 12:52] timoschwarzer opened #612 "SnackbarController fails to layout its rootViewController's height correctly"
My setup is:

- Window
  - NavigationDrawerController
    - ToolbarController
      - SnackbarController
        - my view controllers

I'm changing my view controllers by calling `.transition(to: targetViewController)` on the SnackbarController.
The problem I have is that my view controllers have the wrong height.

I've debugged some bounds:
[code]

The output was:
[code]

And it even becomes mor

[2016-11-26 12:57] timoschwarzer commented on #612
Therefore, constraints don't work, too:

![image](https://cloud.githubusercontent.com/assets/8849554/20640518/fb278c02-b3df-11e6-850c-0aafa451febd.png)

The blue view is aligned to the bottom, the green view is not aligned to anything.
The result is:

![image](https://cloud.githubusercontent.com/assets/8849554/20640524/1f4ec91a-b3e0-11e6-9038-e3e7774b10b9.png)
![image](https://cloud.githubusercont

[2016-11-26 13:11] timoschwarzer commented on #612
When I comment out (RootController.swift : 129)
`viewController.view.frame = rootViewController.view.frame`

the SnackbarController's view doesn't get larger when changing view controllers. But it's still too large.

[2016-11-26 20:26] AndreMarvell commented on #603
Hi @timoschwarzer i have the same issue. Did you solve the problem?

[2016-11-26 23:34] danieldahan commented on #603
@AndreMarvell yes, try updating to the latest [Material 2.3.19](https://github.com/CosmicMind/Material/releases/tag/2.3.19). I didn't update this issue yet :)

[2016-11-26 23:34] #603 closed

[2016-11-26 23:35] danieldahan commented on #612
I will take a look :)

[2016-11-26 23:38] danieldahan commented on #597
Thank you, I will take a look and make an update :)

[2016-11-27 08:21] AndreMarvell commented on #603
Perfect, thank you @danieldahan

[2016-11-27 08:28] AndreMarvell commented on #131
Hi @danieldahan i have the same issue with the latest version 2.3.19. When i put a table view in my rightViewController, didDeselectRowAt is never called. Could you show me how i can fix this?
Thank you

[2016-11-27 19:18] danieldahan commented on #131
@AndreMarvell Can you share your code setup, or possibly send a sample project to support@cosmicmind.com ? Thank you

[2016-11-27 19:21] danieldahan commented on #612
Is the issue that your views are behind the ToolbarController ?

[2016-11-27 20:21] timoschwarzer commented on #612
The issue is, that the rootViewController of my SnackbarController has always the wrong height. And the height gets increased by 138 every time I change the rootViewController using .transition()

[2016-11-27 20:28] danieldahan commented on #612
I understand that. The frame doesn't get increased by any factor, rather it is made the same as the previous that is being transitioned from.

[code]

If you can share a sample that replicates this, that would be great. You are placing this inside a `TabBarController`, which does alter the size of UIViewControllers that are within it. Now I am not blaming that, but it is the only item that stands

[2016-11-27 20:29] timoschwarzer commented on #612
I'll make one! :)

[2016-11-27 20:29] danieldahan commented on #612
:) Thank you!

[2016-11-27 21:00] AndreMarvell commented on #131
This is the content of my RightViewController. It's loaded from storyboard with a tableview and custom cells

![image](https://cloud.githubusercontent.com/assets/5513545/20651823/b7742fca-b4ec-11e6-8a4b-871b461597af.png)

[code]

PS: editingStyleForRowAtIndexPath doesn't work neither

Is it enough for you?
Thank you very much for your help

[2016-11-27 21:22] timoschwarzer commented on #612
Okay, this is becoming strange... But maybe you do know what happens here:

I'm adding an ActivityIndicator as the Toolbar's rightView like this:
[code]

When I remove that part, we can completely forget that 138 thing, because it doesn't happen without that. (But I really want to know what happens there and how to add a vertical centered ActivityIndicator to a Toolbar)

But the view stills seems

[2016-11-27 21:34] timoschwarzer commented on #612
And here is an example project. See AppDelegate.swift, line 41

[NavigationDrawerController copy.zip](https://github.com/CosmicMind/Material/files/615067/NavigationDrawerController.copy.zip)

[2016-11-27 23:42] danieldahan commented on #608
Hey, I didn't forget about this issue. I will be able to focus on it within the next couple days. Sorry for any delays.

[2016-11-27 23:44] danieldahan commented on #601
Sorry for any delays. I have been a bit held up on some other tasks. I should be able to focus on this in the next couple days.

[2016-11-28 07:00] HowardCsie commented on #608
Thank you very much!!!

[2016-11-28 09:45] yunhao opened #613 "Grid System dose not work"
Material 2.3.19
Xcode8

I tried to follow the tutorials in [http://www.cosmicmind.com/material/grid](url)
[code]

But only a blank page was showed on my screen. I saw this in Xcode8 by UI View Hierarchy:
![image](https://cloud.githubusercontent.com/assets/10205466/20661360/60e4dc70-b589-11e6-843f-898603ec0443.png)

It seems that the layout is broken.

[2016-11-28 16:54] Maxatma opened #614 "Separate files into different pods"
Just have found that loading whole Material is unnecessary. Actually, i use some classes, but not whole project. Even tool that search unused files says that in project those files unused:

_BottomTabBar,FlatButton,ImageCardView,MenuController,SearchBarController,StatusBarController,ToolbarController_

Maybe it would be better if we could load, for example only
 **pod Material/Button**
 or
 **pod

[2016-11-28 16:56] danieldahan commented on #614
Yes, that is a good suggestion, I have done that for certain classes, such as Capture / PhotoLibrary. I'll make an update for that.

[2016-11-28 16:59] Maxatma commented on #614
Would be awesome !
👍

[2016-11-28 17:16] danieldahan commented on #613
Yes, there is an issue. I am pushing a fix within the hour. Thank you!

[2016-11-28 17:50] danieldahan commented on #613
Please update to [Material 2.3.20](https://github.com/CosmicMind/Material/releases/tag/2.3.20), where you can find a fix for this issue. :) Thanks

[2016-11-29 03:15] danieldahan commented on #612
I will take a look tomorrow :)

[2016-11-29 03:20] danieldahan commented on #131
I think I know why this may not be working. Do you mind sending a sample to the email with the Storyboard all setup ? Thank you!

[2016-11-30 08:10] iamszabo opened #615 "Position of the Snackbar"
@danieldahan first of all thanks for the great project and for the even greater support.

It would be great to have a custom position of the snackbar. Could you make it happen?

[2016-11-30 08:12] danieldahan commented on #615
Thank you for helping to make Material wonderful :) Yes, I can make an update with this feature tomorrow.

[2016-11-30 17:28] danieldahan commented on #612
Looking at this now :)

[2016-11-30 18:32] vksid opened #616 "How to add menu controller's menu item to UIviewController which is already embedded in UINavigationController"
I already have a UINavigationController -> UIViewController. I want to add a menu item on lower right corner similar to the way, menu controller sample project. How could I achieve this task.

[2016-11-30 19:16] danieldahan commented on #616
Are you doing this programmatically or storyboards ?

[2016-11-30 22:03] timoschwarzer commented on #612
Very nice, thank you!

[2016-11-30 22:07] danieldahan commented on #612
So it all works :) I don't think you were showing the snackbar. Add this: `animate(snackbar: .visible)` to the `AppSnackbarController` class

[2016-11-30 22:09] timoschwarzer commented on #612
The snackbar is not the problem. The problem is the snackbarController laying out its subviews (see the images above)

[2016-11-30 22:11] timoschwarzer commented on #612
The first "Hello" should be centered, too, but it isn't. It's an UILabel as a TableView's backgroundView. And the TableView is inside a SnackbarController. If I put the TableView into another Controller, let's say a PageTabBarController (image #2), it is centered.

[2016-12-01 02:59] danieldahan commented on #612
Fixed the issue :)

[2016-12-01 03:17] danieldahan opened #617 "Add Toast & ToastController."
This can use the same code as the Snackbar, so refactor to a common code base.

[2016-12-01 03:25] danieldahan commented on #615
Please update to [Material 2.3.21](https://github.com/CosmicMind/Material/releases/tag/2.3.21). You can use the `snackbarEdgeInsets` and `snackbarEdgeInsetsPreset` to position the `Snackbar` away from the edges anywhere you would like :)

Thanks and all the best!

[2016-12-01 03:25] #615 closed

[2016-12-01 03:26] danieldahan commented on #612
Please update to [Material 2.3.21](https://github.com/CosmicMind/Material/releases/tag/2.3.21) :) It should be aligning correctly now. Thanks for catching this issue.

[2016-12-01 03:26] #612 closed

[2016-12-01 05:01] vksid commented on #616
I have setup my UINavigationController and UIViewController using storyboard.

[2016-12-01 05:02] timoschwarzer commented on #612
Wow, nice! Thank You! :-)
I will try this soon...

[2016-12-01 05:52] timoschwarzer commented on #612
Yes, it works! Thanks! :-)

[2016-12-01 06:57] satishVekariya commented on #560
thnx

[2016-12-01 18:25] danieldahan commented on #597
Taking a look now.

[2016-12-01 18:37] danieldahan commented on #597
I downloaded your sample, and updated Material to 2.3.21, and go this outcome:

<img width="370" alt="screen shot 2016-12-01 at 12 35 26 pm" src="https://cloud.githubusercontent.com/assets/9982123/20807000/c3d03f7e-b7c2-11e6-8837-c0716a8963cb.png">
<img width="376" alt="screen shot 2016-12-01 at 12 35 20 pm" src="https://cloud.githubusercontent.com/assets/9982123/20807012/cc8138a8-b7c2-11e6-94bf-1

[2016-12-01 18:37] danieldahan commented on #597
Oh may, I need to try this on an iPad. I will try that now.

[2016-12-01 18:39] danieldahan commented on #597
I see the issue now, I will fix this, one moment.

[2016-12-01 19:00] danieldahan commented on #597
I fixed it, now running tests to avoid a regression, and then I will post an update :) Thanks for bringing this issue up :)

[2016-12-01 20:03] theolof opened #618 "Help with Toolbar, leftViews too wide"
I'm not sure if this is an iOS thing or Material thing...
In your sample ToolbarController I'm trying to add an image instead of a button as the leftViews.

I've added this function
[code]
and replaced
[code]
with
[code]

I'm expecting the image to be a circular image 40x40, but it's too wide. What am I doing wrong?

See attached image.
<img width="621" alt="screen shot 2016-12-01 at 21 02 19" src

[2016-12-02 01:48] danieldahan commented on #597
Please find a fix for your issue in [Material 2.3.22](https://github.com/CosmicMind/Material/releases/tag/2.3.22). Thank you :)

[2016-12-02 01:48] #597 closed

[2016-12-02 02:42] HowardCsie opened #619 "Line of PageTabBarController lags when swiping fast"
As title :))

[2016-12-02 02:54] aemgtz commented on #597
Super! Thank you.
If there is anything I can help please let me know.

[2016-12-02 04:49] danieldahan commented on #597
I appreciate it. You are already helping by bringing issues to the community :) Thank you!

[2016-12-02 04:51] danieldahan commented on #619
Yes, I agree. I finally have a chance to visit the PageTabBar issues :) This will be fixed in the next update for PageTabBar.

[2016-12-02 16:08] danieldahan commented on #131
@AndreMarvell I am not sure if you sent a sample. Thank  you :)

[2016-12-02 16:22] danieldahan commented on #616
So there are a couple ways to do this. If you want to add the `Menu` itself, you can do so using the `Menu` view itself. This is done by adding a UIView to the storyboard and then specifying the class to be a `Menu`. In code you would need to add all the buttons. Another way, and this will require you to do things a bit more programmatically, is to set your `UINavigationController.rootViewControll

[2016-12-02 16:22] #616 closed

[2016-12-02 17:23] danieldahan commented on #618
taking a look now :)

[2016-12-02 20:59] danieldahan commented on #618
I got it working, and now only need to make sure there are not any regressions. I needed to make an update to Material. I will post an update very soon. I am aiming for tonight :)

[2016-12-03 06:50] vksid commented on #616
Hey @danieldahan , Thanks for suggestion. Everything worked perfectly. However I'm having a problem with navigationItem title. I set navigationItem title in storyboard for AppMenuController but I can see blank navigation bar.

[2016-12-03 15:20] gerbiljames opened #620 "Menu disappears when it is closed."
If you close a menu by tapping on the original menu button then the menu disappears. This only happens on a device, not in the simulator. It doesn't happen if you close the menu by tapping outside of it.

I've tested it on iOS 10.1 only and I'm using Xcode 8.1 and Material 2.3.22.

You can reproduce this in the MenuController sample project.

[2016-12-03 15:50] AndreMarvell commented on #131
Hi @danieldahan i've just sent you the sample right now. Sorry for the delay.

[2016-12-03 17:39] danieldahan commented on #620
Thank you, I will take a look today.

[2016-12-03 20:48] gerbiljames commented on #620
Thanks! I'd have submitted a pull request but I haven't got a clue whats going wrong.

[2016-12-03 20:51] danieldahan commented on #620
No worries :) It was in the `Motion` library. The `CAAnimation` that sets the `delegate`, I believe should be omitted. I will make a push. This would have been a really hard bug to find if I had not been working in that area already.

[2016-12-03 21:01] danieldahan commented on #620
This was the [ifx](https://github.com/CosmicMind/Material/commit/c1c421dec684b6ed151b1285bcc4961fbf54b027).

[2016-12-04 18:49] danieldahan commented on #551
Sorry the delay. Finally had a chance to fix the issue. I will be posting an update later today. Thank you!

[2016-12-04 19:02] danieldahan commented on #618
I made some updates to Material, which will come out in an hour. Here is the code you can use, that was modified from the ToolbarController sample. Basically, you need a container view that is used for the Toolbar calculations, and then you can center an image within there :)

[code]

[2016-12-04 19:12] theolof commented on #618
That looks great! Will test it tomorrow.

[2016-12-04 19:28] danieldahan commented on #551
Please update to [Material 2.4.0](https://github.com/CosmicMind/Material/releases/tag/2.4.0) for a solution to this issue :)

[2016-12-04 19:28] #551 closed

[2016-12-04 19:28] danieldahan commented on #620
Please update to [Material 2.4.0](https://github.com/CosmicMind/Material/releases/tag/2.4.0) for a solution to this issue :)

[2016-12-04 19:29] #620 closed

[2016-12-04 19:29] danieldahan commented on #618
Please update to [Material 2.4.0](https://github.com/CosmicMind/Material/releases/tag/2.4.0) for a solution to this issue :)

[2016-12-04 19:29] #618 closed

[2016-12-05 11:37] shshalom opened #621 "A suggestion to make Layout class more robust"
Hi,

Lately I have realized how heavily I am using Layout class to layout my views, that said, It also made me notice the gap between what I though the class is capable of doing and what it actually does.

I really fond of the way (I thought) the class works, and when things didn't worked as I expected them to work, I went looking under the hood and then understood that I was using it wrong, as we

[2016-12-05 12:59] theolof commented on #618
It Works™

[2016-12-05 15:59] chrisferdian opened #622 "Storyboard"
Please make some supported for canvas storyboard.
thanks

[2016-12-05 17:49] danieldahan commented on #618
wonderful :)

[2016-12-05 18:02] azizuysal opened #623 "App freezes when more than 20 chars entered in textfield in secure entry mode."

[2016-12-05 18:14] danieldahan commented on #623
Hey, thank you for this. What version of Material are you using? And by `App`, do you mean the sample app project, or your own?

[2016-12-05 18:48] danieldahan commented on #622
Are you meaning to improve support for Storyboards in general ?

[2016-12-05 18:52] danieldahan commented on #131
@AndreMarvell no worries. Got it :)

[2016-12-05 19:00] azizuysal commented on #623
It doesn't happen in the sample app. But in my own app (apps actually, happens in more than one app), secure text entry password field freezes when more characters than visible on screen entered. Instead of scrolling the chars horizontally, like the regular textfield does, it freezes. When I pause Xcode debugging and look at frames, I see that it's frozen on line 374 of TextField.swift, at super.l

[2016-12-05 19:47] danieldahan commented on #623
Can you send me a sample then. I will need to reproduce this, and if it is not happening in the sample, I need to see what is going on in your end. I'd be happy to help :)

[2016-12-05 21:15] danieldahan commented on #622
If you mean to support storyboards more in general, that is coming as development continues. If you have a PR or a specific issue, please reopen or create a new issue :) All the best!

[2016-12-05 21:15] #622 closed

[2016-12-05 21:16] danieldahan commented on #621
Give me a day or two think about this. I have been thinking about expanding the layout system.

[2016-12-05 21:18] danieldahan commented on #601
I am going to link this in with another issue and move this to a general `Layout` update feature request: https://github.com/CosmicMind/Material/issues/621. For now the issue is a limitation and not a bug and I believe I have a suggestion. I am going to think about layouts over the next couple days. Suggestions in the other issue are more than welcome :)

[2016-12-05 21:18] #601 closed

[2016-12-05 22:56] danieldahan commented on #616
Can you share your setup code?

[2016-12-05 23:30] sovata8 opened #624 "Switch calls valueChanged even when set programatically"
I am having some troubled with a `Switch`.
I need to set its state, without any side-effects (such as a call to `valueChanged`)

I am setting it programmatically, using the `setOn` (which from what I can see calls `setSwitchState`). In `setSwitchState` I see that it calls the action for event 'valueChanged'. Is this how it is supposed to be? I thought that these `UIControl` calls should only happe

[2016-12-05 23:32] danieldahan commented on #624
Can you show me where this is stated and I can make an update. Also, if you set the value programmatically, it doesn't necessarily mean you do not want to know in your delegation handle. Are you doing this on initialization?

[2016-12-06 00:12] sovata8 commented on #624
iOS/Switch.swift (78163a3, latest), lines:
352 and 359 (`sendActions`)
354 and 361 (`delegate.switchDidChangeState`, which I also think should not be called)

I am configuring on initialisation but also later on (when I update a `Switch` in one part of the app, another one needs to update elsewhere).

I think these should be called iff the state changes as a result of user interaction, but should

[2016-12-06 00:32] sovata8 commented on #624
Upon closer look, `setSwitchState` should sometimes call the `valueChanged` and `delegate` methods, but only when called from a UI interaction context (e.g. in the current code: `handleTouchUpOutsideOrCanceled`, maybe there is more).

I guess a solution would be to overload `setSwitchState` with a private/internal version that along with the current arguments, takes a `Bool` for `isCausedByUIInter

[2016-12-06 03:36] lazarte opened #625 "Card with TableView as ContentView"
<img width="351" alt="screen shot 2016-12-06 at 11 34 21 am" src="https://cloud.githubusercontent.com/assets/248630/20912034/bf7d230e-bba7-11e6-9877-75287298b8e2.png">

Tried to have a card with the contentview of tableview. I don't know what happen but the tableview(picture above orange background) looks fine but the cell was broken. See the code below using the latest Material version.

func pre

[2016-12-06 18:22] danieldahan commented on #624
I am going to come back to this issue later today. Sorry for any delays :)

[2016-12-06 18:25] danieldahan commented on #625
Was this working before? Have you tried the [CardTableView sample project](https://github.com/CosmicMind/Samples/tree/master/Graph/CardTableView)? Also, if you are defaulting all values to `0` in the `Layout.edges` you don't need to set them, you can do this `layout(cardView).edges()`.

[2016-12-06 18:47] danieldahan commented on #131
@AndreMarvell I will be looking at this tonight :)

[2016-12-07 20:57] danieldahan commented on #623
Hey I haven't heard from you. If you still have the issue, please reopen or create a new issue. Thank you :)

[2016-12-07 20:57] #623 closed

[2016-12-07 21:01] danieldahan commented on #624
So I like the reasoning and there is docs that reinforce your notion. So let's make it happen. I will make an update to `Material` with your suggested behaviour. Thank you very much for bringing this to my attention. I will notify you when I make the update later today or tonight depending on some other issues I am working on.

[2016-12-07 21:02] danieldahan commented on #625
Hey, I haven't heard from you, so if you still face this issue, please reopen or create a new one. Thank you very much :)

[2016-12-07 21:02] #625 closed

[2016-12-07 22:07] azizuysal commented on #623
Sorry I was busy with work. I did some tests and I can easily reproduce this. Just set font size to anything above 17 and set secure text entry on, and it will happen every single time when you enter more chars than visible and the field tries to scroll horizontally. I tested with both UIFont.systemFont(ofSize: 20) and RobotoFont.regular(with: 20) with identical results in a test project. If you c

[2016-12-08 00:28] azizuysal opened #626 "App freezes when textfield scrolls horizontally in secure entry mode."
I did some tests and I can easily reproduce this. Just set font size to anything above 17 and set secure text entry on, and it will happen every single time when you enter more chars than visible and the field tries to scroll horizontally. I tested with both UIFont.systemFont(ofSize: 20) and RobotoFont.regular(with: 20) with identical results in a test project. If you cannot reproduce, I can send

[2016-12-08 19:32] danieldahan commented on #626
Cool, I will be looking at this tonight :)

[2016-12-08 20:20] ttrushin opened #627 "navigationItem.rightViews issue: On smaller screens, some icons don't show"
I have an app that uses three IconButtons, which I place in the navigationItem's 'rightViews'.  On an iPhone 6 or larger, all three icons show perfectly.  However on anything smaller (5, 5S, SE, etc) the third item in the list simply doesn't display.  Through debugging I can see that it is there, just off screen.
I am assuming this is a bug, however please let me know if there is some sort of limi

[2016-12-08 21:22] danieldahan commented on #627
Hey :) Thank you for sharing this issue. I will take a look and see, it might be a bug, or a limitation, is it possible you share both a screenshot and your code setup so I can see what you are trying to achieve?

[2016-12-09 03:19] danieldahan commented on #624
Can you test the `development` branch and let me know if the behaviour is correct? If so, then I can make a release.

[2016-12-09 10:38] danieldahan commented on #626
@azizuysal Hey, I opened the [TextField sample](https://github.com/CosmicMind/Samples/tree/master/Material/Programmatic/TextField). I wasn't able to reproduce this. If you don't mind sending a sample to support@cosmicmind.com, that would be very helpful. Also, what version of Material are you running?

[2016-12-09 10:48] danieldahan commented on #627
So I tested this out. It looks like a limitation based on the calculations. I can make this more dynamic and will look good. I will work more on this later today. Wonderful catch, thanks :)

[2016-12-09 10:49] danieldahan commented on #621
Today I will be playing with some ideas. I will let you know what I come up with :)

[2016-12-09 14:11] shshalom commented on #621
Great, looking forward.

[2016-12-09 18:58] tySwift93 commented on #627
Thanks for looking at this so quickly!  Looking forward to seeing how you solve it

[2016-12-09 20:09] Matungos commented on #194
Hi,
I'm having this issue now with version 2.4.0.

I've created a UIView programmatically, set 4 NSLayoutConstraints and then perform a Motion.translateY.
Visually it works but events of views inside the UIView are attached to the old position.

I've tried calling layoutIfNeeded before animate but doesn't work.

With UIView.animate(..) is working fine.

[2016-12-09 20:11] danieldahan commented on #194
I will look into this :) Thank you.

[2016-12-10 13:29] AndreMarvell commented on #131
Hi @danieldahan have you already check the sample i sent?
Thank you

[2016-12-10 19:12] danieldahan commented on #131
I will be able today. This past week was a really busy one. Sorry for any delay :) @AndreMarvell

[2016-12-10 19:43] danieldahan commented on #131
@AndreMarvell is there a reason you are using `didDeselectRowAt` rather than `didSelectRowAt`? When I change it to `didSelectRowAt` all works.

[2016-12-10 20:51] danieldahan commented on #194
@Matungos  `cardView.layoutIfNeeded()` this is called in `Layout` if you are using it. So no need. Can you provide a sample for me to test against. Because I had made a test and all worked fine. Thank you!

[2016-12-10 21:05] AndreMarvell commented on #131
![image](https://cloud.githubusercontent.com/assets/5513545/21076167/b328db4a-bf24-11e6-9d58-bdec53046d4e.png)

OMG!!!!!!!!!!!!!!!!, Sorry for wasting your time. I'm so stupid, I didn't pay attention to "Deselect". I've been searching this for days...

Anyway, thank you for you help.
And again great job with this library

[2016-12-10 21:06] danieldahan commented on #131
@AndreMarvell no worries :) Happy to help.

[2016-12-10 21:06] danieldahan opened #628 "Add BottomSheet & BottomSheetController."

[2016-12-10 21:07] danieldahan opened #629 "Add Alert & AlertController."

[2016-12-10 21:07] danieldahan opened #630 "Add Reminders integration with RemindersController."

[2016-12-10 21:08] danieldahan opened #631 "Add Segmented Control."

[2016-12-10 21:08] danieldahan opened #632 "Add Photo Filters."

[2016-12-11 08:35] tiennth opened #633 "Cannot disable left pan gesture on Navigation Drawer Controller."
Thank you very much for this very very useful library.
I use Material version 2.3.19 using Cocoa pod.

I created a navigation drawer controller like this:
[code]

However, the pan gesture is not removed. The left view still show up when I pan from left side of screen.
Could you please take a look? Thank you very much!

[2016-12-11 18:01] danieldahan commented on #633
So I tried the latest [NavigationDrawerController sample](https://github.com/CosmicMind/Samples/tree/master/Material/Programmatic/NavigationDrawerController) with Material 2.4.0 and all works. Can you try that and verify? Based on your setup, all looks good.

[2016-12-11 23:17] tiennth commented on #633
I checked again and see that, I called this method afterwards: `navigationDrawerController?.isEnabled = true`
This method add the pan gesture back to the navigation drawer controller. That's why I though the pan gesture was not disabled.

[2016-12-12 00:22] danieldahan commented on #633
No worries :) we are here to help

[2016-12-12 00:22] #633 closed

[2016-12-12 19:54] sovata8 commented on #624
Hi, sorry for the late reply, was away from keyboard during the weekend.
I just tested the dev branch's version of `Switch` and it all works as expected (and consistent with UIKit's UIControl's behaviours). Nice work!

I did a search through the source code for more potential cases of the 'non-recommended' UIControl callbacks (that are now fixed or `Switch`). I found some such cases but I am not s

[2016-12-12 19:59] danieldahan commented on #624
Please share here :) Also, I don't know of any global variables in the `Switch`.

[2016-12-12 20:53] Matungos commented on #194
I made this sample project https://drive.google.com/open?id=0B9S3OPPnUMK0dFpOa1pvVDB2TjQ
It's not the same code that I'm using but it have this problem too.

The hitTest function is overridden in the custom view to test it out.

Thanks.

[2016-12-12 20:58] sovata8 commented on #624
So, expanding on the new implementation for Switch, here are some other areas where it would be good to implement that new approach:

I did a search in the Material source code for some other places that are currently potentially triggerring delegates even when changed programatically (i.e. not via a user interaction).

I found two such places:

1. TabBar.swift
`open func animate(to button: UIButt

[2016-12-12 20:59] danieldahan commented on #624
Yes, I agree. Also, I like your suggestion earlier to not use a variable to maintain the interaction state, but to use a function with encapsulated logic. :) Great job

[2016-12-12 21:03] danieldahan commented on #194
@Matungos Thank you, I will take a look.

[2016-12-13 10:51] theolof commented on #598
I have Editor working now, but I still need the placeholder text. Can I do a workaround until you release the full version? Or is the full version coming really soon?

[2016-12-13 17:47] danieldahan commented on #598
@theolof Its coming really soon :) When is the latest you need it by?

[2016-12-13 20:11] azizuysal commented on #626
I sent you a sample project and I've made a few more tests, and here are my observations:
1. This happens only when adjustsFontSizeToFitWidth is set to true along with secure text entry mode, and font size above 17. And when testing with Xcode 8.2 iOS 10.2, I noticed it doesn't happen anymore, so this may be an iOS bug. Try running the sample project in both iOS 10.1 and 10.2.
2. In Xcode 8.2, if

[2016-12-13 20:13] danieldahan commented on #626
@azizuysal thank you for sending the sample. I will be out tonight and tomorrow, so I will take a look within the next couple days. I need to do an update for Xcode 8.2 and run a full test against Material. So this is good insight and I appreciate it.

[2016-12-14 13:51] elropero opened #634 "Unsatisfiable layout constraints in version 2.4.0"
First, I just want to say this is a great project, thanks for all your hard work!

With version 2.4.0, I just started noticing a bunch of "unsatisfiable layout constraints" log warnings  that did not occur in release 2.3.22.

These warnings are the result of me creating a `TableViewCell` and then calling e.g. `cell.layout(someChild).right(20)` within `tableView:cellForRowAt`, and I've confirmed th

[2016-12-14 17:16] danieldahan commented on #621
Hey, I didn't get a chance to fully hash this out. I have been really busy for the past few days, and was only able to help out on so many issues. I am back in full gear now, so I should have something in the works very soon :)

[2016-12-14 17:22] danieldahan commented on #634
Hey, Thank you :) It is a pleasure to work on Material with a wonderful community.

For your issue, yes please provide a sample. The warnings appearing are not necessarily a bad thing. They could have surfaced from improvements to the `Layout` class that I had recently added, which now reveal an issue in the `TableViewCell` layout code. One issue, I am thinking may be the cause is that the `TableV

[2016-12-14 23:14] astromme commented on #520
FYI for anyone who runs into Xcode claiming that Material isn't updated to Swift 3 -- you may need to update Cocoapods to 1.1.1 or above. Updating and then running `pod install` fixed the problem for me.

The errors were:

`“Use Legacy Swift Language Version” (SWIFT_VERSION) is required to be configured correctly for targets which use Swift. Use the [Edit > Convert > To Current Swift Syntax…] menu

[2016-12-15 09:04] theolof commented on #598
Well, we are ready to release the next version except for some color changes and this. Thinking of changing to TextField in the meantime.

[2016-12-15 10:33] tianqiujie opened #635 "can not run normal"
#/Users/tian/Library/Developer/Xcode/DerivedData/voicechanger-cdqrblyblzegcbbudsyrhuxrxdbe/Build/Products/Debug-iphonesimulator/io.cosmicmind.material.fonts.bundle: bundle format unrecognized, invalid, or unsuitable
Command /usr/bin/codesign failed with exit code 1

 pod 'Material', '~> 2.0'

[2016-12-15 17:28] danieldahan commented on #635
What version of CocoaPods are you using?

[2016-12-15 17:29] danieldahan commented on #635
Sorry didn't mean to close the issue.

[2016-12-15 17:30] danieldahan commented on #598
Okay, I will do my best to have it done really soon. It is one of the final parts to releasing the `Editor` component. So I need it and want it done as well. Thanks for your patience.

[2016-12-16 04:08] danieldahan commented on #624
Updated development with your suggestions :) I will finish the other controls tomorrow with a release.

[2016-12-16 05:09] calvinsug opened #636 "Card Material hides my UIView"
After using Xcode8, when i implement Card material to my UiView, the container cover my UIView, so my UIView is not appear, i must remove its container from my code every time i implement Card material using this code:

`@IBOutlet weak var card: Card!

override func awakeFromNib() {
        super.awakeFromNib()
        // Initialization code
        self.card.container.removeFromSuperview()
    }`

[2016-12-16 07:05] hbgovindarao opened #637 "Application going into infinite loop when I set shapePreset to circle in Layer"
Hi,

I run sample Layer app and I found issue that app is going into infinite loop at following line

I debugged and found the countrol going infinate loop in **Material+CALayer.swift** 313 line

` cornerRadius = width / 2`

I think issue with following over written variable

[code]
if I changed `open override var cornerRadius: CGFloat` to `open var cornerRadius1: CGFloat` , sample working fine.

[2016-12-16 10:07] danieldahan commented on #637
Hey,

What version are you using? Thank you :)

[2016-12-16 15:51] danieldahan commented on #636
This is strange... can you send a sample project to support@cosmicmind.com, I will need to be able to reproduce this. Thank you :)

[2016-12-16 15:52] danieldahan commented on #634
Hey, I haven't heard from you. If you still have this issue, please reopen it or create a new one. All the best :)

[2016-12-16 15:52] #634 closed

[2016-12-16 15:57] danieldahan commented on #627
Hey, I didn't forget about this. I wanted to tackle some issues prior to diving in. I think today would be a good day to play with a solution :) All the best and sorry for any delay.

[2016-12-16 16:00] danieldahan commented on #637
So I double checked, and the latest `master` has a fix for this. Please update, and this was a great catch... I caught early on from a release I made, so an update should be good to fix it for you. Thanks again :)

[2016-12-16 16:00] #637 closed

[2016-12-16 16:03] danieldahan commented on #635
I haven't heard from you, so I am going to close this issue. It should be fixed with updating to the latest CocoaPods, either the beta or the latest stable release. If you continue to have this issue, please reopen this issue. Thank you :)

[2016-12-16 16:03] #635 closed

[2016-12-16 16:09] elropero commented on #634
Sorry have been traveling. Will take a look as soon as I can.

On Fri, Dec 16, 2016 at 7:52 AM Daniel Dahan <notifications@github.com>
wrote:

[2016-12-16 16:16] tianqiujie commented on #635
![image](https://cloud.githubusercontent.com/assets/2835129/21269534/046e2bfe-c3ee-11e6-9374-f85a6d511454.png)
[code]

[2016-12-16 16:20] danieldahan commented on #635
Hmmm... can you send me the project so I can try? Because all works for me. Also, make sure to clean and clear your cache. Maybe something is getting in the way.

[2016-12-16 16:20] danieldahan commented on #634
No worries :)

[2016-12-16 16:57] tianqiujie commented on #635
![image](https://cloud.githubusercontent.com/assets/2835129/21270950/c2676814-c3f3-11e6-8767-bf2b91afe44a.png)
Is this right ?

[2016-12-16 17:07] danieldahan commented on #635
Hmm... can you update to Material 2.4.0 and try ?

[2016-12-16 17:36] tianqiujie commented on #635
OK, thank you, the 2.4.0 solved my problem

[2016-12-16 17:37] danieldahan commented on #635
perfect :) Thank you!

[2016-12-16 17:42] danieldahan commented on #626
Hey, So I ran an experiment. I made a new `UITextField` and then set the size to 40 with Roboto font. All worked correctly. Then I switched the `UITextField` to a `Material.TextField` and all still worked correctly. I didn't add any constraints and such, kept it at the default. In Material there isn't any modifications to the `UITextField` itself that should cause this. Everything else is added ar

[2016-12-16 17:42] #626 closed

[2016-12-16 17:44] danieldahan commented on #194
Looking now :)

[2016-12-16 18:29] danieldahan commented on #194
I confirmed an issue, I will be working on this today. Thank you :)

[2016-12-16 19:43] astromme opened #638 "Support multi line text field"
The android EditText widget supports multiline text. It appears that the TextView component keeps all content on one line. It would be nice to have the widget automatically grow vertically.

[2016-12-16 19:45] danieldahan commented on #638
I can add this to the new `Editor` component that is coming out this month.

[2016-12-16 20:26] danieldahan commented on #194
A proposed fix is now in development. I will need to test this more. If you can too that would be great :)

[2016-12-17 15:46] Matungos commented on #194
It seems to be working with those changes. But I've found another issue but I don't know if it is related to the newer changes.
For instance: http://i.imgur.com/ICueRYz.png I've draw a red circle in the zone where if I tap there, the clear button on the background receive the hit instead of the upper one, the one in the blue searchbar.
Thank you @danieldahan for your work.
I can't help you more be

[2016-12-17 16:31] danieldahan commented on #194
I don't see a clear button. Can you send me a sample?

[2016-12-17 16:34] danieldahan commented on #636
Hey, I haven't heard from you. If this issue still persists, please reopen or create a new issue. Also, please update to the latest Material. All the best :)

[2016-12-17 16:40] danieldahan commented on #194
The button spans to more than the x, you can see this by setting a background. I think this is what you are seeing.

[2016-12-17 17:05] danieldahan commented on #194
I am going to close this issue and prepare it for release :) Thank you!

[2016-12-17 17:05] #194 closed

[2016-12-17 17:06] Matungos commented on #194
I'll try to describe better.
In this case I have 2 search bars, one below the other.
Tapping the clear button of the top searchbar receive the tap normally.
At some moment I animate the bar on the background, but leaving they overlapped (purposely, if they are completely separated there is no issue, both tap callbacks are correctly called).
Tapping the same (top) clear button trigger the callback

[2016-12-17 17:11] danieldahan commented on #194
Ah I understand. I Don't see how that could really be a Material thing as Material uses the standard UIButton and target handling. There isn't any special hit target setup. If you would like to send a sample over, you are welcome to. In order to help you, I need a reproducible sample. Also, if you are using a SearchBarController, it is not possible to have the Bar actually under the other. The way

[2016-12-17 18:05] danieldahan commented on #624
So this is now in [Material 2.4.1](https://github.com/CosmicMind/Material/releases/tag/2.4.1). I applied the fix for both the `Switch` and `TabBar`, but not the `NavigationDrawerController`. That is not a control as the others are. That is more of an architectural controller and the delegation methods are meant to hook features with or without user interaction. Not like the Switch which is a direc

[2016-12-17 18:05] #624 closed

[2016-12-17 18:06] danieldahan commented on #194
The fix is not available in [Material 2.4.1](https://github.com/CosmicMind/Material/releases/tag/2.4.1) :) Thank you for sharing the issue :)

[2016-12-19 00:09] 030Amber opened #639 "Material Colors app crashes"
Don't know where to post this issue.
The Material Colors iOS app crashes on launch on iOS 10 (iPhone 5).

[2016-12-19 03:34] calvinsug commented on #636
ok, wait, i`m using Material 2.1.2

[2016-12-19 07:09] jjmean2 opened #640 "TextField's placeholder text gets smaller than it should be when textField's text property is set to empty string (or nil) programmatically"
I used text field like a label, so I set text property of textField programmatically on result of API call. When I set empty string on textField which already had some text, font size of placeholder text is as same as when it displayed as title label. It is smaller than original font size of placeholder text.

below, I tested this issue in a fresh simple project.
![2016-12-19 15_52_37](https://clo

[2016-12-19 10:43] apemobilu commented on #551
Hi Daniel,

Any news about making the PageTabBar scrollable when there is a lot of buttons?
I would find that feature really interesting.

Thanks

[2016-12-19 16:07] danieldahan commented on #551
@apemobilu Yeah, I am currently working on it within in an App I am building. Once ready, which should be soon I will release it :)

[2016-12-19 16:08] danieldahan commented on #639
This is a great place to post the issue. Thank you, I will investigate it and make a fix :)

[2016-12-19 18:11] danieldahan commented on #640
Ah... very interesting. Thank you I will test this out. Can you share your code setup?

[2016-12-19 19:02] danieldahan commented on #636
Please send me a sample, and I can take a look. Send to support@cosmicmind.com :)

[2016-12-20 09:15] thuca1992 commented on #551
@danieldahan
Please release it soon, I really need it as soon as possible.
Thank you so much

[2016-12-20 09:32] calvinsug commented on #636
ok, code sample sent! I use your sample card project to implement Card the same way i implement it in my project

[2016-12-20 19:50] danieldahan commented on #551
No worries, tonight I a working on Samples and features :) Thanks for your patience.

[2016-12-20 19:51] danieldahan commented on #636
Thank you, I am looking now :)

[2016-12-20 20:15] danieldahan commented on #636
So I have taken a look at your project. When you get a chance, let's chat on [Gitter Material](https://gitter.im/CosmicMind/Material)

[2016-12-20 20:16] danieldahan commented on #636
I am going to close this issue here, and help you on Gitter :) This isn't an issue with Material. I need to show you how to set this up.

[2016-12-20 20:16] #636 closed

[2016-12-20 20:21] danieldahan commented on #636
I am actually going to write an article about this now, and post the full instructions on how to use the Card with Storyboards.

[2016-12-20 21:40] jyounus opened #641 "Adding another type of PulseView animation"
Hey there,

Any chance you'd consider adding a "new" type of animation? Basically I'd like the PulseView to have the same effect as if it was a standard iOS UITableViewCell highlight. This means it would instantly highlight the view when the user touches it, and then deselect with an animation.

It's pretty much exactly the same as the ```pulseAnimation = .backing``` animation, the only difference

[2016-12-20 21:46] danieldahan commented on #641
Doesn't sound like a bad suggestion to me :) It will be out by the end of the month, along with all the other latest features.

[2016-12-20 22:21] danieldahan commented on #636
@calvinsug I added to the development branch [Storyboard Card](https://github.com/CosmicMind/Samples/tree/development/Material/Storyboards/Card) sample project. I will be writing about this tonight and then release a final copy once done into master with any Material updates at the same time.

[2016-12-21 07:14] calvinsug commented on #636
i have seen your ViewController code in development. Should we set toolbar, contentView, and bottomBar every time i want to implement Card material ?

[2016-12-21 11:41] tato469 opened #642 "PageTabBar scrollable"
There is any way to do the PageTabBar or TabBar scrollable? Else could be a nice improvement of this component.

[2016-12-21 16:38] danieldahan commented on #642
Yes it is already in the works :) I will leave this up as a Feature Request. Thank you.

[2016-12-21 16:38] danieldahan commented on #551
Feature Request to make TabBar scrollable: https://github.com/CosmicMind/Material/issues/642

[2016-12-21 16:40] danieldahan commented on #636
Then you shouldn't use the `Card`, you can use a `View` and that will give you the drop shadow and radius effect :)

[2016-12-21 19:14] #630 closed

[2016-12-21 20:04] maba1984 opened #643 "Card align to top"
Hi, i am not sure if this is a bug or if i did something wrong. Maybe you want to take a look at it...

http://stackoverflow.com/questions/41270762/how-to-position-top-in-ios-swift

[2016-12-21 22:11] danieldahan commented on #643
I answered on `StackOverflow` :) It is not a big, it is AutoLayout not used correctly.

[2016-12-21 22:59] maba1984 commented on #643
i changed my code but still the same problem...

`import UIKit
import Material

class UserProfileViewController: UIViewController {
    fileprivate var card: Card!

    fileprivate var toolbar: Toolbar!
    fileprivate var moreButton: IconButton!

    fileprivate var contentView: UILabel!

    fileprivate var bottomBar: Bar!
    fileprivate var dateFormatter: DateFormatter!
    fileprivate var dat

[2016-12-22 01:24] danieldahan commented on #643
What version of Xcode are you using? This is interesting, I tested your code and the Sample project and I am seeing behavior I have not seen before.

[2016-12-22 01:58] maba1984 commented on #643
I am using Version 8.2.1 of Xcode. I tried to add just the subviews "card.toolbar, card.contentView..." and that works fine. Just the hole card does not layout right.

[2016-12-22 02:14] danieldahan commented on #643
The issue is that it is aligning from the center, not the top as would be expected. I am working on a fix now.

[2016-12-22 02:21] maba1984 commented on #643
Thank you:)

[2016-12-22 02:41] danieldahan commented on #643
Fixed it, now running tests and confirming I didn't create any issues :) This was a really good catch.

[2016-12-22 03:12] danieldahan commented on #643
Please update to [Material 2.4.3](https://github.com/CosmicMind/Material/releases/tag/2.4.3) and it should work perfectly with the suggestions I had made earlier. Thanks again, this was a really good catch.

[2016-12-22 03:12] #643 closed

[2016-12-22 05:11] calvinsug commented on #636
thanks for the information :) ,
but i will still use the `Card` because i don`t know the exact value of drop shadow radius effect :D

[2016-12-22 16:47] danieldahan commented on #636
No worries :) Have fun and experiment with Material. There is so much you can do and it really comes to life when you explore. For your reference, these are the settings:

[code]

[2016-12-22 18:29] danieldahan commented on #555
Working on this today :)

[2016-12-22 20:18] danieldahan commented on #555
I will be reworking the Menu into a Menu, FABMenu, ToolbarMenu, and others.

[2016-12-23 04:58] bayarmanlai opened #644 "How to change switch on, off programmatically"
2.4.1 release note says **Removed Switch.setOn function**.

I  need to change it's state programmatically. How can I do that.

First time switch state changed, after that it doesn't change it's state when I set isOn variable value programmatically.

[2016-12-23 20:00] danieldahan commented on #644
To change the state programmatically, use:

[code]

or

[code]

If you need any further help, please reopen or create a new issue :)

[2016-12-23 20:00] #644 closed

[2016-12-25 21:01] danieldahan commented on #641
Adding this for release Material 2.5.0.

[2016-12-25 21:47] jyounus commented on #641
Nice one, thank you! I'll go ahead and close this "issue". :D

[2016-12-25 21:47] #641 closed

[2016-12-26 07:39] bayarmanlai commented on #644
Thanks, for your update. Not it works as expected :)

[2016-12-26 18:25] vksid opened #645 "How can I implement a snack bar functionality in my own UIViewController Class ? I want to do it programmatically."

[2016-12-26 18:26] danieldahan commented on #645
Have you seen this [SnackbarController sample](https://github.com/CosmicMind/Samples/tree/master/Material/Programmatic/SnackbarController) ?

[2016-12-27 07:28] jeantimex opened #646 "Problem of calling becomeFirstResponder()"
Hi folks,

When I call becomeFirstResponder() in viewDidLoad, the label of the textfield disappears, see the screenshot below:
![simulator screen shot dec 26 2016 11 06 32 pm](https://cloud.githubusercontent.com/assets/565300/21493845/84bc0ade-cbc2-11e6-9ea3-b0594cbfa56f.png)

when I type in the keyboard, the label shows up:
![simulator screen shot dec 26 2016 11 07 00 pm](https://cloud.githubuser

[2016-12-27 17:45] danieldahan commented on #646
Hey :)

I tested this using the latest Material and [TextField sample](https://github.com/CosmicMind/Samples/tree/master/Material/Programmatic/TextField), where all worked out well. What version of Material are you using and what is your setup?

[2016-12-27 17:49] danieldahan commented on #646
I made a change which I think will help. I was able to reproduce your issue somewhat, and with the change I made it fixed it. I will be putting this for release now and you can let me know how it works out.

[2016-12-27 18:06] danieldahan commented on #646
Try [Material 2.4.5](https://github.com/CosmicMind/Material/releases/tag/2.4.5) :) All the best.

[2016-12-27 18:06] #646 closed

[2016-12-27 18:11] danieldahan commented on #645
Hey, I haven't heard from you. If you are still having issue, please reopen or create a new issue :) Thank you!

[2016-12-27 18:11] #645 closed

[2016-12-27 18:20] danieldahan commented on #640
I confirmed the issue. Fixing it now :)

[2016-12-27 19:41] danieldahan commented on #640
Try [Material 2.4.6](https://github.com/CosmicMind/Material/releases/tag/2.4.6) for a fix :) Thank you, this was a great find.

[2016-12-27 19:41] #640 closed

[2016-12-27 19:48] jeantimex commented on #646
Thank you so much @danieldahan for your prompt reply! I just tried 2.4.5 on iOS 10.2, Xcode 8.2.1 and I can still see the issue.

[2016-12-27 19:50] danieldahan commented on #646
Can you share your setup, because it should work. As well, I updated the TextField again with [Material 2.4.6](https://github.com/CosmicMind/Material/releases/tag/2.4.6).

[2016-12-28 00:22] jeantimex commented on #646
Thanks @danieldahan! I tried v2.4.6, and I can still the problem, but here is my workaround in Swift 3:
[code]
I guess this might just be related to my application though, my first view controller has a full-screen size video playing in the background, when user taps on "Login" button, the navigation controller pushes the email view controller which has the Material component.

I tried the followi

[2016-12-28 00:51] jeantimex commented on #646
Actually, the following code will produce a smoother animation with keyboard:
[code]

Works with multiple view controllers in navigation controller.

Cheers!

[2016-12-28 18:11] danieldahan commented on #646
@jeantimex This is great insight. I will keep playing with the `TextField` and see if I can improve its setup. It is a pretty tricky component, as it has so many setup cases, and requires many moving parts simultaneously. I really appreciate your help and feedback :) Thank you!

[2016-12-29 08:57] winniepooh001 opened #647 "Delegate when using Navigation Controller and toggle right option"
Hi,

Thank you for the wonderful library. I am very new at Swift and I'm not sure if I'm not thinking in the right frame. I want to use the right view controller (FilterControl) of the navigation drawer controller as a filter such that when user is done selection the filtered items are passed back to the previous view controller (Data View). However, I'm not sure how to access the right view contr

[2016-12-29 20:32] danieldahan commented on #647
Hey :) Thank you, I love working on Material with our community. As for your question, are you aware of the delegation methods for the `NavigationDrawerControllerDelegate` ? I think what you are looking for is to be notified when events occur with the `rightView` ? Is this correct?

[2016-12-29 21:25] danieldahan commented on #641
Hey, here is the [commit](https://github.com/CosmicMind/Material/commit/4b8a39b83d6262dad52d4b41d96a81ecbd7596ec) for your `feature request`. It will be out shortly in Material 2.5.0 :)

[2016-12-29 21:56] jyounus commented on #641
Gave it a quick try, just what I wanted! Thank you!

[2016-12-29 21:57] danieldahan commented on #641
Sweet :)

[2016-12-30 01:43] winniepooh001 commented on #647
Hi,
Thank you for the quick response. I'm looking for a way to have my (Data View) page adopt the delegate for my (filter page) which is set in app delgate file as the right view of navigationdrawercontroller. I'm wandering if there is a way to directly access the right view, something like let filterview = navigationdrawercontroller.rightview?

[2016-12-30 02:03] elsesiy opened #648 "Swift Package Manager support"
Hi,

as this beautiful library already supports Cocoapods and Carthage it'd be great to have support for the [Swift Package Manager](https://swift.org/package-manager/) too. Is that something you'd consider adding soon? Otherwise I'm happy to make the changes and submit a PR.

Cheers!

[2016-12-30 17:39] danieldahan commented on #647
The `rightView` is a container for the `rightViewController`. In any sub view controller of the `NavigationDrawerController`, you can access the `NavigationDrawerController` using the optional helper properties. So in your `viewWillAppear` or some other process other than `viewDidLoad`, you can do this:

[code]

The reason you do not want to put this in your `viewDidLoad` is because when you const

[2016-12-30 18:55] danieldahan commented on #648
Hey, thank you :) A PR would be great actually. I have some other feature requests I am working on. If you don't get a chance to send one over, I will get to it soon. I placed it on the project board. Thank you.

[2016-12-30 20:08] ty7466 opened #649 "Having issues getting pulse effect when implementing in application"
Hello I am having an issue getting the pulse effect to happen on any of the buttons. I tried copying the same button that is in the sample and still not able to get it to work. Is there anything special that needs to be done?

Thank you ahead of time!

[2016-12-30 20:12] danieldahan commented on #649
Hey :)

Can you show me your setup? Also, check the `pulseColor` and that you are using either `Button`, `FlatButton`, `FabButton`, or `RaisedButton`.

[2016-12-30 20:15] ty7466 commented on #649
wow thank you for the fast response!!! I figured it out, I was missing some code!!! Rookie mistake!!!

[2016-12-30 20:16] danieldahan commented on #649
No worries :) Anytime you need help, feel free to ask.

[2016-12-30 20:16] #649 closed

[2016-12-31 00:53] elsesiy commented on #648
@danieldahan I just started working on that just to find out that SPM still doesn't fully support iOS (you're relying on UIKit a lot). The initial issue has been discussed [here](http://stackoverflow.com/questions/34778823/swift-package-manager-uikit-dependency) and has been picked up by many repositories, i.e. [CocoaPods](https://github.com/CocoaPods/pod-template/issues/157). I guess we just have

[2016-12-31 01:15] danieldahan commented on #648
Yeah, I hope support does come soon. CocoaPods is common for iOS packages in general pre swift. I will close this for now, and when there is support, we can make it happen :)

[2016-12-31 01:15] #648 closed

[2016-12-31 03:40] winniepooh001 commented on #647
Thank you very much. It is working.

[2016-12-31 03:40] #647 closed

[2017-01-02 16:16] travishaagen opened #650 "NavigationController back button moves on each display of a view instance"
With `NavigationController`, when I push/pop the _same_ instance of a given view, the toolbar's back-button moves to the right each time the view is pushed again. Tested with v2.4.6.

[code]

If I create a new instance of the view every time I push it to the `NavigationController`, this problem does not occur.

[2017-01-02 16:17] danieldahan commented on #650
Can you send a sample project of this? :) Thank you!

[2017-01-02 16:42] travishaagen commented on #650
Here you go, just run `carthage update` and repeatedly navigate forward/back using the toolbar icons.

[Issue650.zip](https://github.com/CosmicMind/Material/files/681132/Issue650.zip)

[2017-01-02 16:50] danieldahan commented on #650
Yes, thank you :) I will fix for the next release.

[2017-01-03 20:10] danieldahan commented on #628
The BottomSheetController will be release in Material 2.5.0.

[2017-01-03 20:10] #628 closed

[2017-01-03 21:28] danieldahan commented on #624
@sovata8 I am going to make the same changes to the NavigationDrawer and new components coming out. I have been thinking this over and I think that all delegation methods should only fire on user initiated interactions. :) Thanks again

[2017-01-04 13:37] timoschwarzer opened #651 "Dynamically add view controllers to PageTabBarController"
Hello! It's me again...

Is is possible to dynamically add an unspecified amount of view controllers to a PageTabBarController?
I've already tried with:
[code]
but that didn't work. I think I need a hint ;-)

Thanks!

[2017-01-04 14:09] timoschwarzer commented on #651
Okay, I found a way that kinda works:
[code]
But I don't know if there is a more elegant way to do this...

[2017-01-04 16:28] danieldahan commented on #651
Hey, this is the correct way for now

[code]

That said, I am rewriting the entire PageTabBar. There are many updates I would like to add to it. There is already a card for this https://github.com/CosmicMind/Material/issues/608 so I will close this issue and you can follow that one :) Thank you for bringing this to our attention.

[2017-01-04 16:28] #651 closed

[2017-01-05 22:19] danieldahan opened #652 "Allow PageTabBarController to programmatically change view controller."
[Associated StackOverflow question.](http://stackoverflow.com/questions/41464822/how-do-you-transition-tab-bar-controller-programmatically-i-need-to-switch-the).

[2017-01-06 16:19] sovata8 commented on #624
Hi. Sorry for the late reply, holidays etc.

Glad to hear you're implementing that approach! Good luck and thanks again for creating that amazing project and being so open to discussions and suggestions :)

[2017-01-06 21:15] andressaribeiro opened #653 "Placeholder keeps showing on TextField when I set a value programatically"
Hi, I'm using Material v2.4.6 and I'm setting a text to a TextField programatically after the user chooses an option on a UIPickerView, but the Placeholder keeps showing and the text gets overlaid by it. Is there a fix for that?

Thanks in advance

[2017-01-07 18:50] danieldahan commented on #653
Can you share your code setup :) ?

[2017-01-08 17:13] svachmic commented on #505
Hi there, I'm having hard time finding Radio Buttons. Has it been dropped or is it hidden under a different name? Thank you.

[2017-01-08 17:14] danieldahan commented on #505
@svachmic They haven't been made yet, they are still a feature request. Soon I will get to them, or someone will make a PR :)

[2017-01-09 14:45] andressaribeiro commented on #653
Basically I have two textfields and one of them should behave as a dropdown, take a look:

`
import UIKit
import Material

class ViewController: UIViewController, UIPickerViewDelegate, UIPickerViewDataSource, UITextFieldDelegate {

    @IBOutlet weak var textField: TextField!

    @IBOutlet weak var textField2: TextField!

    var options = ["Option 1", "Option 2"]

    override func viewDidLoad()

[2017-01-09 15:18] danieldahan commented on #653
Since you are using Storyboards, can you send this as a sample project? I don't know what you have as constraints, so replicating the issue is tricky.

[2017-01-09 16:51] andressaribeiro commented on #653
I have just sent it, take a look. Thanks!

[2017-01-09 16:52] danieldahan commented on #653
Yes, looking now :)

[2017-01-09 17:12] danieldahan commented on #653
Fixed your issue, I will make a release :)

[2017-01-09 17:30] danieldahan commented on #653
Please find your fix in [Material 2.4.8](https://github.com/CosmicMind/Material/releases/tag/2.4.8). Thank you :) If you have any further issues, please reopen or create a new issue.

[2017-01-09 17:30] #653 closed

[2017-01-09 17:31] #555 closed

[2017-01-09 17:32] danieldahan commented on #555
This has been added, and will be released in Material 2.5.0. Thank you!

[2017-01-09 17:32] danieldahan commented on #650
Looking into this today. Thank you!

[2017-01-09 18:39] andressaribeiro commented on #653
Thank you very much, it works perfectly now!

[2017-01-09 18:40] danieldahan commented on #653
Keep the issues coming if you have them :) I am updating Material this entire month based off the great feedback and usage you and others are doing :)

[2017-01-10 09:30] Rensothearin opened #654 "Error installing Material"
Today when I tried installing Material and this error occured:

[code]

Please tell me what is the cause of this error. Thanks in advance.

[2017-01-10 16:59] danieldahan commented on #654
How are you trying to install it, it looks like the connection failed. Have you tried again today?

[2017-01-10 17:55] Rensothearin commented on #654
I tried to install it again after that. Now it's successfully installed.
Thank you so much for helping me.

On Tue, Jan 10, 2017 at 11:59 PM, Daniel Dahan <notifications@github.com>
wrote:

[2017-01-10 18:06] danieldahan commented on #654
No worries :) All the best!

[2017-01-10 18:06] #654 closed

[2017-01-10 18:14] danieldahan commented on #654
Make sure you are using the latest `Material`. If you are using CocoaPods you might need to run this before installing:

[code]

[2017-01-10 18:40] Rensothearin commented on #654
I resolved the error by going to `pod install` again to get the latest version of `Material`. However after doing that, my code still had error `Use of unresolved identifier 'Motion'`. Suddenly, I tried this by going to this code block:
[code]
and remove `Motion.rotate(angle: 45)` and then type it again. By doing so, the error disappeared.

[2017-01-10 18:40] danieldahan commented on #654
Interesting. So all is good now?

[2017-01-10 18:43] Rensothearin commented on #654
All is good now. Again, thanks for helping me out. :)

[2017-01-10 18:45] danieldahan commented on #654
All the best and thank you for sharing your issue :)

[2017-01-10 19:27] timoschwarzer opened #655 "Time travelling"
You probably meant 2017 here... ;-)
https://github.com/CosmicMind/Material/commit/ef7b687ba1c7f6d121e4b2b85108ee16457f7e4b

[2017-01-10 19:33] danieldahan commented on #655
Ahh, great catch. Yes, 2017. Thank you, I will make an update for this now.

[2017-01-10 19:33] #655 closed

[2017-01-10 19:37] timoschwarzer commented on #655
Great! Keep up your awesome work! 😄

[2017-01-10 19:39] danieldahan commented on #655
Thank you!

[2017-01-13 21:24] aperritano opened #656 "Icon subclassing"
@danieldahan is there a way I can setup my custom icons using the factories based on your Icon libs use, e.g. public static let image = Icon.icon("cm_image_white"). it is so optimal. would inheriting Icon and defining my own bundle work?

Daniel Dahan @danieldahan
@aperritano Can you make the Icon subclassing a Feature Request? It will help me track the investigation and work.

[2017-01-13 22:47] HybridHB opened #657 "TableViewWithinCard cell width broken when placed in scroll view."
Hello, Im seeing a problem with tableView cell widths being too narrow when placing a TableViewWithinCard inside of a scroll view. I modified the example that shows the problem. Any help on how to fix this would be appreciated.

import UIKit
import Material

class ViewController: UIViewController {
    /**
     Retrieves the data source items for the tableView.
     - Returns: An Array of DataSour

[2017-01-14 01:35] danieldahan commented on #656
Excellent! Thank you, will take a look this weekend.

[2017-01-14 01:36] danieldahan commented on #657
Hey, I will be able to look at this tomorrow :)

[2017-01-14 19:17] danieldahan commented on #657
Hey, so I had been playing around with your code and it is a really weird situation. Very interesting actually. I read throughout StackOverflow and it seems that the layout of the default `textLabel` behaves different in various situations. So I did an experiment and added a `UILabel` to the `TableViewCell` with the following code:

[code]

This is in the `func tableView(_ tableView: UITableView,

[2017-01-14 19:17] #657 closed

[2017-01-16 12:02] LuckyFA commented on #652
I did it like this for a temporary solution:
`tabBar.pageTabBar.buttons[index].sendActions(for: .touchUpInside)`

[2017-01-16 14:17] adeesh opened #658 "Is there a way to disable placeholder animation while entering text?"
Hello,
I am new to Material library.

i have a custom requirement where i don't want to have animation where placeholder of text fields animates to top left. But i do need other feature of Textfield.

I tried looking into implementation of Text Field but didn't find anything concrete. Please suggest.

[2017-01-16 14:23] adeesh opened #659 "Register Page - ez WaitingRoom text is not visible."
http://52.173.79.103:8080/EZ/RegisterAccount

- ez WaitingRoom text needs to be in black as white text is not visible.

[2017-01-16 14:23] #659 closed

[2017-01-16 14:24] adeesh commented on #659
Sorry i have put this by mistake.

[2017-01-16 16:54] danieldahan commented on #658
Hey :) Welcome.

There is this boolean:

[code]

It wont animate, but will be at the top. Is that what you are looking for?

[2017-01-16 16:59] danieldahan commented on #659
No worries :)

[2017-01-16 17:02] danieldahan commented on #652
Excellent that you have made a temporary solution. I am almost done the addition of the animation and transition library for Material, and that is what I am going to use for the `PageTabBar`. It will be available soon. Thanks for your patience :)

[2017-01-16 17:13] adeesh commented on #658
We don't want to show it on top when user types i.e. default behavior of UITextfield. But we do want to show error message like Material TextField provides.

[2017-01-16 17:14] danieldahan commented on #658
So to confirm, you want the placeholder, but not the animation ? Or you don't want it at all. If you don't want it at all, you don't need to set it. Otherwise, I may need to consider this a feature request.

[2017-01-16 17:30] adeesh commented on #658
yes we want placeholder but not animation.

[2017-01-16 17:30] danieldahan commented on #658
Okay that would be a feature request then. I can make that for you :)

[2017-01-16 17:36] adeesh commented on #658
Thanks Daniel for quick support.

[2017-01-16 19:30] adeesh commented on #658
How much time it usually take to add this type of feature?

[2017-01-16 21:32] danieldahan commented on #658
I will make it work within the next couple days, latest the end of the week.

[2017-01-17 14:09] GABHISEKBUNTY opened #660 "PageTabBarController Position and Tab length issue."
Heyy congrats for such a great library. I have few issues with the PageTabBarController. The following screenshot can be referred for the issues

<img width="346" alt="pagetabbar" src="https://cloud.githubusercontent.com/assets/15869731/22023545/9a129430-dcec-11e6-91b3-97f20c08271e.png">

**1. Position of Tab**
I tried the following piece of code for positioning the tab to top of View Controller:

[2017-01-17 15:18] nexelen commented on #446
@danieldahan are You look this problem? I have the same problem =( . Your framework look pretty good.
![out](https://cloud.githubusercontent.com/assets/2895753/22026278/61285552-dce1-11e6-9b79-5ae3301d631f.gif)

[2017-01-17 16:36] danieldahan commented on #446
@nexelen this shouldn't be happening. What version of Material are you using?

[2017-01-17 16:42] danieldahan commented on #660
Hey :) Thank you!

For your questions:

1. Use the `pageTabBarAlignment` property of the `PageTabBarController`.

2. I am adding in dynamic width feature, as I am rewriting the `PageTabBarController` component. I am almost done the new `MotionAnimation` and `MotionTransition` library for Material, which is what I need for the updates.

If you have any other issues, please reopen or create a new on

[2017-01-17 16:42] #660 closed

[2017-01-17 16:46] nexelen commented on #446
@danieldahan Last version

[2017-01-17 16:50] danieldahan commented on #446
Can you send me a sample of this, because that should not be an issue. Thank you! Please send to support@cosmicmind.com :)

[2017-01-17 16:53] nexelen commented on #446
@danieldahan ok) its done

[2017-01-17 16:54] danieldahan commented on #446
Got it, taking a look.

[2017-01-18 20:40] adeesh commented on #629
Does this support custom Alert designs as well?

[2017-01-19 10:30] nexelen commented on #446
@danieldahan Hello! What's new? What can i do? =)

[2017-01-19 17:51] danieldahan commented on #446
@nexelen  Hey! I haven't fully figured out your issue. May I ask, do you need the `UINavigationController` functionality, or look? Also, the issue seems to come from a miscalculation of the statusBar size because it is not visible when the `NavigationDrawerController` is opened. I am going to reopen this issue and work on it more today.

[2017-01-19 18:02] nexelen commented on #446
@danieldahan Yes, I need the UINavigationController functionality. Thanks for the answer!

[2017-01-19 18:10] danieldahan commented on #446
@nexelen Okay, I will work more on this today :)

[2017-01-19 18:54] danieldahan commented on #629
Yes it will. Everything in Material is customizable :)

[2017-01-20 08:13] OrkhanAlikhanov opened #661 "Allow global configuration of NavigationController back button tint color."
I tried all options to change back button color for hours. But had no success and decided to open up source and see what the heck is going on there :) Here is the code we have inside `NavigationController.swift` which is missing a line:
[code]

[code]
Thanks for this awsome library 👍 🥇

[2017-01-20 15:48] danieldahan commented on #661
Hey :) Thank you! To change the color of the `backButton`, you can use the `navigationItem.backButton.tintColor` property for the view controller you want to change it for. Take a look at the sample [NavigationController project line #47](https://github.com/CosmicMind/Samples/blob/master/Material/Programmatic/NavigationController/NavigationController/NextViewController.swift#L47).

Please reopen o

[2017-01-20 16:12] danieldahan commented on #661
Did you set it in the correct view controller? Take a loot at that sample. That should help you out :)

[2017-01-20 16:13] danieldahan commented on #658
I will aim to get this out to you today.

[2017-01-20 17:58] adeesh commented on #658
Thanks Daniel for update

[2017-01-20 18:55] OrkhanAlikhanov commented on #661
@danieldahan Well, actually I tried to set it globally, in [AppNavigationController](https://github.com/CosmicMind/Samples/blob/master/Material/Programmatic/NavigationController/NavigationController/AppNavigationController.swift#L34). I think there should be something like default back button color in order to set it once instead of setting color in every ViewController.

[2017-01-20 19:14] danieldahan commented on #661
I agree @OrkhanAlikhanov :) I will make this a feature request and include it in Material 2.5.

[2017-01-20 21:28] danieldahan commented on #658
Hey, so the update is in [Material 2.4.11](https://github.com/CosmicMind/Material/releases/tag/2.4.11). To use it, set the `placeholderAnimation` enum like so:

[code]

That should do it :) All the best!

[2017-01-20 21:28] #658 closed

[2017-01-22 14:11] adeesh commented on #658
Thanks @danieldahan , Its working.

[2017-01-22 16:55] tarek903 commented on #575
@danieldahan  will RTL support be available for 2.5.0 update?

[2017-01-23 15:49] danieldahan commented on #575
@tarek903 I may be able to squeeze it in as I work on `Editor (TextView)`.

[2017-01-24 13:48] balazsgerlei opened #663 "Enable setting left inset for TextView"
It would be nice to give an option to set left inset for the text (and placeholder) in TextView.

[2017-01-24 13:49] balazsgerlei opened #664 "Enable to set corner radius for TextView"
Sometimes I would like to specify a background color for the TextView and it would be nice to be able to also specify corner radius. Is it possible or if not, could you add support for it?

[2017-01-24 14:00] balazsgerlei opened #665 "Enable setting different color for inactive placeholder when text is entered or not for TextField"
If I set a background to the TextField, the same color is not always appropriate for the placeholder in inactive mode (when the cursor is not in the TextField) for when text is entered and when nothing is entered. It would be very useful to be able to set two different colors for the placeholder when text is entered and when not.

Thank you in advance!

[2017-01-24 16:05] Arkezis opened #666 "Dynamic height for Snackbar"
Hello,

Is it possible to make the height of the Snackbar dynamic depending on the text contained ?
I'm using it to display error messages. Sometimes, there is 2 or 3 lines of errors. Sometimes, only one ;)

Maybe a maxHeight is also relevant ?

Thanks a lot :)

[2017-01-24 19:42] danieldahan commented on #663
I will add this in the new updates I am making for TextView and Editor :) Always happy to receive suggestions, thank you!

[2017-01-24 19:47] danieldahan commented on #666
Hey, there is a way to adjust the height, using the `height` property, or `heightPreset` property. Both will adjust the size of the `Snackbar` text area since that is dependant on height. Also, there is a function `UIFont.stringSize...` that will calculate the CGSize of a string based on a given width and string value that uses a given UIFont.

Give that a try, and let me know if you need any furt

[2017-01-24 19:47] #666 closed

[2017-01-25 17:44] OrkhanAlikhanov opened #667 "How to set Toolbar elevation/shadow?"
How can I set Toolbar elevation/shadow?
Didn't you implement that?

I am currently overriding ```layoutSubviews``` method of the ToolbarController to achieve that.

[code]

[2017-01-25 17:51] danieldahan commented on #667
Hey!

You can set the `depthPreset` or `depth` property, for example:

[code]

That's all you need :) All the best!

[2017-01-25 17:51] #667 closed

[2017-01-25 17:52] danieldahan commented on #665
Hey!

Take a look at the following properties available for the `TextField`.

[code]

All the best :)

[2017-01-25 17:52] #665 closed

[2017-01-25 17:54] OrkhanAlikhanov commented on #667
@danieldahan they don't work though.
I set `toolbar.backroundColor` to `.clear. Can this be the case?`

[2017-01-25 18:08] danieldahan commented on #667
Yes, because when it is clear, iOS will set the background on whatever is being drawn.

[2017-01-25 18:13] OrkhanAlikhanov commented on #667
Do you think that it is worth including `forceShadow()` method  into the library for whom did `backgroundColor = .clear`?

[2017-01-25 18:14] danieldahan commented on #667
Well the issue I see with that is that it will have to create a background color, which will have the developer want to change that color. Currently, it is defaulted to white, which is pretty much a force shadow unless you change or remove the color.

[2017-01-25 18:16] OrkhanAlikhanov opened #668 "Implement Switch.buttonOnImage and Switch.buttonOffImage. Make Switch.trackThickness and Switch.buttonDiameter public"
I like this library's Switch control which has nice effects (bounce, ripple) but I had to customize it a little bit.
Please consider this for the future releases.

[code]

And setting images inside [updateColorForState](https://github.com/CosmicMind/Material/blob/master/Sources/iOS/Switch.swift#L424)
[code]

sharing the uncompleted current switch  :)

![image](https://cloud.githubusercontent.com/a

[2017-01-25 18:18] danieldahan commented on #668
Ah... interesting. Cool, I will leave this as a feature request and look into it for the upcoming releases. Thank you very much :)

[2017-01-26 17:46] danieldahan commented on #664
I would have to setup a sample project to test this, but you could try masking bounds and setting the cornerRadius property. TextView is essentially a view, which should support this. Let me know before I setup a test project :)

[2017-01-26 18:42] OrkhanAlikhanov opened #669 "NavigationItem: leftViews and rightViews are not animated?"
Why is the views that I put inside `leftViews` and `rightViews` of the `NavigationItem` not being animated when I use the swipe back gesture of `NavigationViewController`?

I do see that backButton is [inserted](https://github.com/CosmicMind/Material/blob/master/Sources/iOS/NavigationController.swift#L150) into `leftViews` and it does be animated when I do so. What is the point that I am missing?

[2017-01-26 18:48] OrkhanAlikhanov commented on #669
They stay static while back button is moving with above view controller. Maybe back Button is handled by the iOS API?

[2017-01-26 18:51] #669 closed

[2017-01-26 19:00] OrkhanAlikhanov commented on #669
OK got it, the point that I was overlooking is that I was anticipating the below viewController's leftViews and rightViews to be animated as well while that of above viewController's were animating. However, the default UINavigationContoller does not do this as a design. I apologize for wasting whomever I disturbed :/

**Note:** above and below viewControllers refers to the viewControllers that ar

[2017-01-26 21:56] danieldahan commented on #669
Ah no worries, and with MotionTransition, which I am working on, you will be able to do such animations. All the best :)

[2017-01-27 09:18] GABHISEKBUNTY opened #670 "Can Icons of Tab bar buttons be set to bottom of Title ?"
Hi, Is there any property by which we can set image of tab bar button to bottom  of the text as below attached screenshot :

<img width="79" alt="screen shot 2017-01-27 at 2 47 12 pm" src="https://cloud.githubusercontent.com/assets/15869731/22365830/9b314b6c-e49f-11e6-9310-2c03d5549a4f.png">

[2017-01-27 15:39] rockyru opened #671 "MapkitView not showing"
Why is my Map not showing? Is there something wrong on my rootviewcontroller?

[2017-01-27 19:30] danieldahan commented on #671
Hey, I am not sure. You need to provide some code, or sample project I can look at, and describe the relationship to Material that you believe it is. Also, what version are you using for Xcode, Material, testing device... etc?

Please reopen the issue when you have these items :) Thank you!

[2017-01-27 19:30] #671 closed

[2017-01-31 02:37] GreyEcologist opened #672 "Menu hitTest() crash when outside Menu area"
Since version 2.4.2, when the menu is opened and enabled, if user press outside the menu area the hitTest crashes. I'm not able to see the changes from 2.4.1 to 2.4.2 but my issue started since that version.

This is my current set up for the Menu:

[code]

The exact error is a exc_bad_access at line  112 of the Menu class inside the hitTest() method:
[code]

[2017-01-31 13:41] danieldahan commented on #672
Hey, what version are you using now? I believe I have fixed this, and if it has not been released yet, it is definitely coming up in the next release. I spent a lot of time fixing up this control for Material 2.5. Can you confirm the latest has it? Material 2.5 is near ready and will have a definite fix. Here is an article you can read that describes the new FABMenu's usage: [Transitions With FABM

[2017-01-31 13:44] danieldahan commented on #670
Hey :) At the current moment they only set at the bottom. You could however set this type of behaviour with a custom UIView that is set within the `UIButton` property for the `TabBar`. Let me know if you need any further help, all the best!

[2017-01-31 13:44] #670 closed

[2017-02-01 02:11] GreyEcologist commented on #672
@danieldahan Thanks, will have a look. I've tried with 2.4.11, 2.4.5 and 2.4.2, same result: I have to regress to 2.4.1 for it to work.

[2017-02-01 14:02] danieldahan commented on #672
Okay, there is a fix in Material 2.5 for this. So when I release it, I will close this issue and you can update :)

[2017-02-02 07:20] vineetsansare opened #673 "Unable to use Material 2 in Xcode 8.2.1"
Hello guys,

Firstly, thank you for such a lovely library.

Well, I'm working with Swift 3 using Xcode 8.2.1 and I installed Material 2.0 with Cocoapods. But I'm facing build time errors. Can you tell why is this happening? What am I missing?

# My Podfile looks like this -

[code]
# Attaching the screenshot below -

![screen shot 2017-02-02 at 12 40 35 pm](https://cloud.githubusercontent.com/asse

[2017-02-02 10:35] hisham2007 commented on #673
I face a similar issue.
It fails in compile time:
"module compiled with swift 3.0 cannot be imported in swift 3.0.2"

[2017-02-02 11:01] Sufi-Al-Hussaini opened #674 "Animating menu button in openMenu() causes menu to close"
I find that adding a rotation animation to the first button in a menu in `openMenu()/closeMenu()` makes the menu close soon after it opens. The same code was working fine in 2.2.5.
[code]

Do I need to change something?

[2017-02-02 21:06] danieldahan commented on #673
Hey :)

That is strange, everything is working for me. I will look into this. Thank you for bringing the issue to my attention.

[2017-02-02 21:11] danieldahan commented on #674
Hey, I am working on a release that will bring a new and more robust menu, `FABMenu`, to Material. Once I do that, I will give it to you to test and confirm the issue is fixed. Here is an article, [Transitions With FABMenuController](http://cosmicmind.sandbox.local/danieldahan/transitions-with-fabmenucontroller) that you can read in preparation on using the new `FABMenu`.

[2017-02-02 22:41] dmwesterhoff opened #675 "Scrim color for NavigationDrawerController"
To my knowledge the 'dimming' of the root view controller content is done like so in the code:
`s.rootViewController.view.alpha = 0.5`

A possible enhancement to provide more flexibility could be a "scrim color" property (android nomenclature).

The user could optionally set a scrim color, behind the scenes this might be layered over the root view controller and set to full transparency when drawe

[2017-02-02 22:47] HybridHB opened #676 "Multi line UILabel not laying out correctly"
In the presenter card sample with no modifications, the text in the content view (uilabel) is truncated instead of word wrapping like the sample image on the main project page. This happens with every sample project Ive tried.

[2017-02-03 10:37] danieldahan commented on #676
Hey, nice catch. Please find a fix in [Material 2.4.12](https://github.com/CosmicMind/Material/releases/tag/2.4.12). The samples have been updated as well. Thank you!

[2017-02-03 10:37] #676 closed

[2017-02-03 10:49] danieldahan commented on #672
Hey, I have tried both the [CardTableView](https://github.com/CosmicMind/Samples/tree/master/Graph/CardTableView) and [MenuController](https://github.com/CosmicMind/Samples/tree/master/Material/Programmatic/MenuController) samples with [Material 2.4.12](https://github.com/CosmicMind/Material/releases/tag/2.4.12) and cannot reproduce the issue. Material 2.4.12 is a new release today. Please give it

[2017-02-03 10:49] #672 closed

[2017-02-03 10:51] danieldahan commented on #675
Yes, this is a great suggestion and has been added in Material 2.5.0 for the FABMenu. I will look at adding it to other similar style views. Thank you! I will leave this open as a feature request until I release.

[2017-02-03 10:53] danieldahan commented on #673
So I cannot reproduce this issue. Possibly clear your Derived Data folder. Also clean the project and make sure that you don't have old builds around. If the issue persists, please reopen the issue. Thank you!

[2017-02-03 10:53] #673 closed

[2017-02-03 10:57] vineetsansare commented on #673
@danieldahan Thanks for your reply. Closing the Xcode, Rebooting the machine and then with a fresh clean & build did the trick for me! Wonder how!!! :-\
Anyway, thanks again :)

Cheers!

[2017-02-04 07:14] asyl commented on #608
the same error `The number of view controllers provided (3) doesn't match the number required (1) for the requested transition` appears again.

[2017-02-04 12:00] Sufi-Al-Hussaini commented on #674
Thanks @danieldahan!

[2017-02-04 13:30] OrkhanAlikhanov commented on #661
Please, do not forgot pulse color :)

[2017-02-05 13:06] theolof opened #677 "Toolbar in Card has some layout issues"
When adding
`toolbar.interimSpacePreset = .interimSpace6`
to a Card, it messes up the toolbar. It pushes the leftViews and rightViews outside the toolbar boundaries. See screenshots.
<img width="625" alt="screen shot 2017-02-05 at 14 01 14" src="https://cloud.githubusercontent.com/assets/14074538/22626379/308e5a34-ebac-11e6-8ba7-20b856d982f7.png">
<img width="621" alt="screen shot 2017-02-05 at 14

[2017-02-05 21:25] danieldahan commented on #677
Hey :)

The issue is that the calculation is based on the height, and since it is a circle, the width is adjusting to the size of the height. So it is pushing the image out. I will take a look at this now and see if I can add a fix.

[2017-02-06 00:16] danieldahan commented on #674
Oops... I put my local dev machine address. Here is the correct one [Transitions With FABMenuController](http://www.cosmicmind.com/danieldahan/transitions-with-fabmenucontroller).

[2017-02-06 07:08] JuandreBarnard commented on #629
Hi, I cant find Dialogs & Alerts in your new release, will you still be releasing it?

[2017-02-06 08:28] asyl commented on #608
Hi, I need your help! I can't rewrite the amount of `viewControllers` with method
`open func setViewControllers(_ viewControllers: [UIViewController], direction: UIPageViewControllerNavigationDirection, animated: Bool, completion: ((Bool) -> Void)? = nil)`

[2017-02-06 13:19] theolof opened #678 "Trouble setting Card contentView to anything but UILabel"
Possible regression in 2.4.13 in comparison to 2.4.0:

I cannot set `card.contentView = detailView` when `detailView` is a `UIView`
This makes the layout messed up:
<img width="586" alt="screen shot 2017-02-06 at 14 02 19" src="https://cloud.githubusercontent.com/assets/14074538/22648196/c74aba20-ec75-11e6-8faa-c12b98c2a465.png">

The detailView is orange in the screenshot and the card is green. T

[2017-02-06 18:25] danieldahan commented on #608
@asyl Yes, this is in the queue to fix. I was working on launching [Motion](http://github.com/CosmicMind/Motion). Will be updated soon.

[2017-02-06 18:29] danieldahan commented on #629
Hey, @JuandreBarnard . Yes they are coming. I was waiting to build [Motion](http://github.com/CosmicMind/Motion) before I made those components.

[2017-02-06 19:41] asyl commented on #608
I found the way how to add dynamically view controllers.
First, redefine property `viewControllers` of `PageTabBarController` with your `viewControllers`.
Second use
[code]
to show the page you want. Simply
[code]

[2017-02-07 09:52] pandaxbacon commented on #446
@nexelen I have the same issue. I think the quick fix for you is to "Set the transition animation to duration 0." like @danieldahan suggested.

`(self.navigationDrawerController?.rootViewController as? AppMenuController)?.transition(to: paymentNavigationController, duration: 0, options: .beginFromCurrentState, animations: nil, completion: nil)`

[2017-02-07 10:30] nexelen commented on #446
@pandaxbacon Thx. But for me quick fix:
`guard let root = source.navigationDrawerController?.rootViewController as? UINavigationController else {
            fatalError("RootViewController not UINavigationController")
        }
        root.setViewControllers([destination], animated: false)
        source.navigationDrawerController?.closeLeftView()`

[2017-02-07 19:55] danieldahan commented on #678
I tried the sample and it should work with the latest [Material 2.4.15](https://github.com/CosmicMind/Material/releases/tag/2.4.15). If the issue persists, please reopen or create a new issue. Thank you!

[2017-02-07 19:55] #678 closed

[2017-02-08 06:55] BenBeng opened #679 "Tabbar covered when using PageTabBarController inside NavigationController"
<img width="760" alt="c04219a2f60e723b34861d70f4d1434f" src="https://cloud.githubusercontent.com/assets/2141846/22726235/4d40eef4-ee0d-11e6-993e-908d46796f97.png">

Tabbar was covered by navigation bar which worked fine in `2.4.9`.
And I noticed there were some changes about tabbar in `2.4.10`.
So how can I get tabbar showed? Need your help.

[2017-02-08 11:33] tayo119 opened #680 "How to do Navigation Bar translucent?"
When i do:
navigationBar.isTranslucent=true
![captura de pantalla 2017-02-08 a las 12 29 00](https://cloud.githubusercontent.com/assets/25578846/22735487/380393d8-edfa-11e6-8706-e71814be08c7.png)
New element called UIBarBackground with UIVisualEffectView appears on the NavigationBar and I can't do  the NavigationBar translucent.
In previous versions works.
Help me please.

[2017-02-08 13:14] theolof commented on #678
Yes, I got it to work. Had to set the height of the detailView, i.e. `detailView.height = 300`.

[2017-02-08 15:04] svachmic opened #681 "NavigationBar color breaking change?"
Hi,

I used version 2.4.10 in [my code](https://github.com/svachmic/ios-url-remote/blob/master/URLRemote/Classes/Controllers/ActionsCollectionViewController.swift) and had NavigationBar adjustment just as I wanted to. But after updating to 2.4.16, my NavigationBar colors are not being set leaving the bar white and status bar black.

Have there been any breaking changes in the last minor versions?

[2017-02-09 02:07] xaviermawet commented on #679
Hi,

I'm facing the same issue. I simply wanted to put a `PageTabBarController` with `Alignment = .top` as the rootViewController of a `NavigationController`, but it seams that the "page tab" are hidden (covered) by the NavigationBar of the `NavigationController` (page tabs are still at the top of the screen instead of being below the navigation bar).

The issue doesn't appear with `ToolbarControl

[2017-02-09 11:06] theolof commented on #677
Here's two more screenshots of the problem.

<img width="679" alt="screen shot 2017-02-09 at 12 01 46" src="https://cloud.githubusercontent.com/assets/14074538/22780633/a536a29a-eebf-11e6-93c3-0881ef1084fe.png">
Two problems for me in the above shot - First: I add a tap gesture to the red area (which should contain the knife/fork image), but since it's smaller than the image, it's hard to click. S

[2017-02-09 11:47] theolof commented on #677
I can solve it somewhat by adding the buttons directly to the rightViews:
`toolbar.rightViews = [checkMarkButton, ignoreButton]`
but then some large spacing occurs, see below.

<img width="622" alt="screen shot 2017-02-09 at 12 35 44" src="https://cloud.githubusercontent.com/assets/14074538/22781875/ce93c12c-eec4-11e6-8bf0-1c59aaec67f2.png">

The same happens if I add a `View` directly to the righ

[2017-02-10 13:59] viral-etymon opened #682 "Material update start some issue"
I am using 2.4.11 version in my project, today I have try to update pod and I get 2.4.16.

In my APP I am using NavigationController.

After update it start some strange behaviour like when I rotate screen Navigation bar does not resize to screen size and when I am going front and back of app it start some flickering.

Then I have to undo that update back to 2.4.11.

Is this known issue?

Thanks,

[2017-02-10 14:04] Tolriq opened #683 "PageTabBar tab title color"
Hi,

First thanks for this awesome library.
I'm facing a small issue, and I may have completely missed something in the doc but it seems it's not possible to change the text attributes of the selected Tab in a TabBarController.

[code]

Using above code the tab correctly change color on touch, but does not keep the chosen color for selected state (The active one).

I guess the library does not set

[2017-02-10 17:02] danieldahan commented on #677
Working more on this today :)

[2017-02-11 21:16] brucehappy commented on #642
Hey @danieldahan , thanks very much for Material.  There is some great stuff in here.  Wondering where you were with the scrollable tab bar.  Didn't want to dive in myself if you were close to checking something in.  Thanks much.

[2017-02-12 15:58] danieldahan commented on #677
Hey, I am working on your issue using the `issue-677` branch. So far coming along.

[2017-02-13 11:06] bilsou opened #684 "NavigationBar colour critical change - unable to set navigation bar"
Same as the previous users who noticed it, after an update to latest version, setting up navigation bar parameters (typically translucency) doesn't work anymore and end up with a black bar.
It would be great to know when it could be fixed, thanks

[2017-02-13 19:03] danieldahan commented on #681
Hey, yes, there is a translucency issue, which I am resolving. A fix should be available very soon.

[2017-02-13 19:05] danieldahan commented on #684
Sorry about that. Yes, there was a regression. I am working on it in the following issue: https://github.com/CosmicMind/Material/issues/681, please follow that one.

Thank you for sharing the issue.

[2017-02-13 19:05] #684 closed

[2017-02-13 19:06] danieldahan commented on #682
Sorry about that. Yes, there was a regression. I am working on it in the following issue: https://github.com/CosmicMind/Material/issues/681, please follow that one.

Thank you for sharing the issue.

[2017-02-13 19:06] #682 closed

[2017-02-13 19:07] danieldahan commented on #680
Sorry about that. Yes, there was a regression. I am working on it in the following issue: https://github.com/CosmicMind/Material/issues/681, please follow that one.

Thank you for sharing the issue.

[2017-02-13 19:07] #680 closed

[2017-02-13 19:10] danieldahan commented on #679
Yes, there is an issue with the NavigationBar. I know what it is and have already been working on a fix. It should be done soon. Please use the following issue to track https://github.com/CosmicMind/Material/issues/681 updates.

Thank you for sharing the issue.

[2017-02-13 19:10] #679 closed

[2017-02-13 19:12] danieldahan commented on #683
This is a good suggestion. Let me double check and if this is not a feature, it should be. Thank you :)

[2017-02-13 19:15] danieldahan commented on #642
Hey, thank you :)

I don't have anything coming in the immediate future, but near future yes. If you had some ideas you would want to share, that would be great.

[2017-02-14 04:55] rushstrike opened #685 "add button action"
once I instantiate a button for example:
        scanButton = RaisedButton(title: "Scan", titleColor: .white)
        scanButton.pulseColor = .white
        scanButton.backgroundColor = Color.blue.base

how do I tie scanButton to my routine on touches up event for example.

[2017-02-14 04:58] rushstrike commented on #685
oops I figured it out I can just use
.addTarget  just like a normal UIButton

[2017-02-14 04:58] #685 closed

[2017-02-14 18:19] danieldahan commented on #608
@asyl Thank you for sharing. I am working on an update to simplify switching view controllers. Your reference is very helpful :)

[2017-02-14 18:24] danieldahan commented on #652
This is the same feature request as https://github.com/CosmicMind/Material/issues/608.
Please follow that issue. Thank you!

[2017-02-14 18:24] #652 closed

[2017-02-14 21:48] danieldahan commented on #677
So I reviewed the issue and I realize there isn't an issue with Material. Your settings need to adjust. In the last try you set the values directly without wrapping them. That is correct. To move the title label over, you need to set the `toolbar.contentViewAlignment` property to `.left` or set the `titleLabel.textAlignment` value to `.left`. To create symmetry, the `contentView` holds the `titleL

[2017-02-15 08:29] theolof commented on #677
`toolbar.contentViewAlignment` doesn't have a property `.left`, only `.full` or `.center` and they don't help me.
I'm also not using `titleLabel` or `detailLabel` in this case.

Here's what I'm trying now:

profileImageView = View()
profileImageView.shapePreset = .circle
profileImageView.image = profileImage.resize(toWidth: PROFILE_IMAGE_WIDTH)!

activityTextLabel = TTTAttributedLabel(frame: CGRec

[2017-02-15 18:07] danieldahan commented on #677
The `centerViews` is in the `contentView` area. So I would still set it to `.full`. Can you share a quick sample so I can see what is up?

[2017-02-16 00:02] Ybrin commented on #681
+1

[2017-02-16 01:17] danieldahan commented on #681
@Ybrin working on a solution for this.

[2017-02-16 14:13] jnystad opened #686 "Menu.hitTest calling itself infinitely"
When delegate is not set, or if delegate does not close the menu if `isOutside == true`, hitTest calls itself infinitely, leading to stack overflow.

I assume the last line should be `return super.hitTest(point, with: event)`

From iOS/Menu.swift
[code]

I read you are working on a new Menu, FABMenu, so issue will possibly be moot by then.

[2017-02-16 14:17] jnystad commented on #686
I noticed this is a duplicate of a closed issue (sorry, I only looked at open issues) #672

However, the fix implemented in development branch is to call `close()`, perhaps this should be up to the managing app (at least if delegate is set)?

[2017-02-16 16:39] theolof commented on #677
Didn't find the time today, but I think I can do it tomorrow. Cheers.

[2017-02-17 08:50] theolof commented on #677
Here's a sample. I modified your PresenterCard sample.
[PresenterCard.tar.gz](https://github.com/CosmicMind/Material/files/782656/PresenterCard.tar.gz)

This is the result:
Also notice that the right image is skewed, it should be a globe. Don't know how to make it follow the aspect ratio of the original image.
![screen shot 2017-02-17 at 09 42 37](https://cloud.githubusercontent.com/assets/1407453

[2017-02-17 19:57] danieldahan commented on #677
Cool, I will take a look. Thank you!

[2017-02-19 05:28] nguyentrai2011 opened #687 "Leftview of Textfield"
Hi,
I would like to create textfield with padding left, I created leftview for textfield but expect size not correct, padding left always = 16+ textfield height, and I see in source code have this method

[code]

Why we have this code? and how can I have padding left with specify width?

**Update**
I had created new class inherit from **TextField** and override __leftViewWidth__

[code]
Waiting fo

[2017-02-20 19:34] garie opened #688 "NSCalendarsUsageDescription now required"
I recently updated to Material 2.4.16 (previously 2.2.4). Now when I attempt to submit my app to TestFlight, it fails with the message "Missing Info.plist key - This app attempts to access privacy-sensitive data without a usage description. The app's Info.plist must contain an NSCalendarsUsageDescription key with a string value explaining to the user how the app uses this data."

We are not using

[2017-02-20 20:11] danieldahan commented on #688
Hey, yes, in CocoaPods it is an optional addition. The easiest way to remove the issue is to delete the `Reminders` and `RemindersController` files. There is an issue to investigate using Carthage with optional file additions. I hope that helps for now and all the best. I will be looking into the optional file additions within the next few days before I release the next major update.

[2017-02-20 20:11] #688 closed

[2017-02-20 20:14] danieldahan commented on #686
Hey, there is a fix for this already in the next major release. I am running through all the sample projects so that I could make the `Material 2.5` release. The new menu is called `FABMenu` once released. I will leave this open until I release the next update.

[2017-02-21 03:49] levyjm opened #689 "Title alignment on buttons"
Hi Is it possible to left-align the title on buttons?

[2017-02-21 21:49] danieldahan commented on #687
You could specify the `leftViewOffset` value to any size that you want. So it is at least the height of the textField + an offset of 16, which sets the image nicely and then gives space between the text. You could change the `leftViewOffset` value to whatever you like, +/-. If you want to override the leftViewWidth property, it is `open` for that reason. I will play with ideas on making this easie

[2017-02-21 21:49] #687 closed

[2017-02-21 21:51] danieldahan commented on #689
I found this [StackOverflow question](http://stackoverflow.com/questions/2765024/how-to-set-the-title-of-uibutton-as-left-alignment) that may be able to help you. If you need, please reopen the issue for more help. All the best :)

[2017-02-21 21:51] #689 closed

[2017-02-22 03:09] nguyentrai2011 commented on #687
@danieldahan
That's my mistake bcz I don't pay attention about `leftViewOffset`
Thanks for your support, now i know using this, if expected padding left 16pt just doing 2 step:

1. Create left view
2. `self.txtTest.leftViewOffset = -(self.txtTest.frame.size.height - 16);`

[2017-02-22 04:11] KingBright opened #690 "Can this library actually support macOS?"
I can see the 'macos'  tag below the project description and also can find the macOS [support declaration](https://github.com/CosmicMind/Material#requirements) in requirements section in README. But when I use cocoapods to install it in a macOS project, it will tell me

[2017-02-22 12:54] xaviermawet commented on #681
Is there any updates (release?) coming soon fixing issues about the Navigation{Bar|Controller} ? Regards.

[2017-02-22 16:02] theolof opened #691 "Help needed with navigation controllers"
I'm trying to add both a bottom navigation and a top navigation. One of my ViewControllers should have a FABMenu on it, that's why I make it an AppMenuController.

I'm just guessing, and it's not working. When I do it like this, nothing is shown in the top navigation. It is there, but no title is shown. How am I supposed to do this?

[code]

Definition of the controllers:

[code]

[2017-02-22 16:54] cody1024d commented on #604
Any update on this?

[2017-02-22 16:55] danieldahan commented on #604
@cody1024d soon, I am releasing some updates within the next day, and then going back to the feature request list.

[2017-02-22 17:21] cody1024d commented on #604
Sounds good! ---Thanks for the quick response @danieldahan!

[2017-02-22 22:20] danieldahan commented on #690
There was an issue with the podspec and only colors were supported. I am removed macOS support completely as of now. Thank you and all the best!

[2017-02-22 22:20] #690 closed

[2017-02-23 12:31] theolof commented on #691
I think I got it...

In `ViewController1` I need to use `menuController.tabBarController?.navigationItem` to set the navigation title and `menuController.tabBarItem` to set the tab bar properties

In `ViewController2` I need to use `tabBarController?.navigationItem` to set the navigation title and `tabBarItem` to set the tab bar properties

Correct?

[2017-02-23 22:30] danieldahan commented on #681
Yes, I am working on it for the next release. Basically the hold up is going through everything to make sure all works well and to hammer off many issues with this release. Sorry for any delays.

[2017-02-24 00:03] ntus1017 opened #692 "Build error Carthage"
Version: 2.4.18
Command:

Output:

[2017-02-24 00:41] SirComet commented on #692
same issue here...

[2017-02-24 07:23] theolof commented on #691
I'll close this, but it's a lot of work setting the title of the navigation. That's maybe iOS, and not Material? Let me know if there is an easier way.
In one ViewController, I need to do this:
[code]
because the tabBarController isn't always there (multiple ways of reaching the ViewController). And in another ViewController I need to do this:
[code]
since the ViewController is wrapped in a MenuCo

[2017-02-24 07:23] #691 closed

[2017-02-24 08:55] HowardCsie opened #693 "How can i use toolbarcontroller to push a new vc?"
Is there any way to do this?
 ```toolbarController?.pushViewController(vc, animated: true)```

[2017-02-24 09:14] Tolriq commented on #683
@danieldahan any other way to achieve active tab text color change before you add support for the selectors?

[2017-02-24 15:27] danieldahan commented on #693
No, you would need to use the `NavigationController` to do this.

[2017-02-24 15:27] #693 closed

[2017-02-24 15:29] danieldahan commented on #692
I believe it is because I left a schema in the project. I am fixing it now.

[2017-02-24 15:40] danieldahan commented on #692
Hey, sorry about this. The fix should be in [Material 2.4.19](https://github.com/CosmicMind/Material/releases/tag/2.4.19). Thank you!

[2017-02-24 15:40] #692 closed

[2017-02-24 16:09] danieldahan commented on #691
So the way I understand setting the title with a `UINavigationController` is that you need to always set the value in the latest `rootViewController`. In your original setup:

[code]

the `rootViewController is the `bottomNavigationController`, so the title should be set there. If you don't want to set it there, and want to set it in a deeper nested view controller, you would need to climb the hie

[2017-02-24 16:15] danieldahan commented on #683
@Tolriq If you keep a state variable for the active button/tab, you could ensure it is always highlighted. That would be basically what I would do internally. You can do this by subclassing the `TabBar` or `PageTabBar` and adding the property, and then listen in on selection changes by subclassing the `select` method. I would go about it that way as an initial idea.

[2017-02-24 16:18] danieldahan commented on #580
I can't seem to find any way to do this in Carthage. If you have an idea of how, as I am not that familiar with using Carthage, please reopen the issue with your suggestion. One idea is to separate out the privacy components into separate repos and component libraries. This is something I am thinking about. Sorry I couldn't be more help on this.

[2017-02-24 16:18] #580 closed

[2017-02-26 01:04] mxia commented on #559
The swift-2.3 branch doesn't appear to exist any more. Is there a tagged version we could check out that works for Swift 2.3?  Thanks!

[2017-02-26 02:13] danieldahan commented on #559
@mxia That branch has gotten very far behind and was not supported. So I removed it in favour of only leaving branches that are supported.

[2017-02-27 07:48] julianpomper opened #694 "Question: Swift 2.3 Version"
I know that I should not ask questions here, but I cannot ask questions on stack overflow anymore.

Is there anywhere a 2.3 Version of this awesome library? I know I should update to 3.0 but I do not have the time now.

I am really sorry that I had to ask this question here, but I found no other possibility.

[2017-02-27 15:18] danieldahan commented on #694
No worries on asking questions here. There was a 2.3 version but it fell very behind the current 3.0 Material features and so I dropped the support for it. I am about to update Material to version 2.5 within the next 24 hours. So I would suggest making the update if you can. All the best and keep the questions coming if you have any.

[2017-02-27 15:18] #694 closed

[2017-02-27 19:56] danieldahan commented on #686
Hey, this should be fixed in [Material 2.5.0](https://github.com/CosmicMind/Material/releases/tag/2.5.0) using the latest [FABMenu](http://www.cosmicmind.com/material/fabmenu). All the best!

[2017-02-27 19:56] #686 closed

[2017-02-27 19:58] danieldahan commented on #674
The latest release of [Material 2.5.0](https://github.com/CosmicMind/Material/releases/tag/2.5.0) is out. Thank you!

[2017-02-27 19:58] #674 closed

[2017-02-27 19:59] danieldahan commented on #446
Not sure where you are with this. I haven't been able to reproduce this. If the issue persists, please reopen this issue. Thank you!

[2017-02-27 19:59] #446 closed

[2017-02-28 02:46] SirComet commented on #546
How do I do a transition back to the rootViewController once I am in the transitioned VC ?

[2017-02-28 11:36] jnystad commented on #686
Will definately check it out. Thanks!

[2017-02-28 14:52] danieldahan commented on #546
@SirComet You would need to call the `transition` function again. If you are looking for a `backButton` type feature, use the `NavigationController` component over the `ToolbarController.

[2017-02-28 15:42] SirComet commented on #546
Ok, I will use the NavigationController. Thank you

[2017-02-28 15:55] svachmic commented on #681
Hi Daniel,
thanks for the 2.5.0 release 🎉. However nothing has changed with regards to the bar color. Are we doing something wrong or is it really a bug? Should I style my bar in a different way?
Thanks!

[2017-02-28 15:56] danieldahan commented on #681
No, you are correct. I didn't want to wait longer to release 2.5.0, so I will release this fix and a few others in 2.5.1. I will be working on it today and tomorrow. So it shouldn't be more than a day to get this to you.

[2017-02-28 15:57] #632 closed

[2017-02-28 15:58] #617 closed

[2017-02-28 16:00] #631 closed

[2017-03-02 02:33] lazarte opened #695 "FabMenu with the direction"
FabMenuItems messed up for the directions except up.

**First Tap**
![up_direction_1](https://cloud.githubusercontent.com/assets/248630/23490404/717a0eea-ff33-11e6-9db0-efa3c24ad5a9.png)

**Third Tap**
![up_direction_2](https://cloud.githubusercontent.com/assets/248630/23490412/780615d8-ff33-11e6-8440-b9ac1b71eb27.png)

[2017-03-02 02:49] danieldahan commented on #681
@svachmic Hey :) Can you test the `development` branch and let me know if this solves the issue? Also, I didn't have an issue setting the background color in general, so if you could share some code if the proposed solution does not fix your issue. Thank you!

[2017-03-02 03:22] lazarte commented on #695
Did a pull request please check [SpringAnimation Pull Request](https://github.com/CosmicMind/Material/pull/696)

[2017-03-02 03:24] danieldahan commented on #695
Yes, I took a look and looks good. I will test and review tomorrow :) Thank you!

[2017-03-02 04:29] danieldahan commented on #681
So I was able to revert back to the original setting. All should be fixed. If the issue persists, please reopen this issue. Thank you!

[2017-03-02 04:29] #681 closed

[2017-03-02 04:45] danieldahan commented on #681
You should be able to find the fix in [Material 2.5.1](https://github.com/CosmicMind/Material/releases/tag/2.5.1). Thank you :)

[2017-03-02 15:28] AkitakiLab opened #697 "Material style slider"
I found that there's a UI component that hasn't been implemented: slider.
Wish to see that in the future releases!

[2017-03-02 18:02] danieldahan commented on #697
Cool :) I will add this as a feature request. Thank you.

[2017-03-02 18:36] svachmic commented on #681
Confirming fully working code! Thanks!

[2017-03-02 20:08] danieldahan commented on #681
@svachmic anytime :)

[2017-03-02 20:23] danieldahan commented on #695
Thank you for the PR, it worked out well. You should be able to find your fix in [Material 2.5.2.](https://github.com/CosmicMind/Material/releases/tag/2.5.2). All the best!

[2017-03-02 20:23] #695 closed

[2017-03-02 20:25] danieldahan commented on #639
Thank you for sharing this, I am posting a fix to the app store. All the best :)

[2017-03-02 20:25] #639 closed

[2017-03-02 23:26] danielneri commented on #559
@danieldahan what options do we have if we're not ready to upgrade to Swift 3?

[2017-03-02 23:28] danieldahan commented on #559
@danielneri there really isn't another option. Material will be expanding a lot this month with new features. At this point only Swift 3 will be realistic to maintain.

[2017-03-03 08:58] kudosQUJO opened #698 "Layout Issue with UITableViewController + SearchBarController + BottomNavigationController"
Hello,

First of all I LOVE this library so keep up the great work! Now onto my issue. I have a simple UITableViewController rooted in both a SearchBarController and a BottomNavigationController. I am running into an issue where the last couple cells are covered up behind the tabBar on the bottom after scrolling to the bottom of the tableView. It appears that the tableView layout ignores the tabBa

[2017-03-03 17:34] danieldahan commented on #698
Thank you :)

Can you share your setup code?

[2017-03-03 22:40] danielneri commented on #559
I don't think this is a good option for people that have adopted the
library and aren't ready to migrate to Swift 3.

Personally this was motivation enough to migrate, but I have a medium sized
app that will take me a good 10-20 hours to migrate - I can't imagine a
more enterprise sized app.

Can you bring back that old branch if possible so people aren't forced to
migrate?

On Thu, Mar 2, 2017 at

[2017-03-03 23:43] danieldahan commented on #559
Well there is a few ways to think about this.

1. Material 2.3 is far behind and therefor not a correct representation of the library.
2. Your 10 - 20 hours to migrate, or my months of maintenance on an old version of the library. I think the 10 - 20 hours is an easier task and you will be progressing at the rate I do.
3. I never created the 2.3 branch. It was done by a community member that did n

[2017-03-04 10:21] theolof commented on #698
I had this issue, but I changed the controller to a `UIViewController` with an embedded `UITableViewController` instead.

I also made sure the `UITableViewController` was aligned to the bottom layout guide, instead of `self.view`:

[code]
It also works for me with this:
[code]

Maybe any of that that helps.

[2017-03-04 11:45] mrfonda opened #699 "TextField's rightView/leftView doesn't switch places in hebrew/arabic system language"
<img width="320" alt="screen shot 2017-03-04 at 13 44 00" src="https://cloud.githubusercontent.com/assets/18546910/23578482/aa1e0cc0-00e0-11e7-93db-512f84b9d658.png">

[2017-03-04 16:40] lrn2fly commented on #699
nice

[2017-03-05 22:52] kudosQUJO commented on #698
@theolof Thanks for the advice! That worked!

[2017-03-05 22:52] #698 closed

[2017-03-06 15:39] danieldahan commented on #698
@theolof thank you for your help on this one :)

[2017-03-07 10:33] balazsgerlei commented on #665
Sorry for the quite late response.
Yes, I tried these properties, but the thing is that I would like to specify a different color for the placeholder label when text is entered and when not. This is because if I use a dark background for the screen and a light background for the TextField itself, netiher a light or a dark color work for the "placeholderNormalColor", as the placeholder is inside th

[2017-03-07 10:44] balazsgerlei commented on #664
Sorry for the quite late response. I tried setting the cornerRadius property before which does not work somehow. Masking the bounds does somewhat work but it does hide the line and the floating label when set. I used the following code:

[code]

However since I created this issue I switched to using my own TextField implementation (mainly not because of this problem) so the solution for this is no

[2017-03-07 16:21] Yaldo425 opened #700 "Adding NavigationBar to existing ViewController"
Specifically in the NavigationController.xcodeproj sample, a ViewController with the navigation and everything is created all through code, but I would like to implement it to a storyboard viewcontroller that I already have, how would I do that?

This is what I've tried and it does not work:

[code]

[2017-03-07 17:59] danieldahan commented on #700
@Yaldo425 Take a look at the [NavigationController storyboard example](https://github.com/CosmicMind/Samples/tree/d34507fc173428d36c94f43e22148929e8ca15dc/Material/Storyboards/NavigationController). If you need, reopen the issue. All the best :)

[2017-03-07 17:59] #700 closed

[2017-03-07 23:24] danieldahan commented on #664
Thank you! I am going to close this for now and welcome any questions or suggestions as always :)

[2017-03-07 23:24] #664 closed

[2017-03-07 23:26] danieldahan commented on #699
There is a feature request that is along the lines of this. I will link it here: https://github.com/CosmicMind/Material/issues/575, I will push this up the priority chain, as I could imagine it is needed by many people. Thank you!

[2017-03-08 04:25] SanRam opened #701 "Need a feature to support multiline for ErrorTextField."
Use UITextView instead of UITextField.

[2017-03-08 09:49] DamienLevel opened #702 "Modify the title with self.navigationItem.title doesn't work"
Hi everyone,

Thank you for your awesome lib !

I just want to use the ErrorTextField component in my app but since I've imported Material in my project, I can't change programmatically the title of my ViewController with `self.navigationItem.title` because your Extension override the variable `title`.

    /// Title text.
	@nonobjc
	public var title: String? {
		get {
			return titleLabel.text

[2017-03-08 12:16] cecilcosta opened #703 "TextView isn't scrolling with placeholder"
I'm struggling with the following issue: Create a scene with just a text view and its constraints (leading, trailing, top and bottom). Set its text to be greater than the current text view area. Run the app and you will see that you are able to scroll perfectly.
Now on the `viewDidLoad`, just add `self.textView.placeholderLabel = UILabel()`, and no more. Run the app and check that you are not able

[2017-03-08 12:26] cecilcosta opened #704 "Clips to bounds is removed on Text View"
add a text view and set its text to something that overflow its size. On the Interface Builder ensure that it is marked `clipsToBounds` and have a look that its preview works fine (clipping it). Run the app and check that the text field shows the overflowed area. Solution? Manually add `self.textView.clipsToBounds = true` on `viewDidLoad`, but it shouldn't be necessary.

[2017-03-08 21:15] Yaldo425 opened #705 "snackbar not working, even after copying everything"
I am trying to get a snackbar to work on my xcode project with no success. the snackbarcontroll project in the samples folder is working, so I even tried copying all swift files and the viewcontroller to my own xcode project to test and it still doesn't work. I get an empty viewcontroller without a snackbar showing up. What's the problem?

[2017-03-09 00:16] markst opened #706 "View controller-based status bar appearance not optional"
I know there are a bunch of issues reported with regards to status bar appearance not updating correctly & each of the resolutions are to disable view controller based status bar appearance.

However I'd like to use view controller based status bar appearance & I had a working solution on my app. After installing `Material` my project would no longer compile due to there being an extension on `UIN

[2017-03-09 00:20] markst commented on #706
I think the issue is due to there being an extension on `UINavigationController` which implements the property `statusBarStyle`. When in actual fact it should be an extension on the `NavigationController` class...

[2017-03-09 02:41] Yaldo425 commented on #705
Now I am pretty sure that the problem is with this:

[code]

I cannot have that in my applicationDidFinishLaunching(). Why is this code there rather having it load by itself by setting an initial view controller?

[2017-03-09 11:41] codemodouk commented on #611
Hi, sorry for hijacking this thread, but, it's relevant to my issue. I have a similar setup where I have a UITabBarController and I add that as the rootVC of my AppSnackbarController in appDidFinishLaunching. This is all working fine. However, if I navigate to one of my UITabBarController children, and then navigate to a child of that VC via a segue in my Storyboard, my snackbarController property

[2017-03-09 18:34] danieldahan commented on #611
@codemodouk are you trying to access the `Snackbar` through the `viewDidLoad` method? If so, it may not be accessible because the view controller has not been added to the hierarchy at that time. Try the `viewWillAppear` method, and use the optional `snackbarController` property found as a UIViewController extension.

[2017-03-09 18:38] danieldahan commented on #705
Can you share your project with support@cosmicmind.com?

[2017-03-09 18:40] danieldahan commented on #706
Sounds correct, I will add your PR fix to the next release :) Thank you!

[2017-03-09 18:40] #706 closed

[2017-03-09 18:44] danieldahan commented on #704
I am almost done a rework on the TextView, called Editor. I will double check this is correctly setup before I ship it. Thank you!

[2017-03-09 18:45] danieldahan commented on #704
I believe these two are connected, https://github.com/CosmicMind/Material/issues/703.

[2017-03-09 18:46] danieldahan commented on #703
Please follow https://github.com/CosmicMind/Material/issues/704, which is similar to this, and will be solved with the latest update to TextView. Thank you!

[2017-03-09 18:46] #703 closed

[2017-03-09 18:48] danieldahan commented on #702
On the next release, I will have an update for this. This conflict shouldn't exist. Thank you!

[2017-03-09 18:49] danieldahan commented on #701
Take a look at this `http://stackoverflow.com/questions/1345561/how-to-create-a-multiline-uitextfield`. Yes, the correct solution is to use a `UITextView` over a `UITextField`.

[2017-03-09 18:49] #701 closed

[2017-03-09 18:52] DamienLevel commented on #702
Great, thank you @danieldahan !
I'll check that when the update will be released.

[2017-03-09 19:15] SanRam commented on #701
I do know you have TextView in the library which extends UITextView.
But the problem it's not working straight out of the box. The Class TextView needs more work on it to bring Bottom line and label color changes based on text edit.

[2017-03-09 19:16] danieldahan commented on #701
@SanRam yup, I am working on that for the next release.

[2017-03-09 20:06] codemodouk commented on #611
I will double check when I'm in front of my desktop, but If I recall, I'm calling this long after the viewDidLoad event.

I take it from your response that I should be able to get a handle to the snackbar controller object on all child navigation controllers of the UITabBarController. Is that correct?

Sent from my iPhone

[2017-03-09 20:08] danieldahan commented on #611
@codemodouk yes, you should be able to get a handle so long as the view controller is a child of the `SnackbarController` in the view hierarchy. Keep me posted :)

[2017-03-10 04:28] tomdaniel0x01 opened #708 "Unable to manually set PresenterCard height"
I am trying to have a PresenterCard stretch from the top to the bottom of the screen no matter the height of its content. I cannot find any way to give a PresenterCard a manual height or obtain its height through constraints.

[2017-03-10 15:58] Yaldo425 commented on #705
As of yesterday I sent you guys the xcode project! Thanks in advance!

[2017-03-10 22:05] danieldahan commented on #598
I am a few hours from being done the TextView will placeholder and simplified interface. I will push a release by tomorrow. Thank you!

[2017-03-10 22:06] danieldahan commented on #704
This is now fixed and will be released tomorrow. Thank you!

[2017-03-11 11:55] codemodouk commented on #611
@danieldahan I've tested this further and can provide some additional information.

I have a Storyboard setup as follows:

UITabBarController -> UINavigationController -> UIViewController_Tab1 -> UINavigationController -> UIViewControllerChild

My app delegate instantiates the UITabBarController from the Storyboard and makes this the rootController of my AppSnackbarController object.

If I show th

[2017-03-12 12:39] OrkhanAlikhanov opened #709 "BackButton appears while animating NavigationItem"
Could you explain why are you doing `item.hidesBackButton = false` in the [`UINavigationItem.prepareItem(_:)`](https://github.com/CosmicMind/Material/blob/master/Sources/iOS/NavigationBar.swift#L309).
Deleting that line caused mysterious  three dots to appear when a viewController is pushed to the navigationController.

I have to somehow eliminate that line since it causes `backButton` to appear a

[2017-03-12 12:54] OrkhanAlikhanov commented on #709
I fixed my issue by adding boolean `shouldPrepareItem` and setting it to false when I don't need it. But I still want to know the wisdom behind the `prepareItem` :)

[code]

[2017-03-13 00:52] Yaldo425 commented on #705
Was just wondering if a solution was found for this? I've spent two hours messing with the code and storyboard but I just cannot get it to work without adding that code I posted at the top to my applicationDidFinishLaunching() which also overrides my whole storyboard configuration

[2017-03-13 01:13] danieldahan commented on #705
Hey, sorry for any delay. Tomorrow I will tackle your issue :)

This weekend has been busy with some other work.

All the best!

---------------------------------------
Daniel Dahan

M: +1 647.627.0770
Skype: djondahan

[2017-03-13 03:47] volkangurol commented on #650
hi, i want to reorder leftViews' buttons, and when i write this, left side is shifting

navigationItem.leftViews = [menuButton, navigationItem.backButton]

<img width="357" alt="screen shot 2017-03-13 at 06 41 09" src="https://cloud.githubusercontent.com/assets/2510054/23840707/22e26784-07b0-11e7-9d45-2d406998f793.png">

[2017-03-13 21:31] #708 closed

[2017-03-13 21:34] tomdaniel0x01 commented on #708
Sorry, I didn't realize these features were created by a Layout module. Everything is now working as expected.

Main functionality tutorials are hard to find on the website because they are mixed with all features. An easy fix would be to section out the primary tutorials all at the top of the Material page on the website.

[2017-03-13 21:45] danieldahan commented on #708
@tomdaniel0x01

100%, I plan to reorganize the site to help. As well, I am not even teaching all that these frameworks can do. So that should improve as well. I hope you are enjoying the frameworks so far. All the best :)

[2017-03-13 21:48] tomdaniel0x01 commented on #708
I am sure you have plenty to keep you busy. Thanks for creating such a great UI framework! It's been a pleasure to work with once I figured it out.

[2017-03-14 05:32] markst opened #710 "Cannot customize appearance of PageTabBarController tab bar"
I'm using a `PageTabBarController` & wish to make the tab button text colour different upon selecting a tab.

However I'm unable to customize the appearance of the tab bar since the `pageTabBar` property is defined as a constant & cannot be overridden with a stored property.

[2017-03-14 11:20] codemodouk commented on #611
@danieldahan - I don't mean to pressure, but any thoughts on this?

[2017-03-14 14:15] sohayb opened #712 "TableViewCell incorrect behavior"
Hello Daniel,
it's been a long time 😄., I'm glad that this project is growing steadily!
There is an issue in `TableViewCell`, even if you set `cell.selectionStyle = .none`, cell can still be selected (I mean the ripple effect is still there). I know this beats the whole point of subclassing `TableViewCell` and not `UITableViewCell` in this case but there are some edge cases when this is still need

[2017-03-15 01:44] tomdaniel0x01 opened #713 "Unable to transition ToolbarController vc with stacked layout"
I am trying to transition the rootVC of a ToolbarController from a NavigationDrawerController's leftVC.

I am calling ```toolbarController?.transition(to: dashboardViewController)``` from menuViewController.swift but nothing happens. However, I can use this same code within AppDelegate.swift and the transition works. Also, I did add a dashboardViewController variable within menuViewController.

Is

[2017-03-15 01:54] danieldahan commented on #713
Hey, so the issue is that the `menuViewController` has no idea about the `toolbarController`. The relationship between them is the `NavigationDrawerController`. So you need to write this in your `menuViewController`.

[code]

You should take a look at the [NavigationDrawerController Sample](https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/NavigationDrawerController) project

[2017-03-15 01:54] #713 closed

[2017-03-15 01:58] danieldahan commented on #712
Hey :)

Thank you! I am happy to see you using Material.

You should set the `pulseAnimation` property to `.none`.

[code]

You only need to cast if the `cell` is considered the default `UITableVIewCell` or another type.

All the best :)

[2017-03-15 01:58] #712 closed

[2017-03-15 02:05] tomdaniel0x01 commented on #713
Worked like a charm! I thought there was a sample somewhere that had what I needed but I searched and couldn't find it.

Thanks!

[2017-03-15 02:17] danieldahan commented on #710
Hey,

If you want to update the `PageTabBar`, you would need to edit the buttons directly. There is a feature request to add functionality to make this easier, https://github.com/CosmicMind/Material/issues/683.

You can access the buttons through the `buttons` property. `pageTabBar.buttons`. If you need to do this from one of the view controllers, you can use the `pageTabBarController` optional vi

[2017-03-15 02:26] danieldahan commented on #704
Sorry, I didn't get a chance to release the `TextView` when I had hoped. There is a version of it in `development` that works if you would like to try. Here is a [TextView Sample](https://github.com/CosmicMind/Samples/tree/development/Projects/Programmatic/TextView) project.

The version in `development` is pretty stable, I haven't seen any errors, but I am not done the default configurations, so

[2017-03-15 02:33] danieldahan commented on #713
Any time :)

[2017-03-15 02:41] danieldahan commented on #650
Hey, sorry this has not been fixed yet. Let me take a look :)

[2017-03-15 02:45] danieldahan commented on #699
Please follow https://github.com/CosmicMind/Material/issues/575 for updates to this. Thank you!

[2017-03-15 02:45] #699 closed

[2017-03-15 02:54] danieldahan commented on #611
No worries. Where are you accessing the `snackBarController` property in the `UIViewControllerChild`?

[2017-03-15 03:15] danieldahan commented on #710
You could use an extension as well, `PageTabBar` is an `open class`.

[code]

[2017-03-15 07:30] Z--EN commented on #453
I have XCode 8.2 and after link pod with Material framework with clear project I have a lot errors. Do you complaint XCode 8.2 ?

[2017-03-15 07:38] Z--EN opened #714 "I can't build pod Material in the XCode 8.2"
I added pod to XCode 8.2 and now I have a lot build errors.

[2017-03-15 07:38] Z--EN commented on #714
My Podfile:

platform :ios, '9.0'

use_frameworks!

target 'TestMaterial' do

pod 'Material', :git => 'https://github.com/CosmicMind/Material.git', :branch => 'development'

end

[2017-03-15 08:27] Z--EN commented on #714
I think I found solution for it seems it is work only with convert to new syntax swift.

[2017-03-15 08:27] #714 closed

[2017-03-15 09:32] codemodouk commented on #611
Yes, in UIViewControllerChild.

[2017-03-15 10:00] Johnny992 opened #716 "Button - super.init(coder: aDecoder) exception"
When i set All Exceptions breakpoint, compiler shows me that is something wrong with super.init method in Button init.

![screen shot 2017-03-15 at 10 57 44 2](https://cloud.githubusercontent.com/assets/3774213/23943094/915741f2-096e-11e7-9b0b-60017a75a367.png)

[2017-03-15 16:36] danieldahan commented on #716
I will try this and see, thank you!

[2017-03-15 16:39] danieldahan commented on #611
If you are accessing it in the `viewDidLoad` it may not actually be connected yet, which means that the optional `snackbarController` won't be available. So put that code in the `viewWillAppear` and it should be accessible.

Let me know if that works for you. Otherwise, can you share your code in that view controller so I can see what is going on.

Please reopen the issue if you need :)

[2017-03-15 16:42] #611 closed

[2017-03-15 16:54] codemodouk commented on #611
[SnackbarTest.zip](https://github.com/CosmicMind/Material/files/845331/SnackbarTest.zip)

I've uploaded a sample project which demonstrates my setup. You will see that I'm accessing the `snackbarController` from buttons in the view controllers, so the property should have been initialised.

[2017-03-15 17:56] bilsou opened #717 "Issue mixing searchbarcontroller and navigationcontroller"
I am trying to have the searchbar embedded within the navigationbar and for that I just modified the SearchBarController sample adding this in appdelegate:

[code]
Unfortunately this bit of code gives this:

![simulator screen shot 15 mar 2017 18 55 47](https://cloud.githubusercontent.com/assets/10742657/23963245/f0dcd12c-09b0-11e7-8678-bab9153e2381.png)

Is there any way of making the searchbar f

[2017-03-15 18:02] danieldahan commented on #717
Hey :)

So that won't work. You can remove the `SearchBarController` and use the `NavigationController` directly. From there, you can then add the `SearchBar` to your `navigationItem.centerViews` property in the view controller you want to have the `SearchBar` displayed.

Let me know if you need any further help. Here is some sample code:

[code]

[code]

[code]

[2017-03-15 18:02] #717 closed

[2017-03-15 18:45] bilsou commented on #717
You're really quick to answer, much appreciated.

I just tried your way, it does work if the view controller navigated to contains the search bar.
Unfortunately in my case I have a tab bar and within it a SearchViewController for which I want to have the searchbar within the navigationbar.

More explicitly:

[code]

[code]

As you can see I'm passing the searchbar as a parameter to SearchViewContr

[2017-03-15 18:51] danieldahan commented on #717
I am not sure exactly what the issue is. You can have the SearchBar in the NavigationBar from any view controller. Just add it to the correct `navigationItem`, or update that item when in that tab. So when in the SearchViewController, you can update the `navigationItem` of the `TabBar`, then remove it when necessary. The other option, is to use the SnackBarController itself and embed the TabBarCon

[2017-03-15 19:23] bilsou commented on #717
I basically wanted to have the tab bar containing the navigation, with each tab having its own navigation controller instead of the other way around.
I saw after posting my mistake

[code]
changed with
[code]
Thanks again for being so available, cheers

[2017-03-16 16:01] khoogheem opened #718 "FABMenu inside of a Toolbar View"
I have a viewController that is wrapped inside of a ToolbarController.

I would like to add a FABMenu into the Right view..   It somewhat works, but when the Menu Items appear none of the Targets works.

here is what I have:
[code]

[2017-03-16 20:51] danieldahan commented on #716
I can't seem to reproduce this. Could you send me a sample project? Also what version of Material are you using?

Please reopen the issue once you have these two items. Thank you :)

[2017-03-16 21:30] danieldahan commented on #718
The issue here is the `hitTest` that is calculating where you clicked. The `FABMenu` is a subview of the `Toolbar` and then the FABMenuItems are a subview of the `FABButton`. The `hitTest` will not register. Let's move this to [Gitter Material](https://gitter.im/CosmicMind/Material). I can help you out there :)

[2017-03-16 21:30] #718 closed

[2017-03-16 21:31] danieldahan commented on #710
Hey I haven't heard back from you. If you still have an issue, please reopen this. Thank you!

[2017-03-16 21:31] #710 closed

[2017-03-16 21:33] danieldahan commented on #717
No worries :) All the best!

[2017-03-16 23:40] joninsky opened #719 "Nothing showing up on presented NavigationBar"
Just started using this library. It's very nice and has a lot of useful extensions.

I'm trying to present a NavigationController from the app's root view. I followed the example (storyboard project) to a T and still, no `NavigationBar` items will show! (Including the title) I think this [issue regarding the navigation item title](https://github.com/CosmicMind/Material/issues/702) might be part of

[2017-03-17 09:20] WrathChaos opened #720 "NavigationDrawerController AppDelegate Problem"
Hello,

First of all, thank you for this awesome library :)

I'm new at iOS World and i really want to use this library. Now, i'm trying to use your Toolbar and NavigationDrawerController. I have a splash screen to control lots of things on my app and when i set a rootview as my main map viewcontroller as AppNavigationDrawerController, SplashScreen won't even start so a lot of problems are appeare

[2017-03-20 07:21] theolof commented on #720
If you're using Controllers, you need to set the rootViewController somewhere. Take a look at http://www.cosmicmind.com/danieldahan/application-architecture-with-material, it may help. You may need to read it two or three times to understand it, I know I did.

Your SplashScreen needs to be part of that hierarchy.

[2017-03-20 11:59] codemodouk commented on #611
Sorry to hassle, but, do you have any update on this at all? If you've got concerns about opening the zip, I understand, and would be happy to provide by another channel if that helps. Please let me know.

[2017-03-20 12:04] Johnny992 commented on #716
Material', '~> 2.0'

[2017-03-20 18:08] danieldahan commented on #716
I tried again to reproduce this, with Material 2.5.2, can't get it to crash. Would you mind sharing a sample project, or trying an updated version? Also, are you using the simulator, or device, and if so, which one? Thank you!

[2017-03-20 18:08] #716 closed

[2017-03-20 18:13] danieldahan commented on #720
@theolof lol, anything I can make more clear. I'd be happy to rewrite it :)

@WrathChaos thank you :) Can you share some sample code, or a sample project ? Thank you!

[2017-03-20 18:14] danieldahan commented on #719
@joninsky No worries, let me take a look at your repo now. Thank you!

[2017-03-20 18:23] danieldahan commented on #702
I tried your sample :) You only need to set the class type for the `UINavigationBar` to `NavigationBar`. That's it :) Best of luck and reach out whenever you need. Thank you!

[2017-03-20 18:24] danieldahan commented on #702
Sorry, closed the wrong issue. This has been reopened.

[2017-03-20 18:25] danieldahan commented on #719
I tried your sample. You only need to set the class type for the `UINavigationBar` to `NavigationBar`. That's it :) Best of luck and reach out whenever you need. Thank you!

[2017-03-20 18:25] #719 closed

[2017-03-20 19:57] joninsky commented on #719
Thank you @danieldahan. Small detail I guess I missed in the sample project. Such is the nature of software development 😜

[2017-03-20 19:58] danieldahan commented on #719
No worries :)

[2017-03-20 20:14] danieldahan commented on #611
No worries, I am testing it again now.

[2017-03-20 20:41] danieldahan commented on #611
So there are two issues here:

1. Because you are presenting the view it actually doesn't have access to the `SackbarController`, which can be remedied by doing this:

[code]

You will see that I am using the `presentingViewController` to access the `snackbarController` if it doesn't find it in the current view controller.

2. The second issue is that the presented view is above the view of the pr

[2017-03-20 20:52] danieldahan commented on #705
Hey, taking a look now at your project... Sorry for any delays, I had looked earlier, but did not find anything. Thanks :)

[2017-03-20 21:13] danieldahan commented on #705
So nowhere in your code did you actually add the `SnackbarController`. This is one option of how to do it and is in the [Snackbar sample](https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/SnackbarController). Take a look at the [AppDelegate](https://github.com/CosmicMind/Samples/blob/master/Projects/Programmatic/SnackbarController/SnackbarController/AppDelegate.swift).

If yo

[2017-03-20 21:13] #705 closed

[2017-03-20 22:16] Yaldo425 commented on #705
What are the other options for doing it? I mentioned that I cannot use that AppDelegate code because it overrides my storyboard configuration. Adding in that code in the AppDelegate would just  make the app take you to the snakbar viewcontroller but without any way for me to access any of my other viewcontrollers.

[2017-03-21 04:43] danieldahan commented on #705
@Yaldo425 This is not entirely correct. If you set the `SnackbarController` as the root, it itself has a root, and that is where you will set your Storyboard. You can see that in this [AppDelegate](https://github.com/CosmicMind/Samples/blob/master/Projects/Storyboards/SnackbarController/SnackbarController/AppDelegate.swift) file, and in this [SnackbarController](https://github.com/CosmicMind/Sampl

[2017-03-21 10:17] theolof commented on #720
@danieldahan Hehe, I'm not sure how to make it easier to understand... Maybe more examples and what they lead to. It was complicated for me because my mindset was "I want to show a snackbar when I click this button", but that's not the way it works :-) and it took a while to understand what happens when adding controllers in a certain **order**.

[2017-03-21 11:45] codemodouk commented on #611
Thanks for looking into this for me. The approach you suggest of wrapping the `UINavigationController` in a `SnackbarController` I am doing elsewhere in my app when I present the childVC from a parentVC that implements the UIPopoverPresentationDelegate protocol.

However, in general, I'm trying to use the Storyboard where possible. I've attempted your recommended approach in the `prepare(for segue

[2017-03-21 12:57] sohayb commented on #292
hey @danieldahan, any update on the Theme API? Thanks a lot :)

[2017-03-21 17:37] danieldahan commented on #611
Hey, no worries, trying is how you learn. You should in your seque launch the SnackbarController that wraps the UINavigationController, and not have it do it from Storyboards as well. Try that, and let me know.

[2017-03-21 18:27] danieldahan commented on #598
Hey, please find your feature request in [Material 2.6.0](https://github.com/CosmicMind/Material/releases/tag/2.6.0) and a sample [TextView](https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/TextView) project. Thank you and all the best!

[2017-03-21 18:27] #598 closed

[2017-03-21 18:27] danieldahan commented on #704
Hey, please find your feature request in [Material 2.6.0](https://github.com/CosmicMind/Material/releases/tag/2.6.0) and a sample [TextView](https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/TextView) project. Thank you and all the best!

[2017-03-21 18:27] #704 closed

[2017-03-21 18:28] danieldahan commented on #663
Hey, please find your feature request in [Material 2.6.0](https://github.com/CosmicMind/Material/releases/tag/2.6.0) and a sample [TextView](https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/TextView) project. Thank you and all the best!

[2017-03-21 18:28] #663 closed

[2017-03-22 04:23] markst opened #722 "Navigation title breaks if setting title on `navigationItem`"
`NavigationItem` is not optional & there is a an extension on `UINavigationItem` which overrides the `title` setter.

This causes me trouble if setting the title either way:
[code]

Example:
![http://d.pr/i/b0WI](http://d.pr/i/b0WI.gif)

It seems that this is due to the fact I'm not using a `NavigationBar` instance; which therefor in turn doesn't call on `prepareTitleView()`.

I'd rather have the