[2018-06-06 19:38] danieldahan commented on #1081
Awesome. I am closing this now. Thank you!

[2018-06-06 19:38] #1081 closed

[2018-06-06 19:45] danieldahan commented on #568
@jbaez what was the issue? I understand it doesn't work like before, but that may a settings change that is needed. Can you send a PR, I'd be happy to review it. Thank you!

[2018-06-06 20:54] danieldahan commented on #1087
We can close this now as it is merged in. Than you!

[2018-06-06 20:54] #1087 closed

[2018-06-06 20:55] danieldahan commented on #1085
Let's remove them. Great find.

[2018-06-06 20:56] danieldahan commented on #1085
I merged in the PR. I will close this now. Thank you!

[2018-06-06 20:56] #1085 closed

[2018-06-06 20:57] danieldahan commented on #995
Yes this is fine to close. Thank you!

[2018-06-06 20:57] #995 closed

[2018-06-06 20:59] danieldahan commented on #668
I think this would be a nice addition. Let's do it. If we have an issue for it, let's close this one, or the other so their is only one to follow. Thank you!

[2018-06-06 21:02] danieldahan commented on #1053
Excellent, so let's make a fix for this, @OrkhanAlikhanov would you be able to PR a fix in?

[2018-06-06 21:03] #1053 closed

[2018-06-06 21:03] danieldahan commented on #1050
Excellent, let's close this. Thank you!

[2018-06-06 21:03] #1050 closed

[2018-06-06 21:19] OrkhanAlikhanov commented on #1056
#1086 is merged in, so next release gonna have a fix, thank you for finding this!

[2018-06-06 21:22] OrkhanAlikhanov commented on #1017
#1082 is merged in, so next release gonna have this feature.  For the usage guide see the PR description. Thank you!

[2018-06-06 23:53] rex3du commented on #1089
Xcode 9.4
Material  version 2.0
CocoaPods 1.5.3

[2018-06-07 00:13] OrkhanAlikhanov commented on #1089
[Material 2.0.0](https://github.com/CosmicMind/Material/releases/tag/2.0.0) is released on October 1, 2016 and 752 commits have been made to master since that time. Latest version is 2.15.0 as of now. Can you try and let us know if the issue persists in the latest release?

[2018-06-07 00:36] OrkhanAlikhanov commented on #1089
Interesting. Can you try to integrate it to a brand new project and see if it fails to compile again? It suspect it arose after updating to Xcode 9.4, which I don't and won't have in the near future to check this issue.

[2018-06-07 00:44] rex3du commented on #1089
I create a brand new project and only install Material for the project. The same issue is still there.

[2018-06-07 00:46] danieldahan commented on #1017
I am going to close this issue as the PR is merged in. Let's focus on tomorrow making a release.

[2018-06-07 00:46] #1017 closed

[2018-06-07 00:46] OrkhanAlikhanov commented on #1089
Thank you. It would be great if you attach that project here.

[2018-06-07 00:47] danieldahan commented on #1089
@rex3du Can you clean your CocoaPods cache and try installing again?

[2018-06-07 01:08] rex3du commented on #1089
@danieldahan  I've tried to clean the cache and reinstall the pods. It's still the same.
@OrkhanAlikhanov  Here's the link for that brand new project
https://drive.google.com/file/d/1PcP8zLUEocZpjSVJJi2UW6QSCbt-Gyys/view?usp=sharing

[2018-06-07 01:31] rex3du commented on #1089
@OrkhanAlikhanov @danieldahan  Thanks for your help.
After doing those below, the issue has been fixed:
rm -rf ~/Library/Caches/CocoaPods;
rm -rf Pods; rm -rf ~/Library/Developer/Xcode/DerivedData/*;
 pod deintegrate;
pod setup;
pod install;

[2018-06-07 03:01] #1089 closed

[2018-06-07 06:50] ajay2c9 opened #1090 "Is there any possibility to install this framework like pod"
I want to install the framework using the pod. Is there any possibility to install this framework like pod

Thank you

[2018-06-07 08:33] muzoman opened #1091 "2.15.0 doesn't compile?"
Just refreshed my cocoapods and got a bunch of compile errors, had to revert to 2.14.0 which compiles fine.

[2018-06-07 12:14] OrkhanAlikhanov commented on #668
It's only this. You may assign me to the issue.

[2018-06-07 12:52] OrkhanAlikhanov commented on #1091
Can you share those errors with us, so that we may help?

[2018-06-07 12:55] OrkhanAlikhanov commented on #1090
Sure, there is. Material defines [.podspec](https://github.com/CosmicMind/Material/blob/master/Material.podspec). So you can import it:
[code]

You may want to look into [installation guide](https://www.cosmicmind.com/danieldahan/lesson/6).

[2018-06-07 13:16] OrkhanAlikhanov commented on #1043
#1046 had been merged, so the next release gonna have this.

[2018-06-07 13:32] muzoman commented on #1091
Apologies, something strange going on in my podfile. If I just include non version specific pod lines like: pod 'Material' I don't pick up the 2.15.0 but some ancient version, no idea why. Similarly, I had pod 'Motion' in  the next line and it picked up an ancient version. I had to add specific version information to the podfile and everything compiled OK.

[2018-06-07 13:33] #1091 closed

[2018-06-07 13:33] OrkhanAlikhanov commented on #1091
Great! That's probably because of Podfile.lock

[2018-06-07 13:35] muzoman commented on #1091
can I delete that file then?

[2018-06-07 13:38] OrkhanAlikhanov commented on #1091
You shouldn't actually. It will be generated anyways when you do `pod install`.

[2018-06-07 14:29] OrkhanAlikhanov opened #1092 "TextField.placeholderLabel is positioned higher than before in version 2.x.x"
https://github.com/CosmicMind/Material/issues/568#issuecomment-394635129 says that we have huge margin between `TextField` and its `placeholderLabel`.

Currently a `TextField` with placeholder looks like this:
![](https://user-images.githubusercontent.com/15037839/41105493-ee68f238-6a7e-11e8-925c-5d9ab04dad96.jpg)
Layers:
![](https://user-images.githubusercontent.com/15037839/41105497-ef28ec46-6a7

[2018-06-07 14:29] OrkhanAlikhanov commented on #568
@danieldahan and @jbaez I created issue for this. #1092

[2018-06-07 14:54] jbaez commented on #1092
I just sent a PR with the fix. @OrkhanAlikhanov that's exactly the issue. The placeholder used to be positioned right above the textfield by using the frame height (24.0)

[2018-06-07 17:41] danieldahan commented on #1089
@rex3du Are you using a beta version of Xcode?

[2018-06-07 18:04] danieldahan commented on #1092
Excellent, thank you! I merged it into development and it will be out in the next release. I will close this issue now. Thank you!

[2018-06-07 18:04] #1092 closed

[2018-06-07 18:04] danieldahan commented on #1090
I will close this issue now. Thank you @OrkhanAlikhanov

[2018-06-07 18:04] #1090 closed

[2018-06-07 18:05] danieldahan commented on #1078
This will be out in the next release. It has been merged with `development`. Thank you!

[2018-06-07 18:05] #1078 closed

[2018-06-08 00:34] rex3du commented on #1089
No, the Xcode version is 9.4

[2018-06-09 01:51] alikopasa opened #1094 "change placeholderNormalColor"
Hello,

How can I change the default placeholderNormalColor?

[2018-06-09 07:57] alikopasa commented on #1094
lbl.placeholderNormalColor=Color.white

[2018-06-09 07:57] #1094 closed

[2018-06-09 15:00] danieldahan commented on #1089
@rex3du awesome, thank you!

[2018-06-11 08:58] moosti opened #1095 "where is the documentation of this library"
Hi, thanks for this great library
but i can't find any document to use this library, please give me a link or something like that

[2018-06-11 19:48] danieldahan commented on #1095
Hi, and thank you! I am working on the documentation, and currently there are only samples to look at (https://github.com/CosmicMind/Samples). You can ask any question on [Material Gitter](https://gitter.im/CosmicMind/Material), or post any issue on github. All the best!

[2018-06-11 19:48] #1095 closed

[2018-06-18 05:41] ios3 opened #1098 "TextField RTL Not Supported"
RTL doesn't support in the text field with clear button and left view.

[2018-06-19 08:33] OrkhanAlikhanov commented on #1098
Hey! Follow #575

[2018-06-22 13:56] Ronaldoh1 opened #1099 "Textfield - Divider Line"
![textfields-annotations-1](https://user-images.githubusercontent.com/1154424/41780343-76d900a2-7602-11e8-8661-2c4d3bbf095a.png)
Good morning,

first of all thank you for making this project available. It's been of great help.

I am working on a couple of screens that use your Meterial TextFields. I was wondering if there is any way to make the divider line (line under textfield) to stretch all th

[2018-06-22 18:53] OrkhanAlikhanov commented on #1099
Hey! That's only possible by subclassing currently. Set `dividerContentEdgeInsets.left = 0`
[code]

[2018-06-27 01:07] danieldahan commented on #1099
@Ronaldoh1 I am happy you are getting value out of Material :)

@OrkhanAlikhanov made a good suggestion. If you have any further issues, please reopen or create a new issue.

[2018-06-27 01:07] #1099 closed

[2018-06-27 17:02] danieldahan commented on #1098
Closing this as we have an issue opened for it.

[2018-06-27 17:02] #1098 closed

[2018-06-28 02:17] danieldahan commented on #1072
@daveleenew Thank you! I recently updated the samples, can you give it another try. If you need, please reopen this issue or create another.

[2018-06-28 02:17] #1072 closed

[2018-06-28 02:19] danieldahan commented on #1070
Hey! Sorry for the late reply. We have made updates to both Material and Motion. Give the latest a try, and if you still face any issues, please reopen or create a new one. Thank you!

[2018-06-28 02:19] #1070 closed

[2018-06-28 02:28] danieldahan commented on #1043
This has been released in [Material 2.16.0](https://github.com/CosmicMind/Material/releases/tag/2.16.0). Thank you!

[2018-06-28 02:28] #1043 closed

[2018-06-28 02:29] danieldahan commented on #1048
Hey! I haven't heard from you, so if you need, please reopen or create a new issue. Thank you!

[2018-06-28 02:29] #1048 closed

[2018-06-28 02:30] danieldahan commented on #1036
This will be added as a feature request. Thank you!

[2018-06-28 02:31] danieldahan commented on #1035
Hey! If you need please reopen this issue, or create a new one. Thank you!

[2018-06-28 02:31] #1035 closed

[2018-06-28 02:40] danieldahan commented on #1034
The issue is that the `NavigationController` is a wrapper around a view controller. The preparation method needs to be moved to the NavigationController, and called in the viewDidLoad phase. Something like this:

[code]

If you need any further help, please reopen or create a new issue. Thank you!

[2018-06-28 02:40] #1034 closed

[2018-06-28 02:40] danieldahan commented on #992
@OrkhanAlikhanov What do you think of this issue?

[2018-06-28 02:43] danieldahan commented on #1012
There are two new properties in [Material 2.16.0](https://github.com/CosmicMind/Material/releases/tag/2.16.0).

[code]

Each allow an image to be set for the visibility icon. If you need any further help, please reopen, or create a new issue. Thank you!

[2018-06-28 02:43] #1012 closed

[2018-06-28 05:15] OrkhanAlikhanov commented on #992
Sounds easy to me. Will look into today.

[2018-06-28 14:30] danieldahan commented on #1073
I recently updated the samples for the latest frameworks. Please update and try the samples again. Thank you!

[2018-06-28 14:30] #1073 closed

[2018-06-28 16:48] danieldahan commented on #1056
Please find the fix in [Material 2.16.0](https://github.com/CosmicMind/Material/releases/tag/2.16.0). Thank you!

[2018-06-28 16:48] #1056 closed

[2018-06-28 16:53] danieldahan commented on #1059
Let's move this to [Material Gitter](https://gitter.im/CosmicMind/Material). Thank you!

[2018-06-28 16:53] #1059 closed

[2018-06-28 23:20] danieldahan commented on #986
I am closing this issue for now.

[2018-06-28 23:20] #986 closed

[2018-06-28 23:21] danieldahan commented on #968
If this is still an issue, please reopen it. Thank you! Sorry for the late reply.

[2018-06-28 23:21] #968 closed

[2018-06-28 23:21] danieldahan commented on #926
@OrkhanAlikhanov What do you think of this?

[2018-06-28 23:22] danieldahan commented on #844
@OrkhanAlikhanov We should confirm this as well. If it is not an issue, let's close it. Thank you!

[2018-06-29 03:48] albertml opened #1105 "Setting default state not working"
I write this code in viewDidLoad to save default state but its not working. Please simulate thanks

localizationSwitch.switchState = Localize.currentLanguage() == "en" ? .on : .off

[2018-06-29 14:33] danieldahan commented on #1105
What is not working exactly? The switch, or the correct flag? I looked through the code and tested the sample project and all works as expected. If you need, please reopen or create a new issue. Thank you!

[2018-06-29 16:04] danieldahan commented on #1036
We are documenting the feature requests and closing them as issues. Thank you!

[2018-06-29 16:04] #1036 closed

[2018-06-29 16:04] danieldahan commented on #989
We are documenting the feature requests and closing them as issues. Thank you!

[2018-06-29 16:04] #989 closed

[2018-06-29 16:04] danieldahan commented on #952
We are documenting the feature requests and closing them as issues. Thank you!

[2018-06-29 16:04] #952 closed

[2018-06-29 16:04] danieldahan commented on #950
We are documenting the feature requests and closing them as issues. Thank you!

[2018-06-29 16:04] #950 closed

[2018-06-29 16:04] danieldahan commented on #926
We are documenting the feature requests and closing them as issues. Thank you!

[2018-06-29 16:04] #926 closed

[2018-06-29 16:05] danieldahan commented on #922
We are documenting the feature requests and closing them as issues. Thank you!

[2018-06-29 16:05] #922 closed

[2018-06-29 16:05] danieldahan commented on #855
We are documenting the feature requests and closing them as issues. Thank you!

[2018-06-29 16:05] #855 closed

[2018-06-29 16:05] danieldahan commented on #850
We are documenting the feature requests and closing them as issues. Thank you!

[2018-06-29 16:05] #850 closed

[2018-06-29 16:05] danieldahan commented on #843
We are documenting the feature requests and closing them as issues. Thank you!

[2018-06-29 16:05] #843 closed

[2018-06-29 16:05] danieldahan commented on #835
We are documenting the feature requests and closing them as issues. Thank you!

[2018-06-29 16:05] #835 closed

[2018-06-29 16:05] danieldahan commented on #818
We are documenting the feature requests and closing them as issues. Thank you!

[2018-06-29 16:05] #818 closed

[2018-06-29 16:06] danieldahan commented on #803
We are documenting the feature requests and closing them as issues. Thank you!

[2018-06-29 16:06] #803 closed

[2018-06-29 16:06] danieldahan commented on #759
We are documenting the feature requests and closing them as issues. Thank you!

[2018-06-29 16:06] #759 closed

[2018-06-29 16:06] danieldahan commented on #697
We are documenting the feature requests and closing them as issues. Thank you!

[2018-06-29 16:06] #697 closed

[2018-06-29 16:06] danieldahan commented on #675
We are documenting the feature requests and closing them as issues. Thank you!

[2018-06-29 16:06] #675 closed

[2018-06-29 16:06] danieldahan commented on #668
We are documenting the feature requests and closing them as issues. Thank you!

[2018-06-29 16:06] #668 closed

[2018-06-29 16:06] danieldahan commented on #629
We are documenting the feature requests and closing them as issues. Thank you!

[2018-06-29 16:06] #629 closed

[2018-06-29 16:06] danieldahan commented on #604
We are documenting the feature requests and closing them as issues. Thank you!

[2018-06-29 16:06] #604 closed

[2018-06-29 16:07] danieldahan commented on #575
We are documenting the feature requests and closing them as issues. Thank you!

[2018-06-29 16:07] #575 closed

[2018-06-29 16:07] danieldahan commented on #560
We are documenting the feature requests and closing them as issues. Thank you!

[2018-06-29 16:07] #560 closed

[2018-06-29 16:07] danieldahan commented on #542
We are documenting the feature requests and closing them as issues. Thank you!

[2018-06-29 16:07] #542 closed

[2018-06-29 16:07] danieldahan commented on #292
We are documenting the feature requests and closing them as issues. Thank you!

[2018-06-29 16:07] #292 closed

[2018-06-29 17:01] OrkhanAlikhanov commented on #844
I don't see any memory leak in the `MaterialTest.zip` project attached.
Tested with:
* Xcode 9.3.1
* iPhone 6s simulator
* iOS 11.3

[2018-06-29 17:11] danieldahan commented on #844
@OrkhanAlikhanov Great! Thank you!

@amitrajmodi if you are still facing this issue, please reopen or create a new issue. Thank you!

[2018-06-29 17:11] #844 closed

[2018-07-01 16:44] philosopherdog opened #1108 "Links broken on the README"
We're not seeing any images and the links to instructions on the README are not working.

[2018-07-02 03:00] takehilo opened #1109 "want to change TabBar line width"
I want to change the width of TabBar line.
I tried the following in the subclass of TabsController but it didn't work.
How can I do this?

[code]

[2018-07-02 07:09] albertml commented on #1105
The switch.. I set the state of the switch to off and exit the app. But when I reopen the app the switch state value is off which is correct but the problem is the Switch UI. I want the UI when it set to off to be like this
![screen shot 2018-07-02 at 3 06 38 pm](https://user-images.githubusercontent.com/8196166/42149643-9e438392-7e09-11e8-951f-6d23767b4f64.png) but it result like this
![screen sh

[2018-07-02 09:57] StepanetsDmtry opened #1110 "FABButton depth preset stop working"
After last update 2.16.0 a `depthPreset` property stop working for circle `shapePreset`. This is because after installing a `depthPreset ` `CALayer` calls `layoutShape()` method. In this method, `maskToBounds` property always is true for circle `shapePreset`. If I change `maskToBounds = false`, all working fine.

[code]

[2018-07-02 16:19] OrkhanAlikhanov commented on #1108
Thank you for reporting this. To me, it's really weird that actively requested images are deleted from GitHub's CDN. @danieldahan You can contact GitHub if you want but we can obtain and re-upload images from [a cached copy](https://web.archive.org/web/20180109072014/https://github.com/CosmicMind/Material) which was crawled on 9 January, 2018

[2018-07-04 09:04] OrkhanAlikhanov commented on #1110
@danieldahan I confirm that `FABButton` has no depth after https://github.com/CosmicMind/Material/commit/b90ee8ac753685ba5027e157449dde7c5ebf85bb as explained in the issue.

Basically we have no control over `layer.masksToBounds` property as it's overridden on layout cycle. Only workaround is to subclass `FABButton` (or any affected component) and change the property there.
[code]

[2018-07-04 09:34] OrkhanAlikhanov commented on #1109
Hey! I don't know why you want to change tabbar line width, but that does not work because the line width changed via animation:
https://github.com/CosmicMind/Material/blob/6b989a48aeb1317411396b8ea970a15a45e29e9b/Sources/iOS/TabBar.swift#L602-L603

When you tap a tabItem or swipe the controller, above code is called. `Motion` works with `CoreAnimation` which animates view from old values to the n

[2018-07-04 10:21] OrkhanAlikhanov commented on #1109
Actually there is hackish way to achieve what you want. Since the frame of the line is calculated from `tabItem` itself, we can tweak `tabItem` properties before animation is fired and set it back before layout cycle happens:

[code]

[2018-07-05 00:04] danieldahan commented on #1109
I think for the purposes of customization, we can offer an enum that is by default set to `auto` for line transition changes, and then add a custom enum that accepts a value for the desired width. What do you think?

[2018-07-05 00:08] danieldahan commented on #1110
`masksToBounds = true` should actually be removed. It is incorrectly being placed on the wrong layer. It should be added to the `visualLayer`. I will fix this as I know the complexity of its behaviour well. I will work on this tonight. Thank you!

[2018-07-05 00:10] danieldahan commented on #1108
I will make a fix for this, it was an accident on my behalf when I updated the servers for the CM site.

[2018-07-05 00:12] danieldahan commented on #1105
Interesting. I will need to replicate this issue and see if it is an issue with Material's internals.

[2018-07-05 00:39] danieldahan commented on #1108
I fixed the image issue, and need to update the README on installation. This will be done separately. Thank you!

[2018-07-05 00:39] #1108 closed

[2018-07-05 01:10] danieldahan commented on #1110
Fixed the issue f99b6dfdc61e99d8bf30168a4262383b8c184576, and will be released in a few hours. Thank you!

[2018-07-05 01:10] #1110 closed

[2018-07-05 09:59] OrkhanAlikhanov commented on #1109
Well, that sounds reasonable. Can tabItems have different widths? If so, then lines can also have different widths based on tabItem's width. So, we need another case accepting closure for dynamic calculation.
[code]

Usage:
[code]

What do you think?

[2018-07-05 14:17] danieldahan commented on #1109
I think the 3 options would solve all cases nicely. Maybe we can rename the enum to `TabBarItemsStyle`. Not so sure I like the word `Width` in there. In either case, the naming could be changed on final review when we PR the branch into dev.

[2018-07-07 11:55] OrkhanAlikhanov commented on #992
@danieldahan Material [2.16.1](https://github.com/CosmicMind/Material/tree/2.16.1) has the requested feature added. The issue can be closed.

[2018-07-09 16:49] danieldahan commented on #1109
Please find the solution for this in [Material 2.16.2](https://github.com/CosmicMind/Material/releases/tag/2.16.2). Thank you!

[2018-07-09 16:49] #1109 closed

[2018-07-09 16:49] danieldahan commented on #926
Please find the solution for this in [Material 2.16.2](https://github.com/CosmicMind/Material/releases/tag/2.16.2). Thank you!

[2018-07-09 16:50] danieldahan commented on #1105
@albertml Can you send over a sample project for us to test?

[2018-07-09 17:19] danieldahan commented on #992
@OrkhanAlikhanov awesome! I will close this issue. Thank you!

[2018-07-09 17:19] #992 closed

[2018-07-13 22:15] OrkhanAlikhanov commented on #814
@danieldahan I tested [the project](https://github.com/gilthonweapps/testMaterial) and I confirm that this no longer persists after Material 2.13.0 (Motion 1.3.0). [Motion 1.2.5](https://github.com/CosmicMind/Motion/tree/1.2.5) had this bug, but the next release [1.3.0](https://github.com/CosmicMind/Motion/tree/1.3.0), where you reworked `Motion` internals, fixed this issue. So the issue can be cl

[2018-07-14 13:16] danieldahan commented on #814
@OrkhanAlikhanov Thank you!

[2018-07-14 13:16] #814 closed

[2018-07-14 19:17] OrkhanAlikhanov commented on #677
@danieldahan I investigated this issue a bit with [PresenterCard.tar.gz](https://github.com/CosmicMind/Material/files/782656/PresenterCard.tar.gz) sample that @theolof had attached. The project was using version 2.4.16, I tested with it and latest one, both was kinda misbehaving when `View` is used. I couldn't find the cause of this. I am attaching a [minimal project](https://github.com/CosmicMind

[2018-07-16 14:31] danieldahan commented on #677
If a UIViewImage is used, it looks correct. @theolof thoughts?

[2018-07-17 12:02] albertml commented on #1105
yeah... I'll to create a sample project that will replicate this issue

[2018-07-17 13:47] albertml commented on #1105
@danieldahan I thing the issue was in the setting of custom color

@IBOutlet weak var localizationSwitch: Switch!
        {
        didSet {
            localizationSwitch.buttonOnColor = .white
            localizationSwitch.buttonOffColor = .lightGray
            localizationSwitch.trackOnColor = .lightGray // change this to .lightText and animation work
            localizationSwitch.trackOffCo

[2018-07-17 18:23] danieldahan commented on #1105
@albertml So is there still an issue?

[2018-07-19 11:55] muzoman opened #1118 "No Alert View Controller Component?"
Seems conspicuous by it's absence?

What do folks typically do when creating Apps built to Material guidelines for Alerts? Just use Apples UIAlertController? Can't believe they do as it's not customisable...

[2018-07-19 11:59] OrkhanAlikhanov commented on #1118
Hey! Thank you! It will be in Material 3. It's been implemented in #1021 but merged to m3 branch not the main branch. You can add the files from PR to your local if you want to use it

[2018-07-19 13:35] danieldahan commented on #1118
@OrkhanAlikhanov Let's move the Alert view to the development branch after our next release. I am going to close this as we no longer maintain feature requests here.

[2018-07-19 13:35] #1118 closed

[2018-07-19 18:52] danieldahan commented on #838
This is now fixed in [Material 2.16.3](https://github.com/CosmicMind/Material/releases/tag/2.16.3). Thank you!

[2018-07-19 18:52] #838 closed

[2018-07-21 01:17] albertml commented on #1105
It must be fix why animation not work when trackOnColor is .lightGray...

[2018-07-21 10:00] OrkhanAlikhanov commented on #1105
@albertml How do you animate it? Can you attach a sample project for us to test?

[2018-07-23 11:33] MuhammadNayabButt opened #1119 "Cursor position issue when we toggle between SecureTextEntry."
There is an issue. Whe we toggle to unhide our Text in a password field. The cursor is not on its appropriate position.

![screen shot 2018-07-23 at 4 32 18 pm](https://user-images.githubusercontent.com/7734981/43074219-ff5ec0b4-8e95-11e8-89e6-2d1216a63354.png)
![screen shot 2018-07-23 at 4 33 22 pm](https://user-images.githubusercontent.com/7734981/43074283-212d4238-8e96-11e8-829b-2feb68747577.pn

[2018-07-23 11:40] MuhammadNayabButt commented on #1119
I am using "Using Material (2.16.2)"

[2018-07-23 11:50] OrkhanAlikhanov commented on #1119
Hey! Thank you for reporting this. It's my bad. We'll fix this soon

[2018-07-23 13:37] MuhammadNayabButt commented on #1119
@OrkhanAlikhanov Thanks for your prompt reply.
I have noticed when we hide text(enable secure entry) the cursor wisely goes back to its position.
The problem come when we unhide the text(disable secure text) then the cursor does not move.
Although this function is getting called

`@objc
  func handleVisibilityIconButton() {
    /// Workaround: Reassign text to reset cursor
    /// This is a known

[2018-07-23 13:47] OrkhanAlikhanov commented on #1119
Thank you for your investigation. I've sent a PR. See #1120

[2018-07-24 07:01] albertml commented on #1105
just use the default... I just change the custom colors.

[2018-07-24 07:14] OrkhanAlikhanov commented on #1105
Well, we can't help this way. Can't you create a sample project?

[2018-07-25 11:19] AtherSajjad opened #1121 "Documentation site not working"
I am not able to access the documentation site. Can you please check i want to use this in my app and this is my first app

[2018-07-25 12:47] AtherSajjad commented on #845
Cannot override mutable property 'borderColor' of type 'UIColor?' with covariant type 'UIColor'
Same issues it is complaining it is trying to override borderColor in Material Framework

[2018-07-25 13:00] OrkhanAlikhanov commented on #845
@AtherSajjad When did that happen? Let's discuss this at [CosmicMind/Material gitter](http://gitter.im/CosmicMind/Material)

[2018-07-25 15:04] #1121 closed

[2018-07-25 15:05] danieldahan commented on #1105
I am closing this issue. Nothing has proven to be an issue here.

[2018-07-25 15:05] #1105 closed

[2018-07-25 15:06] #985 closed

[2018-07-25 15:06] #784 closed

[2018-07-25 15:07] #677 closed

[2018-07-25 19:49] OrkhanAlikhanov commented on #1018
![](https://user-images.githubusercontent.com/15037839/43223428-1b0be344-9064-11e8-813b-b6d1adfd5b55.gif)

@multinerd This is what is happening in the sample project you've attached. The plus button on the right is a `UIBarButtonItem` (and is misaligned). We don't support using `UIBarButtonItem`s with the Material's `NavigationController`. You should be using an `IconButton` on the `navigationItem

[2018-07-25 19:54] #1018 closed

[2018-07-26 13:44] OrkhanAlikhanov commented on #960
@danieldahan I confirm that this issue no longer persists after `Material 2.13.4`. It was fixed when you fix #1016 in https://github.com/CosmicMind/Material/commit/cf88010a46778f7fb98a29ebb6d63632cfc75f2b

[2018-07-26 14:42] #960 closed

[2018-07-26 19:57] OrkhanAlikhanov opened #1122 "Update to Swift 4.2"
The development branch seems to be updated to swift 4.2 but `.podspec` file should also have `swift_version = '4.2'`

Current .podspec:
https://github.com/CosmicMind/Material/blob/ad8508ca00612d4109189115b8b912fac9380305/Material.podspec#L2-L4

[2018-07-26 21:47] multinerd commented on #1018
The more i learn about developing mobile apps, the more i agree with that statement. Thanks for explaining what was going on.

[2018-07-27 21:20] kylebrowning opened #1123 "TextField is not scrolling when inputing characters and using a large Font size."
Using the example project.

Set your font to something high, example:

[code]

Type enough characters to reach the end of the TextField and notice that it does not continue to scroll.

If you move back one character with your arrow keys, or if you move back by bringing up the text scroll (force press) then continue to type, it works normally.

[2018-07-31 20:03] #1122 closed

[2018-08-01 09:04] kolczak opened #1125 "TextView with animated placeholder"
Hi,
are you considering implementing a TextView with same placeholder behavior as TextField? It looks a bit odd when I place TextField and TextView below that.
Regards!

[2018-08-01 13:37] danieldahan commented on #1125
Thank you! @OrkhanAlikhanov is working on it at the moment. I would say a PR would be ready within the next couple days.

[2018-08-01 13:38] danieldahan commented on #1123
Thank you @OrkhanAlikhanov for your PR (https://github.com/CosmicMind/Material/pull/1124), which is now merged into development. In our next release, this will be available. Thank you!

[2018-08-01 13:38] #1123 closed

[2018-08-02 07:29] kolczak commented on #1125
Great! I also started working on it, but now I will stop and wait for your PR. Additionally what I noticed comparing it to TextField is that divider is not animated (doesn't have different colors on active and normal states).

[2018-08-02 11:53] kolczak opened #1127 "TextView could auto-adjust hight based on text lines"
Hi,
did you think about enhancing the TextView to automatically adjust its height to display all the text it contains? It could expand its hight while user typing.
Regards!

[2018-08-02 11:55] OrkhanAlikhanov commented on #1127
I think if you disable  `isScrollEnabled` and set relevant constraints, it will behave like that.

[2018-08-03 14:14] danieldahan commented on #1127
@OrkhanAlikhanov Let's confirm this. If not, I agree that we should support it.

[2018-08-03 17:39] OrkhanAlikhanov commented on #1127
@danieldahan By disabling `isScrollEnabled` we lose ability to scroll. I think we can introduce `preferredMaxLayoutHeight`, allow growing upto that point and scroll after.

[2018-08-03 20:57] OrkhanAlikhanov opened #1128 "TextField animates weird when text alignment is .right and we have textInset"

[2018-08-05 11:35] ashusath opened #1129 "NavigationController not working properly"
While using NavigationController for transition it does not respect preferredStatusBarStyle from view controllers

here is my code for NavigationController subclass

`
class AppNavigationController: NavigationController {

    //override var preferredStatusBarStyle: UIStatusBarStyle {
      //  return .default
    //}
    open override func prepare() {
        super.prepare()
        isMotionEnabl

[2018-08-08 10:16] ashusath commented on #1129
thanks, @OrkhanAlikhanov Its for second view controller.
I have managed to get it working!

i have added this to AppNavigationController

` override var preferredStatusBarStyle: UIStatusBarStyle {
        return self.childViewControllers.last?.preferredStatusBarStyle ?? .default
  }`

[2018-08-08 10:16] #1129 closed

[2018-08-08 17:55] danieldahan commented on #1127
This issue has been addressed in this PR https://github.com/CosmicMind/Material/pull/1130

[2018-08-08 17:55] #1127 closed

[2018-08-08 17:56] danieldahan commented on #1128
This has been addressed in this PR https://github.com/CosmicMind/Material/pull/1130.

[2018-08-08 17:56] #1128 closed

[2018-08-09 11:32] moazkh60 opened #1131 "TextField isErrorRevealed error"
I updated my Material library and now the textField error is now revealed by default and when I try textField.isErrorRevealed = true it get's invisible it was working fine before and now the situation is reverted.

[2018-08-09 12:05] OrkhanAlikhanov commented on #1131
@moazkh60 Hey, thank you for reporting this! `ErrorTextField` has changed a bit by #1082. Now, instead of showing error in `detailLabel` we show it in new `errorLabel`. So setting `isErrorRevealed = true` hides `detailLabel` and shows `errorLabel`. Update your code to use `errorLabel` and `error: String?` instead of `detailLabel` and `detail: String?`

[2018-08-09 16:25] danieldahan commented on #1131
@OrkhanAlikhanov thank you for the explanation.

[2018-08-09 16:25] #1131 closed

[2018-08-13 07:44] Parilar opened #1132 "BottomNavigationController same swipe behaviour as Tabbar"
Hello,
i had the same Issue with the title at bottom and changed from Tabbar to BottomNavigationController.
But now i lost the swipe effect to change the Page. I', looking for the same swipe effect like android has it to change the page where you can see both pages while swiping.

Is there any way to archive that behavior with BottomNavigationController?

[2018-08-13 16:39] Parilar commented on #1132
Nope, I'll try the other class and give feedback later

Daniel Dahan <notifications@github.com> schrieb am Mo., 13. Aug. 2018,
18:24:

[2018-08-13 17:00] OrkhanAlikhanov commented on #1132
@Parilar You changed from `UITabBarController` to `BottomNavigationController` or from `TabsContoller`?
Among those, only `TabsContoller` has swipe gesture feature (which is with animation).
`BottomNavigationController` is direct subclass of  `UITabBarController`, I don't believe we can easily add animation to it. I need to take a look at though.

[2018-08-13 17:07] danieldahan commented on #1132
@Parilar Motion, which is part of Material, allows for you to tap into `UITabBarController`'s interactive and non-interactive transitions. We will put together a mini example on how to accomplish this.

[2018-08-13 17:27] Parilar commented on #1132
From TabsController

Daniel Dahan <notifications@github.com> schrieb am Mo., 13. Aug. 2018,
19:07:

[2018-08-13 17:35] danieldahan commented on #1132
@Parilar Why do you need to switch navigation controllers from TabsController?

[2018-08-13 17:36] #1132 closed

[2018-08-13 17:51] Parilar commented on #1132
Because I want the title at the bottom and in another ticket you said that
I have to use bottomNavigationController

Daniel Dahan <notifications@github.com> schrieb am Mo., 13. Aug. 2018,
19:36:

[2018-08-14 06:59] Parilar commented on #1132
@danieldahan in #932 you metioned it

[2018-08-14 10:42] chonex42race opened #1133 "TabController not reload."
Hi, I am a great fan of your work.

Currently, I am combining **AppToolbarController** + **AppNavigationDrawerController**

RootView is `LoginController`

here's the code:

 let vc2 = UIViewController2()
let tabControllers = UITabController(controllers: [vc1, vc2])

let leftVC     = LeftSlideViewController()

                                                                 leftViewController: left

[2018-08-15 00:53] chonex42race commented on #1133
@OrkhanAlikhanov Thank you! I think I knew what to do.

I will close this issue since this is not a material issue. Thanks

[2018-08-15 00:53] #1133 closed

[2018-08-15 19:26] danieldahan opened #1135 "Convert swiping in TabsController and BottomNavigationController to interactive."
Convert the swiping feature in both `TabsController` and `BottomNavigationController` to interactive animations.

[2018-08-22 13:57] Hamna21 opened #1136 "Hiding TabBar of TabsController"
Hello,

I am using TabsConstroller having four view controllers. The root controller of each is a navigation controller.

The flow is TabsContoller -> NavigationController -> View Controller.

How can I hide tab bar in any of the view controllers?

I tried **tabBar.isHidden** = true but that left a blank space and **hidesBottomBarWhenPushed** didn't work with material tabBar.

Is there a material

[2018-08-22 14:10] OrkhanAlikhanov commented on #1136
Hey! Thank your sharing your issues with us!

`hidesBottomBarWhenPushed ` is only for `BottomNavigationController` (which is subclass of `UITabBarController`). `TabsController` does not support it, but yeah, we should add that option I think.

Instead of `tabBar.isHidden = true`, do `displayStyle = .full`

[2018-08-22 14:36] Hamna21 commented on #1136
@OrkhanAlikhanov Thank you for replying and the new information!

Can you tell me the difference between `TabsController` and `BottomNavigationController`? and what is the added functionality or advantage of using BottomNavigationController.

By using BottomNavigationController, do I still have to insert a navigation controller for a viewController or is that default?
I want my flow to be like thi

[2018-08-30 17:35] savasadar opened #1137 "Cocoapods Last Version"
When I use Material repo with cocoapods like this` pod 'Material', '~> 2.16.4' `

I got an error.

Please update cocoapods

Thanks

[2018-08-30 17:36] OrkhanAlikhanov commented on #1137
Hey! Try `pod install --repo-update`

[2018-08-30 17:41] danieldahan commented on #1137
@OrkhanAlikhanov good suggestion. As well, the version exists [Material 2.16.4](https://github.com/CosmicMind/Material/tree/2.16.4).

[2018-08-31 22:30] vitormesquita opened #1138 "TabsController inside a UINavigationController not showing tabBar"
Hi, I'm trying use `TabsController` with `tabBarAlignment = .top` inside a navigation controller, but when I run my project the `tabBar` is behind `UINavigationBar`.

My `TabsController` is:

[code]

I've ran on iPhone 7 and iPhone X but the same error happened.
Can you help me? I'm doing some mistake?

[2018-09-01 21:25] davidevincenzi opened #1139 "Layout - constraint to another view"
Hello,

it's a pretty basic question but I can't find an answer.
I have two labels, both children of the same view.

I set up the first label like this:
`view.layout(firstLabel).top(100).right(10).left(10)`

How do I set up the secondLabel so that it's 30 pixels below the bottom edge of the firstLabel?

Using standard autolayout syntax I would write it like this:

[code]

Is there a way to do that

[2018-09-02 15:11] CHONUMAN opened #1140 "navigationItem properties are not working"
When I set a NavigationController as a viewcontroller of a BottomNavigationController in storyboard I am setting the navigation titlelabel, leftviews etc from the rootviewcontroller of the NavigationController but they are not appearing when I run.

[2018-09-02 17:40] danieldahan commented on #1140
Did you set in your Storyboard the `NavigationController` and `NavigationBar` class names in the Xcode editor.

[2018-09-02 17:49] CHONUMAN commented on #1140
yes. I subclassed both NavigationController and BottomNavigationController then set them in storyboard. The navigationcontroller could not set the tabbaritem in the prepare() method. Instead i had to override the init?(coder aDecoder: NSCoder) method to set it.

Also a different issue. I did the same without the storyBoard. BottomNavigationController -> NavigationController -> UIViewController. Wh

[2018-09-02 20:08] #1136 closed

[2018-09-03 12:34] OrkhanAlikhanov commented on #1140
As far as I remember `navigationItem.title` and `navigationItem.{left|right}Views` can only be manipulated via code. That's a limitation.

[2018-09-03 12:43] #1137 closed

[2018-09-03 13:17] bstillitano commented on #1138
`import Foundation
import UIKit
import Material
import SVProgressHUD

class VenueProfileViewController: TabsController {
    //UI Elements
    var saveBarButtonItem: UIBarButtonItem!

    //Data
    var profileDetailsViewController: VenueProfileDetailsViewController!
    var profileHoursViewController: VenueProfileHoursViewController!
    var profileOperationsViewController: VenueProfileOperations

[2018-09-03 13:18] bstillitano commented on #1135
Any news on this? Would be an awesome addition

[2018-09-03 14:26] bstillitano commented on #1138
I’ve implemented this just fine in a UINavigationController
programmatically.

@vitormesquita try to see if just a simple UINavigationController with a
TabsController embedded reproduces the issue. I have a suspicion it’s
something else that causes this given that it’s not happening for others.

On Tue, 4 Sep 2018 at 12:24 am, Daniel Dahan <notifications@github.com>
wrote:

[2018-09-03 14:27] danieldahan commented on #1140
They need to be set programmatically, that is correct. The navigation items will need to be set in the root view controller of the NavigationController as per usual. If there is a failure to this, please send us a project that replicates the issue. Thank you!

[2018-09-03 14:38] danieldahan commented on #1138
Okay, unless we have a reproducible project, we put this in the queue internally for us to investigate as work. So I will close this now as you seem to have solved your issue, and we will make any new issues as we investigate more about this.

[2018-09-03 14:38] #1138 closed

[2018-09-03 14:38] vitormesquita commented on #1138
@danieldahan I can send my classes to you reproduce this issue.

But answer your question I'm using UINavigationController. I've investigated to see what is happening, and I think the problem is on safearea, but I really don't know.

The pod version is `2.16.4`

[2018-09-03 14:41] danieldahan commented on #1138
The more you can send and help us discover the issue. The better :) Thank you!

[2018-09-03 14:43] vitormesquita commented on #1138
Ok @danieldahan Thank you for answer quickly. I'll investigate more to help you.

[2018-09-03 16:32] danieldahan opened #1141 "Set base configuration of Checkbox to tint = clear."
Let's investigate this based on this issue https://github.com/CosmicMind/Samples/issues/121#issuecomment-418155039

[2018-09-04 16:59] OrkhanAlikhanov commented on #1140
@CHONUMAN Please send us a project that replicates the issue.

[2018-09-05 09:15] cristinaITdeveloper opened #1142 "The link to the documentation does not work."
Where can I find the documentation?
Thank you

[2018-09-05 09:17] OrkhanAlikhanov commented on #1142
Hey! The website is under development right now. See #1121

[2018-09-05 09:36] cristinaITdeveloper commented on #1142
Ok, Thank you!

[2018-09-05 09:36] #1142 closed

[2018-09-05 16:06] CHONUMAN commented on #1140
ok i got it. i have to set the NavigationBar class in the storyboard. Thanks for the help.

[2018-09-05 16:28] danieldahan commented on #1140
@CHONUMAN awesome. If you need any further help, please reopen or create a new issue. Thank you!

[2018-09-05 16:28] #1140 closed

[2018-09-05 17:35] CHONUMAN opened #1143 "I can't see the tab bar in this sample project."

[2018-09-05 17:38] CHONUMAN opened #1144 "I can't see the tab bar in this sample project."
[BottomNavigationController.zip](https://github.com/CosmicMind/Material/files/2353924/BottomNavigationController.zip)

Tabbar doesn't show up. Depthpreset not working.

Another thing I noticed that if viewdidload is implemented prepare is not called. I don't understand why. May be I'm missing something. I am using storyboard.

[2018-09-05 17:40] CHONUMAN commented on #1143
delete this one. posted another. this one is by mistake

[2018-09-05 17:40] #1143 closed

[2018-09-05 17:44] danieldahan commented on #1144
Either @OrkhanAlikhanov or myself will help you shortly.

[2018-09-05 20:47] OrkhanAlikhanov commented on #1144
@CHONUMAN We investigated the issue, with help of @danieldahan, it turned out that the sample is actually setting `tabItem` instead of `tabBarItem`.

`tabItem` is used by `TabsController`, whereas `BottomNavigationController` uses `tabBarItem`. So, you should change all `tabItem` into `tabBarItem` and the sample will work as it's meant to be :)

Also, when you override `viewDidLoad()` make sure th

[2018-09-06 15:34] danieldahan commented on #1144
Thank you!

[2018-09-06 20:06] CHONUMAN commented on #1144
hello @OrkhanAlikhanov. thanks for the help. the tabbar depthpreset and heightpreset won't set from the AppBottomNavigationController subclass.

`class AppBottomNavigationController: BottomNavigationController {
    open override func prepare() {
        super.prepare()
        prepareTabBar()
    }

    private func prepareTabBar() {
        tabBar.depthPreset = .none //Does;
        tabBar.divid

[2018-09-08 12:05] CHONUMAN opened #1145 "Need help with component flow."
Hello @danieldahan.  I'm trying to make a tab based app with a navigation bar and a navigationdrawermenu. So far i have succeeded in implementing the following flow -

- BottomNavigationController -> NavigationController -> ViewController

Now Im trying to include a navigationDrawer but so far I have failed. Any suggestions will be appreciated. P.S. I'm using storyboard, mostly.

[2018-09-08 12:13] OrkhanAlikhanov commented on #1145
Hey! For questions, use stackoverflow with `cosmicmind` tag or our [`gitter channel`](https://gitter.im/CosmicMind/Material)

For `NavigationDrawerController` you'll have to define your hierarchy in code, see [NavigationDrawerController sample](https://github.com/CosmicMind/Samples/blob/master/Projects/Storyboards/NavigationDrawerController/NavigationDrawerController/)

[2018-09-08 12:31] OrkhanAlikhanov commented on #1145
NavigationDrawerController should be the topmost controller generally.
[code]

[2018-09-08 16:46] CHONUMAN commented on #1145
you're an angel @OrkhanAlikhanov . bless you man. another minor thing. everything is as I want them to be but when the drawer opens the status bar in the back gets disappeared. when i close the drawer it comes back again.

[2018-09-08 16:53] OrkhanAlikhanov commented on #1145
Hey! No need to overpraise me :) Thank you for your appreciation.

You can set `isHiddenStatusBarEnabled` to `false`. Default value is true.

[2018-09-09 07:39] #1145 closed

[2018-09-09 19:26] danieldahan commented on #1145
@OrkhanAlikhanov Thank you!

[2018-09-10 04:04] Ronaldoh1 opened #1146 "Textfield"
Hi guys,

how can you get the textfield to behave like the example you have on the GitHub page

like this one

https://camo.githubusercontent.com/dc05e9071c7fceaff695af9476fd9962f726f5e1/687474703a2f2f7777772e636f736d69636d696e642e636f6d2f676966732f77686974652f746578742d6669656c642e676966

I am not able to see the blue divider when the user taps on it - or when the user hasn't tapped on - I do not

[2018-09-10 04:39] Ronaldoh1 commented on #1146
I guess it would be an activation indicator and not a divider.

[2018-09-10 11:30] OrkhanAlikhanov commented on #1144
I confirm that `dividerColor` and `tintColor` are working, but `heightPreset` don't.

As for `depthPreset`, it creates shadow below of the view. Since the tabBar is already at the bottomest place we don't see any shadow at all. To see shadow, we need to make it point upwards.
[code]
----

We decided to make `depthPreset` directional. So to cast shadow above of a view, you will do:
[code]

We will

[2018-09-10 11:33] OrkhanAlikhanov commented on #1139
@davidevincenzi Hey! Thank you for sharing your issue with us. It seems there isn't any way to achieve that using Material's Layout system. We will probably rework it to add support for that. Thank you!

[2018-09-10 13:28] shroff-kandarp opened #1148 "AppTabsController not showing tabs (Top alignment) when uses into navigation controller"

[2018-09-10 13:29] shroff-kandarp opened #1149 "Enabling swipe effect on AppTabsController >> Line of current tab not going to be change while using swipe on tabs"

[2018-09-10 13:37] shroff-kandarp opened #1150 "Cannot change height of Tabbar"

[2018-09-10 13:53] OrkhanAlikhanov commented on #1148
Hey! Can you share a minimal sample project replicating the issue?

[2018-09-10 13:53] OrkhanAlikhanov commented on #1149
Hey! Can you share a minimal sample project replicating the issue?

[2018-09-10 13:53] OrkhanAlikhanov commented on #1150
Hey! How do you set height of TabBar?

[2018-09-10 13:57] shroff-kandarp commented on #1149
I found problem.
    self.tabBar.animate(to: self.tabBar.tabItems[index])

Add above line in function

private func internalSelect(at index: Int, isTriggeredByUserInteraction: Bool) -> Bool {
 guard index != selectedIndex else {
      return false
    }

    if isTriggeredByUserInteraction {
      guard !(false == delegate?.tabsController?(tabsController: self, shouldSelect: viewControllers[index]

[2018-09-10 14:01] OrkhanAlikhanov commented on #1149
Latest code is a little bit different:

https://github.com/CosmicMind/Material/blob/c9fb3f6f3067ddc869ca6128b5e4e5a783075688/Sources/iOS/TabsController.swift#L399-L432

[2018-09-10 14:04] shroff-kandarp commented on #1149
Okay. Thanks. I have old version of this library.

[2018-09-10 14:11] shroff-kandarp commented on #1148
Please follow this link:
https://drive.google.com/file/d/18bWFlCXARqwxppO_dL7gBBUepijUAV_j/view?usp=sharing

[2018-09-10 14:12] shroff-kandarp commented on #1150
I need to change height of tabbar but library does not provides this (i didn't find anything regarding this.).

[2018-09-10 14:13] OrkhanAlikhanov commented on #1149
The code I pointed is from development branch. It might not be in release

[2018-09-10 14:14] OrkhanAlikhanov commented on #1150
Try:
[code]

[2018-09-10 14:27] danieldahan commented on #1150
Both `tabBar.height` and `tabBar.heightPreset` should work. Let's investigate this. Thank you!

[2018-09-10 14:34] davidevincenzi commented on #1139
@OrkhanAlikhanov thanks a lot :)

[2018-09-10 14:39] danieldahan commented on #1149
Thank you @OrkhanAlikhanov. @shroff-kandarp if you have any further questions, or another issue, please reopen or create a new one. Thank you!

[2018-09-10 14:39] #1149 closed

[2018-09-10 14:41] Ronaldoh1 commented on #1146
I didn't know about the gitter channel. will post on there. 👍

[2018-09-10 14:41] #1146 closed

[2018-09-11 04:33] shroff-kandarp commented on #1150
tabBar.height is not available in current cocoa pod version. tabBar.heightPreset is working but labels in tab is stick to top. It should be vertically center in tab area.

[2018-09-11 13:30] danieldahan commented on #1150
@shroff-kandarp sorry, that is correct, we removed the helper extensions. I checked the sample project and can confirm that the `tabBar.heightPreset` works and aligns the buttons correctly, as you can see in the photo. That said, the `tabBar.frame.size.height = x` is not working, so @OrkhanAlikhanov and I will look into this.

<img width="458" alt="screen shot 2018-09-11 at 9 27 16 am" src="https:

[2018-09-11 14:03] shroff-kandarp commented on #1150
Yes, my mistake. Vertical Alignment is working properly. Thanks for reply.

[2018-09-11 16:18] CHONUMAN commented on #1144
Hello, @OrkhanAlikhanov . I need help with another thing. I'm adding child ViewControllers of the BottomNavigationController in the app delegate.

[code]

But when I run the app the second tabbaritem does not get loaded. I'm setting the tab bar item in the ContestNavigationViewController. Convenience init() is used in the sample project. I tried to follow it but it's not working.
![screen shot 201

[2018-09-11 16:37] OrkhanAlikhanov commented on #1144
Your convenience init is not used to initialize the `NavigationController`, so `preparetabBarItem` is not called during init. Override the initializer you are using, which is `init(rootViewController:)` in your case.

Also `prepare()` is an alias for `viewDidLoad()`, use one at a time, and always call `super.prepare()` or `super.viewDidLoad()` when override

[code]

[2018-09-11 18:54] CHONUMAN commented on #1144
This gives an error -
`ContestNavigationViewController.swift: 12: 7: Fatal error: Use of unimplemented initializer 'init(nibName:bundle:)' for class 'Uthabo.ContestNavigationViewController'`

[2018-09-11 20:10] danieldahan commented on #1144
@CHONUMAN If you are using storyboards, I believe you need to implement that initializer.

[2018-09-11 22:01] OrkhanAlikhanov commented on #1144
@CHONUMAN Simply implement it in your `ContestNavigationViewController`:
[code]

This is well-known:

[2018-09-11 22:15] OrkhanAlikhanov commented on #1141
I believe this is solved via https://github.com/CosmicMind/Samples/issues/121#issuecomment-420444249

[2018-09-12 00:32] OrkhanAlikhanov commented on #1150
@danieldahan We cannot support `tabBar.frame.size.height = x`. Because we do `tabBar.frame.size.height = tabBar.heightPreset.rawValue + y` in some places. If we change `tabBar.heightPreset.rawValue` to `tabBar.frame.size.height`, the code would be equal to `tabBar.frame.size.height += y` which would cause infinite growing/shrinking of `tabBar` depending on the `y`.

However, we can add `tabBar.hei

[2018-09-12 01:31] OrkhanAlikhanov commented on #1148
@shroff-kandarp You are using `UINavigationController`, that's how it behaves when `navigationBar.isTranslucent` is `true` (default is true). It extends the `rootViewController`. You can set `navigationController.navigationBar.isTranslucent = false` or in your controller `self.edgesForExtendedLayout = []` to prevent extending. And also, we recommend using `NavigationController` instead of `UINavig

[2018-09-12 03:52] SDGMazeGeek commented on #1144
I'll check it tonight. Thanks.

[2018-09-12 08:56] ThiyagarajanShivSankaran opened #1152 "QUESTION: Why adding FABMenu as outlet in view controller is not working?"
Hi there,

We are trying to upgrade CosmicMind SDK from  v2.3.21 to latest. But, we are stuck in the middle. In previous version we have added `Menu` as outlet in viewcontrollers, but in latest version it's not working, we are getting a crash.

<img width="939" alt="fabmenu" src="https://user-images.githubusercontent.com/17313049/45413805-a76c2700-b697-11e8-9d89-a77fc09bda4a.png">

 Please help us

[2018-09-12 12:54] danieldahan commented on #1144
@SDGMazeGeek Thank you for sharing your issue. If you have another, or still need help with this one, please reopen the issue.

[2018-09-12 12:54] #1144 closed

[2018-09-12 13:06] danieldahan commented on #1148
@OrkhanAlikhanov That is a great idea. Please and thank you.

[2018-09-12 13:07] danieldahan commented on #1150
@OrkhanAlikhanov The `.custom(x)` option is a much better decision. And yes, I remember now about the infinite growing issue. That is correct. Thank you!

[2018-09-12 13:08] danieldahan commented on #1141
Excellent, thank you!

[2018-09-12 13:08] #1141 closed

[2018-09-12 15:03] M47H3W opened #1153 "Populating CardTableView with Alamofire not working"
In regards to the CardTableView, I am trying to add some posts with Alamofire and calling graph.sync() at the end but for some reason I cannot get it to work. The console log is printing out my data followed by "Synced!" so I know that the data is added before the view is synced. Am I doing something wrong?

[code]

[2018-09-12 15:15] OrkhanAlikhanov commented on #1153
`Alamofire` request is asynchronous, the data probably comes after the tableview is populated. You should call reload tableView data once it's fetched

[2018-09-12 15:26] M47H3W commented on #1153
Thank you for the reply! Would `graph.sync()` reload the Card Table View? I understand that Alamofire is asynchronous which is why `graph.sync()` is only executed after everything has been added.

My print output states that it received the data before sync function is called.

[code]

[2018-09-12 15:36] OrkhanAlikhanov commented on #1153
In `PostsViewController`, call your request and sync and then reload table.

[code]

[2018-09-13 14:05] OrkhanAlikhanov commented on #1148
@shroff-kandarp We decided that we keep it as it is, since it's default behavior of the system when using `UINavigationController`. That said, you should use Material's `NavigationController` instead of `UINavigationController`.

[2018-09-13 14:05] OrkhanAlikhanov commented on #1153
@M47H3W Did your problem get solved?

[2018-09-13 14:42] danieldahan commented on #1148
@OrkhanAlikhanov Thank you for following up. @shroff-kandarp If you have any further questions or issues, please reopen or create a new one. Thank you!

[2018-09-13 14:42] #1148 closed

[2018-09-13 15:50] danieldahan commented on #1150
Thank you @OrkhanAlikhanov.

@shroff-kandarp The latest https://github.com/CosmicMind/Material/pull/1151 merged into `development` now includes the feature required to solve this issue.

[2018-09-13 15:50] #1150 closed

[2018-09-13 20:32] M47H3W commented on #1153
Sorry for the late reply! I was able to get it to work after some modifications to the cells as well. For some reason cells would be too high up and on top of each other

[2018-09-13 20:34] danieldahan commented on #1153
@M47H3W Great! We will close this issue. Thank you.

[2018-09-13 20:34] #1153 closed

[2018-09-14 05:32] MuhammadNayabButt opened #1154 "How to make "NavigationController" transparent."
I am using AppNavigationController class which has following source code.

[code]

I want to make the navigation Bar Transparent.
I tried using following piece of code in ViewDidLoad as well as viewWillAppear(which works in case of default UINavigationController) but it is not working here.

[code]

[2018-09-14 10:08] ashusath commented on #1154
Hi @MuhammadNayabButt, you can try adding following code in prepare
`v.setBackgroundImage(UIImage(), for: .default)
    v.isTranslucent = true
    v.backgroundColor = .clear`
this worked for me, hope this will work for you too.

[2018-09-14 14:26] danieldahan commented on #1154
Thank you @ashusath, we appreciate your response. @MuhammadNayabButt Please let us know if this works for you, and if not, please reopen or create a new issue. Thank you!

[2018-09-14 14:26] #1154 closed

[2018-09-14 14:27] danieldahan commented on #1152
Hi @ThiyagarajanShivSankaran we haven't heard back from you, if you still require help, please reopen or create a new issue. Thank you!

[2018-09-14 14:28] danieldahan commented on #1139
@OrkhanAlikhanov let's move this to a feature request, and I do believe it has great value in our Layout system. Thanks guys!

[2018-09-15 10:18] MuhammadNayabButt commented on #1154
I will do it and would let you know.

[2018-09-16 14:50] dmjones opened #1155 "README link to installation instructions is broken"
In the README file, there is a link to
https://www.cosmicmind.com/danieldahan/lesson/6, which is broken.

I can't find where this has moved to, otherwise I'd submit a PR. Have those lessons been deleted?

[2018-09-16 14:53] OrkhanAlikhanov commented on #1155
Hey! Thank you! The site is under development right now, and will be available soon with new cool stuff.

#1121

[2018-09-16 14:58] danieldahan commented on #1155
@OrkhanAlikhanov Thank you! We have been working hard on a new platform, and will be launching the documentation there. In the meantime, we will be posting basic documentation in the [Samples Wiki](https://github.com/CosmicMind/Samples/wiki), and I believe what you are looking for can be found here, with this sample [installation guide](https://github.com/CosmicMind/Samples/wiki/Installation). If

[2018-09-16 14:58] #1155 closed

[2018-09-17 04:52] ThiyagarajanShivSankaran commented on #1152
@OrkhanAlikhanov, @danieldahan Sorry guys for the late reply.

We have tried by resetting the class in storyboard, but no luck we are facing the same issue. Even, we have tried by adding a new view with `FABMenu` class but it's not working too.

<img width="926" alt="fabmenu issue" src="https://user-images.githubusercontent.com/17313049/45606538-90488300-ba63-11e8-8386-3639b76e7bbd.png">

[2018-09-17 07:07] bstillitano opened #1156 "TabsController inside TabBarController as RootView"
I am trying to set a TabsController as the root view of a tab inside my UITabBarController.

The issue I am facing is that I can not set the viewcontrollers before the tab loads which makes the view controller crash. Any way to do this?

[2018-09-17 12:52] danieldahan commented on #1152
Please send over a sample project for our review. Thank you!

[2018-09-17 18:56] karasahinemre opened #1157 "Xcode 10 Update"
After Xcode 10 release this pods gives 292 warnings about --> 'let' properties are implicitly 'final'; use 'public' instead of 'open'. We are waiting for new iOS SDK. Thanks.

[2018-09-17 19:00] karasahinemre opened #1158 "TabsController Layout Problem with Navigation Bar Large Titles"
When we present tabs controller on top it is not scrolling with navigation bar. You can see the images below.

Normal
![img_006d5a8467a1-1](https://user-images.githubusercontent.com/9135318/45643976-0b8e5100-bac5-11e8-9f99-75198b95f9a5.jpeg)
While scrolling down the page
![img_3a9f96b4e241-1](https://user-images.githubusercontent.com/9135318/45643968-07faca00-bac5-11e8-9cfd-2ba0df2c9b2f.jpeg)

[2018-09-17 19:18] OrkhanAlikhanov commented on #1157
Hey, you can use development branch until we make a release. We're trying so hard to do so. Thank you!

[2018-09-17 19:19] OrkhanAlikhanov commented on #1158
Can you send over a sample project replicating the issue? Thank you!

[2018-09-17 19:35] danieldahan commented on #1157
A release is coming soon. As @OrkhanAlikhanov mentioned, please use the `development` branch, it is pretty stable for now. Thank you!

[2018-09-17 19:35] #1157 closed

[2018-09-17 23:56] bstillitano commented on #1156
@OrkhanAlikhanov thanks in advance for your help. I have attached a sample project.

All I am want to do is make the SecondViewController an instance of TabsController however it crashes in the below line. My feeling as to why it crashes is because we need to init the viewControllers parameter when pushing or presenting the TabsController instance however I can not find a why to do this because it

[2018-09-18 09:35] ThiyagarajanShivSankaran commented on #1152
@danieldahan Here, I am attaching the sample code.
[FABMenuIssue.zip](https://github.com/CosmicMind/Material/files/2392054/FABMenuIssue.zip)

[2018-09-18 18:17] OrkhanAlikhanov commented on #1152
Interesting, this is reproducible with development branch. Just create a brand-new project, I add view to view controller in storyboards and set its class to `FABMenu`. Running the app prints following:

I tried various ways to fix the issue none worked so far. Haven't tried with latest Xcode 10 yet.

@danieldahan Issue can be reopened I believe

[2018-09-18 18:19] danieldahan commented on #1152
@OrkhanAlikhanov Thank you for looking into this. Let's continue the investigation.

[2018-09-18 18:27] OrkhanAlikhanov commented on #1156
I looked into your setup, `TabsController` does not support storyboards. You have to setup hierarchy through code. Just continue to create individual tabs in storyboards, but to nest them in `TabsController`, init them from storyboards with some identifier then use `TabsController(viewControllers:)` to create TabsController. Thank you!

[2018-09-18 18:28] danieldahan commented on #1156
Thank you @OrkhanAlikhanov

[2018-09-18 18:28] #1156 closed

[2018-09-18 19:32] OrkhanAlikhanov commented on #1158
@karasahinemre You can manually update `tabBar` position for now, until we come up with a better solution.
[code]

[2018-09-18 19:59] bstillitano commented on #1156
Are you able to provide an example please @OrkhanAlikhanov ?

[2018-09-18 20:03] karasahinemre commented on #1158
Thank you for your response. Manually update is working as expected. Waiting for good news from you about better solution 😊

[2018-09-18 20:06] OrkhanAlikhanov commented on #1156
Something like this:

[code]

[2018-09-18 20:27] bstillitano commented on #1156
@OrkhanAlikhanov thanks for your help, that won't work for this situation, I've created my own workaround that i'll post if i get a chance. Thankyou once again.

[2018-09-18 21:12] danieldahan commented on #1156
@bstillitano @OrkhanAlikhanov awesome :)

[2018-09-18 21:13] danieldahan commented on #1158
@OrkhanAlikhanov thank you! @karasahinemre I am happy it worked out for you. We will keep note of this and make a better solution.

[2018-09-18 21:13] #1158 closed

[2018-09-20 07:05] Tylerian opened #1159 "ActivityIndicator"
Material 2 milestone is supposed to include an ActivityIndicator, but I can't see it anywhere in the project. Was it implemented? If not, I would like to add a feature request.

[2018-09-20 12:07] OrkhanAlikhanov commented on #1159
Hey! There is no such feature yet, but it's planned and will be implemented. Thank you!

[2018-09-20 12:11] #1159 closed

[2018-09-21 18:22] CavalcanteLeo opened #1161 "Xcode 10 and Swift 4.2"

[2018-09-21 18:39] CavalcanteLeo commented on #1161
amazing =)

[2018-09-21 18:39] #1161 closed

[2018-09-23 05:12] johnmikel opened #1162 "Error installing development branch."
So with the recent update of Xcode, I kept reading in the issues closed to use the 'development' branch for now.

I added the following to my Podfile:
**'pod 'Material', :git =>'https://github.com/CosmicMind/Material.git', :branch => 'development'**

I also added the below to meet the requirements of this pod:
**pod 'Motion'**

But for reasons that I do not understand, it throws me an error like t

[2018-09-23 07:57] OrkhanAlikhanov commented on #1162
Use development branch for Morion as well.
[code]

[2018-09-23 12:41] johnmikel commented on #1162
Thanks @OrkhanAlikhanov. I'll give it a try!

[2018-09-24 08:27] johnmikel commented on #1162
@OrkhanAlikhanov it worked. Thanks for your help!

[2018-09-24 08:27] #1162 closed

[2018-09-24 11:53] cuong1112035 opened #1163 "rightView is not working"
I try to add a custom view to rightView, then I set rightViewMode = .always to show my custom right view. But I cannot find a way to show the rightView and every thing works pretty well with leftView. Does anyone know how to fix this?

[2018-09-24 11:56] OrkhanAlikhanov commented on #1163
Hey! How do you add your custom view to `textField.rightView` ? Can you share some code? A sample project replicating the issue would be welcomed :)

[2018-09-24 11:57] cuong1112035 commented on #1163
[code]
this is my code

[2018-09-24 12:06] OrkhanAlikhanov commented on #1163
Thank you, looking at the source code, it seems `rightView` gets resized based on views that are in `rightView.grid`.
https://github.com/CosmicMind/Material/blob/6dc1048c419d5ed5989852605518b6e3be6ea5db/Sources/iOS/TextField.swift#L612-L621

If you add your custom view to grid, `rightView.grid.views = [temp]`, it should work. However size of the your custom view `temp` will be overridden by grid s

[2018-09-24 13:08] cuong1112035 commented on #1163
It works, thank so much

[2018-09-25 03:56] Ronaldoh1 commented on #1163
this doesn't really solve the problem of the right view. I have used the suggested solution

rightView.grid.views = [someView]

the button is floating on the left corner of the screen.

[2018-09-25 14:33] CHONUMAN commented on #1145
hi. im using NavigationDrawerController. I have a right view that comes out when i press the menu button. how can i close the right view when i tap to the left part past the right view.

[2018-09-25 14:56] OrkhanAlikhanov commented on #1145
@CHONUMAN Hey, we you can call `navigationDrawerController?.closeRightView()`. It's available for leftView as well. You can check [`NavigationDrawerController.swift`](https://github.com/CosmicMind/Material/blob/master/Sources/iOS/NavigationDrawerController.swift) out for more info.

[2018-09-25 18:59] Madhav1022 opened #1164 "left view padding is not working properly in swift 4"
When I add left view for padding in textfieldd, the text in the textfield goes to middle of textfield. Although I give only 1 units for width of left view. Please help me to sort out this issue ? Code is given below:

    func fullNameField() {
    self.fullnameField.placeholder = "Full Name*"
    self.fullnameField.backgroundColor = UIColor.white
    self.fullnameField.delegate = self
    self.fu

[2018-09-26 20:56] OrkhanAlikhanov commented on #1164
That's because we calculate width of `leftView` differently `leftViewOffset + bounds.height`:
https://github.com/CosmicMind/Material/blob/6dc1048c419d5ed5989852605518b6e3be6ea5db/Sources/iOS/TextField.swift#L106-L116

You can override our calculation to give 10 points left padding as follows:
[code]
This padding will also be reflected on divider line.

---
If you don't want divider line to be padd

[2018-09-30 07:55] Hamna21 commented on #1150
Setting _heightPresent_ for tabBar in **BottomNavigationController** changes the vertical alignment. Is there any way to maintain title and image position?
_titlePositionAdjustment_ is not working for this.

[2018-10-02 12:14] pedroOliveiraptc opened #1166 "RTL UITextField"
Hey guys congrats for the work.
i am facing a problem since ios12 and the new version that you guys release, my textfield in rtl break alignments as you can see above,

<img width="318" alt="captura de ecra 2018-10-02 as 13 11 03" src="https://user-images.githubusercontent.com/12796621/46347870-f5e06600-c644-11e8-805d-fded1d03ea79.png">

<img width="296" alt="captura de ecra 2018-10-02 as 13 11 10

[2018-10-02 13:33] danieldahan commented on #1166
Hey @pedroOliveiraptc,  Thank you. Can you try the `development` branch, and let us know if the issue persists. If so, please send a reproducible issue so we can investigate it. Thank you!

[2018-10-02 22:50] OrkhanAlikhanov commented on #1150
@Hamna21 Sorry for late response, I checked all were working fine. Can you try again, we've just pushed a tiny fix in #1167

[2018-10-02 22:53] OrkhanAlikhanov commented on #1135
Added in #1165

[2018-10-02 23:01] OrkhanAlikhanov commented on #1164
@danieldahan What do you think in this matter?

[2018-10-02 23:06] danieldahan commented on #1164
@Madhav1022 what branch/version are you using for this, and can you send me an image of what is happening now, and what it looked like before please?

[2018-10-03 07:28] pedroOliveiraptc commented on #1166
@danieldahan thanks I will try.

[2018-10-03 07:59] pedroOliveiraptc commented on #1166
Hello the placeholder its ok, but the input text and the component line it self are not aligned.
<img width="312" alt="captura de ecra 2018-10-03 as 08 57 55" src="https://user-images.githubusercontent.com/12796621/46397628-950b6900-c6ea-11e8-92e1-bbde10c3e403.png">

[2018-10-03 13:07] OrkhanAlikhanov commented on #1166
@pedroOliveiraptc Can you share the code for us to achieve the same result on our computer?

[2018-10-04 07:59] sillysachin opened #1168 "Swift 4.2 Build Failure - While deserializing SIL vtable for 'FABMenuItem' in module 'Material' error: Abort trap: 6"
INAllotmentStatusViewController.bc
1.	While running pass #1 SILModuleTransform "PerformanceSILLinker".
2.	While deserializing SIL vtable for 'FABMenuItem' in module 'Material'
error: Abort trap: 6

[2018-10-04 08:04] pedroOliveiraptc commented on #1166
i will create a sample app to share.
thanks.

[2018-10-04 09:19] OrkhanAlikhanov commented on #1168
Hey! Thanks! Can you send a sample replicating the issue?

[2018-10-04 14:13] MuhammadNayabButt commented on #1154
Hi @ashusath @danieldahan I have tried above code it works(I created a separate project). But my problem is bit different.

On previous screens I have hidden the navigation controller. When I come to the required viewcontroller I unhide/show the view controller using this command
[code]

strangely after unhiding the navigation controller not even backbutton hides properly neither its tint changes.

[2018-10-04 14:36] OrkhanAlikhanov commented on #1154
@MuhammadNayabButt Can you send a sample project replicating the issue?

[2018-10-04 19:27] danieldahan opened #1169 "Configure Material modules."
Allow developers to configure the build of Material.

https://stackoverflow.com/questions/47515876/is-there-a-way-to-only-install-certain-modules-of-this-pod/47542943?noredirect=1#comment92223346_47542943

[2018-10-05 16:09] MuhammadNayabButt commented on #1154
@OrkhanAlikhanov where should I send the project?

[2018-10-05 16:18] OrkhanAlikhanov commented on #1154
You can share zip file here or send it to support@cosmicmind.com

[2018-10-05 20:09] MuhammadNayabButt commented on #1154
@OrkhanAlikhanov Code sent with Subject "Navigation Controller Issues"

[2018-10-05 20:12] OrkhanAlikhanov commented on #1154
Thank you!

[2018-10-09 01:02] danieldahan commented on #1168
@sillysachin If you still face this issue, please reopen this or create a new one. Thank you!

[2018-10-09 01:02] #1168 closed

[2018-10-09 01:03] danieldahan commented on #1166
@pedroOliveiraptc Are you still facing this issue? If so, please reopen this and submit a sample app. Thank you!

[2018-10-09 01:03] danieldahan commented on #1164
@Madhav1022  If you still face this issue, please reopen this. Thank you!

[2018-10-09 01:03] #1164 closed

[2018-10-09 01:04] #1135 closed

[2018-10-09 06:52] muzoman opened #1170 "Why isn't DialogView, Builder & Controller Classes in Master Branch?"
Are there plans to move these classes from M3 into the Master branch any time soon?

[2018-10-09 09:58] OrkhanAlikhanov commented on #1170
Absolutely! Probably next week it will be development branch. Thank you!

[2018-10-09 15:10] kerem1905 commented on #1170
what about Editor.swift ? @OrkhanAlikhanov

[2018-10-09 15:14] OrkhanAlikhanov commented on #1170
@kerem1905 It's already in `development` branch.

[2018-10-09 15:15] danieldahan commented on #1170
We will be moving everything during this month to the `master` branch, though, we are aiming to pair documentation with it. If you would like to be part of our #opensource Slack channel, send your email to support@cosmicmind.com, and we can answer questions directly and keep you posted. Thank you :)

[2018-10-09 15:15] #1170 closed

[2018-10-10 08:35] sillysachin commented on #1168
[code]

[2018-10-10 11:47] sillysachin commented on #1168
I was able to make the build after changing project configuration to 4.2 . I am leaving the above log for information sake.

[2018-10-10 13:13] MuhammadNayabButt commented on #1154
@OrkhanAlikhanov any update

[2018-10-10 13:32] danieldahan commented on #1168
@sillysachin Thank you.

[2018-10-10 22:19] shanezzar opened #1171 "Update to swift 4.2"
I'm curious when it will be updated to swift 4.2 and will it receive future updates?

[2018-10-10 22:20] #1171 closed

[2018-10-10 23:05] danieldahan commented on #1171
@shanezzar You can use the `development` branch, it is pretty much ready for release.

[2018-10-11 02:28] quanguyen opened #1172 "Swift 4.2 Support"
Hi,

There are 289 warnings when I try to build my current Material on XCode 10, with Swift 4.2 on.

I check for new Material (by `pod outdated`) but no new version yet?

When would you release new version?

Thanks

[2018-10-11 02:53] OrkhanAlikhanov commented on #1172
Pretty soon. You can use `development` branch for now.

[2018-10-11 15:04] danieldahan commented on #1172
@OrkhanAlikhanov I am going to leave this up for now, so that other people can see to use the `development` branch for now.

[2018-10-12 08:47] ruelluna commented on #1172
Tried to use `development` branch

Podfile
[code]

Error
[code]

[2018-10-12 09:37] OrkhanAlikhanov commented on #1172
Use development branch of Motion as well.

[code]

[2018-10-19 00:45] evagnostic opened #1175 "ErrorTextField doesn't reveal errors after upgrading to swift 4.2"
I have the following code in my app. It used to work fine until the swift 4.2 upgrade.

[code]

I updated Podfile to the following, but it didn't help

[code]

[2018-10-19 02:57] OrkhanAlikhanov commented on #1175
Hey! See https://github.com/CosmicMind/Material/issues/1131#issuecomment-411734473

[2018-10-19 08:59] ludivinefafournoux opened #1176 "Problem with colors branch development Swift 4.2"
Hi, i'm using the development branch to use Material in my swift project. I'm updating it to Swift 4.2.
I have a problem with flatbuttons colors:
![img_d7fec82802d9-1](https://user-images.githubusercontent.com/17699165/47208342-d4de7b80-d38d-11e8-8556-b600dc205047.jpeg)
![img_0048](https://user-images.githubusercontent.com/17699165/47208343-d4de7b80-d38d-11e8-8c20-ceba81ffb4fe.PNG)

When i switch

[2018-10-19 09:44] OrkhanAlikhanov commented on #1176
Hey! Thank you! Most likely it happens due to theming #1115. We'll look into this soon. For now, you can add `Theme.isEnabled = false`  to your `AppDelegate.swift`. It is introduced in #1174. To use it point to that branch. Assuming you are using cocoapods:
[code]

[2018-10-19 09:54] pedroOliveiraptc commented on #1166
Hello sorry for the delay, the link for sample project

https://drive.google.com/file/d/1gl4BQvgH2QvU5FrU0FM3ViHDwUVVr_7U/view

[2018-10-19 10:33] pedroOliveiraptc opened #1177 "RTL UITextField iOS 12"
https://github.com/CosmicMind/Material/issues/1166

i am facing a problem since ios12 and the new version that you guys release, my textfield in rtl break alignments as you can see above,
Do you already face this issue ? On iOS 11 and old version of the framework I don't have problems.
Thanks.

Hello sorry for the delay, the link for sample project

https://drive.google.com/file/d/1gl4BQvgH2QvU5Fr

[2018-10-19 12:16] ludivinefafournoux commented on #1176
Ok, thanks i will test that !

[2018-10-19 12:29] #1176 closed

[2018-10-19 13:46] muzoman opened #1178 "Make Font used by library customisable"
I notice that the Roboto font is hard-coded across the library. I think a useful enhancement would be for this to be configurable.

[2018-10-19 18:46] evagnostic commented on #1175
@OrkhanAlikhanov Thanks for your response. Another change I noticed is that neither `detailLabel` or `errorLabel` would show unless the field has been a first responder before. In this case, error only show up when the user clicks into the field. How should I resolve this issue?

[2018-10-19 19:07] danieldahan commented on #1177
Hey @pedroOliveiraptc thank you. Let's go to the original issue https://github.com/CosmicMind/Material/issues/1166, so we maintain the correct history.

[2018-10-19 19:07] #1177 closed

[2018-10-19 19:12] danieldahan commented on #1176
@ludivinefafournoux the [development](https://github.com/CosmicMind/Material/tree/development) branch now includes the fix to @OrkhanAlikhanov PR. Thank you @OrkhanAlikhanov.

[2018-10-19 20:55] OrkhanAlikhanov commented on #1175
Interesting. How and where do you set text for labels? Can you send a sample reproducing the issue?

[2018-10-19 20:55] OrkhanAlikhanov commented on #1166
Thank you we'll look into soon.

[2018-10-19 21:32] OrkhanAlikhanov commented on #1175
That probably happens since it does not layout errorLabel. You can layout by calling `textField.layoutSubviews()`

I suggest that instead of `textField.errorLabel.text = "blah"` use `textField.error = "blah"`, we internally call `layoutSubviews`

[2018-10-19 21:44] OrkhanAlikhanov commented on #1166
@pedroOliveiraptc You have following line:
[code]
It makes some changes internal to `UITextField`:
![image](https://user-images.githubusercontent.com/15037839/47244632-40186400-d407-11e8-8f4b-8dc47cfcc387.png)
From: [#WWDC15 App Frameworks](https://devstreaming-cdn.apple.com/videos/wwdc/2015/222ngkqh58b52/222/222_new_uikit_support_for_international_user_interfaces.pdf)

We give padding as much as

[2018-10-19 21:49] evagnostic commented on #1175
Thanks so much. It worked! @OrkhanAlikhanov

[2018-10-19 21:53] OrkhanAlikhanov commented on #1175
Awesome!

I believe we should call `layoutSubviews` internally when `isErrorRevealed` is set as we were doing before. It was removed in last update, that's why you ran into this issue.

[2018-10-19 22:17] OrkhanAlikhanov commented on #1175
@evagnostic Check out new validator for ErrorTextField #1082. You can set validation rules and error messages on `errorTextField.validator` and check if they pass using `errorTextField.isValid()`. There is more detailed information in the pr.

Basic example:
[code]

and then
[code]

[2018-10-20 14:56] danieldahan commented on #1175
Thank you @OrkhanAlikhanov :)

[2018-10-20 14:56] #1175 closed

[2018-10-20 14:58] danieldahan opened #1179 "Add RTL support."

[2018-10-20 14:59] danieldahan commented on #1166
@OrkhanAlikhanov I created an issue for us to support RTL. https://github.com/CosmicMind/Material/issues/1179, let's follow that issue for the RTL feature.

[2018-10-20 14:59] #1166 closed

[2018-10-24 08:34] gedzionsas opened #1181 "Pulse animation stucked"
Hi, I got problem with pulse animation, when I press on button and swipe to next controller with UIViewControllerAnimatedTransitioning, after that I get back to controller with button and pulse animation is stucked because touchesCancelled not called, could you help me with that?

[2018-10-24 14:47] OrkhanAlikhanov commented on #1181
Hey! To be honest, I did experience that somehow, but was never able to find steps to reproduce it, can you share a sample project replicating the issue?

[2018-10-24 16:32] rob-keepsafe commented on #1168
I ran into this as well (upconverting an older version) and it has to do with overriding `contentsGravity`; I ended up exposing it as `materialContentsGravity: MaterialGravity` for now and wrapping that in the old enum `MaterialGravity` and it archived fine (debug builds weren't impacted)

[2018-10-25 07:32] MuhammadNayabButt opened #1182 "On toggle NavigationController's navigation bar(show/hide) the problems with back button and its tint color"
On previous screens I have hidden the navigation controller. When I come to the required viewcontroller I unhide/show the view controller using this command
[code]

strangely after unhiding the navigation controller not even backbutton hides properly neither its tint changes.
like following two lines of code does not have any effect. I get the back button in only blue colour

[code]

it seems ther

[2018-10-25 14:49] #1169 closed

[2018-10-25 14:49] #1179 closed

[2018-10-25 19:59] OrkhanAlikhanov commented on #1178
See #1183

[2018-10-25 19:59] OrkhanAlikhanov commented on #1182
Fixed in #1183

[2018-10-26 01:13] markst opened #1184 "Visual layer corner radius to clip subviews/layers?"
Is it possible to shine some light on the use of visual layer?

I have a cell view with some subviews & a corder radius.
If I apply the below snippet to my cell, it had the desired setup with shadow on the backing layer, clipping the pulse touch & dotted border.

However my subviews aren't clipped by the rounded corners.
The only way I can think of doing this is by containing all my subviews in a

[2018-10-26 14:38] danieldahan commented on #1184
@markst Hey! Great question. The `visualLayer` allows a view to contain clipped content without needing to add another container view for shadowing. The parent view's backing layer acts as that container.

In your code, add the subview's layers to the `visualLayer`, which will clip the radius corners, and allow for your shadow to be displayed.

If you would like to join our `Slack` channel to furt

[2018-10-26 14:38] #1184 closed

[2018-10-26 14:44] danieldahan commented on #1182
Thank you @OrkhanAlikhanov, https://github.com/CosmicMind/Material/pull/1183 has been merged into `development`.

[2018-10-26 14:44] #1182 closed

[2018-10-26 14:45] danieldahan commented on #1178
Thank you @OrkhanAlikhanov. https://github.com/CosmicMind/Material/pull/1183 is now merged into `development`.

[2018-10-26 14:45] #1178 closed

[2018-10-26 23:49] OrkhanAlikhanov commented on #1139
Hey @davidevincenzi! It's coming in #1185!

With new update you can achieve what you asked in this issue:
[code]

[2018-10-27 02:12] OrkhanAlikhanov commented on #1168
@rob-keepsafe if you believe this an issue, please open new one with any information you can provide

[2018-10-27 05:12] davidevincenzi commented on #1139
Wow! Thank you guys, I love this library!
👍👍👍

[2018-10-29 17:40] danieldahan commented on #1181
@OrkhanAlikhanov let's discuss this in Slack, @gedzionsas if you would like to join our #opensource slack channel, please send us your email at support@cosmicmind.com. I will leave this issue up until we resolve it. Thank you!

[2018-10-31 07:28] mihailsalari commented on #604
Hi, Did you add Circular progress & activity indicator?

Regards

[2018-10-31 11:24] OrkhanAlikhanov commented on #604
Hey! Not yet. Not in the priority

[2018-10-31 17:53] danieldahan commented on #604
@mihailsalari we have a bunch of new features coming out and will release with documentation. Then we will add a roadmap for the next components. The indicator is something we want, but not something that made it into the latest batch of updates. Thank you for checking in.

[2018-11-03 13:51] sillysachin commented on #1172
Since Nov 1 - Compiler error.

`view.layout(fabMenu).size(fabMenuItemSize)`

Value of type 'Layout' has no member 'size'

[2018-11-03 13:56] OrkhanAlikhanov commented on #1172
It's caused by #1185.

Use this until we add it back:
[code]

[2018-11-03 17:46] danieldahan commented on #1172
@sillysachin I added the `size` API to the `Layout` toolset, and it is now in the `development` branch in this commit b95456d7a0e1639b714693361e18bdcb95968663. Thank you @OrkhanAlikhanov.

[2018-11-04 14:45] CHONUMAN commented on #1172
Hello. After installing from dev branch I spotted that buttons are misbehaving. If attributes are set in the storyboard like Font, BackgroundColor etc they won't show. Also I was wondering if you guys will release a subset of the Material with only the views not the controllers.

[2018-11-04 15:12] OrkhanAlikhanov commented on #1172
@CHONUMAN Add `Theme.isEnabled = false` in your `AppDelegate.swift` file to resolve color conflict. I don't know why this is happening with storyboard users even though I've tested and it was working.

We plan to have different modules for Material but it's not a priority right now.

[2018-11-06 15:59] #1139 closed

[2018-11-13 09:56] hhoangna opened #1189 "NavigationDrawer and TabBar issue?"
I am using NavigationDrawer and UITabBarController in my App. And I want to show TabBar all the time. It's mean when I click to open NavigationDrawer slides in from the left or right, the TabBar always appear in front.
Could someone help me? Thanks

[2018-11-13 10:59] OrkhanAlikhanov commented on #1189
Hey! You will have to change the hierarchy order. Instead of nesting `UITabBarController` inside `NavigationDrawerController`,  make `UITabBarController` topmost and nest each tab in `NavigationDrawerController`

[2018-11-13 14:54] danieldahan commented on #1189
@OrkhanAlikhanov thank you that is correct. @hhoangna if you need any further help, please reopen or create a new issue.

[2018-11-13 14:54] #1189 closed

[2018-11-15 06:35] karasahinemre commented on #1172
Any updates?

[2018-11-15 07:44] phlippieb commented on #1131
Ah, that explains it 🙁

[2018-11-15 14:31] muzoman opened #1190 "Intercept Right Swipe & BackButton to Alert User to Save Changes"
I'm pushing a detail view controller onto NavigationController and user can edit content. If user swipes right or presses BackButton to navigate away I need to alert them to save changes (abort popping view controller) or proceed. The problem is I can't find an obvious override place to catch either the Gesture or the BackButton press. Am I missing something?

[2018-11-15 16:26] danieldahan commented on #1172
@karasahinemre The development branch works well, but we haven't released yet, as we need to document more.

[2018-11-15 16:34] danieldahan commented on #1190
Hey! @muzoman, have you tried adding an event handler to the `navigationItem.backButton`?

[2018-11-15 16:42] OrkhanAlikhanov commented on #1190
I've done something similar. As far as I remember I used delegate of NavigationController to prevent popping both via gesture and back button.

[2018-11-15 16:45] OrkhanAlikhanov commented on #1190
Fortunately, I had added my solution as an answer in SO. Check if it works for you. https://stackoverflow.com/a/41912394/5555803

[2018-11-15 18:11] muzoman commented on #1190
@OrkhanAlikhanov your stack overflow answer was perfect thank you! I spent ages searching Stackoverflow before raising the ticket here! I phrased my problem wrong! Thanks again!

[2018-11-15 18:12] muzoman commented on #1190
Perhaps your modifications could be incorporated into the Material NavigationController class?

[2018-11-15 18:39] danieldahan commented on #1190
@muzoman that is a good idea. @OrkhanAlikhanov what do you think?

[2018-11-15 18:39] #1190 closed

[2018-11-16 00:11] OrkhanAlikhanov commented on #1190
Well, we can actually extend `UINavigationControllerDelegate` providing something like `shouldPop` method.

[2018-11-16 06:32] hhoangna commented on #1189
I tried but i don't know how to change the hierarchy. Can someone give me a examples?

[2018-11-16 07:36] OrkhanAlikhanov commented on #1189
Share the hierarchy here

[2018-11-16 11:12] James-Coleman commented on #824
@egenvall I know this is a really old issue and you may have already solved this, but I had this same issue and it was solved by setting up my tabBar appearance before calling super.viewDidLoad in my subclass of TabsController:

[code]

I suspect this may be related to setting the `tabBarAlignment` to `.top`

[2018-11-16 13:37] hhoangna commented on #1189
@OrkhanAlikhanov Can you create a sample for me?

[2018-11-16 18:33] danieldahan commented on #1189
@hhoangna take a look at the [Samples](https://github.com/CosmicMind/Samples) repo to start.

[2018-11-19 16:35] svachmic commented on #1172
The suggested installation just stopped working with the last commit:

[code]

[2018-11-19 16:40] OrkhanAlikhanov commented on #1172
We are now very close to release. You can point to the previous commits I believe. Not tested but should work:
[code]

[2018-11-19 16:43] danieldahan commented on #1172
Thank you @OrkhanAlikhanov. That is correct @svachmic, we are preparing to launch a bunch of updates, so please be aware that some pointers may be incorrect for the next week. We appreciate your message and helping us build a solid product.

[2018-11-19 16:52] svachmic commented on #1172
I understand, thanks for all your work. It's just unfortunate how the update clashed with the Swift 4.2 release which forces the codebase to be dependent on the development branch. But noted, I won't `pod install` for at least a week or so 😅

[2018-11-27 02:15] markst opened #1191 "`SearchBar` does not honour centre alignment"
I am setting my content view alignment to:
[code]

But the content is not centred, however if I set the text field alignment to centre:
[code]

The following occurs:

![screen capture on 2018-11-27 at 13-14-57](https://user-images.githubusercontent.com/274318/49053964-80f56b00-f246-11e8-9820-510777b5523b.gif)

Should the search bar not align the text field left view so as to produce the following

[2018-11-27 04:45] markst commented on #1163
Not sure if this is related. But rather than create another issue - I'm puzzled as to how I display the clear button constantly rather than when editing. I can't figure out where exactly the logic for it appearing is.

[code]

[2018-11-27 19:30] danieldahan commented on #1191
@markst Hey, the `contentViewAlignment` does not belong to the search text, but the search element. It says to keep the centerView aligned in the center relative to the left and right views.

[2018-11-30 21:46] CHONUMAN opened #1192 "Horizontal Radio Group"
Is there any way to implement horizontal radio button group?

[2018-12-02 13:55] angelix opened #1193 "NavigationController backgroundColor resets on tab change"
On Development branch, when setting the backgroundColor of the NavigationBar::NavigationController and inside the TabsController we change the tab, the backgroundColor of the bar resets to the default blue color.

[2018-12-02 14:06] OrkhanAlikhanov commented on #1193
This is because of theming #1115. You can disable theming at all by `Theme.isEnabled = false` or disable it for specific instance `navigationBar.isThemingEnabled = false` or all instances `NavigationBar.isThemingEnabled = false`

[2018-12-02 14:48] OrkhanAlikhanov commented on #1192
There isn't any way right now. We'll probably rework some parts of `{Check,Radio}ButtonGroup` to add delegations etc. in the future. We can add this feature at that time.

[2018-12-02 14:50] danieldahan commented on #1192
@CHONUMAN thank you for the question. Yes, @OrkhanAlikhanov let's make note of this and add it when we have a chance. @CHONUMAN if you want to make a PR, we would be happy to help. Thank you.

[2018-12-03 08:33] MuhammadNayabButt commented on #1172
The "Theme.isEnabled = false" do not work well in development branch. So please fix this as well.

[2018-12-04 15:47] OrkhanAlikhanov commented on #1172
@MuhammadNayabButt Hey! Could you please define `does not work well`?

[2018-12-06 13:00] MuhammadNayabButt commented on #1172
@OrkhanAlikhanov It is working Partially. The main problem exists in navigation bars. In some NavBars there is a default theme color(blue). Although I have set "Theme.isEnabled = false"  in AppDelegate

[2018-12-07 09:28] 22Round opened #1194 "TabsController tabItem contentEdgeInsets issue"
I want to change tabItem position but `contentEdgeInsets` not works

my sample

[code]

[2018-12-07 09:29] puji26 opened #1195 "<#CAMediaTimingFunction#>"
Missing argument for parameter #2 in call
Insert ', <#CAMediaTimingFunction#>'

[2018-12-07 09:59] SDGMazeGeek opened #1196 "Feature Request - TextField DropDown Suggestion"
Can there be anything like this? Assigning an array will show a dropdown/tableView under/over the textfield when it's focused. Selecting item will replace the text.

[2018-12-07 16:17] danieldahan commented on #1196
@SDGMazeGeek You can easily make it, based on your description, we would most likely demonstrate how to build such a component, rather than provide it out of the box. If you would like to start putting together a component like that and want our help, we would be happy to discuss it with you in our Slack channel. You can be invited by sending your email to support@cosmicmind.com. As of now, we don

[2018-12-07 16:17] #1196 closed

[2018-12-07 16:19] danieldahan commented on #1195
@puji26 Thank you for sharing this issue, but you have provided so little information for us to go on. Please provide a working sample that demonstrates the issue you are facing, or please provide more information - like the actually error log.

[2018-12-07 16:19] #1195 closed

[2018-12-07 16:22] danieldahan commented on #1194
Hi @22Round, thank you for sharing your issue. Please provide more information on how `contentEdgeInsets` is not working, and what you are trying to do with its positioning. Pictures are very helpful, and more detail is always great. When you have that ready, feel free to send your email to join our Slack channel to support@cosmicmind.com, or reopen this issue. Thank you!

[2018-12-07 16:22] #1194 closed

[2018-12-07 16:23] #1191 closed

[2018-12-10 08:56] 22Round commented on #1194
@danieldahan I want archive something like this
<img width="452" alt="screen shot 2018-12-10 at 12 53 41" src="https://user-images.githubusercontent.com/5682469/49721037-bfdde480-fc7a-11e8-95dd-3a0c77db4f5b.png">

customize middle items Y pos

[2018-12-10 19:00] #1193 closed

[2018-12-18 03:32] SDGMazeGeek commented on #1190
Hi, @OrkhanAlikhanov  @danieldahan. Is the swipe back feature is disabled by default for NavigationController class? If it is, how can I turn it back on? I'm not using NavigationDrawerController or TabsController, just NavigationControllers inside a UITabBarController.

[2019-01-01 22:37] #1163 closed

[2019-01-03 05:28] DSanzh opened #1197 "TABBAR - Thread 1: Fatal error: Unexpectedly found nil while unwrapping an Optional value"
When showing a view with TabBar, he shows the error.
[screenshot](https://paste.pics/273816b4e3d4c6d63460c73f157610d2)
@danieldahan you would help me a lot if you solved my problem
[code]

[2019-01-03 08:01] OrkhanAlikhanov commented on #1197
Hey! How do you set your view with `TabBar`?

[2019-01-03 08:18] DSanzh commented on #1197
As usual,
`let tabBar = TabItem(image: #imageLiteral(resourceName: "board-inactive"), tintColor: App.Color.azure)`
But he is crashes before settings tag
tabBar.tag = 0

[2019-01-03 08:47] DSanzh commented on #1197
@OrkhanAlikhanov

Interesting thing was happen, it work when I create through
[code]

[2019-01-03 11:03] OrkhanAlikhanov commented on #1197
Can you send us a sample reproducing the issue?

[2019-01-03 11:58] DSanzh commented on #1197
Sorry only partly, it looks like
[code]
solution was
[code]

[2019-01-03 15:58] danieldahan commented on #1197
Where is the `nil`? If there is still an issue, let's reopen this. Thank you!

[2019-01-03 15:58] #1197 closed

[2019-01-06 08:04] KingOlami opened #1198 "centerVertically returns an error"
I am trying to center the UIView vertically which works before till I migrated my codes to swift 4.2. now it shows an error when I use this code

`view.layout(searchState).left(10).right(10).centerVertically(offset: 150)`

the error it show is

`Value of type 'Layout' has no member 'centerVertically'`

I do not no why I have this error

[2019-01-06 08:09] OrkhanAlikhanov commented on #1198
Hey! Sorry for the breaking change. It's now called `centerY`. See #1185 for more details

[2019-01-06 15:51] danieldahan commented on #1198
Thank you @OrkhanAlikhanov ! @KingOlami If you have any further issues, please reopen or create a new one.

[2019-01-06 15:51] #1198 closed

[2019-01-07 07:23] KingOlami opened #1199 "White color turns blue on Pod Update"
Hi, I incorporated material in most of my UI components and I updated my pod to use this

`pod 'Material', :git => 'https://github.com/CosmicMind/Material.git', :commit => '4ab1b08c3365a00f409a210162ae72ed8425f299'` when I run the application, all my white color turns blue and I cannot seem to understand why.

[2019-01-07 07:34] KingOlami commented on #1199
when I disabled the Theme, the navigation bar color turns black which is supposed to be white

[2019-01-07 08:02] KingOlami commented on #1199
if I set `Theme.light.primary = .white`, the navigation becomes white and my UIButton colors become white too. while the button is supposed to be black

[2019-01-07 08:05] OrkhanAlikhanov commented on #1199
Hmm, that's a regression. Before default color was `.white`, currently it's expected to be set by theming.

You can check the removed line:
https://github.com/CosmicMind/Material/pull/1115/files#diff-b2493560b26f2b7a682624a8d8178015L171

[2019-01-07 08:06] OrkhanAlikhanov commented on #1199
Unfortunately, the best thing is that you disable theming and set white color on navigation bar manually.

[2019-01-07 08:08] KingOlami commented on #1199
how can I set that globally for material so that it reflects on all my navigation

[2019-01-07 08:18] OrkhanAlikhanov commented on #1199
`Theme.light.primary = .white` should've done the trick. Which buttons turned into white in buttons navigationItem or others? Did you explicitly set black color on them?

[2019-01-07 08:33] KingOlami commented on #1199
I had to set the tintcolor of each button. I would work with that now. Thanks

[2019-01-07 08:33] #1199 closed

[2019-01-18 07:10] universonic commented on #1172
Thanks for your work @OrkhanAlikhanov . Do you think we can expect the new release available by the end of February? Thanks again.

[2019-02-11 13:54] SamboVisal commented on #1172
I got some errors when tried to use `development` branch.
The error shows `-bash: https://github.com/CosmicMind/Motion.git,: No such file or directory`

I tried the following command

pod 'Material', :git => 'https://github.com/CosmicMind/Material.git', :commit => '4ab1b08c3365a00f409a210162ae72ed8425f299'
pod 'Motion', :git => 'https://github.com/CosmicMind/Motion.git', :commit => '3141bdb87e30b4

[2019-02-15 11:22] muzoman opened #1201 "FABMenuItem Label is not customisable"
I need to be able to change the font and background color of the title label of menu items. Currently the label is hard coded to use Roboto font and a white background.

If the title label initialisation was overridable then I could subclass it and customize as required.

[2019-02-15 11:28] #1201 closed

[2019-02-15 12:09] OrkhanAlikhanov commented on #1201
Hey! Did you find solution or accidentally closed the issue?

[2019-02-15 12:12] muzoman commented on #1201
Hi @OrkhanAlikhanov, I closed on purpose - I realised I could simply customise the title label by assigning directly to its properties after the default initialisation.

[2019-02-19 10:02] 22Round opened #1202 "Memory leak with motionNavigationTransitionType in NavigationController"
I have memory leak with `motionNavigationTransitionType = .selectBy(presenting: .slide(direction: .left), dismissing: .slide(direction: .right))`

my simple implementation is:

[code]
instruments file:

[material_leak.trace.zip](https://github.com/CosmicMind/Material/files/2879419/material_leak.trace.zip)

[2019-02-19 10:08] OrkhanAlikhanov commented on #1202
Thank you! We'll look into soon.

[2019-02-19 20:41] dmwesterhoff opened #1203 "Broken link in README"
http://www.cosmicmind.com/material/icons is in the README, which currently 404s out.

[2019-02-19 20:51] danieldahan commented on #1203
Thank you for sharing this. We are uploading a completely new README with links in a week. So please bare with us, and this will be fixed soon.

[2019-02-20 04:55] mav46 opened #1204 "cannot change TextField leftview image tint color"

[2019-02-20 07:07] #1204 closed

[2019-03-01 08:12] kaunteya commented on #1172
Hey @OrkhanAlikhanov when can we expect 4.2 support for this awesome pod?

[2019-03-05 08:16] 22Round commented on #1202
@OrkhanAlikhanov @danieldahan any news regarding above issue?

[2019-03-05 17:10] danieldahan commented on #1202
@22Round We are in the process of releasing all the frameworks this week, so once that is done, we will get back to this issue. As well, can you share the device and Material version you found this issue with? Thank you.

[2019-03-06 07:37] 22Round commented on #1202
device: iPhone 5s
iOS: 12.1.14
material pod:   ```pod 'Material', :git => 'https://github.com/CosmicMind/Material.git', :branch => 'development'
  pod 'Motion', :git => 'https://github.com/CosmicMind/Motion.git', :branch => 'development'```

[2019-03-07 15:18] danieldahan commented on #1172
Hi Everyone! @OrkhanAlikhanov and I are working on preparing a release with the following changes. It is taking us some time as we need to create a new sample app and rewrite the READMEs to help with the new APIs. At the same time, we have been working on a new tool to help us create content, which I am happy to say is complete and now being integrated. The `development` branch is very stable and

[2019-03-13 16:04] Maxatma commented on #614
@danieldahan well, seems like this still not working :)

[2019-03-14 06:03] OrkhanAlikhanov commented on #614
It is possible to implement but still requires some dedication to decide what to put under which subspec. It's not a tough work but I don't think it's relevant time to start working on this. A PR is more than welcome though ;)

[2019-03-14 07:53] hardikamal opened #1208 "Where can I find the sample of Sticker Sheet?"
Hi,

Firstly, Thanks for the awesome library.

May I know where can I find the sample of Sticker Sheet?

[2019-03-14 13:15] danieldahan commented on #1208
Thank you @hardikamal

There is a link at the bottom of the README that takes you here https://www.uplabs.com/posts/material-design-sticker-sheets.

All the best!

[2019-03-14 13:15] #1208 closed

[2019-03-15 12:35] hardikamal commented on #1208
@danieldahan It's just an adobe illustrator file and no sample code of implementing it. Where can I find the sample code of implementation?

[2019-03-15 16:33] danieldahan commented on #1208
@hardikamal You mean this https://github.com/CosmicMind/Samples

[2019-03-17 13:22] MatanGold commented on #1172
A. Any updates?
B. How can we help?

[2019-03-17 17:31] danieldahan commented on #1172
@matangold thank you, at the moment a sample is being made, and then it will be released.

[2019-03-18 10:24] hardikamal commented on #1208
@danieldahan There is no sticker sheet sample in the above link

[2019-03-18 12:37] danieldahan commented on #1208
@hardikamal, what is a sticker sheet sample?

[2019-03-18 12:54] hardikamal commented on #1208
@danieldahan How do I use the sticker sheet component in my app? I am asking for the code to use it in my app.

[2019-03-18 13:31] danieldahan commented on #1208
The sticker sheet is used only in illustrator. What specifically are you trying to accomplish?

[2019-03-20 21:09] multinerd commented on #1172
@danieldahan While i appreciate the hard work you've put into both material and motion, I think you should push a swift 4.2 of the current release in addition to this new version. In my specific case, theme completely ruins my UI despite having `Theme.isEnabled = false` in my `AppDelegate.swift`

[2019-03-21 13:43] danieldahan commented on #1172
@multinerd When the official release is made, it will have theming working and not interrupt your application's design. @OrkhanAlikhanov is working these last issues out with the sample.

[2019-03-26 02:31] universonic opened #1209 "Swift 5 Support"
Apple released Xcode 10.2 for Swift 5 support (see [here](https://developer.apple.com/documentation/xcode_release_notes/xcode_10_2_release_notes/swift_5_release_notes_for_xcode_10_2)). Is there a plan to support Swift 5 in Material?

[2019-03-26 09:49] muzoman commented on #1209
There's breaking changes in this version of Swift - stringInterpolationSegment parameter label on String constructor no longer exists - compiler says use _cocoaString but using this crashes at runtime, so not sure what the right fix is.

`internal var id: String {
        guard let moc = managedObjectContext else {
            fatalError("[Graph Error: Cannot obtain permanent objectID]")
        }

[2019-03-26 14:04] danieldahan commented on #1209
@universonic Hey, good question. We are releasing Swift 4.2 support by pushing `development` to `master`, That will be Material 3.0. Once that is done, we will branch from development 3.1 and support Swift 5. We will continue to support Material 3.0.* from `development`. There may be some revisions to this plan, but this is the general one. Thank you!

[2019-03-26 20:20] kylebrowning commented on #1172
@danieldahan Just to throw one more wrench in, Swift 5 came out yesterday.

[2019-03-26 20:54] danieldahan commented on #1172
@kylebrowning Yeah, lol... no worries though. Once we release this upcoming version, we will mark it 3.0, then branch off development and create the 3.1 branch, while supporting both for a short period while others transition over. We are so close to what we want to accomplish, all should be out soon. Thank you!

[2019-04-05 07:42] pandeyshivang commented on #1192
Any news about this issue.

[2019-04-05 21:51] OrkhanAlikhanov commented on #1192
@pandeyshivang Not yet. I think you can achieve this by placing `RadioButton`s inside a `UIStackView`.

[2019-04-08 07:06] ariantomichael opened #1215 "prepare() is called twice on NavigationDrawerController"
![Screen Shot 2019-04-08 at 16 03 46](https://user-images.githubusercontent.com/25115350/55704804-16381580-5a18-11e9-9bac-99d94f91976e.png)

As you see from the screen shot, prepare() is called twice. Fix please :)
Thank you

[2019-04-08 15:42] danieldahan commented on #1215
@ariantomichael Thank you for sharing this. How are you initializing the navigation controller and what version of Material are you using?

[2019-04-13 11:34] 22Round opened #1216 "How to remove Layout from view?"
In my app I have landscape and portrait mode and want to deactivate or remove Layout.
How can I archive this?

[code]

[2019-04-13 15:00] OrkhanAlikhanov commented on #1216
I think it you can remove constraints then recreate them.

- Use`NSLayoutConstraint.deactivate(titleTextView.constraints)` to remove all at once.
- You can use `Application.isPortrait` to check if the app is in portrait.
- `.right(view.anchor.right, 10)` can be reduced to `.right(view, 10)` since the same anchor is being pinned.

Result:
[code]

------

If you find yourself writing `.left(xView.an

[2019-04-13 20:06] 22Round commented on #1216
@OrkhanAlikhanov grate answer as always, will try

Thanks

[2019-04-13 20:06] #1216 closed

[2019-04-16 07:49] hardikamal commented on #668
@danieldahan Any update on this?

[2019-04-16 10:00] OrkhanAlikhanov commented on #668
@hardikamal it's abandoned feature. What do you need, exactly this feature?

[2019-04-16 10:49] hardikamal commented on #668
@OrkhanAlikhanov Yes. I need the same feature. How do I achieve this?

[2019-04-17 13:12] av089 opened #1217 "TextField with Storyboard"
Hello,

I didn't find any example of Textfield or ErrorTextField with storyboard.
Can you please provide me ?

Also, If I want to set textfield in storyboard then what will be the height for that?

Thank you,

[2019-04-17 20:21] michaeldebo opened #1218 "lower title/text for tab bar items used by a bottom navigation controller"
The way to lower the text/title associated with tab bar items used in regular iOS does not work when using Material's bottom navigation controller. How does one lower the text of tab bar items used by Material's bottom navigation controller?

[2019-04-18 19:37] leedsalex opened #1219 "Add TextField to Dialog"
Would be nice to have a `TextField` in a `Dialog`. I have achieved this by subclassing `DialogView` but I feel it's something others can benefit from if it was built-in.

[2019-04-18 22:36] OrkhanAlikhanov commented on #1217
1. Just add a `UITextField` into your storyboard and set its class to `TextField` or `ErrorTextField` under `Identity Inspector` pane.
2. Just set width, there is no need to set height, it is autoresized to depending on font

[2019-04-18 22:43] OrkhanAlikhanov commented on #1218
The insets you set are overriden in [`layoutSubviews`](https://github.com/CosmicMind/Material/blob/22462d97138b05e3563b026c418bc924a037de7f/Sources/iOS/BottomTabBar/BottomNavigationController.swift#L129-L154) method of `BottomNavigationController`.

As a workaround subclass `BottomNavigationController` override `layoutSubviews` method but do not call it on `super`.
[code]

@danieldahan I think it'

[2019-04-18 22:46] OrkhanAlikhanov commented on #1219
Hey! Great idea! Would be great if you share your subclass and/or your use case. So that we have some insight about what users need.

[2019-04-18 22:49] OrkhanAlikhanov opened #1220 "Support all relations for Layout constraints"
Asked by @leedsalex in https://github.com/CosmicMind/Material/commit/3742fdc010685f78e2fc707c45e009fc34332f

[2019-04-18 23:23] OrkhanAlikhanov commented on #668
Hey @hardikamal, check out #1221 it implements the needed feature.

[2019-04-18 23:41] danieldahan commented on #1219
Definitely can see how this would be useful :)

[2019-04-18 23:42] danieldahan commented on #1217
Thanks for the answer @OrkhanAlikhanov and good question @av089 :) I am closing this for now, and if you need any further help, please reopen or create a new issue.

[2019-04-18 23:42] #1217 closed

[2019-04-18 23:45] danieldahan commented on #1218
@OrkhanAlikhanov I agree :) Would you like to PR that?

[2019-04-19 04:08] leedsalex commented on #1220
@OrkhanAlikhanov Thank you for making the ticket

[2019-04-19 04:15] av089 commented on #1217
Hello @OrkhanAlikhanov

I did the same, but when I try to enter input then placeholder is gone too much above the textfield & I can not able to see it.

Thank you,

[2019-04-19 04:22] leedsalex commented on #1219
@OrkhanAlikhanov Here's the subclass in its most basic form. Keep in mind it's a bit amiss, I had to work with the `open` methods available to me. It would have been a little cleaner if `Dialog` was generic similar to `DialogController`, and if `DialogView's` layout and prepare methods were `open` instead of `private`. Also, I chose an arbitrary size for example purposes.

#### DialogView Subclass

[2019-04-19 05:32] pandeyshivang commented on #1192
and what about inside collectionview?

[2019-04-22 09:53] hardikamal commented on #668
@OrkhanAlikhanov I was using the switch in UIBarButtonItem custom view but after the change, the button does not appear on the uinavigationbar

[2019-04-22 10:37] OrkhanAlikhanov commented on #668
How are you creating it?

If you are using Material's `NavigationController`, we do not support using `UIBarButtonItem` stuff with it. Instead, you should be using our api `navigationItem.leftViews = [mySwitch]`

[2019-04-22 11:34] hardikamal commented on #668
But It was working with UIBarButtonItem

[2019-04-22 12:14] OrkhanAlikhanov commented on #668
I understand, that's why I asked how you create your bar button.  Following should work:
[code]

[2019-04-22 12:44] OrkhanAlikhanov commented on #1218
Did that, see #1222

[2019-04-22 15:04] hardikamal commented on #668
It worked thanks a lot.

[2019-04-22 15:41] OrkhanAlikhanov commented on #1217
You've probably a height or top-bottom constraint on your textfield

[2019-04-22 16:19] OrkhanAlikhanov commented on #1219
@leedsalex Thank you for your feedback on Material's `Dialog`

It was [like that](https://github.com/CosmicMind/Material/blob/9b44d89893bd80ad2ae4612948e600ca6000b08f/Sources/iOS/DialogBuilder.swift#L36-L40) once, but we had to compromise it in favor of `DialogDelegate`.

Will work on the API. Thank you!

[2019-04-22 16:24] OrkhanAlikhanov commented on #1192
It's possible with `CollectionView` too but it would a bit headache since you need to create a cell with `RadioButton` then register it etc. I'd go with `UIStackView`.

[2019-04-22 16:30] OrkhanAlikhanov commented on #1219
By the way, it's nice to see someone is diving into the source to learn and use Material's new features which has no documentation whatsoever except in the pull requests that introduced the feature.

[2019-04-22 17:06] danieldahan commented on #1219
@leedsalex @OrkhanAlikhanov nice work! Let's leave this open for now. I would like to dive in this myself as well.

[2019-04-22 17:08] danieldahan commented on #1192
Actually this can be achieved using `Grid` and adding buttons to the `container.grid.views = []` and set a horizontal direction. I am going to reopen this and put it into our list of items to document.

[2019-04-22 17:09] danieldahan commented on #1218
@OrkhanAlikhanov awesome! Thank you.

[2019-04-22 17:09] #1218 closed

[2019-04-24 16:05] vizulefllry opened #1224 "Broken Install link on README"
Deciding if we will use CosmicMind or Material for iOS (google), and cannot install CosmicMind because the tutorial links are dead.
https://www.cosmicmind.com/danieldahan/lesson/6
tried:
https://www.cosmicmind.com/lesson/6
https://www.cosmicmind.com/lesson/

[2019-04-24 16:07] danieldahan commented on #1224
We are updating our server setup, I’ll fix this up. Sorry about that.

[2019-04-24 16:14] vizulefllry commented on #1224
Any chance these are on YouTube or some other site?

[2019-04-26 13:38] danieldahan commented on #1224
Whichever you choose to use, CM or Google components... note that our documentation centre is launching in May as a continuous rollout. All the best!

[2019-04-26 16:02] vizulefllry commented on #1224
We got it up and running for xcode10.1. Now working on getting it running on xcode10.2 because the lead dev wants to use Swift 5.
Thanks or the replies.

[2019-05-03 04:13] ThiyagarajanShivSankaran commented on #1152
@danieldahan , @OrkhanAlikhanov Do you guys have any chance to fix this issue, Thank you.

[2019-05-03 14:34] OrkhanAlikhanov commented on #1152
Not yet. I don't know where to start. Will look into it on next week's weekend.

[2019-05-06 19:02] kylebrowning commented on #1172
@danieldahan Any update here?

[2019-05-09 10:16] #1152 closed

[2019-05-09 17:40] jstngoulet opened #1225 "Updated Material Design Spec?"
This library looks awesome!

Before integrating it, however, I was curious if there are any plans to update to the newest Material Design Standards. For example, the text fields match the old Material Design Style, not the [new](https://material.io/design/components/text-fields.html#usage) ones.

[2019-05-11 11:30] danieldahan commented on #1225
HI @jstngoulet thanks for the question and comment :) We have been working on a new platform and updates to the frameworks for the past couple years and it is soon to release. The soft date is June 1st and the official date is July 1st. That said, we will be then making all the updates to support new concepts by us, Apple, and the Material Design Spec. We are also releasing some really powerful ne

[2019-05-11 11:30] #1225 closed

[2019-05-11 11:31] danieldahan commented on #1172
@kylebrowning thanks for checking in. We are so close to releasing. @OrkhanAlikhanov I am thinking we can start the rollout by end of next week.

[2019-05-15 15:44] glennposadas commented on #1209
Hey @universonic someone forked Material and Motion, and updated them to Swift 5.0, but Daniel and team have plans, like what he just discussed above. But if you can't wait for Swift 5.0 support like me, I'd like to share my temp solution.

  pod 'Material',
  :git => 'https://github.com/glennposadas/Material.git',
  :commit => '74aeecb'   									# For Material Design

  pod 'Motion',
  :git =>

[2019-05-15 15:46] danieldahan commented on #1172
@OrkhanAlikhanov I would like to setup a release candidate for Swift 4.2 and Swift 5.0 and create candidate branch releases from development, thoughts?

[2019-05-15 15:47] danieldahan commented on #1209
@OrkhanAlikhanov I would like to setup a release candidate for Swift 4.2 and Swift 5.0 and create candidate branch releases from development, thoughts?

[2019-05-15 18:12] OrkhanAlikhanov commented on #1209
@danieldahan Would be great. Current development branch is at supports swift 4.2. So, creating `swift-4.2` brach and then updating `development` branch to swift 5 would be enough I think

[2019-05-16 09:43] universonic commented on #1209
Thanks @glennposadas , I'll try it later.

[2019-05-16 14:20] danieldahan commented on #1172
Please find a release branch for Swift-4.2 here. Thank you! https://github.com/CosmicMind/Material/releases/tag/3.0 & https://github.com/CosmicMind/Motion/releases/tag/3.0

[2019-05-16 14:20] #1172 closed

[2019-05-16 14:32] #1209 closed

[2019-05-16 21:35] kylebrowning opened #1226 "Cannot pod update or pod install"
[code]

[2019-05-16 21:59] danieldahan commented on #1226
Hey thank you for sharing this. I think it was a tagging issue. Can you try now, I updated the tags.

[2019-05-16 22:01] kylebrowning commented on #1226
Works, thanks.

[2019-05-16 22:01] #1226 closed

[2019-05-16 22:03] danieldahan commented on #1226
Anytime!

[2019-05-17 03:06] glennposadas commented on #631
Hi @danieldahan, does Material have this control already? If so, what's the name of it in your samples? Thanks!

[2019-05-17 03:07] glennposadas commented on #631
Ok, found it, it's called TabBar 😅Thanks.

[2019-05-17 03:40] ariantomichael commented on #1215
@danieldahan Sorry for the late reply. I initialize the nav controller like this.
![Screen Shot 2019-05-17 at 12 36 41](https://user-images.githubusercontent.com/25115350/57901596-ca8f4c00-78a0-11e9-99c2-3ed5ac9d7af6.png)
And I'm using :
- Material (2.16.4):
    - Material/Core (= 2.16.4)
  - Material/Core (2.16.4):
    - Motion (~> 1.4.3)
  - Motion (1.4.3):
    - Motion/Core (= 1.4.3)
  - Motion

[2019-05-17 06:28] glennposadas opened #1227 "[Question] Is there a Material Spinner/HUD?"
Or is it fine to use Apple's activity loader? Thanks!

[2019-05-17 06:46] glennposadas commented on #1227
I think this is unnecessary. This one helped me: https://loading.io/

[2019-05-17 06:46] #1227 closed

[2019-05-17 19:13] michaeldebo opened #1228 "dismiss navigation drawer"
I can't find where in the documentation it states how to close the navigation drawer programmatically. I have made the slide out drawer a tableview with each cell being a button that is supposed to close the navigation drawer and bring the user to the desired screen. What code do I write to close the left view controller?

[2019-05-17 19:18] OrkhanAlikhanov commented on #1228
Try something like this:

[code]

[2019-05-17 20:54] michaeldebo commented on #1228
Thanks. That works. Is it possible to keep the navigation drawer as part of the navigation controller so I can then push or pop? Am I forced to use "present" to go to a new view controller?

[2019-05-17 23:16] danieldahan commented on #1228
@michaeldebo I am not sure I understand your second question, *Is it possible to keep the navigation drawer as part of the navigation controller so I can then push or pop?*.

If I understand correctly, I think you mean from the `NavigationDrawerController`, you would like to be able to call the `NavigationController` push and pop methods. If that is the case, every view controller has access to op

[2019-05-18 06:17] mohpor opened #1229 "tint color for Textfields"
Hi,

Material 3.x introduces a bug where the tint color of a text field will be ignored completely, because, you are changing it based on placeholder's colors (Active/Normal) in the process. It has consequences for someone who doesn't have a placeholder and want to set the tint color.

I guess the tint color explicitly set by user should override such behavior.

For now, the workaround is to set b

[2019-05-18 06:34] mohpor opened #1230 "Button's title font set in Storyboard/IB will be discarded"
Hi,

Material 3.x (and Theming to be more specific), discards font's set on `Button`s in IB.

this line will override the button's font, regardless of you opting out of theming.

I guess it should check to see if Theming (globally) is enabled before changing values.

e.g.:
[code]

For now, the workaround is to set button's font in code.

[2019-05-19 08:09] OrkhanAlikhanov commented on #1230
Hmm, `titleLabel?.font =` has always been around setting font to roboto, we've just updated it to use `Theme.font` instead of `RobotoFont` directly.

If we add `Theme.isEnabled` check it then next time a dev updates Material will end up seeing different font if it hasn't changed it.

I think we may check if font is set by user by comparing current one with default one:
[code]

@mohpor Can you plea

[2019-05-19 08:13] mohpor commented on #1230
Then it must be something else that is triggering the font update.

I have a rather large project that has many many `Button` instants, after updating to Material 3.x, all of those which rely on IB for font description now have lost the font.

I already have a workaround, but due to the vast amount of revision and coding effort, I had to revert back to `2.16.4`

[2019-05-19 08:18] OrkhanAlikhanov commented on #1230
Ahh, I am mistaken. The line was added by me in https://github.com/CosmicMind/Material/commit/cf36b57ff18ec1607715456e0354e109ffebc9c1 It was not there before.

[2019-05-19 08:22] OrkhanAlikhanov commented on #1230
The reason why I added it, I believe, was that @danieldahan had been changing font to `RobotoFont` after creating a button throughout the sample projects. I just wanted to eliminate it by setting it in the library itself which unfortunately seems to a breaking change for storyboard users. @danieldahan I think we should remove the line back. What do you think?

[2019-05-19 08:23] OrkhanAlikhanov commented on #1230
btw, thank you for reporting this @mohpor 💪

[2019-05-19 08:34] OrkhanAlikhanov commented on #1229
We forceable update `tintColor` to a single value `placeholderActiveColor`.

https://github.com/CosmicMind/Material/blob/3e2637838e446e8a2bfc550129bf5766e7f88af4/Sources/iOS/Text/TextField.swift#L535-L538
I think we can set it once in `didSet` of `placeholderActiveColor`.

@danieldahan What do you think worth updating?

[2019-05-19 08:59] OrkhanAlikhanov commented on #1230
Hey @mohpor! You can try #1231 to see if it fixes your issue.

[2019-05-20 00:50] danieldahan commented on #1229
@OrkhanAlikhanov I think @mohpor's point is a really good one. Maybe we only need to update both values like @mohpor mentioned when a user sets the `tintColor`. We still do want to use the placeholder(Active/Normal)Color functionality. Thoughts?

[2019-05-20 00:50] #1229 closed

[2019-05-20 00:51] #1230 closed

[2019-05-20 07:03] v-andr commented on #1226
I have slightly similar issue trying to get the swift 4.2 version.
tried setting pod to '3.0' or '3.0.0', neither worked:
[code]
any suggestions?

[2019-05-20 07:05] OrkhanAlikhanov commented on #1226
@v-andr Did you try `pod install --repo-update`?

[2019-05-20 07:07] v-andr commented on #1226
tried right now with `pod 'Material', '~> 3.0.0'`, same error

[2019-05-20 07:12] OrkhanAlikhanov commented on #1226
Use this for now:

[code]

We will take a look. Thanks!

[2019-05-20 07:26] v-andr commented on #1226
worked with
[code]
thanks a lot!

[2019-05-20 11:53] danieldahan commented on #1226
@kylebrowning @v-andr I set the tags incorrectly. Now it is all fixed. Sorry about that.

[2019-05-20 12:08] danieldahan commented on #1230
Hi @mohpor please find the latest release with the above fixes here https://github.com/CosmicMind/Material/releases/tag/3.1.1.

[2019-05-20 13:18] #1228 closed

[2019-05-20 13:19] danieldahan commented on #1215
@ariantomichael thank you! We will look into this today.

[2019-05-21 04:45] SalMinoz commented on #1226
@danieldahan I was trying to install Material 3.0.0 and failed with following message [!] CocoaPods could not find compatible versions for pod "Material":
  In Podfile:
    Material (~> 3.0.0)

[2019-05-21 06:13] mohpor opened #1232 "Layout breaks view arrangements"
Hi,

In Material 2.x when we used Layout, we considered the child as free and the layout function would add it to the parent, and it is done through `addSubview`, there were cases that this was not the desired effect, for example when I add a blur view in my code, I want it to be at the bottom, so, first I would've inserted the child at 0, and then lay it out:

[code]

Material 3 breaks this simpl

[2019-05-21 06:34] mohpor commented on #1232
This is a serious problem.
 I'm sure many developers would see views that has been laid out using `Layout` out of order, without being able to detect why this is happening!

[2019-05-21 06:58] OrkhanAlikhanov commented on #1232
So the problem is that order of inserted view changes? The reason might be we don't check if the view is already child.

https://github.com/CosmicMind/Material/blob/3677b2688e0e43d8cbc76666313c7867327ec3c8/Sources/iOS/Layout/Layout.swift#L43-47

[2019-05-21 07:00] mohpor commented on #1232
Exactly,
In the previous versions, in the layout function, we added the subview ONLY if the parent was missing!

[2019-05-21 08:34] OrkhanAlikhanov commented on #1232
I submitted PR for this. Thank you for reporting :muscle:

[2019-05-21 09:07] OrkhanAlikhanov commented on #1232
Btw, you could workaround it by:
[code]
:)

[2019-05-21 15:39] danieldahan commented on #1232
@mohpor please find your fix here: https://github.com/CosmicMind/Material/releases/tag/3.1.2, thank you @OrkhanAlikhanov :)

[2019-05-21 15:39] #1232 closed

[2019-05-22 11:35] avagh opened #1234 "Regarding Shadow Effect"
i am not getting any shadow after updating the latest version of Material (3.1.2). My older version was (2.9.4) even if i have tried in (2.16.4 +) versions but i am getting same issue like i am not getting shadow effect in any of my buttons and other stuff. Note that in my older version (2.9.4) shadow effects work perfectly but now i need to convert my project to latest version of swift code. in t

[2019-05-22 11:41] OrkhanAlikhanov commented on #1234
Hey! Before resolving the issue as soon as possible, we first need to confirm that this is an issue on our side. Can you please share some code showing how you set shadow effect?

[2019-05-22 11:51] avagh commented on #1234
Here is my code and these same parameters i am setting in runtime attributes in Interface builder.

[2019-05-22 11:59] OrkhanAlikhanov commented on #1234
How is this related to `Material` library?

[2019-05-22 11:59] karasahinemre opened #1235 "TabsController iPad"
When using tabs controller on iPad and controller position is set as top, it creates a gap between Large Navigation Controller and tab items.

[2019-05-22 12:03] OrkhanAlikhanov commented on #1235
Hey! Large Title is not supported in Navigation Controller yet. That said, in #1158 we had helped you regarding that. Now, can you please at least show us a screenshot so that we can see what you see?

[2019-05-22 12:04] codal-hardik commented on #1234
This is working fine before updating the library to latest version but once it is updated. We are not getting any shadow on button, view, textview anything.

[2019-05-22 12:07] OrkhanAlikhanov commented on #1234
@codal-hardik and @avagh Do you both talk about same project or @codal-hardik you are experiencing the same thing in a different project?

@avagh Do you set shadow using code or through storyboards?

[2019-05-22 12:09] codal-hardik commented on #1234
Yes i am talking about the same project as @avagh talking.

[2019-05-22 12:10] codal-hardik commented on #1234
@OrkhanAlikhanov Yes from the storyboard we are setting the shadow.

[2019-05-22 12:32] karasahinemre commented on #1235
Sure, You can find the image from below.

Thank you for your attention.

<img width="768" alt="Unknown" src="https://user-images.githubusercontent.com/9135318/58174490-bc796b00-7ca6-11e9-94eb-d87bb75b3c29.png">

[2019-05-22 12:57] OrkhanAlikhanov commented on #1235
If you are using the same code snippet I shared in #1158, then you are using a constant value of `96` to  calculate additional inset. That `96` (which is default height of collapsed navigation bar I believe) should be a different number for iPad. In fact, it can be different number for each device as well as orientation. I can't think of any dynamic way of calculating that `96` right now.

[2019-05-22 13:31] 22Round commented on #1220
@OrkhanAlikhanov @danieldahan guys any plans to support this in near future ?

[2019-05-22 20:36] OrkhanAlikhanov commented on #1220
Hey @22Round, @leedsalex this feature is implemented in #1220! Check it out!

If you have questions or other suggestions, feel free :)

[2019-05-22 21:18] danieldahan commented on #1220
@OrkhanAlikhanov nicely done :)

[2019-05-23 01:40] takehilo opened #1237 "TabBar of TabsController is hidden under NavigationBar on iOS10"
on iOS10.3.1, TabBar of TabsController is hidden under NavigationBar.

![image](https://user-images.githubusercontent.com/23430968/58219698-cf437c80-7d46-11e9-8e5c-5131d4c80253.png)

It's fine on iOS11 and iOS12.

![image](https://user-images.githubusercontent.com/23430968/58219714-da96a800-7d46-11e9-86ee-24609af37723.png)

Sample app code:

ViewController.swift
[code]

AppDelegate.swift
[code]

H

[2019-05-23 12:26] OrkhanAlikhanov commented on #1237
Hey! Change `UINavigationController` to `NavigationController` and it will work.  Because `NavigationController`'s navigation bar is opaque in contrast to `UINavigationController`'s translucent navigation bar.

This is because how iOS is designed by default. It will extend view controller underneath the translucent bars. If you set `extendedLayoutIncludesOpaqueBars` to `true` Material's opaque nav

[2019-05-23 14:36] 22Round opened #1238 "ErrorTextField Cursor Color"
How can I change `ErrorTextField` blinking cursor color? when I change `placeholderActiveColor` it changes, but I want different color for cursor.
Any thoughts?

[2019-05-23 15:03] OrkhanAlikhanov commented on #1238
Set `placeholderActiveColor` then set `tintColor`. Make sure you use latest version of Material. I think it's version 3.1.1

[2019-05-23 15:07] OrkhanAlikhanov commented on #1220
@22Round Did you try the PR? Does it work for you?

[2019-05-23 19:36] danieldahan commented on #1237
Thank you @OrkhanAlikhanov :) . @takehilo if you have any further questions or issues, please reopen or create a new issue. Thank you!

[2019-05-23 19:36] #1237 closed

[2019-05-23 19:37] #1238 closed

[2019-05-23 19:38] danieldahan commented on #1235
@karasahinemre if you need any further help, please reopen or create a new issue. Thank you!

[2019-05-23 19:38] #1235 closed

[2019-05-24 01:50] takehilo commented on #1237
`edgesForExtendedLayout = []` worked!
Thank you @OrkhanAlikhanov

[2019-05-24 08:20] avagh commented on #1234
@OrkhanAlikhanov this issue seems related to the view layer so, this issue was not from your end. we have resolved this from our end.

[2019-05-24 08:20] #1234 closed

[2019-05-24 16:03] 22Round commented on #1238
@OrkhanAlikhanov works grate, thanks

[2019-05-24 16:37] danieldahan commented on #1224
Hey! Please find Swift 5 support in master and installation instructions. Sorry for the delay. Thank you!

[2019-05-24 16:37] #1224 closed

[2019-05-24 16:38] danieldahan commented on #1220
Please find this new feature in https://github.com/CosmicMind/Material/releases/tag/3.1.3, thank you! :)

[2019-05-24 16:38] #1220 closed

[2019-05-27 11:56] 22Round commented on #1220
@OrkhanAlikhanov will try soon, thanks nice feature.

[2019-05-27 20:27] OrkhanAlikhanov commented on #1215
Should be fixed by #1240

[2019-05-28 11:33] danieldahan commented on #1215
@ariantomichael thank you for bringing this issue to our attention and @OrkhanAlikhanov thank you for the fix. It is now available in https://github.com/CosmicMind/Material/releases/tag/3.1.4.

[2019-05-28 11:33] #1215 closed

[2019-05-29 03:06] MarkBorazio opened #1241 "transition(to: UIViewController) does not complete if called twice serially."
There is an issue with multiple calls to `transition(to: UIViewController,  completion: ((Bool) -> Void)?)`, where **if the second call is made immediately after the first call's completion handler completes** then the first view controller does not dismiss itself. The debug view hierarchy shows that both destination view controllers are placed on top of each other. The top-most view controller al

[2019-05-29 22:51] silnose commented on #1217
Are there some similar example like [this one ](https://github.com/CosmicMind/Samples/blob/master/Projects/Programmatic/TextField/TextField/ViewController.swift) to aplied validations in storyboard? . Currently I can't figure out how :(.

[2019-05-30 00:36] MarkBorazio commented on #1241
For added context, we are doing this in a `NavigationDrawerController`.

[2019-05-30 04:30] danieldahan commented on #1217
@silnose are you looking to validate something in particular, or looking for a general strategy?

[2019-05-30 14:10] silnose commented on #1217
A general strategy wold be good. But i find the solution. I set the ErrorTextField in the swift file but never in the identity inspector 🤦‍♀  so all the time I get an error all the time.

If it helps this was my solution

**In the storyboard:**

<img width="268" alt="Screen Shot 2019-05-30 at 10 57 52" src="https://user-images.githubusercontent.com/10604773/58638508-62426080-82cb-11e9-8716-93f3a52

[2019-05-31 04:49] metrue commented on #1203
Issue still there

[2019-05-31 19:25] OrkhanAlikhanov commented on #1241
What is `self.dismiss(animated: true)` doing?

Why do you think it's an issue? Why would you need 2 transitions at the same time?

[2019-05-31 19:34] OrkhanAlikhanov commented on #1217
What is the error you are getting? Note that there is no way to use `ErrorTextField.validator` except in code. Your code looks perfectly fine.

[2019-05-31 20:22] danieldahan commented on #1203
Sorry about the delay for the link. We missed it in our last updates. It will be updated in the next release, that said, the icons can be found in the Icon.swift file, https://github.com/CosmicMind/Material/blob/master/Sources/iOS/Icon/Icon.swift

[2019-06-01 09:31] Kaakati opened #1243 "TabsController RTL support"
Hello @danieldahan & @OrkhanAlikhanov

I've been building an Arabic app, and I'm currently using the TabBar, I looked up into the TabsController and didn't find a way for RTL direction, so I did a work around with:

[code]

My only issue remained with the transition of the scrollView subviews, I tried to use the delegate but it didn't work.
`tabsController(tabsController: TabsController, didSelect

[2019-06-03 16:50] danieldahan commented on #1243
Hi, @Kaakati How are you? I am happy you are enjoying the frameworks :) To better help you with the scroll view issue, can you send a project or video of the issue and we can recommend a solution from there. The approach of using `motionTransitionType` is the correct approach for updating the transition animation. Well done.

[2019-06-03 17:34] Kaakati commented on #1243
Hello @danieldahan

Thanks for your prompt reply, I'm sorry for not being able to share something, I currently resolved it with this two tabs solution, the main issue is in `setAnimationForNextTransition` I can not have access to it, otherwise it would've solved a problem where there would be more than 2 tabs.

I usually relay on AutoLayout `leading` & `trailing` but in this case I can not.

but h

[2019-06-03 17:47] danieldahan commented on #1243
What version of Material and Motion are you using? Because `setAnimationForNextTransition` is public.

[2019-06-03 17:49] Kaakati commented on #1243
I'm using

  - Material (2.16.4):
  - Motion (~> 1.4.3)

[2019-06-03 17:51] danieldahan commented on #1243
Hmmm... I have to double check the code to see if `setAnimationForNextTransition` was public then. Otherwise, if you don't mind Swift 5, I would update to the latest across the board. We added many Layout features and updates across the board. @OrkhanAlikhanov knows more of the details on that, so let's tie him into this conversation.

[2019-06-03 17:55] Kaakati commented on #1243
@danieldahan Not at all, I'm actually working on Swift 5.

Thanks a lot and I really appreciate your support, have a great day/evening. :)

[2019-06-03 18:11] danieldahan commented on #1243
@Kaakati Thank you :) I am going to close this issue for now, and if you find an issue with the latest releases, please reopen or create a new issue.

[2019-06-03 18:11] #1243 closed

[2019-06-04 02:24] MarkBorazio commented on #1241
Our app uses bluetooth, and there are times when the pairing credentials can be cleared from the device that the app is connected to, effectively rendering the app unusable until the user pairs again. In this case we detect this and boot the user back to the bluetooth setup screen.

There will be times when we want to route to the bluetooth setup screen but we have a modal presented at that time.

[2019-06-06 20:10] danieldahan commented on #1241
Wouldn't we only need a cancel transition method to set the state back to the default values, or last values? I don't agree that we should handle multiple transition blocks in a call because of this use case. This sounds like a routing problem really. I would suggest approaching the fix from there, possibly using a cancel call for the transition if needed, or creating a smoother modal removal when

[2019-06-06 20:10] #1241 closed

[2019-06-06 20:25] OrkhanAlikhanov commented on #1241
Sorry for late response @MarkBorazio. I agree with @danieldahan. You should make transition **after dismissal animation** is complete:
[code]

[2019-06-07 09:48] linhCrystal opened #1245 "Switch: toggle completion not call"
In func toggle have `isTriggeredByUserInteraction: false, completion: completion`.
But completion not trigger because `isTriggeredByUserInteraction = false`

[2019-06-07 09:51] OrkhanAlikhanov commented on #1245
Hey! Yes, that's by design. What are you trying to achieve?

[2019-06-07 09:57] linhCrystal commented on #1245
@OrkhanAlikhanov completion in `func toggle` will be useless if it's never trigger.
Should have move `completion?(s)` to before `guard isTriggeredByUserInteraction else` in `func updateSwitchState`.

[2019-06-07 10:01] OrkhanAlikhanov commented on #1245
Lol, yeah. That's absolutely right. Will fix that.

[2019-06-10 14:35] emauro opened #1247 "Several methods in NavigationDrawerController not visible in Objective-C"
Most methods in NavigationDrawerController are not visible from Objective-C. Example:
setLeftViewWidth, toogleLeftView,  openLeftView, closeLeftView. Same for right counterparts. An @objc is necessary in front of all methods.

[2019-06-10 16:32] OrkhanAlikhanov commented on #1247
Hey! It has been 5 years that swift is available. I think we don't support objective c anymore in favor of new features of swift which are not available in obj c

[2019-06-10 16:37] danieldahan commented on #1247
@OrkhanAlikhanov yes that is correct, Swift has been out for a while, but that said, there are still projects out there that need Obj-C support by design.... not necessarily because of desire. If it is as simple as adding `@objc` to the declaration, I don't see adding it would be an issue. If it is a feature solely in Swift, well then we can't do anything about that. Thoughts?

[2019-06-10 16:40] emauro commented on #1247
That's the point. I just added @objc and it solved my problem.

[2019-06-10 16:42] danieldahan commented on #1247
@OrkhanAlikhanov I would say that going forward, our protocol will be to make what can be available easily in Obj-C ~ available.... otherwise, let's move forward with Swift.

@emauro a PR that would help solve this issue so easily is greatly appreciated, rather than us chasing these methods down.

[2019-06-10 16:53] OrkhanAlikhanov commented on #1247
Agreed that adding `@objc` won't create any issue for us.

That's right. But, it's possible to [use objc code in swift](https://developer.apple.com/documentation/swift/imported_c_and_objective-c_apis/importing_objective-c_into_swift). The guideline I'd set is that if some part of app requires obj-c then do it in obj-c then call that api through swift.

Having said that, in general, supporting obj-

[2019-06-10 17:10] danieldahan commented on #1247
@emauro a PR with updates to fix your issue will be available later today, or latest tomorrow. Can you list the methods you found needing to contain the @Objc methods in the declaration, it will help to ensure we don't miss any. Thank you!

[2019-06-10 17:14] OrkhanAlikhanov commented on #1247
I made a quick PR #1248 adding `@objc`s. @emauro, please check if it meets the requirement :)

[2019-06-10 21:02] emauro commented on #1247
Thanks! I already checked and posted a comment.

[2019-06-19 03:19] turtle0001 commented on #803
Hello, do this requested feature now available? The ability to have two different placeholder text for inactive and active textfield?

Thank you!

[2019-06-19 13:44] danieldahan commented on #803
@turtle0001 no, that feature is not available, but it shouldn't be that difficult to make it work. Have you tried any solutions yet?

[2019-06-24 14:17] danieldahan commented on #1247
Please find your fix in this release [Material 3.1.5](https://github.com/CosmicMind/Material/releases/tag/3.1.5)

[2019-06-24 14:17] #1247 closed

[2019-06-24 14:18] danieldahan commented on #1245
@linhCrystal I will be fixing this tonight, thank you!

[2019-06-27 13:26] silnose opened #1249 "Is there any way to achieve this with ErrorTextField"
Use  placeholderLabel with one text on the top
Use placeholder inside the textField with different text.

![image](https://user-images.githubusercontent.com/10604773/60269774-7b87fe00-98c5-11e9-9d61-11dfe801ebf3.png)

Thank in advance! ;)

[2019-06-27 18:51] danieldahan commented on #1249
@silnose Hey! There isn't out of the box. You can subclass the ErrorTextField class and then add the UILabel and show it when the component is active. Let me know how it goes, and I would be happy to help further if you show me an initial approach.

[2019-06-27 18:51] #1249 closed

[2019-06-27 19:16] silnose commented on #1249
Thk for the early response @danieldahan !.

I can do the thick following this steps:
1. Set attribute 'isPlaceholderAnimated' to false:
`textField.isPlaceholderAnimated = false`
2. Set property  attributedPlaceholder
[code]

and magic happens!. The first one is acting like a label and the second one as a placeholder.

[2019-06-27 19:22] danieldahan commented on #1249
Nicely done! And no added elements :)

[2019-06-27 19:49] danieldahan commented on #1245
@linhCrystal please find a fix in [Material 3.1.6](https://github.com/CosmicMind/Material/releases/tag/3.1.6). Thank you!

[2019-06-27 19:49] #1245 closed

[2019-07-08 01:53] schystz commented on #1226
@danieldahan this seems to be an issue still. After `pod repo update`, these are the tags Cocoapods only recognized:

[code]

[2019-07-08 17:19] danieldahan commented on #1226
@schystz the 3.0 branch was never published to CocoaPods as it was a deviation from the original to support Swift 4.2, whereas immediately after 3.1 with support for Swift 5 was released. What I should have done was publish 3.0 and then 3.1 to CocoaPods. Are you set on Swift 4.2 as of now? If so, we can come up with a solution to help you out.

[2019-07-09 03:26] schystz commented on #1226
@danieldahan we have just actually migrated our project to Swift 4.2, so until we get another chance we plan to stick with it. But no worries, @orkhanalikhano's workaround worked fine for me. Thanks a lot guys!

[2019-07-09 14:14] danieldahan commented on #1226
@schystz great news. Thank you for letting me know. All the best!

[2019-07-20 06:41] ebinjoy999 commented on #748
Any luck on this?

[2019-07-22 16:28] danieldahan commented on #748
@ebinjoy999 we haven't had time to work on it. We would be happy to work with someone who wants to lead this effort, but for us, we are focused on some other tasks.

[2019-08-05 01:55] himaratsu opened #1250 "Any plan to support Xcode 11?"
Hi!

in Xcode 11, we can't build app using Material.
Error message is here:
[code]

Do you have any plan to support this? Thanks.

[2019-08-05 14:24] danieldahan commented on #1250
@himaratsu Yes, there are always plans to support the latest from Apple. Because it is `beta`, we usually wait until it is closer to release, or released. That said, we will most likely make a branch for it and help users to start exploring iOS 11 with Material. I will leave this issue up, and tackle that for you later this week. Thank you for sharing your question.

[2019-08-05 15:53] 22Round opened #1251 "Support New Materials Design"
@danieldahan @OrkhanAlikhanov do you plan to support new material design?

[Material.io](https://material.io/develop/ios/components/)

[2019-08-05 15:58] danieldahan commented on #1251
Hi @22Round, the short answer is yes. We are wrapping up a long running project this month, and then will be back to the frameworks, where we plan to release documentation and make major updates to support general design and development, as well as specific ones like Material Design.

Material is evolving to en entirely new and modern framework, without causing much difficulty for current users. I

[2019-08-06 09:22] 22Round commented on #1251
@danieldahan perfect, waiting.

[2019-08-07 18:43] brennobemoura opened #1252 "Divider AutoLayout"
It is possible to make divider moves with autoLayout? I have overridden Divider class and did that using SnapKit.

self.snp.removeConstraints()
self.snp.makeConstraints { make in
    make.bottom.leading.trailing.equalTo(0)
    make.height.equalTo(thickness)
}

[2019-08-07 19:52] OrkhanAlikhanov commented on #1252
Hey! Not sure I understood what you are trying to achieve. Can you elaborate on it more?

[2019-08-14 08:17] nguyenbao95 commented on #1250
I've spent much time on the same issue and have come up with a workaround that works for me and I think it will help you as well.

On iOS 13, changing layout margins of a private view is not allowed. So, expanding the frame to eliminate the layout margins can be an alternative solution.

[code]

[2019-08-18 00:38] brennobemoura commented on #1252
I was using the default Divider from Material and sometimes, when the views changes a lot the divider wasn't following the auto layout instructions. The problem occurred when I was using the Skeleton, but since I overridden the Divider class with putting SnapKit, now I didn't have any problem

    //
    //  Divider.swift
    //

    import Foundation
    import UIKit

    class Divider: UIView {

[2019-08-18 22:04] MortyMerr opened #1253 "TextField errorVerticalOffset + textInsets bug"
Setting both `errorVerticalOffset` and `textInsets.bottom` produce unexpected behavior. Cursor is shown only partly.

Sample project: just new project with added `ErrorTextField` (without height constraints). And:
[code]
Reproducible 100%
I was able to workaround it setting adding `textField.text = ""`

<img width="377" alt="Screenshot 2019-08-18 at 15 03 33" src="https://user-images.githubusercon

[2019-08-19 13:08] OrkhanAlikhanov commented on #1252
Are you sure that you were calling `self.layoutDivider()` in `layoutSubviews()` of your `UIView` subview.

[2019-08-19 13:09] OrkhanAlikhanov commented on #1253
Hey! Thank you! We'll take a look at this soon.

[2019-08-19 14:20] brennobemoura commented on #1252
No, I don't remember if I did that

Obter o Outlook para Android<https://aka.ms/ghei36>

________________________________
From: Orkhan Alikhanov <notifications@github.com>
Sent: Monday, August 19, 2019 10:08:50 AM
To: CosmicMind/Material <Material@noreply.github.com>
Cc: Brenno de Moura <brennobemoura@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [CosmicMind/Material] Divider AutoL

[2019-08-19 14:25] OrkhanAlikhanov commented on #1252
Would love to hear the feedback after you try it out @brennobemoura!

[2019-08-21 10:35] hardikamal opened #1255 "How do I disable user interaction of switch?"
Hi @danieldahan @OrkhanAlikhanov,

I have tried using mySwitch.isUserInteractionEnabled = false & mySwitch.isEnable = false, Still the switch is responding on touch. How do I disable the touch response of switch?

Thanks

[2019-08-22 01:45] nodle-J opened #1256 "hi textview placeholder position"
I try to  add textview in view
![7CFB6591-888E-4944-BC45-D817020B0A88](https://user-images.githubusercontent.com/9136682/63479611-82944c80-c4c1-11e9-8f15-707958666d21.png)

[2019-08-24 13:14] danieldahan commented on #1256
Hi, please add more details, code, and the actual problem you are facing. Thank you! We would be happy to help when we have that information. Until, I will close this issue.

[2019-08-24 13:18] danieldahan commented on #1255
Hi @hardikamal that is strange. Is this a recent behavior? We will take a look.

[2019-08-26 01:35] nodle-J commented on #1256
my code

let textview1 =  TextView()
textview1.placeholder = "请输入原因"
textview1 font = UIFont.systemFont(ofSize: 14)
self.addSubview(textview1)

override func layoutSubviews() {
        super.layoutSubviews()

        textView.frame = bounds

    }

In TextView ,I fond this code
The height of the placeorder lable  minimumTextHeight = 35

h = max(h, minimumTextHeight)
h = min(h, bounds.height - inse

[2019-08-27 02:00] samma89 commented on #613
Hi,

It seems this issue is there in 3.1.6 release.
I am running your sample grid from Samples [repo](https://github.com/CosmicMind/Samples/blob/development/Projects/Programmatic/Grid/Grid/ViewController.swift).

![Screen Shot 2019-08-27 at 7 25 21 AM](https://user-images.githubusercontent.com/2077773/63735021-10927d80-c89c-11e9-8b02-aff0574745f7.png)

Any idea of why?

Thanks

[2019-08-27 09:38] Alberto-Araoz-Aperto opened #1259 "iOS 13 compatibility?"
Hi, StatusBarController.swift is currently not compiling for iOS 13, is a solution in the works? Best regards,

[2019-08-29 00:38] samma89 commented on #613
@danieldahan Thank you!

[2019-08-30 02:03] samma89 opened #1260 "[Auto Layout] - How to set constraints relative to a view except parent view?"
Hi @all,

I am trying to create a huge form with multiple types of input fields. What I am trying to achieve here is to place all the inputs vertically one after another.

![Untitled-1](https://user-images.githubusercontent.com/2077773/63988091-403dc180-caf8-11e9-80f5-16839009e3f1.jpg)

it seems there is a way like below. but didn't work out for me properly.
Please help!

[code]

Thank you

[2019-08-30 02:35] samma89 commented on #1260
Hi,

I think I figured out after small dive into your source.

I should be using LayoutAnchor implementation of the view as `view.anchor` yeah?

if yes, let's close this.

Thank you guys!

[2019-08-30 11:16] OrkhanAlikhanov commented on #1260
Hey! So, you want to position the `top` of t2 to the `bottom` of t1.

Instead of `.top(tf2, 10)` you can use `.below(tf2, 10)`, or `.top(tf2.anchor.bottom, 10)` both are the same

[2019-09-03 11:44] KiranYechuri opened #1261 "How to animate placeholder in textfield?"
I am trying to animate placeholder but I am unable to do it? can u show me piece of code related to textfield placeholder animation.

[2019-09-03 13:52] danieldahan commented on #1261
@KiranYechuri The placeholder should animate to a title over the textfield area. What kind of animation are you trying to do?

[2019-09-04 03:40] KiranYechuri commented on #1261
Same animation that you have showed in GitHub how to achieve that animation?

On Tue, Sep 3, 2019 at 7:22 PM Daniel Jonathan <notifications@github.com>
wrote:

[2019-09-04 11:24] danieldahan commented on #1261
The TextField has the animation by default, so is it broken or are you trying to replicate it?

[2019-09-04 11:30] KiranYechuri commented on #1261
I am not trying to replicate it. I was trying to implement as it is but
animation is not working when user starts editing.

On Wed, Sep 4, 2019 at 4:54 PM Daniel Jonathan <notifications@github.com>
wrote:

[2019-09-04 11:31] danieldahan commented on #1261
Okay, so what’s your setup? We will fix it. Thank you for sharing this issue.

What OS are you using?
Device to test?
Code implementation?

[2019-09-04 11:46] KiranYechuri commented on #1261
Currently I am using simulator for testing. I didn't write anycode I have
just subclassed it and try to use it but placeholder is not animating when
user starts editing.

On Wed, Sep 4, 2019 at 5:01 PM Daniel Jonathan <notifications@github.com>
wrote:

[2019-09-04 11:46] KiranYechuri commented on #1261
I think it broken. Can u please look into it and kindly update it

On Wed, Sep 4, 2019 at 4:59 PM Kiran Yechuri <kiranyechuri4@gmail.com>
wrote:

[2019-09-04 11:52] danieldahan commented on #1261
Yes we will fix it, but I need the details above. An no problem we are here to help.

[2019-09-04 12:45] danieldahan commented on #1260
Thank you @OrkhanAlikhanov for helping out with this issue. @samma89 if you have any further issues or need any help, please reopen or create a new issue. Thank you!

[2019-09-04 12:45] #1260 closed

[2019-09-06 17:48] brennobemoura commented on #1252
Follow pull request #1262

[2019-09-08 12:28] adamdahan commented on #1250
@nguyenbao95 @himaratsu Thank you for the support!

We are getting ready to roll out updates for iOS 13 and supper Xcode 11 in the next few weeks.

[2019-09-08 12:35] adamdahan commented on #1256
@nodle-J @danieldahan I see the issue..

<img width="679" alt="Screen Shot 2019-09-08 at 8 34 14 AM" src="https://user-images.githubusercontent.com/1205894/64488231-9525ba00-d213-11e9-9878-1de7aab8458d.png">

[2019-09-08 12:36] adamdahan commented on #1256
@nodle-J thank you for your patience - I will keep this ticket up until we have a fix. 👍

[2019-09-08 12:38] adamdahan commented on #1261
@KiranYechuri

1. What version of iOS are you running?
2. Can you send me the code for your subclass?

Thanks :)

[2019-09-08 12:43] adamdahan commented on #1261
@KiranYechuri Please try this code 👍

[code]

[2019-09-08 13:02] adamdahan commented on #1255
@hardikamal

This works for me:

[code]

Can you reopen ticket and send snippet of code if the issue still persists?

Thank you!

[2019-09-08 13:03] #1255 closed

[2019-09-08 13:04] adamdahan commented on #1259
@Alberto-Araoz-Aperto Coming soon!

[2019-09-08 13:04] #1259 closed

[2019-09-08 13:05] adamdahan commented on #1251
@22Round 👍 Closing this ticket - will make sure to let everyone know when the new updates arrive!

[2019-09-08 13:05] #1251 closed

[2019-09-08 13:07] adamdahan commented on #1203
@metrue Thank you for giving us the heads up on this: There is an open PR to fix this issue. https://github.com/CosmicMind/Material/pull/1263

[2019-09-08 13:10] adamdahan commented on #1219
@danieldahan @OrkhanAlikhanov @leedsalex Let's try to get this in for Material 4. :)

[2019-09-08 13:14] adamdahan commented on #1261
@KiranYechuri Please reopen ticket when some sample code is provided!

[2019-09-08 13:14] #1261 closed

[2019-09-08 13:40] brennobemoura commented on #1252
@OrkhanAlikhanov if I call `layoutDivider()` it works but I have to create a IBOutlet just for that and override `viewDidLayoutSubviews()`

![Captura de Tela 2019-09-08 às 10 39 21](https://user-images.githubusercontent.com/37243584/64489040-03bf4380-d225-11e9-9b59-6f4549af132a.png)

[2019-09-08 13:53] #1203 closed

[2019-09-08 13:53] danieldahan commented on #1203
@adamdahan thank you@ and @dmwesterhoff thanks for sharing the issue.

[2019-09-08 14:33] danieldahan commented on #1219
@adamdahan fully agree.

[2019-09-09 09:43] OrkhanAlikhanov commented on #1256
@adamdahan is this happening only when we have Chinese characters?

[2019-09-09 13:54] adamdahan commented on #1256
@OrkhanAlikhanov So far, yes.

[2019-09-09 13:55] adamdahan commented on #1202
@danieldahan @OrkhanAlikhanov  need to run this through instrumentation. On the docket for this week. Keep open.

[2019-09-10 01:20] nodle-J commented on #1256
It is Font less than 17 ,I think
 In TextView
func layoutPlaceholderLabel()
    var h = placeholderLabel.sizeThatFits(CGSize(width: w, height: .greatestFiniteMagnitude)).height
    h = max(h, minimumTextHeight)
    h = min(h, bounds.height - insets.top - insets.bottom)
    placeholderLabel.frame = CGRect(x: leftPadding, y: insets.top, width: w, height: h)

I don't understand  h，  I set font less t

[2019-09-10 13:25] adamdahan commented on #1256
@nodle-J I have confirmed that this does indeed solve the issue with no reprocussions. Would you like to submit a pull request that removes lines 425 & 426 from TextView.swift?

[2019-09-10 14:15] adamdahan commented on #1256
@nodle-J We have started an internal conversation to re-write this component. For now a simple fix would be to set the
[code]
For your specific use case.

We will push a fix soon that's more appropriate for everyone!

Thank you for submitting this issue and getting us to notice :)

[2019-09-10 14:15] #1256 closed

[2019-09-10 14:23] adamdahan opened #1264 "TextView has issues with "Growing""
See:

https://drive.google.com/file/d/1llzOH0Bmqfxl9QZV4hSiH9k4lCGzqmPq/view?usp=sharing

This was brought to our attention by:
https://github.com/CosmicMind/Material/issues/1256

[2019-09-10 14:27] danieldahan commented on #1256
Linking the task issue: https://github.com/CosmicMind/Material/issues/1264

[2019-09-10 14:27] adamdahan commented on #1252
@brennobemoura We are going to revisit the divider in our next update. Closing this ticket for now :) thank you for bringing it to our attention.

[2019-09-10 14:27] #1252 closed

[2019-09-11 01:18] nodle-J commented on #1256
I'd love to.
Thank you very much

At 2019-09-10 21:26:08, "Adam Dahan" <notifications@github.com> wrote:

@nodle-J I have confirmed that this does indeed solve the issue with no reprocussions. Would you like to submit a pull request that removes lines 425 & 426 from TextView.swift?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the th

[2019-09-11 12:29] mrtsamma commented on #1250
@adamdahan saw that you moved it to done. I'm curious what was the fix for iOS 13.
Facing the same issue.

[2019-09-11 12:32] adamdahan commented on #1250
@mrtsamma You are correct. :) I realize now this ticket was visibility for others on the iOS 13 topic. Reopening issue until we release the IOS 13 patch.

[2019-09-11 12:43] mrtsamma commented on #1250
Ok, @nguyenbao95 answare suits for me with a small change(thanks):
[code]
I don't need and can't to change height nor y pos.

[2019-09-11 14:18] danieldahan commented on #613
@yunhao Hi there, sorry for any delays. We discovered that some earlier updates had caused a regression. You can find a fix in [Material 3.1.7](https://github.com/CosmicMind/Material/releases/tag/3.1.7). Please test, and if there is still an issue, please reopen this issue or create a new issue. Thank you!

[2019-09-11 14:18] #613 closed

[2019-09-15 09:15] ahsanaasim opened #1266 "TabBar Item Customization"
Normally Tab Items takes equal spacing. But according my design I need to change this behavior. Tab Items should take only the space it needs. Also Is there any option to modify the radius of the line as my design has this modification.

This is what I have tried:

 [let tabBar = TabBar()
        tabBar.delegate = self

        tabBar.dividerColor = Color.clear

        tabBar.lineColor = Colors.w

[2019-09-15 09:26] ahsanaasim commented on #1266
I have tried giving width to my TabItem but didn't work

[code]

[2019-09-15 09:49] ahsanaasim commented on #1266
I have managed to change the line width with the following code.

[code]
But that has created another issue. As tab item is taking an equal space of other item and so it creates padding from the left.

![Screenshot 2019-09-15 at 3 29 12 PM](https://user-images.githubusercontent.com/17532073/64919528-bcf5be80-d7cd-11e9-9933-5198d4cd2953.png)

[2019-09-15 11:47] ahsanaasim commented on #1266
I have managed to add a cornerRadius to tabBar line using tabBar.line property. But could not remove the gap at the beginning

[2019-09-16 08:16] phlippieb commented on #1250
https://github.com/CosmicMind/Material/pull/1269

[2019-09-19 08:10] Hamna21 commented on #133
@danieldahan Hello, Can you please tell the correct way of doing this?

Currently my navigation bar is looking like this. I am using IconButtons.
![image](https://user-images.githubusercontent.com/20511422/65225574-d1dc9580-dade-11e9-8e58-bf7858feb05d.png)

[2019-09-19 08:16] OrkhanAlikhanov commented on #133
Hey! Try playing with navigation bar's `contentEdgeInsets` and `interimSpace`;
[code]

[2019-09-19 15:52] danieldahan commented on #1266
Hi @ahsanaasim, it looks like you are pushing towards a goal, and I would be happy to help. Can you send me a screenshot of your desired outcome? Thank you.

[2019-09-19 15:56] danieldahan commented on #1266
Hi @ahsanaasim can you send me your current project to test this out. I will see if I can help you out with a solution. Thank you!

[2019-09-19 16:25] adamdahan commented on #1266
@ahsanaasim I was able to accomplish the desired look, however, it was at the cost of modifying the internal TabBar code. So if you choose to go down this path you will need to support your own updates to keep the look consistent. Here is how you can pull it off...

1. Prepare the tab bar.
[code]
2. Open the TabBar.swift file in Material framework local to your project
3. Manipulate the `prepareLi

[2019-09-19 16:45] danieldahan commented on #1266
Thank you @adamdahan, a really helpful solution. I'd like to make sure that the API is not limited in this case, or if you have not seen the correct API configuration to use. We will update this issue within a day or two. For now, I would suggest to play with @adamdahan's solution, so you are not blocked.

[2019-09-23 13:37] 22Round commented on #1250
please merge this fix, I can't build my project anymore @danieldahan

[2019-09-23 14:10] daniel-jonathan commented on #1250
@22Round Try [Material 3.1.8](https://github.com/CosmicMind/Material/releases/tag/3.1.8). Thank you!

[2019-09-23 14:10] #1250 closed

[2019-10-02 00:40] bstillitano opened #1272 "Distill failed for unknown reasons"
When building with Xcode >= 11 I get the following error.

`.../Pods/Material/Sources/Assets.xcassets:1:1: Distill failed for unknown reasons.`

Any help resolving it would be appreciated.

[2019-10-06 15:20] ahsanaasim opened #1273 "Views added using addsubviews are not working inside SnackbarController"
I am trying to use Snackbar in my app. I have tabBarController containing my viewControllers.
I have initiated the Snackbar Setup in the following way.
[code]

When I add homeNavigationController as my tabBarController viewcontroller item, Everything loads perfectly. This is how it looks when I add homeNavigationController directly

![Expected Output](https://user-images.githubusercontent.com/1753

[2019-10-06 15:24] ahsanaasim commented on #1273
Interestingly, when I came from background, everything gets added as expected when using AppSnackBarController.

[2019-10-06 15:39] OrkhanAlikhanov commented on #1273
Which controller is the parent of `homeSnackBarController`?

---------
**PRO TIP:**
This:
[code]
Can be replaced by:
[code]
Learn more at #1185

[2019-10-07 04:53] ahsanaasim commented on #1273
Thanks for the PRO TIP.

This is how I added homeSnackBarController inside my Tabbar.

[code]

Tabber Class:

[code]

[2019-10-09 07:04] jamil36 opened #1274 "iOS 13.1中 TextFiled 添加LeftView是 光标位置问题"

[2019-10-09 07:06] jamil36 commented on #1274
当在13.1 系统时，光标位置会紧贴LeftView

[2019-10-09 08:26] #1274 closed, assigned to daniel-jonathan

[2019-10-10 08:59] jbaez commented on #1219
This is a very good idea, I recently updated Material and saw that dialogs are available, and started migrating UIAlert to Material Dialog.
In the DialogTextFieldView I added  the method `addTextField` like in UIAlertController, so we can add more than one text field.

[code]

Also will have to create another subclass to be able to add more buttons, In the App I'm working on we have a UIAlert with

[2019-10-11 08:17] lazarte commented on #1274
Is there a fix for this issue?

[2019-10-12 23:30] CTNCardoso opened #1277 "Space between TextField and Left Icon"
![Captura de Tela 2019-10-12 às 20 25 41](https://user-images.githubusercontent.com/431215/66708915-13074480-ed2f-11e9-95eb-445dba2ce9aa.png)

Problem is happening with iOS 13.

I tested it on iOS 11 and 12 and it worked perfectly.

[2019-10-16 06:40] Shempaiii commented on #1277
Any workaround?

[2019-10-16 07:59] OrkhanAlikhanov commented on #1277
Is that happening after iOS 13?

You can try playing with `textField.textInsets.left = 10`

[2019-10-16 11:31] CTNCardoso commented on #1277
Yes, it solves the EditText problem, but it generates a problem with label.
<img width="319" alt="Captura de Tela 2019-10-16 às 08 30 43" src="https://user-images.githubusercontent.com/431215/66915378-47108d00-efef-11e9-9ccd-959e779d9959.png">
<img width="322" alt="Captura de Tela 2019-10-16 às 08 30 30" src="https://user-images.githubusercontent.com/431215/66915380-47108d00-efef-11e9-87e7-83f86

[2019-10-16 11:34] OrkhanAlikhanov commented on #1277
Can you try `textField.leftViewOffset = 32`, default value is 16

[2019-10-16 11:54] CTNCardoso commented on #1277
Using "textField.textInsets.left = 20" and "textField.leftViewOffset = 32"
<img width="336" alt="Captura de Tela 2019-10-16 às 08 48 09" src="https://user-images.githubusercontent.com/431215/66916579-e171d000-eff1-11e9-8661-f630280b122e.png">

This moved the divider.

[2019-10-16 12:37] kaunteya opened #1278 "Snackbar in one line?"
Hi. Is there a way where I could show Snackbar with least efforts. Some thing like

[code]
After going through the sample project it seems that I will have to assign a View controller whose rootView controller is a type of SnakViewController to the window.rootViewController.
Isnt there a simpler approach? Some thing similar to [Toaster](https://cocoapods.org/pods/Toaster)

[2019-10-17 15:29] daniel-jonathan commented on #1274
We don't understand the issue, if you can translate it, that would be great! Thank you. @lazarte

[2019-10-17 15:33] daniel-jonathan commented on #1278
Hey @kaunteya if you want the Snackbar to be aligned and animated in the correct position, you will have to use the controller, otherwise there is no way for the math to be handled and correctly overlaid. That said, the Snackbar is decoupled so that you could manage it on your own in a more appropriate format that works for you. So short answer, the sample is the simplest approach if you don't wan

[2019-10-17 15:33] #1278 closed, assigned to daniel-jonathan

[2019-10-17 15:34] daniel-jonathan commented on #1272
@bstillitano sorry for the delay in responding. Is this still an issue? If so, please reopen the issue and we can help. Thank you!

[2019-10-17 15:34] #1272 closed, assigned to daniel-jonathan

[2019-10-17 15:36] daniel-jonathan commented on #1273
@ahsanaasim @OrkhanAlikhanov is this still an issue?

[2019-10-17 18:05] OrkhanAlikhanov commented on #1274
I think its same as #1277

[2019-10-23 22:00] ahsanaasim commented on #1273
I solved using another navigation controller above appSnackbar which i think is a bad solution..Cuz in that case I have to use two navigationController.

[2019-11-05 13:23] MarkBorazio opened #1279 "Notch covering left view controller in NavigationDrawerController under specific circumstances"
## Description
I am finding that my left view controller is having it's content sometimes covered by the notch.
I am observing this on the iPhone X simulator, iOS 11.0.1.

## Steps To Reproduce:
1. Open app
2. Go to screen where left menu can be opened
3. Rotate device counter-clockwise 90°
4. Open left menu

---

I have double-checked, and yes, I have constrained the content of left view controll

[2019-11-06 04:32] himaratsu opened #1280 "BackButton on NavigationController not hidden"
Hi,

I found a bug about backbutton on NavigationController.

# How to reproduce
1. `pushViewController()` on ViewControllerA, move to ViewControllerB.
2. `pop()` on ViewControllerB, back to ViewControllerA.
3. backbutton is not hidden. [BUG]

ViewControllerA is root of navigationController.viewControllers, so I expect backbutton should be hidden.
But actually, backbutton was shown.

Using Materia

[2019-11-12 12:38] amritanavixel opened #1281 "How to set max character limit for material textfield?"

[2019-11-12 12:39] #1281 closed, assigned to nobody

[2019-11-12 12:42] sachinrana028 opened #1282 "How to set max characters limit for material textfield?"

[2019-11-14 17:48] OrkhanAlikhanov commented on #1282
Hey! There is no specific way of setting a limit for Material's TextField. You can set limit using the [UITextField way](https://stackoverflow.com/questions/433337).

That said, you can allow user to type any number of characters but visually validate it via the validation api of `ErrorTextField` before using the content of that field. Check out for more info #1082
[code]

[2019-11-26 10:31] amritanavixel commented on #1282
Thanks for the help @OrkhanAlikhanov .

[2019-11-26 10:32] sachinrana028 commented on #1282
Thanks for the help @OrkhanAlikhanov.

[2019-11-28 04:20] lostyoung opened #1283 "Hi, this value may cause height inconsistencies between the text and placeholderLabel when height needs by placeholer less than 32. I do not know whether there are some ways to solve this problem, perhaps you can check it."
https://github.com/CosmicMind/Material/blob/ea59f7c4d72a4c3a3694042b05d4276e2ffd4e26/Sources/iOS/Text/TextView.swift#L326

[2019-11-28 13:24] sachinrana028 commented on #1282
Suppose I have 2 textfields. Both require different max char limit, one require 10 char and other require 20 char. In that case what approach should I need to follow.

[2019-11-29 06:29] #1282 closed, assigned to daniel-jonathan, OrkhanAlikhanov

[2019-12-06 16:11] jbdujardin commented on #1277
Is there a fix for this issue?

[2019-12-16 11:26] sarakhater opened #1284 "Value of type '(TabBar, TabItem) -> ()' has no member 'buttons'"
in xcode 11 , swift5

@IBOutlet weak var tabBar: TabBar!
var buttons :[UIButton] = []
self.tabBar.buttons = buttons;
==>this line self.tabBar.buttons = buttons; ==> give me this error ==> Value of type '(TabBar, TabItem) -> ()' has no member 'buttons'

[2019-12-16 16:18] adamdahan commented on #1284
Duplicate ticket: https://github.com/CosmicMind/Samples/issues/133

[2019-12-23 10:22] febinrv commented on #1277
Yes, the issue is still there
I have tried
`usernameTextField.textInsets.left = 8`
`usernameTextField.leftViewOffset = -8`

But not exactly fixed my issue. the divider origin x is wrong now.

[2019-12-30 06:29] Zeeshan90 opened #1285 "Card is not working with UIView"

[2020-01-06 08:38] Hamna21 commented on #1250
Hi !
@danieldahan I am using Xcode 11.3 and Material 3.1.8 and still facing this issue.

What can be the reason for this?

Thanks!

[2020-01-14 06:06] Hamza123Imran opened #1286 "Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Client error attempting to change layout margins of a private view'"
I have used `pod 'Material', '2.16.4'`  and `pod 'MaterialComponents'` in my project now when i upgraded my xcode version to 11.3 when i run the app it shows me crash
`Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Client error attempting to change layout margins of a private view'` Why is this so? What are the new compatible pods for xcode 11.3 or iOS 13 ve

[2020-01-14 06:09] Hamza123Imran commented on #1250
@mrtsamma where have you placed this your code? I have upgraded to xcode 11.3 i'm getting same crash. how i can i recover from it.

[2020-01-14 07:44] Hamza123Imran commented on #1250
@adamdahan have your lib updated for  11.3 and iOS 13 version, if so please let me know the link or pods i'm facing an issue

[2020-01-21 03:50] SiddRamesh opened #1287 "Value of type 'Layout' has no member 'horizontally'"
It was working fine in swift 4.2, but after I migrated to swift 5.1 I m getting this error :(

[2020-01-21 08:48] Hamna21 opened #1288 "TabBarItems alignment on BottomNavigationController"
Hello @danieldahan, @OrkhanAlikhanov!

I am facing an issue with BottomNavigationController after updating to latest pod.
When switching back to portrait from landscape mode, the alignment of TabBarItems on Tab Bar gets misplaced, all items get gathered on left.

![image](https://user-images.githubusercontent.com/20511422/72788967-956ba280-3c54-11ea-85f0-6b5114b84c06.png)

Waiting for response! Th

[2020-01-22 00:58] #1280 closed, assigned to nobody

[2020-01-26 21:52] kamokaizen opened #1289 "NavigationBar Jumping Problem"
Hi guys, first of all, thanks for creating such a great UI library. I enjoy using this framework.
Recently, I saw a problem about when navigation back through the back button. The navigation bar is jumping when back button pressed. My code is not customized, it s from sample project. Can you help me to solve jumping?
![Screen Recording 2020-01-27 at 12 35 38 AM](https://user-images.githubuserconte

[2020-01-28 08:00] kaunteya opened #1290 "Background color of leftView and rightView"
https://github.com/CosmicMind/Material/blob/ea59f7c4d72a4c3a3694042b05d4276e2ffd4e26/Sources/iOS/NavigationDrawer/NavigationDrawerController.swift#L1052

Why is `backgroundColor` of leftView and rightView of NavigationDrawerController explicitly set  to `white`?
How do I change this color?

[2020-01-29 07:02] Hamna21 commented on #1288
Fixed this issue by using new TabBar properties for iOS 13.

[code]

[2020-02-06 18:05] thuca1992 commented on #1289
same here. Have you figured it out yet?

[2020-02-07 06:11] Hamna21 commented on #1289
Same here as well.

Waiting for feedback!

[2020-02-24 12:02] kamokaizen commented on #1289
Anything about resolving issue guys?

[2020-02-26 07:37] desmond-lab opened #1293 "TabsController got Black View when Switching tab"
May I know is it any reasonable problem for this ?
Because when I switch either through pan gesture or select tab bar, will got black screen appear while holding gesture, and disappear when release gesture.

Material -> 3.1.8
Motion -> 3.1.3

import Material
class ProfileTabBarViewController: TabsController {

    open override func prepare(){
        super.prepare()
        delegate = self

[2020-03-24 21:21] Matungos commented on #1076
How has this "fixed"?
I would like to have the click on the label also.

[2020-03-25 19:50] juvs commented on #1287
Based on this change... use leftRight instead.

![image](https://user-images.githubusercontent.com/204912/77579181-82b55a00-6e9f-11ea-9e35-0a10561d4b8a.png)

[2020-03-26 03:11] AdeelRamzan opened #1295 "Module compiled with Swift 5.0.1 cannot be imported by the Swift 5.1.3 compiler"
Hi, I know this compiler issue is raised before but right now its severe as after April, 2020 we will no longer be able to use this library in our projects as Apple announced:

**Starting April 30, 2020, all iPhone apps submitted to the App Store must be built with the iOS 13 SDK or later.**

Since this library is not compilable with XCode 11.3 so our apps build with old XCodes will be removed fro

[2020-03-27 14:09] #1295 closed, assigned to nobody

[2020-03-28 00:44] juvs commented on #1289
Take a screenshot of your screen using the "Debug View Hierarchy", try to use certain angle to see how is render the logo used as avatar on your navitgationBar.

![Screen Shot 2020-03-27 at 18 39 59](https://user-images.githubusercontent.com/204912/77810616-efc11f00-705a-11ea-849f-eb07ae1ee73f.png)

[2020-03-28 05:32] SiddRamesh commented on #1287
thanks it worked

[2020-03-28 05:32] #1287 closed, assigned to nobody

[2020-04-01 16:49] ludivinefafournoux opened #1296 "Select chip"
Hello,

i'm using chipBar and I want to know how can I trigger when one is selected, i'm using it as a filter.
I can't find anything about that.
I know that I can addTarget, but there's no delegate for that?
Thanks

[2020-04-16 01:45] VietNamBookingApp opened #1297 "[TAB BAR] How to setup tab bar for storyboard"
Dear Admin

I want question how to setup tab bar for storyboard,

thanks admin

![image](https://user-images.githubusercontent.com/59195212/79405414-8cbe0a80-7fbe-11ea-9e1f-8432a99a2ed7.png)

[2020-05-13 03:56] markst opened #1298 "TextField left view rect not returning correct size"
![image](https://user-images.githubusercontent.com/274318/81769627-6c339280-9521-11ea-8be7-d4b00f88cda7.png)

My current resolution is to subclass the `TextField` & override:

[code]

[2020-05-20 12:58] Gruschka commented on #1289
Hi guys, I'm having the same issue! Could anyone figure this one out yet?

[2020-05-24 13:08] slxl opened #1299 "Theme extension"
Hi there!

Is Theme supposed to be extendable with other colors (i.e. if I have more than primary/secondary/surface colors)?

[2020-06-01 15:50] sarrathy opened #1300 "Swift 5 update"

[2020-06-05 05:43] markturnip commented on #1289
Also experiencing this. Haven't quite figured out why yet!

![image](https://user-images.githubusercontent.com/20342685/83841014-504b9700-a743-11ea-9206-121407adfc1c.png)

[2020-06-05 05:57] markst commented on #1289
Also experiencing this. Haven't quite figured out why yet!

![image](https://user-images.githubusercontent.com/274318/83841963-4165e400-a745-11ea-9941-c064ced3cd1d.png)

[2020-06-13 15:16] mchan004 opened #1301 "Is this framework support Dark Mode?"
I did set the `textColor = .label` but it's not working on Dark Mode Theme?

[2020-06-28 02:22] beom-mingyu commented on #1289
same here. Have you figured it out yet?!!

[2020-06-29 23:18] AD-Paladins opened #1302 "TextField does't refresh detailLabel"
If you try to change the color and text in the textField.detailLabel.text, you won't see the change if you dont change the textField.text or focusing the field.

It occurs when the field is not focused and you change the detail text from code.

Pod version:
Material 3.1.8
MaterialComponents 109.4.0

This is my workaround to resolve temporarily my problem:

        guard let lastChar = textField.te

[2020-07-10 10:53] kaunteya opened #1303 "Statusbar text color"
I have my app in NavigationDrawer and the initialization code looks like this
[code]

How do I explicitly set the statusbar label color between light and dark?

I tried setting the rootController of NavigationDrawerController by a subclass of UINavigationController which had override `preferredStatusBarStyle` but it is not getting called
[code]

----

My app supports iOS 11 onwards
I am using Mate

[2020-07-22 13:46] #1303 closed, assigned to nobody

[2020-08-12 16:53] malkabani opened #1304 "tabBar.tabBarStyle = .scrollable alignment to right"
Hi

when try to add
tabBar.tabBarStyle = .scrollable
tabbar items will alignment to right
how to fix this bug

thank you

[2020-08-30 20:29] mgkcorty commented on #1289
Same issue. How to solve this?

[2020-09-19 15:05] AMSH92 opened #1306 "Error with Xcode 12.0"
I have installed Material through Swift Package dependencies , when I try to build my project I get `UNCATEGORIZED`.
Everything is working just fine with Xcode 11.7

[2020-09-19 15:26] AMSH92 commented on #1306
![Screen Shot 2020-09-19 at 6 26 14 PM](https://user-images.githubusercontent.com/19398043/93670647-9b48aa80-faa5-11ea-9837-52294c513374.png)
![Screen Shot 2020-09-19 at 6 26 27 PM](https://user-images.githubusercontent.com/19398043/93670651-a3084f00-faa5-11ea-94d6-f0efab448f94.png)

[2020-09-26 18:17] #1306 closed, assigned to nobody

[2020-09-28 07:51] kofsiwon opened #1307 "FABButton is rotated weird"
Hey. What's wrong?

`
func setupFloatingMenu(){
        self.floatingMenu.fabMenuItemSize = CGSize.init(width: 45, height: 45);
        self.floatingMenu.shapePreset = .circle;
        self.floatingMenu.delegate = self;

        var menuButton = FABButton(image: Icon.add, tintColor: .white);
        menuButton.backgroundColor = #colorLiteral(red: 0.1886929572, green: 0.4163666964, blue: 0.95119041

[2020-10-04 16:19] SlonGL commented on #514
Optional completion is escaping anyway and doesn't need adding of "@escaping"

[2020-11-08 19:14] sreznic commented on #1289
Same, here's a quick fix though be alerted that it MAY CORRUPT your other views, because I haven't checked other components of this library, but here it is.
Remove these lines of code from the library
[code]

Though, I'd like it to be solved by the creators of the library

[2020-11-24 13:03] Ahmedyoussefg5 opened #1308 "CGSize intrinsicContentSize on Xcode 12"
'TextField' has different definitions in different modules; first difference is definition in module 'Material.Swift' found property name 'intrinsicContentSize'

[2021-01-11 03:13] firmanmikhsan commented on #1308
any news about this ?

[2021-01-13 13:16] Ahmedyoussefg5 commented on #1308
what happens with you?

[2021-02-23 11:01] kamokaizen commented on #1289
So what do you suggest guys

[2021-04-07 17:52] #1308 closed, assigned to nobody

[2021-09-07 10:54] Garretming opened #1309 "Cycle in dependencies between targets 'Material' and 'Motion'; building could produce unreliable results."
When I use use_modular_headers! in Podfile ,pod 'Material' ,i got this error.
Showing All Errors Only
Cycle in dependencies between targets 'Material' and 'Motion'; building could produce unreliable results.
Cycle path: Material → Motion → Material
Cycle details:
→ Target 'Material' has a command with output '/Users/test/Library/Developer/Xcode/DerivedData/snack-cdujtgzquuqznrefmfahomuccaiw/Build/

[2021-10-13 12:15] kamokaizen commented on #1289
@cointowitcher is there any way to resolve this bug ?

[2022-01-24 16:14] MageSantana opened #1311 "crash when use in a framework target"
Hello
I'm trying to use the last version of this framework in a custom iOS framework. With the 2.16.4 version is ok, but with the last version this actually crash in the Application.swift.

[2022-02-10 17:14] #1311 closed, assigned to nobody

[2022-02-10 17:14] stevendinggang commented on #1311
 我收到啦！！！

[2022-04-28 08:30] majeedyaseen commented on #1163
@daniel-jonathan was this issue fixed anyhow or any workaround found ?
@OrkhanAlikhanov ?

[2022-04-28 08:30] stevendinggang commented on #1163
 我收到啦！！！

[2022-04-28 08:48] majeedyaseen commented on #1163
@stevendinggang
如何 ？

[2022-10-07 11:00] adriga opened #1313 "Error installing with CocoaPods"
I got this error when I try to install any version with CocoaPods:

[!] Error installing Material
[!] /usr/bin/git clone https://github.com/CosmicMind/Material.git /var/folders/zm/dm0yzh656t90hfwn2pbpd9_r0000gp/T/d20221007-68668-w6i90z --template= --single-branch --depth 1 --branch 3.1.8

Cloning into '/var/folders/zm/dm0yzh656t90hfwn2pbpd9_r0000gp/T/d20221007-68668-w6i90z'...
warning: Could not f

[2022-10-07 13:19] daniel-jonathan commented on #1313
Hey! Sorry about that. I am in the process of revitalizing this framework. I haven't worked on it in years. That said, I am updating the name back to its original path, and all should be fine now. Thank you!

[2022-10-07 13:19] #1313 closed, assigned to nobody

[2022-10-24 21:41] rdhoa opened #1314 "MATERIAL"