[2016-05-13 21:33] danieldahan commented on #379
Ahh... yes because the UI is being updated on that call. You can put a delay on the reload if you are wanting the pulse to go through.

[code]

something like that.

[2016-05-13 21:48] lancevalour commented on #378
Ok, so viewDidLoad() is called once, but I can't change the tabbar background color, it is always white.

[2016-05-13 22:08] danieldahan commented on #379
I am going to close this issue. To discuss it further, we can use [Gitter - Material](https://gitter.im/CosmicMind/Material).

[2016-05-13 22:08] #379 closed

[2016-05-13 22:09] danieldahan commented on #378
In the setup do,

[code]

or if you subclass it,

do

[code]

[2016-05-14 03:55] mohpor commented on #375
So,
I checked upon your sample project.
There is nothing wrong with it! I mean on device it never happens (Have you tested it on device too?).
I saw it once, on simulator only, and after I opened up story board in xcode and saved it, it never came up on simulator too. It must be a glitch with Xcode's Interface Builder.

@urizev Can you confirm that it happens on device or not?

[2016-05-14 17:33] lancevalour commented on #378
I do tabBar.backgroundColor = MaterialColor.grey.darken4 in the viewDidLoad() and nothing happens. However, if I put it in viewDidAppear(), the color is changed.

It works when I use UITabbarController. Can you that in the sample code?

[2016-05-15 00:21] chashmeetsingh commented on #377
Thanks @danieldahan

[2016-05-15 00:21] #377 closed

[2016-05-15 11:51] mohpor commented on #376
@TheHmmka is this still an issue or we can safely close this issue?

[2016-05-15 11:54] mohpor commented on #378
It's always safer to update UI elements in `viewDid[will]Appear()`, especially when they've been designed in IB.
@lancevalour Is it still an issue? Can we close this issue?

[2016-05-15 11:55] mohpor commented on #375
@urizev have you tested it on device? Are you still seeing that square shape shadows?

[2016-05-15 12:26] lancevalour commented on #378
Yes, you can close it now. Thanks.

2016年5月15日星期日，M. Porooshani <notifications@github.com> 写道：

[2016-05-15 20:25] #378 closed

[2016-05-15 20:26] danieldahan commented on #376
I am going to close this, thank you @mohpor. @TheHmmka if the issue persists. Please let me know. I am updating docs during today and this week. Thank you!

[2016-05-15 20:26] #376 closed

[2016-05-15 20:27] danieldahan commented on #374
Please submit more details. Until then, I will close this issue as we cannot reproduce it. Thank you!

[2016-05-15 20:27] #374 closed

[2016-05-15 20:28] danieldahan commented on #375
Let's move this to Gitter for further discussion as it is not reproducible. Thank you! [Gitter/CosmicMind/Material](https://gitter.im/CosmicMind/Material).

[2016-05-15 20:28] #375 closed

[2016-05-15 20:29] danieldahan commented on #372
I am going to close this, and let's continue the discussion on [Gitter/CosmicMind/Material](https://gitter.im/CosmicMind/Material). I will be updating the docs. Thank you!

[2016-05-15 20:29] #372 closed

[2016-05-16 04:37] piromano opened #380 "cocoapods 1.0 installation failed"
In the new cocopods the XCAssets of icons are not copied during the build

[2016-05-16 04:39] mohpor commented on #380
It's in the works, will be released shortly. For now you can use the development branch (with a solution to this) or revert back to Cocoapods 0.39.

[2016-05-16 04:56] mohpor commented on #380
here is how to use the development branch own your podfile:
[code]

[2016-05-16 06:47] TheHmmka commented on #376
Looks like it works. But I found other issues. Will open another ticker.

[2016-05-16 06:52] TheHmmka opened #381 "Empty title and detail in Toolbar."
When you don't set leftControl or rightControl in Toolbar you can't see any title.

[code]

Then I try to set title with code, but Toolbar is empty:
`self.navigationBarView.titleLabel.text = NSLocalizedString(@"Settings section title", nil);`

And when I set leftControls (for test) title appears:
[code]

<img width="410" alt="2016-05-16 09 52 16" src="https://cloud.githubusercontent.com/assets/468

[2016-05-16 06:54] mohpor commented on #381
Let me check.

[2016-05-16 07:03] TheHmmka opened #382 "Layout doesn't respect frame of Toolbar."
<img width="412" alt="2016-05-16 09 56 00" src="https://cloud.githubusercontent.com/assets/468660/15282588/fec7215a-1b4c-11e6-9776-e0b1085ecd6d.png">

As you can see layout on the picture above - plus and back arrow doesn't sit in right play.
I have gray UIView with Toolbar at the top of this view. I setup frame for Toolbar with next code:

[code]

[2016-05-16 07:06] mohpor commented on #382
where are setting the frame? `viewDidLoad()`?

[2016-05-16 07:07] TheHmmka commented on #382
No, no. This is not UIViewController. It's just UIView. I set frame in `-(void) layoutSubviews` method.

[2016-05-16 07:28] mohpor commented on #381
I have checked on this.  I could reproduce it.
A quick solution is to call `prepareView()` on your toolbar at some point (before or after adding to your view).

[2016-05-16 07:32] TheHmmka commented on #381
Thanks, will try.

[2016-05-16 07:34] mohpor commented on #381
I have tested it, it should work. I will work on fix though.

[2016-05-16 07:44] zgosalvez opened #383 "Setting custom Navigation Item Title View "Disables" the Controls"
The code below works, but causes the left control to be non-responsive.
[code]

[2016-05-16 07:48] mohpor commented on #383
can you post a screenshot of the view debugger (with the troublesome line of code)? I want to make sure nothings covering the left controls.

[2016-05-16 08:00] zgosalvez commented on #383
Here you go. My UIImageView is the parent of Material.FlatButton.

![screen shot 2016-05-16 at 15 55 29](https://cloud.githubusercontent.com/assets/1798166/15283628/a419c0dc-1b7e-11e6-9093-fa208496a922.png)
![screen shot 2016-05-16 at 15 55 24](https://cloud.githubusercontent.com/assets/1798166/15283629/a4836000-1b7e-11e6-8681-2242c2318e12.png)

[2016-05-16 08:21] mohpor commented on #382
`Toolbar` is a subclass of `StatusBar` they assume the device's width as their width. and changing the frame and laying out won't affect their actual width.

If you want to embed a toolbar inside a view with a width smaller than the device's, you should subclass the `Toolbar` and override the `intrinsicContentSize()` function and return the appropriate size for your view. You can use the `super`'s

[2016-05-16 08:23] TheHmmka commented on #382
Ok, thanks, I will try.

[2016-05-16 11:10] mohpor commented on #382
Here is the code I used to test my theory :

[code]

[code]
and it worked like a charm!

[2016-05-16 13:41] danieldahan commented on #383
The titleView is used to store all the values within the Toolbar. To set a custom view, use the contentView property. So it should be something like this:

[code]

[2016-05-16 13:44] zgosalvez commented on #383
I tried this but couldn't get the UIImageView to center.

[2016-05-16 17:22] danieldahan commented on #381
@TheHmmka I have fixed the issue. Thank you @mohpor for the investigation :) Later today a release will be issued.

[2016-05-16 17:23] TheHmmka commented on #381
Very nice! Thank you!

[2016-05-17 01:05] chashmeetsingh opened #385 "Docs not updated for tab controller"
Need the docs for using tab controller
Links ? Also the navigation controller one doesn't have images

[2016-05-17 01:10] danieldahan commented on #385
Yes I am working on the documentation.

[2016-05-17 02:27] piromano commented on #380
it works, thanks.

[2016-05-17 02:27] #380 closed

[2016-05-17 03:28] danieldahan commented on #385
The best way to view the documentation for now is through the example projects. During this week I will be updating the documentation at the http://cosmicmind.io/material website. If you have any question, please open an issue or visit the [Gitter/CosmicMind/Material](https://gitter.im/CosmicMind/Material) page. All the best!

[2016-05-17 03:28] #385 closed

[2016-05-17 03:46] zgosalvez opened #386 "NavigationItem Controls Out of View on Form Sheet"
On the iPad, if the view controller is presented modally as a form sheet, the left and right controls of navigationItem are out of view. However, for some reason, I can't find it in the view debugger.

[2016-05-17 04:12] danieldahan commented on #386
Nice catch. I will take a look at this in the morning. Thank you!

[2016-05-17 04:19] zgosalvez commented on #383
My solution:

[code]

[2016-05-17 15:03] urizev commented on #375
Sorry for my silence. I was busy these days.

I have no real device available for the tests. So if you say it doesn't occur for me it's perfect.

Thank you and sorry for the inconveniences

[2016-05-17 18:23] danieldahan commented on #375
It is not an inconvenience at all. Thank you for bringing this to our attention :)

[2016-05-17 22:48] danieldahan commented on #381
Should be fixed in [1.41.2](https://github.com/CosmicMind/Material/releases/tag/1.41.2).

[2016-05-17 22:48] #381 closed

[2016-05-17 22:48] danieldahan commented on #382
Should be fixed [1.41.2](https://github.com/CosmicMind/Material/releases/tag/1.41.2) :)

[2016-05-17 22:48] #382 closed

[2016-05-17 22:48] danieldahan commented on #386
Can you try the latest and tell me if this persists [1.41.2](https://github.com/CosmicMind/Material/releases/tag/1.41.2).

[2016-05-17 22:48] danieldahan commented on #383
Can you try the latest and tell me if this persists [1.41.2](https://github.com/CosmicMind/Material/releases/tag/1.41.2).

[2016-05-17 23:25] zgosalvez commented on #383
Prepping my project. I'll get back to you in a few minutes.

[2016-05-17 23:47] zgosalvez commented on #383
My solution still works in this version

[2016-05-17 23:47] #383 closed

[2016-05-17 23:48] zgosalvez commented on #386
This issue still persists in [1.41.2](https://github.com/CosmicMind/Material/releases/tag/1.41.2).

[2016-05-18 00:27] chashmeetsingh commented on #385
thanks

[2016-05-18 10:31] TheHmmka commented on #382
Oh, with 1.41.2 I totally lost Toolbar. :-)

<img width="422" alt="2016-05-18 13 29 26" src="https://cloud.githubusercontent.com/assets/468660/15355666/c6586a52-1cfc-11e6-9fa6-8704e4729610.png">

[2016-05-18 10:33] mohpor commented on #382
@TheHmmka you need to set a frame for your toolbar now. Height will have a default value, but make sure you set an appropriate `width` for the toolbar. It most likely will be its superview's width.

[2016-05-18 11:21] TheHmmka commented on #382
I mean that It disappeared even when I use Toolbar with UIViewController. As I understood I need to set width in this case too?

[2016-05-18 11:22] mohpor commented on #382
@TheHmmka That's right. You can init your toolbar with a frame or set its frame after init.

[2016-05-18 11:27] TheHmmka commented on #382
It works. Thanks!

[2016-05-19 09:46] JeremyJF opened #389 "whose view is not in the window hierarchy!"
My code is as follows and I get the above error

		override func prepareForSegue(segue: UIStoryboardSegue, sender: AnyObject!) {
		if (segue.identifier == "ActivityPref") {
			let nav3 = segue.destinationViewController as! UINavigationController
			let svc3 = nav3.topViewController as! ActivityPreferencesTableViewController
			svc3.majCat = majCat //Pass the category
			svc3.subCat = subCat
			pri

[2016-05-19 15:20] danieldahan commented on #389
I will need some more information to help you. First, what is the error? Is it this "whose view is not in the window hierarchy!", because that is not 100% clear. Can you paste the error from the console? Thank you!

[2016-05-19 15:23] danieldahan commented on #386
Can you send me a sample project with this issue? to support@cosmicmind.io

[2016-05-19 15:44] RuslanPatyk opened #390 "Interface Builder issue"
Using material view and material button as custom classes for views in IB, I am getting warnings "Failed to update auto layout. The agent crashed" and other IB warnings. I did not manage to make demo for this issue, I believe that there is a need in large project with great amount of different storyboards. I can send screenshots to your mail. If it is possbile, it would be great to make an option

[2016-05-19 15:50] danieldahan commented on #390
Yes, please send the screenshots to support@cosmicmind.io.

[2016-05-19 16:09] JeremyJF commented on #389
Thanks for the response by email.

The error is “whose view is not in the window hierarchy!” and this occurs when i segue to a a Nav controller in the middle of a Storyboard accessed from a Storyboard Reference

using:

if (segue.identifier == "ActivityPref") {

			let nav3 = segue.destinationViewController as! UINavigationController
			let svc3 = nav3.topViewController as! ActivityPreferencesTabl

[2016-05-19 16:25] danieldahan commented on #389
Okay... so it sounds like you are missing a view in the hierarchy. Give me a bit, I will be able to help you. I am caught up in something right now  :)

[2016-05-19 17:05] JeremyJF commented on #389
Many thanks

[2016-05-19 17:26] JeremyJF commented on #389
This might help

[2016-05-19 17:54] JackoPlane commented on #317
Any update on this @danieldahan ?

[2016-05-19 17:56] danieldahan commented on #317
Its unfortunately still in the queue. I'd be happy to work on it with you.

[2016-05-19 20:13] tbergeron opened #391 "Using becomeFirstResponder() on TextField hides the placeholder text"
I have a few TextField and when I use `.becomeFirstResponder()` on any of them the placeholder text disappears.

Here's a quick example of the code I have:

[code]

If I comment the `.becomreFirstResponder()` call, I can see the placeholder text e.g. http://d.pr/i/1eQS5 & http://d.pr/i/1aXfJ

But if I leave it there, the field will be focused except the placeholder will be nowhere to be found e.g.

[2016-05-19 20:57] danieldahan commented on #391
Thank you for this, I will look into it :)

[2016-05-20 11:22] TheHmmka opened #393 "Can't set detailLabel.text in Toolbar."
Hello again! :-)

Strange behavior with setting text for detailLabel in Toolbar.

When I didn't set text for some value (or empty string @"") like `self.navigationBarView.detailLabel.text = @"";` in `-(void) viewDidLoad` method I can't set it later, for example after updating some data.

I think you need to use KVO to update properties for inners controls like UILabel or something else.

[2016-05-20 12:06] JeremyJF commented on #389
Manage to resolve the problem with a work-around using

	func tableView(tableView: UITableView, willSelectRowAtIndexPath indexPath: NSIndexPath) -> NSIndexPath?{
		tableView.deselectRowAtIndexPath(indexPath, animated: true)
		row =  indexPath.row
		sec = indexPath.section
		print(sec,row)
//to determine the data to pass
		return  indexPath
}
and not calling segue programatically but  segue only fr

[2016-05-20 15:53] danieldahan commented on #393
Hey! Yes you are correct. KVO needs to be added. For now, you can use `layoutSubviews()` after you update the text. We are still working on the Toolbar, so the next iteration should have a solution for this. Let me know if the issue persists, otherwise I will close this for now, and push a release shortly.

[2016-05-20 15:53] #393 closed

[2016-05-20 15:55] danieldahan commented on #389
Well tableVIew and UIViewController are iOS native elements. We haven't done anything to them. So your issue may be in iOS completely. If you have any other issues, please open a new issue. All the best.

[2016-05-20 15:55] #389 closed

[2016-05-22 04:02] zgosalvez commented on #386
Sent.

[2016-05-23 05:31] mohpor commented on #391
@tbergeron I have tested the sample code you have provided. it is easily reproducible.
The problem here is that you are calling `becomesFirstResponder()` too early in view's life cycle. Generally speaking, it's not a good idea to call view altering methods in the `viewDidLoad` because the view is just being loaded and not added to the view. For your sample code you have provided, it's better to ca

[2016-05-23 06:29] danieldahan commented on #390
Hey, as I haven't heard from you. I am going to close this issue.

[2016-05-23 06:29] #390 closed

[2016-05-23 06:34] mohpor commented on #386
@zgosalvez , @danieldahan Can you loop me in? I'm not sure about the setup resulting to this issue. I could reproduce it in my own way, but I'm not sure if that addresses the same problem here.

[2016-05-23 06:41] danieldahan commented on #391
Excellent! Thank you @mohpor this is correct.

[2016-05-23 06:41] #391 closed

[2016-05-23 06:54] JeremyJF commented on #389
Thank you

[2016-05-23 07:45] mohpor commented on #386
@zgosalvez Can you test your project against this pod to see if your issue is solved?

[code]

thanks

P.S.: your sample project works with this patch.

[2016-05-23 10:18] aemgtz opened #395 "dyld: Library not loaded: @rpath/libswiftAVFoundation.dylib"
When launching with Xcode7.3

[2016-05-23 10:21] mohpor commented on #395
@aemgtz Are you using Material in an objective-c project?
if that's the case please follow this answer to resolve your issue: [dyld: Library not loaded: @rpath/libswiftCore.dylib](http://stackoverflow.com/a/26949219/2584090)

[2016-05-23 13:05] zgosalvez commented on #386
@mohpor Your fix works for my actual project. 😀 Awesome! Excited for the official patch release. Thanks, man.

[2016-05-23 14:13] mohpor commented on #386
Glad it helped.
There will be an appropriate fix for it ASAP.

[2016-05-23 15:49] tbergeron commented on #391
Incredible! Thanks @mohpor, that's very logical and explains perfectly why it was happening. It's now working smoothly!

[2016-05-23 17:08] danieldahan commented on #386
Thank you @mohpor :) And the fix will be out latest tomorrow morning.

[2016-05-23 17:08] #386 closed

[2016-05-24 21:01] chashmeetsingh opened #398 "SideBar Controller doesn't work"
I copied the files and I am getting the table view with items
its o'clock doesn't open up another view

[2016-05-24 21:47] danieldahan commented on #398
Would you mind sharing your setup code?

[2016-05-25 09:21] chashmeetsingh commented on #398
https://github.com/chashmeetsingh/MaterialApp

[2016-05-25 09:46] mohpor commented on #398
@chashmeetsingh I have tested your sample project.
You are using `sideNavigationController` which is not initialized! in fact, those optional are `nil` when you are calling transition methods on them.
Please follow the App form examples to see how sideNavigation must be used.
Cheers,
M.

[2016-05-25 13:27] jeandavid opened #399 "MaterialSwitch breaks tableview"
I have a paginated tableview. Each cell includes a MaterialSwitch.
When I fetch more items from the server and appends them to previously
loaded items, tableView.reload() breaks.

It complains about func animateToState(...) in the MaterialSwitch class. See screenshot.

<img width="1414" alt="screen shot 2016-05-25 at 4 20 52 pm" src="https://cloud.githubusercontent.com/assets/3328783/15541506/7891

[2016-05-25 13:45] mohpor commented on #399
@jeandavid do you have a global Exception breakpoint? if so, could you disable it for now to see what's causing this to break?

[2016-05-25 13:55] jeandavid commented on #399
@mohpor I have removed all breakpoints. It breaks here:

<img width="1426" alt="screen shot 2016-05-25 at 4 52 23 pm" src="https://cloud.githubusercontent.com/assets/3328783/15542432/6fa8ba52-2299-11e6-8f20-bd4a6de1959b.png">

[2016-05-25 13:59] mohpor commented on #399
I guess I know what's causing this. I will investigate some more and get back to you ASAP. Thanks for reporting this.

[2016-05-25 16:33] danieldahan commented on #398
I think I am missing something. When I looked at your sample app, it was an incomplete copy of the example project. There isn't any code in the AppDelegate launching the application, as well, I don't see any setup in your Main.storyboard. Please try again, following the example project, if the problem still persists, feel free to reopen or create a new issue. Thank you!

[2016-05-25 16:33] #398 closed

[2016-05-25 16:35] danieldahan commented on #399
I believe the issue is the unowned self, this should be moved to a weak reference. Thank you, we will make the change.

[2016-05-25 21:57] chashmeetsingh opened #400 "TextField(password) marker is not placed correctly with respect to the text."
![img_0072](https://cloud.githubusercontent.com/assets/8962264/15557567/a169d4a6-22f1-11e6-9d95-7310f7037d4b.PNG)
![img_0071](https://cloud.githubusercontent.com/assets/8962264/15557569/a234af14-22f1-11e6-935d-0116bf32adf0.PNG)

[2016-05-26 12:38] chashmeetsingh commented on #400
please help me fix this https://github.com/chashmeetsingh/Material-Toolbar
I am getting issues

[2016-05-26 15:24] danieldahan commented on #400
I have tested your example app that you shared in the link. It doesn't seem to be setup correctly. You are trying to use NavigationItems in a Toolbar. That won't work. Try following the example project in Storyboards, which shows how to use a Toolbar and Storyboards together.

[2016-05-26 19:08] danieldahan commented on #399
This is now fixed in release 1.41.3, and is being release today. I will close this issue when it is released.

[2016-05-26 19:09] danieldahan commented on #400
This is now fixed in release 1.41.3, and is being release today. I will close this issue when it is released.

[2016-05-26 19:34] danieldahan commented on #400
released [1.41.3](https://github.com/CosmicMind/Material/releases/tag/1.41.3)

[2016-05-26 19:34] #400 closed

[2016-05-26 19:34] danieldahan commented on #399
released [1.41.3](https://github.com/CosmicMind/Material/releases/tag/1.41.3)

[2016-05-26 19:34] #399 closed

[2016-05-26 20:44] danieldahan commented on #386
This is fixed in the latest release [1.41.3](https://github.com/CosmicMind/Material/releases/tag/1.41.3)

[2016-05-26 23:45] chashmeetsingh opened #404 "toolbar has no title member"
https://github.com/chashmeetsingh/testing.git

[2016-05-27 13:55] mohpor commented on #404
Could you elaborate more on the issue please?

[2016-05-27 14:01] chashmeetsingh commented on #404
<img width="898" alt="screen shot 2016-05-27 at 7 30 23 pm" src="https://cloud.githubusercontent.com/assets/8962264/15610161/7a776146-2441-11e6-8485-452c4d73c947.png">
@mohpor

[2016-05-27 14:04] mohpor commented on #404
What material version are you using? Have you updated to 1.41.3?

[2016-05-27 14:04] chashmeetsingh commented on #404
its 1.41.2

[2016-05-27 14:05] mohpor commented on #404
could you run a `pod update` and see what happens? Because I can see those properties in `1.41.3`

[2016-05-27 14:14] chashmeetsingh commented on #404
thanks! that worked but now another error
<img width="860" alt="screen shot 2016-05-27 at 7 42 28 pm" src="https://cloud.githubusercontent.com/assets/8962264/15610528/5b207e7a-2443-11e6-98ac-0da9a3a89826.png">

I have updated the repo with the current code
https://github.com/chashmeetsingh/testing.git

[2016-05-27 14:17] mohpor commented on #404
It's a whole another issue. If you don't mind, please close this issue, move to a new issue with a complete description of the circumstances, including how this `prepareToolbar()` is getting called.

Thanks.

[2016-05-27 14:18] chashmeetsingh commented on #404
sure

[2016-05-27 14:18] #404 closed

[2016-05-27 14:18] mohpor commented on #404
Plus, you can always use Material's [Gitter](https://gitter.im/CosmicMind/Material) channel to ask questions about implementations and unknown issues.

[2016-05-27 14:22] chashmeetsingh opened #405 "EXC_BAD_ACCESS while using toolbar"
<img width="860" alt="screen shot 2016-05-27 at 7 42 28 pm" src="https://cloud.githubusercontent.com/assets/8962264/15610666/13917e82-2444-11e6-8513-d88b98187198.png">

**Code used in view controller :**
https://github.com/chashmeetsingh/testing

    @IBOutlet weak var toolbar: Toolbar!

    override func viewDidLoad() {
        super.viewDidLoad()

        // Do any additional setup after loading

[2016-05-27 14:22] chashmeetsingh commented on #404
thanks for the info

[2016-05-27 14:54] #405 closed

[2016-05-28 05:45] chashmeetsingh opened #406 "add closeMenu() function trigger"
on clicking the menu button down having many other buttons shouldn't there be a functionality by which if we click somewhere else other than the buttons menu closes

[2016-05-28 15:54] ahusseini commented on #406
The method already exists.

If you're using MenuViewController use `closeMenu(completion: (() -> Void)? = nil)`

[2016-05-28 15:56] mohpor commented on #406
I guess what @chashmeetsingh is trying to achieve is something different, like touch outside to dismiss.

[2016-05-28 16:02] chashmeetsingh commented on #406
yes exactly @mohpor

[2016-05-29 04:48] danieldahan commented on #406
This is solved in [1.41.5](https://github.com/CosmicMind/Material/releases/tag/1.41.5) thank you @mohpor :)

[2016-05-29 04:48] #406 closed

[2016-05-30 17:25] joryacooper commented on #237
Are these issues fixed? Or still being worked on? Thanks

[2016-05-30 17:26] danieldahan commented on #237
I am currently working on them, and they shouldn't be long.

[2016-05-31 08:55] saipnc opened #410 "Side Navigation Controller Crashes"
When we navigate to different controllers from the side menu, randomly it crashes.  Could you, please suggest any fixes we have to make the app live and it is creating a problem? Please refer to the image.

<img width="971" alt="screen shot 2016-05-31 at 2 16 50 pm" src="https://cloud.githubusercontent.com/assets/2713981/15668947/6d6b2332-273b-11e6-8495-6d8292f13c4e.png">

[2016-05-31 10:20] mohpor commented on #410
@saipnc what version of Material you are using?

[2016-05-31 10:24] saipnc commented on #410
v1.40.1

[2016-05-31 10:26] mohpor commented on #410
v1.41.6 is the latest version, and it is a well known issue with older versions I guess. Could you upgrade to the latest version and see if it helps?

[2016-05-31 13:33] danieldahan commented on #410
In the version you are using, the reason it crashes is because of the 'unowned' self. In the latest version, all references like that were switched to 'weak'. Please upgrade to the latest, and if the issue persists let us know. Thanks for bringing this to our attention. :)

[2016-05-31 13:33] #410 closed

[2016-06-01 04:17] chashmeetsingh opened #411 "View Pager for tab bar"

[2016-06-01 04:18] chashmeetsingh opened #412 "Material Style Activity Indicator"

[2016-06-01 09:15] aemgtz opened #413 "What is the image size to create custom IconButton?"
I have tried to using custom image to create  IconButton.
It seems to produce ugly button.
![screen shot 2559-06-01 at 4 14 53 pm](https://cloud.githubusercontent.com/assets/276439/15704251/0689a1a0-2814-11e6-862a-cc1aa54369b1.png)
![screen shot 2559-06-01 at 4 14 57 pm](https://cloud.githubusercontent.com/assets/276439/15704252/06b99342-2814-11e6-9856-b192bf72951f.png)

[2016-06-01 09:16] aemgtz commented on #413
The red one is what it should be.
The blue on is creating by using IconButton

[2016-06-01 09:39] mohpor commented on #413
The image size should not be important. You can update you icon butt's image view to adapt to the button's size:

[code]

[2016-06-01 09:46] aemgtz commented on #413
![simulator screen shot jun 1 2559 be 4 44 03 pm](https://cloud.githubusercontent.com/assets/276439/15705141/2a946374-2818-11e6-8368-aac7065f22ff.png)

Thanks man

But I think my image is too large so, I need to resize the image for using  IconButton

[2016-06-01 09:46] mohpor commented on #413
that would be wise.

[2016-06-01 10:19] saipnc opened #414 "Need Google Material Design Bottom Sheets."
Hi,

We appreciate the efforts put in to develop this library, it would be great if you guys include latest google's bottom sheets.

Thanks :)

[2016-06-01 16:01] danieldahan commented on #414
Yeah, I will leave this up as I work on it.

[2016-06-01 16:01] danieldahan commented on #412
Sounds good to me :)

[2016-06-01 16:01] danieldahan commented on #411
Sounds good :)

[2016-06-01 16:27] akhilm3 opened #415 "Snackbar"
Thank you so much for working on this framework. I would love the addition of a snackbar. I even have an idea of how to make it.
1) make a black bar/ view
2) animate it popping up from the bottom
3) add buttons to the view
4) add materialpulse view everywhere

[2016-06-01 16:29] danieldahan commented on #415
Cool :) There is an example project that called ControlView that mimics the Snackbar. I think that a Snackbar component would be very handy. So we will keep this up as I make it.

[2016-06-01 16:32] akhilm3 commented on #415
@danieldahan  I added some more idea on how to tackle this in my first comment, please, if you can, check it out.

[2016-06-01 16:46] danieldahan commented on #415
@akhilm3 Yes, your suggestions are on track. The BarView which subclasses the ControlView offers all that you suggested with the mathematics to align everything built in :) I appreciate the ideas of how to approach the challenge.

[2016-06-01 16:57] akhilm3 commented on #415
I also would suggest that the buttons on the snackbar default to the global tint of the application in order to maintain UI consistency

[2016-06-01 16:58] danieldahan commented on #415
I need to add a feature that allows global setup like you described. Then Material can offer themes.

[2016-06-01 16:59] akhilm3 commented on #414
@saipnc  @danieldahan  Suggestion for this idea, why not just subclass UIAlertSheet and add PulseViews on top of it?

[2016-06-01 17:17] tianqiujie opened #416 "dyld: Library not loaded: @rpath/Material.framework/Material"
dyld: Library not loaded: @rpath/Material.framework/Material
  Referenced from: /Users/tian/Library/Developer/CoreSimulator/Devices/8C5F2D2E-8312-45B2-8678-4251AB92EEBA/data/Containers/Bundle/Application/1D6E6247-B4C1-469D-B441-B56F2925A3DC/xxx.app/xxx
  Reason: image not found

[2016-06-01 17:18] danieldahan commented on #416
Are you trying to load a sample project?

[2016-06-01 17:23] akhilm3 commented on #416
I also got this problem when I tried in console
`pod try 'Material'`
and I ran the project

[2016-06-01 17:24] danieldahan commented on #416
So if you are adding the framework to the example projects, you need to build and embed the framework. This should give you help, [Installation Tutorial](https://github.com/CosmicMind/Material/wiki). When you use CocoaPods, you will need the pod workspace open, otherwise it wont know where to find the framework.

[2016-06-01 17:30] akhilm3 commented on #416
`pod try` generates the sample project in a temporary directory. Maybe this is the cause of the problem?

[2016-06-01 17:34] danieldahan commented on #416
It could be. I don't use CocoaPods, so I am not sure. Generally what you need to do is:

1. Open the Material workspace found in the Examples directory.
2. Build the framework for iOS with the Generic Devices set, not simulator.
3. Go to the sample project you want to test.
4. Embed Material in the Embed binaries tab.
5. Run the sample project.

That should work.

[2016-06-01 17:34] danieldahan commented on #416
You should be able to find more help here, https://github.com/CosmicMind/Material/wiki/Installation.

[2016-06-01 18:10] danieldahan commented on #416
You should be able to solve the issue, if has not been already solved with the examples I directed you too. If you have any further issues, please reopen or create a new issue. Thanks!

[2016-06-01 18:10] #416 closed

[2016-06-01 18:27] JackoPlane opened #417 "Make pulseLayers accessible internally on MaterialPulseView"
I propose a change from

`public private(set) lazy var pulseLayers: Array<CAShapeLayer> = Array<CAShapeLayer>()`

to `public internal(set) lazy var pulseLayers: Array<CAShapeLayer> = Array<CAShapeLayer>()`

Our use case is subclassing `MaterialPulseView` and overriding `func touchesEnded(touches: Set<UITouch>, withEvent event: UIEvent?)` In an event of not wanting to call super on the touch event

[2016-06-01 19:52] danieldahan commented on #417
yes that could work. Give me a sec, let me see if I can do it now.

[2016-06-01 20:28] danieldahan commented on #417
Question, as we are looking to make this change. Why do you need the setter to be internal? Since the layers are essentially public? Are you trying to add and remove layers?

[2016-06-02 00:32] JackoPlane commented on #417
Here's a better example:

[code]

[2016-06-02 05:13] danieldahan commented on #417
Okay, I will be able to help you in the morning.

[2016-06-02 09:44] aemgtz commented on #413
Resizing image isn't a nice idea because my project has more than a hundred images.

[2016-06-02 09:48] aemgtz commented on #413
If creating IconButton programmatically ,it seem to be a perfect size.
If creating from Interface builder, The size will be wrong.
<img width="38" alt="screen shot 2559-06-02 at 4 46 05 pm" src="https://cloud.githubusercontent.com/assets/276439/15740962/8a1bc3cc-28e1-11e6-8642-6c1ec8a2680b.png">

[2016-06-02 09:52] aemgtz commented on #413
After
`contentMode = .ScaleAspectFit`
<img width="68" alt="screen shot 2559-06-02 at 4 51 59 pm" src="https://cloud.githubusercontent.com/assets/276439/15741117/5ab3b4cc-28e2-11e6-9c7e-e6c9e05c3530.png">

[2016-06-02 15:19] mohpor commented on #413
dear @aemgtz, from what I see, your button's insets are meddling with the size of your icons. You can change the content inset and the contentMode (`.ScaleAspectFill` for example) to see if you can improve the situation.

[2016-06-02 15:31] danieldahan commented on #413
@aemgtz well essentially all icons passed to IconButton are custom. The button has no idea where the image comes from. As for the sizing, we use 24, 48, 72 for @1x, @2x, and @3x.

[2016-06-02 16:49] danieldahan commented on #417
So we have been mulling this over and we are hesitant to make the change you are looking for. We don't get why you would want to suppress the touch event. Why not use a Tap Gesture for this, and leave the touches completely alone? The other option, and probably the best for you, is to subclass MaterialView and copy the minimal code used in the MaterialPulseView, to achieve what you want. You could

[2016-06-02 19:48] danieldahan commented on #417
I am going to close this issue for now. If you would like to share some code and describe what you are trying to accomplish, we are happy to help. The [Gitter](https://gitter.im/CosmicMind/Material) channel is great for that. Thanks for sending this out way.

[2016-06-02 19:48] #417 closed

[2016-06-02 19:50] danieldahan commented on #413
I am going to close this issue for now. I posted the sizes we use for buttons, and that should get you in the right direction. If you need any further help, please reopen or visit the [Gitter](https://gitter.im/CosmicMind/Material) channel. All the best!

[2016-06-02 19:50] #413 closed

[2016-06-05 05:22] rvrn22 opened #419 "Add CenterButtons option to Card View"
Currently Card View only has options for Left and Right buttons.
Add the option to specify CenterButtons too.
e.g. Add 3 buttons and space them equally.
<img width="185" alt="screen shot 2016-06-05 at 12 21 59 am" src="https://cloud.githubusercontent.com/assets/148105/15803749/8e4b9390-2ab3-11e6-81e4-514cb4f86f16.png">

[2016-06-05 14:54] Elqul opened #421 "how to hide BottomNavigationController"
hello,

how can i hide BottomNavigationController when i enter a new ViewController ?

[2016-06-05 16:03] danieldahan commented on #421
@mohpor I think you helped someone else with this recently, do you want to share a solution, or I can help out :)

[2016-06-05 16:15] mohpor commented on #421
@danieldahan will post a solution here soon.

[2016-06-05 17:28] Elqul commented on #421
and tabBarItem.badgeValue doesnt work either with BottomNavigationController . how to fix this ? @danieldahan

[2016-06-05 22:04] danieldahan commented on #421
@Elqul Hi, we have solved the problem and will make a release tomorrow, 1.42.0, with an example project.

[2016-06-06 18:02] akhilm3 opened #425 "Material Design Segemented Control"
Basically a square segmented control with material pulse layers and maybe a little indicator below it.

[2016-06-07 13:33] tianqiujie opened #426 "can not support bitcode ?"
can not support bitcode ?

[2016-06-07 13:49] #426 closed

[2016-06-07 14:51] Elqul commented on #421
a day later and still no updates :(

[2016-06-07 15:29] nhnam commented on #425
Vote for it :)

[2016-06-07 15:48] danieldahan commented on #421
Sorry about that. We discovered an issue with iOS, where the statusBar moves the entire NavigationBar up 20px. We didn't want to release until it was solved. So today we are working on it. Basically, your issue was because the NavigationController could not be detected by the window edges. This stopped the TabBar from being hidden. So it is all related in an interesting way.

[2016-06-07 15:50] danieldahan commented on #425
hello :) are you talking about [this](https://material.google.com/components/buttons.html#buttons-dropdown-buttons) look to the bottom where it says toggle buttons. If not, can you show us. Thank you!

[2016-06-07 16:37] philipposslicher opened #427 "Material Not Compiling"
No matter what I try, whenever I try to compile any app with material in it, I always get 66 errors in xcode pertaining to various Material files. I am not sure why this is happening. All these errors have to do with 'Expected , separator' or 'Expected expression in list of expressions'
Using Xcode Version 7.3 beta 3 (7D141l)

[2016-06-07 16:41] danieldahan commented on #427
Well I can't comment on beta xcode software, but what I can say, is try and follow these steps: https://github.com/CosmicMind/Material/wiki

[2016-06-07 16:45] philipposslicher commented on #427
I have tried doing those steps but same thing. This isn't an xcode issue I would believe as it has to do with the compiling stage, and the actual Swift code seems to be wrong, according to Xcode. Not sure though. Downloading non-beta as we speak just to make sure, even though I've been a forever beta user ;)

[2016-06-07 16:46] danieldahan commented on #427
Possibly, but that would be weird as I released an app two days ago, and am compiling and running the bleeding edge of Material. If you don't mind letting us know the result, that would be great! Thanks.

[2016-06-07 16:48] philipposslicher commented on #427
Will do! I am assuming that you are running 7.3.1 then. Waiting for those 3.8gb to download now....

[2016-06-07 16:50] danieldahan commented on #427
Yes I am. I stopped using Apple's beta software. I can't provide support to the mass on Xcode betas.

[2016-06-07 16:52] philipposslicher commented on #427
Makes sense, I don't develop stuff FOR xcode so I tend to use the beta anyways.

[2016-06-07 18:25] danieldahan commented on #427
I don't either.. I develop with xcode.

[2016-06-07 18:25] danieldahan commented on #427
Did this manage to work for you?

[2016-06-08 02:12] nhnam commented on #425
Yeah, we can use it instead. Thanks Daniel !

[2016-06-08 02:19] danieldahan commented on #427
As I haven't heard from you, I am going to close this issue. If you have any further questions, please send them our way. Thank you!

[2016-06-08 02:19] #427 closed

[2016-06-08 05:33] ndlinh commented on #315
I got the same problem

[2016-06-08 05:36] danieldahan commented on #315
Do you have a background color set on the view controller you are pushing?

[2016-06-08 05:36] mohpor commented on #315
@ndlinh as @danieldahan has mentioned before, it normally means one of the view controllers involved in the transition, has a transparent background. Can you confirm that it's not true in your case?

[2016-06-08 08:15] philipposslicher commented on #427
Sorry, time zone differences, went to sleep, had to redownload xcode. It finally works now.

[2016-06-08 13:33] akhilm3 commented on #425
@danieldahan  You are indeed correct.

[2016-06-08 15:17] akhilm3 commented on #415
@danieldahan Do you know when the snackbar will be released?

[2016-06-08 15:42] philipposslicher opened #429 "Help wanted with use of Material"
So now that Material compiles, and I have used it a little, I am noticing that I am not really sure how to use it. I've used the wiki and the examples but they don't really seem to work. Could someone explain, lets say how to make a toolbar with a burger button, or something like that, as I'm not really sure how to do this. I have also noticed that documentation is a little bit lacking, and could

[2016-06-08 15:44] danieldahan commented on #429
Yes documentation is being worked on this month. Have you had a chance to take a look at these example projects: https://github.com/CosmicMind/Material/tree/master/Examples.

[2016-06-08 15:45] danieldahan commented on #429
Also, let's move this to [Gitter](https://gitter.im/CosmicMind/Material).

[2016-06-08 15:45] #429 closed

[2016-06-08 15:46] philipposslicher commented on #429
First of all. I really love how your reply so fast, this is almost unheard of. THANK YOU.
As I said, I have tried the Examples but none of them really seem to work. They just have projects with empty views in them for me.

[2016-06-08 15:48] danieldahan commented on #429
No worries, for our discussion though, the channel is best. As this will create noise for watchers.

[2016-06-08 16:28] danieldahan commented on #415
Not long. We are tackling a big release for today. So, once that is done, it is all feature requests and documentation for me

[2016-06-08 23:31] danieldahan commented on #427
Wonderful and no worries, so long as you are up and running :)

[2016-06-09 07:51] mohpor commented on #425
@danieldahan, @akhilm3  Can we safely close this issue then?

[2016-06-09 07:52] mohpor commented on #421
@Elqul the imminent release will solve your problem :)
Thanks for your Patience.

[2016-06-09 13:05] akhilm3 commented on #425
@mohpor We can add a [Feature Request] tag to this and then leave it open

[2016-06-09 17:27] danieldahan commented on #425
The tag has been added, and yes, I would prefer to leave this open so we can discuss further on this thread.

[2016-06-10 00:29] akhilm3 opened #433 "Material Design Dialogs"
In accordance to issue #414 , I suppose that a brand new 'MaterialAlertController' be made which will create a new  alert dialog as well as a new alert sheet.

A suggestion would be an alert controller that displays a cardView (without pulses) and bottom buttons (with pulses)

@danieldahan If you can, i would love this with the next release (if possible)

[2016-06-10 11:52] satyamub opened #434 "No Such module error"
Hi All,

I am trying to see the implemention and not able to see this because of  "no such module" error.

I have tried the steps given in Issue https://github.com/CosmicMind/Material/issues/122 but with no help.

Please help me out. I am not creating any new project, just using the example Material

[2016-06-10 11:53] mohpor commented on #434
@satyamub
I hav

[2016-06-10 12:12] chashmeetsingh commented on #434
Steps:
- Clone the repo
- Open Examples/Material.xcworkspace
- Select the app u want to run
- Add Material.framework in embedded binaries for that project
- Hit Run

[2016-06-10 13:06] chashmeetsingh commented on #434
@satyamub did it work?

[2016-06-10 13:13] chashmeetsingh opened #435 "Toast Messages"
Toast messages with short and long duration as in android

[2016-06-10 13:18] akhilm3 commented on #435
@chashmeetsingh Let us also add the ability to change the color of the toast with a `color:UIColor` specifier.
P.S @danieldahan  This could also be apart of the MaterialAlert Controller I have been talking about for a while

[2016-06-10 13:21] chashmeetsingh commented on #435
hmm colours will be nice @akhilm3

[2016-06-10 13:25] chashmeetsingh commented on #435
I am thinking to implement this myself and send a PR :)

[2016-06-10 13:28] satyamub commented on #434
@chashmeetsingh  No sir jee... did not work

[2016-06-10 13:30] chashmeetsingh commented on #434
whats the error?

[2016-06-10 13:38] danieldahan commented on #435
Sounds wonderful, we are here to help :)

[2016-06-10 14:57] danieldahan commented on #433
The next release is about updates to Layout and hiding the BottomNavigationController. This will be added soon though :) It has been asked for many times and finally I am getting time to do it.

[2016-06-10 15:11] leobouilloux opened #436 "Toolbar right items are not shown"
Hi!

I have a problem using your toolbar component.
It occurred since I've update your framework to version 1.41.8 (the last update atm).
For the moment, I went back to 1.41.6 and my right control is displayed correctly.

Maybe I'm not using it correctly.
Just in case, here is my code:
[code]

[2016-06-10 15:14] danieldahan commented on #436
Hi :)

What is shareView?

[2016-06-10 15:18] leobouilloux commented on #436
Here it is:
[code]
view is the default UIViewController view

[2016-06-10 15:21] chashmeetsingh commented on #436
the problem is I suppose you should add subview at the end ?

[2016-06-10 15:22] danieldahan commented on #436
If he doesn't add SubView prior to using MaterialLayout, it will crash, because the view is not added to the hierarchy when trying to calculate the layouts.

[2016-06-10 15:23] mohpor commented on #436
@leobouilloux Hi :)
 could you elaborate more on the issue you're having?

[2016-06-10 15:25] chashmeetsingh commented on #436
@danieldahan I meant in prepareToolbar()

[2016-06-10 15:36] danieldahan commented on #436
@chashmeetsingh good point.

[2016-06-10 15:42] leobouilloux commented on #436
BTW I noticed that a problem occurs with the example in the sample solution:
Sample project Toolbar code:
[code]
![simulator screen shot 10 jun 2016 17 24 59](https://cloud.githubusercontent.com/assets/1726316/15969572/f4b2b6aa-2f30-11e6-9fd2-f2de0bf6db88.png)
![simulator screen shot 10 jun 2016 17 25 17](https://cloud.githubusercontent.com/assets/1726316/15969576/f8d09ef0-2f30-11e6-808f-83675c24a

[2016-06-10 15:43] danieldahan commented on #436
I s this with the latest changes? 1.41.8

[2016-06-10 15:45] leobouilloux commented on #436
The close button was no longer displayed when I updated to 1.41.8.
The last screenshot is version 1.41.6

[2016-06-10 15:46] chashmeetsingh commented on #436
@danieldahan he's right the example toolbar right alignment is not getting applied (checked in the example)

[2016-06-10 15:56] danieldahan commented on #436
There is a verified bug here. It shall be fixed. Thank you!

[2016-06-10 15:58] chashmeetsingh commented on #436
same with dev branch (view.layout) update causing an error

[2016-06-10 15:59] danieldahan commented on #436
@chashmeetsingh that's because the call is incomplete. It needed to be updated.

[2016-06-10 15:59] chashmeetsingh commented on #436
ok! thanks :)

[2016-06-10 15:59] mohpor commented on #436
This is simply solvable by setting a Frame for your toolbar.

for example:
`toolbar = Toolbar(frame: CGRect(x: 0, y: 0, width: shareView.bounds.width, height: 32.0))`

[2016-06-10 16:01] danieldahan commented on #436
Yes, but there is a regression here and it should be fixed.

also @chashmeetsingh this is the updated line

[code]

[2016-06-10 16:02] chashmeetsingh commented on #436
thanks for the info @danieldahan 👍

[2016-06-10 16:09] leobouilloux commented on #436
Thank you very much for your help, I'll use your suggestions 👍

[2016-06-10 16:42] danieldahan commented on #436
This has been solved and will be fixed in the next release. I will leave the issue up until that release. Once again, thanks for bringing it to our attention.

[2016-06-14 04:08] danieldahan commented on #436
Hi, sorry for the delay, please try [1.42.0](https://github.com/CosmicMind/Material/releases/tag/1.42.0) for a fix. If the issue persists, please reopen or create a new issue. Thank you!

[2016-06-14 04:08] #436 closed

[2016-06-14 04:08] danieldahan commented on #434
Hi, sorry for the delay, please try [1.42.0](https://github.com/CosmicMind/Material/releases/tag/1.42.0) for a fix. If the issue persists, please reopen or create a new issue. Thank you!

[2016-06-14 04:08] #434 closed

[2016-06-14 04:08] danieldahan commented on #421
Hi, sorry for the delay, please try [1.42.0](https://github.com/CosmicMind/Material/releases/tag/1.42.0) for a fix. If the issue persists, please reopen or create a new issue. Thank you!

[2016-06-14 04:08] #421 closed

[2016-06-14 06:41] GreyEcologist opened #438 "ToolBar leftControls"
is there a way to vertically center the leffControls/rightControls buttons as to make them appear in the center and not towards the bottom of the ToolBar?

[2016-06-14 06:52] danieldahan commented on #438
Sorry, I don't fully get your question. You are asking about vertically aligning the buttons in the center position, and not be towards the bottom of the Toolbar? Do you mind sharing a drawing of what you are looking for.

[2016-06-14 07:14] GreyEcologist commented on #438
I'd like the hamburger and the search FlatButtons to align with the logo in the center of the Toolbar below:

![screen shot 2016-06-14 at 12 12 28 am](https://cloud.githubusercontent.com/assets/1141963/16034123/d11a8ec0-31c4-11e6-9a52-724afda40c2d.png)

[2016-06-14 07:18] danieldahan commented on #438
yes, you can make that happen. Are you using a ToolbarController, or Toolbar?

[2016-06-14 07:21] danieldahan commented on #438
Tomorrow, I will make an adjustment for you that will make this much easier. I am about to sign off for the night.

[2016-06-14 07:22] GreyEcologist commented on #438
Thanks, I appreciate that. FYI, I'm using a Toolbar as below:
[code]

[2016-06-14 07:24] danieldahan commented on #438
Where are you adding the image?

[2016-06-14 07:46] GreyEcologist commented on #438
the setImage() methods contain the image, the R.image thing is just a library to keep track of images. I saw the change in alignment happening when I moved to 1.41.8 from 1.41.2.

[2016-06-14 18:37] GreyEcologist opened #439 "Transition Issue with NavigationDrawerController"
Hey, I'm running into a new issue since updating to 1.42.0 where my custom transition turns the detailViewController to black.

I have SideNavigationController/NavigationDrawerController set in my AppDelegate:

[code]

In my MasterViewController I call presentViewController to move to DetailViewController:
[code]

with the custom transition below:

[code]

With the changes of 1.42.0 the DetailView

[2016-06-14 18:45] danieldahan commented on #439
Its black actually for a different purpose, and could be any color really. I could default it to white, I think that would be better. There needs to be a color though, because the statusBar hides in a different way now. Basically it updates window levels and goes behind the contentViewController. The previous statusBar hiding had too many cases where it wouldn't work if not setup in a specific con

[2016-06-14 18:57] GreyEcologist commented on #439
Ok, that makes sense. Then there's no issue, I just set up the contentViewController as such and that fixes it for me:

[code]

Thanks for the quick replies!

[2016-06-14 18:58] danieldahan commented on #439
Sweet, then I shall close this issue. Thank you!

[2016-06-14 18:58] #439 closed

[2016-06-14 19:11] GreyEcologist commented on #438
Hey Dan, I found a way to set those elements. All good here!

[code]

[2016-06-14 19:11] #438 closed

[2016-06-14 21:20] danieldahan commented on #438
Sweet! I am going to document Grid in the next few days. That should help you, as Grid is the layout tool used in most of Material. Have you checkout this out [Layout](http://www.cosmicmind.io/material/layout), which is a really easy AutoLayout tool. All the best!

[2016-06-15 00:41] egfconnor opened #440 "Center detail label in CardView"
I have a CardView that I am setting a title to and also a detail view. The title is fine being centered with NSTextAlignment.Center but I need the detail label to be centered by sizing the UILabel to fit it's contents, and then centering it's whole view inside the CardView horizontally while still being left justified.

My code currently is:

        let cardView: CardView = CardView()
        car

[2016-06-15 10:07] Sorix opened #441 "Library not loaded: @rpath/libswiftAVFoundation.dylib"
Trying to load any example app ends with crash (opened Examples/Material.xcworkspace). Xcode 7.3.1, clean performed.

[code]

[2016-06-15 10:12] Sorix commented on #441
Issue resolved, I haven’t followed: https://github.com/CosmicMind/Material/wiki/Installation

[2016-06-15 10:12] #441 closed

[2016-06-15 18:59] chashmeetsingh commented on #441
No this is an issue I have confirmed this you were are using an older version that's why u can't find it anymore @danieldahan u need to look into this

[2016-06-15 19:08] danieldahan commented on #441
Hey, Clear your project and clean your derived data. Thank you will solve this.

[2016-06-15 19:10] danieldahan commented on #440
Hi,

You could make a container view and add that to the cardView.contentView. That container view will be dynamically sized by the cardView. Within there you can do what you like. So sizing the label can be done however you please.

Let me know if that works for you :)

[2016-06-15 19:12] egfconnor commented on #440
@danieldahan alright I had tried that but ran into issues with the container view overflowing outside the CardView's bounds and couldn't figure out how to solve that. I'm a little new to iOS's layout system so I probably should just go do some reading.

[2016-06-15 19:16] danieldahan commented on #440
Have you seen this [example](https://github.com/CosmicMind/Material/tree/master/Examples/Programmatic/CardView) project, and this snippet in particular?

[code]

Also, read up on this, [Layout](http://www.cosmicmind.io/material/layout), which will make the layout system so much easier for you in iOS.

[2016-06-15 19:19] danieldahan commented on #440
I think that part of the issue is in how you are adding the cardView. If you would like, send me a sample project to support@cosmicmind.io and I will see if I can help you from there.

[2016-06-15 19:30] egfconnor commented on #440
@danieldahan thank you very much. I'll work on getting you that either tonight or tomorrow.

[2016-06-15 19:39] danieldahan commented on #440
Cool, I will close this issue then, and after you send it, follow up here on [Gitter](https://gitter.im/CosmicMind/Material). Thanks :)

[2016-06-15 19:39] #440 closed

[2016-06-16 09:05] kaich opened #442 "pods products io.cosmicmind.material.icons.bundle is empty"
When I update material in my project, All icons don't load. Is it a bug in new version ?

[2016-06-16 09:30] urizev opened #443 "Allow configure SideNavigationController from StoryBoard"
Hi everyone,

I would like to add a SideNavigationController just using the StoryBoard. I have some modifications made on SideNavigationController.swift code.

[code]
I works but I'm afraid it is not the best approach.

I have not much knowledge at this point so that I didn't dare to make a pull request. Maybe it would be better if the viewcontrollers are specified with segues.

Thanks.

[2016-06-16 15:32] levuhai opened #444 "Replacing rootviewController of drawer"
After updating to the latest code, I use this code to change the top viewcontroller of drawerController when clicking to a row in leftView

`if let v: NavigationController = navigationDrawerController?.rootViewController as? NavigationController {
            v.pushViewController(main, animated: true)
            navigationDrawerController?.closeLeftView()
 }`

However, backbutton always appears.

[2016-06-16 17:44] danieldahan commented on #442
What version of cocoapods are you running? If it is the latest, try cleaning your build folder and clearing derived data. We found that cocoapods had a caching issue with the latest 1.0.

[2016-06-16 17:45] danieldahan commented on #443
This is a specific need, especially with the naming you have chosen, Main and Left. So subclassing it and providing customizations is best, and the approach we hope people would take in these kind of situations. So is it working for you then?

[2016-06-16 21:06] ahusseini opened #445 "Toolbar alignment issue when detailLabel is empty"
Hello Daniel,

When setting the toolbar's detail attribute to an empty string it still has a height of 10pt, so the title is not vertically in alignment with the toolbar's buttons.

![toolbar1](https://cloud.githubusercontent.com/assets/6011755/16133094/201ba6a0-33e4-11e6-9991-b051607b7d54.png)

[2016-06-16 21:08] danieldahan commented on #445
set the detail value to nil, an empty string is still considered a string. This may be unintuitive. So it should consider that case as well.

[2016-06-16 21:11] ahusseini commented on #445
that worked, thank you!

[2016-06-16 21:16] danieldahan commented on #445
The empty string case will be handled like having a nil value. I will close this issue when it is released later today. Thank you!

[2016-06-17 01:32] kaich commented on #442
@danieldahan The version of pod is 0.39.0. I clean all and delete derived data , but it is still empty.
![2016-06-17 9 26 25](https://cloud.githubusercontent.com/assets/5013020/16138191/a52fabd2-346d-11e6-9243-d5aa3e29821c.png)

I found the old material  don't use `Assets.xcassets`. It works fine. Is there any suggestion ?

[2016-06-17 03:51] danieldahan commented on #442
You should update to the latest cocoapods and then clean your build folder and delete your derived data. Material supports the latest from CocoaPods. To update, you may be able to do it as easily as:

[code]

[2016-06-17 05:14] danieldahan commented on #445
The fix should be in [1.42.2](https://github.com/CosmicMind/Material/releases/tag/1.42.2). Thank you for bringing this to our attention. All the best :)

[2016-06-17 05:14] #445 closed

[2016-06-17 05:20] danieldahan commented on #444
The fix should be in [1.42.2](https://github.com/CosmicMind/Material/releases/tag/1.42.2). Thank you for bringing this to our attention. All the best :)

As for donations. I never really thought of that, so don't feel any pressure. If you did donate, I'd be happy with a cup of coffee :) The only way I can accept money at the current time is through paypal, with email: dahan.daniel@me.com.

[2016-06-17 05:20] #444 closed

[2016-06-17 05:21] danieldahan commented on #443
I am closing this issue, if you would like, please send a project to support@cosmicmind.io and join the [Gitter](https://gitter.im/CosmicMind/Material) channel to discuss project specific help. All the best :)

[2016-06-17 05:21] #443 closed

[2016-06-17 05:22] danieldahan commented on #442
I am closing this issue, if you find it continues to persist, please reopen or create a new issue. Also, joining [Gitter](https://gitter.im/CosmicMind/Material) is an easy way to get help :)

[2016-06-17 05:22] #442 closed

[2016-06-17 10:57] levuhai opened #446 "weird animation of navigation bar when transitioning rootviewcontroller of drawer controller"
Can you please check this weird animation when transitioning rootviewcontroller of drawer controller by using the following code? Navigationbar of the replacing controller slide down over the previous controller.

if let v: NavigationController = navigationDrawerController?.rootViewController as? NavigationController {
            switch item.text  {
            case "Orange":
            **naviga

[2016-06-17 14:11] tianqiujie opened #447 "The example code is wrong!"
int the ToolBar project, it should be
view.layout(containerView).edges(top: 0, left: 0, bottom: view.frame.size.height - toolbar.height, right: 0)

[2016-06-17 14:47] jbaez opened #449 "Memory leak by strong reference cycle in Material Switch"
#448

[2016-06-17 16:19] danieldahan commented on #447
I don't see how the sample is wrong. The sample is meant to show you how you can put a Toolbar in a container view of any size and it will fit. If you want to see another example, or feel that this is incorrect. Please reopen or create a new issue. Thank you!

[2016-06-17 16:19] #447 closed

[2016-06-17 16:24] #449 closed

[2016-06-17 16:32] JRG-Developer opened #450 "1.42.2 Regression: FabButtons are no longer circular when added via storyboard"
On commit with tag `1.42.2`, `FabButton`s are no longer circular when added via storyboard.

I noticed the commit for this tag removes the call to `prepareView()` from `init?(coder:)` initializer on `MaterialButton`, which appears to the cause of this issue.

I wanted to confirm: this isn't intentional for some reason, right?

[2016-06-17 16:33] danieldahan commented on #450
That is a regression. I will post a fix for it now with the release I am doing.

[2016-06-17 16:34] JRG-Developer commented on #450
Cool, thanks!

[2016-06-17 17:15] danieldahan commented on #450
Thank you and the release is available [1.42.3](https://github.com/CosmicMind/Material/releases/tag/1.42.3). If the issue persists, please reopen or create a new issue. Thank you!

[2016-06-17 17:15] #450 closed

[2016-06-17 17:19] danieldahan commented on #446
Yeah, I looked into this. It is weird. It has to do with the animation in the transition. You could avoid it in two ways.

1. Set the transition animation to duration 0.
2. Use a ToolbarController.

I will look into this further, generally, it is due to the animation of the frame size change in the NavigationBar.

To better discuss this issue if you like, use [Gitter](https://gitter.im/CosmicMind/

[2016-06-17 21:13] wm-j-ray opened #451 "xCode 8 Swift 2.3 support timeline"
Could you tell me when this might be available?

[2016-06-17 23:14] adhiravishankar opened #452 "Left and RightViewController are nil"
When preparing the view for the second time, the side never gets re-enabled like its supposed to.

Take for example:

if nil == leftViewController {
			enabledLeftView = false
			enabledLeftPanGesture = false
			enabledLeftTapGesture = false
		} else if nil == leftView {
			leftViewWidth = .iPhone == MaterialDevice.type ? 280 : 320
			leftView = MaterialView()
			leftView!.frame = CGRectMake(0, 0,

[2016-06-17 23:37] danieldahan commented on #452
Yes, I noticed a race condition in certain situations with the refactor. I am going to look into it now.

[2016-06-18 00:12] danieldahan commented on #452
This should fix the issue [1.42.4](https://github.com/CosmicMind/Material/releases/tag/1.42.4). Let me know :) Thanks for bringing this to our attention.

[2016-06-18 00:12] #452 closed

[2016-06-18 00:27] danieldahan commented on #451
I will be working on it this weekend, with aims to update the v2.x.x branch for Monday, latest Tuesday.

[2016-06-18 01:08] wm-j-ray commented on #451
Yay!!

On Jun 17, 2016, 8:27 PM -0400, Daniel Dahan<notifications@github.com>, wrote:

[2016-06-18 12:30] danieldahan commented on #451
:) I am going to leave this issue up until I am done.

[2016-06-20 07:46] AhmettKeskin commented on #218
Hey Daniel, i figured out smth. like this issue. My app orientation is full portrait but you set videoOrientation with UIDevice orientation. So even my app is portrait because of device orientation, sometimes captureView orientation would be landscape. And occurs a weird view

I dont know even its an issue i mean it's nature usage of camera should be what u did. But like my apps if app force one o

[2016-06-20 12:11] danieldahan commented on #218
Yes! I found that issue as well. I will make a fix. Where did you place that line of code?

[2016-06-20 13:19] AhmettKeskin commented on #218
I placed it in viewDidLoad where i used captureView. It was a quick solution but i can not be sure its good one :/

[2016-06-20 13:22] danieldahan commented on #218
No worries, I have been meaning to revisit the entire capture view , so I will take this as a queue to do so :)

[2016-06-20 13:24] ariedoelman opened #453 "Swift 3.0 compliant"
Make Material Swift 3.0 compliant. Maybe as a separate branch?

[2016-06-20 14:44] danieldahan commented on #453
Yes, it will be a separate branch. I am doing 2.3 and then 3. Let's leave this up for now. I would aim to have ti done for the end of the week.

[2016-06-21 17:06] danieldahan commented on #451
Hey! I am finishing some iCloud integration with Graph. Once I am done, I can complete this update. Thanks!

[2016-06-23 13:12] AhmettKeskin opened #454 "CaptureView microphone Permission"
Hey Daniel,

I'm using captureView for taking photos and its ok to ask camera permission. But microfon permission also comes with it. I digged library but couldn't find any permission request for camera or microfon. I added requesting permissions but yours comes automaticly. Is there any chance binding permissions to boolean or a different solution ? Because i do not want to microfon permission fr

[2016-06-23 16:27] danieldahan commented on #454
Hey! Yes, I am finishing up iCloud support in Graph, and then will be able to look into this. Generally, I am rewriting the entire CaptureView library to be more robust. I think this is a good starting point. Thank you!

[2016-06-24 17:09] joryacooper commented on #237
Sorry to bother but any updates on this? Thanks for everything.

[2016-06-24 17:10] danieldahan commented on #237
You are not bothering me. I am finishing iCloud support for Graph tonight. Then I am going to work on Capture and Editor. Capture is for camera/video and Editor, is the TextView. So it should be soon.

[2016-06-27 21:59] ggomez1728 opened #455 "Problem use CardViews"
when run the example have error

        view.layout(cardView).top(100).left(20).right(20)
say UIView has not member layout

please help me

[2016-06-27 22:05] danieldahan commented on #455
How have you included the Material framework ?

[2016-06-27 22:16] ggomez1728 commented on #455
I'm noob in iOS and use pods. installed pack in my new proyect in Podfile include and install pod

[code]

but when copy the example TableCardExample and buld proyect, this give me error in  line

`        view.layout(cardView).edges(left: 10, right: 10, top: 100, bottom: 100)
`
compiler say: Value of type 'UIView' has not member 'layout'

Please help me
:(
I like your job..

[2016-06-27 22:18] danieldahan commented on #455
Did you place the `import Material` statement at the top of the file. Also, checkout the Examples projects.

[2016-06-27 22:23] ggomez1728 commented on #455
Yes i did, I ran  some examples but  this example has error :(

[2016-06-27 22:26] danieldahan commented on #455
Which example? The one in your comments, or a certain project? Basically, I am looking to reproduce the issue. Can you send an example project with the issue to support@cosmicmind.io?

[2016-06-27 23:00] ggomez1728 commented on #455
I did send you the mail the project

[2016-06-27 23:21] danieldahan commented on #455
Cool, I will look at it :) Thank you! You should hear from me very soon.

[2016-06-28 15:29] danieldahan commented on #455
So the issue is: the version of Material that you are using is not up to date. Make sure you are running this version [1.42.6](https://github.com/CosmicMind/Material/releases/tag/1.42.6). If you continue to face issues, or need any help, please reopen or create a new issue. Thank you!

[2016-06-28 15:29] #455 closed

[2016-06-29 08:18] yjbro commented on #453
Would really appreciate an update for Swift 3. Eagerly waiting :p

[2016-06-29 08:20] danieldahan commented on #453
Soon enough :) Testing iCloud support in Graph, and then I am back on to a bunch of Material updates, including this.

[2016-06-29 08:20] danieldahan commented on #453
I am to have iCloud support done in the next day.

[2016-06-30 12:40] Sufi-Al-Hussaini opened #456 "TextField misplaced placeholder (RTL)"
Hey Daniel,

First off, thanks for this cool project!

I find that `TextField` placeholders are misplaced for RTL scripts.
Is there a workaround I could use currently?

![TextField misplaced placeholder (RTL)](https://s31.postimg.org/kum831op7/Simulator_Screen_Shot_Jun_30_2016_4_39_28_PM.png)

[2016-06-30 16:15] danieldahan commented on #456
Thank you :)

Can you share with me the setup code. If you set the `textField.textAlignment` it should align everything for you.

[2016-06-30 18:58] Sufi-Al-Hussaini commented on #456
The screenshot above is from the `Storyboards -> TexField` example. Here's the code:

[code]

I tried setting its `textAlignment` to `.Natural` but it didn't work. It does work with `.Right` though.
Currently, I'm subclassing `TextField` and using the following code, and it's working for me.

[code]

Is this the right thing to do?

[2016-06-30 19:02] danieldahan commented on #456
Yes, I would use the .Right or .Left, not .Natural. I am treating .Natural like .Left right now. I could update that, but for now that is what is happening. Subclassing is perfectly fine. Your code looks like it is doing the right thing. Another option though, which could save you some code, is to do this:

[code]

[2016-06-30 19:04] danieldahan commented on #456
Generally though, I think we could add the code you are adding internally to help with this issue and solve the problem for everyone.

[2016-06-30 19:18] Sufi-Al-Hussaini commented on #456
Thanks a lot for your help @danieldahan .

[2016-06-30 19:23] danieldahan commented on #456
Thank you for the PR :)

I updated it to look like this:

[code]

I will release as soon as I am home. Thanks again! I will close the issue then.

[2016-06-30 19:32] Sufi-Al-Hussaini commented on #456
You're welcome. :)
Sure, please do...

[2016-06-30 20:57] danieldahan commented on #456
Released :) [1.42.7](https://github.com/CosmicMind/Material/releases/tag/1.42.7). Thank you!

[2016-06-30 20:57] #456 closed

[2016-07-01 14:39] TNikolai opened #458 "Impossible disabling swipe gestures recognizers. (aka removeGestures method is PRIVATE)"
The problem caused by enabled gesture recognizers from sideNavigation, I pushed new one viewController on which i have priceRange when i want swipe I cant because gestures was catched by Sidenavigation.

I resolved this on local version setting two methods from private to public

	 public func removeGestures() {
		if let v: UIPanGestureRecognizer = panGesture {
			view.removeGestureRecognizer(v)

[2016-07-01 15:09] danieldahan commented on #458
If you are using the latest version. There are enable properties you can set.

For example

[code]

and so forth. Give those a try, and let me know how it goes. Thank you!

[2016-07-01 15:32] TNikolai commented on #458
I use version 1.39 and in this version i have not this property : navigationDrawerController.
.

[2016-07-01 15:36] danieldahan commented on #458
Yes currently Material is at version 1.42.7. I believe I added the enable handler in 1.40.*. Personally I would update to the latest. So many fixes have been made.

[2016-07-01 15:45] danieldahan commented on #458
The NavigationDrawerController is the new name for the SideNavigationController.

[2016-07-01 15:48] TNikolai commented on #458
Mhm now i installed new pod version and i see enabledLeftPanGesture.

[2016-07-01 15:49] TNikolai commented on #458
So it solved issue! thx.

[2016-07-01 15:49] danieldahan commented on #458
:) awesome! Thank you

[2016-07-01 15:49] #458 closed

[2016-07-01 23:08] Matungos commented on #375
I'm having this issue now. On simulator and on a device too.

[2016-07-02 01:08] danieldahan commented on #375
@marungos please share your setup code and what version of Material you are using. Thank you

[2016-07-02 05:01] Matungos commented on #375
I'm using version 1.42.7
I've added the FabButton via Storyboard with constraints height = 56 and width = 56

My prepareFabButton called in viewDidLoad is:
[code]

The workaround suggested works fine:
[code]
but I would like to have a workaround-free code.

This could be a clue: on first tap on the button, the square shadow makes an animation shrinking and rotating counterclockwise 90° and don't a

[2016-07-02 12:36] danieldahan commented on #375
@Matungos I am not seeing anything that looks incorrect. Would you be able to send an example project to support@cosmicmind.io ? Thank you!

[2016-07-03 05:17] milanov7 opened #459 "What happens when swift 3 comes out?"
Once swift 3 comes out, will this still work? Sorry I am new to iOS and was just looking into the future.

[2016-07-03 15:26] danieldahan commented on #459
Yes, once I am done the work I am doing for iCloud, I will update this for Swift 2.3 and Swift 3.0 :)

Here is the origin issue [453](https://github.com/CosmicMind/Material/issues/453).

[2016-07-03 15:26] #459 closed

[2016-07-04 04:21] despisedIcon opened #460 "Captureview Toolbar missing"
In the example project when I run the CaptureView scheme the top toolbar buttons appear to be missing. This was working on previous versions. I recently updated pods and am using 1.42.7 in a project I'm working on and this issue is present.

![screen shot 2016-07-04 at 2 20 13 pm](https://cloud.githubusercontent.com/assets/7425648/16550779/8c899e98-41f2-11e6-889d-9b8496c3da45.png)

[2016-07-04 04:23] danieldahan commented on #460
Hey! I am signing off for now, but will check tomorrow morning for you. Thank you!

[2016-07-04 10:53] Tulleb commented on #453
Thanks @danieldahan for all your work! Can't wait for the Swift 3 branch :)

[2016-07-04 16:14] FabianTerhorst opened #461 "Rename Layout.swift to MaterialLayout.swift or something else"
LinkedIn released a new Library called LayoutKit https://github.com/linkedin/LayoutKit . The problem is that the library also has a class named Layout.

[2016-07-04 16:17] danieldahan commented on #461
At the current moment, I wont be changing the name. Even though it is LinkedIn, it is a much smaller repository. Thank you though :)

[2016-07-04 16:17] #461 closed

[2016-07-05 15:40] TNikolai commented on #458
Hi danieldahan, my problem was solved particulary, i saw very strange bug in my app when i download app at first launch bug appears, if i press homeButton and again open app leftPanRecognizer not triggers. In both casses i verified code called :
unwrappedSideNavigationController.enabledLeftPanGesture = enabled
        unwrappedSideNavigationController.enabledLeftTapGesture = enabled

[2016-07-05 15:45] danieldahan commented on #458
If you have that code in the viewDidLoad it won't fire because it is not a child of the NavDrawer. Put it in the viewWillAppear or viewDidAppear method. Or possibly you should share your setup code for that area.

[2016-07-05 15:47] TNikolai commented on #458
override func viewDidDisappear(animated: Bool) {
        super.viewDidDisappear(animated)
        LeftMenuWireFrame.enableLeftSideMenu(false)
    }

[2016-07-05 15:48] TNikolai commented on #458
class func enableLeftSideMenu(value: Bool) {
        if let appDelegate = UIApplication.sharedApplication().delegate as? AppDelegate {
            appDelegate.appFlow.homeModule.enableLeftSideMenu(value)
        }
    }

   func enableLeftSideMenu(enabled: Bool) {
        if let unwrappedSideNavigationController = sideNavigationController  {
            unwrappedSideNavigationController.enabledLef

[2016-07-05 15:49] TNikolai commented on #458
i call this method in viewDidDisapear and i verified in debuger it all time entered in all if's.

[2016-07-05 16:28] danieldahan commented on #458
I need to see the setup code. How are you adding the view controllers to the NavigationDrawer, also, what are you enabling and disabling the panning for, could the other parts using pan be causing an issue. Also as a tip, you can simplify these lines

[code]

to

[code]

[2016-07-06 05:49] danieldahan commented on #451
Starting this tomorrow. Very sorry for any delays.

[2016-07-06 05:50] danieldahan commented on #460
Sorry for any delays. I will look at this in the morning. Thank you!

[2016-07-06 05:50] danieldahan commented on #454
Hey! I will be looking at this in the morning. Sorry for any delays. Thank you!

[2016-07-06 05:51] danieldahan commented on #218
Hey! I will be looking at this tomorrow. Thank you and sorry for any delays.

[2016-07-06 06:25] TNikolai commented on #458
I verified and in my initializatiin code i have initializing SideNavigation(root: NavigationController(homeVc), leftMenuControkker, nil). I think problem in initializing root like navigation controller.

[2016-07-06 16:16] danieldahan commented on #458
Yes, you could put in the viewWillAppear a disable or enable call.

There is a helper optional property `navigationDrawerController?.enableLeftGesture`  that you can use in any child view controller. This includes deep hierarchal view controllers.

[2016-07-10 17:40] TNikolai commented on #458
pod 'Material', '~> 1.41' And i have only SideNavigationController class, so i have not controller or property  named : "navigationDrawerController".

[2016-07-10 17:41] chashmeetsingh commented on #458
@TNikolai update the pod to the latest version!

[2016-07-10 17:46] TNikolai commented on #458
My current version  Using Material (1.41.1)
pod 'Material', '~> 1.4'
which version i need to use ?

[2016-07-10 17:50] chashmeetsingh commented on #458
1.42.7

[2016-07-10 18:10] TNikolai commented on #458
So i updated pods and all works fine, thx a lot.

[2016-07-10 18:29] danieldahan commented on #460
Hey! I haven't had a chance yet to look at this. Still working out kinks on iCloud.

[2016-07-11 02:04] HowardCsie opened #462 "StatusBar Missing when using a UIDocumentInteractionController with a custom NavigationController"
<img width="459" alt="2016-07-11 10 01 19" src="https://cloud.githubusercontent.com/assets/17197816/16718049/7358ad9a-474e-11e6-8aa6-29535bec1853.png">
[code]
I am currently using the latest vesion.

[2016-07-11 11:54] ConfusedVorlon commented on #453
just posting so that github notifies me when you get time to do this work. Thanks in advance.

[2016-07-11 16:27] danieldahan commented on #453
Finally finished iCloud yesterday... wow that was some fun work. So I am back on making Material amazing! :)

[2016-07-11 16:28] danieldahan commented on #462
Do you mind sending me an example project so I can reproduce this? Thank you! Please send to support@cosmicmind.io

[2016-07-12 01:40] HowardCsie commented on #462
Thanks.
I began to work just now :((
I will make a sample after work :))

[2016-07-12 01:41] danieldahan commented on #462
No worries :)

[2016-07-12 21:45] jmheist commented on #344
@danieldahan  This same issue still exists for Navigation Controller. When a back button is present, it offsets the title. Adding buttons to the navigationItem.right/leftBarButtonItems does not effect the layout of the title.

[2016-07-12 21:56] danieldahan commented on #344
Yes this was not fixed yet. It is coming up in the 2.0 branch I am working on. I am fixing a bunch up while cleaning up the code in that branch. You can see the changes as I go in development.

[2016-07-13 15:09] lukka5 commented on #433
Any news about this?

[2016-07-13 15:30] danieldahan commented on #433
Still in the queue.

[2016-07-13 15:33] balazsgerlei opened #463 "Include password TextField behaviour that only displays plain text while the eye button is pressed down"
The built-in plain text displaying behaviour for the TextField is awesome, but I think that an option to only show the plain text password as long as the user continuously presses down on the little "eye" icon would be a great option.

It is a bit better (safer) alternative for revealing the password in my opinion. (of course I may be wrong, but having an option like this is nice anyways).

Thank

[2016-07-13 15:46] danieldahan commented on #463
I am not sure I follow. Is it not only allowing plain-text to be displayed when the eye-button is down?

[2016-07-13 15:49] balazsgerlei commented on #463
No, you press down the eye-button and it switches to plain text. It stays like that until you press the eye button down again, and only than changes back to dots.

What I propose, is to have an option to only display the password in plain text until the user actively presses down on the eye-button, and switch back to dots as soon as the user stops pressing down on it. I don't know if you tried Win

[2016-07-13 15:56] danieldahan commented on #463
I would have to take a look at Windows 10. Currently, you are not forced to have the default behaviour. You can set the text to not be secure with the `secureTextEntry` TextField property. As well, you can switch the look of the eye as you please and remove the handlers on that button.

I think you can get what you are looking for with the current system, though, it would require you to modify the

[2016-07-13 15:56] #463 closed

[2016-07-13 16:07] balazsgerlei commented on #463
Ok, I'll try to implement it and submit when I came up with somethig I will share. Thank you for your attention.

[2016-07-13 16:09] danieldahan commented on #463
Anytime, and if you need any assistance with ideas and such, please join the [Gitter](https://gitter.im/CosmicMind/Material) channel :)

[2016-07-13 22:51] TeplrGuy commented on #218
Will be waiting for the update! Thanks for the framework! Its all over Teplr

[2016-07-13 23:03] danieldahan commented on #218
Hey! I am working on Capture this week and weekend. So you should have the update soon, btw, I am updating everything for Swift 2.3 and 3.0 for Material 2. Just incase you are planning on how to integrate the new work. Also, what is Teplr? I am looking online?

[2016-07-14 04:48] danieldahan commented on #462
Hey, I am going to close this for now. When you get a chance to make a sample, please send it to me, and I will take a look. Thank you!

[2016-07-14 04:48] #462 closed

[2016-07-16 12:21] TeplrGuy commented on #218
Thank you, I will be waiting for the update. Probably will not update until Teplr is ready for lunch. Teplr is a social calendar that helps you stay connected with the events and people you truly care about. As we are going into Beta, we found ourself saving lots of time because of your amazing framework. You should sign up for Beta @(teplr.co) to see how we utilized your framework. Will also be m

[2016-07-16 15:16] danieldahan commented on #218
Very cool :) looking forward to seeing it. @teplrguy

[2016-07-16 15:34] AhmettKeskin commented on #218
Hey Daniel, can i mention one more issue that i figure out. When i take photo from the top ( imagine like taking pics of paper which on the desk from top ), photos turn 90 degree when i show them on imageView. ( i was careful about orientation and i'm pretty sure its portrait but image was landscape ). Could you please try this scenario ?

We r waiting for the update also.

Thanks a lot !

[2016-07-16 17:59] danieldahan commented on #218
@AhmettKeskin Yeah no worries, I am happy you brought this up. So basically, there is an orientation issue when first loading. I will take a look at that as I am fixing all Capture issues first. I anticipate I should have something for you to use within the latest couple days. That said, all the updates I am doing are in the development branch. Once I isolate the issue, I will make a hotfix, or su

[2016-07-16 18:03] danieldahan commented on #451
So this is in the development branch. I had made some updates along the way. Please consult the [wiki](https://github.com/CosmicMind/Material/wiki/Changelog). I will be making many more updates to get ready for Material 2. So please, if you have any questions, feel free to ask on [Gitter](https://gitter.im/CosmicMind/Material).

[2016-07-16 18:03] #451 closed

[2016-07-16 18:04] danieldahan commented on #453
So this is in the development branch. I had made some updates along the way. Please consult the [wiki](https://github.com/CosmicMind/Material/wiki/Changelog). I will be making many more updates to get ready for Material 2. So please, if you have any questions, feel free to ask on [Gitter](https://gitter.im/CosmicMind/Material).

[2016-07-16 18:04] #453 closed

[2016-07-19 04:08] nthtrung09it opened #464 "How to remove leftControls and rightControls after added in NavigationItem"
I have navigationItem initialized in viewDidLoad() method, like below:
		navigationItem.leftControls = [menuButton]
		navigationItem.rightControls = [searchButton]
But I want to remove all controls in leftControls and rightControls when a button clicked:
		navigationItem.leftControls = nil
		navigationItem.rightControls = [**filterButton**]
And all button still remain...

How can I resolve this pr

[2016-07-19 06:43] chashmeetsingh commented on #464
@nthtrung09it try
`navigationitem.leftControls.first.removeFromSuperView()
or maybe a loop to remove all using tags :)

[2016-07-19 07:02] nthtrung09it commented on #464
@chashmeetsingh Thanks for your quick response!

[2016-07-19 07:02] #464 closed

[2016-07-19 08:21] chashmeetsingh commented on #464
I hope it helped 👍

[2016-07-19 16:20] danieldahan commented on #464
Thanks @chashmeetsingh

[2016-07-19 18:43] Tulleb commented on #453
@danieldahan you closed this but are you sure it can compile Swift 3.0? You are talking about Swift 2.3 on the 2.0.0 development branch.

[2016-07-19 18:46] danieldahan commented on #453
Have you tried the development branch? I had updated every issue it presented to me, minus a couple of warnings that I will fix shortly. Let me know if you find any issues with it.

[2016-07-19 18:53] ariedoelman commented on #453
I didn't try the 2.3 branch, since I thought you would come with a separate 3.0 branch. There are language changes, and to prevent an overload of warnings, you might want to get rid of that. So could you try to build a 3.0 version without warnings. Take the beta 3 version, since this had more library code changes, as well as language changes (e.g. 'where' is replaced with ',' in conditions).

[2016-07-19 18:59] danieldahan commented on #453
Well Material is a large project and I cannot maintain 2.3, 3.0, and dev, and current. I have to update to the latest of what's available and go from there. So currently, I am supporting all the way up to 3.0, well anything that Xcode betas complain about really.

[2016-07-19 19:09] ConfusedVorlon commented on #453
I just tried with swift 3.
First build gave me this warning:

```“Use Legacy Swift Language Version” (SWIFT_VERSION) is required to be configured correctly for targets which use Swift. Use the [Edit > Convert > To Current Swift Syntax…] menu to choose a Swift version or use the Build Settings editor to configure the build setting directly.````

I'm using cocoapods, so I tried setting 'Use Legacy S

[2016-07-19 19:12] danieldahan commented on #453
@ConfusedVorlon Good to know. I will take a look now.

[2016-07-19 19:19] ConfusedVorlon commented on #453
@danieldahan something odd here; I just tried downloading the material project, and it seems to build fine.

This is what I'm using for my podfile:

`pod 'Material', :git => 'https://github.com/CosmicMind/Material.git', :branch => 'development'`

[2016-07-19 19:20] ConfusedVorlon commented on #453
@danieldahan I have pinned down at least part of the issue. There are files in the cocoapod which are not included in the Material framework project.

e.g. `AnimateKeyframe.swift`

this might need nothing more than cleaning out some obsolete files...

[2016-07-19 19:21] danieldahan commented on #453
Great! I have been updating it. I noticed the Beta Xcode doesn't clean files nicely. I am double checking on the latest Xcode beta 3 once its done downloading.

[2016-07-19 19:25] ConfusedVorlon commented on #453
I got it to build by removing

-AnimateKeyframe
-Material+UIImage+Resize.swift
-Material+UIImage+TintColor.swift

I'm guessing at least the last two of those were refactored into Material+UIImage

[2016-07-19 19:28] danieldahan commented on #453
Yes, those should all have been removed. And the AnimateKeyframe file is now KeyframeAnimation. I am making an update once I verify on Xcode beta 3, which I am in the process of doing. Thank you! I will update you in a moment.

[2016-07-19 19:32] ariedoelman commented on #453
I'm confused, and still having a hard time believing that a 2.3 Material will work well in my Xcode 8 beta 3 project.
I use Xcode beta (1, 2, and now 3) since a month now. I cannot use carthage or cocoa pods in my project (not supported according to the release notes). So I made a Framework project with Material, and patched it to work with 3.0. So I'm confused when you say you compiled it with co

[2016-07-19 19:40] danieldahan commented on #453
@ariedoelman So it was my mistake with the 2.3 and 3.0. When I started correcting the issues with Swift, I was updating everything. I actually didn't aim to do 2.3 or 3.0. So this means that I actually updated to 3.0, as anything 2.3 would have been covered. I am downloading the latest beta 3 and installing it to make further changes.

Ideally I should have branched off and made separate branches

[2016-07-19 19:58] ariedoelman commented on #453
Thanks @danieldahan. You're doing a great job.
I like the way you also renew names of classes and functions to a more concise and to-the-point name. That's a good process, so that names speak for themselves. While I am on that subject, might I suggest you use the attribute '@available' in combination with 'renamed: <oldname>' for this as well. E.g. '@available(*, unavailable, renamed: "MyRenamedPr

[2016-07-19 20:02] danieldahan commented on #453
@ariedoelman Thank you! Yes, I plan to implement better practices going forward. Keep the suggestions coming, as I am learning quite a bit when it comes to maintaining open source projects.

[2016-07-19 20:27] danieldahan commented on #453
@ariedoelman Should all be fine now for Swift 3.0 on the development branch.

[2016-07-19 20:49] Tulleb commented on #453
Congratz @danieldahan! It's running smoothly on Xcode 8 beta 3 and Swift 3.0 under the development branch. Thanks!

[2016-07-19 20:50] danieldahan commented on #453
My pleasure :)

[2016-07-21 14:38] ConfusedVorlon commented on #453
@danieldahan I think there may still be a couple of files in the pod that are still on swift 2.3

1. install pod
2. build (everything is splendid)
3. close workspace
4. reopen workspace

Xcode now 'discovers' some files that are on swift 2.3 and offers to convert them to 3.0
If you run through the wizard, it will show you what it wants to change

thanks.

[2016-07-21 15:32] danieldahan commented on #453
I don't get the same notices. What I do notice, is that on all my projects I needed to go through the wizard, and then it would do the cleanup needed even if the project was already in Swift 3.

[2016-07-21 16:23] Tulleb commented on #453
@ConfusedVorlon I had the same issues but I don't think it's related to this specific pod. It seems that it's fixed since I've updated to Xcode 8 Beta 3. Are you on this version too or still on Beta 2?

[2016-07-23 13:40] Piyush08 opened #465 "TextField ClearButton color changes"
Hello,

How can I change the color of clear button?
It is also better to use Default Color of Text.

Thank you,

[2016-07-23 15:08] chashmeetsingh commented on #465
.backgroundColour property of a button would do ?

[2016-07-23 15:25] danieldahan commented on #465
@chashmeetsingh thank you. Yes, @Piyush08 that is the correct answer. Thank you!

[2016-07-23 15:25] #465 closed

[2016-07-24 19:28] zbury commented on #464
For anyone else that might run into this issue, I found that when I wanted to replace an existing item with another one I had to call layoutSubviews() on the navigationBar to get the controls to update properly.

navigationItem.rightControls.first.removeFromSuperview()
navigationItem.rightControls = [newControl]
navigationController?.navigationBar.layoutSubviews()

[2016-07-24 20:01] zbury opened #466 "View offset after pushing SearchBarController"
I have a subclassed (material) NavigationController with a rootViewController that consist of a table view laid out using view.layout(tableView).edges(). On cell selection, I push a subclassed SearchBarController. On navigating back, however, the table view re-positions about an inch (in the simulator) from the top of the navigation bar. This does not occur when pushing a normal UIViewController s

[2016-07-24 20:20] chashmeetsingh commented on #466
why not try view.layout(tableView).edges() inside `viewDidAppear()` ? @zbury

[2016-07-25 11:28] zbury commented on #466
@chashmeetsingh, still leaves me with a gap. I should mention [this case](http://stackoverflow.com/questions/18890192/container-view-getting-pushed-down-as-if-it-had-a-uinavigationbar) as well. Similar kind of thing, as I too don't seem to have the problem when setting navigationBar.translucent = true, though that leaves me with a status bar that is no longer the same color as my navigation bar. T

[2016-07-25 13:40] chashmeetsingh commented on #466
@zbury can u add some piece of code?

[2016-07-25 15:17] zbury commented on #466
Realized after not being able to reproduce it that this was caused by subscribing to keyboard notifications in viewWillAppear instead of viewWillDidAppear, which was causing my view to incorrectly set the tableView insets.

Thanks for the quick responses and help

[2016-07-25 15:17] #466 closed

[2016-07-26 20:06] ConfusedVorlon commented on #453
slow response here - I'm on beta 3. I still see the offer to upgrade whenever I open my project!

[2016-07-26 20:07] danieldahan commented on #453
@ConfusedVorlon I believe you have to run it at least once. Regardless if you download the latest Material. I had to do it once, and it didn't make any changes except for some project updates to my running project. Have you ran it once before?

[2016-07-26 21:11] cyanisaac opened #467 "Website appears to be down."
I'm not quite sure where to put this, but it appears that the website is down.

[2016-07-26 21:30] danieldahan commented on #467
Thank you for sharing this. It looks like automatic renewal is a false advertisement by the registrar. Please visit http://cosmicmind.io/material. I have corrected the domain name purchase and it will be live shortly. Thank you for bringing this up to my attention :)

[2016-07-26 21:30] #467 closed

[2016-07-27 08:44] gtulga opened #468 "xcode 8 issue"
Hi,

I tried to use it on swift 2.3. But convert gives lot of errors. Is there any guide to use xcode 8 and swift 2.3?

Thanks

[2016-07-27 11:44] chashmeetsingh commented on #468
What steps did u follow? @gtulga

[2016-07-27 15:00] gtulga commented on #468
I'm using cocoapods

[2016-07-27 15:18] gtulga commented on #468
I used development branch and build success. How to implement it to my own project? Do I need cocoapods?

[2016-07-27 15:26] chashmeetsingh commented on #468
for swift 2.3 or 3 u will need to use development branch of the pod
`pod 'Graph', , :git => 'https://github.com/CosmicMind/Material.git', :branch => 'development'`
though this branch is still in development

[2016-07-27 16:19] gtulga commented on #468
Thanks, problem solved

[2016-07-27 16:19] #468 closed

[2016-07-28 02:28] Gerst20051 commented on #468
pod 'Material', :git => 'https://github.com/CosmicMind/Material.git', :branch => 'development'

[2016-07-28 02:34] chashmeetsingh commented on #468
Right apologies for that 😅

[2016-07-28 04:21] ed-mejia opened #469 "placeholderVerticalOffset Does not work when setting .text value"
For my project the actual distance between the text and the placeholder looks excessive, we have access to the placeholderVerticalOffset property to adjust this but only works when the placeholder animation takes place, if you set this value and at the same time you set an initial text the placeholder will appear initially with the default offset.

If you remove the text, the animation takes place

[2016-07-28 04:39] Gerst20051 opened #470 "macOS Support?"
Trying to ```import Material``` for my macOS app but it fails to find module.

[2016-07-28 13:26] Vigilante13 opened #471 "Module was created by a newer version of the compiler"
I don't understand why I'm getting this error. I'm using version 1.28.1 and i'm running my project on xcode 7.3. What is the solution to this?

[2016-07-28 13:28] danieldahan commented on #471
Try cleaning your build folder and deleting your user derived directory.

[2016-07-28 13:29] Vigilante13 commented on #471
How do I delete my user derived directory?

[2016-07-28 13:33] danieldahan commented on #471
Go to preferences, then locations. Click the arrow button to find the folder in the finder. Close Xcode and then delete.

[2016-07-28 13:35] danieldahan commented on #470
The only part of material available for macOS is the color library. As well, make sure to build the macOS target. How are you adding Material in your project?

[2016-07-28 13:40] Vigilante13 commented on #471
Alright that worked thanks!

[2016-07-28 14:08] danieldahan commented on #471
Great!

[2016-07-28 14:08] #471 closed

[2016-07-28 14:09] danieldahan commented on #469
I'll will take a look for you. Thank you for bringing this to our attention :)

[2016-07-28 14:41] Gerst20051 commented on #470
Ok that makes sense. I'm using CocoaPods. Do you know why there isn't a library like Material for macOS?

[2016-07-28 14:54] danieldahan commented on #470
Not sure. I will close this issue for now :)

[2016-07-28 14:54] #470 closed

[2016-07-28 16:17] ggammon opened #472 "Missing Properties/Enums in Objective-C"
Enums don't contain @objc or inherit from Int. This causes the enums and associated properties/methods that rely on them to not be visible through the Objective-C Bridge (such as MaterialSwitch properties). I encountered this problem while binding this framework in Xamarin, which relies on the Objective-C visibility.

I created a branch and tested tagging the MaterialSwitch enums which seemed to w

[2016-07-28 16:21] danieldahan commented on #472
Hey, let me look into this shortly. Generally if the enums could be marked, they should be for visibility. I will make that change, test, and post an update. Thank you!

[2016-07-28 16:39] ConfusedVorlon opened #473 "shadow problem"
I'm using the development branch on xcode 8 with swift 3.

I'm seeing two cases where a FabButton is initially rendered with an incorrect shadow.

In a simple menu-view; if the image is not set, then the shadow is rendered wrongly at the outset.

![2016-07-28 05 31 49 pm](https://cloud.githubusercontent.com/assets/586910/17220886/3c1231c8-54e9-11e6-9119-874c1d11f16f.png)

as soon as you tap on the

[2016-07-28 16:43] danieldahan commented on #473
Thank you for this. Yes, I am aware of this issue. I have not completed the ShadowPath mapping to UIView objects with a depth/shadow set.

[2016-07-28 16:55] Vigilante13 opened #474 "attempted to retain deallocated object- Material Button"
Anytime I'm clicking on a FlatButton that I have in a NavigationBarView, I get this error:
`attempted to retain deallocated object`
and it's in this code:
[code]

[2016-07-28 16:55] ConfusedVorlon commented on #473
good to know.

Do you have any suggestions for workaround or timing on a fix?

I can just avoid using the fab button in my colour selector if I need to.

[2016-07-28 17:02] danieldahan commented on #474
What version of Material are you using?

[2016-07-28 17:05] Vigilante13 commented on #474
Version 1.32.0

[2016-07-28 17:08] danieldahan commented on #474
Well, we are currently at 1.42.7. So you should upgrade to the latest, it will fix that issue. All the best :)

When you update, consult the [changelog](https://github.com/CosmicMind/Material/wiki/Changelog). It will help you understand changes that have been made.

[2016-07-28 17:08] #474 closed

[2016-07-28 17:11] Vigilante13 commented on #474
Which version did you fix this issue? I don't really want to update to the latest version as you have changed a lot of the names.

[2016-07-28 20:08] danieldahan commented on #474
I am not sure. You would need to look in the changelog. Look when the pulse animations were updated.

[2016-07-28 20:44] danieldahan commented on #473
I plan on having a fix for you tomorrow morning.

[2016-07-28 20:46] ConfusedVorlon commented on #473
awesome - thank you!

[2016-07-28 22:37] Vigilante13 opened #475 "What's the new command for navigationBarView.titleLabelInset.left = 110"
In my code, I was using `navigationBarView.titleLabelInset.left` or `navigationBarView.titleLabelInset.right`, what's the alternative for this using `Toolbar`?

[2016-07-29 01:24] gtulga opened #476 "ErrorTextField question"
Hi,

I have 2 ErrorTextFields and 1 button to login. I want to show detail when I click button. how to do it?

Another question is how to implement ErrorTextField's validation? I want first ErrorTextField only allow 5-8 characters only. I cannot find this kind of example.

Thanks

[2016-07-29 08:24] phlippieb commented on #460
I got it to work using AutoLayout. Probably the toolbar isn't being set up with constraints.

[2016-07-29 11:00] azatZ commented on #469
Faced the problem too. It seems there is missing case in `func layoutPlaceholderLabel()`. Adding
`if false == text?.isEmpty {
               placeholderLabel.frame.origin.y = -placeholderLabel.frame.size.height + placeholderVerticalOffset
            }`
solved my problem

[2016-07-29 17:18] danieldahan commented on #473
@ConfusedVorlon Hey! I am working on this, I wasn't able to reproduce unless I used your project. So I am going to make some changes that I had hoped to make around this area, then I will push it to dev and you can verify it works. I am working on it now. :)

[2016-07-29 18:45] danieldahan commented on #473
@ConfusedVorlon Hey, I updated development to handle shadow paths now. Please update your pod. As well, I update the "Use Legacy Swift..." flag, but found in the Pods project I needed to do the same. Check this out for help on that, [stackoverflow issue](http://stackoverflow.com/questions/38446097/xcode-8-beta-3-use-legacy-swift). If you need any other help with the shadows... please message me on

[2016-07-29 18:45] #473 closed

[2016-07-29 18:47] danieldahan commented on #475
What version of the framework are you using?

[2016-07-29 18:48] danieldahan commented on #476
Hi,

I will be able to help out shortly :)

[2016-07-29 19:15] danieldahan commented on #460
Excellent. I am sorry I didn't respond to this earlier. I am focusing on Material 2 and all that will be released shortly. In Material 2 there is a new CaptureController which will really help with the setup of the camera. I will close this issue for now. Thanks again!

[2016-07-29 19:15] #460 closed

[2016-07-29 19:16] chashmeetsingh commented on #476
add a target to the button and in the target function hide or show the detail @gtulga

[2016-07-29 19:17] danieldahan commented on #218
Hi @AhmettKeskin I haven't had a chance to suggest anything for you. Sorry about that. I am focusing on the updates for Material 2. I am going to move this issue to the Material 2 development as I am completely updating the Capture logic and setup.

[2016-07-29 19:17] #218 closed

[2016-07-30 00:00] ConfusedVorlon commented on #473
thank you

[2016-07-30 03:03] gtulga commented on #476
Great thank you!

[2016-07-30 03:03] #476 closed

[2016-07-30 16:51] gtulga opened #477 "Material Switch"
Hi,

I'm not found switch and other features in storyboard example. is it possible to use them in storyboard? or only by swift code?

Thanks

[2016-07-30 16:54] chashmeetsingh commented on #477
@gtulga Add a UIView and in identity inspector change its class to MaterialSwitch :)

[2016-07-30 17:30] gtulga commented on #477
Thanks. It works. I changed MaterialSwitch to just Switch. Because I'm using Swift 3.

When will you release development branch's examples? Some parts are changed much.

[2016-07-31 08:54] hassaan22 commented on #391
Thanks for this answer! Was scratching my head for much longer than I should have on this issue!

[2016-07-31 15:44] danieldahan commented on #477
@chashmeetsingh Thank you for helping on this. @gtulga Yes, the API will be changing and advancing. Stay up to date with the [change log](https://github.com/CosmicMind/Material/wiki/Changelog). As well, I will be making new samples when we release. I am closing this issue now as it seems solved. Thanks!

[2016-07-31 15:44] #477 closed

[2016-07-31 15:45] danieldahan commented on #475
I haven't heard from you. If you still need help, please reopen this issue. Thank you!

[2016-07-31 15:45] #475 closed

[2016-07-31 16:24] danieldahan commented on #469
@azatZ Nice, thank you for the workaround. @ed-mejia The issue was that this line on `387`

[code]

needed to change to

[code]

Which is similar to the workaround suggested. I am posting this solution in Material 2 (development) branch.

[2016-07-31 16:24] #469 closed

[2016-07-31 16:44] danieldahan commented on #472
This is now updated in Material 2. Thank you very much :)

[2016-07-31 16:44] #472 closed

[2016-08-01 07:00] ed-mejia commented on #469
Great work! thanks 👍

[2016-08-01 15:59] gtulga opened #478 "Settings page"
Hi,

I need to make settings page like this. Groups like account, push and get help. Also settings listed like table. How to do it? is there any example?

![image](https://cloud.githubusercontent.com/assets/2021932/17300187/4acb4540-584c-11e6-86aa-04b8cbb0a4cd.png)

Thanks

[2016-08-01 16:45] danieldahan commented on #478
Hi, no problem. I think we should move this issue to [Gitter](https://gitter.im/CosmicMind/Material) though. Chat with us there. Thanks!

[2016-08-01 16:45] #478 closed

[2016-08-02 03:49] danieldahan opened #479 "Add PhotoLibrary Support."

[2016-08-02 03:53] adamdahan opened #480 "Material Desktop for MacOS"

[2016-08-02 03:56] #480 closed

[2016-08-02 10:43] chaitanya-ramji opened #481 "Unable to override default Font in RaisedButton"
Hey, I'm unable to use the following properties to customise the font of the button. Am I going wrong? Is there any other solution to this? If I use a storyboard approach and set properties during runtime, I'm able to override the default font but I'm unable to do so via code.

[code]

[2016-08-02 11:20] chaitanya-ramji commented on #481
I used titleLabel instead of setTitle. It's working now. Sorry

[2016-08-02 11:20] #481 closed

[2016-08-03 19:56] #479 closed

[2016-08-10 00:33] gtulga opened #485 "Phone keypad example"
Hi,

I think phone keypad is good example for Material. Very nice buttons and grid for alignment.

Thanks

[2016-08-10 02:58] gtulga opened #486 "2 rows, 3 columns example"
Hi,

I cannot make 2 rows and 3 columns grid and each cell has own button. Can you make example for me?

Thanks

[2016-08-10 04:15] danieldahan commented on #486
Try this view controller example:

[code]

[2016-08-10 04:17] #486 closed

[2016-08-10 06:00] hassaan22 commented on #453
How can i get the pod from the development branch?

currently, i have this in my podfile: pod 'Material', '~> 1.0'

What do I need to change this to?

[2016-08-10 16:34] danieldahan commented on #453
# Uncomment this line to define a global platform for your project
# platform :ios, '9.0'

target ‘MyProject' do
  # Comment this line if you're not using Swift and don't want to use dynamic frameworks
  use_frameworks!

  # Pods for MyProject
  pod 'Material', :git => 'https://github.com/CosmicMind/Material.git', :branch => 'development'
end

[2016-08-11 13:56] btelintelo opened #487 "TextField text is always black"
I have a TextField and it is on a dark background.  So I want the text to be white.  But it is always black despite what I set it to in interface builder.  A plain UITextField works properly.

Attached is a sample project showing the issue
[TextFieldTest.zip](https://github.com/CosmicMind/Material/files/413366/TextFieldTest.zip)
.

[2016-08-11 14:08] chashmeetsingh commented on #487
@danieldahan reproducible. Property for setting text field's textColour property is not present I suppose

[2016-08-11 18:02] danieldahan commented on #487
@btelintelo Should be fixed with [Material 1.42.9](https://github.com/CosmicMind/Material/releases/tag/1.42.9). Thanks @chashmeetsingh :)

[2016-08-11 18:02] #487 closed

[2016-08-11 20:14] btelintelo commented on #487
Pulled in 1.42.9 in to project.  Xcode 7 with ios 9.3 simulator, I now see white text as expected.  iOS 10 beta 4, still black text.  Can't imagine a new property in ios10 for this, but something to see if apple fixes in new betas.

[2016-08-11 20:19] danieldahan commented on #487
I fixed it on iOS 10 as well, I pushed a sync change to the dev branch. Can you pull in the latest dev and try again?

[2016-08-12 09:07] SBiOSoftWhare opened #488 "'sharedApplication' is unavailable: not available iOS (App Extension)"
I would like to use Material in an action app extension, but it is not possible due to usage of 'UIApplication.sharedApplication'.
Unfortunately I do not have a pull request to send to you right now but maybe there are solutions like using size class instead of status bar orientation to handle orientation for example or using a Cocoapods subspec to embed components only for app extension.
Have you

[2016-08-12 14:08] btelintelo commented on #487
I saw you made the change for xcode 8 as well.  The second issue was in ios 10 built from xcode 7.  But, it looks like apple fixed the issue in ios 10 beta 5.  Now all the text is white!  Thanks!

[2016-08-12 14:23] danieldahan commented on #487
Anytime :)

[2016-08-12 14:58] danieldahan commented on #488
Nice :) Thank you. I will have to look into this. For now, I am going to post it as a `feature request`.

[2016-08-14 19:53] MarcoCarnevali opened #489 "Toolbar less height after update."
Hello, I had a older version of the library... today I updated it and I now the height of the toolbar is less and the status bar is over the toolbar, see the screenshots. In the first the toolbar was attached to the contacts and chats bar.
Thank you in advance.

<img width="378" alt="schermata 2016-08-14 alle 12 49 02 pm" src="https://cloud.githubusercontent.com/assets/9656572/17651535/190a7680-62

[2016-08-14 19:54] danieldahan commented on #489
Can you share your setup, or a sample project?

[2016-08-14 19:55] MarcoCarnevali commented on #489
Also another thing... In the code I set two other buttons that before the update worked and now seems to be hidden, this is my code:

`    func setNavigationController(){
        // Left title setting

        // Menu button.
        var image: UIImage? = MaterialIcon.menu
        let menuButton: FlatButton = FlatButton()
        menuButton.pulseColor = MaterialColor.white
        menuButton.tintC

[2016-08-14 19:59] danieldahan commented on #489
I don't see the initialization of the Toolbar. Could you share that?

[2016-08-14 20:03] MarcoCarnevali commented on #489
I have a @IBOutlet var toolbar: Toolbar!

[2016-08-14 20:03] danieldahan commented on #489
Okay, can you send me a sample? I need to see your storyboard and such.

[2016-08-14 20:05] MarcoCarnevali commented on #489
it's a little bit complicated, anyway before the updates was working perfectly so...

[2016-08-14 20:06] danieldahan commented on #489
Yeah things have changed since the last time you have updated I am sure. Have you looked at this https://github.com/CosmicMind/Material/tree/master/Examples/Storyboards/Toolbar ?

[2016-08-14 21:11] danieldahan commented on #489
I am going to close this issue for now. If you have trouble with the example, let me know and we can go from there. It would be easier to use the [Material Gitter](https://gitter.im/CosmicMind/Material) channel for this :) Thank you!

[2016-08-14 21:11] #489 closed

[2016-08-15 04:21] iNoles commented on #425
I would use this as top tab bar like Android's TabLayout.

[2016-08-16 12:36] Tulleb commented on #453
@danieldahan I think you need to re-open this issue: Xcode 8 Beta 6 was released yesterday with some new issues to fix.

Feel free to ask if you need any help for a PR?

[2016-08-16 14:32] chashmeetsingh commented on #453
Hey @Tulleb its already in progress by @danieldahan
Thanks!

[2016-08-17 10:21] ConfusedVorlon opened #491 "Please mark classes as open"
the latest iteration of swift (xcode 8, beta 6) has made it so that public classes are useable, but not subclassable outside of the module.

https://github.com/apple/swift-evolution/blob/master/proposals/0117-non-public-subclassable-by-default.md

so my class:

`class ColourButton: FabButton {...`

generates the error

`Cannot inherit from non-open class 'FabButton' outside of its defining module`

[2016-08-17 15:43] danieldahan commented on #491
Cool, I will update this later today. Thank you!

[2016-08-18 16:57] reidmain opened #492 "Is Material supporting Swift 2.3?"
I haven't been able to find any concrete word on wether or not Material will support Swift 2.3 or jump directly to Swift 3.

I've stumbled across a number of issues where people talk about it and it seems like the decision to support Swift 2.3 has bounced back and forth between yes and no but at the time of raising this issue all I see is a "development" branch that only supports Swift 3.

I am as

[2016-08-18 17:01] danieldahan commented on #492
@reidmain Excellent question. I have been only supporting Swift 3 and all latest updates have been in Swift 3. If you would like help in supporting 2.3, then please start the process, and I will create a branch that you can merge into and then I will take over support for it. Thank you!

[2016-08-18 17:03] reidmain commented on #492
@danieldahan I am looking at making the changes on whatever Carthage pulls into the Carthage/Checkouts folder just to see if I can get `carthage build --platform ios` to succeed and my iOS app to build against Swift 2.3

Once I get to that point I'll report back my findings and we can talk about merging any changes I make into a branch.

[2016-08-18 17:04] danieldahan commented on #492
Awesome! Thank you, please feel free to reach out to us for any help. All the best!

[2016-08-18 17:04] #492 closed

[2016-08-19 09:49] ConfusedVorlon opened #493 "Button doesn't like being squeezed by stackView"
if you have a horizontal stackview, then it will adjust to take account of views that are hidden/shown.

If you throw in animation, then it does this by squeezing the view that is being hidden down to zero.

If you hide/show a fabButton, then you hit two problems

1) the circle doesn't squeeze, although the image does
2) when you 'unsqueeze' it, the image disappears

problem 2 is there even if you

[2016-08-19 09:50] ConfusedVorlon commented on #493
note - I'm using today's head, on xCode 8 beta 6.

[2016-08-19 16:01] danieldahan commented on #491
@ConfusedVorlon this is almost done. So please pull development as I progress on this.

[2016-08-19 16:31] ConfusedVorlon commented on #491
yup - I'm using it now! Thank you.

[2016-08-19 16:32] danieldahan commented on #491
Cool, I am going to close this as the updates are being made where appropriate. Thank you!

[2016-08-19 16:32] #491 closed

[2016-08-19 16:55] danieldahan commented on #493
@ConfusedVorlon what is this `squeeze` animation. Where is it coming from?

[2016-08-19 17:13] ConfusedVorlon commented on #493
it is implemented by the UIStackView.

This is mentioned in the UIStackView docs here
https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIStackView_Class_Reference/

[code]

[2016-08-19 22:29] danieldahan opened #494 "Add .plist to JSON"

[2016-08-20 13:23] ConfusedVorlon commented on #493
Ok - I did some digging. Slightly updated debug project attached:

[buttonDeath 2.zip](https://github.com/CosmicMind/Material/files/428311/buttonDeath.2.zip)

The StackView is simply telling the view to shrink - it does this by setting an autolayout width constraint of zero.

I found a couple of issues that are causing this to not work nicely.

#1) when you set a width constraint for a fab button

[2016-08-21 17:03] danieldahan commented on #493
I have an idea here. I will give it a try and share the result.

[2016-08-21 17:28] danieldahan commented on #493
Please pull the latest from development. Also, I added a convenience property `image` to avoid having to set the `setImage` and in Storyboards, when you use the new `image` property, it sets both the `.normal` and `.highlighted` state for you, rather than just the `.normal` state, which causes a grey tint on the image.

[2016-08-21 17:28] #493 closed

[2016-08-22 09:29] ConfusedVorlon commented on #493
that does the trick - thanks.

[2016-08-24 14:49] sagaya opened #495 "How can i put icons on the textfield like this"
![screen shot 2016-08-24 at 3 42 12 pm](https://cloud.githubusercontent.com/assets/12961966/17935215/660b1498-6a12-11e6-89e8-39aab90f172c.png)

[2016-08-25 10:19] shshalom opened #496 "Material Overrides default navigation controller"
I'm using Material for just few of the components like buttons and the menu, but after bashing my head for two days I've notice that the reason my UINavigationController setup doesn't work is because Material is overriding it, even if I don't use it.

My current options is either use Material's NavigationController instead (which I really don't want be to forced to do) or to remove the framework w

[2016-08-25 10:39] danieldahan commented on #496
What part does it override that is creating the conflict?

[2016-08-25 10:40] danieldahan commented on #496
Also what version are you using?

[2016-08-25 11:13] shshalom commented on #496
It overrides UINavigationItem.
and I'm using the latest one.

Just to point out, I'm using the framework and not as pod since while using the Pod version none of the Icons and other assets are loading (which is another issue, unrelated)

[2016-08-25 13:35] danieldahan commented on #496
When you say latest, do you mean development or master? Also, what is the actual issue. You will need to share an error log, code that is not working, or further describe. :)

[2016-08-25 14:20] zbangsatz opened #497 "IBDesignables are too heavy. How can I disable/avoid it?"
With complex storyboard I usually wait a long time when they're rendering. How can I disable/avoid it?
Plus, I really don't like Material override "navigationItem.title"

[2016-08-25 15:01] shshalom commented on #496
I've cloned it from master branch.

There's no error to share.. that's why it took me two days to catch what went wrong.
I can tell you what I did and you can reproduce this problem.

- Create new single page view project.
-  In the Main.Storyboard embed the ViewController inside NavigationController
-  Inside viewDidLoad add  self.navigationItem.title = "some thing"

[code]

- Run the project, yo

[2016-08-25 15:30] danieldahan commented on #497
Hey, I don't use Storyboards personally, so I haven't felt the pain point. It makes sense though and I will look into this. Do you have any suggestions? As well for the navigation title... agreed, I will come up with something there :)

[2016-08-25 15:31] danieldahan commented on #496
Got it :) I agree, there needs to be a better solution. I will play with it today and tomorrow and most likely push something within then. Thanks for sharing this.

[2016-08-25 21:45] PuneetKohli opened #498 "Toolbar Icons not showing"
Hi,

I've been trying to follow your sample code to get the Toolbars to work but the icons just don't show up. None of the sample code works either, because it crashes saying "icons not found"

Here is the code I'm using for the toolbar:-

(Instantiating toolbar from IBOutlet)

[code]

[2016-08-25 22:19] adamdahan commented on #495
@cosmo1234

Few techniques you can use for this:

1. You can tap into the textField.layer and perform a transform that will push the actual textfield's editable view over to the right. Then you can just draw the image in the paddings space.

2. You can override UITextfield layout and add an image as a subview @ position 0, 0.

3. You can create a custom view with a regular textfield + a CAShapeLay

[2016-08-25 22:21] danieldahan commented on #495
@adamdahan agreed.

[2016-08-25 22:51] danieldahan commented on #498
Taking a look :)

[2016-08-25 23:06] danieldahan commented on #498
So it looks like it is working to me. Icons are coming up as well. So what is your exact setup?

Material version (branch if not a release)?
Xcode version?

etc....

<img width="1280" alt="screen shot 2016-08-25 at 5 03 06 pm" src="https://cloud.githubusercontent.com/assets/9982123/17988841/2539540a-6ae6-11e6-9682-9ff54a25de41.png">

[2016-08-25 23:08] danieldahan commented on #498
Toolbar project

<img width="1280" alt="screen shot 2016-08-25 at 5 08 30 pm" src="https://cloud.githubusercontent.com/assets/9982123/17988888/80cfff26-6ae6-11e6-8f36-fd23dc29dcd9.png">

[2016-08-25 23:09] danieldahan commented on #498
Using storyboards example.

<img width="1280" alt="screen shot 2016-08-25 at 5 09 29 pm" src="https://cloud.githubusercontent.com/assets/9982123/17988907/a37e928a-6ae6-11e6-8e89-5ee7fdb019c2.png">

[2016-08-26 00:07] danieldahan commented on #494
Hey! We have taken note of this, and will prepare for release with Material 2.

[2016-08-26 00:07] #494 closed

[2016-08-26 00:07] danieldahan commented on #485
Hey! We have taken note of this, and will prepare for release with Material 2.

[2016-08-26 00:07] #485 closed

[2016-08-26 00:08] danieldahan commented on #488
I am going to close the issue and review the PR very soon. Once again thank you!

[2016-08-26 00:08] #488 closed

[2016-08-26 00:08] danieldahan commented on #435
Hey! We have taken note of this, and will prepare for release with Material 2.

[2016-08-26 00:08] #435 closed

[2016-08-26 00:08] danieldahan commented on #425
Hey! We have taken note of this, and will prepare for release with Material 2.

[2016-08-26 00:08] #425 closed

[2016-08-26 00:08] danieldahan commented on #411
Hey! We have taken note of this, and will prepare for release with Material 2.

[2016-08-26 00:08] #411 closed

[2016-08-26 00:08] danieldahan commented on #415
Hey! We have taken note of this, and will prepare for release with Material 2.

[2016-08-26 00:08] #415 closed

[2016-08-26 00:08] danieldahan commented on #414
Hey! We have taken note of this, and will prepare for release with Material 2.

[2016-08-26 00:08] #414 closed

[2016-08-26 00:08] danieldahan commented on #433
Hey! We have taken note of this, and will prepare for release with Material 2.

[2016-08-26 00:08] #433 closed

[2016-08-26 00:09] danieldahan commented on #454
Hey! We have taken note of this, and will prepare for release with Material 2.

[2016-08-26 00:09] #454 closed

[2016-08-26 00:09] danieldahan commented on #412
Hey! We have taken note of this, and will prepare for release with Material 2.

[2016-08-26 00:09] #412 closed

[2016-08-26 00:09] danieldahan commented on #419
Hey! We have taken note of this, and will prepare for release with Material 2.

[2016-08-26 00:09] #419 closed

[2016-08-26 03:50] PuneetKohli commented on #498
Hi,

I'm using XCode version 7.3 and iOS 9.3

This is how it looks on my emulator when I run that code:-

<img width="378" alt="screen shot 2016-08-26 at 9 16 56 am" src="https://cloud.githubusercontent.com/assets/8395443/17993513/febe0748-6b6d-11e6-8db3-79c04caed2e1.png">

I tried importing my own image instead
[code]

and this is the output:-
<img width="377" alt="screen shot 2016-08-26 at 9 19

[2016-08-26 03:56] PuneetKohli commented on #498
I got your sample project to work by following these steps:-

[2016-08-26 03:57] PuneetKohli commented on #498
For the actual project, do I need to do the same? I'm using CocoaPods. This is how my Podfile Looks
[code]

Also, please do let me know how to use my own images without the scaling issue

[2016-08-26 04:36] PuneetKohli commented on #498
Note: I believe this is a general problem with the library not being able to render it's images and not just on the toolbar

[2016-08-26 04:46] chashmeetsingh commented on #498
Ok so if u are importing an external image here it should be 24x24
The issue you are reporting is not reproducible as we are and to view the icons there, share the sample you are using @PuneetKohli ?

[2016-08-26 06:58] umeshjavastar opened #499 "Custom Height of divider in Card View"
I am trying to increase the height of divider in CardView via Storyboard but unable to customize it??

[2016-08-26 09:31] zbangsatz commented on #499
I'm afraid it's not possible.

[2016-08-26 12:04] danieldahan commented on #498
@puneetkohli it is actually a CoocoaPods issue not understanding bundles well. That said, there are setups where things get messed up by storyboards with CoocoaPods and bundled content. The best approach here, is to send your sample to us, and we can diagnose. Please send to support@cosmicmind.io. All the best :)

[2016-08-26 12:04] #498 closed

[2016-08-26 20:03] shshalom commented on #496
Happy to obligee :-). Thank you for the awesome framework.

[2016-08-27 08:10] PuneetKohli commented on #498
Thanks @danieldahan  and @chashmeetsingh

I have sent the sample to support@cosmicmind.io

:)

[2016-08-28 05:17] jlaws commented on #492
@danieldahan can you create that branch, I will send a PR will support for 2.3

[2016-08-28 17:15] danieldahan commented on #492
@jlaws awesome! Here is the branch link https://github.com/CosmicMind/Material/tree/swift-2.3

[2016-08-28 18:15] jlaws commented on #492
@danieldahan I actually removed my dependency on Material last night since I was not really taking advantage of the library.  Hopefully @reidmain will send in a fix for 2.3

[2016-08-28 18:18] danieldahan commented on #492
No worries :)

[2016-08-28 20:51] chadkouse opened #500 "Can labels be added along side fabbuttons ?"
Would be helpful to have text labels next to the buttons in a menuview

[2016-08-28 20:52] danieldahan commented on #500
I agree. I will update the library for Material 2 to include this feature. I am going to close the issue request and track this internally. Thank you!

[2016-08-28 20:52] #500 closed

[2016-08-29 17:00] reidmain commented on #492
Unfortunately we are no longer planning on migrating to Swift 2.3

After making the quickest possible changes to get Material to work with Swift 2.3 (I don't know if they were all the correct ones since I didn't see any tests and we only use two components from Material) I also had to hack about 8 other dependencies to work with Swift 2.3 because it seems like the majority of people are skipping i

[2016-08-29 17:09] danieldahan commented on #492
@reidmain I like that choice :) I have added many updates to the Swift 3 version, so ping me if you need any help. All the best!

[2016-08-30 00:19] iomerbakirci commented on #498
Hi @PuneetKohli

Is the problem solved? I have same issue. Here is my Podfile.

[code]

[2016-08-30 07:28] chashmeetsingh commented on #498
@iomerbakirci The issue i with cocoa pods so we suggest you to try following this tutorial [Material Workspace](https://github.com/CosmicMind/Material/wiki) if the problem persists please send our project at support@cosmicmind.io

[2016-08-30 15:18] danieldahan commented on #499
The height is fixed at 1 `dividerLayer?.frame = CGRectMake(dividerInset.left, y, width - dividerInset.left - dividerInset.right, 1)` In Material 2, you will be able to customize the divider value through the `Divider` object. All the best!

[2016-08-30 15:18] #499 closed

[2016-08-30 16:05] danieldahan commented on #498
@iomerbakirci @PuneetKohli Hey... so I worked with your project and there seems to be an issue, as you specified. So there are two easy solutions: follow the [Workspace Setup](https://github.com/CosmicMind/Material/wiki), which works with the CocoaPods workspace, or two, copy the Assets catalog from the Material framework into your project and search for the icons as so:

[code]

I have seen this

[2016-08-31 05:06] umeshjavastar commented on #499
thanks a lot

[2016-08-31 13:48] ConfusedVorlon opened #501 "suggested subclassing approach doesn't work with CardSubclass()"
If I understand correctly, the suggestion is to set properties in ```prepareView```

So, I have my subclass (trivial changes for the example)
[code]

If you create a SharingCard with

`let myCard=SharingCard()`

then the following happens

`public convenience init?(image: UIImage? = nil, titleLabel: UILabel? = nil, contentView: UIView? = nil, leftButtons: [UIButton]? = nil, rightButtons: [UIButton

[2016-08-31 15:55] ConfusedVorlon opened #502 "suggestion: let card view take any view type in leftButtons & rightButtons"
the code already seems to support this. I just changed the declaration to
[code]

no other code changes required.

that lets me use a stack view again which is handy for the free animations when buttons change.

[2016-08-31 15:59] danieldahan commented on #502
Yes, this is correct. In other views this has been the setting. I haven't updated the Card and ImageCard yet, which will have this treatment :) So wonderful catch, and it will be updated for Material 2. I will make a push now to support the change you suggested, and rework the components later this month before release.

[2016-08-31 16:03] ConfusedVorlon commented on #502
that was quick!
thanks.

[2016-08-31 16:06] danieldahan commented on #502
No worries. The temporary fix is in development.

[2016-08-31 16:06] #502 closed

[2016-08-31 16:08] danieldahan commented on #501
This is going to be completely reworked. So I will be generally making updates to solve these issues. If you have a solution locally for now, I suggest use it, and soon enough my update will come to the `development` branch and then `Material 2`.

[2016-08-31 16:08] #501 closed

[2016-08-31 16:09] danieldahan commented on #344
Working on this today, so hopefully a fix will be in the `development` branch today or tomorrow. Thank you!

[2016-08-31 16:10] danieldahan commented on #496
Didn't forget about this... going to think about a better solution today. Sorry, was busy in the past week. Thank you!

[2016-08-31 16:11] danieldahan commented on #497
Hey, I am looking into solutions for this. Thank you for your patience. :)

[2016-08-31 16:47] ConfusedVorlon commented on #501
the easy fix at the moment is just to use `.init(frame:.zero)` and skip the convenience initialiser

thanks again.

[2016-09-01 01:33] annphan commented on #497
I usually config everything in code and just use the class to connect IBOutlets,

[2016-09-01 01:54] zbangsatz commented on #497
I usually config everything in code and just use class to connect IBOutlet. I think many many people have the same situation with me. Maybe another branch or a config like Material.enableDesign when app launch will help.
Thank for you help

[2016-09-01 05:19] danieldahan commented on #344
Hey! This has been fixed as in the development branch. Please set the `textAlignment` property of either the `titleLabel` or `detailLabel` to `center` and the label should always maintain a centered state.

[2016-09-01 05:19] #344 closed

[2016-09-01 05:21] danieldahan commented on #497
I am leaning towards removing it completely. I will make a decision tomorrow and push a solution.

[2016-09-01 05:59] danieldahan commented on #415
This is in the `development` branch now. For help in using it, please go to the [Gitter](https://gitter.im/CosmicMind/Material) page. I am posting documentation shortly. Thank you!

[2016-09-02 09:35] leobouilloux opened #503 "NavigationController and navigationItem.titleView problems"
Hi there,

I'm using the last version of you framework in my application.
I have 2 problems when setting navigationItem.titleView.

Here is the code involved:
[code]

1/ Setting the frame changes nothing, my button takes the whole navigationBar.
2/ My FlatButton makes this pulse effect each time when I press it, but my event is only firing when I touch the very bottom of the button.

I hope you ca

[2016-09-02 09:53] leobouilloux commented on #503
Here is a gif resuming the 2 problems:

![titleview problem](https://cloud.githubusercontent.com/assets/1726316/18200131/aa08ee8e-7103-11e6-9c6e-ed76b9959762.gif)

[2016-09-03 10:54] danieldahan commented on #503
Hey! I think you are trying to add a button to the center of the `NavigationBar`? If this is correct, you should add the button to the `contentView`. Internally the `titleView` is used to make the layout. The `NavigationBar` is made using [Grid](http://cosmicmind.io/material/grid). So to add something to the contentView where it will be managed for you layout wise, use the following code snippet a

[2016-09-03 12:56] leobouilloux commented on #503
Thank you very much for your reply.
I'll try you suggestion Monday and give you a feedback.
Have a nice weekend.

[2016-09-04 14:28] ConfusedVorlon opened #504 "Suggestion: SearchBar should post notification when the clear button is pressed"
at the moment, handle clear button changes the text directly, so no notification is posted.

this change would let subscribers to UITextFieldTextDidChange know when the bar is cleared

[code]

[2016-09-04 15:01] alexliubj opened #505 "Add RadioButton and Checkbox."
I feel I have the requirement to use checkbox but I didn't see any control which are related to that.
By the way I know Apple doesn't Checkbox/Radio buttons neither.

[2016-09-04 19:39] danieldahan commented on #505
Yes, those are already on the queue for Material 2 :)

[2016-09-04 19:49] danieldahan commented on #504
You can add a handler to the `clearButton`, and in Material 2, I will be adding delegation calls to the SearchBar. When I get to that piece of work, I will consider this design :) thank you!

[2016-09-04 19:49] #504 closed

[2016-09-04 19:51] danieldahan commented on #503
You too and if you have further issues, please use the [Gitter Chanel](https://gitter.im/CosmicMind/Material) or open up a new github issue. Thank you!

[2016-09-04 19:51] #503 closed

[2016-09-04 21:53] alexliubj commented on #505
One more question, when do you think we can expect it?

[2016-09-05 09:52] leobouilloux commented on #503
Hi Daniel,

I have given a try with your code, and it's not working.
I cloned the latest version of your framework and opened to the examples to give another try.

In Programmatic/NavigationController project, I changed the prepareNavigationItems method to the following:
[code]
The button is never appended because contentView is nil.

Am I missing something?

[2016-09-06 05:32] PuneetKohli opened #507 "Navigation Drawer through IB/Storyboard?"
Hi,

I was looking to do the Navigation Drawer completely through Storyboards.

I have a `MainViewController` (home screen) and a `LeftViewController` (nav drawer).

Right now what happens is, the Login page segues to `MainViewController`.

Is there any way I can have the Nav Drawer show up either directly through Storyboard segues or through the `MainViewController`?

(Tried following the example

[2016-09-06 15:55] alexliubj commented on #505
@andanieldahan

[2016-09-06 17:50] danieldahan commented on #505
@alexliubj Material 2 is expected to ship at the end of September, and will be pushing continuous updates throughout that month. It is a really big release, so I suggest checking out the `development` branch to start familiarizing yourself with some of the latest concepts.

[2016-09-06 17:53] danieldahan commented on #507
I don't believe you can do this entirely through storyboards. You would most likely need to make your `MainViewController` the NavDrawer and then add the original `MainViewController as the `rootViewController` of the NavDrawer. You can add it as your `rootViewController` through an instance that is generated from a Storyboard. Does this make sense ?

[2016-09-06 18:01] danieldahan commented on #503
@leobouilloux What version of Material are you using? `master` or `development`

[2016-09-06 18:06] leobouilloux commented on #503
@danieldahan I just ran pod install to make sure I'm up to date.
 I'm using the lastest version (1.42.9) in the master branch.

I've installed Material with Cocoapod here is the line in my Podfile:
`pod 'Material', '~> 1.0'`

Thanks!

[2016-09-06 18:12] leobouilloux commented on #503
Forgot to tell you that I cloned the latest version in master to try your solution in the example project Programmatic/NavigationController

[2016-09-06 19:52] danieldahan commented on #503
Okay, no worries. In Material 2 this is way easier to handle. For Material 1, this is a workaround:

[code]

The key is to hide the contentView, and add the button to the titleView and then use the layout facility to center it based on size.

:) All the best!

[2016-09-06 20:11] adamdahan commented on #507
@PuneetKohli There is currently no supported way to do what you want to do purely through storyboards. It has to be done as a hybrid approach as mentioned by @danieldahan above.

The basic premise here is:

You can style your controllers in storyboards but the actual creation of the drawer has to be done in code. You can see this in the examples.

Reason being - we are not a storyboard first frame

[2016-09-06 20:11] #507 closed

[2016-09-06 20:13] adamdahan commented on #497
@danieldahan We should remove IBDesignable support.

[2016-09-06 20:14] adamdahan commented on #496
@shshalom Inside your controller you should not be using self.navigationItem.title. You should be using self.title.

Cheers

[2016-09-06 20:27] danieldahan commented on #497
@adamdahan 100% agree. It will be removed in Material 2, most likely in the next push.

@zbangsatz So this is the approach :) I will close this issue once I make the push to `development`.

[2016-09-07 07:16] OnlyMyRailgun opened #508 "There is a error when TabBar has 5 buttons"
When TabBar has 5 buttons, each button's width is seems like it has 6 buttons.
Could u please check it?
Really thank you for making this wonderful framework!

[2016-09-07 08:18] leobouilloux commented on #503
It's not working in my app, but it's working in the sample, so I now need to fix my navigation bar :)
Can't wait to try Material 2!

Thank you so much for your time!

[2016-09-07 18:09] PuneetKohli commented on #507
I'm a bit confused.

My mainviewcontroller is the home screen UI.
And leftviewcontroller is the nav drawer UI.

What you're suggesting is:-

So in the storyboard I'd segue from my login screen to mainviewcontroller and in the initialization code of mainviewcontroller , I would set it as the rootview of leftviewcontroller?

Possibly I'm not understanding this correctly please let me know if you can

[2016-09-08 11:54] shshalom commented on #496
I know, but what about adding buttons, icons or any other Object to the navigation controller? the title was the simplest example to demonstrate the problem, besides that there's no way to set a native navigation controller while Material is imported to the same controller.

Why not create a fallback to the native Navigation Item if Material Navigation controller is not in use?

[2016-09-08 17:37] danieldahan commented on #496
I am going to have to disagree. Material doesn't override any of the UINavigationController or UINavigationBar behaviours, especially when adding buttons. You will only face conflicts if you use the Material NavigationController and Material NavigationBar, which use a separate API for adding controls. So if your issue is that you want to use the default API for the UINavigationController, than you

[2016-09-08 17:37] #496 closed

[2016-09-08 22:23] adamdahan commented on #507
@PuneetKohli you can check the Examples folder in the Material repo and click on the Programmatic folder. Then go to the NavigationDrawerController folder and open the project's App Delegate. You will see an example of how to do it.

`func application(application: UIApplication, didFinishLaunchingWithOptions launchOptions: [NSObject: AnyObject]?) -> Bool {
		let navigationController: NavigationCon

[2016-09-08 22:24] adamdahan commented on #508
@OnlyMyRailgun can you send me a screenshot?

[2016-09-09 01:33] nthtrung09it opened #510 "Crash when using TableViewCell in development branch."
I switch from master branch to development branch to use with swift3 and xcode 8 GM. But it crash when using subclass DrawerCell: TableViewCell.

Here is the log: "unexpectedly found nil while unwrapping an Optional value", at line 165:
internal func prepareVisualLayer() {
		visualLayer.zPosition = 0
		...
}

I think it is not initialized.
How can I avoid this problem? Tks.

----------------------

[2016-09-09 02:06] danieldahan commented on #510
Nice catch :) I pushed a fix for you. Thank you.

[2016-09-09 02:06] #510 closed

[2016-09-09 02:12] nthtrung09it commented on #510
And please **open class NavigationDrawerController** instead of **class NavigationDrawerController** for using subclass.

Greate library + Quick support. Thank you!

[2016-09-09 03:54] OnlyMyRailgun commented on #508
<img width="432" alt="2016-09-09 12 52 18" src="https://cloud.githubusercontent.com/assets/2841260/18374949/67f0f8d2-768c-11e6-8049-73adbca37678.png">
⬆️5 buttons but seem like 6 buttons
![simulator screen shot 2016 09 09 12 52 39](https://cloud.githubusercontent.com/assets/2841260/18374954/6fef5eb6-768c-11e6-8035-837b204653b1.png)
⬆️real 6 buttons are normally presented.

[2016-09-09 03:57] chashmeetsingh commented on #508
@OnlyMyRailgun you will need to play around with the width of the tab

[2016-09-09 16:18] danieldahan commented on #510
Updated NavigationDrawerController to be `open` :)

[2016-09-09 19:03] danieldahan commented on #508
@OnlyMyRailgun This looks like an issue, It should be sizing correctly. Can you share your setup code, and the version of Material that you are using? Thank you!

[2016-09-10 12:47] ConfusedVorlon opened #511 "suggestion: move privacy-relevant functionality to a subspec, or wrap in a define.."
I just submitted my app and got this warning

I'm not using the camera, but some Material components can. Obviously as I'm not using them, I don't want to have to include them and try to explain to the app review team what is happening.

there are a couple of ways to easily disable these where not wanted:

1) use a compiler flag (similar to the extension safe method in my pull request https://gith

[2016-09-10 14:01] OnlyMyRailgun commented on #508
@danieldahan I'm glad to do it. In fact I used the example program. The version I think is 1.42.9 (Not sure are you figure this or not). Hope this can be helpful.
[code]

[2016-09-11 01:30] nthtrung09it opened #512 "[Development branch] How can i change pulse color of backButton & some issues"
1) In master branch, I see backButton default pulse color is while, but when i switch to development branch, it was changed:

MASTER branch:
let backButton: IconButton = IconButton()
backButton.pulseColor = MaterialColor.white
backButton.setImage(v.backButtonImage, forState: .Normal)
backButton.setImage(v.backButtonImage, forState: .Highlighted)

DEVELOPMENT branch:
let backButton = IconButton(ima

[2016-09-11 07:12] shshalom commented on #496
I will take a look.  thank you. 👍

[2016-09-12 15:38] Spilly opened #514 "Swift 3: @escaping may only be applied to parameters of function type"
Throughout the code the @escaping keyword is being used for specific closure parameters inside the completion handlers, instead of @escaping the function type itself. This is now a hard error and fails to compile.

[2016-09-12 21:06] danieldahan commented on #514
awesome! I will fix this :)

[2016-09-12 21:18] danieldahan commented on #512
I am stepping out for a bit, and I will send you answers very shortly. Thank you!

[2016-09-13 03:13] danieldahan commented on #512
For the backButton, in the pushed view controller, use the `viewDidAppear` method to set the pulseColor.

[code]

For the NavigationController, we are writing documentation that will be out soon and will show what you are looking for.

:) feel free to message, or create another issue if you need any further help.

Thank you!

[2016-09-13 03:13] #512 closed

[2016-09-13 03:14] danieldahan commented on #514
This should now be updated in development :)

[2016-09-13 03:14] #514 closed

[2016-09-13 03:18] danieldahan commented on #508
It looks like you are using the master branch. This is fixed now in the development branch and will be fully released in Material 2. I am not updating Material 1 with any further fixes as most of everything has been rewritten. Please let us know if you need any further help.

Also, the version of the TabBar in Material 2 includes another type PageTabBarController, which connects a UIPageViewContro

[2016-09-13 03:18] #508 closed

[2016-09-13 03:26] danieldahan commented on #497
@IBDesignables have now been removed, in favour of a lighter weight storyboard experience. Thank you!

[2016-09-13 03:26] #497 closed

[2016-09-13 03:43] danieldahan commented on #411
This is now in the development branch. PageTabBarController :)

[2016-09-13 12:11] umeshjavastar opened #515 "How to resolve Auto layout constraints"
I am unable to add multiplier, priority and Identifier in Layout constraints.
    `

    let parentView = UIView(frame: CGRect(x: 0, y: 0, width: 300, height: 500))
    let childView = UIView()
    parentView.layout.topLeft(childView, top: 50, left: 50)`

How to add multiplier, priority and Identifier in child view and also parent view

[2016-09-13 14:06] danieldahan commented on #515
I will add this ability later today. Thank you!

[2016-09-14 04:44] umeshjavastar commented on #515
Thanks for your anticipation,
I'm waiting for new update

[2016-09-14 07:59] OnlyMyRailgun commented on #508
@danieldahan
I got it. Right now I think I don't have 5 buttons. Thank you.
I'm really happy to hear that we will have a PageTabBarController to use. I have to implement it by myself. When will you release the great Material 2? I have to say your framework is really awesome!

[2016-09-14 12:26] premprakash0961988 opened #516 "Swift 3 Support"
When will we get support for swift 3?

[2016-09-14 13:23] danieldahan commented on #516
Swift 3 support can be found in the development branch, which is combined with Material 2 :)

All the best!

[2016-09-14 13:23] #516 closed

[2016-09-14 16:47] danieldahan commented on #508
Thank you! The framework will be released by the end of this month :)

[2016-09-14 16:47] danieldahan commented on #511
Is this blocking you? I will launch a solution before the release.

[2016-09-14 17:11] ConfusedVorlon commented on #511
I'm just manually removing the relevant files.
It means that updating the pod is a pain - but it isn't a big deal.

thanks for checking.

[2016-09-14 17:11] danieldahan commented on #511
Okay we will push a fix shortly for this :)

[2016-09-14 21:40] sverin opened #517 "Detail label misplacement of TextField"
When I use the detail on a TextField, it's misplaced at first.
When I press the text field and start typing, it's move down below the divider.

1. Create a new project in XCode 8.
2. Add pod to the development branch to use Swift 3 version
3. Add a UITextField to the storyboard and add the TextField class
4. Add a placeholder
5. Add a detail
6. Run

Before I enter a value:
<img width="381" alt="sk

[2016-09-15 05:01] aizcheryz opened #518 "Support Swift 3"
Hi, please update it support for swift 3. Thanks.

[2016-09-15 05:44] jbhav24 commented on #518
This would be great

[2016-09-15 06:52] chashmeetsingh commented on #518
Please check the development branch

[2016-09-15 07:46] akashlazy commented on #451
i want to use swift 2.3 in xcode 8
i did legacy mode yes but still more issues

[2016-09-15 12:22] hanskg opened #519 "Add AlertView"
Saw in #104 and #340  there were discussions of adding an AlertView to Material. Any news on this?

Would be really nice to have instead of making a CardView and handling everything from there.

[2016-09-15 15:39] akashlazy commented on #518
not working development branch please help

[2016-09-15 16:00] danieldahan commented on #518
By not working, what do you mean?

[2016-09-15 16:01] danieldahan commented on #519
Yes, it is in the queue for Material 2, which is set to release at the end of the month :)

[2016-09-15 16:01] #519 closed

[2016-09-15 17:09] sverin commented on #518
It works fine for me through cocoa pods.

pod 'Material', :git => 'https://github.com/CosmicMind/Material.git', :branch => 'development'

[2016-09-15 21:56] reidmain commented on #518
The development branch is working fine through Carthage as well. Any estimation as to when a formal Swift 3 release will occur?

[2016-09-15 23:05] adamdahan commented on #518
@reidmain we are preparing the official release of Material 2 with Swift 3 support now. Very soon, hard date not set but sometime over the next week.

[2016-09-15 23:24] reidmain commented on #518
@adamdahan excellent. Thank you very much for giving a timeline. I was planning on delving into our port in about two weeks to hopefully give all of our dependencies time to update.

[2016-09-16 03:38] danieldahan commented on #518
I am closing this issue, and soon enough we will be releasing Material 2. Thank you!

[2016-09-16 03:38] #518 closed

[2016-09-16 03:42] danieldahan opened #520 "Material 2 & Swift 3 Release"
The latest date that Material 2 with Swift 3 support will be released is on September 30th 2016.

We are making final decisions on the API going forward, and writing documentation to support the Material framework.

We appreciate your support and look forward to providing an excellent product that we are proud to share with our growing community.

[2016-09-16 04:00] innoppl-developers opened #521 "Does not support swift 3"
Material does not work in swift 3 using cocopods . Kindly fix it soon .

[2016-09-16 04:04] danieldahan commented on #521
It is working in the `development` branch that is in preparation for Material 2. It should be stable and will undergo a final review on the API going forward. You can follow along here [520](https://github.com/CosmicMind/Material/issues/520).

:) All the best!

[2016-09-16 04:04] #521 closed

[2016-09-16 05:55] kingdana92 opened #522 "UIView has no member 'Layout'"
view.layout(containerView).edges(top: 100, left: 20, right: 20)

i cant seem to find the solution for this.

[2016-09-16 08:31] ConfusedVorlon opened #523 "suggestion: make Colors inherit from a shared structure"
this is a small thing - but would make my code slightly neater!

I like to define an extension with accent/primary, like this:

[code]

the duplication between the type and the return value is marginally annoying!

it would be somewhat neater if the colors had a shared inheritance and I could write the following

[code]

(I'm not clear whether the 'self' would be required here or not)

[2016-09-16 08:41] alexander-larsson opened #524 "Some weirdness with Switch"
I'm using the "Switch" component (Yes, I am on the development branch) in my app with Storyboards. In order to add it to your app the steps should be simple.

1. Add UIView to Storyboard
2. Set the custom class to "Switch" and the module to "Material"

That does not work. The following message is printed in the console:

`2016-09-16 09:49:02.229 MyApp[10266:789088] Unknown class _TtC8Material6Swit

[2016-09-16 12:51] danieldahan commented on #522
What version of Material are you using? And when was the last time you updated if you are using the `development` branch?

[2016-09-16 13:59] danieldahan commented on #524
The MaterialSwitch example is from version 1.*, which means that the name is not the same. Before it was MaterialSwitch and now it is Switch. You should be able to see examples in that project of how to use the Switch programmatically. The interface is the same, only the name has changed. As for your storyboards issues, I would need to see a sample of what you are doing.

All the best,

----------

[2016-09-16 14:07] alexander-larsson commented on #524
I only perform step 1 and 2 above. Nothing else. It seems like it is still called MaterialSwitch according to IB but not in the actual Swift classes or something.  The file Material-Swift.h seems to have something to do with this. I am NOT using any examples.

The thing is I can use it, it does work, I just give it a class of Switch and NO module in IB. That should not work, but it does.

I have b

[2016-09-16 14:09] danieldahan commented on #524
Can you clean your build folder and delete the UserDerived data ? I will take a look and see if something else comes up.

[2016-09-16 18:00] hisham2007 opened #525 "support for swift 3"
Thanks for great effort.

Apple just released official xcode 10.  when I add
pod 'Material', '~> 1.0'

I face many compilation errors with swift 3

[2016-09-16 18:08] chashmeetsingh commented on #525
try
`pod 'Material', :git => 'https://github.com/CosmicMind/Material.git', :branch => 'development'`

[2016-09-16 18:56] danieldahan commented on #525
Yes, the development branch is where Swift 3 support is currently. It is only on development as we make our final revisions for Material 2 and Swift 3. Please follow along here [520](https://github.com/CosmicMind/Material/issues/520).

[2016-09-16 18:56] #525 closed

[2016-09-16 19:19] kingdana92 commented on #522
Hello Daniel,

version 1.0

i installed via cocoa pod (pod 'Material', '~> 1.0')

[2016-09-16 19:21] danieldahan commented on #522
Can you confirm you are on version 1.42.9, if not on the development branch? Otherwise, the layout object doesn't even exist in version 1.0.

[2016-09-16 19:37] kingdana92 commented on #522
Im on version 1.41.6

here is the log from installation

Analyzing dependencies
Downloading dependencies
Installing Material (1.41.6)
Generating Pods project
Integrating client project

[2016-09-16 19:39] danieldahan commented on #522
Would you mind forcing 1.42.9? You can put that in the pod spec, and it should download that version for you.

[2016-09-16 19:44] kingdana92 commented on #522
This is what i received

[!] Unable to satisfy the following requirements:

- `Material (>= 1.42.9)` required by `Podfile`

None of your spec sources contain a spec satisfying the dependency: `Material (>= 1.42.9)`.

You have either:
 * out-of-date source repos which you can update with `pod repo update`.
 * mistyped the name or version.
 * not added the source repo that hosts the Podspec to your

[2016-09-16 19:45] kingdana92 commented on #522
This is my pod file

# Uncomment this line to define a global platform for your project
# platform :ios, '9.0'

source 'https://github.com/CocoaPods/Specs.git'

target 'SearchBar' do
use_frameworks!

pod 'Material', '>= 1.42.9'

end

[2016-09-16 19:48] kingdana92 commented on #522
updated the repo and installing 1.42.9 now

[2016-09-16 19:50] danieldahan commented on #523
I tried this

[code]

in an external project using Material and it worked fine. So what exactly is the issue that you are seeing? Sorry, I am not clear on this one. Thanks!

[2016-09-16 19:51] kingdana92 commented on #522
Problem solver after updating to 1.42.9.

Thank you

[2016-09-16 19:51] #522 closed

[2016-09-16 19:52] danieldahan commented on #522
Excellent!

[2016-09-16 20:02] danieldahan commented on #515
Hey, I haven't had a chance to focus fully on updating Layout to potentially handle what you are looking for. I will update you shortly. Thank you!

[2016-09-16 20:58] ConfusedVorlon commented on #523
this is definitely a minor point, it is just feels like a slight code smell to have to change both the return type, and the return value  if you want to change a colour

so to go from red to blue, you need to go from

[code]

to

[code]

as opposed to

[code]

to

[code]

as I said, not a big deal, but essentially we have the same behaviour in multiple structures, but without it being formalised t

[2016-09-16 21:02] danieldahan commented on #523
Ahhh I get what you mean. Yes, we can make a Color type and then you can achieve what you are looking for. Cool, I'll add that :)

[2016-09-17 03:09] nthtrung09it opened #526 "textAlignment switch in navigationItem"
Hello, I have a problem but I don't know to resolve it.
I have a navigation item, and want to show choice mode if a item in UITableView is selected.
Default navigationItem title alignment in normal mode is .left, and in choice mode is .center

-- navigationItem title textAligment LEFT in normal mode and choice mode --
NavigationItem in normal mode:
![image](https://cloud.githubusercontent.com/asse

[2016-09-17 03:18] siryu8888 opened #527 "Material Swift 3 Issue"
I have some issue about material,
<img width="336" alt="screen shot 2016-09-17 at 10 17 06" src="https://cloud.githubusercontent.com/assets/12934177/18605593/ff4e75d6-7cbf-11e6-91f9-51cdb0662db8.png">

any help about this?? Thx in advance...

[2016-09-17 03:55] chashmeetsingh commented on #527
Try the development branch

[2016-09-17 07:44] mohpor opened #528 "Add @discardableResult to Layout helper"
As per [SE-0047](https://github.com/apple/swift-evolution/blob/master/proposals/0047-nonvoid-warn.md) (implemented in Swift 3.0), `@warn_unused_result` is default for non-void functions.

`Layout` functions return `Layout` for chaining purposes and should add `@discardableResult` to them to prevent unwanted warnings about their results not being used.

[2016-09-17 18:44] danieldahan commented on #528
Fixed :) in the `development` branch! Thanks for this.

[2016-09-17 18:44] #528 closed

[2016-09-17 18:45] danieldahan commented on #527
Yes, you need to use the `development` branch for Swift 3 at the moment, which is also the Material 2 branch. This will be officially released on the 30th of September. Thank you!

[2016-09-17 18:45] #527 closed

[2016-09-17 18:46] danieldahan commented on #526
What version of Material are you using? This was fixed in Material 2 on the development branch with Swift 3 support.

[2016-09-17 19:14] danieldahan commented on #523
Made a fix for this, now you can do this

[code]

As well, the Color class is open and you can extend it alongside each ColorPalette class type.

[2016-09-17 19:14] #523 closed

[2016-09-17 20:47] ConfusedVorlon commented on #523
thank you. My code will smell all the sweeter ;)

[2016-09-18 02:09] nthtrung09it commented on #526
I'm using Material 2 on the development branch.
If you have time, take a look at:
https://github.com/nthtrung09it/HelloMaterial
Comment/ uncomment line 35 and 64 to see this bug.

Thank you!

[2016-09-18 03:00] siryu8888 commented on #527
Ok.. thx for info

[2016-09-19 20:17] Flar49 commented on #517
Just had the same issue. The problem was that i was assigning detail text directly to `field.detailLabel.text` and not via `field.detail`.

I searched Material's source for the solution and found that after assigning `detail` `layoutDetailLabel` method is called: http://take.ms/kInSP
Apparently, it's not called after assigning string to `field.detailLabel.text` directly.

Replacing `field.detailLa

[2016-09-19 21:33] sverin commented on #517
Does not work for me.

[code]

Tried both programatically and through storyboard.

The first attached imaged show how the field is display at startup.

<img width="231" alt="01" src="https://cloud.githubusercontent.com/assets/2380634/18649669/0c800dac-7ec1-11e6-9dbb-15ca271a80a3.png">

The second attachment how the field looks after focus on the field.

<img width="233" alt="02" src="https://cloud

[2016-09-20 02:37] nthtrung09it commented on #526
How can I fix this problem?

[2016-09-20 20:50] danieldahan commented on #526
Hey!

Excellent find :)

I pushed a fix to development. So you only need to update from CocoaPods.

Thanks again!

<img width="372" alt="screen shot 2016-09-20 at 1 20 11 pm" src="https://cloud.githubusercontent.com/assets/9982123/18687440/04a3f80e-7f35-11e6-97b3-e6053455052b.png">
<img width="390" alt="screen shot 2016-09-20 at 1 20 54 pm" src="https://cloud.githubusercontent.com/assets/9982123/1

[2016-09-20 20:50] #526 closed

[2016-09-21 01:13] nthtrung09it commented on #526
Yes, It works 👍 Thank you!

[2016-09-21 17:06] btelintelo commented on #517
I have a similar issue in xcode 8 while using a stack view with text fields inside.  The top callout text doesnt cause the stack view to resize, so it just lays over top view above it.

[2016-09-22 16:07] danieldahan commented on #515
So after playing with this for a while, I am going to suggest to write raw Constraints to achieve what you are looking for. The API into Layout is meant to be simple. Going in the direction you are asking will make it complex. All the best! :)

[2016-09-22 16:07] #515 closed

[2016-09-22 17:26] brokenworld commented on #517
I have same issue too in Xcode8. I can't fix by replace text option and place margin top, but I can resolve this problem below code.

Try to repositioning this code.
`view.layout(textField).top(originalTop).horizontally(left: mariginLeft right: marginRight)`

[2016-09-22 19:53] danieldahan commented on #517
Thanks everyone for your input. I am looking at the TextField later this week before release in Material 2. I will get back to everyone with solutions and updates.

[2016-09-23 14:10] tianqiujie commented on #520
ok，I have to change other library.

[2016-09-27 14:32] robcecil opened #529 "Build issue with Xcode 8 (*failed with exit code 65)"
The following build commands failed:
	Check dependencies
(1 failure)
A shell task (/usr/bin/xcrun xcodebuild -workspace /Users/robcecil/Git/Wander/Carthage/Checkouts/Material/Examples/Material.xcworkspace -scheme Material iOS -configuration Release -sdk iphoneos ONLY_ACTIVE_ARCH=NO BITCODE_GENERATION_MODE=bitcode CODE_SIGNING_REQUIRED=NO CODE_SIGN_IDENTITY= CARTHAGE=YES clean build) failed with ex

[2016-09-27 14:35] robcecil commented on #529
Build log output:

/usr/bin/xcrun xcodebuild -workspace /Users/robcecil/Git/Wander/Carthage/Checkouts/Material/Examples/Material.xcworkspace -scheme Material iOS -configuration Release -sdk iphoneos ONLY_ACTIVE_ARCH=NO BITCODE_GENERATION_MODE=bitcode CODE_SIGNING_REQUIRED=NO CODE_SIGN_IDENTITY= CARTHAGE=YES clean buildBuild settings from command line:
    BITCODE_GENERATION_MODE = bitcode
    CART

[2016-09-27 15:46] chashmeetsingh commented on #529
using development branch ?

[2016-09-27 16:02] robcecil commented on #529
It is the output of the command:

carthage update Material --platform iOS --no-use-binaries

[2016-09-27 17:32] #529 closed

[2016-09-28 06:14] sachinletsgo commented on #520
I am waiting for swift 3 as it is not working with swift 3.

[2016-09-28 06:35] chashmeetsingh commented on #520
Till then u can check the development branch it contains support for swift 3

Sent from my iPhone

[2016-09-28 17:07] tiennth opened #530 "Button with text "Done" will be clipped"
I don't know if there are any specials with button "Done".

If I create a MaterialButton with text "Done", that button's text will be clipped.

![clipped](https://cloud.githubusercontent.com/assets/3277692/18923921/62f1a862-85d8-11e6-9c6e-ab19fbd90f5b.png)

If I change the text to other string like "Next" or "Done " or " Done" (add a space before or after Done), there will be no problem.

![np](ht

[2016-09-28 17:08] danieldahan commented on #530
Hey, what version of Material are you using?

[2016-09-28 17:10] danieldahan commented on #530
I believe this is fixed in Material 2 that launches in the next couple days and is currently in the development branch.

[2016-09-28 17:11] tiennth commented on #530
I'm using the latest version installed by cocoa pods:
`pod 'Material'`

[2016-09-29 05:56] danieldahan commented on #530
Okay, you will need to use the `development` branch, or wait until the 30th of September for Material 2s release :)

[2016-09-29 05:56] #530 closed

[2016-09-29 05:57] danieldahan commented on #524
I haven't heard back from you, so I am closing this issue, and if you continue to face an issue, please reopen or create a new GitHub issue. Thank you!

[2016-09-29 05:57] #524 closed

[2016-09-29 05:57] danieldahan commented on #517
Working on this today before we release Material 2. Thank you!

[2016-09-29 09:35] chashmeetsingh opened #531 "Development branch log message"
objc[3200]: Class PLBuildVersion is implemented in both /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator.sdk/System/Library/PrivateFrameworks/AssetsLibraryServices.framework/AssetsLibraryServices (0x11bc51910) and /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator.sdk/System/Librar

[2016-09-29 12:47] tianqiujie commented on #520
toolbar.titleLabel.textColor = MaterialColor.white  error： Use of unresolved identifler 'MaterialColor'

[2016-09-29 12:48] chashmeetsingh commented on #520
@tianqiujie read https://github.com/CosmicMind/Material/wiki/Changelog

[2016-09-29 12:57] tianqiujie commented on #520
Thank you.  but  toolbar.leftControls can not work now?

[2016-09-29 12:58] chashmeetsingh commented on #520
whats the problem?

[2016-09-29 13:19] tianqiujie commented on #520
ListViewController.swift:557:9: Value of type 'Toolbar' has no member
'leftControls'

2016-09-29 20:58 GMT+08:00 Chashmeet Singh <notifications@github.com>:

[2016-09-29 13:46] tianqiujie commented on #520
ListViewController.swift:557:9: Value of type 'Toolbar' has no member
'leftControls'

[2016-09-29 14:00] #531 closed

[2016-09-29 14:01] danieldahan commented on #520
@tianqiujie it is now `leftViews`.

[2016-09-29 14:08] chashmeetsingh commented on #531
@danieldahan How to resolve this ?

[2016-09-29 14:11] danieldahan commented on #531
I am not sure, has this issue been isolated to Material ?

[2016-09-29 14:12] danieldahan commented on #531
Further more, I will need reproducible steps.

[2016-09-29 14:18] chashmeetsingh commented on #531
I thought it's material because of photolibrary involvement

Sent from my iPhone

[2016-09-29 14:27] danieldahan commented on #531
It could be, but I would need reproducible steps. Are you trying to use PhotoLibrary ?

[2016-09-29 14:33] chashmeetsingh commented on #531
I can share the projects GitHub url.
No not even using it
https://github.com/chashmeetsingh/Track-My-Shows-iOS

Sent from my iPhone

[2016-09-29 14:45] danieldahan commented on #531
I wont have time to look immediately, and if you are not using PhotoLibrary, it shouldn't affect anything. I will try and look soon :)

[2016-09-29 15:45] danieldahan commented on #517
When ready, would you be able to test the `development` branch for a fix to the issue. Thank you!

[2016-09-29 15:45] tianqiujie commented on #520
In ios 9 my toolbar work nice, but when upgrade to the ios 10. It is cannot work normal. please help me. Thank you very much!

[code]

IOS9:
![image](https://cloud.githubusercontent.com/assets/2835129/18961208/ce24b716-869e-11e6-9546-4ad02247c9f6.png)

IOS10:
![image](https://cloud.githubusercontent.com/assets/2835129/18961080/6247da1e-869e-11e6-9437-6edc3a721012.png)

[2016-09-29 15:51] danieldahan commented on #520
What are you trying to do with the `containerView` ? and let's move this to https://gitter.im/CosmicMind/Material

[2016-09-29 16:44] sverin commented on #517
I updated to the latest development branch and it's all working fine now!
Looking forward to the official 2.0 release.

Thanks!

[2016-09-29 16:45] danieldahan commented on #517
Sweet! Thank you :)

[2016-09-29 16:45] #517 closed

[2016-10-01 05:17] #520 closed

[2016-10-01 21:06] sverin opened #534 "suggestion: make it possible to render the placeholder labelat the top from the beginning"
Is there a way for the placeholder label of TextField to be rendered at the top from the beginning?
I don't want it to be animated when I focus on the textfield and it's empty.

[2016-10-02 11:31] danieldahan commented on #534
Hey! Pull the latest, [2.1.0](https://github.com/CosmicMind/Material/releases/tag/2.1.0) and set the TextField's `isPlaceholderAnimated` property to false. That should create the effect you are looking for. Thanks and all the best!

[2016-10-02 11:31] #534 closed

[2016-10-03 05:04] zbangsatz opened #535 "Is Material protocolable?"
If I want to mix Material TextField with https://github.com/bkook/BKMoneyKit or something else I need to write my new. It's not quite comfortable.
My suggestion is make Material UI to something like "Protocol-Oriented Programming". I think it's really nice and easy compare with others.
Resource https://realm.io/news/doios-natasha-murashev-protocol-oriented-mvvm/

[2016-10-03 08:53] cooler333 commented on #514
How to fix?

[2016-10-03 08:54] danieldahan commented on #514
Pull the latest from master, that should do it :)

[2016-10-03 08:57] cooler333 commented on #514
The question was: How can I fix it in my code? :)

[2016-10-03 08:59] danieldahan commented on #514
Oh, you need to add @escaping before the function closure, Xcode should provide a suggestion, or you can share your code here.

[2016-10-03 09:03] cooler333 commented on #514
Question was about optional closure

You fix it by removing "@escaping": https://github.com/CosmicMind/Material/commit/770946589f842887efbdc04f89ef92b21793cba2

That's my code. I don't want to remove escaping.
[code]

[2016-10-03 09:26] danieldahan commented on #514
Well @escaping is only needed when your closure executes after the function returns. Is this the case?

[2016-10-03 10:31] tarek903 opened #536 "Problem compiling material with swift 3"
i tried migrating assistant but still tons of errors am i doing something wrong or its not supported by swift 3 ?
thanks in advance

![screen shot 2016-10-03 at 1 30 42 pm](https://cloud.githubusercontent.com/assets/11038057/19034706/ac00d972-896d-11e6-951e-004df90a9834.png)

[2016-10-03 11:38] cooler333 commented on #514
Yes, i'll pass it to another func(or set to property)

[2016-10-03 11:39] kiwo12345 commented on #536
I got the same error

[2016-10-03 11:46] kiwo12345 commented on #536
@tarek903 I got it working by using:
**pod 'Material', :git => 'https://github.com/CosmicMind/Material', :branch => 'development'**

[2016-10-03 12:00] danieldahan commented on #514
So the issue is probably that you have not defined that other function yet, so the compiler doesn't know what you are thinking of doing. So do not add the @escaping until you actually pass it to another function that is async.

[2016-10-03 12:02] danieldahan commented on #536
You are using version 1.42.9, which is not supported. You need to use 2.1.0, which is now officially released in master. So install the latest from master, and you should be good :)

[2016-10-03 12:02] #536 closed

[2016-10-03 12:04] cooler333 commented on #514
This is known swift 3 compiler [issue](http://stackoverflow.com/questions/39618803/swift-3-optional-escaping-closure-parameter)

I think you found some pretty workaround.

[2016-10-03 12:04] kiwo12345 commented on #536
@danieldahan I just tested with pod **'Material', '~> 1.0'** and got the same errors, then I used **pod 'Material', :git => 'https://github.com/CosmicMind/Material', :branch => 'development'**

And now it works :)

[2016-10-03 12:06] danieldahan commented on #536
Switch to 'Material', '~> 2.0'

[2016-10-03 12:07] danieldahan commented on #535
Great suggestion :) Yes, I am familiar with Protocol Orientation. I'll give the framework a pass and see if and where possible to add this style. Protocols have their own limitations, so as long as it is possible, we will make it work. All the best!

[2016-10-03 12:07] #535 closed

[2016-10-03 12:11] danieldahan commented on #511
I added this item as a ToDo to the [Material Components](https://github.com/CosmicMind/Material/projects/1) project. Thanks for the suggestion.

[2016-10-03 12:18] kiwo12345 commented on #536
@danieldahan My bad, I took the version from the docs/installation guide

[2016-10-03 13:16] danieldahan commented on #536
@kiwo12345 Actually that is my bad, I need to update that. Thank you!

[2016-10-03 23:46] hisham2007 opened #537 "Issues I face using development branch"
Thanks for great effort.

I am actively using development branch in porting my material Android app to IOS.
[https://play.google.com/store/apps/details?id=com.tabe3.news](https://play.google.com/store/apps/details?id=com.tabe3.news)

So Please let me use this thread to report issues I face . I will add comment when I face new issue or enhancement suggestion.

most of my issues are with tableview

[2016-10-04 15:14] adamdahan commented on #537
@danieldahan This is something that can be discussed within the community on Gitter. Please close this.

@hisham2007 If you would like you can privately share your code with us and we can help you out but this isn't the forum for recommendations.  The comments you have left are awesome and we appreciate it but we would need to see your code before we can consider these issues.

Cheers

[2016-10-04 15:21] danieldahan commented on #537
@hisham2007, @adamdahan is correct. We should bring this to the [Gitter](https://gitter.im/CosmicMind/Material) channel. There are some points you made that are interesting. Let's discuss them there and leave GitHub strictly for relevant issues. Thank you!

[2016-10-04 15:21] #537 closed

[2016-10-04 15:22] adamdahan commented on #537
@hisham2007 Also please migrate to the Master branch - Material 2 has been released and development has been merged into master.

[2016-10-04 15:23] hisham2007 commented on #537
Ok I will move there. thanks for quick reply. wish you the best

[2016-10-05 05:07] chashmeetsingh opened #538 "trigger snackBar with button click"
How do we trigger the snack bar as many times a button is pressed. I tried but didn't seem to work.

[code]

[2016-10-05 08:12] devcaststudio opened #539 "Trigger show NavigationDrawer with UIButton"
Hi,

i'm trying to show Left or RIght Navigation Drawer with button but i dont know how to use that, i'm adding button in navigation Bar, please share how to make that :)

[2016-10-05 09:07] danieldahan commented on #539
Hello,

From any view controller, you can access the `navigationDrawerController` optional property. So you could add to a button handler the ability to toggle the Left or Right drawer by doing this:

[code]

And that's it :)

[2016-10-05 09:07] #539 closed

[2016-10-05 09:09] danieldahan commented on #538
Well you have a delay on the animation `_ = sc.animate(snackbar: .visible, delay: 1)` so you cannot click the button many times and then queue the animation. You have to wait until the animation plays out. If you want to do it as many times as you click, then keep a queue, and then cycle through the queue to trigger your function to call the animations.

All the best :)

[2016-10-05 09:09] #538 closed

[2016-10-05 14:01] shshalom opened #540 "Switch in toolbar acting weird"
I've converted my project to Swift3, and updated Material to version 2.0.
It's seems like almost everything went smooth except the Switch controller when it set inside the Navigation Controller.

First the initial position is wrong, and when rotating the device it seems like the Switch controller width property grows bigger.

Here's my setup:

[code]

You could also reproduce this problem by editi

[2016-10-05 22:33] danieldahan commented on #540
Thank you for reporting this. I will take a look. I am about to hop on a plane, so once I have a stable connection, I will get back to you.

[2016-10-06 13:24] MGStudio opened #541 "Incorrect display for placeholder text if leftView"
Hello !
Nice job for the library, I needed to add au leftView to my textfield and when I did I realize that the placeholder view simply ignored the left view. I'm looking for a solution to move the placeholder like this it will avoid the intersection with the left view.

I will subclass textfield and come back when I will have a solution.

[2016-10-06 21:05] Dmurph24 commented on #536
@danieldahan  Is swift 3 support for this repo yet? I tried both master and development and errors tell me to use a legacy version of swift.

[2016-10-06 21:07] danieldahan commented on #536
Yes, swift 3 is very much supported. If you are using CocoaPods, you may have to manually set the legacy flag to No.

[2016-10-06 21:11] Dmurph24 commented on #536
Awesome thanks, I got it to work. If you have legacy swift 3 build error you can add this to the end of your podfile
[code]

[2016-10-06 23:31] danieldahan commented on #536
Awesome!!! Thank you :)

[2016-10-07 11:21] sohayb opened #542 "Feature discovery: Tap Target"
Hello @danieldahan ,
First congrats on your big release! I'd like to see this feature added to your library, it should be awesome! 😄
To check the specs of it, you can check this [Google's Material Design guidelines on feature discovery](https://material.google.com/growth-communications/feature-discovery.html#feature-discovery-design)
And here's how it looks before you check the link:
![useredu_er_

[2016-10-07 12:28] MGStudio commented on #541
I have a fix, I will create a pull request soon.

[2016-10-07 14:50] danieldahan commented on #541
Great! Looking forward to it :)

[2016-10-07 15:06] danieldahan commented on #542
@sohayb Thank you :)

I added this feature request to the [Material Project](https://github.com/CosmicMind/Material/projects/1?fullscreen=true). I think this would be a great addition.

[2016-10-07 15:09] danieldahan commented on #541
I await your PR, closing the issue for now. Thank you!

[2016-10-07 15:09] #541 closed

[2016-10-07 21:18] LarsWith opened #543 "Is it possible to only get certain components or must I download the whole lib?"
Is it possible to only get certain components or must I download the whole lib?

I would only like to use the textfield and button

[2016-10-07 21:19] danieldahan commented on #543
We are experimenting with this type of option. Currently, unless you delete files yourself, you need to take them all in.

[2016-10-07 21:19] #543 closed

[2016-10-08 08:50] okankocyigit commented on #541
waiting for pr, thanks.

[2016-10-08 16:05] kristoff2016 opened #545 "Does it support swift 3 now ?"
I tried install it but I can not use it because it is required convert to swift 3.

[2016-10-08 16:17] danieldahan commented on #545
Yes, please use the `master` branch. :)

[2016-10-08 16:17] #545 closed

[2016-10-08 16:18] kristoff2016 commented on #545
yes, actually it is master branch 👍

[2016-10-08 16:19] danieldahan commented on #540
Taking a look at this now :)

[2016-10-08 22:21] danieldahan commented on #540
Hey! Material [2.1.1](https://github.com/CosmicMind/Material/releases/tag/2.1.1) should fix the issue :) Thank you for bringing this to our attention.

[2016-10-08 22:21] #540 closed

[2016-10-09 07:13] shshalom commented on #540
Awesome!, Thank you @danieldahan, and you're welcome.

[2016-10-09 09:21] sohayb commented on #542
Thx a lot!

[2016-10-09 13:43] acenter2507 opened #546 "How to change contentController of NavigationDraw"
How to change contentController of NavigationDraw when select row in leftSideBar.
Many tks.

[2016-10-09 14:47] danieldahan commented on #546
Hey! You don't want to change the `contentViewController` of the `NavigationDrawer` you will want to change the `rootViewController`. You can do this by using the `open func transition(to viewController: UIViewController, duration: TimeInterval = 0.5, options: UIViewAnimationOptions = [], animations: (() -> Void)? = nil, completion: ((Bool) -> Void)? = nil)` method.

For example, in your `LeftView

[2016-10-09 15:23] acenter2507 commented on #546
Yeb, thank you so much.

[2016-10-09 15:23] #546 closed

[2016-10-09 15:26] danieldahan commented on #546
Here is the complete solution:

[code]

[2016-10-09 15:39] danieldahan commented on #546
Material [2.1.2](https://github.com/CosmicMind/Material/releases/tag/2.1.2) now has the sample.

[2016-10-12 14:50] danieldahan opened #547 "Add ability for height to be adjusted on ToolbarController, NavigationController, SearchBarController, SnackbarController, and PageTagBarController."

[2016-10-12 16:41] #547 closed

[2016-10-12 16:41] danieldahan commented on #547
Has been completed.

[2016-10-12 17:03] danieldahan opened #548 "Add CaptureController and refactor Capture logic."

[2016-10-12 17:06] danieldahan opened #549 "Come up with a solution to organize Privacy type features (Camera, Micrphone, Reminders)."

[2016-10-13 01:17] Vortec4800 opened #550 "Benefits of NavigationController over UINavigationController"
Forgive me if I'm just missing something, but what would be the benefit of using Material's NavigationController over using the standard UINavigationController with a customer nav bar subclass (if you want to use the Material nav bar)?

[2016-10-13 14:31] danieldahan commented on #550
No worries. It's much easier to customize, space, and manipulate. The entire library is not based on the NavBar, it's one of many components. That said, there are large and small benefits using any of the components.

[2016-10-13 14:31] #550 closed

[2016-10-13 15:34] Vortec4800 commented on #550
Perhaps my disconnect is that I'm not aware of the benefits of using some of these full components over just some of the UI items on top of the original frameworks. I would love a bit more detail in the already excellent readme file which seems to focus on just the UI items.

Anyway thanks for the reply!

[2016-10-13 15:38] danieldahan commented on #550
You are 100% correct. I have been spending so much time getting CosmicMind's frameworks out there code wise, and we are shifting our efforts to documentation. I believe that everyone would benefit from really understanding the benefits and all the features. I don't imagine anyone is really using more than a small percentage of the actual features.

I really appreciate this issue, because you are s

[2016-10-13 15:43] Vortec4800 commented on #550
That sounds really awesome. So far I'm basically only using a couple things like the buttons and the text fields, but it seems like there is a ton more functionality that I'm just plain unaware of.

[2016-10-13 15:53] danieldahan commented on #550
The overall real benefit that no one is seeing is the ease in a decoupled architecture for the entire UI, as well as, the ability to build additional components from the core library. In the next couple weeks we will be all about docs and examples.

[2016-10-14 08:37] DennisNehrenheim opened #551 "Issue displaying more then 6 Buttons in PageTabBarController"
When I add more than 6 buttons to the tabBar there is an display issue:
![image](https://cloud.githubusercontent.com/assets/19328249/19380890/8af0b7e0-91f9-11e6-9bbb-71f707a66a80.png)
whereas with 6 buttons everything works fine:
![image](https://cloud.githubusercontent.com/assets/19328249/19380979/f3eafb0c-91f9-11e6-8738-6c0ae9f80d84.png)
In Landscape the error exists to:
![image](https://cloud.g

[2016-10-14 08:54] jbaez opened #552 "Cannot use classes marked with @objc in IB in Xcode8 and Swift 3."
After upgrading my project to Swift 3 and Material 2 I had an issue when compiling with messages similar to: "Unknown class _TtC8Material4View in Interface Builder file".
I turns out that in IB when setting the Custom Class it didn't show "Material" in the module section dropdown for some classes.
The classes that had this issue also had the @objc attribute. I removed the attribute and then it sho

[2016-10-14 13:32] danieldahan commented on #552
Can you send a sample to support@cosmicmind.io? The class names have changed and this may be the issue. We have samples in Storyboards that use classes with @objc. Thank you :)

[2016-10-14 13:33] danieldahan commented on #551
Very interesting, I'll take a look :) thank you

[2016-10-14 13:52] DennisNehrenheim commented on #551
It would be nice to solve this by using a scrollable PageTabBar. Is such a feature planned for future releases?

[2016-10-14 14:49] danieldahan commented on #551
I verified this issue, thank you for bringing it to our attention. I also like the feature request, and will see if I can add it while fixing this, if not, I will make it a standalone feature request for the very near future.

[2016-10-14 16:58] duyduong opened #553 "Weird left view behavior on NavigationDrawerController"
Hi,

I would like to report a bug. It is seemed that the side view on NavigationDrawerController is taking the full width of the device. Please see details below:

![image](https://cloud.githubusercontent.com/assets/450564/19395623/b9fe523a-9268-11e6-9b56-9101225e92e0.png)
In this image, View should be your leftView and it got correct frame size (320x1024)

![image](https://cloud.githubusercontent

[2016-10-14 16:59] danieldahan commented on #553
Excellent, thank you. I will investigate this today.

[2016-10-15 16:22] HowardCsie commented on #421
Is there any solution? :)

[2016-10-15 16:24] danieldahan commented on #421
Have you tried the latest release in `master` ?

[2016-10-15 16:39] HowardCsie commented on #421
Solved. ```self.hidesBottomBarWhenPushed = true```  :))Thanks

[2016-10-15 16:39] danieldahan commented on #421
@HowardCsie exactly :)

[2016-10-15 20:38] danieldahan opened #554 "How to dynamically set TableViewCell with Cards"
StackOverflow Question:

http://stackoverflow.com/questions/39800349/how-to-set-get-table-cell-height-dynamically-using-cosmicmind-material-framework?noredirect=1#comment67401191_39800349

[2016-10-17 07:09] aemgtz opened #555 "Components – Menus (Feature request)"
I needs control like menus in iOS
https://material.google.com/components/menus.html#
This components is appeared in Duo for iOS.
It would be great If Material provide this kind of control.

Thanks

[2016-10-17 08:18] hisham2007 commented on #554
Many thanks :)

[2016-10-17 10:50] jbaez commented on #552
I created a simple sample project recreating the issue and sent it by email.

These is what I'm using:

- OSX El Capitan (10.11.6)
- Xcode 8 and Swift 3
- Cocoa pods 1.0.1

Thanks.

[2016-10-17 14:43] danieldahan commented on #511
Linking this to https://github.com/CosmicMind/Material/issues/549

[2016-10-17 14:43] #511 closed

[2016-10-17 14:46] danieldahan opened #556 "Rework TextField."

[2016-10-17 14:59] danieldahan commented on #554
No worries. If you take a look here [Material Project](https://github.com/CosmicMind/Material/projects/1) you can see what I am working on.

[2016-10-17 15:00] danieldahan commented on #552
Excellent, thank you. I received your email. I will be taking a look shortly.

[2016-10-17 15:01] danieldahan commented on #555
Yes it would. I will add this to the Feature Request column in the [Material Project](https://github.com/CosmicMind/Material/projects/1). Thank you!

[2016-10-17 23:38] #556 closed

[2016-10-18 16:18] ConfusedVorlon commented on #549
fwiw - I think subspecs would be neater than using defines.

the interface for defines is just ugly in xcode/swift

by comparison, subspecs would be really easy - and simple to document.

[2016-10-18 16:20] danieldahan commented on #549
Yeah I fully agree. Would you be able to PR this change?

[2016-10-18 16:32] ConfusedVorlon commented on #549
I don't have any spare time at the moment. Sorry.

[2016-10-18 16:34] danieldahan commented on #549
Cool, then eventually I shall get to this, it is on the radar.

[2016-10-18 17:06] danieldahan commented on #554
@hisham2007 does this need to be a TableViewCell, or could you use a CollectionViewCell ?

[2016-10-18 17:09] hisham2007 commented on #554
table view cell

[2016-10-18 17:11] danieldahan commented on #554
Okay, cool, thank you!

[2016-10-19 02:55] robcecil opened #557 "Black content area after converting App from Material 1 to Material 2"
My app's view architecture was initially modeled after the old Material 1.x "App" programmatic example. I just recently converted to Swift3/Xcode8 and Material 2.1.0. Now I'm getting a strange behavior where all the views disappear and I get a black content area. When I examine the view hierarchy in Xcode either there is a single view, or I get a message about the view hierarchy not being availabl

[2016-10-19 14:17] theolof opened #558 "How do I set a divider on a Card in Material 2?"
Before: cardView.divider = true

How do I add a divider now, in Material 2?

The divider on Card is not settable.

[2016-10-19 15:36] danieldahan commented on #558
The divider is now a `Divider` object. This gives it features independently from the card. Actually any view now has the ability to access a divider. To use the Divider it needs a color to be seen. These are the properties you can set directly from any view:

[code]

You can access the `Divider` object directly using the `view.divider` property.

I will be adding to the available properties, in th

[2016-10-19 15:36] #558 closed

[2016-10-19 15:42] danieldahan commented on #557
I will follow your steps to reproduce.

[2016-10-19 16:31] danieldahan commented on #557
So the issue is in your `AppDelegate`

There is a class level property `var window: UIWindow?`

and in your `app didFinish...` method you are not actually setting it.

[code]

It should be:

[code]

Because you have `let window` in your code, you are never accessing the class level `window` property.

:) All the best!

[2016-10-19 16:31] #557 closed

[2016-10-19 16:38] danieldahan commented on #553
I looked into this. I am not able to reproduce the issue. What version of Material are you using? Can you send me your project or a sample so I can investigate further? Thank you!

[2016-10-19 16:39] danieldahan commented on #552
Looking now :)

[2016-10-19 16:44] robcecil commented on #557
Thanks Daniel. Must have stared at that several times during the conversion and never caught it.

[2016-10-19 16:45] danieldahan commented on #557
No worries :) Glad you reached out.

[2016-10-19 17:01] danieldahan commented on #552
You are correct. There is a warning. I believe it is because the @objc for those classes are not needed. I have removed them and there will be a release later today with the update. Thank you for bringing this to my attention :)

[2016-10-19 17:07] danieldahan commented on #554
I will be working on this today :)

[2016-10-19 23:52] aleufms opened #559 "Support for Swift 2.3"
Is there no support for swift 2.3?

[2016-10-19 23:56] #559 closed

[2016-10-20 01:12] danieldahan commented on #559
Yes, use the swift-2.3 branch :)

[2016-10-20 04:09] danieldahan commented on #554
Hey! I am almost done the example. I have a prototype of the idea here: https://github.com/CosmicMind/Graph/tree/development/Examples/DynamicCardTableViewCell. Tomorrow I will polish it off and make it look really nice :) The concepts may change, so don't get too fixated on this initial pass.

[2016-10-20 05:54] theolof commented on #558
awesome, thanks!

[2016-10-20 09:20] satishVekariya opened #560 "Please Add Date And Time PickerView"

[2016-10-20 10:08] hisham2007 commented on #554
many thanks for your big support

[2016-10-20 15:39] peersocialdeal opened #561 "NavigationController back button not hiding"
Hi :)

First of all, I really love this kit! <3

So, I'm developing an app right now. But I can't seem to figure out how I can hide the "default" back button on the navigation bar.

My setup (everything programmatically):

NavigationController -> ViewController
-> push
(NavigationController) -> NavigationDrawerController -> XLPagerTabStrip* -> ViewControllers

I removed the styling so I could star

[2016-10-20 15:58] danieldahan commented on #561
@peersocialdeal I love this line "PS: I'm not sure this is an issue, but it's my issue."

I think your setup is a bit off. You don't need to manually hide the back button. That is all done within the framework. In your `AppDelegate` you should have a setup like this:

[code]

The other thing to note, is if you are looking to use the `NavigationController` because you want the look and feel, but no

[2016-10-20 16:00] danieldahan commented on #560
Yes, this is in the pipeline :) I will leave it up as a `feature request`.

[2016-10-20 17:15] peersocialdeal commented on #561
Awesome fast response ! 👍

Yea, I figured my setup is that well.

I'm kinda new to iOs dev, so this is my first "real" project. So still figuring out some things.

The way the drawer works now is to "replace" the page on the drawer root.
But the way I'm supposed to make it work is leaving the drawer to a new history item in the navigation history stack.

screenshot: http://sup.urb.li/1avf5

top dr

[2016-10-20 21:04] danieldahan commented on #561
Let's close this issue and move it to [Gitter](https://gitter.im/CosmicMind/Material) so we can chat more freely on how to approach setting up your app architecture. Ping me there when you are ready.

[2016-10-20 21:04] #561 closed

[2016-10-20 23:06] danieldahan commented on #561
Hey, I started a samples project repository where I will make samples based on requests and needs. Here is your issue https://github.com/CosmicMind/Samples/issues/1 :) We can chat there.

[2016-10-20 23:07] danieldahan commented on #554
Hey, I started a samples project repository where I will make samples based on requests and needs. Here is your issue https://github.com/CosmicMind/Samples/issues/2 :) We can chat there.

[2016-10-20 23:07] #554 closed

[2016-10-20 23:08] danieldahan commented on #553
Hey! I cannot reproduce this issue and I haven't heard back from you. Please reopen or create a new issue if this persists, thank you :)

[2016-10-21 00:51] hisham2007 commented on #554
Many thanks. I will try it in weekend and feedback you there

[2016-10-21 04:02] despisedIcon opened #562 "Issue using light content statusBarStyle"
As in the ToolbarController project example I'm setting status bar style and color with the following:

[code]

The backgroundColor gets set correctly, but the status bar text remains black.
Is this a bug or is it possibly being overwritten somewhere else? Do you know whether storyboard properties could be causing this?

Cheers

[2016-10-21 04:06] danieldahan commented on #562
Hey! I think you are missing a value in your `info.plist` file. You need to set the `View controller-based status bar appearance` to `NO`.

:)

[2016-10-21 04:07] despisedIcon commented on #562
Thank you!

[2016-10-21 04:07] #562 closed

[2016-10-22 17:27] danieldahan commented on #549
https://github.com/CosmicMind/Material/pull/564

[2016-10-24 16:10] #549 closed

[2016-10-25 16:24] danieldahan opened #567 "Expanding the Animation library to the Motion library, to support the growth of the Material components."
This is an initial effort to support the evolution of Material's framework.

[2016-10-25 17:45] #567 closed

[2016-10-25 18:14] satishVekariya commented on #560
Thanks

On 20-Oct-2016 9:30 pm, "Daniel Dahan" <notifications@github.com> wrote:

[2016-10-26 16:50] reidmain opened #568 "TextField looks drastically different after Swift rewrite"
I am in the process of updating our app to use Swift 3 and Material is one of the dependencies I've had to update. I am using release 2.2.5.

There are three big issues I am seeing:

1) Placeholder text does not appear until some text is entered into the text field.

2) placeholderActiveColor is being ignored. The color of the placeholder text does not change if the text field becomes the first re

[2016-10-26 17:05] danieldahan commented on #568
Have you looked at the [Samples](http://github.com/CosmicMind/Samples) repo ?

[2016-10-26 17:21] reidmain commented on #568
I did but it wasn't exactly clear to me what it's purpose was. I opened the workspace and tried to run the "TextField" scheme and immediately got the build error ` No such module 'Material'` which makes sense because I don't see the Material framework included anywhere. The repo seems to just be example code with no way to include Material as a dependency.

Ah nevermind. Before I posted this I dec

[2016-10-26 17:23] danieldahan commented on #568
They should work with `pod install`. You could also use the workspace, but you need to add the Material framework to it. I made it possible for both styles to try the samples because of the different frameworks being used.

So let's go forward with some error messages you are getting and sample code.

[2016-10-26 17:28] reidmain commented on #568
I have tired opening up both `CosmicMind.xcworkspace` and `TextField.xcworkspace`.

The former gives the `No such module 'Material` error even after I have run pod install.

The later gives a linker error which then displays `ld: framework not found Material` when you click into it.

Looking into the "Build Phases" I see `Pods_TextField.framework` under the "Link Binary With Libraries" section so

[2016-10-26 17:28] danieldahan commented on #568
What version of CocoaPods are you using ?

[2016-10-26 17:30] reidmain commented on #568
1.1.1

Also I think this is a Xcode 8.1 issue. I converted the project to the "recommended settings" and it suddenly compiled.

[2016-10-26 17:31] danieldahan commented on #568
Okay, so that tackles that. What are the other issues ?

[2016-10-26 17:33] reidmain commented on #568
And like I suspected the TextField seems to be working fine in the sample app.

There must be something we are doing differently in our code but it is just so bizarre because TextField worked perfect under Swift 2 and iOS 9.

Could creating the TextField inside a nib make a difference?

[2016-10-26 17:34] danieldahan commented on #568
Also, you must have made a big jump. A lot of the components and underlying libraries were rewritten for Material 2. So I can help you catch up.

It could, but shouldn't be an issue. At the end of the day, the TextField is a subclass of UITextField. What I think the issue is that the API has been updated and you are not setting the correct values. Do you mind sharing your setup code?

Thank you!

[2016-10-26 17:36] reidmain commented on #568
Sure but first let me prune out some code and make sure the problem is still occurring with the most basic of setup code. Should take me about 5 minutes.

[2016-10-26 17:45] reidmain commented on #568
OK I have reduced the code to the absolute bare minimum and am still seeing the issue.

Basically the scenario is as follows. I have a nib file for a UITableViewCell subclass. We add a label, a button and two text fields to the content view.

Inside the `awakeFromNib` method we call an extension method we added to `TextField`:  `setFontStyle`.

[code]

and that's it. Other than the fact that the t

[2016-10-26 17:47] ddahan-imvu commented on #568
I can see API issues that you have in your code, such as `dividerColor` should be `dividerNormalColor`. If you create a sample project I can help you from there. Send it to support@cosmicmind.io.

[2016-10-26 17:48] danieldahan commented on #568
I can see API issues that you have in your code, such as dividerColor should be dividerNormalColor. If you create a sample project I can help you from there. Send it to support@cosmicmind.io.

[2016-10-26 18:24] reidmain commented on #568
So I created a quick view controller, programmatically created a `TextField` and then called the `setFontStyle` method on it and stuff was busted again. After a bit of experimentation I think I have founds the issues.

1) Setting the `text` property to `nil` causes the placeholder text to go AWOL. If I don't change the `text` property on the text field then the placeholder text works fine. If I se

[2016-10-26 18:25] danieldahan commented on #568
I really need code to see what you are doing. Please share the sample app.

[2016-10-26 18:38] reidmain commented on #568
Below are some screenshots and the code used to generate them. You can see when you set the text to nil then the placeholder label disappears.

[code]
![name not set](https://cloud.githubusercontent.com/assets/535202/19739624/847f961c-9b70-11e6-8741-57cd9d051164.png)

[code]
![name set to nil](https://cloud.githubusercontent.com/assets/535202/19739625/84951fc8-9b70-11e6-8a34-b96c9c02784a.png)

[2016-10-26 18:39] danieldahan commented on #568
Okay, I will need to review this. I notice you are using API calls that I have not necessarily mapped out. I will need to double check. Thank you for bringing this to our attention.

[2016-10-26 18:42] reidmain commented on #568
@danieldahan no problem. I'll update the code for the screenshots above so they don't use the `setFontStyle` method so they can be easily copy and pasted.

[2016-10-26 18:43] danieldahan commented on #568
@reidmain possibly update them, but leave the ones you are using commented out. I can then make sure it all works and ship an update :) I have one coming up.

[2016-10-26 18:44] reidmain commented on #568
@danieldahan don't worry I know our extension on TextField is busted and needs to be updated so I'm not gonna try to salvage it. For me the only real concerns are setting the `text` property to nil and the position of the placeholder label when text has been entered.