[2017-10-09 12:17] PetresS commented on #743
Is the swipe-feature added in Material 2.10.2?

[2017-10-09 13:36] danieldahan commented on #743
@PetresS Unfortunately not yet. It is getting there :)

[2017-10-09 13:41] danieldahan commented on #897
Hey! I Haven't heard from you. Please reopen the issue when you have a sample project reproducing the issue. Thank you!

[2017-10-09 13:41] #897 closed

[2017-10-09 14:14] danieldahan commented on #858
@paraschodavadiya it should be fine, please pull the latest. Thank you!

[2017-10-09 14:20] danieldahan commented on #898
Yes, that is correct. I removed all conflicting extension properties that are bound to a layer to avoid conflicts with other libraries. To add them, you can add an extension like so to your project:

[code]

Personally I would have loved to keep them in. That said, too many libraries make these shorthands and it was becoming an issue. All the best!

[2017-10-09 14:20] #898 closed

[2017-10-09 14:33] ahmedsafadii commented on #898
thanks i will see how it goes :)

[2017-10-09 18:54] vksid opened #899 "Title of Navigation Item Not Visible"
While using NavigationController as a class of Navigation Controller and NavigationBar as a class of Navigation Bar of Navigation Controller. Title of UINavigationItem is not available in the view hierarchy.

[2017-10-09 18:55] danieldahan commented on #899
Since `title` caused conflicts, you can now access the `navigationItem.titleLabel.text` for setting that value :) Please reopen the issue if you need and further help. Thank you!

[2017-10-09 19:05] vksid commented on #899
@danieldahan How can I alignment titleLabel in center of the navigation bar?

[2017-10-09 19:07] danieldahan commented on #899
It should by default be set to center. Can you make sure you have set the `NavigationController` and `NavigationBar` in storyboard, and if this is programmatic, please share your code setup.

[2017-10-09 19:10] chilinh commented on #893
@danieldahan Do you take a look at sample project? Do you have any solution to work around with those bugs?

[2017-10-09 19:11] vksid commented on #899
Here is the link to Xcode Sample Project : https://www.dropbox.com/s/0x0aoasun8odvv1/iOSResearch.zip?dl=0

I'm using Xcode 9, iOS 11.0.2

[2017-10-09 19:26] vksid commented on #899
Can I set titleTextAttributes here to make titleLabel text White Color?

`class AppNavigationController: NavigationController {

    open override func prepare() {

        super.prepare()
        guard let v = navigationBar as? NavigationBar else {
            return
        }

        v.depthPreset = .none
        v.barTintColor = Color.red.accent3
    }
}`

[2017-10-09 19:30] danieldahan commented on #893
I will look later tonight, if not tomorrow latest. Sorry for any delays :)

[2017-10-09 19:31] danieldahan commented on #899
Not in this version of Material. You will need to set the color like so:

[code]

We are working on theming, which will solve this issue as a global solution.

[2017-10-09 19:33] danieldahan commented on #899
I will take a look at your sample project tonight or latest tomorrow :)

[2017-10-10 05:11] vksid commented on #899
@danieldahan Thank you :)

[2017-10-10 16:54] danieldahan commented on #892
The `v2.x.x` branch is a running branch to point to tags aside from `master`. Once Apple makes an official update, everything we maintain gets pushed to that update. I'd be happy to further help in the [Material Gitter](http://gitter.im/cosmicmind/material) channel :) As for now, I am going to close this issue and hope to hear from you there. Thank you!

[2017-10-10 16:54] #892 closed

[2017-10-11 10:34] quanguyen opened #900 "XCode 9 - Swift 4 supported"
Hi,

When do we have this project supporting XCode 9, Swift 4?

Thanks for any update.

Regards,

[2017-10-11 10:36] mohpor commented on #900
@quanguyen
This library is supporting both Xcode 9 and Swift 4 already.

Thanks

[2017-10-11 10:36] #900 closed

[2017-10-11 14:10] Coppola-Aleandro opened #901 "How to set a Button with Text in in Toolbar.rightViews?"
My problem is: cut the name "Frances....."

![simulator screen shot - ipad pro 12 9-inch - 2017-10-11 at 16 08 34](https://user-images.githubusercontent.com/5457653/31445577-98b00da0-ae9e-11e7-8bc9-c5527e562676.png)

[2017-10-11 15:09] danieldahan commented on #901
Please send over your project, I will take a look at what is going on? Also, what version of Xcode and Material are you using?

[2017-10-11 15:28] MacMeDan opened #902 "Carthage update is failing"
Versions:
   - Running Xcode 9.0
   - Material 2.11.2

I am using Carthage as my package manager and within the last two days I have not been able to get the project to build because of this error
`dyld: Library not loaded: @rpath/Motion.framework/Motion
  Referenced from: /Users/macmedan/Library/Developer/CoreSimulator/Devices/43F98839-6A55-4C7F-917A-196EB7585DDC/data/Containers/Bundle/Applicatio

[2017-10-11 15:35] danieldahan commented on #902
Hey @MacMeDan :)

Yes, I would be happy to help. Basically, now Motion is a submodule for Material. This is why it is making the clone call. This is a good issue, as it will help many people down the road. I am going to install now using Carthage and will get back to you in a moment.

[2017-10-11 15:35] danieldahan commented on #853
@Ccmi I will be looking at it today. I had fallen way behind due to work, sorry about any delay.

[2017-10-11 15:37] danieldahan commented on #899
Hey @vksid I will be looking at your issue today. I had fallen behind due to work. Sorry for any delays.

[2017-10-11 15:39] danieldahan commented on #893
Hey, sorry for any delays, @chilinh. I had fallen behind due to work. I will be looking at your issue today. Thank you!

[2017-10-11 16:59] Coppola-Aleandro commented on #901
fileprivate var userButton: Button!
userButton = Button()
        userButton.setTitleColor(.white, for: .normal)
        userButton.pulseColor = .white
        userButton.addTarget(self, action: #selector(handleUserName(button:)), for: .touchUpInside)

toolbar.rightViews      = [userButton]

xCode 9 - Swift4

[2017-10-11 17:02] danieldahan commented on #901
Thank you, I will investigate this.

[2017-10-11 17:17] MacMeDan commented on #902
So I may have made some progress on it but it throws a new issue.
If you first run `carthage update` The module should get checked out and then run `carthage build` to get it to install. I did not have trouble the first time and now the app will build but and subsequent times you do it this error is thrown.

`Build Failed
	Task failed with exit code 65:
	/usr/bin/xcrun xcodebuild -project /Users/m

[2017-10-11 17:19] danieldahan commented on #902
Are you running this `carthage update --use-submodules` ?

[2017-10-11 18:32] csimmonsbluebook commented on #872
Any update on this? The CardTableView sample dynamic card hasn't been modified yet and I'm having trouble setting the height of the cell since converting to Swift 4. Thanks

[2017-10-11 18:34] danieldahan commented on #872
@csimmonsbluebook At the moment I am still going through the samples to ensure that everything is correct for the latest Material, Motion, and Swift 4. Sorry if it is broken at the moment, it will be updated shortly.

[2017-10-11 18:36] csimmonsbluebook commented on #872
@danieldahan Sounds good. Thanks man!

[2017-10-11 19:52] MacMeDan commented on #902
No, I am not. Should I be?

[2017-10-11 19:53] danieldahan commented on #902
Give that a try.

[2017-10-11 19:56] MacMeDan commented on #902
Ahh I see where I may have missed that. You need to use https://www.cosmicmind.com/danieldahan/lesson/6
Not
https://github.com/CosmicMind/Samples/wiki/Installation
The second link is found if you go to the samples Project and follow the [installation](https://github.com/CosmicMind/Samples/wiki/Installation) link.

[2017-10-11 19:57] danieldahan commented on #902
Ah yes, I am in the process of updating all the samples / repos / etc...  Did it work with that flag being set?

[2017-10-11 20:01] MacMeDan commented on #902
No I got this
`A shell task (/usr/bin/env git submodule --quiet update --init --recursive (launched in /Users/macmedan/Swift/straightline/Shipper/Carthage/Checkouts/Material)) failed with exit code 1:
Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.
fatal: clone of 'git@github.com:CosmicMind

[2017-10-11 20:02] danieldahan commented on #902
Okay, I need to change it to `https`. One sec, I will make a change for that

[2017-10-11 20:21] danieldahan commented on #902
Can you try this version [Material 2.11.3](https://github.com/CosmicMind/Material/releases/tag/2.11.3) please :)

[2017-10-11 20:29] MacMeDan commented on #902
It looks like we are good. Thank you for your help.

To anyone reading this thread to solve the same problem you will need to delete your
`Cartfile.resolved`folder and your `Carthage` folder. Then run
`carthage update  --platform iOS --use-submodules` in your terminal.

[2017-10-11 20:37] MacMeDan commented on #902
I lied I am back to this error.
`
 dyld: Library not loaded: @rpath/Motion.framework/Motion
  Referenced from: /Users/macmedan/Library/Developer/CoreSimulator/Devices/43F98839-6A55-4C7F-917A-196EB7585DDC/data/Containers/Bundle/Application/04B49666-5B10-4CB7-B174-30AE1E45F447/Shipper Dev.app/Frameworks/Material.framework/Material
  Reason: image not found

`

[2017-10-11 20:43] MacMeDan commented on #902
ahh, it seems this may be the problem.

From Carthage project [README](https://github.com/Carthage/Carthage#getting-started)

[2017-10-11 20:46] MacMeDan commented on #902
Now I get this
`A shell task (/usr/bin/env git submodule --quiet init -- Carthage/Checkouts/Material (launched in /Users/macmedan/Swift/straightline/Shipper)) failed with exit code 128:
fatal: No url found for submodule path 'Carthage/Checkouts/Material/Sources/Frameworks/Motion' in .gitmodules`

[2017-10-11 20:58] danieldahan commented on #902
Are you including the Motion framework ?

[2017-10-11 20:59] danieldahan commented on #902
Sorry that was for a previous comment. I’ll be back at my computer momentarily.

[2017-10-11 21:03] MacMeDan commented on #902
No, not implicitly. Which I was wondering about. So do I need to add it to my `Cartfile` b/c I did not see it as a built framework in the `Carthage` Folder.

[2017-10-11 21:07] danieldahan commented on #902
Here is the `.gitmodules` file

[code]

Can you try this `--use-submodules --no-build` ?

[2017-10-11 21:09] danieldahan commented on #902
I don't personally use Carthage and never have, so I am a bit `green` on this. @mohpor maybe you know how to do this?

[2017-10-11 21:15] MacMeDan commented on #902
Well my question is the `Material` framework actually dependent on the `Motion` framework. I thought they were separate.

[2017-10-11 21:20] danieldahan commented on #902
100%. Motion is the animation and transition arm in Material. As we add more animation based components, it will be pulling more from Motion. I separated them as Motion could be used without Material. Prior to this, Material copied the files over, and that was causing a maintenance issue. At the end of the day, I am happy that there are package managers out there, and I am sure this is not the fir

[2017-10-11 21:29] MacMeDan commented on #902
Awesome Let me know how it goes. I tried adding motion just like Material but it said the url was unresolved.

`github "CosmicMind/Motion"`

[2017-10-11 22:47] CheungTieZhu opened #903 "so do you have the version to support swift 3?I REALLY like your guy's textfield"

[2017-10-12 00:38] danieldahan commented on #903
Hey! Thank you :) I believe this is the latest version before Swift 4, [Material 2.10.2](https://github.com/CosmicMind/Material/releases/tag/2.10.2). If you need any help, we are here.

[2017-10-12 00:38] #903 closed

[2017-10-12 01:25] danieldahan commented on #902
So I believe the issue was that I was missing a Cartfile that had the Motion dependency. So I added that in [Material 2.11.4](https://github.com/CosmicMind/Material/releases/tag/2.11.4). Please read the [installation guide](https://www.cosmicmind.com/danieldahan/lesson/6) if needed. Thank you for bringing this to our attention and if there continues to be an issue, please reopen this.

[2017-10-12 01:25] #902 closed

[2017-10-12 08:09] mohpor commented on #853
I can confirm that this is a valid issue.
if you set `isMotionEnabled` to `true`, setting views' `alpha` prior to `viewDidAppear` would have no effect, meaning, the view will have an apha value of `1.0` upon view being displayed.
It seems `MotionContext` disregards view's alpha ater finishing with it. I need to investgate it some more, but I have very little knowledge on Motion, if @danieldahan co

[2017-10-12 13:21] vksid commented on #899
@danieldahan I think I got the reason for the issue. I have added UIBarButtonItem on the left side, and nothing on the right side which made it align right side.

[2017-10-12 13:44] danieldahan commented on #899
Yes, that would definitely do it. If you need any further help, please reopen the issue :)

[2017-10-12 13:44] #899 closed

[2017-10-12 13:57] danieldahan commented on #853
I believe I know where the issue is :)

[2017-10-13 10:50] muzoman opened #905 "When using ToolbarController to transition to a UIViewController - viewWillTransition never gets called"
Hi there,

I'm transitioning to a UIViewController via the toolbarController thus:

`        toolbarController?.transition(to:appDelegate.myViewController, completion: nil)
`
But the View Controllers viewWillTransition method is never called on subsequent device rotation events. Is there a missing viewWillTransition method in the toolbarController subclass hierarchy?

[2017-10-13 15:36] danieldahan commented on #905
Hey! Let me take a look at this and see what should be happening.

[2017-10-13 16:26] MacMeDan commented on #902
Awesome Thank You. 🎉

[2017-10-13 18:00] muzoman commented on #905
OK, thanks Daniel!

[2017-10-13 23:05] tomdaniel0x01 opened #906 "A bunch of errors after upgrading from v2.10.2!"
<img width="272" alt="screen shot 2017-10-13 at 4 33 09 pm" src="https://user-images.githubusercontent.com/26145937/31569519-a801d32e-b038-11e7-91cc-db4f111c8318.png">

[2017-10-14 00:50] tomdaniel0x01 commented on #906
Fixed by converting project to Swift 4

[2017-10-14 00:50] #906 closed

[2017-10-14 01:01] tomdaniel0x01 opened #907 "FAB button image not showing after init"
I have created a FAB button using `fabButton = FABButton(image: Icon.cm.add, tintColor: Color.grey.darken3)` but the image does not display until the button is touched.

I have tried setting the image outside of init which still does not work.

[2017-10-14 02:18] danieldahan commented on #907
Would you be able to send me a sample showing this? Is this tested on the simulator or device? What version of Material are you using? Thank you!

[2017-10-15 20:52] danieldahan commented on #860
Please find this feature available in the latest [Material 2.12.0](https://github.com/CosmicMind/Material/releases/tag/2.12.0) release.

Example:

[code]

[2017-10-15 21:07] danieldahan commented on #907
Hey! I haven't heard from you. When you have a sample project reproducing the issue, please reopen this. Thank you!

[2017-10-16 01:53] danieldahan commented on #905
I tested the [ToolbarController](https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/ToolbarController) samples project. All seems to be fine. I set the `viewWillTransition` function in the AppToolbarController class. May you send me a sample project that can reproduce this issue?

[2017-10-16 01:59] danieldahan commented on #901
I tested this use the [ToolbarController](https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/ToolbarController) and all works well. I don't see anywhere where you are setting the title. Try setting the title in the initializer:

[code]

If you experience further issues, please reopen this and send a sample project that reproduces the issue. Thank you!

[2017-10-16 01:59] #901 closed

[2017-10-16 02:10] danieldahan commented on #893
This is confirmed as an issue and we will work on a fix. Thank you for bringing this to our attention :)

[2017-10-16 02:12] danieldahan commented on #853
I will be working on this issue and preparing a release for this week. Thank you!

[2017-10-16 03:26] jojonarte opened #910 "Camera Freezes when going back to the captureview after dismissing a recently pushed view controller"
So I have a MainViewController that has the capture button and displays a preview of a photo if one has already been taken, clicking that button opens the captureview controller that holds the Capture implementation here, then after capturing the result photo gets populated on the main controller, then the user has the option to press next button on the top to go to a different controller, then wh

[2017-10-16 03:31] mohpor commented on #910
@jojonarte
Couple of questions:
1- How is it related to Material (Which components of Material are you using)?
2- Could you provide us with a sample project that demonstrates the problem?
Thnaks

[2017-10-16 03:45] mohpor commented on #910
In any case, there is an `AVCaptureSession` that's being stopped (a call to `stopRunning()`
All you need to do, is to call `startRunning()` on your capture session and it will unfreeze.

[2017-10-16 05:45] jojonarte commented on #910
I'm using Capture API

[2017-10-16 07:47] markst commented on #823
Seems I can no longer override selected index state. Previously I was do so:

[code]

[2017-10-16 07:50] markst opened #911 "TabBar can't set tab bar items in Objective-C"

[2017-10-16 07:51] markst commented on #911
Property needs ` @objc` prefix:
[code]

[2017-10-16 07:55] markst opened #912 "TabBar can't select tab bar index in Objective-C"

[2017-10-16 07:55] markst commented on #911
Also unable to set attributes:

![image](https://user-images.githubusercontent.com/274318/31600837-9b3b7bfa-b2a3-11e7-9fa2-e3234e745fd6.png)

[2017-10-16 09:02] smalam119 opened #913 "Issue while using with Firebase"
I am using xcode 8.3.3 (Swift 3). Material was working fine but when I add Firebase through pod some files of extensions that Material uses shows some error. Can anyone shade some lights?

[2017-10-16 13:50] angelix commented on #627
Hi @danieldahan, do we have an update on this. NavigationController is useless on devices like iPhone 5s etc.

Thanks!

[2017-10-16 14:17] danieldahan commented on #627
@angelix It is still in the queue. If you want it to move faster, help by coding it up with me. Telling me it's uselessness is just as useless.

[2017-10-16 14:20] danieldahan commented on #913
It is most likely because Material has updated to Swift 4 on you in the update. What version of Material are you using? To fix it, you will need to force a version of Material that is still Swift 3. Can you share the errors?

[2017-10-16 14:33] danieldahan commented on #912
How are you trying to access it?

[2017-10-16 14:34] danieldahan commented on #823
why not use the `selectedTabItem` property?

[2017-10-16 14:35] angelix commented on #627
@danieldahan i didn't mean to disrespect you. Just wanted to point out the situation.
I'll take a look.

Any hint to where to start?

Thanks

[2017-10-16 14:39] danieldahan commented on #627
@angelix no worries :) It is more helpful to always be helpful.

Anyway, the NavigationBar uses an internal Toolbar, which inherits the Bar. So look in the Bar.layoutSubviews function to get started. If you start looking at this, I can guarantee that it will be tackled sooner. Possibly @mohpor may be available to peak at it as well.

[2017-10-16 14:42] danieldahan commented on #910
The Capture API is being completely rewritten and has been removed from Material many versions ago in order to not create issues for anyone. The best approach to help you is to provide the version of Material you are using and a sample project so we can look from there. Thank you :)

[2017-10-16 14:50] danieldahan commented on #911
So it looks like now @Obj-C requires this addition for Swift 4. I pushed a version now that adds the `@objc` to the `tabItems`, [Material 2.12.1](https://github.com/CosmicMind/Material/releases/tag/2.12.1). Please verify this works for you and I will add the remaining `@objc` where necessary.

[2017-10-16 18:05] tomdaniel0x01 commented on #907
Here is an xcode project that I created that reproduces this issue: https://github.com/tomdaniel0x01/fab-menu-bug

I am using Material (2.12.1) and it happens on both the simulator and the device.

[2017-10-16 21:42] danieldahan commented on #907
Thank you! I will take a look :)

[2017-10-17 00:47] markst commented on #912
@danieldahan
![image](https://user-images.githubusercontent.com/274318/31641528-fd31c73c-b330-11e7-93fa-d90d3f25add3.png)

[2017-10-17 01:07] markst commented on #911
@danieldahan cheers daniel. changes has worked.

[2017-10-17 01:28] markst commented on #860
@danieldahan I think `TabItemState` is unnecessary - why not just use the `UIControlState` enum?

Previously I would setup colours as follows:
[code]

However, now `updateColors()` overrides all of this & I don't have support for `.highlighted` state.

[2017-10-17 01:38] markst commented on #860
https://github.com/CosmicMind/Material/issues/740

[2017-10-17 01:43] markst commented on #823
@danieldahan because it's not possible:
![image](https://user-images.githubusercontent.com/274318/31642791-a230ac56-b338-11e7-9cd5-94a27a2b5928.png)

However with the introduction of: https://github.com/CosmicMind/Material/issues/860#issuecomment-336740672 it seems my logic above is no longer necessary.

[2017-10-17 01:53] markst opened #915 "TabsController - tabItem state colors issues"
As mentioned here:
https://github.com/CosmicMind/Material/issues/860#issuecomment-337090396

Previously I was able to set the states for tabItem's as follows:

[code]

However since the introduction of https://github.com/CosmicMind/Material/releases/tag/2.12.0
I am no longer able to set the highlight state of my tab bar items.

This goes beyond where by I was previously able to update tab bar stat

[2017-10-17 01:54] markst commented on #915
In conjunction with the following code:

[code]

[2017-10-17 01:55] markst commented on #915
@danieldahan I prefer the previous setup. Perhaps it's worth discussing with @OrkhanAlikhanov as to workarounds?

[2017-10-17 03:26] danieldahan commented on #860
@markst yeah, we can make that adjustment.

[2017-10-17 03:29] danieldahan commented on #823
@markst `selectedIndex` is different than `selectedTabItem`. Either way, if #860 is working for you, then let's go with the suggestion you made there.

[2017-10-17 03:31] danieldahan commented on #915
I reopened the issue #860. So I will close this as they are now linked.

[2017-10-17 03:31] #915 closed

[2017-10-17 03:34] danieldahan commented on #912
I merged in your PR. So I will close this for now and use the PR as a release note. Thank you! :)

[2017-10-17 03:34] #912 closed

[2017-10-17 05:44] OrkhanAlikhanov commented on #915
@markst I haven't updated to the latest Material yet. I still have some pods that don't support swift 4.

[2017-10-17 12:58] danieldahan commented on #911
The associated PR for this https://github.com/CosmicMind/Material/pull/914.

[2017-10-17 12:58] #911 closed

[2017-10-17 19:53] ismaPM commented on #858
Still getting same issue in v2.12.1

[2017-10-17 19:54] danieldahan commented on #858
@ismaPM There isn't a `buttons` property. Maybe that is the issue. It is called `tabItems` now.

[2017-10-17 20:35] ismaPM commented on #858
f I saw it but could update the example of tabs, ask tabItems but as I add buttons or articles @danieldahan

[2017-10-18 02:38] jojonarte commented on #910
I got it to work by calling the activeCamera.startSession. Thanks :)

[2017-10-18 02:38] #910 closed

[2017-10-18 08:49] muzoman commented on #905
Hi Daniel,
I've been doing some digging into this issue and my usage of the library and I've found that I use the NavigationDrawerController sample as the basis of the App. Having looked at that sample again I noticed that there's a button on the LeftViewController that is supposed to trigger a transition to the "Transitioned" View Controller. This is done via the toolbarController.transition meth

[2017-10-18 17:01] danieldahan commented on #910
@jojonarte great! Thank you @mohpor :)

[2017-10-18 17:05] danieldahan commented on #905
You are using everything correctly, but are missing a key concept that I must write about as it will make a game changing difference for you when using Material and Motion. That said, I have been working on it and will aim to have it ready for you. The basic idea is that each controller component has a transition area. When you place rootViewControllers in the component, that rootViewController is

[2017-10-18 19:16] muzoman commented on #905
That makes sense Daniel. It would really simplify the creation of more complex UI's :-)

Regarding the Sample App not transitioning, the problem exhibits it self in the vanilla sample NavigationDrawerController - just run it and select the left view controller then press "Transition VC" button and nothing happens...

[2017-10-18 22:02] argentounce opened #916 "TabsController TabBar -setColorForState should not affect lineColor in updateColors() method"
It should either not affect lineColor or be separated with setLineColorForState

![screen shot 2017-10-18 at 16 54 24](https://user-images.githubusercontent.com/304203/31744660-4608de9c-b425-11e7-846f-ad93f1dadce3.png)

As an example, in 2.12.1 this configuration will change lineColor to white when tab is selected. Forcing all elements to be of the same color restricts customization

**TabBar.swif

[2017-10-19 03:03] OrkhanAlikhanov commented on #916
https://github.com/CosmicMind/Material/blob/2bd5e6089c0a14140509e0cec65b5d9351711ec4/Sources/iOS/TabBar.swift#L455-L472

[2017-10-19 09:38] stasivanov opened #917 "Using with Swift 3.2"
Is it possible to use the pod version 2.10.3+ with Swift 3.2 set in Build Settings? I can build with 2.10.2. But 2.10.3, that has "Added Swift 4 support" note, doesn't build with Swift 3.2.

"Added Swift 4 support" means "Force using Swift 4"? :)

I have the same issue as here https://github.com/CosmicMind/Material/issues/773#issuecomment-308552141 (related issue to the "Added Swift 4 Support" not

[2017-10-19 13:13] danieldahan commented on #860
Adding this suggestion https://github.com/CosmicMind/Material/issues/916#issuecomment-337786413

[2017-10-19 13:13] danieldahan commented on #916
I fully agree. I added this issue to https://github.com/CosmicMind/Material/issues/860. Let's track the conversation there.

[2017-10-19 13:13] #916 closed

[2017-10-19 13:15] danieldahan commented on #917
@stasivanov You are correct, you must use Swift 4 now. If you need help migrating, please let us know. Thank you!

[2017-10-19 13:15] #917 closed

[2017-10-19 13:16] danieldahan commented on #913
Hey! I haven't heard from you. If you still have any issues, please reopen this issue. Thank you!

[2017-10-19 13:16] #913 closed

[2017-10-19 13:42] danieldahan commented on #905
The transition method should only fire when the size of the UIViewController changes. Triggering a transition call does not trigger the `willTransition` method. Apple is responsible for firing that call entirely. As for the transition not working, I had tested it now and all seems to be fine.

<img width="535" alt="screen shot 2017-10-19 at 7 41 42 am" src="https://user-images.githubusercontent.co

[2017-10-19 13:42] #905 closed

[2017-10-19 15:38] danieldahan commented on #860
@markst I opted out of using `UIControlState` as it has more states than necessary for managing the tab items. That said, the latest interface for colors looks like this:

[code]

This is available in [Material 2.12.2](https://github.com/CosmicMind/Material/releases/tag/2.12.2).

[2017-10-19 15:38] #860 closed

[2017-10-19 16:09] danieldahan commented on #907
@tomdaniel0x01 So I found the bug. The issue arises because the size is being set after the left and bottom positioning. I am looking into it. You can workaround this issue by moving the size constraint before the position constraints:

[code]

[2017-10-19 17:08] danieldahan commented on #907
The issue has been completely resolved in [Material 2.12.3](https://github.com/CosmicMind/Material/releases/tag/2.12.3). Thank you for sharing this issue. All the best!

[2017-10-19 17:08] #907 closed

[2017-10-19 18:33] tomdaniel0x01 commented on #907
@danieldahan Thank you so much!

[2017-10-19 19:46] OrkhanAlikhanov commented on #860
@danieldahan Thank you!

[2017-10-19 21:03] yigitserin opened #918 "Using only TextField"
Hey there,

I only want to use TextField for now. Is it possible to cherry pick some components and use? When I tried to copy only TextField.swift file, I ran into bunch of issues.

[2017-10-19 21:14] danieldahan commented on #918
No it is not possible. There is a lot going on and to extract a single component would be challenging.

[2017-10-19 21:14] #918 closed

[2017-10-20 00:05] danieldahan commented on #893
Working on this :) Hopefully a fix will be available very soon.

[2017-10-20 01:00] markst opened #919 "TabsController - unexpected appearance transitions"
I'm struggling to figure if this is a iOS 11 bug or Motion bug.

I have a `TabsController` setup with three view controllers & each of the view controllers view lifecycle functions are called even when the view is not visible.

`viewDidAppear()` is being called despite being a page tab which not visible.

[2017-10-20 01:04] danieldahan commented on #919
This is an issue that I am working on for the TabsController. It happens because we need to load the view controllers and get the `tabItem`. I need to fix it, so that I can extract the `tabItem` and not actually need to add the view to the hierarchy. Thoughts?

[2017-10-20 01:09] markst commented on #919
Interesting. but there must be some transition calls called on the view controller? it should be possible to load a view controllers view without performing it's view lifecycle events.

@danieldahan

[2017-10-20 01:10] danieldahan commented on #919
Yes, agreed. I haven't had a chance to look into it. I will put it as a high-priority as many people use the `TabsController`.

[2017-10-20 01:20] markst commented on #919
Just had a quick crack at my setup with `UIPageViewController` and can confirm that calling:
`self.availableViewController.loadViewIfNeeded()`
did not trigger any of the view lifecycle events until that page actually was about to become visible.

[2017-10-20 01:22] danieldahan commented on #919
Nice, okay, I will look into it with that approach. Unless you have a moment to dive in. I am working on another issue at the moment.

[2017-10-20 01:26] markst commented on #919
@danieldahan nah I wouldn't rush into switching to `UIPageViewController`. sure we can figure a solution. will look into it quick - but afraid I've also got more pressing issues.

[2017-10-20 01:27] danieldahan commented on #919
Yeah, I have no plan on using the `UIPageViewController`, as I had originally made the `TabsController` with it and it did not offer much. I think there is a way to ask the view to load but not for rendering, which will probably be an approach to look into.

[2017-10-20 01:37] danieldahan commented on #919
As mentioned, it is to get the `tabItem` value from the controller. I need to work on an approach that get's that value without needing to go through the steps you described.

[2017-10-20 01:40] markst commented on #919
@danieldahan not sure how `tabItem` has anything to do with what I just subscribed.

Knock out: `prepareViewController(at: i)` and the problem this issue is describing goes away.

[code]

[2017-10-20 01:41] danieldahan commented on #919
In order to get the `tabItem`, the view needs to be loaded. It is the only reason I am loading the view controllers in the first place. If it is working without needing this step, then great :)

[2017-10-20 01:45] markst commented on #919
@danieldahan that may well be the case. but it's not the reason for this issue I'm describing.

`TabsController.prepareViewControllers()` is triggering the adding of all the tabs view controller views & adding them to the container view - which doesn't take full advantage of dynamically adding the view controllers view's to the container as and when needed.

[2017-10-20 02:02] danieldahan commented on #919
Yes :) I know it is triggering it, and I am doing it for the reason I described earlier. As mentioned, I know the issue and I know the solution I would be looking for, I haven't had a chance to work on it yet.

[2017-10-20 02:12] danieldahan commented on #919
Excellent, thank you for the PR. I will review it and push a release :)

[2017-10-20 02:53] danieldahan commented on #919
So the PR that you sent doesn't work. It causes the issue that I was describing. Are your TabItems showing up?

[2017-10-20 03:16] markst opened #922 "Allow TabBar to be updated to different colors using the corresponding index value."
Previously I was able to update the tab bar line colour based on selected index.

For example:

![](https://camo.githubusercontent.com/8af09f3096001d78f07b309a942c02f876433dea/68747470733a2f2f642e70722f692f4f41687038472e676966)

Code example: https://github.com/CosmicMind/Material/issues/915#issuecomment-337094036

With the introduction of https://github.com/CosmicMind/Material/commit/03a4e9f808bb

[2017-10-20 03:19] markst commented on #919
@danieldahan strange. mine works as I expect & tab items are showing up

[2017-10-20 03:26] danieldahan commented on #922
You can use the:

[code]

So replace your `self.pageController?.tabBar.lineColor = UIColor.cs_Citron()` lines with that.

:) All the best!

[2017-10-20 03:28] danieldahan commented on #919
Can you try your version with the [TabsController](https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/TabsController) sample project? It is not working for me, or maybe share a sample that works? I really want to take your PR, so maybe the setup needs to be updated in the sample project.

[2017-10-20 03:33] markst commented on #922
@danieldahan afraid that's not the behaviour I wish to implement. Please observe the animated gif on the op. Notice how the paddle turns red when navigating to "Test & Status" this is no longer possible with the new setup.

[2017-10-20 03:34] markst commented on #922
This actually related to the issue I created here: https://github.com/CosmicMind/Material/issues/915#issuecomment-337094036
Where by it's not longer possible to have different colour states for each tab bar index.

[2017-10-20 03:38] danieldahan commented on #922
Not sure I understand where the difference is. You are updating a property versus using a function to update. The same code you are running is running internally now. Possibly a more interesting solution would be to allow colors to be selected based on index. Something like:

[code]

thinking out loud here.

[2017-10-20 03:41] danieldahan commented on #783
This should be solved now. Thank you! :)

[2017-10-20 03:41] #783 closed

[2017-10-20 03:42] danieldahan commented on #505
This issue can be closed now as the above mentioned PR is acting on its behalf. Thank you!

[2017-10-20 03:42] #505 closed

[2017-10-20 03:43] danieldahan commented on #841
I am not sure if this is an issue or just an incorrect use of the Switch control. If there is an issue here to solve, please reopen this. Thank you!

[2017-10-20 03:45] danieldahan commented on #627
Linked issue: https://github.com/CosmicMind/Samples/issues/58

[2017-10-20 03:50] markst commented on #922
Yeah that's exactly right - as a compromise we can setup different colours for certain index items. This can also be applied to tab bar title colours.

[2017-10-20 03:51] danieldahan commented on #922
Cool, I like this feature :) I will make it a feature request and update it by then end of the weekend.

[2017-10-20 03:55] markst commented on #919
@danieldahan this is simply because your demo project tab item titles are setup on `viewDidLoad()`.

There is two solutions around that - either you setup the titles on init rather than relying on the controllers view to be loaded. Or have all your views loaded at the time of prepare view controllers: `TabsController.prepareViewControllers()` such as:

[code]

The disadvantage of forcing the views

[2017-10-20 03:59] danieldahan commented on #919
Nice, I was hoping to get your PR in. Would you please submit the PR again? Thank you!

[2017-10-20 04:11] markst commented on #919
@danieldahan well I don't want to introduce any breaking changes. Perhaps I should include the above logic which forces the view load to? - with a comment mentioning why?

[2017-10-20 04:18] markst commented on #922
glad you're on board. there's no rush

however I personally had no drama with setting up title colour & states on a view controllers tab item:
[code]

I suppose now extra effort is having to be made to cater for everyones edge cases

[2017-10-20 04:56] st34m3dr1c3 opened #924 "Later versions (2.12.1 and above) - Navigation Bar/Items don't show in iOS 10 and below"
Compiling with 2.12.1 and above seems to make the Material custom Navigation Bar and its Items show as blank white space in any iOS below 11.

Deploying on iOS 11 and above seems to fix the issue.

Any advice on fixing this? Probably something small I'm missing.

[2017-10-20 08:44] melcug opened #925 "TabsController - line drawing issue"
![2017-10-20 11 31 35](https://user-images.githubusercontent.com/8708178/31812354-67f80e62-b58b-11e7-8948-ef342c475274.gif)

As you can see above, the line of the selected tab item is drawn correctly when I select directly other tab item.

But, when I drag the bar to left or to right, the line is splitted in two parts, one that moves together with tab items and second one that remains on previous

[2017-10-20 08:56] melcug opened #926 "TabsController - centering tab item after selection (sugestion)"
It would be nice if after I select a tab item, this will be centered automatically, of course if is not the first or the last.

In this manner is easy to select neighbor tab item from left or right without scrolling the bar in order to ritch to next/previous tab item if it is hidden.

[2017-10-20 09:48] smalam119 commented on #913
Sorry for the late response. I am using Material 2.0. I cannot upgrade to Swift 4 for some reason. Can you please give me a version name that can be used with Swift 3 (Alongside firebase)
Thank you.

[2017-10-20 17:15] st34m3dr1c3 commented on #924
Note that this applies to the Github manual install. I am not using cocoapods.

[2017-10-21 07:06] ArunAshokan11 opened #927 "No such module 'Motion'"
Hi,
I download the material design source files and put it into the my project. i got the error No such module 'Motion'

[2017-10-21 09:46] mihailsalari opened #929 "Build error"
![screen shot 2017-10-21 at 12 44 36 pm](https://user-images.githubusercontent.com/23311250/31850597-c027ea76-b65d-11e7-8b87-298a973cfd37.png)
How to fix?

[2017-10-21 09:58] mihailsalari commented on #929
Value of type 'TabBar' has no member 'lineColor'

[2017-10-21 09:58] mihailsalari commented on #929
Value of type 'TabBar' has no member 'buttons'

[2017-10-21 09:58] mihailsalari commented on #929
Why?

[2017-10-21 17:46] danieldahan commented on #929
What version of Material are you using?

- TabBar.buttons is now TabBar.tabItems.
- Setting the line color is done through `tabBar.setLineColor(.green, for: .selected) -> a color and state.

Make sure that you are using Swift 4. If you need any further help, please reopen this issue and please consult the [CHANGELOG](https://github.com/CosmicMind/Material/blob/master/CHANGELOG.md).

[2017-10-21 17:46] #929 closed

[2017-10-21 17:51] danieldahan commented on #927
Hey, welcome to Material. Please take a look at the [installation guide](https://www.cosmicmind.com/danieldahan/lesson/6) for help. Basically, you need to include the `Motion` framework that is built with Material. If you need any further help, please reopen this issue. Thank you!

[2017-10-21 17:51] #927 closed

[2017-10-21 18:06] danieldahan commented on #924
I am downloading the iOS 10 simulator and will check to see what the issue is. I will update you shortly. Thank you!

[2017-10-21 18:31] danieldahan commented on #627
The linked issue has been confirmed as fixed. If this issue still persists, please reopen the issue. Thank you!

[2017-10-21 18:31] #627 closed

[2017-10-21 18:33] danieldahan commented on #913
@smalam119 There is nothing about Material that should be stopping you from using `firebase`. Try [Material 2.10.2](https://github.com/CosmicMind/Material/releases/tag/2.10.2). If the issue persists, please share the errors that you are getting. Thank you!

[2017-10-21 18:34] danieldahan commented on #926
Cool, I will add this as a feature request :)

[2017-10-21 18:35] danieldahan commented on #925
What version of Material are you using and is this happening only on the simulator?

[2017-10-21 18:36] melcug opened #930 "IconButton and RaisedButton user defined properties are missing"
In the latest release I get some kind of messages related with undefined user properties related with IconButton and RaisedButton custom controls.
In old version of Material for Swift 3.2 I didn't saw messages like these.

2017-10-21 21:19:09.442 _[1026:35074] Failed to set (**shadowOffset**) user defined inspected property on (Material.IconButton): [<Material.IconButton 0x7fe627f19700> setValue:f

[2017-10-21 18:37] danieldahan commented on #922
There is always a challenge in make an easy to use component and one that has many configurations. I will be working more on this component today, which will add and review features. Thank you for the PR. It will be a great start for me today :)

[2017-10-21 18:40] danieldahan commented on #930
The convenient properties were removed to avoid issues with other frameworks. Try:

[code]

If you have any further issues with this, please reopen the issue. Thank you!

[2017-10-21 18:40] #930 closed

[2017-10-21 18:57] melcug commented on #930
It would have been easier to set the properties in storyboard, but I will live with this and I will add additional source code for each control.

[2017-10-21 19:08] melcug commented on #925
I am using the last release of Material. I didn't tried yet to a real device, but the video is taken from the simulator.

[2017-10-21 19:10] smalam119 commented on #913
@danieldahan Have used 2.10.2 but no luck. It is showing some errors in NSMutableAttributedString extension e.g. "use of undeclared type NSAttributedStringKey. It is also showing some error in TextStorage, SearchBar, NavigationItem etc classes. Mostly related with 'NSAttributedStringKey'

[2017-10-21 19:12] danieldahan commented on #913
I am not sure what your setup is. Make sure you are using Swift 4 for Material 2.10.3+ and Swift 3 for anything below. I am not sure what Firebase is doing, so if you prepare a sample project, I can comment on Material within there.

[2017-10-21 19:14] danieldahan commented on #925
Yes, you need to test on devices as simulators are known to have issues in general when doing animations. Apple recommends that all animation based testing be done on devices over simulators. I have confirmed that this works correctly on a device. If you test it on a device and the issue persists, please reopen the issue. Thank you!

[2017-10-21 19:14] #925 closed

[2017-10-21 19:14] danieldahan commented on #930
@melcug I wish I could make some features and not have it affect other frameworks, so it is a push and pull relationship sometimes.

[2017-10-21 19:20] smalam119 commented on #913
Okay let me try that and come back to you. Thanks a lot.

[2017-10-21 19:28] melcug opened #931 "TabsController - selecting tab item programmatically (issue)"
In latest release of Material (v2.12.3) I can select a tab item programmatically, but the bar is not scrolled to make visible the selected tab button.

Code used to select a tab item by index:
[code]

[2017-10-22 14:43] danieldahan commented on #913
Anytime :)

[2017-10-22 14:44] danieldahan commented on #931
Taking a look now :)

[2017-10-22 18:52] melcug commented on #925
I tested on real device where the animation runs flawless.

[2017-10-22 18:52] danieldahan commented on #925
Sweet :) Thank you for double checking.

[2017-10-22 19:24] danieldahan commented on #931
You will find a fix in [Material 2.12.4](https://github.com/CosmicMind/Material/releases/tag/2.12.4) and you should only need to use:

[code]

Thank you and all the best!

[2017-10-22 19:24] #931 closed

[2017-10-22 19:25] danieldahan commented on #919
This has been released in [Material 2.12.4](https://github.com/CosmicMind/Material/releases/tag/2.12.4). Thank you and all the best!

[2017-10-22 19:25] #919 closed

[2017-10-22 19:49] danieldahan commented on #924
Hey! I tried this on iOS 10.3.1 and all seems to look good.

<img width="573" alt="screen shot 2017-10-22 at 1 48 43 pm" src="https://user-images.githubusercontent.com/9982123/31865675-d086d8be-b72f-11e7-874b-da0f83f5376f.png">

Anything I am missing, or can you send over a sample project please ?

[2017-10-22 19:57] st34m3dr1c3 commented on #924
Hi Daniel,

Thanks for testing! I seem to find issues running even with your sample
project (try the storyboard sample from your Samples repository for
Navigation Controller).

Granted, I was deploying on real iOS devices and not on a simulator. If I
sourced the project to Material 2.12 and above, the navigation bar would
simply disappear. Sourcing back to Material 2.10 (as used in the Pods file
f

[2017-10-23 08:11] chilinh opened #932 "TabBar: How can I make rounded corner line"
As title, from Material version 2.12.2, line is fileprivate. Please remove this restriction and make it open as older version.

[2017-10-23 10:30] aemgtz commented on #841
I can confirm that this is an issue. As you can see @theolof comment.
I face the same problem that the switch is too **short** for all swith size.

[2017-10-23 10:45] GolapHasan opened #933 "navigation drawer going invisible"
![unadjustednonraw_thumb_2f0](https://user-images.githubusercontent.com/8912589/31885093-283e32fa-b811-11e7-8d85-8799639884ce.jpg)

When I drag left to right (or right to left) and immediately drag back again then it happens regularly.

[2017-10-24 01:31] danieldahan commented on #933
What version of Material are you using? Can you send over a sample project?

[2017-10-24 01:34] danieldahan commented on #841
I see, okay I have reopened the issue and will run the sample project and see what's up. Thanks for the feedback :)

[2017-10-24 04:50] chilinh commented on #932
I make a pull request to change access level for line in TabBar #934
@danieldahan please take a look and release it in future version.

[2017-10-24 06:43] markst opened #935 "TabsController - Child view controllers do no belong to parent"
There has been some issue during merging that has now introduced different issues with the `TabsController`.

See commit: 11430ef1c8bb5be1566aa1cf56c5bf1720bbb31c
The lines:
[code]
Are now missing. This is causing issues with the tab child view controllers not having a parent appropriately.

#919

[2017-10-24 06:44] markst commented on #935
@danieldahan I imagine this is either due to having performed a revert PR 5541cb0fbe451a4b2342206c5c8f145fa17c1f82 or some issue during merge with development branch.

[2017-10-24 07:28] markst opened #937 "TabBar can't line colour in Objective-C"
![image](https://user-images.githubusercontent.com/274318/31929832-17d9835a-b8e9-11e7-96f0-0781b2ad9291.png)

[2017-10-24 08:40] seubseub commented on #935
I had a same issue, but add @markst code, then it work! :) Thanks

[2017-10-24 13:02] danieldahan commented on #935
I am making the update now.

[2017-10-24 13:25] danieldahan commented on #937
The access to this function was blocked in favour of your previous suggestion, tabBar.setLineColor(.green, for: .selected) I will open this back up as it is cumbersome to set the line color this way for one state.

[2017-10-24 13:49] danieldahan commented on #937
This is now in [Material 2.12.5](https://github.com/CosmicMind/Material/releases/tag/2.12.5) :)

[2017-10-24 13:49] #937 closed

[2017-10-24 13:49] danieldahan commented on #935
This is now in [Material 2.12.5](https://github.com/CosmicMind/Material/releases/tag/2.12.5) :)

[2017-10-24 13:49] #935 closed

[2017-10-24 13:51] danieldahan commented on #924
I will take a look today :)

[2017-10-24 14:06] danieldahan commented on #932
It has been released, and if you like, change the corner radius for the line, something like this:

[code]

:) All the best!

[2017-10-24 14:06] #932 closed

[2017-10-24 23:39] #702 closed

[2017-10-24 23:41] danieldahan commented on #702
To avoid conflicts, the `navigationItem.title` and `navigationItem.detail` have been moved to `navigationItem.titleLabel.text` and `navigationItem.detailLabel.text`, respectively.

[2017-10-25 07:57] yasirmturk commented on #907
this fix broke something inside the button and now `titleEdgeInsets` and `imageEdgeInsets` are not working properly for `Button`, `IconButton`

[2017-10-25 09:14] yasirmturk commented on #926
Also there is a need of having no selected tab item on a tab bar .. i am using it as bottom bar on card view and first item always show selected

can not do `bottomBar.selectedTabItem = nil`

[2017-10-25 10:03] Bino90 opened #939 "TabsController missing prepare in transition"
"prepareViewController(at: tvcIndex)" is missing in transition, this is causing issues with the tab child view controllers not having a parent appropriately. You remove the current with "s.rootViewController = tvc" but you forgot to call prepare for tvc.

Version 2.12.6

[2017-10-25 10:09] Bino90 commented on #939
Oh sorry - i see on dev u fix this problem :)

[2017-10-25 10:09] #939 closed

[2017-10-25 12:43] danieldahan commented on #939
No worries, thank you for sharing :)

[2017-10-25 12:44] danieldahan commented on #907
@yasirmturk Can you share a sample or some code that demonstrates this and your usage?

[2017-10-25 16:05] yasirmturk commented on #907
I am aligning icon and text in horizontal centered position and for that is used this code
`extension Button {
    // MARK: - UIButton+Aligment

    func alignContentHorizontally(spacing: CGFloat = 4.0) {
        contentHorizontalAlignment = .left
        contentVerticalAlignment = .top

        let imageWidth = (currentImage?.width)!
        let imageLeft = (layer.width - imageWidth) / 2

[2017-10-25 16:09] danieldahan commented on #907
@yasirmturk Can you send over a sample of this, so I can reproduce the issue? As well, I would open a new issue for this, as now the this issue has been closed and the description at the top is not describing the issue you are facing. Thank you!

[2017-10-25 19:42] melcug commented on #933
I have the same issue in the latest release (2.12.7) and this issue is not present in 2.12.4 release of Material.

[2017-10-25 19:43] danieldahan commented on #933
@melcug Please provide a sample so I can reproduce the issue. Thank you!

[2017-10-25 23:51] danieldahan commented on #924
@st34m3dr1c3 I confirmed the issue. I am working on a solution. Thank you for sharing this :)

[2017-10-25 23:58] st34m3dr1c3 commented on #924
Thanks!

Also, I might add that in 2.10 the navigation bar is slightly offset to the
right by default.

See screenshot for details.

Cheers!

On Thu, Oct 26, 2017 at 1:51 AM Daniel Dahan <notifications@github.com>
wrote:

[2017-10-26 00:04] danieldahan commented on #924
I fixed it :) I will push to the development branch and would you be able to confirm?

[2017-10-26 00:21] st34m3dr1c3 commented on #924
Yes, but I wont have a chance to test it on an iOS10 device until next
week. I will do so then and get back to you.

Thanks again!

On Thu, Oct 26, 2017 at 2:04 AM Daniel Dahan <notifications@github.com>
wrote:

[2017-10-26 01:35] markst opened #940 "TransitionController - Initial RootViewController view lifecycle not occuring"
The initial root view controller view lifecycle functions are not being called on initial load of root view controller. All subsequent lifecycle functions are working as expect.

[2017-10-26 01:36] markst commented on #940
This is due to `shouldAutomaticallyForwardAppearanceMethods` being implemented & not calling the appropriate appearance transition functions on initial setup of root view controller:

https://github.com/CosmicMind/Material/pull/938#issuecomment-339204901

[2017-10-26 01:42] markst commented on #940
There need to be a feature where by lifecycle functions are performed when updating root view controller directly.

[code]

[2017-10-26 01:44] danieldahan commented on #940
I see what you are describing. I have an idea of how to make it work correctly. I will give it a try after another task I am working on.

[2017-10-26 01:48] markst commented on #940
Not a huge fan of it, but passing the transition logic on as follows, resolved it for me:

[code]

[2017-10-26 01:50] danieldahan commented on #940
Well I was thinking that in the `shouldAutomaticallyForwardAppearanceMethods` call, we can return true on the first instance.

[2017-10-26 02:43] markst commented on #940
yeah sounds fine. trusting it's toggled at the right occasion

[2017-10-26 06:10] melcug commented on #933
I prepared for you a sample project with the same source(*) code before and after pods update :

- [test2-2.12.4](https://drive.google.com/file/d/0B12slIEw9f2KajdYZ1dYZ19mZXM/view?usp=sharing) with working navigationdrawer
 - [test2-2.12.7](https://drive.google.com/file/d/0B12slIEw9f2KRVo0ZUJkME5KbHM/view?usp=sharing) with not working navigationdrawer

(*) In 2.12.7 release TabsController didn't i

[2017-10-26 06:57] girishghoda opened #941 "Swift 4 : Issues"
Hi @danieldahan ,There ara multiple issues faced by me after upgrade to swift 4
Issue 1 :  if view have any scrollable control and its property scrolling enabled is false then this issue occur
I have attach sample demo project
[Matrial-demo.zip](https://github.com/CosmicMind/Material/files/1417250/Matrial-demo.zip)

Issue 2: In some view when press back 3 dot show or show back button with name con

[2017-10-26 07:58] yasirmturk commented on #907
you can use the code i have posted to reproduce the issue... just make any button with both icon and text and run it with both 2.12.2 and 2.12.3 you will see

[2017-10-26 12:17] Coppola-Aleandro opened #942 "Problem with NavigationDrawerController"
When click on toggle left menu i have a clear view.
The CODE is the same of Sample ( https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/NavigationDrawerController/NavigationDrawerController )
![simulator screen shot - iphone 8 plus - 2017-10-26 at 14 04 53](https://user-images.githubusercontent.com/5457653/32052351-46ee0fce-ba58-11e7-9ef1-fdf9096730a0.png)

[2017-10-26 12:51] Coppola-Aleandro commented on #942
#933

[2017-10-26 13:41] danieldahan commented on #924
There is an issue I found with iOS 11 and sizing not behaving correctly. I will be fixing that with this fix as well.

[2017-10-26 13:42] danieldahan commented on #941
I will take a look. At the moment, I am working on Navigation issues, so this will be testes with those updates.

[2017-10-26 13:44] danieldahan commented on #942
Let's follow this issue using #933. Thank you!

[2017-10-26 13:44] #942 closed

[2017-10-26 13:45] danieldahan commented on #907
@yasirmturk Please open a new issue for this. Tagging this issue on the current one is not effective. Thank you :)

[2017-10-26 13:47] PetresS opened #943 "Errors after updating from 2.10.2 to 2.12.7"
I'm using XCode 9.0.1 and my `Swift Language Version` is set on **Swift 3.2**

after I updated the material-pod, xcode showed me following errors:
<img width="881" alt="bildschirmfoto 2017-10-26 um 14 48 34" src="https://user-images.githubusercontent.com/15786274/32056391-d44b0780-ba64-11e7-8b1d-7b7cf2374290.png">
___

Am I doing something wrong ?
maybe wrong settings?

[2017-10-26 13:54] danieldahan commented on #943
Yes, you need to set the `Swift Language Version` to Swift 4. If you have any further issue with this, please reopen this issue. Thank you!

[2017-10-26 13:54] #943 closed

[2017-10-26 13:57] danieldahan commented on #940
I actually like your solution better as it is clear as to what is happening. With a hidden flag, which I am not a fan of, does not demonstrate clarity when looking through the code. I am going to see how your solution works.

[2017-10-26 14:02] guoyingtao opened #944 "Can't load underlying module"
My Xcode is 9.0.1 and MacOS is 10.12.6
I used cocoapods to integrate Material as follows:
source 'https://github.com/CocoaPods/Specs.git'
platform :ios, '8.0'
use_frameworks!
pod 'Material', '~> 2.0'

After that, when I tried to import Material and Motion, I found XCode can't find Motion or Material module.
Did anybody meet the similar things?
Thanks for any help.

BTW: I also used SnapKit in my P

[2017-10-26 14:05] danieldahan commented on #944
Hey! I believe your Pods project or Material target within the pod configuration needs to be set to Swift 4. Please give that a try, and let me know :)

[2017-10-26 14:15] danieldahan commented on #940
This is the corresponding commit that will be in the next release https://github.com/CosmicMind/Material/commit/5e8497dbc1f9bfa670b454f4a64a66e8f7ee8844, thank you!

[2017-10-26 14:16] guoyingtao commented on #944
Thanks for your help.
I checked the target and it has already been set to Swift 4.
<img width="646" alt="1" src="https://user-images.githubusercontent.com/26723384/32057949-b6dc5aa6-ba36-11e7-8f4c-afb9361e8bc7.png">

[2017-10-26 14:17] danieldahan commented on #944
How about the `Pods` project?

[2017-10-26 14:20] guoyingtao commented on #944
I set "Swift Language Version" to "Swift 4.0" for my Pods project, now it works!
Thanks for your help!

[2017-10-26 14:21] danieldahan commented on #944
Sweet :) All the best!

[2017-10-26 14:21] #944 closed

[2017-10-26 15:05] yasirmturk commented on #907
okay

[2017-10-26 19:32] danieldahan commented on #853
This is a linked issue: https://github.com/CosmicMind/Motion/issues/16

[2017-10-26 20:40] danieldahan commented on #933
@melcug for `(*) In 2.12.7 release TabsController didn't includes anymore motionTransitionType property.`

In the next version, you will be able to use the `motionTransitionType` property with a new rule set for overriding transitions. It was accidentally not released in the latest.

[2017-10-27 12:47] jamalzafer commented on #236
Still facing this issue with pod version 2.10.2

![simulator screen shot - iphone 8 plus - 2017-10-27 at 17 45 52](https://user-images.githubusercontent.com/2232880/32104663-da7156ca-bb3e-11e7-823a-3ab833661294.png)

[2017-10-28 15:58] danieldahan commented on #236
@jamalzafer The issue was fixed in later versions. Please update to the latest, if that is not possible, make sure that you place the size constraints before the position constraints. All the best!

[2017-10-28 18:39] danieldahan commented on #940
Please find this fix in [Material 2.12.8](https://github.com/CosmicMind/Material/releases/tag/2.12.8) :)

[2017-10-28 18:39] #940 closed

[2017-10-28 18:39] danieldahan commented on #933
Please find this fixed in [Material 2.12.8](https://github.com/CosmicMind/Material/releases/tag/2.12.8) :)

[2017-10-28 18:39] #933 closed

[2017-10-28 19:18] danieldahan commented on #941
things look good in your sample, I don't see any buttons though.

<img width="477" alt="screen shot 2017-10-28 at 1 17 38 pm" src="https://user-images.githubusercontent.com/9982123/32137706-831e8e3e-bbe2-11e7-8a17-4cbfd86927f4.png">

[2017-10-28 19:21] #941 closed

[2017-10-29 23:00] danieldahan commented on #924
You can find this fixed in [Material 2.12.12](https://github.com/CosmicMind/Material/releases/tag/2.12.12). Thank you!

[2017-10-29 23:00] #924 closed

[2017-10-30 07:16] nhatlee opened #946 "Did library support for Swift 4?"

[2017-10-30 11:41] ConfusedVorlon opened #947 "Can you specify supported Xcode / swift settings?"
I'm getting compile failures on iOS when using xcode 9 or 8.3.3
In both cases, I set the swift version to 3

these are the errors I get for `Material 2.12.12` on xcode 8.3.3 for a new project with just material added to the podfile.

am I missing something?

`
.../Pods/Material/Sources/iOS/Font.swift:97:59: Cannot force unwrap value of non-optional type 'CGFont'
.../Pods/Material/Sources/iOS/Mater

[2017-10-30 12:00] ConfusedVorlon commented on #947
my old build setup (xcode 9 with material 2.6.3) still builds correctly

[2017-10-30 12:08] danieldahan commented on #947
You need to use a Swift 4 :)

[2017-10-30 12:08] #947 closed

[2017-10-30 12:12] ConfusedVorlon commented on #947
thanks - I misread other issues and thought swift 4 wasn't supported yet.
perhaps update the front page to show swift 4? (it currently shows swift 3+)

[2017-10-30 12:16] danieldahan commented on #947
Ah yes, sorry about that. I’ll do it on the next release. Thank you!

[2017-10-30 12:36] mosn opened #948 "I don NOT understand your design"
Sorry for the harsh title and thanks for your library. But I really do not understand why `SearchBar` should be linked to `SearchBarController` and they all link to `RootViewController` that need to be instantiated and placed in `UIWindows`!

Everything is so coupled and tangled and I do not get why you think this was the best way to do your whole design. Maybe I do not get it but I already spent

[2017-10-30 12:43] danieldahan commented on #948
You can use the SearchBar without the controller. Nothing stops you from doing so. As well nothing is complex, it’s a lack of knowledge that you face.

[2017-10-30 12:48] danieldahan commented on #948
I can help you, what is your desired look?

[2017-10-30 14:33] mosn commented on #948
Sorry @danieldahan maybe I'm just not used to seeing something like this that often

[code]
It would be better to explain how this can be linked to a `TableView` or a plain `UIViewController` without dependency to anything else, examples provided only demonstrate implementation with `SearchBarController`. I have a simple design without `RootViewController` and without any NavigationController.

[2017-10-30 14:49] danieldahan commented on #948
No worries. It is actually the exact signature of the most popular UI component, UINavigationController. So what are you trying to do? I can help you. Thanks :)

[2017-10-30 14:53] mosn commented on #948
:)
ViewController -> Segue -> TableViewController with SearchBar, If necessary I can have search bar in another controller similar to UISearchController implementation.

Optionally I would like to use AutoLayout Constraints to position the Search Bar but that's not necessary.

[2017-10-30 16:58] csimmonsbluebook commented on #872
@karstengresch Have you found any way around this yet?

[2017-10-30 17:04] danieldahan commented on #872
I will update the CardTableView sample today, latest tomorrow.

[2017-10-30 17:15] danieldahan commented on #948
*If necessary I can have search bar in another controller similar to UISearchController implementation" -> this is exactly what the `SearchBarController(rootViewController: ...)` pattern does. It organizes the SearchBar separate from your changing view controllers, which are being transitioned in the `rootViewController` space. If you want to do this with a standalone SearchBar, you can do this, a

[2017-10-30 17:15] #948 closed

[2017-10-30 17:17] danieldahan commented on #946
Yes it does. I need to update the README. The latest version supports Swift 4. Thank you!

[2017-10-30 17:17] #946 closed

[2017-10-30 18:08] csimmonsbluebook commented on #872
Alright cool. Sorry to be a pain, I know you have plenty of things to tweak with Swift 4 and iOS 11! Just trying to finish up an app update :)

[2017-10-30 20:35] karstengresch commented on #872
@csimmonsbluebook

No, I had to switch my project completely away from Material (for the time being). The CardTableView sample still doesn't compile with Swift 4 on my side. My 'time resources'/'knowledge' ratio is extremely low, so I can't be much of help for @danieldahan.

But I'll definitely come back when it's fixed :)

[2017-10-31 13:37] danieldahan commented on #872
Sample has been updated :) All the best!

[2017-10-31 13:37] #872 closed

[2017-10-31 20:44] wflores96 commented on #902
I'm experiencing a similar issue on Material 2.12.13. I tried deleting Cartfile.resolved and Carthage and using `carthage update --platform iOS --no-use-binaries`. I can see in the terminal that it is building Motion, however, I still get the same error as the original post.

[2017-10-31 20:46] danieldahan commented on #902
@wflores96 Is this your first update to having Motion separate? Are you adding both Motion and Material to your project?

[2017-10-31 21:07] robcecil opened #950 "Please include way to constrain child object dimensions added to a Bar"
Usage scenario:

I want to add 5 Flatbuttons to a Bar, but constrain their width to a constant.

Currently this is impossible.

Tried adding constraints before adding like this:

`myButton.widthAnchor.constraint(equalToConstant: 80)`

Then including it in leftViews, rightViews arrays.

etc.

[2017-11-01 01:52] wflores96 commented on #902
@danieldahan adding Motion framework fixed it! thank you

[2017-11-02 15:30] yasirmturk opened #951 "layoutSubviews for TabBar NOT being called before viewDidLayoutSubviews"
I have a `TabBar` as a bottom bar of `ImageCard` which is being prepared on `viewDidLoad` but as all the widths of elements are 0 i started hooking up all the methods:
`viewWillAppear`
`viewWillLayoutSubviews`
`viewDidLayoutSubviews`

but it was still 0.. on further investigation i came to know that `layoutSubviews` for the `TabBar` is being called ONLY after the `viewDidLayoutSubviews` and it is

[2017-11-02 15:31] yasirmturk opened #952 "TabBar no selected item option needed - [Feature Request] - Add base ScrollBar class for Toolbar and TabBar."
there is a need of having no selected tab item on a tab bar .. i am using it as bottom bar on card view and first item always shown selected

can not do `bottomBar.selectedTabItem = nil`

[2017-11-02 15:33] AndriiNarinian opened #953 "Motion prevents Material to update via Carthage for Swift 4"
<img width="1070" alt="screen shot 2017-11-02 at 2 05 54 pm" src="https://user-images.githubusercontent.com/27504688/32334724-dda4cad4-bff3-11e7-92d5-85871c3a6543.png">

[2017-11-02 15:49] yasirmturk commented on #951
on further investigation the `container.bounds.width` is still 0 for `Card` which sets the width 0 also for the bottom bar and the bottom bar will never layout subviews due to width check here
`guard willLayout else {
            return
        }`

[2017-11-02 21:31] ijameelkhan opened #954 "Pod Compilation issue on Xcode 9 , Swift 4.0"
Today I update my Xcode to latest Xcode  and my project won't compile anymore.  If I use

[code]

I get following compilations issues.

<img width="986" alt="screen shot 2017-11-03 at 2 26 21 am" src="https://user-images.githubusercontent.com/1882875/32351267-9deb576e-c03e-11e7-8ccb-27be58fb248b.png">

However if I use latest version available like this

[code]

this installs the latest 2.12.13 ve

[2017-11-03 06:10] yasirmturk commented on #954
change swift version to 4 in build setting for target Material in Pods project

[2017-11-03 10:17] SandeepCBL opened #955 "Extend edges not working in navigationDrawerController and adds a white space above Tableview"
I am using navigationDrawerController and its leftViewController has a tableview. Whenever I change tab , a white space appears at top of tableview.
Things I tried:
Disabled Extend edges from storyBoard.
Tried disabling through code

[2017-11-03 20:14] danieldahan commented on #955
Can you send over a sample project to reproduce the issue?

[2017-11-03 20:15] danieldahan commented on #954
Thank you @yasirmturk, that is the correct answer :)

[2017-11-03 20:17] danieldahan commented on #951
If you set the width of the `ImageCard`, then the width of the subcomponents will automatically adjust to size. Have you tried that?

[2017-11-03 20:23] danieldahan commented on #953
I tested it and all seems to be fine. Are you using `carthage update`?

<img width="836" alt="screen shot 2017-11-03 at 2 22 26 pm" src="https://user-images.githubusercontent.com/9982123/32394364-74bf06f6-c0a2-11e7-94bf-dd12d6609d05.png">

[2017-11-03 20:25] danieldahan commented on #952
Well let's say this is a case, what would be shown if the TabBar was on `selectedTabItem = nil`?

[2017-11-03 21:57] ijameelkhan commented on #954
Please don't close.

It would still won't import the library for me.

<img width="1127" alt="screen shot 2017-11-04 at 2 56 23 am" src="https://user-images.githubusercontent.com/1882875/32397485-d8cd038c-c10b-11e7-8e66-e5efbebeb8cf.png">

Check I have update the pod settings to swift 4.0. The project it self is set to swift 4.0 and I am using latest Xcode and coco pods. I tried removing all pods a

[2017-11-03 22:41] danieldahan commented on #954
Please try changing the Pods project settings, not Materials alone.

[2017-11-03 22:46] ijameelkhan commented on #954
Still no luck :(

<img width="1010" alt="screen shot 2017-11-04 at 3 45 13 am" src="https://user-images.githubusercontent.com/1882875/32398699-b8528e04-c112-11e7-9261-9cd01b2378b2.png">

Every single thing is now set at swift 4.0.

[2017-11-03 23:08] danieldahan commented on #954
Can you email me your project?

[2017-11-03 23:09] ijameelkhan commented on #954
Pull from here: https://github.com/ijameelkhan/mlmjungle_ios.git. You have access.

[2017-11-03 23:10] danieldahan commented on #954
I will check shortly. I am not near my computer now.

[2017-11-04 03:21] ndlinh opened #956 "Layout.center(): View display in wrong position if it was init with frame = .zero"
It's seem that layout not calculate size of view using layout constraint.
This code work in version `2.11.4` but not work in `2.12.13`

    fileprivate func prepareIndicator() {
        let color = UIColor(hexString: "C69C9F")
        activityIndicatorView = NVActivityIndicatorView(frame: .zero, type: .ballClipRotateMultiple, color: color, padding: 10)
        activityIndicatorView.layer.zPosition

[2017-11-04 03:41] ndlinh opened #957 "statusBar.frame.size.height is zero"
In iOS 9, `statusBar.frame.size.height` is zero. This caused statusbar overlap toolbar in ToolbarController.

I think the code to set height in StatusBarController should be like this:

        if #available(iOS 11, *) {
            let v = topLayoutGuide.length
            statusBar.frame.size.height = 0 < v ? v : 20
        } else {
            statusBar.frame.size.height = 20
        }

[2017-11-04 05:58] yasirmturk commented on #952
nothing ..just like a regular toolbar with no item selected

[2017-11-04 06:28] OrkhanAlikhanov commented on #957
@danieldahan I guess @ndlinh is right. I was suspicious about the commit https://github.com/CosmicMind/Material/commit/ea0e0027b20ec19244f391f95b812839fcb55799 when I see it.

[2017-11-04 07:20] yasirmturk commented on #951
I have provided layout.horizontally left and right padding now how can i set the width and also actual width of the view is not available in viewdidload

[2017-11-05 00:57] varijkapil13 commented on #954
I have the same error with the samples. Trying the tabbar controller sample, but it shows the same error in Pods=>Material=>Core=>PageTabBarController.swift line 225,
and says the overidden declaration is here in ...Core=>RootController.swift line 154

[2017-11-06 02:35] danieldahan commented on #954
I will be back to investigating issues in the morning. I was on a vacation the past few days :) Thank you!

[2017-11-06 02:37] danieldahan commented on #951
@yasirmturk If you set the horizontally value, it stretches the width across, so you wouldn't provide another width value. Have you looked at the sample?

[2017-11-06 02:40] danieldahan commented on #952
You should then use a Toolbar, as that breaks the behaviour of the TabBar. Tabs are always meant to have a selected Tab. Supporting a nil state will over complicate the component at the moment. What you can do, is hide the line until a Tab is selected, but you will need to manage its view controllers if you are using the TabsController. If you want to send over a PR, I'd be happy to look it over a

[2017-11-06 02:42] danieldahan commented on #956
I will investigate this, thank you :)

[2017-11-06 02:43] danieldahan commented on #953
I haven't heard from you, so I will close this issue for now. Thank you!

[2017-11-06 02:43] #953 closed

[2017-11-06 02:44] danieldahan commented on #955
I haven't heard from you, so for now I will close this issue. Thank you!

[2017-11-06 02:44] #955 closed

[2017-11-06 06:09] yasirmturk commented on #952
I actually needed a toolbar and thats how i am using it but the thing is that `Toolbar` is just a `NavigationBar`, its not providing the functionality of a toolbar so No, i cant use a `Toolbar` as it does not have a scroller.. and i can not set a long list of "tools" to it

[2017-11-06 06:11] yasirmturk commented on #952
so suggesting me for having a nullable selectedtabitem was a quick fix as i thought it.. instead of re-implementing the toolbar may be :)

[2017-11-06 06:28] yasirmturk commented on #951
that the issue i provided horizontally layout but still the width is 0 or default.. i am attaching screenshot from the sample project please see that the `layoutSubviews()` method is called after `viewDidLayoutSubViews()` and that actual width of `Toolbar` or `Tabbar` whatever we use is NOT available untill `viewDidAppear` method
![layout](https://user-images.githubusercontent.com/306691/32428042-

[2017-11-06 06:56] yasirmturk commented on #954
@varijkapil13 `PageTabBarController` has been long replaced and it was removed in version "2.8.0" and before that the project was definitely not in swift 4

[2017-11-06 07:47] varijkapil13 commented on #954
@yasirmturk thank you for pointing it out. By default the samples download version "2.0". Anyways I updated Material to "2.8.1" but still have problem. The project wont build due to "Declarations from extensions cannot be overridden yet".

now it is in `Pods=>Material=>Core=>Card.swift`

![screen shot 2017-11-06 at 8 45 13 am](https://user-images.githubusercontent.com/8291077/32430260-da686d16-c2c

[2017-11-06 08:00] yasirmturk commented on #954
@varijkapil13 if u want to compile for swift 4 then download version "2.10.3" or above.. for latest master repo in @CosmicMind/Samples, which uses version "2.12.13":
1. download as Zip
2. run $ ./install_all_pods.sh
3. open your TabsController.xcworkspace
4. select Pods project and change swift to 4.0 for "Material" and "Motion"
5. Build or Run
![pods_xcodeproj](https://user-images.githubuserconte

[2017-11-06 08:08] varijkapil13 commented on #954
thanks. pods version 2.12.13 did the trick. I already performed all the steps as you mentioned with the samples during my first install, but it installs version 2.0 with that script. Anyways, I updated the podfile and installed Material again, and it works fine now. Thanks :)

[2017-11-06 15:44] danieldahan commented on #954
Amazing! Thank you!

[2017-11-06 15:44] #954 closed

[2017-11-06 15:45] danieldahan commented on #951
Okay, I will take a look, thank you!

[2017-11-06 15:49] danieldahan commented on #952
I think the best approach would be to create a base ScrollBar class that is extended for both the TabBar and Toolbar, allowing it to spread the scrollable functionality. I am reopening this as a feature request.

[2017-11-06 16:36] ijameelkhan commented on #954
@danieldahan  - Bro this really doesn't solve my problem. I am having everything latest and my imports won't work for this library. I am having a total different issue then @varijkapil13 .

[2017-11-07 10:52] ijameelkhan commented on #954
Any update here please ?

[2017-11-07 11:10] yasirmturk commented on #954
Can u send ur project?

On Tue, 7 Nov 2017 at 3:52 PM ijameelkhan <notifications@github.com> wrote:

--
*Yasir M Turk*
http://yasirmturk.com | Meet Me
<http://www.vcita.com/v/765f51a0a74fd4aa/online_scheduling> | Web Hosting
<http://apnisite.net/> | Technowledge <http://technowledge.pk/> | Mad Joint
<http://madjoint.com/> | Youth Plugged <http://www.youthplugged.com/>

[2017-11-07 11:12] ijameelkhan commented on #954
download from here: https://github.com/ijameelkhan/mlmjungle_ios.git I gave you access

[2017-11-07 13:47] yasirmturk commented on #954
got it

[2017-11-07 14:03] yasirmturk commented on #954
pushed.. it is compiling now .. `TabBarController` is now `TabsController` in later versions on Material
![apptabscontroller_swift](https://user-images.githubusercontent.com/306691/32497396-3cb3e9da-c3ee-11e7-864b-d3bb08af1963.jpg)

[2017-11-07 14:23] ijameelkhan commented on #954
Ok worked thank you :)

[2017-11-07 14:25] danieldahan commented on #954
@yasirmturk thank you for your help, and @ijameelkhan happy all is working for you now :)

[2017-11-07 15:39] danieldahan commented on #957
Looks correct, I will double check today. Thank you!

[2017-11-08 06:18] shemchavez opened #958 "Capture API is missing."
Where is Capture API? Is it not included anymore?

[2017-11-08 14:18] yasirmturk commented on #951
another best example of this issue is the Grid in Samples project which no longer works at all.. to fix it, i tried overriding the `layoutSubViews` method and forcefully call `grid.commit` then it works again

`override func layoutSubviews() {
        super.layoutSubviews()

        if grid.views.count > 0 {
            grid.commit()
        }
    }`

[2017-11-08 16:52] danieldahan commented on #951
Grid works perfectly fine and is the basis of every component practically, so if it didn't work, everything would be broken. And you must call `grid.commit()` because `grid.begin()` was called earlier.

The ImageCard works perfectly in the sample and with the latest.

<img width="531" alt="screen shot 2017-11-08 at 10 51 28 am" src="https://user-images.githubusercontent.com/9982123/32561852-e3c15c

[2017-11-08 16:52] #951 closed

[2017-11-08 16:55] yasirmturk commented on #951
try https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/Grid it doesnt work

[2017-11-08 16:56] danieldahan commented on #951
I don't have an issue if it does not get called then. I don't think there should be any layouts until the views need to layout. So what are you trying to accomplish?

[2017-11-08 16:57] danieldahan commented on #958
It was removed a while ago in favour of a rewrite that will be launched in Material 3 as an optional subcomponent. Here is the new repo [Capture](https://github.com/CosmicMind/Capture), which we can work on to integrate into your application and will be part of Material 3 :)

[2017-11-08 16:57] #958 closed

[2017-11-08 17:00] yasirmturk commented on #951
i mean to say the Grid project does not render any output it shows blank

[2017-11-08 17:01] danieldahan commented on #951
Seems to work for me. Are you fully updated to the latest?

<img width="475" alt="screen shot 2017-11-08 at 11 01 03 am" src="https://user-images.githubusercontent.com/9982123/32562386-226f2d4c-c474-11e7-8125-7665261a5640.png">

[2017-11-08 17:06] yasirmturk commented on #951
i pulled the day before yesterday, let me pull again

[2017-11-08 17:08] danieldahan commented on #951
Please pull the latest Samples too, I updated the Grid sample now :)

[2017-11-08 17:10] danieldahan commented on #957
I am downloading the iOS 9 simulator to confirm this issue and will push a fix right away :)

[2017-11-08 17:15] OrkhanAlikhanov commented on #957
@danieldahan In code you only check `#available(iOS 11, *)`. I guess, the issue is non-ios11-specific :)

[2017-11-08 17:16] danieldahan commented on #957
Yes, it was in iOS 10 as well. I missed this when I was updating everything for iOS 11. Thanks guys. The fix is in [Material 2.12.15](https://github.com/CosmicMind/Material/releases/tag/2.12.15) :)

[2017-11-08 17:16] #957 closed

[2017-11-09 03:14] quanguyen opened #959 "Texts of titleLabel and detailLabel disappear until new controller is pushed"
Hi,

I got this weird problem: in my project, when I set the texts of `titleLabel` and `detailLabel`, they appear to be empty, like this:

![img_0133](https://user-images.githubusercontent.com/11938078/32586655-8a3af39e-c536-11e7-9fcb-52841b99e6c7.PNG)

But when I (push) segue to another view controller and come back, `titleLable` and `detailLabel` texts appear and they work since then.

![img_013

[2017-11-09 11:23] varijkapil13 opened #960 "navigationDrawerController?.toggleLeftView() does not work when navigationDrawer is not rootViewController"
I am building navigationDrawerController with tabsController. And in the application not all view controller require the navigation drawer, there I only assign navigation drawer to the view that requires it. It works fine when the tabsController is set as window root, but when I transition to tabsController via a navigationController push method (UINavigationController or Material) from another ro

[2017-11-09 15:31] danieldahan commented on #959
Are you setting the initial `navigationItem` values in the your `rootViewController`?

[2017-11-09 15:34] danieldahan commented on #960
Hey :) Is your `handleMenuButton` in a view controller that is being removed once you push your new view controllers? If that is the case, then the function handler may be out of scope causing the issue. I would need to look at your project to confirm this.

[2017-11-09 15:44] varijkapil13 commented on #960
Hey :) `handleMenuButton` is in the new view controller that is being pushed. it is in the startegyViewController that I have in the DrawerController and then in TabsController (See second screenshot). It gets fired whenever I click on the menu button, but nothing happens except the ripple effect on the button.

Unfortunately I cannot put the project on GitHub, I can email you the relevant files i

[2017-11-09 15:45] danieldahan commented on #960
Yes, please email me the project at support@cosmicmind.com :) It would be easier. Once I am done giving you help, I delete all materials you sent.

[2017-11-09 16:16] varijkapil13 commented on #960
Thank you! Sent! :)

[2017-11-09 16:17] danieldahan commented on #960
Great! I will take a look shortly :)

[2017-11-10 02:04] seubseub commented on #823
@danieldahan Function to change active tabs by horizontally swiping content view is on developing?

[2017-11-10 03:12] quanguyen commented on #959
Below is my storyboard:

![screen shot 2017-11-10 at 9 41 57 am](https://user-images.githubusercontent.com/11938078/32640615-292df6d4-c5fc-11e7-82fe-d86d5f015b36.png)

In `Root`, I "prepare" the toolbar:

[code]

and set observers to change the title and detail after some other actions are finished:

[code]

I am sure the observers work because:
- The console prints out `title didSet: ...` and `de

[2017-11-10 10:21] vincentsaluzzo opened #961 "dyld: lazy symbol binding failed: Symbol not found"
Hello,

I've updated Material to last version (i used Carthage), and now I have this error :

[code]

[2017-11-11 16:13] atistank commented on #858
it still error with "tabBar.tabItems = buttons " please update tabbar example

[2017-11-11 17:21] atistank opened #962 "breakpoint when set properties to Tabbar"
Hi, I'm studing about tabbar from example Tabbar, but get break point when run app, i try set properties tabItems to tabbar, it not work for me.

[code]

here my file. What should I do right now ?
https://github.com/atistank/TiengAnhGiaoTiep/blob/master/tabbarErorr

[2017-11-13 10:14] Johnny992 opened #963 "TextField constraints error"
When I change focus from one text field to another I get error: "Unable to simultaneously satisfy constraints".

This is known bug?

![screen shot 2017-11-13 at 11 14 06 am](https://user-images.githubusercontent.com/3774213/32720421-c9c9075a-c863-11e7-8165-1ed258a691ba.png)

[2017-11-13 10:59] dannysood opened #964 "Explain License Terms"
Can you please explain the license terms. From what I understand the license says that if I use this component my app should reproduce this license which pretty much says the app is copyrighted by CosmicMind.  What am I missing here.

[2017-11-13 12:43] danieldahan commented on #964
The code that is delivered through our frameworks is copyrighted. Anything else you do is yours. As well, you can modify our code, but you must leave the license in there if you leave a substantial amount untouched. You cannot use our name to endorse your app. That's it :) no tricks. Enjoy!

[2017-11-13 12:43] #964 closed

[2017-11-13 12:45] danieldahan commented on #963
You need to check your constraints for your app, this is not a Material issue. If you would like help with your application, you can write to [Material Gitter](https://gitter.im/CosmicMind/Material) :) All the best!

[2017-11-13 12:45] #963 closed

[2017-11-13 12:47] danieldahan commented on #961
Make sure to add the Motion framework as well, which is built as a dependency with Carthage. Take a look at this [installation guide](https://www.cosmicmind.com/danieldahan/lesson/6). If you need any further help, please reopen the issue :)

[2017-11-13 12:47] #961 closed

[2017-11-13 12:49] danieldahan commented on #962
Are you using the `TabsController`? If so, please take a look at the [TabsController sample](https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/TabsController). You should be setting the tabs in the view controllers themselves. If you need, please reopen the issue for further assistance :)

[2017-11-13 12:49] #962 closed

[2017-11-13 12:56] danieldahan commented on #858
@atistank great catch, please take a look at the latest [TabBar sample](https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/TabBar) for an updated version :)

[2017-11-13 12:58] danieldahan commented on #959
I will take a look at this later today. Thank you!

[2017-11-13 12:59] danieldahan commented on #823
@seubseub Yes, it will be out soon.

[2017-11-13 13:14] seubseub commented on #823
@danieldahan  Thanks 👍

[2017-11-13 13:18] dannysood commented on #964
Thanks explains it. Thanks a ton :)

[2017-11-13 16:37] atistank commented on #962
Sorry but your example not work .I use the same code of you and It still crack, you should check again.

[2017-11-14 07:16] OrkhanAlikhanov commented on #814
Same here, I have `TabsController` managing 2 `UIViewController`s with `tableView`. When transition happens the scroll bars appear.

[2017-11-14 07:48] cuongtv51 opened #965 "View: convenience init() should not call prepare() again."
View.swift line 162 , i suggest convenience init should not call prepare() again

[2017-11-14 11:07] OrkhanAlikhanov commented on #965
That's correct, and I think there is no need to declare `convenience init()`. It should work without.
https://github.com/CosmicMind/Material/blob/68e44743466162fe03466a1f5df635c7fb808f81/Sources/iOS/View.swift#L159-L163

[2017-11-14 13:46] danieldahan commented on #814
@OrkhanAlikhanov this is on the high priority list. Will look more into it today.

[2017-11-14 13:58] danieldahan commented on #962
@atistank awesome :) All the best!

[2017-11-14 14:16] cuongtv51 commented on #965
Thanks for quick response, i just try to use your framework, thanks for your great work.

[2017-11-14 14:17] danieldahan commented on #965
It's a pleasure :)

[2017-11-14 21:36] barrymcnamara opened #966 "Swift 4 compiler errors"
Getting 'declarations from extensions cannot be overridden yet' and 'ambiguous use of...' compiler errors in Card.swift - Swift 4.0

![screen shot 2017-11-14 at 21 35 42](https://user-images.githubusercontent.com/6928918/32806268-d81402d0-c983-11e7-828e-089ad777e7a5.png)
![screen shot 2017-11-14 at 21 35 52](https://user-images.githubusercontent.com/6928918/32806269-d83ec9c0-c983-11e7-94fd-af67de9

[2017-11-14 22:11] #966 closed

[2017-11-15 02:43] cuongtv51 commented on #965
I have search all convenience method and checking , i found another place in Button.swift also duplicate prepare() function call.

[2017-11-15 08:59] Maxatma opened #967 "Can't find needed swift version of library"
If I need specific swift version, should I look into tags one by one trying to find needed version of swift ( swift 3) or there is easier way?

[2017-11-15 09:09] Maxatma commented on #967
If someone will that too, **swift 3** latest version is
    pod 'Material', '2.10.2'

[2017-11-15 12:29] yasirmturk opened #968 "TextField renders 2 placeholder labels if placeholder is set in IB"
If the user sets `UITextField.placeholder` in IB and also set `TextField.placeholder` in the code or in IB the dual text is rendered. A quick solution could be to set `UITextField.placeholder` to nil in override property

![_xcworkspace](https://user-images.githubusercontent.com/306691/32836093-7a291f6e-ca2a-11e7-8174-fd6c4be87c48.jpg)

[2017-11-15 14:41] danieldahan commented on #967
That is the correct tag to use. To make it easier, I made a branch [swift-3](https://github.com/CosmicMind/Material/tree/swift-3) from that tag.

:) Thank you!

[2017-11-15 14:41] #967 closed

[2017-11-15 14:42] danieldahan commented on #966
You need to set your Pods project to Swift 4. Give that a try, and if you need, please reopen this issue. Thank you!

[2017-11-15 14:44] danieldahan commented on #965
@cuongtv51 excellent, I will update that as well and make a push now.

[2017-11-15 20:30] danieldahan commented on #965
Please find a fix for this in [Material 2.12.16](https://github.com/CosmicMind/Material/releases/tag/2.12.16) :)

[2017-11-15 20:30] #965 closed

[2017-11-16 08:23] Maxatma commented on #967
Great, thanks for fast response! :)

[2017-11-16 16:57] erparker opened #969 "dynamic var x must also be @objc"
We recently migrated our project to Swift 4, I made sure my Pods project is set to Swift 4 in build settings, and I'm on Material version 2.12.16. In the DropDown.swift file I'm seeing the compiler error: `'dynamic' var 'x' must also be '@objc'` for each property marked with dynamic.

As far as I understand it, according to [SE-0160](https://github.com/apple/swift-evolution/blob/master/proposals/0

[2017-11-16 17:09] #969 closed

[2017-11-16 17:10] erparker commented on #969
this issue was opened in error, it's involving a completely separate pod. sorry about that

[2017-11-16 18:48] barrymcnamara commented on #966
Got it sorted! Thanks for getting back. It’s a great framework!

Sent from my iPhone

On 15 Nov 2017, at 14:43, Daniel Dahan <notifications@github.com<mailto:notifications@github.com>> wrote:

You need to set your Pods project to Swift 4. Give that a try, and if you need, please reopen this issue. Thank you!

—
You are receiving this because you modified the open/close state.
Reply to this email d

[2017-11-16 18:49] danieldahan commented on #966
Awesome! Thank you :)

[2017-11-16 22:13] MattKiazyk opened #970 "NavigationController backButtonImage location"
When subclassing `NavigationController` and overriding the `backButtonImage` the back image isn't fully left aligned..should it?

<img width="622" alt="screenshot 2017-11-16 16 05 05" src="https://user-images.githubusercontent.com/1119565/32918697-da2615b6-cae8-11e7-86dd-9a8a1a675e51.png">

You'll see the small space on the left before the toolbar. Can I set that so that there is no space?

I full

[2017-11-16 22:26] MattKiazyk commented on #970
Further read into it and looks like an iOS 11 issue with navigationBars in the way they are implemented internally:

https://forums.developer.apple.com/thread/80075
https://stackoverflow.com/questions/44677018/ios-11-uinavigationbar-bar-button-items-alignment/46660888#46660888

[2017-11-17 05:35] yasirmturk commented on #970
try this in `prepare()`
`if let navBar = navigationBar as? NavigationBar {
            navBar.contentEdgeInsetsPreset = .none
}`

[2017-11-17 11:20] Coppola-Aleandro opened #971 "NavigationDrawer left/right padding"
Hi! You can keep a minimum padding of the left or right view menu as attached?

Thanks!

![schermata-2017-11-17-alle-12 08 35](https://user-images.githubusercontent.com/5457653/32944914-a0ed95ea-cb91-11e7-910e-251735a23959.png)
![schermata-2017-11-17-alle-12 18 47](https://user-images.githubusercontent.com/5457653/32944915-a108ff7e-cb91-11e7-94cb-24cf860d68c8.png)

[2017-11-17 14:06] MattKiazyk commented on #970
Unfortunately that still doesn't work @yasirmturk - still leaves a 8 pt margin on left/right sides

<img width="425" alt="screenshot 2017-11-17 08 05 07" src="https://user-images.githubusercontent.com/1119565/32951038-145a67e8-cb6e-11e7-89cc-04bae1fdfa5b.png">

[2017-11-18 02:11] lhalcyon opened #972 "2.12.16 can't run . swift language version is 4.0 a lot of syntax error"

[2017-11-18 02:14] lhalcyon commented on #972
sorry , solved . just swift language wrong

[2017-11-18 02:14] #972 closed

[2017-11-18 02:24] Eric0625 opened #973 "'prepare' function is overwritten by private prepare functions"
When inheriting from FlatButton, it's no use to override `prepare()` to customize the title color of the button. Because when initialize the child Button with `init(title: String?, titleColor: UIColor = Color.blue.base)`, the prepare function is called first in the super.init function, then followed by `prepare(with: title, titleColor: titleColor)` which will reset titleColor to the default blue c

[2017-11-18 02:27] Eric0625 commented on #973
In the previous version this definition works fine, but now it's no use to define the title color in `prepare()`
![default](https://user-images.githubusercontent.com/18132007/32976086-06418168-cc4b-11e7-8f8f-b82b566b2454.PNG)

[2017-11-19 10:52] ToonvanStrijp opened #974 "UIStackView as Card content doesn't show it's contents"
I'm trying to set the UIStackView as my card content however the size seems to work, the content of the UIStackView isn't shown.

I'm using the following code:
[code]
<img width="598" alt="screen-shot-2017-11-18-at-16 24 50" src="https://user-images.githubusercontent.com/11893063/32989933-07bc5d76-cd20-11e7-93de-41cb47608d0a.png">

[2017-11-19 18:29] ConfusedVorlon opened #975 "Tab bar layout not working on iPhone X sim"
I'm using Material 2.12.16
The tab bar is added through storyboard tab-bar controller

On iPhoneX, the tab bar seems to be getting an appropriate amount of height - but the items are squishing to the top.

iPhone 8+ (all good)

![2017-11-19 06 25 07 pm](https://user-images.githubusercontent.com/586910/32993904-0ed7ced8-cd57-11e7-82d1-b71a802f63ed.png)

iPhone X

![2017-11-19 06 25 22 pm](https://u

[2017-11-19 23:25] ConfusedVorlon commented on #975
turns out this was not your issue - sorry!

[2017-11-19 23:25] #975 closed

[2017-11-20 00:18] henryhardy opened #976 "Black flash when using navigationController?.pushViewController"
when I call navigationController?.pushViewController() there is a black flash during the slide animation to the new view.

Has anyone else experienced this?

[2017-11-20 13:05] danieldahan commented on #976
Can you send a sample over please?

[2017-11-20 13:06] danieldahan commented on #975
No worries :)

[2017-11-20 13:07] danieldahan commented on #974
I will be taking a look at this later today. Thank you!

[2017-11-20 13:08] danieldahan commented on #973
I will investigate this today and release a fix :) Thank you!

[2017-11-20 13:11] danieldahan commented on #970
@yasirmturk is correct. This is an iOS 11 issue and I have tried many times to fix it without the best results. I will give it another try, so I will this up for now. Thank you!

[2017-11-20 13:12] danieldahan commented on #971
Hey! Are you asking how to do this?

[2017-11-20 13:13] ayham-achami opened #977 "NavigationDrawerController and menu button"
if press on menu button on navigation bar and move finger to left, the left view controller will close, but the content view stay on screen, and block the user interactions.

![nov-20-2017 15-54-39](https://user-images.githubusercontent.com/28861684/33019511-bcaf9108-ce0b-11e7-8aaf-c38ef112c91a.gif)

[2017-11-20 13:27] danieldahan commented on #977
Hey! I tried the sample project now, [NavigationDrawerController sample](https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/NavigationDrawerController), and all seems to work. Can you confirm on the latest and on the sample this issue exists? If not, we will need to investigate your setup. Thank you!

[2017-11-20 14:34] ayham-achami commented on #977
i'm use the last version of Material (2.12.16) and the issue exits for left and right view controller.

[2017-11-20 14:34] danieldahan commented on #977
Have you tried it with the sample, because I did and there is not an issue.

[2017-11-20 14:43] ayham-achami commented on #977
yes i tried it with the sample, and this a gif from your sample.

![nov-20-2017 17-38-10](https://user-images.githubusercontent.com/28861684/33023601-be96a9bc-ce19-11e7-9908-4535a0bf8f93.gif)

[2017-11-20 14:45] danieldahan commented on #977
This is not happening to me with the latest and same simulator. Can you ensure that you are not loading cached copy or something corrupt, because I cannot reproduce this issue?

[2017-11-20 14:50] ayham-achami commented on #977
you swipe to left when tap on left UIBarButtonItem ?

[2017-11-20 14:54] danieldahan commented on #977
Here is what I get:

![nabdrawer](https://user-images.githubusercontent.com/9982123/33024313-5deacc18-cdd0-11e7-8a83-f13b885efe0d.gif)

[2017-11-20 15:50] danieldahan commented on #977
I am closing this issue for now. If you send me a reproducible project, I will reopen this. Thank you!

[2017-11-21 02:15] appintima opened #978 "Cannot change app delegate for snackbar"
How do I manually add a snackbar within a particular viewcontroller? My hierarchy is very complex with splashscreens and multiple rootviewcontrollers for different parts of my application. I just need a snakcbar in a single viewcontroller, and not elsewhere. How can we manually add one without modifying the appdelegate file or changing the rootVC?

Also the same for things like TabsController etc,

[2017-11-21 08:27] ayham-achami commented on #977
i think you don't understand how to bring this bug, please, use the gesture on the menu button EXACTLY as I was showing. As if you want to throw the button off the screen.

[2017-11-21 09:59] Coppola-Aleandro commented on #971
@danieldahan yes! 👍 If possible!

[2017-11-21 15:45] muzoman commented on #650
I'm seeing this exact same issue in 2.12.16. Is this supposed to be fixed Daniel?

[2017-11-21 15:48] muzoman commented on #650
OK, that's great, thank you Daniel.

[2017-11-21 15:49] danieldahan commented on #650
@muzoman anytime. My majority of time is working on the education center. So I am splitting support and that for the next little while. Normally, issues are fixed faster.

[2017-11-21 15:51] muzoman commented on #650
@danieldahan what timescales do you reckon it might me fixed in then? Just pondering whether to re-engineer my App to not cache all it's view controllers...

[2017-11-21 15:52] danieldahan commented on #650
@muzoman  I'll release this fix by Friday if it is fixable, which it will most likely be :)

[2017-11-21 15:54] muzoman commented on #650
@danieldahan that is awsome! :-) Will wait, plenty of other things to do!

[2017-11-21 15:54] danieldahan commented on #650
sweet :)

[2017-11-21 16:16] danieldahan commented on #978
To add a Snackbar to a view controller is an exercise of adding the code in the [SnackbarController](https://github.com/CosmicMind/Material/blob/master/Sources/iOS/SnackbarController.swift) file. You can extract what you need and add it to your view controller. As well, you do not need to have the SnackbarController as your rooViewController. You can wrap it around any view controller and it would

[2017-11-21 16:19] danieldahan commented on #971
One way would be to add a container view and then pad it as you would like. Then add a child view controller to that container, in this case it is a NavigationDrawer. Then from there continue as you would normally. If you need any further help, please reopen this issue :)

[2017-11-21 16:19] #971 closed

[2017-11-21 16:22] danieldahan commented on #977
Ah I see, well two things. One you are using a normal UINavigationController, the sample used a Material NavigationController. Second, you are doing this on a simulator, which means you might be breaking the touch events when the cursor goes off the simulator screen area. I would check this on a real device and send me a reproducible project. If you need any further help, let me know :)

[2017-11-21 16:22] srikanthsrnvs commented on #978
The first part of what you said makes sense, but I don't understand what you mean by 'wrapping it around any view controller'

Im sorry, I taught myself to use Xcode, and so may not understand your terminology..

[2017-11-21 16:26] danieldahan commented on #978
@srikanthsrnvs no worries :)

So basically a SnackbarController uses a rootViewController initializer. This basically take a view controller that you have, let's say MyVC and allows you to wrap it, like so:

[code]

Now the Snackbar will be accessible in the MyVC to do with what you like and all the functionality will be there.

[2017-11-21 16:29] srikanthsrnvs commented on #978
So lets say I have a MyVC class, and want a snackbar to appear when the view loads, I have to initialize one manually using the wrapper that you mentioned above? What if this VC is a child of another Tab Controller, or something else? Will using this wrapper still work?

[2017-11-21 16:32] danieldahan commented on #978
Yeah, for example: let's say you have this as a TabItem in a TabsController:

[code]
Now the SnackbarController is wrapping the FeedViewController and you can do what you like. This is a more advanced technique.

[2017-11-21 16:36] srikanthsrnvs commented on #978
I see, and if I were to follow the first option of manually adding the code from the snackbar controller file into MyVC, all I have to do is add the functions, and then call them at viewdidload or whenever else I need the snackbar to show up?

[2017-11-21 16:38] danieldahan commented on #978
Yeah, copy the SnackbarController as your base and build from there. Sorry I can't be more help, an Education Center is being worked on aggressively to help with questions like these.

[2017-11-21 16:39] srikanthsrnvs commented on #978
Thank you!

[2017-11-21 16:40] danieldahan commented on #978
Awesome, if you need any further help, please feel free to ask away :) I am taking note of these questions and writing up content for them.

[2017-11-21 16:40] #978 closed

[2017-11-22 11:23] stasivanov opened #980 "Add "@objc" to the variables declared in extension"
The problem with Xcode 9 is that it doesn't work with User Defined Runtime Attributes that are declared in extension. But it works if I add "@objc" to it.

So, in file "Material+UIView.swift", there are properties like "shadowColor" or "borderColor", that earlier were @IBInspectable. Now, with the new version, they are no longer inspectable, but PLEASE make it works with "User Defined Runtime Attr

[2017-11-22 11:31] OrkhanAlikhanov commented on #980
You can add [Material+UIView.swift](https://github.com/CosmicMind/Material/blob/c3ff93617ca5d819c008b481a6c1b522b542d133/Sources/iOS/Material%2BUIView.swift) manually to your project.

[2017-11-22 11:33] stasivanov commented on #980
I know, of course :) But I want to be always up-to-date with the live version of this pod.

[2017-11-22 16:23] danieldahan commented on #980
@stasivanov yes, I will add them today and make a release with some other fixes. Thank you! If you can make a PR with a working version, that would be even better to avoid any issues with me missing something.

[2017-11-23 05:57] shemchavez commented on #958
How can we install it through Pod? Like this? - pod CosmicMind/Capture ?

[2017-11-23 07:40] shemchavez commented on #972
What should we change? Material version to Swift 4 only or with  setting App build version also?

[2017-11-23 07:55] phillippbertram commented on #893
Is there a workaround that I could use until this bug is fixed? :)

[2017-11-23 09:32] ayham-achami commented on #977
this issue is exists for real devices, and i replaced a normal UINavigationController with Material NavigationController the issue still exists for simulator and real device, and this is a reproducible [project.](https://github.com/ayham-achami/SampleNavigationDrawerController.git)

please make look for two methods in NavigationDrawerController `handleLeftViewPanGesture(recognizer:)  handleRightVi

[2017-11-23 11:27] shemchavez opened #981 "FAB Button not floating in TableView"
Is Fab Button can float in TableView? If yes can you give an example? Thanks!

[2017-11-23 12:50] danieldahan commented on #981
Yes, it can float anywhere. In the [FABMenuController](https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/FABMenuController) sample you can see it on its own with an added view controller that you can add a TableView or other view components. In the [CardTableView](https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/CardTableView) sample you can see a more

[2017-11-23 12:50] #981 closed

[2017-11-23 12:52] danieldahan commented on #977
Thank you, I will take a look :)

[2017-11-23 12:54] danieldahan commented on #958
Well I wouldn't say that it is stable yet with all the latest changes. So installing through Pod may not be the best idea. The current Pod name is `Flash`. I am working on this API in December for Material 3.

[2017-11-23 12:55] danieldahan commented on #972
@shemchavez  If you are using Pods, update the Pod project, if not, then update the working App project.

[2017-11-23 12:56] danieldahan commented on #893
@phillippbertram I will take a look today and see what I can come back with.

[2017-11-23 13:42] phillippbertram commented on #893
muchas gracias ;)

[2017-11-23 15:15] f-gonzalez opened #982 "Make Icon static properties a var instead of a constant(let)"
Currently if I want to replace and just use my own icon for something in a subclass it is too much trouble, just changing an asset...

If you can change:
**From  :** public static _let_ visibility = Icon.icon("ic_visibility_white")
**to** : public static **var** visibility = Icon.icon("ic_visibility_white")

Then in a TextField subclass, I could simple change Icon.visibility = UIImage(named: "myIm

[2017-11-23 16:24] danieldahan commented on #977
I see now what you are saying. I can reproduce the issue. I'll take a look :)

[2017-11-23 16:33] danieldahan commented on #656
The solution for this is in this issue https://github.com/CosmicMind/Material/commit/0223578fb7b534f9e612a11de0a6661904ea58b6

[2017-11-23 16:33] #656 closed

[2017-11-23 16:34] danieldahan commented on #982
A related feature request is this one: https://github.com/CosmicMind/Material/issues/656 and the commit to your suggestion is here https://github.com/CosmicMind/Material/commit/0223578fb7b534f9e612a11de0a6661904ea58b6. I am going to release this in the next release.

[2017-11-23 16:34] #982 closed

[2017-11-23 18:08] ToonvanStrijp commented on #977
I had the same issue, you must add a UITapGestureRecognizer like this: `menuButton.addGestureRecognizer(UITapGestureRecognizer(target: self, action: #selector(handleMenuButton)))`

[2017-11-23 18:58] danieldahan commented on #977
@ToonvanStrijp I will add fix that removes the need to add the UITapGestureRecognizer.

[2017-11-24 06:16] jojonarte opened #983 "I can't find a way to make the TabBar item title to position below the image."
I've been trying to find a way to position the title of the tabbar below the icon vertically. Is there no exposed property that does this?

[2017-11-24 08:33] muzoman commented on #650
Hi @danieldahan,

Managed to get time to look at this issue yet?

Cheers!
Jim

[2017-11-24 10:54] quanguyen commented on #959
Hi Daniel,

I just looked at this problem seriously and found a work around for this issue:

In `viewDidLoad` of my `Root` (which is a `UIViewController`), if I set a default value for `titleLabel` and `detailLabel` texts, then everything is fine, i.e. after I "pre-set" the value in `viewDidLoad`, I can successfully set the `titleLabel` and `detailLabel` texts in my notification observers.

My `vi

[2017-11-24 10:54] #959 closed

[2017-11-24 16:49] danieldahan commented on #959
Awesome! :)

[2017-11-24 16:56] danieldahan commented on #650
Looking today :)

[2017-11-24 16:57] #976 closed

[2017-11-24 17:04] danieldahan commented on #980
Will be in the next release with this commit: e19cd9cb51fde2f49a9ae66546355f182e7e67af

[2017-11-24 17:04] #980 closed

[2017-11-24 17:29] danieldahan commented on #650
Issue has been fixed and will be in the next release. This is the commit 6f9f6ca92d83e1a4be5eeedecac8728323a66f00. Thank you! :)

[2017-11-24 17:29] #650 closed

[2017-11-24 17:31] danieldahan commented on #983
You need to use a BottomNavigationController to do that. If you need any further help, please reopen this issue. Thank you!

[2017-11-24 17:31] #983 closed

[2017-11-24 18:56] danieldahan commented on #973
This will be in the next release and here is the commit for the fix 6612bfd0da441a2669546c69285193ab6d89a3b9. Thank you :)

[2017-11-24 18:56] #973 closed

[2017-11-24 19:03] Eric0625 commented on #973
Great, so fast! And you are welcome =)

[2017-11-27 01:01] jojonarte commented on #983
What property in BottomNavigationController should I use.

[2017-11-27 01:26] jojonarte commented on #983
I can't reopen.

[2017-11-27 01:45] jojonarte commented on #983
![image](https://user-images.githubusercontent.com/11880365/33247261-ac45b864-d357-11e7-8eb5-d1b3770c8f39.png)

[2017-11-27 02:19] jojonarte opened #984 "Using BottomNavigation with normal UINavigationController"
How do you use the two, like I would have the UINavigationController on top then the BottomTabNavigation on the bottom. Is there a way?

[2017-11-27 03:05] shemchavez commented on #981
My bad, can't set a view in layout when initializing an object in variable declaration. It causes "Material Layout Error".

For example:

var fabButton: FabButton {
     var fb = FabButton()
     return fb
}

When you set a layout in viewDidLoad() it causes that error. My solution is you must let the variable being instanstiate inside a life cycle.

[2017-11-27 03:06] jojonarte commented on #983
I couldn't find a way to make it look as the guidelines
https://material.io/guidelines/components/bottom-navigation.html#

[2017-11-27 03:07] shemchavez commented on #958
Thanks @danieldahan :)

[2017-11-27 03:08] shemchavez commented on #972
Thanks @danieldahan :)

[2017-11-27 03:25] shemchavez opened #985 "Can we implement BottomNavigationBarController like this?"
Having a Camera button in center?

Sample image - https://drive.google.com/open?id=1it5zTEY5bA2qaMAQZzzdxTeQeQSYrN1Z

[2017-11-27 11:38] yasirmturk opened #986 "Unable to extend Layout class"
I am trying to add methods to allow safe area anchors but parent, child and some other methods are inaccessible
![cbmaterialextentions_swift_ _edited](https://user-images.githubusercontent.com/306691/33264914-41bcdccc-d391-11e7-9874-dcc158d4d42c.jpg)

currently i am forced to make & use class method
`Layout.topSafe(parent: view, child: card, top: 64)`

[2017-11-27 17:06] AlaeddineOuerteni commented on #743
@danieldahan Is it already not include ? If it's done do you have any commit number ? Thanks

[2017-11-29 09:54] phlippieb opened #987 "Color: Mapping from codes (e.g. a400) to names (e.g. accent1)"
It seems like material colors are usually named according to a code-based naming scheme (e.g. blue 500, orange a400). The material color library uses a different naming scheme (e.g. blue.base, orange.accent1). The alternative naming scheme is presumably chosen because `blue.500` would be invalid syntax, and that's fine. But: how do these schemes map to one another? Is this documented somewhere tha

[2017-11-29 14:30] danieldahan commented on #987
Hey! Take a look at this site, materialcolor.com. It shows you the colors mapped with code, hex, and the swift label. If you need further help, please let me know. Thank you!

[2017-11-29 14:30] #987 closed

[2017-11-29 14:34] danieldahan commented on #986
How about you make some adjustments and then PR it?

[2017-11-29 14:35] danieldahan commented on #985
Making that it not difficult, but it looks broken. Is it meant to be like that?

[2017-11-29 14:36] danieldahan commented on #984
Yes, set the BottomNavigationController, or TabsController as the `rootViewController` of the UINavigationController :) They are all UIViewControllers at the end of the day.

[2017-11-29 14:36] #984 closed

[2017-11-30 08:01] phlippieb commented on #987
Hi @danieldahan! Thanks for the response. I have seen that site, and (unless I'm being an idiot) I don't see the swift labels there. I mean, there are colors (e.g. "Red"), but no "darken1", "lighten4", "accent3"-style text. I can see in the page's html that those values are used as tag classes etc, but I don't see it surfaced as human-readable text at all.

[2017-11-30 08:02] phlippieb commented on #987
![screen shot 2017-11-30 at 10 01 55 am](https://user-images.githubusercontent.com/2232699/33419989-8618fc72-d5b5-11e7-9843-1053b93676e4.png)
@danieldahan This is what the site looks like to me in chrome. There is no more content to the left or right.

[2017-11-30 08:57] jojonarte opened #988 "Can't reopen #983"
#983 with regards to suggested course the same thing happens with BottomNavigation.

[2017-11-30 08:59] shemchavez commented on #924
Hey guys i fix this by adding this block of code after setting the Navigation Title:

self.navigationController?.navigationBar.setNeedsLayout()
self.navigationController?.navigationBar.layoutIfNeeded()
self.navigationController?.navigationBar.setNeedsDisplay()

[2017-11-30 13:28] jombie opened #989 "Feature request for Collapsible Toolbar"
Can we have a collapsible toolbar feature as in [Android](https://developer.android.com/reference/android/support/design/widget/CollapsingToolbarLayout.html?utm_campaign=io15&utm_source=dac&utm_medium=blog)

[2017-11-30 19:19] CavalcanteLeo commented on #796
`textInset` is not visible in objective-c

here's my code:

[code]

[2017-11-30 19:22] CavalcanteLeo commented on #495
any news about that?

[2017-12-01 11:18] phongyu opened #990 "Error when compiling"
Hi,

I just updated Material to version 2.12.17, and I got errors when compiling the app

![screen shot 2017-12-01 at 11 15 23](https://user-images.githubusercontent.com/19926283/33480587-0f13a512-d689-11e7-96a5-949967dd6a1b.png)

I set Language Version for xcode: Swift 4.0 as some advices, but it doesn't help.

Please help !

[2017-12-01 13:38] muzoman commented on #977
Hi @danieldahan, have you had time to look at this yet? I see this behaviour in my App too.

[2017-12-01 14:01] rblalock commented on #976
I've actually experienced the same thing.  Currently doing this:

[code]

`navigationController?.pushViewController(regDetailController, animated: true)`

[2017-12-01 14:51] muzoman commented on #990
These errors might occur if you don't specify the IOS platform that you're targeting in your project podfile. If you're trying to compile one of the sample Apps then make sure the samples podfile first line is uncommented and looks like:

platform :ios, '9.0'

Then run command >pod update

Then make sure you open up the workspace Xcode file rather than project.

[2017-12-02 02:16] Spr-Luis commented on #977
I have same issue, is a problem in iOS 10, because the toolbar is before the button.

**iOS 10**

<img width="746" alt="captura de pantalla 2017-12-01 a la s 20 15 55" src="https://user-images.githubusercontent.com/5206221/33510674-7a401906-d6d4-11e7-93ec-822b3f26a6ac.png">

**iOS 11**

<img width="703" alt="captura de pantalla 2017-12-01 a la s 20 13 35" src="https://user-images.githubusercontent

[2017-12-02 06:48] hariprasadiit commented on #990
facing same problem. project compiles with `v2.9.4`.

[2017-12-04 14:53] danieldahan commented on #977
Hey, sorry for the delay. I was on vacation. I will take a look today :)

[2017-12-04 16:27] danieldahan commented on #976
Sorry the delay, I was on vacation - I am taking a look now :)

[2017-12-04 16:31] danieldahan commented on #976
@rblalock you can remove `isMotionEnabled = true` as it is enabled by default for the NavigationController. Also, I am having trouble to reproduce the issue on the latest with the iPhone X simulator. Would you be able to send over a reproducible project?

[2017-12-04 16:42] danieldahan commented on #495
@CavalcanteLeo can you try this commit: 5065e8837e10b5ba6753586aa1b832c83ddd1d18, it is available in Objc-C now. As well, have you looked at the [TextField](https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/TextField) sample? To put it fully across as the image above, I will need to investigate that.

[2017-12-04 17:05] rblalock commented on #976
it’s only reproducible on device unfortunately

[2017-12-04 17:11] CavalcanteLeo commented on #495
I could do it by creating a UITextField Category in objective-c

[code]

and then i just imported to my viewcontroller,

But i will try this commit, this might work, and will be much better than create a category to change the properties

[2017-12-04 17:26] danieldahan commented on #495
@CavalcanteLeo Yes, I reopened the issue to make an internal fix for this :) Maybe you can suggest something before I jump into this issue more.

[2017-12-04 18:44] CavalcanteLeo commented on #495
It's visible now, and worked perfectly!

Thanks dude!

[2017-12-04 20:23] danieldahan commented on #976
@rblalock I don't have an iPhone X. I will keep an eye out for this.

[2017-12-04 20:24] danieldahan commented on #990
Your project needs to be set for Swift 4, including your Pods settings if you are using CocoaPods. Al the best!

[2017-12-04 20:24] #990 closed

[2017-12-04 20:25] danieldahan commented on #989
I will put this in the queue and aim to launch it with Material 3.

[2017-12-04 20:28] danieldahan commented on #988
Take a look in #983

[2017-12-04 20:28] #988 closed

[2017-12-04 20:29] danieldahan commented on #983
Use the [BottomNavigationController](https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/BottomNavigationController) as a base and here is some sample code that achieves what you are looking for:

[code]

<img width="441" alt="screen shot 2017-12-04 at 3 29 33 pm" src="https://user-images.githubusercontent.com/9982123/33574684-f7059102-d907-11e7-9cc7-1f6b4d3ff272.png">

[2017-12-04 20:31] danieldahan commented on #495
Amazing!

[2017-12-04 20:31] #495 closed

[2017-12-05 01:56] CavalcanteLeo opened #991 "use only the SearchBar (not SearchBarController)"
As my app is in objective-c, I can't inherit SearchBar as my viewController, is there a way to use only the serachBar as UIView, not as showing as this example: https://github.com/CosmicMind/Samples/blob/master/Projects/Programmatic/Search/Search/AppSearchBarController.swift#L34,

And even more, the result also had to be in a collectionView in my app.

So, just to use the searchBar as UIView will

[2017-12-05 06:14] jojonarte commented on #983
Still the same on an iPad though.

[2017-12-05 13:52] lhalcyon opened #992 "Visibility Button & Clear Button can't be shown in TextField at the same time !!"
as said above,i  ran the demo of textfield and set 2 buttons to textfield , but they can't be visible at the same time. it'is bug  or cuz i make the wrong configuration. 🔢

[2017-12-05 14:06] rblalock commented on #976
Here's a video, on device, of it happening.  https://www.dropbox.com/s/tcg8xlgf89zhdfp/ScreenRecording_12-05-2017%2009%3A04.MP4?dl=0

I'm going to try to troubleshoot it tonight.

[2017-12-05 15:02] danieldahan commented on #976
@rblalock Can you share how you are setting up your view controller stack?

[2017-12-05 15:04] danieldahan commented on #992
Okay, I will take a look :) May you share with me a visual of what you want to accomplish?

[2017-12-05 15:05] danieldahan commented on #983
I need to see an image or get a sample project to investigate. Please send one my way :) Thank you!

[2017-12-05 15:07] danieldahan commented on #991
Yes, you can use the `SearchBar` component. If you need to see any functional references using it, take a look at the `SearchBarController` internals and the [Search](https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/Search) and [SearchBarController](https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/SearchBarController) samples :)

[2017-12-05 15:07] #991 closed

[2017-12-06 10:43] lhalcyon commented on #992
![4be42dd9-2bb8-4815-906c-e99eba408464](https://user-images.githubusercontent.com/21357951/33657540-9e6a6e4c-dab4-11e7-9d26-779f64291f9f.png)     just like this.  @danieldahan

[2017-12-06 12:10] aemgtz commented on #977
I can confirm that is a bug.

**Step to reproduce**
-  Press on the menu and swipe backward then the screen is stuck with dim background.

Material : 2.9.4

[2017-12-06 14:36] danieldahan commented on #977
@aemgtz Thank you. I am investigating the issue.

[2017-12-06 14:36] danieldahan commented on #992
@lhalcyon thank you!

[2017-12-07 06:36] aemgtz commented on #977
Here is my work around solution.
You have to subclass the NavigationDrawerController and override the receive touch delegate then add the condition to cancel  touch event for specific view type.

`
import UIKit
import Material

class AppNavigationDrawer: NavigationDrawerController {

    override func gestureRecognizer(_ gestureRecognizer: UIGestureRecognizer, shouldReceive touch: UITouch) -> Bool

[2017-12-07 10:27] jojonarte opened #993 "Weird Issue: FabMenuItem icon not centered"
I have setup the FabMenu like this:
[code]
![screen shot 2017-12-07 at 6 26 56 pm](https://user-images.githubusercontent.com/11880365/33710662-40c0bd82-db7c-11e7-928b-b70762d264b2.png)

[2017-12-07 14:38] danieldahan commented on #977
Can you try this commit and tell me if the issue has been fixed, 9d03ba4ebfebc1debe0f901098a9cbd3e881c453. Thank you!

[2017-12-07 15:23] aemgtz commented on #977
I tried with Material 2.12.19.
This issue doesn't occur anymore.
Thank you!

[2017-12-07 18:04] ayham-achami commented on #977
@danieldahan Thank you! it's work for me too.
tell me please when you will make a release with this fix?

[2017-12-07 18:15] danieldahan commented on #977
@ayham-achami nice, I will make a release now :)

[2017-12-07 18:15] #977 closed

[2017-12-07 18:21] danieldahan commented on #993
can you remove this: `self.fabEnterAddress.fabButton.imageView?.contentMode = .scaleAspectFill` ?

[2017-12-07 18:22] danieldahan commented on #977
Released in [Material 2.12.19](https://github.com/CosmicMind/Material/releases/tag/2.12.19). Thank you!

[2017-12-08 00:45] jojonarte commented on #993
I've removed it and it's still the same, I actually added that thinking it would fix it btw.

[2017-12-08 09:17] jojonarte commented on #993
I've fixed it, I've made a mistake.
Instead of
`self.fabEnterAddress.fabButton.title = "Enter Address"`
I replaced it with
`self.fabEnterAddress.title = "Enter Address"`

[2017-12-08 09:17] #993 closed

[2017-12-10 05:04] xthaohg opened #994 "Set Text for TextField"
Hi! I'm using google translate.

I have issues, I would like set text for Textfield. Your lib don't working.

[2017-12-11 06:50] shemchavez opened #995 "Navigation Left & Right Views position"
Why they have great amount of space?

Image attached below.

![screen shot 2017-12-11 at 2 48 38 pm](https://user-images.githubusercontent.com/19364885/33818918-945aa288-de82-11e7-9dc8-bea781d679eb.png)

[2017-12-11 17:08] AlaeddineOuerteni opened #996 "Can't have a ToolbarController and SearchBarController at the same time."

[2017-12-11 20:56] mobdim commented on #902
Add `$(SRCROOT)/Carthage/Build/iOS/Motion.framework` in "Input Files" section of "Run Script Phase" `/usr/local/bin/carthage copy-frameworks`

[2017-12-12 22:36] dakamojo commented on #990
I have the same build errors.  I am building the sample project CardTableView.  Below is my podfile.  I have already updated Graph to use the development branch because I understand that is needed for Swift 4.  The build settings in both my Pods project and my CardTableView project are set to Swift 4.

[code]

[2017-12-13 15:06] dakamojo opened #997 "Build issues using Material with Swift 4."
I just realized I can't reopen another person's issue.  So creating my own related to issue #900.

I have the same build errors.  I am building the sample project CardTableView.  Below is my podfile.  I have already updated Graph to use the development branch because I understand that is needed for Swift 4.  The build settings in both my Pods project and my CardTableView project are set to Swift 4

[2017-12-13 17:42] MattKiazyk commented on #959
@danieldahan I believe this is a bug. The workaround from @quanguyen works - where you set the titleLabel in viewDidLoad, and can then set it anytime after - but we shouldn't need to do this. IMO, we should be able to set the titleLabel at any point and it should update it.

Or perhaps another function we can call to layout again so it shows.

[2017-12-14 08:36] kjhatis commented on #827
I installed Successfully using this:

` # Pods for firstApp
  pod 'Material', '~> 2.0'
`

[2017-12-14 09:28] kjhatis opened #998 "Builed Failed in swift 4, Xcode 9.2 IOS 11.2"
Please check the attached snapshots:
![screen shot 2017-12-14 at 2 43 47 pm](https://user-images.githubusercontent.com/24405562/33984930-28a7cf8e-e0df-11e7-9f23-f61b7627adee.png)
![screen shot 2017-12-14 at 2 56 19 pm](https://user-images.githubusercontent.com/24405562/33984934-2b12b978-e0df-11e7-8d9a-89ca5dddb8f9.png)

[2017-12-14 15:46] samantharachelb commented on #998
Replacing `pod 'Material', '~> 2.0'` with `pod 'Material', '~> 2.2'`, and reinstalling your pods should fix the error

[2017-12-14 16:58] samantharachelb commented on #997
Hi, I'm assuming your issue is partially related to #998. You just need to make a change to your Podfile.

Change `pod 'Material', '~> 2.0'` to `'pod 'Material', '~> 2.2'`, reinstall your pods and your project should successfully build

[2017-12-14 20:16] dakamojo commented on #997
That resolved it.  Closing issue.

[2017-12-14 20:16] #997 closed

[2017-12-15 04:36] kjhatis commented on #998
Tried The solution above. It fixed many errors but now i am getting

![screen shot 2017-12-15 at 10 03 43 am](https://user-images.githubusercontent.com/24405562/34026939-87366c86-e17f-11e7-946e-44695405dae4.png)

[2017-12-15 17:01] samantharachelb commented on #998
The pod "MaterialMotion" is written by a different [author](https://github.com/material-motion/material-motion-swift), and doesn't support Swift 4. I suggest contacting those authors for help or find a different pod that does what you need.

[2017-12-16 18:32] appintima commented on #978
Hi, I still have issues, now with the FABMenuControlller. Again, I cannot change my appdelegate, and so instead, I have MyVC connected to the VC in my storyboard, and I have AppFABMenuController. How do I wrap MyVC with AppFABMenuController? I tried doing this in appdelegate, creating a function that wraps it, and then calling that function in the VC that segues into MyVC, but I keep running into

[2017-12-17 04:19] #994 closed

[2017-12-18 14:52] OrkhanAlikhanov commented on #893
Same here ...

[2017-12-19 10:50] quanguyen opened #999 "How to integrate AppDrawer and SnackBarController?"
Hi,

My app is an `AppDrawer`:

[code]

What should I do to use `SnackBar`? I have read examples in `Samples-master`, which only suggest to have `SnackBarController` separately. How to have it integrate with another `ViewController`, such as `AppDrawer` in my project?

Thanks,

[2017-12-20 09:13] phlippieb opened #1000 "Color: Document mapping from codes (e.g. a400) to names (e.g. accent1)"
Note: this is a duplicate of #987, which was closed without a satisfactory resolution.

It seems like material colors are usually named according to a code-based naming scheme (e.g. blue 500, orange a400). The material color library uses a different naming scheme (e.g. blue.base, orange.accent1). The alternative naming scheme is presumably chosen because blue.500 would be invalid syntax, and that'

[2017-12-20 12:42] alexfrankiv opened #1001 "Last CocoaPods version is too old"
Hello

Could you please **update the version** of your framework **for CocoaPods**? Cause the **last available is 1.2.2** and it contains some pretty bad bugs with false triggering actions and so on.

P.S. Really nice job, guys! Wonderful framework.

[2017-12-20 19:45] danieldahan commented on #853
Please give [Motion 1.3.0](https://github.com/CosmicMind/Motion/releases/tag/1.3.0) a try. If the issue persists, please reopen it. Thank you!

[2017-12-20 19:45] #853 closed

[2017-12-20 19:45] danieldahan commented on #893
Please give [Motion 1.3.0](https://github.com/CosmicMind/Motion/releases/tag/1.3.0) a try. If the issue persists, please reopen it. Thank you!

[2017-12-20 19:45] #893 closed

[2017-12-20 20:09] danieldahan commented on #1001
Please give [Material 2.13.0](https://github.com/CosmicMind/Material/releases/tag/2.13.0) a try. If the issue persists, please reopen it. Thank you!

[2017-12-20 20:09] #1001 closed

[2017-12-20 20:12] danieldahan commented on #998
@samantharachelb Yes, that is correct. I am closing this issue as an update to Swift 4 is what is needed. Thank you!

[2017-12-20 20:12] #998 closed

[2017-12-20 20:12] danieldahan commented on #996
Well you can, but how do you want to do this? The SearchBarController allows for you to add buttons around the search field.

[2017-12-20 20:13] danieldahan commented on #995
This is an iOS 11 issue. iOS 11 adds some spacing. This issue has been noted internally and will be potentially fixed in Material 3, if a work around has not been added before hand. I will leave this up as a reminder. Thank you!

[2017-12-21 09:33] AurelTyson commented on #976
I used to have the same problem (only on device, iPhone 7+), now it's gone since the version 2.13.0 👌

[2017-12-21 14:45] Dmurph24 commented on #999
+1

[2017-12-22 12:04] kjhatis opened #1002 "Cannot invoke initializer for type 'AppNavigationDrawerController' with an argument list of type '(rootViewController: AppToobarController, leftViewController: LeftViewController, rightViewController: RightViewController, tabsController: AppTabsController, toolbarController: AppToolbarController, menuController: AppFABMenuController)'"
Cannot invoke initializer for type 'AppNavigationDrawerController' with an argument list of type '(rootViewController: AppToobarController, leftViewController: LeftViewController, rightViewController: RightViewController, tabsController: AppTabsController, toolbarController: AppToolbarController, menuController: AppFABMenuController)'
![screen shot 2017-12-22 at 5 30 52 pm](https://user-images.git

[2017-12-22 14:13] danieldahan commented on #1002
You would want to do something like this:

[code]

You have already made the relationships in these lines:

[code]

If you need, please reopen this issue :)

[2017-12-22 14:13] #1002 closed

[2017-12-22 14:14] danieldahan commented on #1000
Hey! Great point and thank you for submitting this. In Material 3, this will be addressed.

[2017-12-22 14:18] danieldahan commented on #999
This is a great question. In Material 3, which releases next month, we address this issue more simply, with a better API. For now, you would need to wrap the controllers around each other, like so:

[code]

You can access the SnackbarController using the optional `snackbarController` property found in all UIViewControllers.

If you need any further help, please reopen this issue. Thank you!

[2017-12-22 14:18] #999 closed

[2017-12-24 12:16] sarojraut opened #1003 "Navigation Drawer doesnot toggle leftView Sometimes but only dim the view"
I found that the issue occur due to toggle of view through button and dragging action at the same time.

[2017-12-25 02:21] wstudios opened #1005 "How to add vertical space between cells?"
This is a great library but I can't seem to find a way to add a vertical space between each cell. Any help would be greatly appreciated.

[2017-12-25 19:01] adamdahan opened #1006 "Expand TextFieldDelegate support for UITextFieldDelegate callbacks"
It would be great if the TextFieldDelegate would expose a wrapper for the commonly used UITextFieldDelegate callback textFIeldShouldReturn.

Assigning this ticket to myself and submitting a PR to follow.

[2017-12-25 19:06] #1006 closed

[2017-12-26 04:58] kjhatis commented on #1002
**I want do something like this:** Please take a look once again
`
 window!.rootViewController = AppNavigationDrawerController(
            rootViewController: appToolbarController,
            leftViewController: leftViewController,
            rightViewController: rightViewController,
            tabsController: tabsController,
            toolbarController: toolbarController,
            menuCo

[2017-12-27 06:22] chaitanya-ramji commented on #1003
@sarojraut can you describe the steps to reproduce the issue?

[2017-12-27 06:26] chaitanya-ramji commented on #1005
If you mean collectionViewCells, there are two functions namely
[code]

Use them to manage spacing between cells in your collectionView

[2017-12-27 07:45] kjhatis commented on #1002
i am not able to combine any two controller, and if it is not possible with material have to look for any other framework.

[2017-12-27 10:51] teodorpenkov commented on #378
@danieldahan can you please explain the issue with the storyboards?

[2017-12-27 17:55] danieldahan commented on #378
@teodorpenkov Are you facing a similar issue?

[2017-12-27 17:57] danieldahan commented on #1002
@kjhatis I described how to do it above. The initializer you are using to setup the controller is invalid and does not exist. Please refer to my comment above or the [Samples](https://github.com/CosmicMind/Samples) repo. It is very easy to combine controllers. If you feel the need to use another framework, then please do so.

All the best :)

[2017-12-27 18:02] danieldahan commented on #1005
@wstudios please share your setup code. If you are using the `CollectionView` object from `Material`, there should be an `interimSpace` and `interimSpacePreset` property. Let me know, thank you!

[2017-12-27 18:03] teodorpenkov commented on #378
Hey @danieldahan , nope, I'm facing "Unbalanced calls to begin/end appearance transitions for ..." which I think is caused by Material and when I was searching through the issues of the library I found this thread and got me curious what is the problem that you described. I'm also using storyboards + swinject and I kind of like that way so I don't want to ditch storyboards...

[2017-12-27 18:03] danieldahan commented on #1003
@sarojraut what version of Material are you using? There was an issue before that is similar to this and it was fixed. Thank you!

[2017-12-27 18:05] danieldahan commented on #378
@teodorpenkov Can you confirm the issue happens in isolation? I would need to see your setup to further investigate.

[2017-12-27 18:07] teodorpenkov commented on #378
I will try to create a simple project with only Material to see if it happens and I will let you know. Can you please explain "freeze dry principal with Storyboards" or at least give me a link to find more info about it? Thanks.

[2017-12-27 18:07] danieldahan commented on #996
Hey, I haven't heard from you. If you are still facing this issue, please reopen it. Thank you!

[2017-12-27 18:07] #996 closed

[2017-12-27 18:16] danieldahan commented on #378
@teodorpenkov The simple version is that when you create instance variables attached to views, storyboards store their state for later use. This could cause issue when combining storyboards and programmatic view controllers. I don't use storyboards, so I am not the best to elaborate on them. If there is a specific issue, I investigate it and go from there.

[2017-12-27 18:18] sarojraut commented on #1003
Sorry, it is not solved the issue still exist in the latest version.

[2017-12-27 18:19] danieldahan commented on #1003
@sarojraut well I am not going to confirm it is an issue until I see your code setup and what is happening there. Please share a reproducible project that I can investigate. Thank you!

[2017-12-28 08:15] 666tos opened #1007 "Unbalanced appearance transition breaks SFSafariViewController"
iOS 11.2
SFSafariViewController gets broken and does not load content

Console output: Unbalanced calls to begin/end appearance transitions for <Material.NavigationController: 0x7f9328828200>.

Please see sample https://github.com/666tos/MaterialSafariBug

Also, this code in `Motion+UIViewController` is wrong
`get { return transitioningDelegate is Motion }`
since `transitioningDelegate` is set to

[2017-12-29 15:42] danieldahan commented on #1007
Thank you! I updated motion with your find, [Motion 1.3.1](https://github.com/CosmicMind/Motion/releases/tag/1.3.1). [Material 2.13.1](https://github.com/CosmicMind/Material/releases/tag/2.13.1) has the update as well. I will take a look at the sample project now.

[2017-12-29 16:21] danieldahan commented on #1007
I will need to look further into this. The issue only seems to happen in your sample project.

[2018-01-03 11:52] jojonarte opened #1009 "How to prevent FABMenu from closing unless a button is clicked?"
I couldn't find a way to keep the FABMenu open, everytime I tap on anywhere on the screen it just closes.

[2018-01-03 19:23] nitishrana28 opened #1010 "Feature request for Date picker"
Hi there,
This is a feature request. Since There should be a provision of custom date picker like this :
https://github.com/wdullaer/MaterialDateTimePicker

![screen shot 2018-01-04 at 12 51 53 am](https://user-images.githubusercontent.com/1484780/34535911-882bd7d8-f0e9-11e7-9e73-6c694ad0b332.png)

Looking forward !!

Regards,
Nitish

[2018-01-03 20:34] danieldahan commented on #560
https://github.com/CosmicMind/Material/issues/1010

[2018-01-03 20:34] danieldahan commented on #1010
Hey, this has been requested and is in progress for Material 3. Please follow this issue https://github.com/CosmicMind/Material/issues/560. Thank you!

[2018-01-03 20:34] #1010 closed

[2018-01-03 20:36] nitishrana28 commented on #1010
Great. Thanks

[2018-01-04 07:10] Maddy10 opened #1011 "Why is Motion folder not getting downloaded after installing pod 'Material', '~> 2.0'??"

[2018-01-04 08:21] Maddy10 commented on #1011
![screen shot 2018-01-04 at 2 04 09 pm](https://user-images.githubusercontent.com/25656422/34555170-793f169e-f158-11e7-8af9-77de7820a5cb.png)

[2018-01-04 09:33] #1011 closed

[2018-01-04 15:46] danieldahan commented on #1009
Can you try setting the `FABMenu.isEnabled` property to false when you do not want it to close? I may need to make some adjustments to make this easier. So please let me know how that works for you.

[2018-01-04 15:48] danieldahan commented on #1011
Did you figure this out?

[2018-01-05 04:52] Maddy10 commented on #1011
Yes.

[2018-01-05 09:09] swift1022 opened #1012 "Can we set visibility icon custom for password textfield to enable and disable the action??"

[2018-01-05 17:02] danieldahan commented on #1007
The unbalanced calls should now be gone in [Motion 1.3.2](https://github.com/CosmicMind/Motion/releases/tag/1.3.2). [Material 2.13.2](https://github.com/CosmicMind/Material/releases/tag/2.13.2) :)

[2018-01-05 17:02] #1007 closed

[2018-01-06 18:40] danieldahan commented on #1012
You can set if it is enabled by using the `TextField.isVisibilityIconButtonEnabled` property. As for changing the image, I will need to make that a feature request. I can include this behavior in Material 3. I will leave this up as a reminder. Thank you!

[2018-01-07 05:51] adamdahan opened #1013 "Go over all the issues I found and Triage them with Daniel"

[2018-01-07 05:53] adamdahan opened #1014 "Post the issues i've found"
Go through the issues collected and compare them against the existing issues. Post ones that are not already being worked on. / covered.

[2018-01-07 06:02] tanakorn-dev opened #1015 "Version 2.13.2 viewWillAppear(_ animated: Bool) not work"
When I updated this pod to version 2.13.2 this function not work
`
override func viewWillAppear(_ animated: Bool) {
        super.viewWillAppear(animated)
}
`

[2018-01-07 19:58] danieldahan commented on #1015
Yes, I am going to fix this today. Please follow this issue https://github.com/CosmicMind/Motion/issues/24. Thank you! Sorry for the inconvenience.

[2018-01-07 19:58] #1015 closed

[2018-01-07 21:10] #1014 closed

[2018-01-07 21:11] #1013 closed

[2018-01-07 23:08] danieldahan commented on #1015
Please find a correct fix for this in [Material 2.13.3](https://github.com/CosmicMind/Material/releases/tag/2.13.3) and [Motion 1.3.3](https://github.com/CosmicMind/Motion/releases/tag/1.3.3).

[2018-01-07 23:08] danieldahan commented on #1007
Please find a correct fix for this in [Material 2.13.3](https://github.com/CosmicMind/Material/releases/tag/2.13.3) and [Motion 1.3.3](https://github.com/CosmicMind/Motion/releases/tag/1.3.3).

[2018-01-09 11:59] ijameelkhan opened #1016 "wrong instance returned by fabMenuController"
In my app I have two FAB controllers both are used in total different vertical. But when I try to access fabMenuController it returns wrong instance from different vertical.

Issue comes from how the traversing work. I think it should start from current ViewController and try to find upward. From the code execution that I see  it jumps to app delegate root controller and then start to traverse dow

[2018-01-09 14:48] danieldahan commented on #1016
It actually goes up and then goes down. I think the issue is that it is only looking for `TransitionController` types. You can see this in the line below:

[code]

If I push a change to `development`, would you be able to try it? Or can you send me a sample project I can try?

Thank you!

[2018-01-09 14:49] ijameelkhan commented on #1016
yes I can try. Push to dev and I will let you know.
Project it self has grown too much to be shared.

[2018-01-09 14:54] danieldahan commented on #1016
Okay, give this commit a try: cf88010a46778f7fb98a29ebb6d63632cfc75f2b

[2018-01-09 15:00] danieldahan commented on #1016
Basically it was skipping over one of your contained view controllers and making it nil, forcing it to search top down. This was happening because it was only looking for `TransitionController` types, and your would have been a UIViewController with potentially a different subclass. I will make a release now for this :)

[2018-01-09 15:10] danieldahan commented on #1016
Here is a release for the update: [Material 2.13.4](https://github.com/CosmicMind/Material/releases/tag/2.13.4). Thank you for sharing :)

[2018-01-09 15:10] #1016 closed

[2018-01-09 15:11] ijameelkhan commented on #1016
thank you! Good job

[2018-01-10 16:06] swift1022 opened #1017 "Can we make the error detail for textfields dynamic ?"
When the user is typing email : If the email  is not in Regex format then it should the error ("invalid") automatically and when the email is again edited  in Regex format then the error must be removed automatically while editing. Is it possible to do using this library ??
 Just like as shown in  screenshots below for Email field :

![simulator screen shot - iphone 8 - 2018-01-10 at 21 48 20](htt

[2018-01-10 16:11] danieldahan commented on #1017
You can do this using the delegation methods associated with the TextField. There is not a validation check for the values added, at least not at the moment. It would be a good feature though, and has been noted prior. I will add a feature request tag to this and make a sample or build it into Material. Thank you!

[2018-01-10 16:12] danieldahan commented on #1009
Hey, I haven't heard from you. If you still have this issue, please reopen it. Thank you!

[2018-01-10 16:12] #1009 closed

[2018-01-10 16:34] multinerd opened #1018 "Issues pushing BottomNavigationController on a NavigationController"
https://i.stack.imgur.com/z8vfE.gif

Pushing BottomNavigationController on a NavigationController causes the backbutton to indent as seen in the image above.  (my global tint of `white` also gets reseted)

When replacing `BottomNavigationController` -> `UITabBarController` and `NavigationController` -> `UINavigationController`, the back arrow acts as intended (does NOT indent), which leads me to b

[2018-01-10 16:36] danieldahan commented on #1018
Can you share:

Material version,
iOS version,
Device

that you are using? Thank you!

[2018-01-10 16:49] multinerd commented on #1018
- Material/Core (2.13.2):
    - Motion (~> 1.3.0)

iOS: 11.1.2
Device: 7+

[2018-01-10 16:51] danieldahan commented on #1018
I will investigate this. Thank you for sharing. If you do not hear from me by Friday, please follow up.

[2018-01-10 17:02] multinerd commented on #1018
I've attempted to reproduce the bug in a simple application [found here](https://github.com/multinerd/materialbug) and noticed something interesting.

Using `NavigationController` as root makes the first back arrow indented (not sure why my code works right until i push to a tabbar, i will look into this as well)

[2018-01-10 17:03] danieldahan commented on #1018
Perfect! That is very helpful :) Thank you!

[2018-01-11 11:22] shanuka opened #1020 "How to use drawer item clicks (How use AppNavigationController and AppNavigationDrawerController in the same view)"
[code]
this code not working
[code]

[2018-01-12 16:39] danieldahan commented on #1020
You have quite a bit going on in the code. My first suggestion would be to take a look at this sample: [NavigationDrawerController](https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/NavigationDrawerController).

Aside from that, if you are using a `NavigationController`, you cannot gain access to it through the `toobarController` convenience property, you would need to use th

[2018-01-12 16:39] #1020 closed

[2018-01-14 23:30] andrewc94 opened #1022 "TabsController transition sets alpha of views to 1.0"
I'm using a control which has a set of invisible labels and set of visible labels. During my first transition to a view controller which contains this control, all the labels are visible when half should be invisible. I'm not sure what's causing this but using a UITabBarController does not have this problem.

- I'm using XCode 9.2, Material 2.13.4, Motion 1.3.3.
- Subsequent transitions don't set

[2018-01-15 18:42] danieldahan commented on #1022
Thank you for sharing this issue. I am going to investigate it tonight. In the meantime, if you have a sample project that reproduces the issue, that would be great.

[2018-01-15 22:39] andrewc94 commented on #1022
Here you go, switch between the tabs to see the issue.
[Test.zip](https://github.com/CosmicMind/Material/files/1633144/Test.zip)

[2018-01-15 22:43] danieldahan commented on #1022
Thank  you! @andrewc94

[2018-01-15 22:57] andrewc94 commented on #1022
Also not sure if this is helpful, but here's the stack trace where the label's alpha is set to 1 from 0 during the transition.

<img width="457" alt="screen shot 2018-01-15 at 2 54 53 pm" src="https://user-images.githubusercontent.com/8138866/34964819-49eb2d6a-fa04-11e7-8c84-19559e38a0b3.png">

[2018-01-16 03:17] #1003 closed

[2018-01-16 03:17] #1005 closed

[2018-01-17 15:44] multinerd commented on #1018
were you able to figure out a solution to this?

[2018-01-17 16:24] multinerd commented on #1018
i was browsing the other issues and realize this issue is the same as #650

[2018-01-17 17:20] danieldahan commented on #1018
@adamdahan Can you follow up on this please :) Thank you!

[2018-01-17 17:50] danieldahan commented on #1022
Hey sorry for any delays with this issue. @adamdahan let's both take a look at this one.

[2018-01-17 17:56] danieldahan commented on #743
I am closing this feature request as there is a PR for it now: https://github.com/CosmicMind/Material/pull/1019

[2018-01-17 17:56] #743 closed

[2018-01-17 18:03] adamdahan commented on #1022
@andrewc94 Stacktrace very useful thank you. Will look more into this tonight :)

[2018-01-18 05:46] adamdahan commented on #1022
@andrewc94 Thank you for the test project and stacktrace 👍

I have confirmed the issue in the latest version of Material and found the root cause of the issue with your help. I will confirm a fix with @danieldahan and make sure this is addressed in the next release.

Will keep this ticket open until it's fully resolved. 😄

[2018-01-18 05:56] andrewc94 commented on #1022
@adamdahan
Thank you so much!! Would it be possible to give a high level explanation of what was going on?

[2018-01-18 15:19] fabianbraach opened #1023 "Cursor wrong position when toggle visibility on password field"
We use a `TextField` for the password input on our login screen, but when you enter a password and toggle the visibility, the cursor doesn't get updated with the new length of the text input since the clear password may be longer or shorter than the bullet points.

![screen shot 2018-01-18 at 16 18 47](https://user-images.githubusercontent.com/5269541/35105219-577c7ee8-fc6b-11e7-9c30-702330cf3417.

[2018-01-18 15:46] danieldahan commented on #1023
Hmmm.... are you using another language? What version of Material are you using, device, and may you send over a reproducible project?

Thank you!

[2018-01-18 19:03] fredbombadil commented on #720
@danieldahan is the blog post regarding the application architecture approach still available? I'm getting a 404 from the link. Thank you!

[2018-01-18 21:16] joeljfischer commented on #974
I'm seeing this as well, I'd like to have a few vertically stacked controls in my content view, but it doesn't appear possible. I was attempting to get a custom view in there as well, but it wasn't working properly either.

[2018-01-19 16:10] danieldahan commented on #974
@joeljfischer Can you send over your code setup, sample project. That will help us. Thank you!

[2018-01-19 16:11] danieldahan commented on #974
@ToonvanStrijp @adamdahan Let's replicate this and make Material 3 solves this issue.

[2018-01-19 16:13] danieldahan commented on #720
@fredbombadil We are redoing the site and launching it very soon. So it has been taken down, sorry. That said, what setup are you trying to do, I can help you. Thank you! Let's chat on [Material Gitter](https://gitter.im/CosmicMind/Material).

[2018-01-19 19:18] joeljfischer commented on #974
My code is essentially the same as @ToonvanStrijp.

[code]

[2018-01-19 19:23] adamdahan commented on #1017
@danieldahan @Maddy10 Validation should live outside of the framework as there are too many types of fields and validations. Ideally you would have a protocol to enable such functionality.

`protocol TextFieldValidator {
     func validatateTextField()
 }

protocol EmailTextFieldValidator: TextFieldValidator {}
protocol PhoneTextFieldValidator: TextFieldValidator {}

Then you can conform to your p

[2018-01-19 19:24] joeljfischer commented on #974
I appear to no longer have the code for the second issue, using a custom view, but the issue was essentially the same. I just made a custom view, centered the label within it using `layout(label).center()` and passed it like the stack view above.

In the view debugger, the label was there, but the custom view / stack view has a zero height.

[2018-01-19 19:49] danieldahan commented on #1022
@adamdahan I fixed the alpha issue. We will make a push tonight.

[2018-01-19 19:52] danieldahan commented on #1022
@andrewc94 Thank you for sharing this issue, thank you @adamdahan for discovering the solution. The fix is in development and will be pushed later today.

[2018-01-19 19:52] #1022 closed

[2018-01-21 15:58] danieldahan commented on #974
Okay we will investigate this. Make sure that a height is being set for the `contentView` area, otherwise it may not know how to lay itself out.

[2018-01-21 15:58] danieldahan commented on #1023
Hi, we have not heard from you. Please reopen the issue if this persist. Thank you!

[2018-01-21 15:58] #1023 closed

[2018-01-21 16:00] danieldahan commented on #1017
I agree @adamdahan. Are you suggesting to leave this outside of Material for now?

[2018-01-21 20:30] joeljfischer commented on #974
Since it's auto layout, that should be set automatically, right? Like it
would be if it were just a label?
On Sun, Jan 21, 2018 at 10:58 AM Daniel Dahan <notifications@github.com>
wrote:

[2018-01-21 23:20] danieldahan commented on #974
Not necessarily. It would need to know to layout itself out so that the height may be obtained. To test this, can you try setting the stack view layoutIfNeeded prior to setting it? Like so:

[code]

If that works, I can make an update to Material that will fix your issue. Thank you!

[2018-01-22 15:36] joeljfischer commented on #974
That did not work for me 😞 , I had also tried that with the custom view and it didn't work there either.

[2018-01-22 15:46] danieldahan commented on #974
Then please send over your project for me to test :) And I am sure we will have a fix.

[2018-01-22 15:48] adamdahan commented on #560
@danieldahan @OrkhanAlikhanov Is it possible we start working on this feature? @OrkhanAlikhanov seems to want to take the lead on it. I am glad to contribute as well. We most likely will need to settle on design first.

[2018-01-22 16:01] danieldahan commented on #560
This would be incredible to work on. I am in.

[2018-01-22 18:40] joeljfischer commented on #974
@danieldahan I pushed up a quick project to show the issue: https://github.com/joeljfischer/MaterialBug974

Thanks for the support!

[2018-01-22 19:50] danieldahan commented on #974
@joeljfischer excellent, I will take a look. Thank you!

[2018-01-22 20:26] danieldahan commented on #974
@joeljfischer After looking at the sample project, there are a few issues:

1. Setting constraints in IB causes issues when you set use `view.layout`, which sets conflicting constraints. So delete the ones in IB.

2. The UIStackView has no concept of height, so you need to set the height to some value, or set the layout of the label to generate a height for the stack view.

3. Ge rid of the stack

[2018-01-22 20:26] #974 closed

[2018-01-23 12:45] Recouse opened #1024 "Set viewControllers in TabsController"
I want to set `viewControllers` in `TabsController`, not when initializing it. So, when I do it in `prepare` method, it runs 2 times.
How can I do this? I tried different ways but failed.

[2018-01-23 13:05] Recouse commented on #1024
Found a solution with convenience init:
[code]

[2018-01-23 13:05] #1024 closed

[2018-01-23 17:02] joeljfischer commented on #974
Thanks for the support again. When you do that tutorial, maybe some of my further findings can help.

1. This was just a mis-step in the example, removing them does not affect the issue at hand.
2. I'll come back to this
3. I've tested this and it has the same issues as before.
4. Sorry, I think I miscommunicated the issue. I wish to use multiple views (e.g. multiple labels, or a label and another

[2018-01-24 14:47] danieldahan commented on #974
@joeljfischer excellent insight. I appreciate the notes, and yes it will help in writing the tutorial. Thank you!

[2018-01-24 14:48] danieldahan commented on #1024
Excellent :) All the best!

[2018-01-24 14:53] ravigupta049 opened #1025 "Pan gesture not working for navigation drawer when used with Google Maps or Mapkit"
Hi,
I have been facing this issue in pan gesture of navigation drawer. So when i use it with any of the maps i.e Google maps or MapKit the pan gesture does not open the side menu. One thing i noticed is that Google map's settings has a property called "consumesGesturesInView" and when i set it to false the pan gesture opens the side menu but also drag the map.

So what i want is pan gesture should

[2018-01-25 02:24] adamdahan commented on #1025
Hi @ravigupta049,

I have encountered this issue before. The map will always win the gesture if the map's bounds is equal to the frame of the rootViewController.view If you want that kind of functionality you need to think of a custom solution. Here is a potential way to solve the problem:

1. Implement a custom overlay that sets isUserInteractionEnabled = false (above the map on the X most edge o

[2018-01-25 02:30] adamdahan commented on #1025
@ravigupta049 going to close this ticket for now :) feel free to message me directly on Gitter if you want to follow up.

My handle is @adamdahan

[2018-01-25 02:30] #1025 closed

[2018-01-25 11:39] ravigupta049 commented on #1025
@adamdahan Thank you for your time and providing with a alternate for this problem.
So i tried adding pan gesture on map so that is does not move but still no luck.

Once again thanx :)

[2018-01-25 16:32] danieldahan commented on #1025
@ravigupta049 May you share your implementation of @adamdahan's recommendation?

[2018-01-29 07:15] Maddy10 opened #1026 "Do we have placeholder animation for TextView ??"
How to make placeholder animation, leftViewMode, placeholderNormalColor, placeholderActiveColor, dividerNormalColor and dividerActiveColor like in textfields ??

[2018-01-29 19:20] ravigupta049 commented on #1025
Hi @danieldahan
So i haven't tried the Adam's solution yet but if i will try i will share it with you.

[2018-01-29 21:03] jeffmiralles opened #1027 "IBInspectible"
UIView for example, layer attributes not present in Attribute inspector, like offset color etc

[2018-01-30 16:39] danieldahan commented on #1026
Hey! It will be release in Material 3, which is launching shortly. Thank you!

[2018-01-30 16:39] #1026 closed

[2018-01-30 19:04] adamdahan commented on #1027
@jeffmiralles Are you referring to the default values?

[2018-01-30 20:02] johndpope opened #1028 "enhancement - global parameters around animation of pulse"
I want to override all animations across the following classes to use a specific animation rather than target each instance. Any ideas on how to achieve this?

this currently throws an error.
I'd like to set it to none. or play around with different styles.
TODO - showcase animations on readme.

[code]

[2018-01-30 20:05] johndpope commented on #1028
related error when trying to run above code.
![screen shot 2018-01-30 at 3 04 47 pm](https://user-images.githubusercontent.com/289994/35588531-ef71c962-05ce-11e8-8948-bd1c1832e88e.png)

[2018-01-30 20:16] johndpope commented on #1028
using subclass instead

class WWETableViewCell:TableViewCell{
    open override func prepare() {
        super.prepare()
        self.pulseAnimation = .none
    }
}

class WWECollectionViewCell:CollectionViewCell{
    open override func prepare() {
        super.prepare()
        self.pulseAnimation = .none
    }
}
class WWEButton:Button{
    open override func prepare() {
        super.prepare()

[2018-01-30 20:16] #1028 closed

[2018-01-31 02:25] DisignirJefferson commented on #1027
In the current version of Material, in Material+UIView.swift a lot of IBInspectable properties was gone, where in older versions it has them.

[2018-01-31 02:28] DisignirJefferson commented on #1027
[materialCurrentVersion.txt](https://github.com/CosmicMind/Material/files/1680170/materialCurrentVersion.txt)
[materialOldVersion.txt](https://github.com/CosmicMind/Material/files/1680173/materialOldVersion.txt)

[2018-01-31 22:21] volkangurol opened #1029 "statusbar color - navigationdrawer (left menu open)"
When i open left menu statusbar color is not apply on left menu. How can i set it?

<img width="161" alt="screen shot 2018-02-01 at 01 17 06" src="https://user-images.githubusercontent.com/2510054/35650608-bfb86954-06ed-11e8-9160-ccac3418fd39.png">
<img width="286" alt="screen shot 2018-02-01 at 01 17 16" src="https://user-images.githubusercontent.com/2510054/35650609-c0849ace-06ed-11e8-8e9d-4d740

[2018-02-03 09:43] Recouse commented on #841
Has this already fixed?

[2018-02-03 21:17] danieldahan commented on #1029
You can access the helper `statusBarController? optional property available in all UIViewControllers:

[code]

If you need any further help, please reopen this issue :)

[2018-02-03 21:17] #1029 closed

[2018-02-03 21:20] danieldahan commented on #1027
The properties were removed to avoid conflicts with other frameworks. If you want them back, create a local extension and copy and paste the code :)

All the best and if you have any further issues, please reopen it.

[2018-02-03 21:20] #1027 closed

[2018-02-03 21:25] DisignirJefferson commented on #1027
yep, that's what i did. thank you for the information.

On Sun, Feb 4, 2018 at 5:20 AM, Daniel Dahan <notifications@github.com>
wrote:

[2018-02-07 10:06] garrialmighty commented on #1023
I can still experience this.
Can be easily replicated by creating a new project and adding the library via CocoaPods

[TextFieldTest.zip](https://github.com/CosmicMind/Material/files/1702571/TextFieldTest.zip)

[2018-02-07 10:10] garrialmighty opened #1030 "Cursor wrong position when toggling isSecureTextEntry via visibilityIconButton"
Related to #1023
Can be easily replicated by creating a new project and adding the library via CocoaPods

[TextFieldTest.zip](https://github.com/CosmicMind/Material/files/1702586/TextFieldTest.zip)

[2018-02-07 14:16] Recouse commented on #560
Here is an implementation in swift https://github.com/weilsonwonder/WWCalendarTimeSelector

[2018-02-07 19:23] danieldahan commented on #841
Can someone test this, who has been facing the issue: 4433996f6f89bce19b11f917182d89f4877b5077, thank you!

[2018-02-07 19:52] danieldahan commented on #560
Thank you @Recouse :)

[2018-02-07 19:55] danieldahan commented on #1030
I will give this a try :) Thank you!

[2018-02-08 01:24] garrialmighty commented on #1030
Thank you sir.

I'll also try to dig through the source code on my end as our QA team insists it's really a bug. 😄

[2018-02-08 01:38] danieldahan commented on #1030
@garrialmighty It does look like a bug. Okay, I will work on this tomorrow and push a fix. Thank you!

[2018-02-08 01:41] garrialmighty commented on #1030
Thank you @danieldahan!

I'll continue my digging maybe I'll find something that will help you or make the fix easier.

[2018-02-08 02:34] garrialmighty commented on #1030
Just found out that this is also the default behaviour/bug for the native UITextField

[2018-02-08 03:17] Recouse commented on #841
It's better now.
<img width="559" alt="screen shot 2018-02-08 at 08 15 49" src="https://user-images.githubusercontent.com/7093328/35953844-5da5aa04-0ca8-11e8-9132-82cf48303c51.png">

[2018-02-08 03:37] garrialmighty commented on #1030
[PR] (https://github.com/CosmicMind/Material/pull/1031) created.

Kindly review. :)

[2018-02-08 07:18] fabianbraach commented on #1030
Thank you from my side, as we have the same issue but didn't had the time to create a new demo project at work as it was not so important to us. 🙂👍

[2018-02-08 14:41] danieldahan commented on #841
Cool, so unless there is further need to adjust the sizing, I am going to close this issue and the next release will include this fix. Thank you!

[2018-02-08 14:41] #841 closed

[2018-02-08 17:49] danieldahan commented on #1030
You will find a fix in [Material 2.13.6](https://github.com/CosmicMind/Material/releases/tag/2.13.6) for this issue. Thank you!

[2018-02-08 17:49] #1030 closed

[2018-02-09 05:56] intoxicated commented on #995
@danieldahan would you mind if I can fix this with work around and PR? it seems like its related to UIStackView with iOS 11 that they added up some constraint it internally.

[2018-02-09 16:40] delort commented on #739
I think I can help with this.

[2018-02-12 17:17] danieldahan commented on #739
@delort how so?

[2018-02-12 17:18] danieldahan commented on #995
@intoxicated I would appreciate your help very much. Let me know what I can do to help you fix this. Thank you!

[2018-02-12 21:17] intoxicated commented on #995
@danieldahan i'll set up project and play around with it for a couple day :) ill let you know

[2018-02-12 22:26] danieldahan commented on #995
@intoxicated excellent, thank you! From Friday to Tuesday I will not be around, so please, if you need me, ping me before or after that time.

[2018-02-17 16:53] L3K0V opened #1033 "Combining navigation drawer with back navigation"
I have a drawer where some items must push to navigation instead of replacing the main content and change the drawer to back navigation, so my question is possible to combine `NavigationDrawerController` with `NavigationController`.

I tried to chain the controllers but I get two toolbars

[code]

`AppToolbarController` extends `ToolbarController` as the example project using drawer

[2018-02-23 16:51] wess opened #1034 "Tabar items don't highlight when viewController is a NavigationController"
When putting NavigationController instances in the viewControllers array of a TabController, the icons in the tabbar stop highlighting

[2018-02-23 17:05] wess opened #1035 "BottomNavigationController not showing all bar items"
BottomNavigationController doesn't show all tabbaritems of child view controllers, unless selected index.

[2018-02-23 18:53] nCr78 opened #1036 "TabsController animation cancel"
Is there a way to cancel the animation when tapping to another tab while that animation is happening? If not, is there a way to change the animation's duration? The UI feels laggy when a user wants to switch tabs faster than the animation's duration.

[2018-02-25 09:33] intoxicated commented on #995
@danieldahan sorry I was quite busy last couple weeks! Now I'm investigating NavigationBar, NavigationItem part.

1. Am I on right track?
2. It seems like indentation for code base somewhat mixup with 4 and 2. And as far as I know, indentation 2 is preferable for swift.
3. Material.Toolbar seems like having inset (left/right).
<img width="1020" alt="screen shot 2018-02-25 at 6 30 20 pm" src="https

[2018-02-25 10:00] intoxicated commented on #995
Further investigation, I found Material.Toolbar was being layout with Grid class, which showed below properties.
<img width="490" alt="screen shot 2018-02-25 at 6 56 51 pm" src="https://user-images.githubusercontent.com/848531/36640219-db104676-1a5d-11e8-96db-59aa35f23db5.png">

So I suspect that Grid (layout system that Material use) somewhat set contentView (Material.Toolbar) to start at x: 49.

[2018-02-25 10:54] intoxicated commented on #995
Fixed on #1038 and I confirmed with running sample NavigationController. Any feedbacks would be appreciated!

[2018-02-26 15:25] moger777 opened #1039 "MaterialTextField crashes when used with storyboard"
I can't seem to embed a MaterialTextField in a storyboard since the init by NSCoder is not implemented:

[code]

[2018-02-26 15:34] danieldahan commented on #1039
What version of Material are you using. There isn't a `MaterialTextField`, only 1TextField`.

[2018-02-26 15:34] moger777 commented on #1039
Shit, this class is not part of this lib, sorry.

[2018-02-26 15:34] #1039 closed

[2018-02-26 15:35] danieldahan commented on #1039
No worries.

[2018-02-26 20:49] danieldahan commented on #1034
I will take a look, thank you.

[2018-02-27 15:41] lhalcyon opened #1040 "a issue about the Button click pulse animation!"
There is a problem about button pulse animation and button click event!
the button click sequence in Android
1.button clicked; 2. ripple wave(pulse animation) shows 3.when animation finish,click event responding.
while the button click sequence in Material lib
1.button clicked; 2.ripple wave shows and click event responding.
as a result ,we almost can'see  the pulse before a new view controller pu

[2018-02-27 22:22] danieldahan commented on #1036
I will take a look, thank you!

[2018-03-01 14:39] ogezue opened #1042 "Sample Card not compiling"
You current sample card project doesn't compile with the current version of Xcode and needs to be migrated

[2018-03-02 00:13] mjurenka opened #1043 "ShouldOpen and ShouldClose delegate methods FABMenu"
Hello,

thanks for an awesome library for creating material apps!

I would like to add following methods to the FABMenuDelegate:

[code]

The reason is simple: have some way to prevent opening/closing of the FAB menu when desirable.
I can provide PR.

Thanks!
Martin

[2018-03-02 08:39] fabianbraach opened #1044 "TabsController - Update titles of tabs looks wrong"
When updating the title of the tabs in a `TabsController`, it looks weird as seen on the screenshot below. We also created an example project for you to check it out.
Calling `tabBar.setNeedsLayout()` directly after the title change, it works on iPhone SE, but not on iPhone 8.

![simulator screen shot - iphone 8 - 2018-03-02 at 09 26 44](https://user-images.githubusercontent.com/5269541/36890220-6

[2018-03-05 19:36] danieldahan commented on #1044
That is because the tabs are being shrunk down. Have you tried the tabs with the scrolling option which should avoid such an issue?

[2018-03-05 19:37] danieldahan commented on #1043
Yes please, I would be more than happy to add such an addition based on your PR :) Thank you!

[2018-03-05 19:41] danieldahan commented on #1042
Thank you for sharing this issue. I have fixed it and all should work fine now. Please pull the latest. All the best!

[2018-03-05 19:41] #1042 closed

[2018-03-05 19:42] danieldahan commented on #1040
I will take a look into this, do you have a sample project that demonstrates the issue you re facing? Thank you!

[2018-03-05 19:43] danieldahan commented on #1035
Hi, sorry for the lates response. Do you have a sample project that will help reproduce the issue? Thank you!

[2018-03-07 08:26] fabianbraach commented on #1044
We also enabled scrolling behaviour by default, instead of automatic, but then the tab bar is not the full width, if the tab titles are not long enough..

[2018-03-08 16:52] danieldahan commented on #1044
I'll take a look at your sample project. Thank you!

[2018-03-08 17:30] danieldahan commented on #1044
Give this a try, [Material 2.13.7](https://github.com/CosmicMind/Material/releases/tag/2.13.7). I updated your code as follows:

***swift
import UIKit
import Material
import Motion

class ViewController: UIViewController {

    override func viewDidLoad() {
        super.viewDidLoad()

        let viewControllers = [
            makeViewController(backgroundColor: .red),
            makeViewContro

[2018-03-08 17:30] #1044 closed

[2018-03-08 21:43] mjurenka opened #1045 "Transparent toolbar"
Hello,

first of all, this is great lib, makes material development so much easier.
I'm using ToolbarController inside NavigationDrawer and I'm trying to make the entire toolbar transparent so I can see the image stretched underneath, but I cannot get the toolbar to become fully transparent. Either it will have white background or when I change bg color of view of the ToolbarController to clear (a

[2018-03-09 07:21] fabianbraach commented on #1044
Thank you, we will try it out today!

[2018-03-09 08:43] fabianbraach commented on #1044
We tried it out, with your example, `abcdef (10) really long` as title, it works as expected. But with our shorter title, `abcdef (10)`, it still doesn't work. We think it is a problem with the `tabItemsTotalWidth` calculation in `TabBar.swift` line 359, because it calculated 352 as totalWidth, but scrollView width is 375 (on iPhone 8) and the first item title is truncated in the middle.

[2018-03-11 19:44] danieldahan commented on #1044
Hmmm... I will try your sample again.

[2018-03-11 22:34] danieldahan commented on #1045
Have you tried:

[code]

You can access the toolbar from any view controller by using the optional helper:

[code]

Give that a try, and if you need, please reopen this issue and I will continue to help. Thank you!

[2018-03-11 22:34] #1045 closed

[2018-03-11 22:44] danieldahan commented on #1033
Sorry this response took a while. You are getting two toolbars because you are using the `ToolbarController` and `NavigationController`. You only need one. If you use the `NavigationController` it will manage a `back button` for you, otherwise, you will need to do it manually with a `ToolbarController`.

If you need any further help, please reopen this issue. Thank you!

[2018-03-11 22:44] #1033 closed

[2018-03-12 16:26] intoxicated commented on #1040
@danieldahan i'll follow up the issue and will push PR soon

[2018-03-12 16:27] intoxicated commented on #1040
I didn't look at the code yet but most likely a solution would be do push view in animation completion block

[2018-03-12 16:29] intoxicated commented on #956
Anyone follow up this issue? I may look into layout system to figure out what cause the problem

[2018-03-13 20:13] danieldahan commented on #1044
I am not sure exactly why, but the issue is your `()` characters.

[2018-03-13 20:18] danieldahan commented on #956
Is this the difference `CGRect(x: 0, y: 0, width: 50, height: 50)`?

[2018-03-13 20:21] danieldahan commented on #1040
I am closing this issue, if you send a sample project or code block that demonstrates the issue, please reopen this. Thank you!

[2018-03-13 20:21] #1040 closed

[2018-03-14 08:27] intoxicated commented on #970
@danieldahan this should be with with #1038

[2018-03-14 08:30] intoxicated commented on #956
Technically CGRect.zero and CGRect(x:0, y:0, width: 50, height:50) is not same since latter one assigned width and height. But if

[code]
works properly, there shouldn't be any difference.

[2018-03-14 10:13] danieldahan commented on #956
Okay, so nothing in Material has changed, only a direct change in the activity indicator setup. As well, NVActivityIndicator is in another library, so the investigation should start there in that library. Has it been confirmed that the indicator from that library is correctly handling iOS 11 changes?

[2018-03-14 10:16] danieldahan commented on #970
Correct, we can close this. Thank you @intoxicated

[2018-03-14 10:16] #970 closed

[2018-03-15 05:42] danieldahan commented on #956
Please reopen this issue if you still face troubles with it. Thank you!

[2018-03-15 05:42] #956 closed

[2018-03-15 08:46] phlippieb commented on #1000
#1047

[2018-03-15 18:34] Tylerian opened #1048 "isShadowPathAutosizing is doing the opposite"
So I was navigating trough CALayer's extension code and I saw that piece of code:

[Material+CALayer.swift#L279](https://github.com/CosmicMind/Material/blob/6cb791998af3962c1a0c2dc18f16f09f6227942b/Sources/iOS/Material%2BCALayer.swift#L279)
[code]

Isn't _isShadowPathAutosizing_ used to delegate the shadows drawing to UIKit?
If yes, then the guard is preventing it to happen.

[2018-03-15 19:33] danieldahan commented on #1044
Weird... this is something in the String system I would think. Very interesting.

[2018-03-15 19:35] danieldahan commented on #1048
What it is saying is to leave the shadow handling to the framework... otherwise it is completely managed by the developer. What are you trying to do?

[2018-03-15 19:43] #1000 closed

[2018-03-16 04:27] robmontesinos opened #1049 "TextView does not have shadow or raised effect"
Hi there,
I'm trying to implement a TextView beneath a TextField and they don't match in look.

I inserted the border for testing only - can you help me out with what I am doing wrong?

Thank you

<img width="364" alt="screen shot 2018-03-15 at 9 23 02 pm" src="https://user-images.githubusercontent.com/258556/37503736-4b3aac1a-2897-11e8-9c10-761711128e9a.png">

`

    fileprivate func createMessag

[2018-03-16 13:27] danieldahan commented on #1049
Try setting the `depth` or `depthPreset` property off the TextView.

[code]

As an example. Let me know if this helps, as well, let's move this conversation to https://gitter.im/CosmicMind/Material. Thank you!

[2018-03-16 13:27] #1049 closed

[2018-03-16 13:43] Recouse opened #1050 "Can't access TransitionController"
`TransitionController` is internal to the framework, so it can't be subclassed.

[2018-03-16 17:12] robmontesinos commented on #1049
Thank you @danieldahan but it is still not working. The above code has

[code]

I also tried

`textView.depth = Depth(preset: .depth3)`

Still not working.

[2018-03-16 17:16] danieldahan commented on #1049
Okay, go to the Gitter channel and we can discuss more.

[2018-03-16 17:17] robmontesinos commented on #1049
Thank you @danieldahan

[2018-03-16 19:16] robmontesinos commented on #1049
So @danieldahan helped me out on https://gitter.im/CosmicMind/Material really quickly.

Daniel Dahan @danieldahan 11:11

A little setup: I subclassed a UIView to be used as contentView for Material Card and then used a UIView extension for constraints: methods "anchor" and "fillSuperview" -
The following worked:

[code]

[2018-03-21 16:58] edwinps opened #1051 "Pageview inside TabsController"
I have a UIpageview inside of one tab of TabsController, but the pageview take al the control of the swipe gesture, and there are no way to get out from the pageview withe swipe. In the component before of tabscontroller I didn't have that problem, the example is like this:
![screenshot](https://user-images.githubusercontent.com/1847837/37724452-1d8dba48-2d31-11e8-994e-ac95b61ee16d.png)
The idea i

[2018-03-21 17:00] danieldahan commented on #1051
I understand the issue. How would you like the swipe to work for your project?

[2018-03-21 17:05] edwinps commented on #1051
I would need to swipe to the tab on the left on in this case the first tab

[2018-03-21 17:06] danieldahan commented on #1051
You can enable and disable it. You can enable it when it is not on the first tab with `isSwipeEnabled` and disable it when on the first tab.

[2018-03-21 17:09] danieldahan commented on #1051
If you need any further help, let's chat on [Material Gitter](http://gitter.im/CosmicMind/Material).

[2018-03-21 17:09] #1051 closed

[2018-04-03 12:41] cody1024d opened #1053 "TextField Detail Label not Layed-Out correctly with Left-Image"
So, I ended up tracking down this issue after my app is not displaying the entirety of the detail label when there is a left image.  Specifically, I believe there is an issue in the following code:

[code]

The issue is the following line, specifically:

[code]

We're taking the bounds of the entirety of the textfield (which includes the left image's width) and using that to compute the height of

[2018-04-03 13:13] danieldahan commented on #1053
Hey! Thank you for finding this issue. I'll look into this today and make a release.

[2018-04-04 13:46] danieldahan commented on #1053
I haven't finished my investigation on this. Will update you shortly. Thank you!

[2018-04-08 20:10] willianpinho commented on #818
Someone finish this issue?

[2018-04-14 00:52] EpicNav opened #1054 "@IBAction"
How do we link the button to perform IBAction

[2018-04-14 20:52] danieldahan commented on #1054
All Material buttons are subclasses of UIButton. So you can do it like you would in general. All the best!

[2018-04-14 20:52] #1054 closed

[2018-04-16 19:11] multinerd commented on #1018
any updates?

[2018-04-17 14:35] danieldahan commented on #1018
Sorry for the delay. I have been working on another task. I will make an effort to look this through within the next couple days. Thank you!

[2018-04-17 15:06] angelix opened #1056 "Delegation methods never fired on Tab swipe"
If you are using tab swipe (#1019) and tab delegate, when a user swipes to a new tab, delegate methods are never fired.

[2018-04-20 10:26] nCr78 opened #1057 "TabBar set image for specific states (normal/selected etc)"
Correct me if I'm wrong but the only way to set an image per tab is by adding it to the TabItem's image variable which has a didSet observer to set the image for all possible UIControl states..
I tried setting different images (fill/no fill) per corresponding UIControl state and it's being overridden somehow. Is it possible to change this behaviour? If not, could this functionality be added in a f

[2018-04-20 13:54] danieldahan commented on #1057
Hey! I am working on a release for Sunday with the latest that has been in development. I'll make sure that the functionality you are looking for exists in that release. Update you shortly.

[2018-04-26 09:01] gowthamand opened #1058 "how to add content tabBar inside"
Please help me how add content with tab give a sample

[2018-04-26 11:04] gowthamand commented on #1058
`func makeViewController(backgroundColor: UIColor) -> UIViewController {
        let vc = UIViewController()
        vc.view.backgroundColor = backgroundColor
        vc.tabItem.title = "abcdef"

        return vc
    }`

[2018-04-26 11:04] gowthamand commented on #1058
`func makeViewController(backgroundColor: UIColor) -> UIViewController {
        let vc = UIViewController()
        vc.view.backgroundColor = backgroundColor
        vc.tabItem.title = "abcdef"

        return vc
    }`

[2018-04-26 13:04] danieldahan commented on #1058
Hey! Take a look at these two samples [TabsController](https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/TabsController) and [TabBar](https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/TabBar). If you still have any questions, please use [Material Gitter](https://gitter.im/CosmicMind/Material) and I will help you out.

[2018-04-26 13:04] #1058 closed

[2018-04-26 13:33] danieldahan commented on #1057
@nCr78 I am updating Xcode and doing a final test. Material 2.15 will be released today with your feature request. Thank you.

[2018-04-27 20:06] danieldahan commented on #1057
Hey! Give [Material 2.15.0](https://github.com/CosmicMind/Material/releases/tag/2.15.0), and try:

[code]

All the best!

[2018-04-27 20:06] #1057 closed

[2018-04-28 08:26] gowthamand opened #1059 "cell.detailTextLabel?.text = "\(detArray[indexPath.row])" Not Working"
@`
func tableView(_ tableView: UITableView, cellForRowAt indexPath: IndexPath) -> UITableViewCell {

        let cell = tableView.dequeueReusableCell(withIdentifier: "MyCell", for: indexPath as IndexPath)
        cell.textLabel?.text = "\(myArray[indexPath.row])"
        let image : UIImage = UIImage(named: "\(imgArray[indexPath.row])")!
        cell.imageView?.image = image
        cell.detailTex

[2018-04-30 08:03] WildDylan opened #1060 "hide navbar"
hide navbar and push pop to a vc with navbar smooth

[2018-04-30 08:31] WildDylan opened #1061 "how to change icon color"
how to change icon color

[2018-04-30 08:32] WildDylan commented on #1061
how to add rules to input field, where can i find a complete document

[2018-04-30 08:35] WildDylan commented on #1061
let leftView = UIImageView()
        leftView.image = Icon.phone?.withRenderingMode(.alwaysTemplate)
        leftView.tintColor = UIColor.white
        phoneField.leftView = leftView

[2018-04-30 08:41] WildDylan commented on #1061
and another question, how to change field underline height -.-

[2018-04-30 09:26] WildDylan opened #1062 "layout document"
where can i find a layout document ?

[2018-04-30 09:38] thomascsorbamedia commented on #1056
Hi, any update on this?

[2018-04-30 13:19] gowthamand opened #1063 "How Can Do Like This Please Help me"
[https://i.stack.imgur.com/lSWXt.jpg](https://i.stack.imgur.com/lSWXt.jpg)

`import UIKit
import Material
import Graph
import Motion
import SwiftyJSON
import Alamofire

class HealthPackagesViewController: UIViewController {

    fileprivate var buttons = [TabItem]()
    fileprivate var tabBar: TabBar!

    override func viewDidLoad() {
        super.viewDidLoad()
        view.backgroundColor = .wh

[2018-04-30 13:19] #1063 closed, assigned to nobody

[2018-04-30 13:22] gowthamand opened #1064 "How to achieve like this please help me"
[https://i.stack.imgur.com/lSWXt.jpg](https://i.stack.imgur.com/lSWXt.jpg)

<img src="https://i.stack.imgur.com/lSWXt.jpg]" alt="sample" />

`import UIKit
import Material
import Graph
import Motion
import SwiftyJSON
import Alamofire

class HealthPackagesViewController: UIViewController {

    fileprivate var buttons = [TabItem]()
    fileprivate var tabBar: TabBar!

    override func viewDidLoad()

[2018-05-02 14:53] danieldahan commented on #1064
Please send this question to [Material Gitter](https://gitter.im/CosmicMind/Material). Thank you!

[2018-05-02 14:53] #1064 closed

[2018-05-02 14:54] danieldahan commented on #1056
Hey! I will push a release by tonight for this. Thank you!

[2018-05-03 04:03] danieldahan commented on #1056
Hey! I have a bit more to do with the release, so tomorrow during the day I will push it. Thank you!

[2018-05-03 12:54] embassem opened #1065 "Ambiguous use of"
Conflict with other Libraries like SwifterSwift  for Some Extension

suggested solution
- separate the extensions in a pod  subspec
-  access the extension in a separator property  like SnapKit
`button.material.borderColor = .red`

[2018-05-03 18:31] danieldahan commented on #1065
Hey! I appreciate you sending this over, but I removed all the extensions already in the recent versions of Material.

[2018-05-03 18:31] #1065 closed

[2018-05-04 02:25] tanakorn-dev opened #1066 "TabBarItem Not Show"
Hi, I am code from your sample project but I have problem.
<img width="412" alt="screen shot 2018-05-04 at 09 22 50" src="https://user-images.githubusercontent.com/27723511/39610796-fcc1e3ac-4f7c-11e8-8184-d1b2c88b3e50.png">
<img width="603" alt="screen shot 2018-05-04 at 09 23 07" src="https://user-images.githubusercontent.com/27723511/39610797-fd120940-4f7c-11e8-89c8-404851b4ccc9.png">

Please h

[2018-05-04 16:03] danieldahan commented on #1066
Hey! May I see your AppDelegate that sets up the TabsController?

[2018-05-04 16:04] dsanchezarroyo opened #1067 "Textview frozen"
Hi,

I have a problem when the TextView is focused.

If textview is focused when I click on button "Guardar", the button is frozen for some seconds, but if textview is not focused, when i click on button "Guardar", this button doesn't froze.

You can notice what i'm trying to explain in the next video. You can see the word "Guardar" change from white to gray for few seconds.

Video with the error:

[2018-05-04 16:06] danieldahan commented on #1067
Hey! Very interesting. Would you be able to send over that project to support@cosmicmind.com, or a version of it that I can test and see what's up. I want to make a release today, and possibly I can get a fix in or suggest something for you.

[2018-05-04 16:10] tanakorn-dev commented on #1066
@danieldahan This is my AppDelegate.

<img width="537" alt="screen shot 2018-05-04 at 23 08 08" src="https://user-images.githubusercontent.com/27723511/39638428-5950f5e0-4ff0-11e8-9ec8-bb759bd1874f.png">
<img width="811" alt="screen shot 2018-05-04 at 23 08 57" src="https://user-images.githubusercontent.com/27723511/39638429-598cf9a0-4ff0-11e8-9a99-0a76084c9d75.png">

[2018-05-04 16:14] danieldahan commented on #1066
Okay, so the first view in the hierarchy that will be looked for using the TabsController is actually the `UINavigationController`. The line:

[code]

So put the `TabItem` code in there, by subclassing the `UINavigationController`.

That's it. In the future, I will make a feature that sniffs lower in the hierarchy, but for now, it uses only the first controller it detects.

If you have any further

[2018-05-04 16:14] #1066 closed

[2018-05-09 10:15] goribchat opened #1068 "What should i write to install podfile in swift 4?"
i am writing pod 'Material', '~> 2.4.0' in the podfile , but it is showing error. someone please tell me what to write to install podfile

[2018-05-09 13:04] danieldahan commented on #1068
You should update to [Material 2.15.0](https://github.com/CosmicMind/Material/releases/tag/2.15.0). Let me know if you have any further issues. Thank you!

[2018-05-09 13:04] #1068 closed

[2018-05-10 04:29] goribchat commented on #1068
okay sir. Thanks you.. i am checking with the updated one, and informing you.

[2018-05-10 15:33] gowthamand commented on #1059
`cell.detailTextLabel?.text = "\(detArray[indexPath.row])"
`

and Check Your search sample app

[2018-05-11 07:56] goribchat commented on #1068
Not get enough information from this link "Material 2.15.0",that's why I am importing the "ErrorTextField.swift","TextField.swift","TextStorage.swift","TextView.swift" into my project and change the class of UITextfield to TextField, but when i am running my project it is showing Command failed due to signal: Segmentation fault: 11. can you please help me regarding this matter. i am very willing t

[2018-05-11 13:25] danieldahan commented on #1068
I believe in your Pod settings, the project that is in Xcode, you would need to set it there. Give that a try. Let me know, we can solve this today.

[2018-05-12 05:02] haithngn opened #1069 "Jetbrain Appcode cannot show autocomplete for Material's methods/properties"
Hi,
I'm using Material via Carthage, also using Xcode and Appcode together.
On Apple Xcode Material's methods/properties are displayed on autocomplete popup but on Appcode it does not show.

Does it relate to the way we define the Material's header ?
Could you please investigate that ?

[2018-05-12 14:44] danieldahan commented on #1069
Hey! I would love to help, but I don't support 3rd party IDEs and or products I don't use on the regular. I would be open to making adjustments if there is a direct issue with how my headers are written, but from what I know, I haven't done anything out of the norm. Please feel free to connect on possible solutions you may find. Thank you!

[2018-05-12 14:44] #1069 closed

[2018-05-13 06:37] haithngn commented on #1069
@danieldahan , my source code quite heavy, could I have your email or something like that ?

[2018-05-13 11:52] thatmarcel commented on #806
Hi, I'm using version 2.15 and my TabBar is still covered by the navigation bar. What can I do?

[2018-05-14 04:27] goribchat commented on #1068
Okay sir i am trying

[2018-05-14 07:11] fabianbraach opened #1070 "TabsController stops animating"
Hey there,

I just found a bug, after some time of usage, the animation of the tabs switching in a `TabsController` stops working. I debugged it a little bit, and it seems that `animatingFromViews` and `animatingToViews` are both empty after `prepareAnimatingViews()` in `MotionTransition+Start.swift:199`. I couldn't get deeper into it, but I hope you may have an idea why this occurs. It's not for

[2018-05-14 16:26] danieldahan commented on #1069
please use : support@cosmicmind.com

[2018-05-14 16:26] danieldahan commented on #806
@thatmarcel Please send me a reproducible project to support@cosmicmind.com and I will be happy to help. Thank you!

[2018-05-15 01:51] kurry421 opened #1071 "How do you hide a button?"
Hi wondering how I can go about hiding a button?

[2018-05-15 01:54] #1071 closed

[2018-05-15 08:33] daveleenew opened #1072 "FABMenuController does't work on ios 8.0"
FABMenuController does't work on ios 8.0.

[2018-05-17 12:44] danieldahan commented on #1072
What exactly is not working? I am downloading a simulator for it now.

[2018-05-17 15:44] AlexanderBollbach opened #1073 "myriad problems running the example projects"
e.g. I cannot launch the "Search" example, fails to compile with `Cannot convert value of type '[FileAttributeKey : Any]?' to expected argument type '[String : Any]?'`

[2018-05-18 05:33] daveleenew commented on #1072
I run the demo on IOS 8 simulator.but crash~~~

[2018-05-18 05:34] daveleenew commented on #1072
@danieldahan  I like this library so much..Thank you

[2018-05-18 14:53] phlippieb opened #1074 "Need to use a NavigationBar subclass with NavigationController"
Hi!

As part of our app, we have UI elements [similar to this](https://github.com/hyperoslo/Whisper). They are added as subviews of the navigation bar, but they display outside its bounds. These views must be tappable.

My solution was to subclass NavigationBar and override `hitTest(:with)`. However, in order to use my subclass of NavigationBar, I had to fork Material and add a new designated init

[2018-05-19 13:09] hardikamal commented on #604
@danieldahan Any updates?

[2018-05-21 03:31] daveleenew opened #1075 "How to use CardImage with TableviewController?"
How to use CardImage with TableviewController?

thanks

[2018-05-22 03:09] shemchavez opened #1076 "Clicking FabMenuItem UILabel (title)"
Is it possible to get the same action when clicking the FabButton in FabMenuItem in clicking UILabel in FabMenuItem also? Even I add a UITapGestureRecognizer in UILabel it still won't work cause you handle clicking by checking clicked point really inside a subview of FabMenu. Frame of FabMenuItem does not scale including the frame of UILabel.

![screen shot 2018-05-22 at 10 46 38 am](https://user-

[2018-05-23 04:58] yasirmturk opened #1077 "ChipBarDelegate not implemented"
this function is never called, because there is no implementation in the code
`func chipBar(chipBar: ChipBar, didSelect chipItem: ChipItem)` of `ChipBarDelegate`

[2018-05-24 08:41] shemchavez commented on #1076
Up

[2018-05-24 17:00] danieldahan commented on #1073
I will take a look. Thank you! I haven't updated all the samples and will do that.

[2018-05-24 17:01] danieldahan commented on #1074
Yes I would be. Please send it over and in general, I am interested in all PRs. Thank you!

[2018-05-24 17:01] danieldahan commented on #1074
Please link your PR to this issue and I will get it in for you.

[2018-05-24 17:02] danieldahan commented on #604
Hey! I haven't had a chance to work on this yet. I am wrapping up the new education centre, and once that is out, components will be flying out the door. Please share a starter project for this, or wait a bit longer and it will be in your hands. Thank you!

[2018-05-24 17:06] danieldahan commented on #1075
Have you looked at the [CardTableView](https://github.com/CosmicMind/Samples/tree/master/Projects/Programmatic/CardTableView) sample project? That should get you going and if needed, please reopen the issue. Thank you!

[2018-05-24 17:06] #1075 closed

[2018-05-24 17:07] danieldahan commented on #1076
The handler is actually set to the button. The UILabel is not a button, but a label. That said, you could alter the entire FABMenuItem and customize it. Let's move this to the [Material channel](https://gitter.im/CosmicMind/Material) and discuss further :) Thank you!

[2018-05-24 17:07] #1076 closed

[2018-05-24 17:09] danieldahan commented on #1077
Hey! It was a n unfinished component that was in an alpha release. It is marked for completion in the next round of component releases. At the moment, the education centre I have been working is near complete and will release with updates to all the frameworks, including this. Sorry for the inconvenience and thank you!

[2018-05-24 17:09] #1077 closed

[2018-05-24 23:45] Gerst20051 opened #1078 "Update Motion Dependency"
Need to update Motion Dependency to resolve issues. Version `1.4.0` will fix them. Issue referenced below.

https://github.com/CosmicMind/Motion/issues/34

[2018-05-25 00:38] shemchavez commented on #1076
Will join then.

[2018-05-25 08:18] phlippieb commented on #1074
Great! I created pull request #1079 for this.

[2018-05-28 19:19] danieldahan commented on #1074
@phlippieb Awesome, I will merge this in tonight or tomorrow. Thank you! Closing this for now.

[2018-05-28 19:19] #1074 closed

[2018-05-29 09:23] BaryJBW opened #1081 "TabsController transition overrides navigation motion transition"
When TabsController is contained inside a navigation controller last TabsController transition overrides motionNavigationTransition. After that navigation does not react to it's motionTransitionType.

[2018-06-01 18:47] OrkhanAlikhanov commented on #1017
Made PR for this #1082

[2018-06-01 22:07] autumnssun commented on #1056
@angelix I ran into the same problem.
Here is a quick fix.
https://github.com/autumnssun/Material/commit/955cec565892d7b3b14c7dc84cfccf3b31c4ca1a

[2018-06-02 15:22] danieldahan commented on #1056
I am reviewing this now and confirming a releasable fix. Sorry for the delays. Thank you!

[2018-06-02 18:45] OrkhanAlikhanov commented on #1050
Hey, I can confirm that it's not internal and never been. So it can be subclassed.
https://github.com/CosmicMind/Material/blob/dd741ff01a13be2bb45d47b256290be42511f361/Sources/iOS/TransitionController.swift#L34

Actually it can never be internal because other open classes like `TabsController` inherits from it and you cannot give higher access level in subclasses to the types that have lower acces

[2018-06-02 18:51] OrkhanAlikhanov commented on #1053
Hey @danieldahan, this is the issue we discussed recently. It should've been solved in #1082

[2018-06-02 18:58] OrkhanAlikhanov commented on #995
@danieldahan Can we close this? Because #1038 is merged and is said to solve this issue.

It would be better to get feedback from @shemchavez though.

[2018-06-02 19:01] OrkhanAlikhanov commented on #668
@danieldahan Noone seems to have the same feature request that I had last year. But I can implement this or we can just close the issue. What do you say?

[2018-06-03 02:27] shemchavez commented on #995
Hey, would check this tomorrow. Thanks by the way for fixing it.

[2018-06-04 19:16] OrkhanAlikhanov opened #1085 "`convenience init()` across the framework prevents generic initialization of the components"
All of the following convenience initializers that are defined for `UIView` subclasses are redundant.
[code]

With or without it, we can create object of `UIView` and its subclasses. Adding it actually causes a problem for their use in generic initialization
For example `TextField()`.

![image](https://user-images.githubusercontent.com/15037839/40936712-421be6ee-684d-11e8-8183-9620544c86a0.png)

[2018-06-05 08:59] jbaez commented on #568
I just updated Material library in our App (it's been a while since we haven't updated), and also noticed the placeholder label was positioning higher than before (overlapping with some other elements in some cases).
We have some custom components that where using the same logic as the Material.TextField for showing the placeholder, detail label and other material styling. Looks like what has chan

[2018-06-05 11:07] OrkhanAlikhanov opened #1087 "TabBar item is selected even though TabsController delegate shouldSelect always returns false"
I have tabsController and following delegate method implemented
[code]
View controller is not selected but tab bar item is getting selected but it shouldn't:
![](https://user-images.githubusercontent.com/15037839/40972457-d4ffd8d8-68d1-11e8-9448-a4e6d3f46e3e.gif)

But normally it looks like:

![](https://user-images.githubusercontent.com/15037839/40972524-0488998c-68d2-11e8-95ad-6e7bf9287e26.gif)

[2018-06-06 07:09] rex3du opened #1089 "Compile Error"
I've got this error :
Material.framework: bundle format unrecognized, invalid, or unsuitable Command /bin/sh failed with exit code 1

I installed the framework using CocoaPods.

[2018-06-06 09:00] BaryJBW commented on #1081
Ok, i didn't have the latest version of Material. The issue is fixed.

[2018-06-06 09:19] OrkhanAlikhanov commented on #1089
Xcode version?
Material version?
CocoaPods version?

[2018-06-06 10:10] jbaez commented on #568
@danieldahan  I created a fork to fix this issue so it works as before in our App. Let me know if you want me to send a pull request.

https://github.com/jbaez/Material/commit/2d147b3bb161e1fbabff5e00eac41d460d10ca67