[2016-03-14 18:37] #176 closed

[2016-03-14 23:44] zgosalvez commented on #226
Appreciate your relatively quick response @danieldahan . That did the trick.

Need help with your docs? I am using your library extensively for a project, so there will be a lot of components that I will be dealing with.

[2016-03-14 23:48] danieldahan commented on #226
Awesome!

As for docs, we hired someone who will be working on that extensively, @prateeksan. If anything, keep the questions coming and we will continue to make the notes as we put our documentation together.

If you want to discuss helping further, message us at support@cosmicmind.io :)

[2016-03-15 00:34] zgosalvez commented on #226
Looking forward to them docs @prateeksan !

@danieldahan noticed a quirk when hiding. I initially followed **SideNavigationViewController** example. It hides now, but it doesn't animate and move up as seen in the **App** example.

Not sure if it's a bug or just a docs thing, but I had to put the _mainViewController_ as a root of a `NavigationController` to get the status bar animation.

[2016-03-15 00:36] prateeksan commented on #226
@zgosalvez thank you! Your feedback is and will be much appreciated.

[2016-03-15 00:37] danieldahan commented on #226
Taking a look now.

[2016-03-15 00:39] zgosalvez commented on #226
More info if it helps: my _mainViewController_ is a `NavigationBarViewController`

[2016-03-15 00:41] danieldahan commented on #226
Yes that does make a difference. The animation you are seeing is specific to the NavigationBar that is part of the NavigationController.

---------------------------------------
Daniel Dahan

M: +1 647.627.0770
Skype: djondahan

[2016-03-15 00:53] zgosalvez opened #227 "Navigation Item Title Label Alignment"
When setting `navigationItem` elements, the `titleLabel`'s alignment does not work properly if the controls are not set. E.g.

[code]

[2016-03-15 00:55] danieldahan commented on #227
Yes I found this bug last night. It is fixed for the release later today. :)

---------------------------------------
Daniel Dahan

M: +1 647.627.0770
Skype: djondahan

[2016-03-15 00:56] zgosalvez commented on #226
I see. So, I ended up not using `NavigationBarViewController` and used `navigationItem` property of `NavigationController` as implemented in the **App** example. Strange that I had to do that tho. Thanks.

[2016-03-15 01:00] danieldahan commented on #226
NavigationItem is the correct way to set nav items in iOS.
NavigationBarView is a replica so it behaves differently.

There is also a standalone NavigationBar example that is a subclass of
UINavigationBar.

This is all a part of an effort to built out our nav controls. Since they
are all new, the API is being fleshed out.

On Mon, Mar 14, 2016 at 5:56 PM Zennon Gosalvez <notifications@github.com>

[2016-03-15 01:18] #226 closed

[2016-03-15 01:46] zgosalvez opened #228 "TextField Bottom Border Thickness"
The TextField's bottom border thickness/height cannot be customised. Material Design docs show that when the text field is active or has detail shown, the border thickens.

[2016-03-15 01:50] danieldahan commented on #228
Have you tried playing with the `bottomBorderLayer` and `bottomBorderLayerDistance` ? Good point on the thickness of the bottom border. I am going to link this issue [203](https://github.com/CosmicMind/Material/issues/203)

[2016-03-15 02:57] zgosalvez commented on #228
I did play around with `bottomBorderLayer` and changed the height from 1 to 2 and looked close to the Material Design docs.

[2016-03-15 03:00] danieldahan commented on #228
Cool, we will perfect it when we make the changes to 203. Awesome catch :)

[2016-03-15 03:10] zgosalvez opened #229 "TextField Clear Button Customization"
Allow us to handle/override the `clearButton`'s action.

In my case, I need to implement a password text field but can't get the visibility icon to work using the `clearButton` property.

Reference: [Material Design: Password Input](https://www.google.com/design/spec/components/text-fields.html#text-fields-password-input)

[2016-03-15 03:19] danieldahan commented on #229
To avoid the clear functionality that is added to the clearButton when set, you can add the button to the textField, then clear the handlers, and then add your own.

[2016-03-15 03:30] zgosalvez commented on #229
Great. You've been helpful by giving a workaround.

This worked for me in the mean time:
[code]

[2016-03-15 03:32] danieldahan commented on #229
Yes, that is perfect. I will link this to [203](https://github.com/CosmicMind/Material/issues/203) as well.

[2016-03-15 04:47] danieldahan commented on #227
Will be in release 1.37.0, which I am testing and then releasing.

[2016-03-15 04:47] #227 closed

[2016-03-15 12:53] zgosalvez opened #230 "NavigationController in Storyboard"
Took a while for me to find out that subclassing `NavigationController` then using it in the storyboard does not work properly, i.e. the `navigationBar` and `navigationItems` is not set and configurable.

What's the probable cause for this and will storyboards be supported eventually?

[2016-03-15 13:55] zgosalvez opened #231 "NavigationController Missing Back Arrow Button"
Modified **App** example's `AppDelegate` to simply set:

[code]

This works because tapping on a recipe pushes the `ItemViewController` onto the `navigationController` and the back button is a back arrow button (not the iOS left chevron).

However, in my project, I am unable to reproduce this desired effect. I also have 2 controllers that do the same flow as the **App** example.

- `AppNavigationC

[2016-03-15 23:19] brandonroth opened #232 "Changes to placeholder text are not propagated to the title label"
Steps to recreate:

1. Add a TextField and set the placeholder text.
2. Type type
3. Programatically clear the textfield and update the placeholder text to something else.
4. The placeholder text will be accurate, but after inputing text the title label reflects the previous placeholder.

This (without workarounds) makes it diffucult to reuse the same textfield for multiple input types.

[2016-03-15 23:22] danieldahan commented on #231
I am making changes to the nav bar for the next release. I meant to push it yesterday, but I found a few issues I would like to smooth out. Once my changes are done, I will test against this and see if all works.

[2016-03-15 23:26] danieldahan commented on #230
I have added @IBInspectable and @IBDesignable where appropriate for the next release. The other reason that this is not working, because you are using the leftBarButtonItems and rightBarButtonItems. The Material NavigationController does not use this. They use leftControls and rightControls that build the rightBarButtonItems for you. I will look into supporting the storyboard properties while I ma

[2016-03-15 23:29] danieldahan commented on #232
This wasn't a bug. It was to allow the title text to be different from the placeholder text value. So reuse was not a consideration. Thought, the spec dictates that the title should be the same as the placeholder, so your PR works nicely :) Thank you!

[2016-03-15 23:29] #232 closed

[2016-03-16 01:49] zgosalvez commented on #106
@sohayb When you say Snackbar, does that include Toasts?

[2016-03-16 03:22] zgosalvez commented on #231
Found out that the button is there, because I can tap the left side and a pulse shows before popping back. I already checked the Assets for the back arrow icon in `App` example, but couldn't find it there yet it appears when running. Finally found it in `SearchBarView` example and copied it into my project. So now it works! The `App` example is somehow using the icon from `SearchBarView` example i

[2016-03-16 05:30] danieldahan commented on #231
I think the reason the button image may not be loading is because Cocoapods is not configured correctly to bring in the Assets bundle, located in Material. I am looking into this, but that would be my initial thought. The image you are loading in App, is actually using the icon from Material itself, MaterialIcon.arrowBack. I have added commonly used icons, as I go, to the Material Assets bundle.

[2016-03-16 05:35] zgosalvez commented on #231
In that case, it appears that icons aren't being loaded when using Cocoapods. I've manually had to import the assets when using `MaterialIcon` for it to work. For now I initialise `UIImage` instead since I like using PDF versions of the assets.

[2016-03-16 05:39] danieldahan commented on #231
Cool. This issue is really a bug with the configuration for cocoapods.

[2016-03-16 07:05] danieldahan commented on #220
This is now fixed in 1.37.0, which I am preparing for release. The properties are Optional, and called: `leftThreshold` and `rightThreshold`. Note, that in order for them to work correctly, the width of the panels would need to be greater than the threshold, otherwise, they will always close. All the best :)

[2016-03-16 07:05] #220 closed

[2016-03-16 07:06] danieldahan commented on #230
In 1.37.0 you should be able to use the updates, which I am preparing for release now.

[2016-03-16 07:06] #230 closed

[2016-03-16 08:01] danieldahan commented on #223
Please try 1.37.0, if the issue persists, reopen the issue, or create a new one. All the best!

[2016-03-16 08:09] danieldahan commented on #207
This seems to be an issue when using a CollectionView or TableView and not having a select item.
Also, CollectionViews and TableViews reuse cells, so sometimes, when scrolling fast the pulse is still animating while generating a new cell. This should be handled within in the CollectionView or TableView.

Please check if this issue still persists, and if so, reopen or create a new issue. Thank you!

[2016-03-16 08:09] #207 closed

[2016-03-16 08:39] TheHmmka commented on #223
Oh, you deleted NavigationBarView, need some time to make changes. :-)

[2016-03-16 08:40] danieldahan commented on #223
Yes it is called Toolbar now, and there is a NavigationBar :) So it shouldn't be too bad.

[2016-03-16 08:41] TheHmmka commented on #223
Thanks for info :-)

[2016-03-16 08:51] danieldahan commented on #231
I am closing this issue and making another that accurately depicts the issue. Thank you!

[2016-03-16 08:51] #231 closed

[2016-03-16 08:52] TheHmmka commented on #223
Nope. 1.37.0 didn't help.
Btw I think it's time to create prefix for classes like MToolbar or MNavigationBar :-)

[2016-03-16 08:53] danieldahan commented on #223
Hmm...

[2016-03-16 08:56] TheHmmka commented on #223
And may be you can tell me, how to change controls paddings in Toolbar, cause they were changed?

[2016-03-16 08:58] danieldahan commented on #223
Okay, I will see if I can replicate your issue using your code. I think the issue is arising when you make the Toolbar a child of the pulseView.

Also, to update the insets and padding....

using `toolbar.contentInset` and `toolbar.spacing`.

Also, why make the Toolbar a child of the pulseView, and not a child of the ViewController?

[2016-03-16 09:02] TheHmmka commented on #223
In my case even pulseView is not a child of ViewController :-) I have complex structure with several subviews. I need to have one transparent view at the top of any UIViewControllers with different controls like Toolbar, PulseView and so on.

[2016-03-16 09:04] danieldahan opened #236 "MaterialIcon and loading images using Cocoapods"
CocoaPods does not load the MaterialIcon images correctly. For now, they will have to be done manually using `UIImage(named: "ic_icon_name")` or any other strategy when setting the icon image. This issue will be fixed once I find a suitable solution.

[2016-03-16 09:06] danieldahan commented on #223
Ah... okay. I am working on replicating the issue. As well, MaterialLayout may be a good solution here, as it automatically adjusts the views, as an idea.

[2016-03-16 09:06] TheHmmka commented on #223
Thanks!

[2016-03-16 09:17] danieldahan commented on #223
Can you try adding to your layoutSubviews this line...

[code]

In anyway I try it, it works for me. So the above is a test to see what happens. If that doesn't work, then there is clearly an issue that I will need to dive into.

[2016-03-16 09:46] TheHmmka commented on #223
This code works:

[code]

[2016-03-16 09:48] danieldahan commented on #223
Great :) as always let us know when there is an issue. All the best!

[2016-03-16 09:48] #223 closed

[2016-03-16 09:50] TheHmmka commented on #223
Deal! :-)

[2016-03-16 10:05] zgosalvez commented on #227
This is still broken if I set `titleLabel.textAlignment = .Center`, with or without `navigationItem.rightControls = []`

[2016-03-16 14:15] danieldahan commented on #227
It's not broken. The titleLabel is affected by the controls, so it only aligns when in equal space. If you want an always centre alignment, use the title property.

[code]

[2016-03-18 07:29] mohpor opened #237 "TextView handle out of bounds text, and placeholder alignment."
Hi again,
I've been testing `TextView` in my project today and I've encountered a few bugs I wanted to share.

1. `placeholderLabel` gets positioned to the upper left corner of the text view regardless of any settings of the actual textView itself. I need a right aligned text view but placeholder gets sucked to the left. (I couldn't find a way around it, the placeholder label's frame seems to be e

[2016-03-19 21:24] sohayb opened #239 "Status bar disappearing"
Whenever the side drawer is open, the status bar disappears, resulting in bad UX for the user. You can check that directly, as it's even obvious in [the first gif image](https://camo.githubusercontent.com/ecfd0bd7e5ebe8d8c505c0be1da77a630c53f6d9/687474703a2f2f7777772e636f736d69636d696e642e696f2f4d4b2f4d6174657269616c4170702e676966) in this project's home page. Is this a known bug?

[2016-03-19 21:25] danieldahan commented on #239
It is not a bug, it is a matter of opinion. You can easily set the instance property of the `sideNavigationController.hideStatusBar = false`.

[2016-03-20 00:19] jacobsgo opened #240 "Starting New Project And Adding Different Of The Examples Into It..."
I started a new Xcode Project and ran "pod init" and then added the stuff into the podfile and then ran "pod install" but I am having trouble actually getting the menu thing into my project. How do I do this?

[2016-03-20 06:08] danieldahan commented on #240
Hello,

There are a few projects you can take a look at that will help you. By the "menu thing" are you meaning the floating button at the bottom right that pops-up a group of buttons?

Example 1: This example uses the [Menu](https://github.com/CosmicMind/Material/tree/master/Examples/Programmatic/Menu) controller.

Example 2: This example uses a [MenuView](https://github.com/CosmicMind/Material/t

[2016-03-20 06:08] #240 closed

[2016-03-20 06:10] #236 closed

[2016-03-20 21:40] sverin opened #241 "TextField titleLabel not working when using Storyboards"
I'm glad that you exposed the properties with @IBInspectable.

However, when I use the TextField in storyboard and set the properties in the designer, I can't get the title label to work. I have to link the textfield from the storyboard and add the UILabel to the textfield manually.
Is this intentional?

I got it working by doing this and configure the rest in IB:

[code]

[2016-03-20 23:56] danieldahan commented on #241
I am going to make an update that will avoid the setup. There are a few TextField tasks that are lined up and I will do them all at once. I will leave this up for now. Thank you for submitting this.

[2016-03-20 23:57] danieldahan commented on #239
@sohayb I am going to update this with a better solution. Thank you for bringing this to my attention. I wasn't so pleased with it, though, I thought launching the NavigationController as is was a better overall approach. All the best!

[2016-03-21 04:28] XemaCobra opened #242 "layoutShadowPath() causing custom shadowPath to be overridden"
Hey again,

I've been trying to set a custom shadowPath to a MaterialCollectionViewCell. Unfortunately, it was not working after a bit of digging I found the problem in the following line of code.

https://github.com/CosmicMind/Material/blob/85585b427234fdd798e85e1ae392e1475dc9044a/Sources/MaterialCollectionViewCell.swift#L628

[code]

I think this is not in MaterialCollectionViewCell alone but in

[2016-03-21 04:31] danieldahan commented on #242
Try setting this to false `shadowPathAutoSizeEnabled = false` and then set your path. This way the code block won't have any effect. The last line, is actually to animate the shadowPath on transitions, when you want it to automatically adjust, otherwise, the shadowPath stays where positioned when the item moves.

[2016-03-21 04:32] XemaCobra commented on #242
Thanks

[2016-03-21 04:33] danieldahan commented on #242
Did it work?

[2016-03-21 04:35] XemaCobra commented on #242
Yes, it did. Thanks a lot.

[2016-03-21 04:35] danieldahan commented on #242
Awesome, all the best!

[2016-03-21 04:35] #242 closed

[2016-03-21 04:46] XemaCobra opened #243 "Help with custom shaped MaterialViews"
I'm trying to create a MaterialCollectionViewCell with a custom shape based on a CGPath.
I was able to mask the visualLayer and that helped with the pulse. Thanks to your help a few minutes ago, I'm able to customize the shadow as well with the same path. The hard part for me is trying to mask the actual view (`self.layer`) without masking the shadow as well.

As a work around I can just have the

[2016-03-21 04:51] danieldahan commented on #243
Well the backing layer, `self.layer` is acting as a container for the `visualLayer`. The `layer` is holding the shadow path. If you append your content within the `visualLayer`, which has its mask set to true by default, you should be able to achieve what you are looking for. If I understand you correctly. For example...

try as an experiment:

[code]

Something like this. This is my first thought

[2016-03-21 04:59] danieldahan commented on #243
Another option is to use a CardView, which has a child view, called detailView. You can add what you like to that, set it to clipBounds, and then apply the path to the CardView.

[2016-03-21 05:01] danieldahan commented on #243
Another option is to use a CardView, which has a child view, called detailView. You can add what you like to that, set it to clipBounds, and then apply the path to the CardView. You may need to apply it to the detailView as well. These suggestion have not been tested as I am about to sign-off for the night. If none of these suggestions work, I can work on one tomorrow.

All the best!

[2016-03-21 05:02] XemaCobra commented on #243
I'll try them tonight and let you know how it goes. Thanks.

[2016-03-21 09:54] sohayb commented on #239
Sorry, didn't check github since this was posted :)
Yeah you're right, I think it's a matter of opinion as you said; I still think the UX is not that intuitive to the users nor to developers (having to handle this manually). Waiting your update on this.

[2016-03-21 18:49] RuslanPatyk opened #244 "If Gather coverage data is turned-on, tests do not run, application can't be built"
If Gather coverage data is turned-on, tests do not run, application can't be built:

<unknown>:0: error: unable to execute command: Segmentation fault: 11
<unknown>:0: error: compile command failed due to signal (use -v to see invocation)

Please explore this issue. It appeared again in 1.37.2.

Thank you

[2016-03-21 19:03] danieldahan commented on #244
Hey! Sorry about that. Please checkout [1.37.3](https://github.com/CosmicMind/Material/releases/tag/1.37.3), the issue should be resolved.

[2016-03-21 19:03] #244 closed

[2016-03-21 19:39] sverin commented on #241
Thank, looking forward to it

[2016-03-21 22:10] XemaCobra commented on #243
I ended up using the first solution (Adding views to the visualLayer as sublayers) as it seemed simpler and more straight forward to me. It works great so far. My only issue, now, is the performance hit from the masking layer that I added. That's unrelated to Material though.  I'll deal with that when I'm optimizing at the end.

Thanks a lot for your help on this.

[2016-03-21 22:14] danieldahan commented on #243
You don't need the masking layers now. You should be able to use the `visualLayer` and that's it. The path for the backing `layer` will automatically conform to the `visualLayer`. This is a general statement. I would try the process again with the `visualLayer`. Also, the approach you are taking is an advanced approach and an optimization. Like a hidden gem with what you can do. I am happy you fou

[2016-03-21 22:14] #243 closed

[2016-03-21 22:21] XemaCobra commented on #243
The main reason I still need the masking is to mask the pulse effect to be limited to the custom path that I set originally and not extend beyond the shape.

[2016-03-21 22:22] danieldahan commented on #243
The pulse effect is limited to the visualLayer, it is attached to that layer. Hopefully that helps.

[2016-03-21 22:26] sverin opened #245 "CardView width does not work when setting from Storyboard"
I try to use the CardView from a storyboard but having trouble with the width.
I set the constraint and width in the storyboard, but when I set the title label and a button the size change.

How can I avoid that the CardView width changes from what i put in the storyboard?

[2016-03-21 22:43] danieldahan commented on #245
We are still adding support for Storyboards. Programmatically, this wouldn't be an issue. Over the course of the next few iterations, we will have more examples to aid in this. I will leave this issue up for now, as I experiment with a solution.

[2016-03-23 00:29] GreyEcologist opened #249 "MaterialButton > Still receiving user touches when hidden"
Hey guys, I use a materialButton for login, which I hide once the user has successfully login, but I notice that while the button has disappear, it stills receives touchesEnded() and acts as if it was still visible.

those are the functions that are still being called when the MaterialButton is set to hidden:

[code]
and:

[code]

Could you guys update the behavior so that it doesn't happen?

[2016-03-23 00:31] danieldahan commented on #249
Yeah, we will look into this :)

[2016-03-23 00:33] GreyEcologist commented on #249
Thanks! Also, I should have mentioned that the context is that I am using a MenuView which contains two FabButtons.

[2016-03-23 00:34] danieldahan commented on #249
Ah... okay, that will be helpful.

[2016-03-23 23:54] adhiravishankar opened #250 "Line under Toolbar"
I have a view with the same color as my toolbar underneath the toolbar. Since I want them to be unified, I have a line now underneath my toolbar and above that custom view. I'm not sure where that line is coming from. I would like to know what that line is or where that line is coming from. I have looked at the source code and can't find a source for it.

Also, do you know of a timeline of when a

[2016-03-24 05:15] ohgodno opened #251 "Swift 2.2/3.0"
As I'm sure you've heard, "C-Style for loops", "++", and "--" are all now depreciated and are going to be removed at the June release of Swift 3. Xcode is freaking out on my end with 40+ warnings and it is ridiculous that Apple would these cut basic yet essential features. If you could put out a version without these now depreciated items, it would be much appreciated. I know that Xcode 7.3 and Sw

[2016-03-24 05:18] danieldahan commented on #250
Can you send a screen shot? Also, I am working on the BottomNavigationBar now, and tabs following. The last week has been spent on this framework [AlgorithmJS](https://github.com/CosmicMind/AlgorithmJS), and now all our attention is on the latest updates from Apple, and latest MaterialDesign components :) I'd give it a couple days before they are fully fleshed out.

And it is our pleasure to work

[2016-03-24 05:20] danieldahan commented on #251
Excellent! Latest Friday this will be resolved with the release of BottomNavigationBar and tabs.

[2016-03-24 05:22] ohgodno commented on #251
Awesome! Thanks for the really fast reply as well.

[2016-03-24 07:37] HowardCsie opened #252 "Is NavigationBarViewController going to replace ToolbarController ?"
I use Material 1.35.3. I was going to use toolbar to replace iOS default navigation controller.
`private var toolbar: Toolbar = Toolbar()`
However ,it showed "Use of  undeclared type Toolbar" ( I did import Material
Is there any solution?

[2016-03-25 02:19] adhiravishankar commented on #250
![img_0924 1](https://cloud.githubusercontent.com/assets/3884741/14036331/e3d35a96-f205-11e5-8c97-4371cbd9cec0.PNG)
Here's my own implementation of Tabs, and I would like for it to look like the Youtube App, which doesn't have that line separating the navigation bar and the tabs.
![screen322x572](https://cloud.githubusercontent.com/assets/3884741/14036364/0eb65092-f206-11e5-8f75-a7541b977031.jpeg)

[2016-03-25 02:24] adhiravishankar commented on #250
And, because you might wonder if that line comes from the tabs rather than the toolbar, I have created a custom view of pure green in another screen to test it out and that line still shows up. This is a ToolbarController with a custom UIViewController as the Main View Controller. On the very top of the UIViewController is a uiview with the same color background as the toolbar.

![img_0926](https:

[2016-03-25 03:06] danieldahan commented on #250
Nice view :)

To fix the line, set the depth of the toolbar to .None

'''Swift
toolbar.depth = .None
'''

[2016-03-25 03:08] danieldahan commented on #250
Also I am launching the BottomNavigationBar tomorrow and tabs tomorrow as well most likely

[2016-03-25 04:11] adhiravishankar commented on #250
This has been fixed! Might I suggest a line of code referencing this in toolbar and maybe some other classes that would show that this exists? Thank you very much!

[2016-03-25 04:16] danieldahan commented on #250
Pretty much every view has the ```depth``` property. Generally, you are correct. We are working on bringing documentation to Material as we continue to rollout new technologies and features. All the best and keep the questions coming if you have any :)

[2016-03-25 04:16] #250 closed

[2016-03-25 04:19] danieldahan commented on #252
So you are using an older version, the latest is [1.37.3](https://github.com/CosmicMind/Material/releases/tag/1.37.3). The Toolbar replaced the NavigationBarView and now there is a NavigationBar and NavigationController, as well as, a ToolbarController. In the examples directory, you should be able to find many examples demonstrating these features. If you have any further questions, please reopen

[2016-03-25 04:19] #252 closed

[2016-03-25 04:22] HowardCsie commented on #252
I used pod update,and it just updated to the version 1.35.3.
Am i going to reinstall?

[2016-03-25 04:23] danieldahan commented on #252
Yes try that, and possibly set the version to at least 1.37.3 in the pod file. Not sure why it wouldn't update you to the latest.

[2016-03-25 04:41] HowardCsie commented on #252
<img width="762" alt="2016-03-25 12 38 51" src="https://cloud.githubusercontent.com/assets/17197816/14038069/ab5cb5b4-f286-11e5-9ae0-548231f95cb4.png">
Just like this.
Here is my Podfile.
<img width="642" alt="2016-03-25 12 40 39" src="https://cloud.githubusercontent.com/assets/17197816/14038084/d528be06-f286-11e5-8f9b-d3b32def2c48.png">

[2016-03-25 04:46] danieldahan commented on #252
Try setting the pod like so:

[code]

[2016-03-25 05:32] HowardCsie commented on #252
<img width="642" alt="2016-03-25 13 30 30" src="https://cloud.githubusercontent.com/assets/17197816/14038584/d0b42b56-f28d-11e5-8786-8ce4899fbdbd.png">
I got an error like this. Is  1.37.3 really available on cocoapods?
Thank you in advance.

[2016-03-25 05:39] danieldahan commented on #252
<img width="662" alt="screen shot 2016-03-25 at 1 38 29 am" src="https://cloud.githubusercontent.com/assets/9982123/14038662/58650020-f22a-11e5-82db-d56f378dbe1b.png">
<img width="658" alt="screen shot 2016-03-25 at 1 38 36 am" src="https://cloud.githubusercontent.com/assets/9982123/14038661/58650296-f22a-11e5-9117-354bbf76f400.png">

I did a fresh test project and install and all seemed to work.

[2016-03-25 05:40] danieldahan commented on #252
I think that a ticket sent to CocoaPods would help. There could be an issue with the server distributing to your location.

[2016-03-25 05:42] danieldahan commented on #252
Also, seems to exist http://cocoapods.org/?q=Material

[2016-03-25 06:07] HowardCsie commented on #252
Thanks. I ll go send it.
Is there any way that i can manually put Material in to my project？

[2016-03-25 06:13] danieldahan commented on #252
Yes, if you are using CocoaPods, you can add the Material.framework to your workspace.

1. Open your CocoaPods workspace.
2. Add the Material project to your workspace by dragging it from the downloads folder, after you [download it here](https://github.com/CosmicMind/Material/archive/master.zip).
3. Then select the Material scheme and build for generic device.
4. Go to your application project an

[2016-03-25 06:41] HowardCsie commented on #252
I made it.
I m very appreciate ：））））））

[2016-03-25 06:42] danieldahan commented on #252
Awesome! Enjoy :)

[2016-03-26 08:29] zgosalvez commented on #176
@danieldahan Setting the detailView with the custom UIView hides the pulse. It's still there but it's behind the detailView.

[2016-03-26 15:44] danieldahan commented on #176
@zgosalvez  Yes, that is correct. The pulse is an underlying layer. So it does not cover text or content. Setting the defaultView to a `clear` background color allows it to still be seen.

[2016-03-26 15:53] gkye opened #255 "Unable to build on xcode Version 7.3 after updating to ver. 1.37.3"
After updating my pods and updating Material to 1.37.3 I'm unable to build any projects which include Material. I keep received this same error. (I've clean derived data multiple times and even reinstalled Material)
`error: /Users/george/Library/Developer/Xcode/DerivedData/MaterialTest-hegneggavllamfdegkkiaqicdmzu/Build/Products/Debug-iphonesimulator/Material/io.cosmicmind.Material.bundle: No such

[2016-03-26 15:58] danieldahan commented on #255
This is strange. This could be an issue with how CocoaPods handles bundles, and the added MaterialIcon library for icons that are bundled with Material. I'll look into this before I send out a release today. Thanks!

[2016-03-26 21:21] danieldahan commented on #251
This is coming out in an hour.

[2016-03-26 21:21] #251 closed

[2016-03-26 21:22] ohgodno commented on #251
Awesome, looking forward to it.
On Sat, Mar 26, 2016 at 5:21 PM Daniel Dahan <notifications@github.com>
wrote:

--
- Harrison Crandall

[2016-03-26 23:05] danieldahan commented on #239
In the latest release, this is fixed :) 1.38.0. Should be out soon.

[2016-03-26 23:05] #239 closed

[2016-03-27 21:49] danieldahan commented on #255
Hey, I released 1.38.0 now. Made a CocoaPods project and installed using Xcode 7.3. All seemed to work. If you have any further issues, please reopen or create a new issue. All the best!

[2016-03-27 21:49] #255 closed

[2016-03-27 21:53] danieldahan commented on #245
Hi, we launched 1.38.0 recently. I have still not been able to reproduce this issue. We will keep on trying. Please let me know if you have found a solution, or reopen this issue if the problem still persists.

Thank you and all the best.

[2016-03-27 21:53] #245 closed

[2016-03-28 02:50] ansu opened #258 "Need Help to open side menu from bottom tab bar"
HI,

In my project, I have bottom tab bar controller and right tab bar item is the menu. When the user presses on that,  side menu  should get opened. Can you help me out, how I can open material side menu using tab bar controller item?

[2016-03-28 03:07] danieldahan commented on #258
An immediate thought is to set the bottomNavigationController.delegate (UITabBarControllerDelegate) property, and implement the method:

[code]

Notice the ```PlaceholderViewController``` class check. You can add an instance of a PlaceholderViewController at the end of the BottomNavigationController viewControllers array. When detected, it will return false and execute the ```sideNavigationControl

[2016-03-28 03:13] ansu commented on #258
@danieldahan : Thanks for the quick reply and will try the way you have mentioned.
I am just wondering, Is it possible to you share the sample code for this requirement?

[2016-03-28 03:19] danieldahan commented on #258
You mean this?

[code]

[2016-03-28 03:26] danieldahan commented on #258
If you need further help, reopen the issue, or create a new one :) You can also continue chatting on this thread.

[2016-03-28 03:26] #258 closed

[2016-03-28 03:28] ansu commented on #258
@danieldahan : Thanks for helping me out.

[2016-03-28 03:29] danieldahan commented on #258
Anytime :)

[2016-03-28 04:57] chaitanya-ramji commented on #193
Any ETA on the TabBar @danieldahan ?

[2016-03-28 05:02] ansu commented on #258
@danieldahan : Thanks once again..You have made my day..:)

[2016-03-28 16:20] dsempel opened #259 "Designables are crashing"
I like using the storyboard for auto layout, but since you implemented the Designables I keep getting these errors (image below). There is no problem with building the code, it's just the annoying errors :)

<img width="204" alt="screenshot" src="https://cloud.githubusercontent.com/assets/4086503/14082478/7deeda58-f510-11e5-9f7e-131e6d0a6132.png">

From the crash logs I found `fatal error: use of

[2016-03-28 16:23] danieldahan commented on #259
Would you be able to share  a sample project that causes these crashes and I can then use it as a test case to fix the issues from? I don't use Storyboards at all when developing, so my use cases are limited.

I really appreciate your help on this.

[2016-03-28 16:26] danieldahan commented on #193
Hey, sorry for the delay on this component. I will put this at the top of the list for new components for this week. If it is not out by Friday, then I will have a better estimate of the time it will be available.

[2016-03-28 16:48] dsempel commented on #259
Sure, I've added a MaterialSwitch to your MaterialButtons example. If you open the examples workspace and click the Main.storyboard of the MaterialButtons example, it crashes. Without the MaterialSwitch it works fine here.
[Material-master_Switch-Example.zip](https://github.com/CosmicMind/Material/files/192119/Material-master_Switch-Example.zip)

[2016-03-28 17:24] dsempel opened #260 "Custom MaterialSwitch colors"
I changed the MaterialSwitch colors like this (in viewDidLoad):
[code]
It still uses the .Default style colors in the initial state of the switch. After activating the switch it starts using the colors I set. The MaterialSwitch is instantiated from the storyboard (but I don't think that would make a difference). I think the problem is that the method below (from MaterialSwitch) is not called after

[2016-03-28 17:27] danieldahan commented on #259
Cool, I will look at this later today.

[2016-03-28 17:28] danieldahan commented on #260
Nice, I will look at this later today. FYI, I am planning a revamp on MaterialSwitch and TextField to give better customization and such. Thanks for this!

[2016-03-28 17:44] ahusseini opened #261 "BottomNavigationController crashing due to force unwrap of nil in transition animation"
Hello, the BottomNavigationController is crashing on the following lines due to force unwrap of `nil`:

[code]

I'm starting with no child viewcontrollers, and adding them after. Ideally the following can avoid the issue by ignoring the first call to the animation, but I'm not sure if this would be a valid solution for everyone.

[code]

[2016-03-28 17:58] danieldahan commented on #261
How are you adding them after? Do you mean that you are adding them after you already add the BottomNavigationController to the view hierarchy?

[2016-03-28 18:13] ahusseini commented on #261
Yes, that's correct, I'm adding view controllers based on data received from a remote API.

[2016-03-28 18:15] danieldahan commented on #261
Okay cool, I am fixing it now. Will be released in 1.38.2 :)

[2016-03-28 18:16] ahusseini commented on #261
Thank you!

[2016-03-28 18:34] danieldahan commented on #261
So, I am trying to reproduce this. Could you explain your setup?

[2016-03-28 18:58] ahusseini commented on #261
Hello Daniel,

Sorry, I was setting the animated parameter to `true` on `setViewControllers()`, setting it to `false` fixed the problem.

[2016-03-28 18:58] #261 closed

[2016-03-28 19:30] danieldahan commented on #261
I think though, I should put a check that there are at least two ViewControllers before returning an animation object. That will avoid the need for false. Thoughts?

[2016-03-28 20:25] ahusseini commented on #261
I agree, it's going to look ugly though since `fromVC` and `toVC` are not optional params. The following worked for me, are you okay with this as a PR?

[code]

[2016-03-28 20:26] danieldahan commented on #261
generally we could do this:

public func tabBarController(tabBarController: UITabBarController, animationControllerForTransitionFromViewController fromVC: UIViewController, toViewController toVC: UIViewController) -> UIViewControllerAnimatedTransitioning? {
		if 2 > tabBarController.viewControllers?.count {
			return nil
		}
		return .Fade == transitionAnimation ? BottomNavigationFadeAnimatedTrans

[2016-03-28 20:31] ahusseini commented on #261
Not working for me, it's not hitting that check.

[2016-03-28 20:35] danieldahan commented on #261
Your's is actually more clear, but I think we can do this:

[code]

I don't believe the transition method would be called if there wasn't a ```fromVC``` as seen in the method definition, Optionals are not passed. Try that, if it works.

[2016-03-28 20:41] ahusseini commented on #261
Not sure why, but it's called when `fromVC` is `nil`, `toVC` is not `nil`, switching the optional to `fromVC` works.

[2016-03-28 20:53] danieldahan commented on #261
Okay, submit a PR if you like, I can test further from there :)

[2016-03-28 21:45] danieldahan commented on #261
You know what is really interesting, is that the method definition for doesn't even offer optionals when auto-written by xcode:

[code]

[2016-03-28 21:54] ahusseini commented on #261
That's right, I get the following warning in AppCode:

[code]

For my PR, I think I will convert to optional first, just in case, this way we're not changing the signature as provided in the delegate.

[2016-03-28 22:06] dsempel commented on #260
Alright, thanks! It is not an urgent problem, so take your time. Just wanted to let you know.

[2016-03-29 01:16] danieldahan commented on #259
Thank you for this. I fixed it with:

[code]

Basically the issue is when you implement IBDesignable, both the code and frame init methods need to be implemented. This will be out in the next release. Which I am doing now. Thank you!

[2016-03-29 01:16] #259 closed

[2016-03-29 01:36] danieldahan commented on #260
This is fixed and will be in tomorrow's release. Thank you for letting us know about this :)

[2016-03-29 01:36] #260 closed

[2016-03-29 02:32] GreyEcologist commented on #249
I found a workaround, so I'll close this.

[2016-03-29 02:33] danieldahan commented on #249
What was it?

[2016-03-29 02:41] ansu opened #264 "Help laying out TextField in TableViewCell or CollectionViewCell."
HI,

We are trying to show material text field in each cell. We are not able to show detail label of text field inside table view cell. Can you please tell me, how to use material text field inside table view cell.

[2016-03-29 02:43] danieldahan commented on #264
Hey, Why a tableViewCell? Maybe a collectionViewCell would be better? Much easier to size, and layout.

[2016-03-29 03:01] ansu commented on #264
@danieldahan : Thanks for quick reply once again. We have used tableview cell becuase we have long form and in each form we have 15-20 text fields. Can you please share code snippet using collection view cell.

[2016-03-29 03:04] danieldahan commented on #264
I can do it tomorrow :) I am about to sign-off for the evening.

[2016-03-29 03:06] ansu commented on #264
Thanks @danieldahan. I will wait for your reply.

[2016-03-29 05:55] HarrisonJackson opened #265 "NavigationBar not visible when using nc.setViewControllers"
# Actual Behavior

Resetting the root viewcontroller with `nc.setViewControllers([ViewController()], animated: true)` shows no navigation bar

[code]
![](https://zapier.cachefly.net/storage/photos/425d8cef2301fab9f82364e109a6d704.png)

vs

[code]

![](https://zapier.cachefly.net/storage/photos/dec360d79d41dc36df6901e628639b6b.png)

# Expected behavior

Resetting the root viewcontroller with `nc.se

[2016-03-29 08:14] GreyEcologist opened #266 "SideNavigationControllerDelegate Not Working"
Hey, there was a change introduced in the last 7 days that prevents the force unwrapping of the SideNavigationController delegate. Inside my rootViewController, I had to replace the code below:

[code]

by:

[code]

The problem is that the delegate methods don't get called anymore. I can look tomorrow morning for the exact build that created the issue.

Also, I searched for one but didn't find any

[2016-03-29 09:05] rotemdoron opened #267 "Flatbutton and images"
hey im having an issue with the flat button when i add an image to it it scales it down, any possibilities to avoid this?

[2016-03-29 16:07] danieldahan commented on #266
I don't recall anytime that there was a force unwrap. In general, setting up the delegate, requires that you do so when the relationship of the ViewControllers are set. What I mean is, if you create a ViewController, ```MyViewController()``` then set it to the ```SideNavigationController```, the ```sideNavigationController``` Optional is not available in the viewDidLoad. That is because the viewDi

[2016-03-29 16:09] danieldahan commented on #267
Can you share the code you are using to setup the FlatButton? This may be an issue with scale size.

[2016-03-29 16:11] danieldahan commented on #265
I will take a look at this, thank you! :)

[2016-03-29 16:16] ansu commented on #264
@danieldahan : please reply asap

[2016-03-29 16:17] danieldahan commented on #264
Yes I will be adding a demo for you later today. Are you in a rush?

[2016-03-29 16:18] ansu commented on #264
@danieldahan :  If you can reply by the end of the day, that would help me a lot.

[2016-03-29 16:19] danieldahan commented on #264
What timezone are you in? My end of day is in 6 hours. Also, to ensure accuracy, if you can post a simple drawing of what you are hoping to achieve, that would speed things up.

[2016-03-29 16:28] ansu commented on #264
Please try to reply by end of your day. Here is the screen shot which I am trying to achieve:
![untitled](https://cloud.githubusercontent.com/assets/190119/14115586/336b2b8c-f5f9-11e5-9dd7-066f9f73e314.png)

So far I have made every field in table view cell. If you can suggest any other approach please do let me know.

[2016-03-29 16:32] danieldahan commented on #264
Generally, if you can do this in the UITableViewCell and it is maintainable for you, I wouldn't veer from that approach. Especially if you have already coded it. I think your main concern was the display of the detailLabel, is that correct?

[2016-03-29 16:37] ansu commented on #264
Yes, My main concern is detail label only.
Regarding, forms where We have less than 7 text fields, we have used scrollview and that place it is working fine though I have been waiting for your Scrolling Techniques upcoming list :)

[2016-03-29 16:41] danieldahan commented on #264
Yes a ScrollView was my thinking when I saw your view.
The next components in this order are, Paging Tabs, Snackbar, Scroll Techniques.

So why I was suggesting a CollectionView rather than a TableView was that it is easy to adjust the size of a CollectionViewCell over a TableView, to make room for the detailLabel.

I will think about this over the course of the day. I don't think that you need me

[2016-03-29 16:49] ansu commented on #264
If you can share the code with one or two fields using collection view that would be great.

[2016-03-29 16:50] danieldahan commented on #264
Cool, I will try my best :)

[2016-03-29 17:05] danieldahan commented on #260
These changes have been released. Thanks for bringing this to our attention.

[2016-03-29 17:06] danieldahan commented on #261
These changes have been released. Thanks for bringing this to our attention. Let me know if this is an issue still. Thank you!

[2016-03-29 21:49] danieldahan commented on #264
Hey! Is there still time for this?

[2016-03-29 22:51] dsempel commented on #259
Works great, thank you!

[2016-03-30 01:21] zgosalvez opened #268 "Depth Does Not Change on Pulse"
When a view pulses (and scale), the shadow remains the same and does not present a change of depth. Scale I presume is there to simulate the view getting closer to the fingertip.

[2016-03-30 01:58] ansu commented on #264
It's just morning in India. Can you please share it now.

[2016-03-30 03:18] danieldahan commented on #264
Hey,

Yes, checkout the development branch, and look in the Examples directory for the [MaterialCollectionView](https://github.com/CosmicMind/Material/tree/development/Examples/Programmatic/MaterialCollectionView) example project.

This should get you started. If you need further help, reopen or create a new issue.

[2016-03-30 03:18] #264 closed

[2016-03-30 05:24] chaitanya-ramji commented on #193
Cool @danieldahan :D Thanks man!

[2016-03-30 05:33] ansu commented on #264
@danieldahan : Thanks once again. Though it is not part of your code, but wondering can you tell me how to move to next field while pressing on return of one field. Previously we were using https://github.com/simonbs/BSKeyboardControls. to move up and down text field but bskeyboardcontrols doesn't give support to material text fields.

If you can help me out on this, i will be very thankful to you

[2016-03-30 05:41] HarrisonJackson commented on #265
Much appreciated! Great work on the framework thus far - glad to see this repo is super active.

[2016-03-30 08:53] saipnc opened #269 "Collapsing Toolbar Layout"
Hi Cosmic Mind team,

A bow to you guys for the amazing work!
I was wondering if you could consider developing the collapsing toolbar in your next update. My whole project UI is based on your library moved the UI from apple's flat UI to Google's Material design with the help of your amazing work, I couldn't ask for more but if you guys could do this it will help us a lot. For the exact behaviour p

[2016-03-30 15:24] danieldahan commented on #264
Hey, anytime.

Why doesn't it support Material TextField? TextField is subclassed from UITextField, so all properties should hold true.

If not, you can store an array of TextFields and when the user clicks on the Return key, you can check if there is another TextField following the one just clicked in the array. Then you can set becomeFirstResponder to that TextField. That would be the premise of

[2016-03-30 15:29] danieldahan commented on #269
Thank you for helping us grow :) I think your suggestion would be a wonderful addition and many people would love it. That said, I can't say it will come out in our next release, as we are working on TabBars, but I can see it being available very soon. An app that we are making would benefit greatly from this feature. I am going to leave this issue up for now, as we will inform you and create a th

[2016-03-30 15:38] danieldahan commented on #268
The shadow slightly spreads, due to the scale effect. I believe you could add an animation by subclassing the pulse view and adding animations to the touch handlers that spreads the shadow, and contracts it. I am not going to make this a priority right now, but we are planning some nice additions with 3D touch and such, and that is when this issue will be considered at a high priority.

Feel free

[2016-03-30 15:38] #268 closed

[2016-03-30 17:08] danieldahan commented on #265
So it looks like the solution to your issue, you need to remove the animated: true value to animated: false. I looked all over the internet and found that the issue was a bug, and then not, and then was. If you remove the animation, all is good. I suspect this has to do with triggering the transition mechanism, and when animated is false, it sets the controller and moves along. Can you verify this

[2016-03-30 18:12] HowardCsie opened #270 "NavigationController example?"
Is there any example that i can learn how to use it? Thanks.

[2016-03-30 18:15] danieldahan commented on #270
Yes, check the App example. It has the NavigationController in there, which will show you how to use it effectively in a more elaborate app.

[2016-03-30 18:27] HowardCsie commented on #270
![image](https://cloud.githubusercontent.com/assets/17197816/14152881/da8358b0-f6e7-11e5-81e5-deb336dd34fe.png)
I use storyboard to place my navigationController.
[code]
However,it did not work.

[2016-03-30 18:28] danieldahan commented on #270
I see. What was the error?

[2016-03-30 18:29] HowardCsie commented on #270
![image](https://cloud.githubusercontent.com/assets/17197816/14152976/68d4a466-f6e8-11e5-8bab-5782037dcb7b.png)
Nothing changed:((

[2016-03-30 18:33] danieldahan commented on #270
This is because in order to use the NavigationBar, which is the subclass of UINavigationBar in the Material NavigationController class, the initialize that needs to be used is the initializer with the rootViewController property. I don't think Storyboards would be calling that initializer. Let me see if I can make it work :)

[2016-03-30 18:39] HowardCsie commented on #270
Thank you in advance.Look forward to your solution:)

[2016-03-30 18:55] danieldahan commented on #270
No worries :)

So the issue is, you need to set the UINavigationBar class to NavigationBar, in the Material module. That will fix your issue. I added an example project to Storyboards showing how to do this.

[NavigationController Storyboard Example](https://github.com/CosmicMind/Material/tree/development/Examples/Storyboards/NavigationController)

[2016-03-30 18:55] #270 closed

[2016-03-30 20:04] prateeksan opened #271 "Updating MaterialColor"
Ensuring the MaterialColor Library is upto date with Material Design specification

[2016-03-30 21:33] GreyEcologist commented on #266
Oh nice! That worked! I did have it my my viewDidLoad()

Thanks a lot Dan!

[2016-03-30 21:33] #266 closed

[2016-03-30 23:00] #271 closed

[2016-03-31 04:04] danieldahan commented on #265
I am closing this issue as it has been resolved. Please reopen or create a new issue if this persists. All the best :)

[2016-03-31 04:04] #265 closed

[2016-03-31 04:05] danieldahan commented on #267
I am closing this issue. Please reopen or create a new one if you need any further help.

[2016-03-31 04:05] #267 closed

[2016-03-31 11:44] RuslanPatyk opened #274 "Pulse focus"
Guys, it would be nice if there were some options for focus. You have implemented it in the way it is described in the material guide, user highlights the element and focus covers it in the form of wave. But one thing is missed: The "hamburger" button (menu button) in Google's inbox application is highlighted in a bit different way: it is highlighted using focus but the focus is not in the form of

[2016-03-31 11:59] ansu opened #275 "Tab Bar similar to Android"
HI Team,

Do we have tab bar similar to android?

[2016-03-31 14:57] danieldahan commented on #275
Hey, yes we are working on. Should be out shortly :)

[2016-03-31 14:58] #275 closed

[2016-03-31 15:00] danieldahan commented on #274
You mean the circle look for the buttons? Yeah, I think it would be cool to move things to an enum, and then be able to grow the effects for pulse. Nice suggestion. I'll leave this issue up, and will roll something out very soon.

[2016-03-31 15:08] RuslanPatyk commented on #274
No, not the circle look for the button, but the way the pulse behaves on a circle menu button of Inbox application. That circle button is just an example. First type - the type that is used now, second one - the type used on a button that I have written above and 3-d one is a combination of 1st and 2nd type, when 2nd type pulse is covered with 1st one, but 1st one is not as translucent as 2n one i

[2016-03-31 15:30] danieldahan commented on #274
I will look into it :)

As for the opacity, you could set the pulseOpacity, so you know.

[2016-03-31 15:33] RuslanPatyk commented on #274
Yes…

Thank you

[2016-03-31 17:27] diogoguimaraes opened #276 "TextField bottom border now showing until first highlight"
I'm having an issue with `TextFields` only since I've updated from `v1.37.3` to `v1.38.4` that prevents the bottom border of appearing when the text field is displayed.
The border only stays visible after highlighting the text field for the first time.

Do you have any idea of what it could be?
Thank you.

[2016-03-31 18:19] HowardCsie opened #277 "Change navigationItem titleLabel font size"
I used the code below to set my TitleLable.However, the font size of title label didn't change.Is there any way i can customize my title label font size?
[code]

[2016-03-31 18:30] danieldahan commented on #276
Let me look into it. There are TextField related issues that I will do in one swoop. I'll give you clear insight once I look into them later today.

[2016-03-31 18:31] danieldahan commented on #277
At the current moment they are a fixed size. In the next release, I will make it that you can customize it.

[2016-04-01 02:26] HowardCsie commented on #277
thank you:)

[2016-04-01 09:31] sverin opened #278 "Help with Grid layout and spacing when using Toolbar"
I having trouble using grid layout. I'm doing av ipad application with ToolbarController. But when I add the subviews to the root controller and add some contentInset and spacing it doesn't work as I expected.

I'm using the code below but with the presets, the height is calculated wrong. If I uncomment the row below for the contentInset and and increase the bottom value with the height of the too

[2016-04-01 15:59] gilthonweapps opened #279 "[CocoaPods] MaterialIcon not displaying"
Hi,

If you install Material with cocoapods, the icons from MaterialIcon (e.g. MaterialIcon.close) always return nil.

I submitted a PR a while ago that was fixing this issue, but I saw that you recently put back your old code...

[2016-04-01 16:39] danieldahan commented on #279
Hey,

When I tried your solution in an app without CocoaPods it broke and could not find the bundle. We would need to think of another solution.

[2016-04-01 17:17] danieldahan commented on #278
Most likely you are executing the `prepareView` method in the `viewDidLoad` method of the ViewController that is the rootViewController of the ToolbarController. At that point, the dimensions of the ViewController will be the screen, as the viewDidLoad method is executed prior to the relationship made with the ToolbarController. To avoid this issue, use the `viewDidAppear` method:

[code]

This sh

[2016-04-01 20:13] danieldahan commented on #279
I would like to solve this issue. So I am going to leave this up and we can work on it, or I will update you when I have come to a resolution. I will aim for this weekend to have a solution.

[2016-04-01 20:24] sverin commented on #278
Thank you, it works the way you describe.

[2016-04-01 20:24] #278 closed

[2016-04-01 23:45] ramonvic commented on #279
I also had this problem here, I fix by changing the path of the bundle
on MaterialIcon.swift line 34 to
`public static let bundle = NSBundle(URL: NSBundle(forClass: MaterialView.self).resourceURL!.URLByAppendingPathComponent("io.cosmicmind.Material.bundle"))!`

[2016-04-02 03:08] HarrisonJackson opened #280 "SideNavigation hideStatusBar swallowing touches"
This was definitely a tough one to track down, but I was able to find an acceptable workaround so maybe low priority if it's not biting too many people. Side note: Thanks for all the hard work and opening this to the community. Do yall have some links to apps Cosmic Mind has developed?

### Actual behavior

Touches are swallowed by the side navigation - content views with horizontal scroll or hori

[2016-04-02 03:16] HarrisonJackson commented on #280
Appears to be this:
https://github.com/CosmicMind/Material/blob/master/Sources/SideNavigationController.swift#L875-L877

[code]

[2016-04-02 16:42] danieldahan commented on #279
This has been resolved in [1.38.5](https://github.com/CosmicMind/Material/releases/tag/1.38.5). The fix is to check if the bundle can be found using the CocoaPods approach, and if not, use the default bundle location.

[2016-04-02 16:42] #279 closed

[2016-04-02 16:44] danieldahan commented on #280
I think that the issue is the userInteractionEnabled flag is being set to false during the statusBar `hide` animation. It is not necessary to combine that functionality. I removed it in [1.38.5](https://github.com/CosmicMind/Material/releases/tag/1.38.5). Please reopen or create a new issue if this persists.

As for apps by CosmicMind, we are working on one to release :)

[2016-04-02 16:44] #280 closed

[2016-04-02 18:33] levuhai opened #281 "preferredStatusBarUpdateAnimation = .Fade not working"
the status bar always slides up when opening menu from SideNavigationController
How can i change this behavior of SideNavigationController?

Thank you so much for your great work

[2016-04-02 18:52] danieldahan commented on #281
Hey! Thank you.

I will look into this.

[2016-04-03 01:14] levuhai commented on #281
in your examples, the status bar's hide animation is always slide, no matter how i change preferredStatusBarUpdateAnimation
while importing to my project, the animation is fade

[2016-04-03 02:28] ramonvic opened #282 "Additional components: BottonSheet and Dialogs"
It will be created components BottonSheet and Dialogs?

[2016-04-03 06:10] sverin opened #283 "AutoLayout when using grid"
I having trouble with the autolayout when using grid.

I setup the grid as follow from viewDidAppear:

[code]
But when I rotate the ipad the rendered sizes is still the same.
If I have the ipad in landscape mode when I start and then rotate it to portrait, the layout stays in landscape mode, i.e. the height is to small and the width to big.

How can this be avoided when I'm using grid?

[2016-04-03 06:18] sverin commented on #283
I solved it by relayout the grid on rotation. Is this how I should implement it?

[code]

[2016-04-03 16:17] danieldahan commented on #283
Yes, using the `reloadLayout` method is the correct approach :)

[2016-04-03 16:17] #283 closed

[2016-04-03 16:19] danieldahan commented on #282
Yes, I will put these in the upcoming list. Thank you!

[2016-04-03 16:20] danieldahan commented on #222
I added this to the upcoming list. Thank you!

[2016-04-03 16:20] #222 closed

[2016-04-03 16:22] danieldahan commented on #269
I added this to the upcoming list. Thank you!

[2016-04-03 16:22] #269 closed

[2016-04-03 16:37] ramonvic commented on #282
If you want help, I'll need to create these elements in the next days, if you want, I can do and push here, I'm loving this repository :)

[2016-04-03 16:38] #282 closed

[2016-04-03 16:38] ramonvic opened #284 "Missing Roboto Fonts"
Was deliberate not attach Roboto fonts in Pod? I saw that them are on the sources folder, but are not in the pod.

[2016-04-03 16:39] danieldahan commented on #282
Yeah, let's do it together :) Send me a PR, questions, whatever you need. Once you have something, I can add my input and help integrate it into Material.

[2016-04-03 16:39] danieldahan commented on #284
No, I will add them. Thank you!

[2016-04-03 16:40] ramonvic commented on #284
Thanks for the quick response.

[2016-04-04 22:13] neugartf commented on #255
Ran into the same problem, deleting the target that you selected solved the issue though.

[2016-04-04 23:12] danieldahan commented on #255
Try [1.38.5](https://github.com/CosmicMind/Material/releases/tag/1.38.5).

[2016-04-05 17:03] elsesiy commented on #255
@danieldahan Doesn't fix the problem for me. Still need to remove the target being created..

[2016-04-05 17:06] danieldahan commented on #255
That is weird. I have created an empty project and installed the pods without an issue. I am going to be making another release today or tomorrow, so I will double check all corners to see if I can find anything. Sorry about that.

[2016-04-05 17:08] elsesiy commented on #255
No worries, deleting the target works fine :+1: Thanks for the quick reply though!

[2016-04-06 00:11] ramonvic opened #285 "Question about change on Material Icons"
I checked that the Icons embedded in library are not same from Google Material Icons, this change was deliberated? if yes, i like know if has a method to set a custom images to 'MaterialIcon' class, because it is used internally and i like to go back for the google icons. Or i can make a PR with Google Icons back, and maybe add more icons. Whats your opinion?

[2016-04-06 01:14] danieldahan commented on #285
I am going to include both, the CosmicMind ones and the Google ones. I'll be doing a release later tonight with some updates, and those will be included.

[2016-04-06 01:25] ramonvic commented on #285
Great News. Thanks

[2016-04-06 02:25] danieldahan commented on #285
This is now fixed, and will be in release 1.39.0, that will come out later tonight. Thank you!

[2016-04-06 02:25] #285 closed

[2016-04-06 02:38] danieldahan commented on #229
In 1.39.0, which will be released shortly, there is a boolean flag ```clearButtonAutoHandleEnabled``` that when set to ```false``` disables the automatic handling for clearing the TextField ```text```. Thank you and all the best!

[2016-04-06 02:38] #229 closed

[2016-04-06 04:21] danieldahan commented on #203
This is now fixed in 1.39.0. :)

[2016-04-06 04:21] #203 closed

[2016-04-06 04:23] danieldahan commented on #241
This is now fixed in 1.39.0. You no longer need to setup the titleLabel. :)

[2016-04-06 04:23] #241 closed

[2016-04-06 04:24] danieldahan commented on #276
This was an issue that arose when the bottomLayer color handling was introduced. I fixed it in 1.39.0. Sorry for the delay on this.

[2016-04-06 04:24] #276 closed

[2016-04-06 05:28] danieldahan commented on #228
This is now fixed in 1.39.0. Thank you for bringing this to our attention :)

[2016-04-06 05:28] #228 closed

[2016-04-06 05:30] danieldahan commented on #277
This is going to be fixed in a separate release from 1.39.0. Should follow really quickly. Thanks for your patience.

[2016-04-06 05:31] danieldahan commented on #216
This is now added to upcoming :) Thank you!

[2016-04-06 05:31] #216 closed

[2016-04-06 06:11] danieldahan commented on #237
Hey! Sorry for the late handling on this. It is the next rework on the agenda. Thank you for your patience.

[2016-04-06 06:15] mohpor commented on #237
No problem at all. I understand.

[2016-04-06 06:25] jesusjjf commented on #236
I am attempting to use `UIImage` with` FabButton`, but no image is visible, just red round button. Am I missing something?

[code]

[2016-04-06 06:46] danieldahan commented on #284
Do you mind trying 1.39.0? If the issue persists, reopen the issue, or create a new one. Thank you!

[2016-04-06 06:46] #284 closed

[2016-04-06 06:50] danieldahan commented on #236
Yes, unless you have the "ic_create_white" image in your project, it won't appear.

If you update to 1.39.0 -- you can use this instead as an example:

[code]

[2016-04-06 07:02] jesusjjf commented on #236
Thanks for the reply. Unfortunately I can't get it to work.
Updated to 1.39 and used your example.

Upgraded Material to 1.39.0
![screen shot 2016-04-05 at 11 58 19 pm](https://cloud.githubusercontent.com/assets/2798097/14308357/7f1bb6f0-fb8a-11e5-9b76-c2d28c1e5f4d.png)

 ViewController.swift
![screen shot 2016-04-05 at 11 57 53 pm](https://cloud.githubusercontent.com/assets/2798097/14308365/8a1be

[2016-04-06 07:25] danieldahan commented on #236
I think it is the bundle identifier. Give me a sec, I am making an update to 1.39.2

---------------------------------------
Daniel Dahan

M: +1 647.627.0770
Skype: djondahan

[2016-04-06 07:26] HowardCsie commented on #277
How to use it? It is still not working.(using 1.39.1

[2016-04-06 07:28] danieldahan commented on #277
I am going to do your fix tomorrow. It is 4 am here, so I am tidying up the last fix. Sorry, but your fix requires some reworking I need to be fully awake for :)

---------------------------------------
Daniel Dahan

M: +1 647.627.0770
Skype: djondahan

[2016-04-06 07:31] HowardCsie commented on #277
okok. Have a nice dream~
It is 3:32 pm here (taiwan  :))

[2016-04-06 07:32] danieldahan commented on #277
:) Thank you!

[2016-04-06 07:32] sohayb commented on #203
Awesome 😍

[2016-04-06 07:57] danieldahan commented on #236
Alright, 1.39.3 works :)

[2016-04-06 08:49] GreyEcologist opened #286 "Dismiss after Transition not working"
Hey, from my masterViewController I transition to detailViewController:

[code]

But from the detailViewController I can't dismiss it back to masterViewController:
[code]
I tried either of the two calls, neither work. Both of the viewcontrollers are SideNavigationControllerDelegate. Not sure what I'm missing.

[2016-04-06 09:21] xaviermawet commented on #127
@chaitanya-ramji I tried something similar but it doesn't work. I've updated the AppLeftViewController.swift file of the "App" project in Examples. To make tests, I wanted to replace the BottomNavigationController by the PhotoViewController if the first row in the table menu is selected, otherwise by the VideoViewController :
[code]

But

1. The left view never closed. I had to close it before the

[2016-04-06 14:15] jesusjjf commented on #236
works! 👍  thank you!

[2016-04-06 15:10] ramonvic commented on #285
Worked for me now, but i had a fork and added some icons on Google, like

[code]

Tell me if i can make a PR. Would greatly appreciate be contributing to the library.

[2016-04-06 15:12] ramonvic commented on #284
The fonts are embeded now, but it not are loaded. this is because diferent bundle, i fixed it if you like ai can make a PR.

[2016-04-06 15:48] danieldahan commented on #286
The SideNavigationController doesn't present a ViewController, it transitions the rootViewController. This means that rather than adding a new ViewController to the view hierarchy, it swaps one out for another. So the dismiss method wouldn't work as it doesn't have a ViewController available.

You have two options...

1. Transition back to the original ViewController, using the same approach with

[2016-04-06 15:48] #286 closed

[2016-04-06 15:50] danieldahan commented on #285
Yeah, that would be great! Please send the PR to development, and please in the MaterialIcon file, add the values alphabetically. Makes everything so much easier to maintain. We are adding more icons today as well.

Thank you!

[2016-04-06 16:04] ramonvic commented on #285
i do this right now

[2016-04-06 17:58] danieldahan commented on #127
There is a breakage here.

[2016-04-06 17:58] danieldahan commented on #127
I am looking into it.

[2016-04-06 18:10] danieldahan commented on #127
@xaviermawet @chaitanya-ramji

So the issue is, the RecipesViewController has a line of code in the ```viewWillDisappear``` method that disables the ```sideNavigationController```

[code]

That line should actually go into the ItemViewController's ```viewWillAppear``` method. Once that change is made, you will find that this line of code in the AppLeftViewController works as expected.

[code]

Tha

[2016-04-06 18:10] #127 closed

[2016-04-07 05:10] aoiserizawa opened #289 "DerivedData"
guys Im having problem on running one of my project, it says "Products/Debug-iphonesimulator/Material/io.cosmicmind.material.fonts.bundle: No such file or directory"

I checked the location it cant find it because it creates its file inside Products/Debug-iphonesimulator/Material/Material/.io.cosmicmind.material.fonts.bundle any solution about this? Im using the latest xcode and latest release of

[2016-04-07 13:40] ramonvic commented on #289
The author is aware about this, PR #288  fixed this, i hope so he merge it today

[2016-04-07 14:03] aoiserizawa commented on #289
thanks!!

[2016-04-07 16:56] danieldahan commented on #289
Hey!

An update has been merged into development, thanks to @ramonvic. We are going to make a release today, which will include the additions made.

All the best!

[2016-04-07 23:31] danieldahan commented on #289
[1.39.5](https://github.com/CosmicMind/Material/releases/tag/1.39.5) has been published, please try using the fonts now. As well, clear your DerivedData folder and clean your build folder.

All the  best and thank you @ramonvic :)

[2016-04-07 23:31] #289 closed

[2016-04-08 15:40] RuslanPatyk commented on #274
It would be nice to reduce pulse delay on tap, it will give more responsiveness

[2016-04-08 16:59] danieldahan commented on #274
Yeah, when I rework the pulse, I will see what can be done. Any suggestions?

[2016-04-08 23:57] hidrodixtion commented on #174
`transitionFromMainViewController` is now `transitionFromRootViewController`

[2016-04-09 14:14] HowardCsie commented on #107
Same problem.But i don't get you :(

[2016-04-09 14:29] danieldahan commented on #107
You have to set the value in the info.plist file.

[2016-04-09 18:21] gilthonweapps opened #292 "Appearance behavior"
Hi,

Really great lib. I love it and am busy implementing it everywhere in my app :-)

You should add a way to have a global appearance config for your classes using the UI_APPEARANCE_SELECTOR marker.
For example, if I want all my material views to use the same pulseColor, I should be able to write something like: Material.appearance().pulseColor = UIColor.redColor();

Thanks for the great work :+

[2016-04-09 18:22] danieldahan commented on #292
Awesome, thank you! We are planning to launch a Theme API, which would do what you are describing :)

[2016-04-10 16:28] HowardCsie opened #293 "Add textfield to CardView?"
Is there any possibility add textfield to CardView?
I want to make a pop-up login view.

[2016-04-10 16:29] danieldahan commented on #293
Yeah add it to the detailView property. That accepts anything that is derived from UIView :)

[2016-04-10 16:29] #293 closed

[2016-04-10 16:31] HowardCsie commented on #293
Thanks. I ll try it.

[2016-04-11 06:15] zgosalvez opened #294 "Pulse Animation Sometimes Not Triggered"
Given a pulse view that segues to another view controller. When you tap (and release quickly) the pulse view, the animation doesn't show. Unless I tap and hold a bit longer before releasing.

[2016-04-11 06:15] zgosalvez commented on #294
Clarified title.

[2016-04-11 15:06] danieldahan commented on #294
I'll look into it, might be an issue with animations firing on the same thread and disrupting each other.

[2016-04-11 18:08] danieldahan commented on #281
Hi there, if you checkout the example project in release [1.39.6](https://github.com/CosmicMind/Material/releases/tag/1.39.6) I added helpers to SideNavigationController to allow for different animations to be used. Thank you for bringing this to our attention. All the best!

[2016-04-11 18:08] #281 closed

[2016-04-11 20:54] danieldahan commented on #237
FYI, I will be solving these issues of the next couple days as I rewrite the TextView. Thank you for your patience.

[2016-04-12 00:25] juvs opened #295 "On secure text details label has weird behavior"
If you set secure for textfield (lets call "password"), and, lets said you validate emptiness and set detail label to some text after you press "go" on keyboard or "done" button, first time woks ok...

![screen shot 2016-04-11 at 7 20 27 p m](https://cloud.githubusercontent.com/assets/204912/14446374/f2e7b8a6-001a-11e6-84aa-9411adb23f2f.png)

But if you get focus of password again and press "go" o

[2016-04-12 00:52] juvs opened #296 "TextField Clear Button don't call textFieldShouldClear"
The normal behavior should call textFieldShouldClear delegate according to Apple's documentation:
[textFieldShouldClear](https://developer.apple.com/library/ios/documentation/UIKit/Reference/UITextFieldDelegate_Protocol/index.html#//apple_ref/occ/intfm/UITextFieldDelegate/textFieldShouldClear:) but when pressed clear button this not happen.

Based on #229 issue, you can replace the current handler

[2016-04-12 03:44] FateRiddle opened #297 "No way to visualize code? @IBDesignable or @IBInspectable?"
I love Material. But as a beginner in iOS development, I find visualized design with storyboard pretty attractive. So I'll simply put some of my questions:
1. Is there similar stuff to @IBDesignable or @IBInspectable in Material? So that I can see the outcome right away?
2. what about autolayout?
3. Is it possible to drag and draw on the storyboard instead of writing spesific numbers?
4. I install

[2016-04-12 11:02] RuslanPatyk commented on #294
Yes... I wrote about that in comments to my other issue connected with Pulse.

[2016-04-12 14:40] danieldahan commented on #297
Hi @FateRiddle

I will answer your questions with corresponding numbers:

1. Material has added @IBDesignable and @IBInspectable throughout the code base. So you can see it in storyboards as best as Apple supports it.

2. We have 3 layout mechanisms: Grid, MaterialLayout, and general alignment done by the components.

3. You can drag and drop the UI component you like to storyboard, and then chang

[2016-04-12 14:40] #297 closed

[2016-04-12 15:05] danieldahan commented on #296
Yes, I verified this issue and will be putting in a fix today with a release. Thank you!

[2016-04-12 15:27] danieldahan commented on #296
This is now fixed in [139.7](https://github.com/CosmicMind/Material/releases/tag/1.39.7), thank you for bringing this to our attention :)

[2016-04-12 15:27] #296 closed

[2016-04-12 15:30] danieldahan commented on #295
I am unable to verify this. Maybe you need to set this value?

[code]

Please confirm, or possibly give step by step instructions to reproduce. I know above you did outline steps, but all seems to work for me.

[2016-04-12 15:58] Vice-Pre commented on #237
Hello,

For me placeholderlabel don't show is face at all.. I got just the title label correctly.

By the Way of this couple days, if you could add the possibility to have placeholderlabel parameters, and titlelabel.text directly on the user panel of Xcode, it could be useful, don't you think?

Hope that you can make it Great (&fast) :-)
regards,

[2016-04-12 17:41] brandonroth opened #298 "TextView TitleLabel frame computed incorrectly"
There is an issue in the Textview class where the title label is computed incorrectly if the frame of the text field hasn't been set yet.  This can occur if you set the text before the view is laid out.  I saw it mentioned in issue #237 that TextField was going to be rewritten so I'm not sure how relevant this is.

Steps to reproduce

1: Add a TextField to a view controller.
2. Setup the TextField

[2016-04-12 17:44] danieldahan commented on #298
Thank you for this. Things will change significantly. I plan to rewrite the TextView in preparation for additions we want to add down the road :) I will keep this up until the effort is complete as the steps you outlined are important.

[2016-04-13 03:01] HowardCsie opened #299 "sideNavigationController crash"
<img width="745" alt="2016-04-13 11 01 13" src="https://cloud.githubusercontent.com/assets/17197816/14481609/4dc3de60-0167-11e6-8ca7-67d81621b06f.png">
SideNavigationController works fine in simulator but crashes in real device.

[2016-04-13 03:13] danieldahan commented on #299
What version are you running and on what device?

[2016-04-13 03:14] HowardCsie commented on #299
lates material 1.39.7. Runned on iPhone 5s.

[2016-04-13 03:15] danieldahan commented on #299
Okay, tomorrow morning I will look into it. Thank you.

[2016-04-13 03:16] HowardCsie commented on #299
ok.thank you.have a nice dream:)

[2016-04-13 03:24] FateRiddle opened #300 "cannot assign to property: 'clearButton' setter is inaccessible & more question"
1. I drag a UITextField into the storyboard, then ctrl drag into ViewController
`@IBOutlet weak var textField: UITextField` then I change its class to TextField, it works just fine. But when I copy paste the following code into my ViewController's ViewDidLoad()

`
textField.placeholder = "First Name"
textField.placeholderTextColor = MaterialColor.grey.base
textField.font = RobotoFont.regularWithSi

[2016-04-13 03:29] danieldahan commented on #300
No worries :)

The TextField was recently updated, which actually removes all that setup. Checkout the [storyboard examples](https://github.com/CosmicMind/Material/tree/master/Examples/Storyboards) to help get you started. There is a TextField example.

On the [home](https://github.com/CosmicMind/Material/wiki) page of the wiki, there is a setup lesson, which will help you setup the example projec

[2016-04-13 03:29] #300 closed

[2016-04-13 03:29] ramonvic opened #301 "TextField Crash (attempted to retain deallocated object)"
As `Textfield.hideTitleLabel` is async, when the complete block is executed, the text field already gone deallocated

![screen shot 2016-04-13 at 12 23 22 am](https://cloud.githubusercontent.com/assets/87956/14481972/22546316-010e-11e6-8121-5e11a2651d1c.png)

[2016-04-13 03:30] ramonvic commented on #301
i can make a PR?

[2016-04-13 03:31] danieldahan commented on #301
Yes you can :)

[2016-04-13 03:32] ramonvic commented on #301
Changing [unowned self] to [weak self] fix that

[2016-04-13 03:37] FateRiddle commented on #300
@danieldahan Thanks! I've followed setup, the example deleted the storyboard and wrote all the code in ViewDidLoad. I've got several labels and textfields to edit, should I write everything in there? D;

[2016-04-13 08:46] plokijuhhb opened #303 "io.cosmicmind.material.icons.bundle: No such file or directory"
please forgive me for my poor English.
hello
i can't build success  when i use Material by cocoapods

`Build/Products/Debug-iphoneos/Material/io.cosmicmind.material.fonts.bundle: No such file or directory
 `
`Build/Products/Debug-iphoneos/Material/io.cosmicmind.material.icons.bundle: No such file or directory`
two error

when i delete it in target `Copy Bundle Resource`   I can  build success
![sn

[2016-04-13 10:32] psuedonovicecoder opened #304 "Crashing upon adding two card views"
Storyboard implementation of two card views crash giving a Thread 1:EXC_BAD_INSTRUCTION (code=EXC_I386_INVOP, subcode=0x0) error, highlighting the Title Label

[2016-04-13 11:46] RuslanPatyk opened #305 "Interface Builder issue"
When I use Material's views in IB as custom classes, I always get strange messages:
- Failed to update auto layout status. The agent crashed
- Failed to render instance of Material View: The agent crashed

I do not know whether it is Apples's issue or your, but it was in Xcode 7.2 and now after update to 7.3 it has not been fixed. Please look.

Thank you

[2016-04-13 12:39] #299 closed

[2016-04-13 12:43] HowardCsie commented on #299
I fixed it by delete all my DerivedData.Thanks anyway.

[2016-04-13 14:13] danieldahan commented on #299
cool :)

[2016-04-13 15:21] MPiccinato opened #306 "Default iOS Clear Button on TextField"
I cannot seem to get the default Clear button to display on the TextField. Any ideas how to go about this?

[2016-04-13 16:00] MPiccinato opened #307 "Allow LineLayer height to be customized"
Right now it appears that the lineLayer height defaults to 1 when not active and 2 when active.

It would be nice to be able to adjust this size.

Typically I would just override the methods but with the internal/private funcs it doesn't seem possible.

[2016-04-13 16:01] danieldahan commented on #307
I can add some properties you can set that will enable this :)

[2016-04-13 17:05] danieldahan commented on #307
This has been fixed and is in the development branch. I will be making a release later today.

[2016-04-13 17:18] MPiccinato commented on #307
Awesome! Thanks, I would have made a pull request myself but a little swamped today. I appreciate it.

[2016-04-13 17:18] #307 closed

[2016-04-13 18:59] danieldahan commented on #306
So this was an interesting issue. The clearButton uses the clearButton property, obviously. The KVO value internally is _clearButton which actually creates an issue, since the original clearButton is no longer accessible. So the best solution, without causing weird naming, would be to update the image of the clearButton and remove the pulse animation.

I am not in favor of changing the name of the

[2016-04-13 19:03] MPiccinato commented on #306
I think it would be a reasonable approach to mimic the native clearButton. I'll give it a go, thanks!

[2016-04-13 19:03] danieldahan commented on #305
Do you mind sending me an example of this?

[2016-04-13 19:06] danieldahan commented on #306
Well by mimic, do you mean make it exactly what it is? We can discuss it prior to any effort being made? The idea of the clearButton is to create the appearance of Material Design, since the component is fully geared that way. If all it takes is an image update and no one is the wiser, what would extra logic add?

Mainly I want to understand the thinking here so we can come to the best solution.

[2016-04-13 19:07] danieldahan commented on #304
Would you be able to provide an example of this? I added as a test another CardView to the example project and all seemed well. Thank you!

[2016-04-13 19:12] MPiccinato commented on #306
Sorry if I wasn't clear. I am going to use an image, similar to the native clear button, and disable the pulse animation. No extra logic, just setting the props when setting up the control.

We really liked the floating label concept from Material and wanted to apply it to our forms but still keep the native feel when it came to buttons, such as the default clearButton.

[2016-04-13 19:14] danieldahan commented on #303
Well I cannot really comment on `beta` software by CocoaPods. I ran the pod install using the stable version and all worked well. It seems in CocoaPods' new version they are eliminating the hackiness of bundles. When they are stable, we will support the 1.* release. For now, only their stable versions. All the best and feel free to reopen or create a new issue if you need help :)

[2016-04-13 19:16] danieldahan commented on #306
Ah... Cool. We are planning on launching a really cool feature based on Theming which will essentially allow combinations and consistency with each platform. So much ahead and I appreciate your help in making things awesome. I will close this for now.

[2016-04-13 19:16] #306 closed

[2016-04-13 19:17] danieldahan commented on #301
So this is fixed in the development branch. Thank you! I am going to close this for cleanup purposes, and later today there will be a release with the fix.

[2016-04-13 19:17] #301 closed

[2016-04-13 19:18] danieldahan commented on #295
So I am not able to reproduce this issue. If you can provide an example project or more guidance that would be great. Until then, I am going to close this issue. Please feel free to reopen or create a new one if the issue persists.

[2016-04-13 19:18] #295 closed

[2016-04-13 19:43] danieldahan commented on #307
Released :)

[2016-04-13 20:04] danieldahan commented on #304
Hi, I updated the storyboard CardView example to use two CardViews in release [1.39.9](https://github.com/CosmicMind/Material/releases/tag/1.39.9). Hopefully this helps. If you have any further issues, please reopen or create a new one. Thank you!

[2016-04-13 20:04] #304 closed

[2016-04-13 20:12] danieldahan commented on #300
For question 2: You should choose the corresponding view. So if you want a button, you should choose UIButton, and if you want a CardView, you should choose a UIView. Choosing a UILabel and then setting it to CardView will cause issues. If you want to see the type of view you should choose for each item in Material, the easiest way is to look in the class files and see the class that the Material

[2016-04-13 21:18] juvs commented on #295
Sorry for the delay...
Using `textField.detailLabelAutoHideEnabled = false` and later when done the validation manually call `textField.detailLabelHidden = true` or `textField.detailLabelHidden = false` depending the result of validation.

I see this more like a workaround, because the normal behavior works ok for "normal" textfields.
Thanks for you help

[2016-04-13 22:04] danieldahan commented on #295
If you can provide me a working example project, I would love to solve this without work arounds. I still consider Material to be at the foundation stage, and I want that to be as solid as possible :)

[2016-04-14 03:53] plokijuhhb commented on #303
Thanks when I use CocoaPods version 0.39.0  all well now  :P

[2016-04-14 06:30] HowardCsie opened #308 "TextField borderColor Not Changing"
![img_5654](https://cloud.githubusercontent.com/assets/17197816/14518781/d4e7f274-024c-11e6-807e-9c0d65ed73aa.jpg)

I used the code below to change my textfield border from black to white, but it failed.
Nothing changed. Did i use the correct way to change the color of my textfield line?
`passwdTF.borderColor = MaterialColor.white`

[2016-04-14 14:22] danieldahan commented on #308
Did you set a borderWidth?

[code]

[2016-04-14 14:25] HowardCsie commented on #308
No,I didnt use that.let me try:)

[2016-04-14 17:45] danieldahan commented on #303
Sweet :)

[2016-04-14 17:47] danieldahan commented on #308
oh... the lineLayer?

There are 4 color settings you can set:

[code]

[2016-04-14 17:48] #303 closed

[2016-04-14 17:49] danieldahan commented on #305
I haven't been able to reproduce this. If you can send a project that I can then use to reproduce this, it would be great. Until then, I will close this issue. Thank you!

[2016-04-14 17:49] #305 closed

[2016-04-14 17:51] RuslanPatyk commented on #305
Hi, Daniel

I did not have time at all to do this today,
I will try to make a project for you tomorrow.

Thanks,
Ruslan

[2016-04-14 17:53] danieldahan commented on #305
No rush. I like to leave active issues up, so once you have a reproducible project, we can reopen this :)

[2016-04-14 18:06] HowardCsie commented on #308
Thanks a lot :DDD

[2016-04-14 18:06] #308 closed

[2016-04-14 22:15] leandono commented on #303
Hello!
Is there other alternative than downgrade cocoapod? All our team has the beta6 version and for some developers is a little hard do the downgrade.
A workaround that we found to solve the problem is install Material using Carthage and then add it manually into the project.... but we think that is not the best approach to solve the problem,
Thanks!

[2016-04-14 22:26] danieldahan commented on #303
You could follow this [lesson](https://github.com/CosmicMind/Material/wiki) that will show you how to add the framework to a Workspace. CocoaPods uses a Workspace, so you can add it to that one. That is a way better approach than using Carthage.

[2016-04-14 22:44] psuedonovicecoder opened #309 "SideNavigationBar Example Unclear"
The SideNavigationBar example is a bit unclear on how to transition the RootVC to a different VC.
I am am aware of the stackoverflow question/answer addressing this issue but it is a bit vague and hard to understand. Since a common usage of the sidenavigationbar is to change ViewControllers, I thought it would be a good idea to include it in the SideNavigationBar example

Thank you so much for you

[2016-04-14 22:56] danieldahan commented on #309
Hey :) Yes, we can update the example. I will do it later today, or latest tomorrow morning.

[2016-04-15 03:32] HowardCsie opened #310 "Cardview Issue when enabling pulseScale"
I used Cardview to design my login pop-up window ,and i added the RaisedButton to my detailView of Cardview.It looks fine below.
![img_5658](https://cloud.githubusercontent.com/assets/17197816/14550566/4fa44648-02fc-11e6-9418-1851ef5ff71c.jpg)

However , i got the blurry button after triggering the pulseScale effect.
Is this a bug?Thanks.
![img_5659](https://cloud.githubusercontent.com/assets/1719

[2016-04-15 03:57] levuhai commented on #309
+1

[2016-04-15 04:02] levuhai opened #311 "App Example project"
In your App example Delegate.swift

When setting SideNavigationController rootViewController as AppMenuViewController, when opening side menu, the whole view won't slide up

let sideNavigationController: SideNavigationController = SideNavigationController(rootViewController: menuViewController, leftViewController: AppLeftViewController())

While setting its root view controller as AppNavigationCon

[2016-04-15 14:39] danieldahan commented on #311
This is a weird issue with Apples approach to hiding the statusBar. I have been playing with ways to make it work, and so far the only way is the using the menuViewController as you stated above. I will leave this issue up and see if I can come up with a better approach.

[2016-04-15 14:42] danieldahan commented on #310
Hey, This could be an effect of rasterization... can you share more about your setup? Also, if you want the height of the CardView and you are using AutoLayout, you should call `layoutIfNeeded` and then the height should be available to you.

[2016-04-15 14:42] danieldahan commented on #309
I am going to update this today :)

[2016-04-15 17:01] ramonvic opened #313 "Create Automatic TitleLabel"
Hi, for each viewController I create, I need create a `UILabel` for this viewController, the `NavigationBar` can be changed to make this work, based in `viewController.title` and `UINavigationBar.appearance`,
Or you make this propositally?
I also saw that the width of titleView is the width of the navigationBar, overlapping the rightButtons, you saw this?

[2016-04-15 17:02] ramonvic commented on #313
With this, the font and fontSize of the title can be changed dinamically

[2016-04-15 17:05] danieldahan commented on #313
Nice, yes I wanted to visit this again to help in this issue [277](https://github.com/CosmicMind/Material/issues/277). I am going to take a look at the titleView overlapping the rightButtons, it shouldn't. That would be a bug, possibly a regression.

[2016-04-15 17:18] ramonvic commented on #313
I try fix that and Make a PR

[2016-04-15 17:19] danieldahan commented on #313
Perfect! I would appreciate that very much :)

[2016-04-16 03:53] danieldahan commented on #309
Please check [1.39.12](https://github.com/CosmicMind/Material/releases/tag/1.39.12), the Example/Programmatic/SideNavigationController project has been updated to demonstrate how to transition the rootViewController. If you need any help, reopen or create a new issue. All the best :)

[2016-04-16 03:53] #309 closed

[2016-04-17 01:57] psuedonovicecoder opened #315 "Stuttering with transitioning from a ViewController with CardViews to another blank view"
I am getting quite a bit of stuttering when i transition from a view controller that has CardViews to another ViewController

`self.navigationController?.pushViewController(exampleLoadViewController(), animated: true)`

where `self.navigationController?` is the VC with cardviews and exampleLoadViewController() is the VC I am trying to transition to.

Example of this:

![error](https://cloud.github

[2016-04-17 12:32] danieldahan commented on #315
Hey,

Are you testing against a view that does not have a transparent background? The lag may be due to the animation from the right taking place, but you are not seeing it since that VC `exampleLoadViewController` does not have a background.

[2016-04-17 12:57] psuedonovicecoder commented on #315
exampleLoadViewController is basically a blank view controller that I added in my storyboard. So I am assuming that it has a default background

[2016-04-17 13:03] danieldahan commented on #315
Try adding one, because I don't see it in the animation you sent me.

[2016-04-17 14:50] psuedonovicecoder commented on #315
I set the target VC to the default background color and the problem persists.
I also noticed the same problem with other buttons (that are not Material)
So I think the problem may not arise from Material

[2016-04-17 14:50] #315 closed

[2016-04-17 15:10] danieldahan commented on #315
If you would like to package an example project and send it to support@cosmicmind.io we may be able to help. All the best :)

[2016-04-17 15:42] mohpor opened #316 "Wrong TextField Placeholder text (and titleLabel text) after changing Placeholder + Refocus focus"
## Steps to reproduce:

1. Setup a `TextField` and set a placeholder text
2. Start typing
3. (While still focused) Clear the text field programmatically and change the placeholder string (Placeholder will be right at this point)
4. Focus on the text field
5. Leave the text field (at this point the placeholder string will get back to the original value)

## Reason:
`showTitleLabel()` uses a variabl

[2016-04-17 18:47] danieldahan commented on #316
Good catch. I will add this to the release later today. Thank you!

[2016-04-17 19:20] danieldahan commented on #310
Hi @HowardCsie I haven't heard from you, so I am going to assume your issue is resolved. One reason you may get the blurry effect is because you are using non-integral values for the button. If you are using AutoLayout, this could be because of a different issue. When you have the time, please show me the code you are using to create this and then I can help you further. Thank you!

[2016-04-17 19:21] danieldahan commented on #313
We can continue this issue within the PR. I am closing this for cleanup purposes. Thank you :)

[2016-04-17 19:21] #313 closed

[2016-04-18 00:30] danieldahan commented on #316
As always, I appreciate you bringing this to our attention. It is now fixed in [1.39.13](https://github.com/CosmicMind/Material/releases/tag/1.39.13).

[2016-04-18 00:33] danieldahan commented on #316
Sorry, I didn't see that you would submit a PR.

[2016-04-18 03:36] mohpor commented on #316
Thanks and No problem
I had fixed it in my PR but I didn't got the time to actually test it, therefore, No PR from me.

Thanks again
Glad to be of any help
M.

[2016-04-18 03:48] mohpor commented on #316
Sorry to bother you again,
This fix doesn't work. When I was working on it yesterday, I did the same thing (at first) and forgot to consider this fact that `showTitleLabel()` actually sets the `placeholder` to `nil` after storing it in `placeholderText` therefore in the `didSet` we will lose the placeholder value altogether! The only way I could think of (without introducing a new state variable)

[2016-04-18 03:50] JackoPlane opened #317 "[Request] Pull To Refresh"
Is the currently any plans to support Material's Swipe to Refresh control? Documentation: https://www.google.com/design/spec/patterns/swipe-to-refresh.html#swipe-to-refresh-swipe-to-refresh

[2016-04-18 03:52] danieldahan commented on #317
Yeah, I will add it to upcoming :)

[2016-04-18 03:52] #317 closed

[2016-04-18 03:52] danieldahan commented on #317
I plan to implement the upcoming list within the next couple weeks.

[2016-04-18 03:53] mohpor commented on #316
Well, that won't work either! in the `showTitleLabel()` the `titleLabel` is still hidden.

[2016-04-18 03:56] danieldahan commented on #316
In the original fix I went with your recommendation. I think that a rethink in some aspect of the TextField would be a good idea. Tomorrow I can work on it as I continue my work on the TextView. Either way there will be a fix, but I don't want to push one tonight and then not be around for the next 12 hours. If you can think of an approach that would be great too.

[2016-04-18 03:58] mohpor commented on #316
Yeah, my original idea sucked. That's why I didn't submit a PR at the first place.
I'm working today and I will find the time to do some thinking on at and I will share my ideas later on.
a bientôt

[2016-04-18 07:23] sajeelmuhammed opened #318 "Side navigation bar for a single viewcontroller"
I have a storyboard application written in Swift 2.0. Is there any way to use Side Navigation in a single View Controller. I tried implementing it as specified in the WiKi, to include the code in the AppDelegate, but unfortunately its applying to all the View controllers.

[2016-04-18 07:39] HowardCsie commented on #310
`func xibSetup() {
        let view = NSBundle.mainBundle().loadNibNamed("loginView", owner: self, options: nil).first as! UIView
        view.frame = self.bounds
        view.backgroundColor = UIColor(red: 23/255, green: 181/255, blue: 218/255, alpha: 1)

        accountTF.placeholder = "單一入口帳號"
        accountTF.placeholderTextColor = UIColor(red: 1, green: 1, blue: 1, alpha: 0.8)
        accoun

[2016-04-18 15:38] danieldahan commented on #318
In the UIViewControllers you do not want the SideNav to be enabled, set the `enabled` flag to `false`. It works best to set it in the ```viewWillAppear``` method.

[code]

All the best and please reopen or create a new issue you need more help :)

[2016-04-18 15:38] #318 closed

[2016-04-18 16:04] hvbnet opened #320 "SideNavigation issue: main view gesture does not handle gesture correctly when user pan to close Left/Right sidebar"
You can try this scenario with your main App example.
Open sidebar, then try to pan for close sidebar and also scroll tableview
You must see that sometime tableview does not scroll and user think app hang. but if user remove hand from screen and pan again for scroll it work without any problem

Please note that i use map view on mainView and hang many times.

Thanks in advanced

[2016-04-18 16:19] hvbnet opened #321 "Please make public leftViewWidth/rightViewWidth of SideNavigationController"
Please make public leftViewWidth/rightViewWidth of SideNavigationController if possible.

Thanks

[2016-04-18 17:05] danieldahan commented on #321
You can set the `leftViewWidth` and `rightViewWidth` through the `setLeftView` and `setRightView` functions. The reason for this, is because of the management of internal values that follow. If you need further help, please reopen or create a new issue. Also, if you can suggest why you need those to be public setters, that would be great.

[2016-04-18 17:05] #321 closed

[2016-04-19 10:13] xaviermawet opened #322 "SideNavigationController gestures in conflict with the rootViewController subview gestures"
Hi,

I've a NavigationController as the rootViewController of a SideNavigationController. The embedded ViewController of the NavigationController has a document viewer/editor (PSPDFKit) as a subview. This subview (the document editor) requires tap gestures and pan gestures for annotations. But the gestures require by the document editor are "hidden" by the SideNavigationController gestures.

I've

[2016-04-19 11:03] saipnc opened #323 "Card view depth"
Hi,

I'm using card view with depth to show shadow effect which is even for all sides. Can we mimic like android's behaviour like the shadow effect is not even from all the sides, it varies from side to side.

[2016-04-19 11:05] riteshtechno commented on #316
Hello folks,

I am using this since the beginning and i am facing the same issue my side too. Let me know once you can fix that as i am stuck on this change.

Quick change is highly appreciated.

Thank you in advance.

[2016-04-19 11:10] jlichti commented on #316
I also hit this issue.

As a quick workaround I just wrapped the setting of placeHolderText inside the didSet for placeholder in a nil check so it wouldn't overwrite. (~line 380 in TextField.swift)

`if nil == placeholderText {
                placeholderText = placeholder
            }`

[2016-04-19 11:11] mohpor commented on #316
It works but fails when you want to remove the placeholder.

[2016-04-19 11:14] jlichti commented on #316
Yeah - true. Certainly not a robust solution but works for my small use as a workaround.

[2016-04-19 11:14] mohpor commented on #316
Yeah, definitely works. Should revise the whole mechanism.

[2016-04-19 11:15] danieldahan commented on #316
I'll be posting a solution later today with a couple of other issues fixed.

[2016-04-19 11:17] mohpor commented on #316
I was thinking about it today. The only thing I could come up with was to introduce a new public variable that holds on to the placeholder value, propagates the changes to the underlying mechanism.

It has the caveat of introducing a small redundancy and breaking the `UiTextField` api.

[2016-04-19 11:21] danieldahan commented on #316
I'll have a better idea of my solution in a couple hours when I am in front of my computer. All the suggestions though are good, as they are pointing out edge cases that still exist. I'll probably rework the internals to handle this more appropriately than introduce a quick fix.

[2016-04-19 11:24] danieldahan commented on #323
Sounds good. I will take a look later today.

[2016-04-19 11:26] danieldahan commented on #322
I will be revisiting the pan gestures later today. Let me see what is possible :)

[2016-04-19 11:27] danieldahan commented on #320
Yes, I noticed this too, when you pan downward it actually triggers the SideNav to move. I would like to fix this today. I'll update you shortly.

[2016-04-20 05:33] riteshtechno commented on #316
Hey Man,

Let me know if you have committed the patch so that i can work on that new patch.

Thanks.

[2016-04-20 06:38] mukeshthawani opened #326 "Example for MaterialTableViewCell."
Hi,

I was looking for an example or any help in using MaterialTableViewCell but it is present in the wiki. Can you add any example for that or any link so that like others this also becomes easier to implement?

Thanks

[2016-04-20 11:14] RuslanPatyk opened #328 "Pull to refresh / RefreshControl"
It would be nice to have google like refreshcontrol (something like in Google Inbox)

[2016-04-20 11:21] danieldahan commented on #316
@riteshtechno Yes, almost done. Will be out later today. Thank you! :)

[2016-04-20 11:22] danieldahan commented on #328
I'll add it to the Upcoming. Thank you!

[2016-04-20 11:22] #328 closed

[2016-04-20 14:04] danieldahan commented on #326
Hi, you can find an example of using the MaterialTableViewCell in the [App](https://github.com/CosmicMind/Material/tree/master/Examples/Programmatic/App) example project. I am working on new documentation, so finding resources will be easier. Please feel free to reopen or create a new issue if you need any help. All the best!

[2016-04-20 14:04] #326 closed

[2016-04-20 16:41] HowardCsie commented on #80
Hello.Is now there a easy way to switch different rootViewController ?

[2016-04-20 16:42] danieldahan commented on #80
Use the SideNavigationController `transitionFromRootViewController` method.

[2016-04-20 16:58] HowardCsie commented on #80
`let storyboard = UIStoryboard(name: "Main", bundle: nil)
        let mainTVC =  storyboard.instantiateViewControllerWithIdentifier("MainTVC") as! MainTVC
        let navigationController: NavigationController = AppNavigationController(rootViewController: mainTVC)
        window = UIWindow(frame: UIScreen.mainScreen().bounds)
        window?.rootViewController = SideNavigationController(rootViewCo

[2016-04-20 17:05] danieldahan commented on #80
If you want to support the backButton, then you need to use a NavigationController as your rootViewController in the SideNavigationController. The option is also to use a NavigationController in the AppLeftViewController to support the backButton there as well.

[2016-04-20 22:41] danieldahan commented on #316
@riteshtechno and for those who are monitoring this issue. I am testing the solution I would like to push. Should be done momentarily.

[2016-04-20 23:55] danieldahan commented on #316
Hey guys, please try [1.39.14](https://github.com/CosmicMind/Material/releases/tag/1.39.14). Thank you!

[2016-04-20 23:55] #316 closed

[2016-04-21 03:00] danieldahan commented on #310
Where is your code being loaded? Is this in a UIView or UIViewController? I noticed that you are using a property called `view`, which would not be good in a UIViewController, since it may conflict with the UIViewController `view` property. Other than that, your code looks fine. This leads me to believe it is in your Storyboards layout. What is the layout configuration of your button, cardview, an

[2016-04-21 03:09] HowardCsie commented on #310
This is being loaded by ```UIview```
Here is the init.
[code]
Here is the button autolayout.
<img width="677" alt="2016-04-21 11 09 00" src="https://cloud.githubusercontent.com/assets/17197816/14696877/7977d61a-07b1-11e6-9888-913f4bfd62b2.png">

[2016-04-21 06:15] mohpor commented on #316
Thanks @danieldahan,
I can confirm it solves the problem.

[2016-04-21 06:34] riteshtechno commented on #316
I think its even worse. Now the place holder color gets changed in default place and nothing seems to be working.

[2016-04-21 06:43] mohpor commented on #316
@riteshtechno
Lets focus on the issue. If the placeholder color is not working right, open a new issue.

[2016-04-21 06:53] danieldahan commented on #316
@riteshtechno The color issue is a new issue, and in general that would be a simple fix. If you open an issue with an example where it is breaking, or a suggested PR with the updated code from 1.39.14, we can release a new update.

[2016-04-21 07:25] mohpor opened #330 "TextField's titleLabel doesn't get hidden when text get cleared programmatically"
### How to reproduce:

1. Setup a `TextField`, set placeholder text
2. On an event like button's action release the focus from text field
3. On another event (later on) clear the text field's value

### Expected result:
`TextField` should hide the title label and display the placeholder text only

### Actual result:
`TextField` displays both placeholder and titleLabel

### Reason:
To call the `hid

[2016-04-21 07:51] #330 closed

[2016-04-21 08:58] danieldahan commented on #310
I still don't see any issue. If you can send a sample project with this to support@cosmicmind.io, I will work on fixing it.

[2016-04-21 09:24] HowardCsie commented on #310
I sent it:))

[2016-04-21 11:40] saipnc opened #332 "TextField titleLabel issues"
Hi Guys,

In the recent update of the library, we have got new implementations of the TextField, we have an issue with the titleLabel animation. The titleLabel doesn't come back when nothing is typed (or when the text field is empty) in the TextField. We have gone through the implementation, we figured out that the hideTitleLabel function is not called when the handleEditingDidEnd if the text is e

[2016-04-21 12:12] saipnc commented on #323
Hi @danieldahan

Thank you very for the reply, when can this is be updated in the library?

[2016-04-21 12:15] danieldahan commented on #332
I am going to verify, as my tests returned different results. Thank you!

[2016-04-21 12:17] danieldahan commented on #323
Well first I need to verify the difference in shadowing and if it would look good, etc. I will probably need to make another update on the TextField today, so I will update this issue at the time as your other one, [332](https://github.com/CosmicMind/Material/issues/332) :)

[2016-04-21 12:18] saipnc commented on #323
@danieldahan, yes the TextField issue is important thanks :)

[2016-04-21 13:13] danieldahan commented on #332
@saipnc When you say the titleLabel doesn't come back, are you still focused on the TextField?

[2016-04-21 14:36] TonyStarkk commented on #332
Hi,

I have the same problem the label doesn't display anymore.

<img width="432" alt="capture d ecran 2016-04-21 a 17 35 22" src="https://cloud.githubusercontent.com/assets/6490189/14712857/829c42f4-07e7-11e6-95c2-5aab927d234a.png">
<img width="432" alt="capture d ecran 2016-04-21 a 17 35 17" src="https://cloud.githubusercontent.com/assets/6490189/14712859/8517b75c-07e7-11e6-9648-43e81dcf1f81.png

[2016-04-21 15:24] danieldahan commented on #332
@TonyStarkk  Can you confirm what version you are using, Material 1.39.15?

[2016-04-21 15:30] TonyStarkk commented on #332
I'am using Material 1.39.15.

[2016-04-21 15:31] danieldahan commented on #332
Do you mind sharing your code setup? I tried a few devices and I can't reproduce the issue. Thank you!

[2016-04-21 15:33] danieldahan commented on #332
@TonyStarkk I think this has to do with the internal setup of the titleLabel not having a frame size. Which is causing it to not display.

[2016-04-21 15:34] TonyStarkk commented on #332
how i can setup it ?

[2016-04-21 15:35] danieldahan commented on #332
Are you using AutoLayout to layout your views?

[2016-04-21 15:35] TonyStarkk commented on #332
Yes i am using stackview and autolayout

[2016-04-21 15:39] TonyStarkk commented on #332
<img width="1792" alt="capture d ecran 2016-04-21 a 18 39 15" src="https://cloud.githubusercontent.com/assets/6490189/14715131/5e68a81a-07f0-11e6-8a0f-10f31827e5b5.png">
<img width="1792" alt="capture d ecran 2016-04-21 a 18 39 03" src="https://cloud.githubusercontent.com/assets/6490189/14715135/6109bd70-07f0-11e6-8407-c00edc8462c3.png">

[2016-04-21 15:40] danieldahan commented on #332
If I pushed a change to development, would you be able to try it? Or if I gave you a line of code to change, would you be able to do that?

[2016-04-21 15:41] TonyStarkk commented on #332
Yes, as you want

[2016-04-21 15:42] danieldahan commented on #332
Please try development.

[2016-04-21 15:44] TonyStarkk commented on #332
You pushed i can try to update ?

[2016-04-21 15:44] danieldahan commented on #332
yes, please

[2016-04-21 15:46] TonyStarkk commented on #332
I tried but There is still no update

[2016-04-21 15:47] danieldahan commented on #332
Are you using CocoaPods to get the package?

[2016-04-21 15:48] TonyStarkk commented on #332
Yes :)
<img width="1792" alt="capture d ecran 2016-04-21 a 18 48 33" src="https://cloud.githubusercontent.com/assets/6490189/14715498/aec6b986-07f1-11e6-87a4-aa0728bbc4be.png">

[2016-04-21 15:50] danieldahan commented on #332
OKay, give me a sec, I will make a CocoaPods installation and do the test.

[2016-04-21 15:51] TonyStarkk commented on #332
Okay, thank you so much

[2016-04-21 15:51] danieldahan commented on #332
no worries, it is a pleasure :)

[2016-04-21 15:58] danieldahan commented on #332
Okay, all works for me. Which, now makes this more interesting. Would you be able to send me a sample project, or the one you have and I can see what the issue is?

[2016-04-21 15:59] TonyStarkk commented on #332
Yes give me a sec,
i send you it by email ?

[2016-04-21 16:00] danieldahan commented on #332
Yes, @ support@cosmicmind.io

[2016-04-21 16:19] saipnc commented on #332
@danieldahan in my case the titlaLabel once the text field becomes the first responder goes up and if nothing is typed it should come back right but the text field is out of focus it is not coming back. In earlier versions of the library, it is working well.

[2016-04-21 16:31] danieldahan commented on #332
@saipnc Yes, there was a regression. I am working to fix this. It seems this is only in certain cases. Can you explain your setup, are you using AutoLayout, etc... ?

[2016-04-21 17:15] TonyStarkk commented on #332
@danieldahan I've just send a sample of the project by we transfert, sorry for the time.

Thank you again

[2016-04-21 17:16] danieldahan commented on #332
Yes, I received it now :) Thank you. I will look into this.

[2016-04-21 17:16] saipnc commented on #332
Yes I'm using AutoLayout to position the text field with constraints: left, right and top.  This is happening in all the test fields for me. Do you want me to send a sample project?

[2016-04-21 17:17] danieldahan commented on #332
Yes if you don't mind, please send to support@cosmicmind.io The issue is related to AutoLayout in some setups. Thanks!

[2016-04-21 17:29] danieldahan commented on #332
@TonyStarkk I think the source files were stripped when sending the files.
![screen shot 2016-04-21 at 1 28 52 pm](https://cloud.githubusercontent.com/assets/9982123/14718511/2046cfba-07c5-11e6-8ff9-6b68283dc2db.png)

[2016-04-21 17:47] saipnc commented on #332
@danieldahan sent you the code through email. With details of the issues.

[2016-04-21 17:48] danieldahan commented on #332
@saipnc thank you

[2016-04-21 19:34] danieldahan commented on #332
@saipnc I have your project working now. One last case to handle, clearing the text programmatically.

[2016-04-21 20:52] danieldahan commented on #332
Please try [1.39.16](https://github.com/CosmicMind/Material/releases/tag/1.39.16). If the issue persists, please reopen or create a new issue. Thank you very much for helping with this @TonyStarkk @mohpor @saipnc

[2016-04-21 20:52] #332 closed

[2016-04-21 22:48] danieldahan commented on #310
@HowardCsie So in your loginView, you need to set the `contentScaleFactor`.

[code]

Also, if you do not want the shadow to be displayed, set the `depth` to .None, rather than setting the `shadowColor` to MaterialColor.clear.

[code]

And that should fix your issue. If the issue persists, please reopen or create a new issue :)

[2016-04-21 22:48] #310 closed

[2016-04-21 23:32] GreyEcologist commented on #249
Sorry didn't see the question, I hide the button and use removeTarget() on the method I had associated via addTarget(). The issue with that workaround is that even when hidden the button target area still prevents any user interaction, i.e in my case the button covers a table cell view and clicking in the area when the button was doesn't register events.

[code]

[2016-04-22 04:34] HowardCsie commented on #310
Thanks.It works.

[2016-04-22 06:55] saipnc commented on #332
Thanks a lot @danieldahan :)

[2016-04-22 11:05] kaunteya opened #333 "Raised Button font color cannot be changed"
I dont know if I am doing anything wrong, but I am not able to change font color when I try to configure `RaisedButton` from Storyboard. No matter what Color you choose, it ends up showing White color font

[2016-04-22 15:34] danieldahan commented on #323
Hi @saipnc I updated the depths in [1.39.17](https://github.com/CosmicMind/Material/releases/tag/1.39.17) to give a better balance of the shadows. You as well can customize it further if you like. I added a MaterialDepth example project in the Programmatic directory if you would like to test it out.
![screen shot 2016-04-22 at 11 19 19 am](https://cloud.githubusercontent.com/assets/9982123/1474651

[2016-04-22 15:34] #323 closed

[2016-04-22 15:35] danieldahan commented on #333
Yes this was an issue and not it should be fixed in [1.39.17](https://github.com/CosmicMind/Material/releases/tag/1.39.17). Thank you for bringing this to our attention.

[2016-04-22 15:35] #333 closed

[2016-04-24 17:06] colinmorelli commented on #274
@danieldahan if you plan on re-working the pulse, I do have a suggestion: I'd love to see the pulse bounds be resized, rather than scaled. In cases where you can see the bounds of the pulse, the edges are very distorted because of the scaling.

[2016-04-24 17:19] danieldahan commented on #274
@colinmorelli nice. Yes that is primarily why I want it redone. To make it crisp. Excellent suggestion.

[2016-04-25 06:01] zgosalvez opened #334 "Setting `textField.titleLabel.font` does not change the font size."
Note: these might be two separate issues.

- Setting `textField.titleLabel.font` does not change the font size but the frame is smaller/bigger.
- I noticed that in `showTitleLabel()` the `titleLabel.font` is set to the TextField's font. However there is no corresponding code to reset to the original `titleLabel.font`.

Also proposing to change the default `titleLabel.font` to `RobotoFont.regularWi

[2016-04-25 07:11] francisykl opened #335 "Help: TextField Designables Build Failure"
Hi guys,

I am facing build issue for TextFields Designables. This also causes crashes when i try to configure placeholders and other property during runtime. Any idea what might be the cause?

![Image of Screenshot](https://i.imgsafe.org/842da15.png)
![Image of Screenshot](https://i.imgsafe.org/239d38c.png)

[2016-04-25 08:03] zgosalvez opened #336 "Cannot Modify Clear Button Frame"
I created an extension to set the TextField to Text Field Label specs.

[code]

However, the clearButton's frame does not change, unless I disable `layoutClearButton()`

[2016-04-25 08:18] zgosalvez opened #337 "Button's Pulse Not Triggered"
When a button's `pulseFocus` is `true` quick tapping on the button does not trigger pulse.

[2016-04-25 08:45] zgosalvez opened #338 "Programatically Set Text on TextField"
Setting `textField.text` programatically has some weird side effects on the `titleLabel` after interaction.

[2016-04-25 15:31] danieldahan commented on #338
Can elaborate on what is the weird side effects?

[2016-04-25 15:33] zgosalvez commented on #338
The title label does not appear

[2016-04-25 15:34] danieldahan commented on #337
The pulseFocus doesn't ripple, it stops the pulse once the touch is done. Hence the focus part, it only exists when focused. Can you confirm this?

[2016-04-25 15:35] danieldahan commented on #338
Are you setting a placeholder? I will try now.

[2016-04-25 15:36] danieldahan commented on #336
This looks good. I will see if I can integrate it into the TextField. I am sure more people would appreciate this :)

[2016-04-25 15:38] zgosalvez commented on #338
Yes, a placeholder is also set.

[2016-04-25 15:38] danieldahan commented on #335
Yes, the crash is that their is a nil value. Are you setting the Module to Material when using the TextField? Not sure why you are marking out the text, makes it harder to diagnose.

[2016-04-25 15:47] danieldahan commented on #334
I like your proposal and will be working on the TextField today. I will take your other suggestion [336](https://github.com/CosmicMind/Material/issues/336) into consideration while working on this.

[2016-04-25 16:16] danieldahan commented on #338
This is a confirmed bug. I will fix it today.

[2016-04-25 16:35] francisykl commented on #335
I set the module to my project, not material (default setting).
I am marking out the text because the names contains sensitive info, but it shouldn't affect diagnostics though (its just class names)

[2016-04-25 16:56] danieldahan commented on #335
When you set a class name, you have to set the module name to where the class lives. Try setting the module name to Material.

[2016-04-25 16:58] MarkOnly opened #339 "FlatButton Pulse"
Hello all, it is possible to change the Pulse of the FlatButton from rectangular to circle? Like it is on Android.

If not, it is possible to reduce the size of the pulse?

Thank you very much in advance

Marco.

[2016-04-25 17:00] danieldahan commented on #339
Hello,

Try setting the `pulseFocus` property to `true`, otherwise, later today I will be working on the pulse animations in general to make them more like Google's.

[2016-04-25 17:01] MarkOnly commented on #339
Already tried with that but, it's not what I'm looking. The problem is that now the pulse takes too much spaces in width. Thank you very very much

[2016-04-25 17:03] danieldahan commented on #339
Okay. I will leave this issue up as I work on the new pulse animations :)

[2016-04-25 17:05] francisykl commented on #335
I don't think that's the issue though. i am using cocoapods, they resides in the same workspace, and MaterialButton wouldn't have worked if that's the issue

![Image of Screenshot](https://i.imgsafe.org/016da05.png)

[2016-04-25 17:25] danieldahan commented on #335
Can you show me the setup of the TextField?

[2016-04-25 17:53] francisykl commented on #335
I found the cause, it seems the issue comes from my extension trying to set

`self.titleLabel = UILabel()` setter is inaccessible.

in your example `textField.titleLabel = UILabel()` seems to be fine.. Any idea why it doesn't work in the extension of TextField

[2016-04-25 17:55] danieldahan commented on #335
What version of Material are you using?

[2016-04-25 20:56] MarkOnly commented on #339
Thank you very much @danieldahan  :)

[2016-04-26 01:59] francisykl commented on #335
i am using v1.39.17. Will take note on this. thanks

[2016-04-26 02:00] #335 closed

[2016-04-26 02:01] danieldahan commented on #335
All the best :)

[2016-04-26 02:10] zgosalvez commented on #337
Based on my experience with Android, the pulse/ripple effect does not fade out until I lift my finger. I hoped to get this same experience by setting `pulseFocus` to `true`.

[2016-04-26 07:40] saipnc commented on #323
@danieldahan thank you very much!

[2016-04-26 07:42] saipnc commented on #338
@danieldahan yes we are also facing the same issue if we set text programmatically the title label disappears with a weird animation. If you could fix this it would be great.

[2016-04-26 07:55] zgosalvez commented on #336
@danieldahan Please note that there are two important variables here: `derivedDetailLabelHeight` and `derivedTitleLabelHeight`. The values were derived from the view debugger, and may vary depending on the font used.

[2016-04-26 08:56] saipnc commented on #338
Hey, @danieldahan

After going through your code, I figured out that by setting the test field data programmatically the delegate methods are not getting invoked. Because of which the title label is not getting set.

Ex: When we type in text field the delegates are called and the title label is set, but when we set text like textField.text = "Something" then delegates are not called and title labe

[2016-04-26 09:09] zgosalvez commented on #338
I tried doing the following "hack," but didn't work, probably because of race conditions with the animations.

[code]

[2016-04-26 11:25] havocked commented on #322
By the way it seems that `SideNavigationController`'s swipe gesture (for leftView) on `rootViewController` override the "swipe to delete" gesture, if the `rootViewController` is a `UITableViewController` that implements "swipe to delete" feature

[2016-04-26 14:56] mohpor opened #340 "Help Wanted: Align CardView center vertically to superview"
using `MaterialLayout` how can I make a card view center vertically to parent view?

All `alignToParent...` methods mess with the card view size.
Am I missing something?
You have mentioned in #104  that you are making an alert view, but I can't find it.

[2016-04-26 15:04] danieldahan commented on #340
I think a lot of people will benefit from this, so I will make it today with the updates I am making. I am working on the TextField, SideNav, and AlertView to release today with documentation. I will leave this issue up until later today when I release the latest updates.

[2016-04-26 15:08] danieldahan commented on #336
Yes, I tested this out and really like. I am working on a documentation page with the updates I am making. Basically every component in Material will be revised with the latest specs from Google, with documentation on our site. I really appreciate this help. Thank you!

[2016-04-26 15:10] mohpor commented on #340
Looks like you're having too much on your plate @danieldahan
I'm always ready to help. I've actually dedicated a certain amount of time from my workday to help you improve this wonderful library. I mean, you can just ask me. I'm not sure if I am even that helpful, but I can handle a few things.

[2016-04-26 15:10] danieldahan commented on #338
Yeah that would cause an issue. I am working on documentation for this release today with a fix.

[2016-04-26 15:12] danieldahan commented on #340
@mohpor You are wonderful. Let me get though today, and release the new docs style and work, and that will set the example I would like to have in place going forward. I also think we should put a roadmap together as a community and really take Material to the next level. I am dedicating May to making Material the iOS standard for Material Design.

[2016-04-26 15:14] mohpor commented on #340
I mean, it is already the de facto standard for iOS!

Sounds good to me.

[2016-04-26 15:15] danieldahan commented on #337
Yeah, it should pulseFocus, and then ripple out. This is a really important one, since Pulse is used everywhere. We must get it right :)

[2016-04-26 15:15] danieldahan commented on #340
Well then let's solidify that position :)

[2016-04-27 16:08] MarkOnly commented on #339
Hello @danieldahan, thank you in advance for the support. I tried changing the layer ecc.. but I couldn't
create a round pulse or a pulse with less width... Did you find out something?

Thank you, Marco.

[2016-04-27 16:30] danieldahan commented on #339
Yes, I am working on a few things to be released today. My main goal today is to add the documentation for it. Basically, as I improve everything, I will be adding documentation to help in support.

[2016-04-27 18:16] MarkOnly commented on #339
@danieldahan Oh cool! thank you !!! :)

[2016-04-28 06:50] saipnc commented on #338
Hi @danieldahan,

We need this bug fixed very badly, how long does this take?

[2016-04-28 07:26] MarkOnly commented on #339
@danieldahan if you can.... Can you reply here when you update all so I receive the notification ? Thanks you are wonderful man ... If you need help tell me :)

[2016-04-28 08:09] mohpor commented on #340
Any news?

[2016-04-28 10:04] FateRiddle opened #341 ""build failed" when I change the class of UIButton to FlatButton"
So I carthage installed Material, then dragged a UIButton into VC, when I changed the class of that UIButton to FlatButton in the identity inspector, "Designables" label showed under, and said " build failed".
How to make it work?

[2016-04-28 12:10] danieldahan commented on #338
@mohpor @saipnc @zgosalvez Hi, I rewrote the TextField, under the temporary class [MTextField](https://github.com/CosmicMind/Material/blob/development/Sources/iOS/MTextField.swift) and added an example of its usage in the Programmatic/TextField example project. My aim is to simplify the interface and have a cleaner code base going forward. @zgosalvez I have spent quite a bit of time making sure th

[2016-04-28 12:13] MarkOnly commented on #341
@FateRiddle change the calls of the UIButton to FlatButton before dragged it. Then you can drag and choose the class of the IBAction to FlatButton

[2016-04-28 12:15] danieldahan commented on #339
@MarkOnly Thank you :) I have pushed some code up today for TextField, for some people to test while I finish up the remaining work. Once that is done, I will be pushing the pulse animation updates. The last few days have been really busy, for the work here, and the work I do elsewhere. So today should be a good day of releases. I will keep you posted.

[2016-04-28 13:15] mohpor opened #342 "Temporary Issue: MTextField"
@danieldahan I think we need a fresh issue to talk about the new `TextField`

I have started to test on it and I will update tis post as we go to inform you about the situation.

### Issues:
- [x] Placeholder And title label doesn't respect the text alignment of the TextField. (Remember the `TextView` issue?)
- [x] Cannot set the highlight color for PlaceholderLabel

### Thoughts:

* The animation

[2016-04-28 14:28] danieldahan commented on #342
Excellent, I will make an update for this. ```Placeholder And title label doesn't respect the text alignment of the TextField. (Remember the TextView issue?)
[code]

[2016-04-28 14:36] danieldahan commented on #342
@mohpor In regards to the textAlign, the states as I see it are:
* Align text in the alignment preferred. Placeholder should respect this.
* When text is in the input field, the placeholder should animate to the same position as the text alignment.

[2016-04-28 14:43] danieldahan commented on #338
@saipnc @zgosalvez please take part in this [issue](https://github.com/CosmicMind/Material/issues/342).

[2016-04-28 15:01] FateRiddle commented on #341
@MarkOnly  I change the class of the UIbutton before dragging, still the same error. But I do get to choose the class of the IBAction to FlatButton, then a runtime error: "Unknow class FlatButton in Interface Builder file".

[2016-04-28 15:44] MarkOnly commented on #341
@FateRiddle if you get this error in storyboard it seems like you didn't have the framework imported correctly in the project

[2016-04-28 15:46] danieldahan commented on #341
@FateRiddle Are you setting the Module to Material, after setting the class to FlatButton?

[2016-04-28 15:48] mitch10e opened #343 "Toolbar Title Label not centered with left button"
The title label for a Toolbar is not centered if the textAlignment is set to .Center and there is a button in the leftControls. The label is centered if I remove the leftControls.

![simulator screen shot apr 28 2016 9 48 06 am](https://cloud.githubusercontent.com/assets/5041044/14892020/51fd9352-0d26-11e6-8f42-2aa0e8161652.png)

[code]

[2016-04-28 15:50] mitch10e opened #344 "Toolbar Title Label not in the center with left button."
The title label for a Toolbar is not centered if the textAlignment is set to .Center and there is a button in the leftControls. The label is centered if I remove the leftControls.

![simulator screen shot apr 28 2016 9 48 06 am](https://cloud.githubusercontent.com/assets/5041044/14892020/51fd9352-0d26-11e6-8f42-2aa0e8161652.png)

[code]

[2016-04-28 15:51] danieldahan commented on #344
@mitch10e Did you fix it?

[2016-04-28 15:53] danieldahan commented on #343
@mitch10e At the current moment, the Toolbar only works with equal siding for both controls. You can use a clear button with no pulse to balance our the two sides. The toolbar is going to be updated shortly to handle the issue you are facing in a cleaner manner.

[2016-04-28 17:19] danieldahan commented on #342
@mohpor [TextField](http://www.cosmicmind.io/material/textfield) latest documentation. This is where I will be posting the documentation for the reworked components as we progress through Material.

[2016-04-28 17:51] mitch10e commented on #343
Awesome! Thank you so much! Love this library!

[2016-04-28 17:56] danieldahan commented on #343
:) Amazing. Thank you!

[2016-04-28 17:56] #343 closed

[2016-04-28 18:20] FateRiddle commented on #341
@danieldahan  how do I set the module to Material?

[2016-04-28 18:25] danieldahan commented on #341
@FateRiddle You should see a field under the field where you specify the class value. See the screenshot attached.
![screen shot 2016-04-28 at 2 23 20 pm](https://cloud.githubusercontent.com/assets/9982123/14896703/ea59a642-0d4c-11e6-9b41-4926365f860e.png)

Also, please refer to this [example project](https://github.com/CosmicMind/Material/tree/master/Examples/Storyboards/MaterialButton) to see th

[2016-04-28 18:35] FateRiddle commented on #341
My project don't have the "Material" option in module. Guess I haven't install it properly. I've only used Carthage to install Material. What other steps should I proceed? BTW, I can use the sample code to generate UI programatically on a blank storyboard, after "import Material".

[2016-04-28 19:07] danieldahan commented on #341
Hmmm... I am not sure of Carthage's limitations. Though, when I add the module, Material, I am using the setup from [here](https://github.com/CosmicMind/Material/wiki), which is the least dependant method of setting up Material.  Did you try adding the module and running anyway?

[2016-04-29 00:42] smkhalsa opened #345 "TableView Editing Enabled Randomly"
About every 20th time I swipe a table view cell left, I see the edit button slide out. I have not enabled editing via the delegate method.

The odd part is how inconsistent it is. I can swipe the same cell left 15 times and nothing happens, then twice in a row it might show the edit button.

I'm using tableViews extensively in my application, and this issue appears to be present in all of them.

[2016-04-29 01:53] zgosalvez commented on #342
@danieldahan My notes:
- I'm surprised that you removed `clearButton`. I guess I'll have to implement that myself. Was using it for default clearing, and for toggling [password visibility](https://www.google.com/design/spec/components/text-fields.html#text-fields-password-input).
- `dividerColor` isn't customisable? Its default color `MaterialColor.darkText.dividers` which is only appropriate on a

[2016-04-29 01:59] danieldahan commented on #342
So the interface is kept simple at the moment so we can discuss it before release. The clearButton name actually conflicted with the internal clearButton private property. So it should be kept, with a more appropriate name. The sizes will be accessible in the end, once the defaults are confirmed. The colour changing will be added in a more appropriate way, rather than what was confusing in some ca

[2016-04-29 02:00] danieldahan commented on #342
-21, the 21 value is the intrinsic size of the text field, which a size of 16 font, would be enclosed in.

[2016-04-29 02:03] zgosalvez commented on #342
Curious, how did you compute for the intrinsic size? Also, I think you should add 8, to include the spacing between the label and input texts.

[2016-04-29 02:07] danieldahan commented on #342
If you use AutoLayout, it defaults to the intrinsic content size. So add a text field using autolayout, then call the layoutIfNeeded method and then call the intrinsicContentSize method, and print its value.

[2016-04-29 02:13] zgosalvez commented on #342
Oh so that's intrinsic size. How I do it, and more accurate (correct me if I'm wrong)...

1. Create a label on the storyboard
2. Set desired font
3. Add leading and top constraints
4. Update Frames
5. Check the height of the Label

It appears that the height of the label is also the same as the height of its intrinsic size. In my case 19.

[2016-04-29 02:40] danieldahan commented on #342
Could be more accurate, they both rely on autolayout, and the leading and trailing could affect it. This is why the new releases will go through the community process to ensure the best product :) I'll be working on the textfield in 20 mins, so feel free to add input.

[2016-04-29 02:41] danieldahan commented on #342
Ah, the border would add 1px to height on top and bottom equaling 21. Could be the difference. I don't remember if I set that value.

[2016-04-29 02:52] zgosalvez commented on #342
The reasons why I decided to create the extension (see https://github.com/CosmicMind/Material/issues/336) are:
- Easier for me to reuse setting Material specs for my project
- More importantly, our users had a difficulty tapping the text field and clear button. Setting the whole text field to 80 made it easier for them. Something to consider since you're rewriting the class.

[2016-04-29 04:53] danieldahan commented on #345
Are you using the MaterialTableViewCell, as well, are you using the SideNav?

[2016-04-29 06:36] GreyEcologist commented on #249
Hey @danieldahan I know you have a lot of issues pending, but is there anything I can do to help fix this one?

[2016-04-29 06:42] danieldahan commented on #249
@GreyEcologist Hey, I am about to sign off, if you would like to try and fix this, that would be great. There are a bunch of issues, but they all relate in groupings, which will help when tackling them. The best bet to help tackle this issue, is to send a sample project illustrating the issue to support@cosmicmind.io. That would be much appreciated :)

[2016-04-29 14:56] MarkOnly commented on #339
@danieldahan did you pushed the textfields corrections? Because I can't see them... anyway.. I see that you have a lot of work to do... if you need some help we can do something together so I can help you ;)

[2016-04-29 15:14] danieldahan commented on #339
@MarkOnly I am going to be pushing it in about an hour, would you be free to test? [342](https://github.com/CosmicMind/Material/issues/342)

[2016-04-29 15:16] MarkOnly commented on #339
I will try... I think I can test it in about 4 hour from now :) then if you need help for the pulse thing tell me.

[2016-04-29 15:18] danieldahan commented on #339
No worries, when you get a chance if you do :) After that push, I will be working on pulse, then sidenav. So maybe you will be able to test the pulse.

[2016-04-29 15:20] MarkOnly commented on #339
@danieldahan Cool, thank you very much! :')

[2016-04-29 15:41] EdwardDing commented on #339
Try to set the `shape` of button to `.Circle`

[2016-04-29 15:42] EdwardDing commented on #339
@MarkOnly Try to set the `shape` of button to `.Circle`

[2016-04-29 15:48] MarkOnly commented on #339
@EdwardDing Thank you for your reply, but it doesn't work :\

[2016-04-29 16:13] EdwardDing commented on #339
@MarkOnly You need to set the frame of the button to a square first.

[2016-04-29 17:39] danieldahan commented on #342
Hey guys, I updated the [TextField](http://www.cosmicmind.io/material/textfield) documentation and the MTextField. I only need to add the clearButton, and update the animation to adjust correctly with the alignment when different from .Left. That said, I have not seen the behavior of the animation anywhere for the alignment that @mohpor mentioned. Would you be able to state the different cases I s

[2016-04-29 18:14] mohpor commented on #342
@danieldahan I didn't totally got what you meant, the text alignment is clear enough I guess and the animation I just mentioned to be smoother now.
Could you elaborate on your last comment?

[2016-04-29 18:22] MarkOnly commented on #339
@EdwardDing With this doesn't work.
searchButton.frame = CGRect(x: 0, y: 0, width: 65, height: 65)
searchButton.shape = .Circle

[2016-04-29 18:24] danieldahan commented on #342
Let's say when you have textAlignment = .Center, the animation of the placeholder should move above and be as well equal to center. I am only confirming as it is the last piece and I couldn't find anywhere in Material Design spec this situation.

[2016-04-29 18:25] danieldahan commented on #339
It will 100% not work, as the circle takes control of the width and height properties of the frame. I am almost done the TExtField, confirming a last animation.

[2016-04-29 18:29] EdwardDing commented on #339
Hmm that's weird... I've been using this method through out my App. I just dragged a UIView into current view and set the class of it as FlatButton then I set the constraint of it to make it a square and it works perfectly.... May it is because of the constraint I set?

[2016-04-29 18:30] mohpor commented on #342
Oh, well, in that case, I recently read the material guideline, although it doean't mention the text alignment, but it definetly mentions the support for right-to-left.
That being said, I guess this should be handled using either actual RTL layouts or using semantics on the text fileds.
IMHO, providing the text alignment for title and placeholder would help on a wider range of needs, but you are t

[2016-04-29 18:31] danieldahan commented on #339
@EdwardDing Yes that could be it :) The pulse animations need to be updated in general.

[2016-04-29 18:32] MarkOnly commented on #339
@EdwardDing yeah probably the constraints, I'm using flat buttons in the navigation bar so I don't use constraints.

[2016-04-29 18:32] danieldahan commented on #342
@mohpor We will make it work, I wanted to confirm the spec, that was it :)

[2016-04-29 18:34] danieldahan commented on #339
@MarkOnly Okay, now I see what you are looking to do, like Inbox. Okay I will make that one of my test cases, but in general, if you did make it a circle with pulseCenter = true, it may work. There may be a conflict with the sizing since part of the sizing is dependant on Apple in the NavBar. You could place with the spacing property as well to adjust the sizing, and the contentInset sizing.

[2016-04-29 18:36] MarkOnly commented on #339
@danieldahan  thanks...do you want work it together now?

[2016-04-29 18:38] danieldahan commented on #339
Shortly, I have a release to do with some other work I am part of, and they are in crunch mode, and that is why I have been slow on the issues coming in.

[2016-04-29 18:40] MarkOnly commented on #339
@danieldahan ok no problem 👍, fast question: how could i make it circle as you suggest? as changing the shape doesn't work, changing the frame neither... I tried also the pulselayer...

[2016-04-29 18:41] danieldahan commented on #339
Try using a FabButton with pulseCenter = true and remove the depth = .None

[2016-04-29 18:43] mohpor commented on #342
Cool.

On Apr 29, 2016, 23:02 +0430, Daniel Dahan<notifications@github.com>, wrote:

[2016-04-29 18:44] MarkOnly commented on #339
@danieldahan
![simulator screen shot 29 apr 2016 8 43 50 pm](https://cloud.githubusercontent.com/assets/9656572/14926161/1bbaf6e2-0e4b-11e6-8841-d466959a295f.png)

[2016-04-29 18:44] EdwardDing commented on #339
@MarkOnly  Actually I was copying the UI of Inbox as well... My solution is to add a BarButtonItem to the nav bar and then I created a `MaterialButton` and set it as the `customView` of the barButtonItem... Here is what it looks like when you click the button: [screenshot](https://github.com/EdwardDing/gitImage/blob/master/%E5%B1%8F%E5%B9%95%E5%BF%AB%E7%85%A7%202016-04-29%2014.41.00.png) Is it wha

[2016-04-29 18:45] MarkOnly commented on #339
@EdwardDing Yeah exactly that... but I'm using a material toolbar

[2016-04-29 18:45] danieldahan commented on #339
@EdwardDing thank you, @MarkOnly I will be available shortly, @EdwardDing looks like he knows how to handle this to fast track your solution.

[2016-04-29 18:52] MarkOnly commented on #339
@EdwardDing thank you, so you use the app navigation controller right?

[2016-04-29 18:59] EdwardDing commented on #339
@MarkOnly Yes... The reason I chose the original navigation bar is because that when we try to set `toolbar.rightControls` it will automatically calculate the size of each controls thus we have no control to the frame of the button.

[2016-04-29 18:59] EdwardDing commented on #339
@MarkOnly Yes... The reason I chose the original navigation bar is because that when we try to set `toolbar.rightControls` of a tool bar it will automatically calculate the size of each controls thus we have no control to the frame of the button.

[2016-04-29 19:05] MarkOnly commented on #339
@EdwardDing yeah I notice that but I would like to keep the toolbar

[2016-04-29 19:06] MaticConradi opened #346 "Problem with importing Material"
So I've just started with Material. I've followed the instructions on https://github.com/CosmicMind/Material/wiki but I can't get `import Material` to work. It says
![screen shot 2016-04-29 at 21 00 18](https://cloud.githubusercontent.com/assets/5693961/14926773/1a23770c-0e4e-11e6-973b-5ce74fbf42e6.png)
Any ideas what I could have done wrong?

[2016-04-29 19:20] danieldahan commented on #346
Welcome to Material :)
Did you add the framework to embedded binaries?

[2016-04-29 19:23] MaticConradi commented on #346
Yes. Here it is...
![screen shot 2016-04-29 at 21 22 34](https://cloud.githubusercontent.com/assets/5693961/14927153/90c112be-0e50-11e6-8019-fbd7ea3155fa.png)

[2016-04-29 19:25] danieldahan commented on #346
When you built the framework, was it the iOS one? Can you send me a screen grab of your workspace so I can see all the moving parts?

[2016-04-29 19:27] EdwardDing commented on #339
@MarkOnly Well if you insist on using toolbar... A unusually quick fix is to add the button as a subview to the toolbar instead of push it into the right controls vector

[2016-04-29 19:28] MarkOnly commented on #339
@EdwardDing this could be an interest Idea, let me see what can I do. Thank you

[2016-04-29 19:31] danieldahan commented on #339
@EdwardDing Sounds like an interesting idea actually in this case. Mind, you, I found if you size the buttons with the edgeInsets greater than 0, it will give some really weird stutter effect. So when you size the button, set those to UIEdgeInsetZero.

[2016-04-29 19:32] MarkOnly commented on #339
@EdwardDing Yes like this works, but it's all messed up of Course. I'm trying to change some code that resize the frame of button when you put the button on the right controls

[2016-04-29 19:34] MarkOnly commented on #339
@danieldahan with a FabButton or a flatButton?

[2016-04-29 19:36] gilthonweapps opened #347 "Disable TextField's placeholder animation"
Hi,

In some of my views, I am using several TextField objects. Sometimes, they are quite close to each other in a UITableViewCell.
When one TextField receives the focus, the placeholder text is animated and move to the top of the field. The animation is really nice, but in my case, the text overlaps the TextField that is above.
You have already added an option to hide the detailLabel. I think you

[2016-04-29 19:38] danieldahan commented on #347
Hi, so I have recently rewrite the TextField and will be releasing it shortly with some additional changes, [342](https://github.com/CosmicMind/Material/issues/342). Please join the discussion there :) I would like to discuss this more.

[2016-04-29 19:38] #347 closed

[2016-04-29 19:58] MaticConradi commented on #346
I built the framework before I created my own project and it was the iOS one (I built it on Generic iOS device)
![screen shot 2016-04-29 at 21 54 25](https://cloud.githubusercontent.com/assets/5693961/14927901/fb6d26f8-0e54-11e6-8a8b-40adcb3a17ef.png)

[2016-04-29 20:06] danieldahan commented on #346
I don't see anything wrong with your setup. If you can close your workspace, and open the Examples/Material workspace. Build Material, then go to a project and embed it and then run the project. See if that works.

[2016-04-29 20:16] MaticConradi commented on #346
It seems like this fixed my problem, but I have no idea why. Thanks!

[2016-04-29 20:18] danieldahan commented on #346
Well as long as you are in a forward direction. Probably had to do with DerivedData and build directory conflicts. When you dragged in Material, it could of linked incorrectly. Either way, welcome and feel free to post an issue if you have any.

[2016-04-29 20:18] #346 closed

[2016-04-29 20:40] danieldahan commented on #342
I am going to support language detection. Working it out now @mohpor

[2016-04-30 02:16] GreyEcologist commented on #249
@danieldahan Hey Dan, I sent a sample project reproducing the issue, please let me know when you had a chance to take a look.

[2016-04-30 04:57] mohpor commented on #342
Great.
It will line up with Material Design Guidelines and everyone should be clear on them.

P.S.: In regards to the announcement you've had the other day, about making it the standard library for Material Design for iOS, I guess we need a roadmap to (among many other things) be clear on how strict we're going to make this library in regards to Material Design Guidelines. Granted, it is essential

[2016-04-30 04:59] danieldahan commented on #342
I really want everyone to have as much flexibility as possible. That was actually one of the issues with the current TextField implementation. It was blocking the original clearButton and developers couldn't use it out of the box. So minimal additions to reach as close to the standard with the ability to continue the creativity. That's my thinking.

[2016-04-30 05:12] danieldahan commented on #342
@mohpor So I have one last bit to add, which is rotation support. For RTL, I decided on the initial release of this component to support TextAlignment. As for RTL, I want to investigate it further with the different iOS versions to add a great solution with documentation. That can come on the next iteration. I think with supporting TextAlignment, .Left, .Center, .Right, people can offer RTL with a

[2016-04-30 05:16] mohpor commented on #342
Wilco.

[2016-04-30 05:21] mohpor commented on #342
One last thing, divider doesn't have an ActiveColor property, is it intentional? if so, shouldn't it follow the placeholder's active color principles?

[2016-04-30 05:22] danieldahan commented on #342
Yes, currently, divider takes the placeholderActiveColor value when the TextField is in focus. From my understanding, that is the MD concept. Any suggestions?

[2016-04-30 05:23] mohpor commented on #342
I think that's good enough. But the documentation should be clear on this.

[2016-04-30 05:24] danieldahan commented on #342
This is what it says currently, "The divider defaults to black with an alpha of 0.12. When in focus, it is the same color as the placeholder focus color."

[2016-04-30 05:25] mohpor commented on #342
Lots of developers (me included) may land on this library without having a solid understanding or knowledge of MD, keeping that in mind will help them.

[2016-04-30 05:25] mohpor commented on #342
Oh! see, I was looking for this info under PlaceholderActiveColor for some reasons! My bad.

[2016-04-30 05:29] danieldahan commented on #342
No worries. Keep note of these things. We can easily add an optional dividerActiveColor to override the default behavior, which will accommodate all needs. That should actually be the case. Also, a task to add the clearButton, but this time, I am going to add a boolean, which indicates, `clearButtonModeExtended` that allows for the clearButton to automatically be handled. This way the default clea

[2016-04-30 05:30] danieldahan commented on #342
okay, I am going to add rotation tomorrow with the final changes. I am burnt out. Have a good night, and I appreciate the help. Tomorrow this will be launched and then we can tackle the rest. Thanks again!

[2016-04-30 12:37] MarkOnly commented on #339
@danieldahan Still didn't fix this :\

[2016-04-30 12:56] danieldahan commented on #339
Today, sorry. Technically it is not broken, it is a rework in design. Like the TextField, it takes time.

[2016-04-30 12:58] MarkOnly commented on #339
@danieldahan Oh okay no problem ;) as I told you I  could help you.

[2016-04-30 12:59] danieldahan commented on #339
Okay, can you write a list of all the pulse states we would need to handle?

[2016-04-30 12:59] MarkOnly opened #348 "SideNavigationController still receive gesture"
Hello, it's all day that I try, maybe I miss something... From what I read sideNavigationController?.enabled = false it's uses to remove the pan gesture recognize. But it doesn't work..
In a view I won't that the user could open the sidenavigationcontroller but with a pan gesture I can still open it...

Sorry for my english.
Thank you.

[2016-04-30 13:01] MarkOnly commented on #339
@danieldahan the functions? from what I saw we need to handle the grid that gives the width and the height of the right and left Controls of toolbar

[2016-04-30 13:13] danieldahan commented on #348
Put the enabled setting in the viewWillAppear method

[2016-04-30 13:42] MarkOnly commented on #348
@danieldahan yeah that fix this. Thank you ! :)

[2016-04-30 13:42] #348 closed

[2016-04-30 23:05] danieldahan commented on #342
@mohpor I fixed the rotation, added a visibility button enabler, added a clear button enabler, without causing conflicts with the internal clearButton :)

Want to test it out before release? I am going to document it tonight.

[2016-04-30 23:20] danieldahan commented on #336
@zgosalvez You can now do this in the new TextField, temporary name MTextField, which is now in development. Please track any changes prior to release here [342](https://github.com/CosmicMind/Material/issues/342). To override the frame, subclass and override this function `layoutClearFlatButton`. I am closing this issue to consolidate all TextField issues in 342.

[2016-04-30 23:20] #336 closed

[2016-04-30 23:20] danieldahan commented on #338
@saipnc You can now do this in the new TextField, temporary name MTextField, which is now in development. Please track any changes prior to release here [342](https://github.com/CosmicMind/Material/issues/342). I am closing this issue to consolidate all TextField issues in 342.

[2016-04-30 23:20] #338 closed

[2016-04-30 23:22] danieldahan commented on #334
@zgosalvez Test this with the new TextField, temporary name MTextField in development. Please add any concerns to this issue [342](https://github.com/CosmicMind/Material/issues/342). Thank you!

[2016-04-30 23:22] #334 closed

[2016-05-01 03:16] mohpor commented on #342
Sorry about the delay. I sure will!

[2016-05-01 03:20] danieldahan commented on #342
@mohpor Please pull from development again. I just updated it. As well, I am wrapping up the last part of documentation here, [TextField](http://www.cosmicmind.io/material/textfield).

[2016-05-01 03:39] mohpor commented on #342
It's worth mentioning that the `MTextField` is `TextField` now. (Took me at least couple of pod updates to get that!)

[2016-05-01 03:40] danieldahan commented on #342
Oh sorry, yes. Apologies for that.

[2016-05-01 04:34] mohpor commented on #342
I'm still testing it... Meanwhile:

As per our previous conversation, it's great to see that `TextField` totally adheres to MD principles and guidelines, but some flexibility could help. e.g. Detail label's position is too far away from the original text field for my taste (I know it completely in accord with MD guidelines). I have a proposal. The proportional technique MD has suggested could be a

[2016-05-01 12:28] psuedonovicecoder opened #350 "How to add MKMapView into a CardView's Detail View Programmatically"
`let mapView:MKMapView = MKMapView()
 mapView.mapType = .Standard
mapView.frame = view.frame
 mapView.delegate = self
view.addSubview(cardView)
cardView.detailView = mapView
cardView.translatesAutoresizingMaskIntoConstraints = false
MaterialLayout.alignFromTop(view, child: cardView, top: 200)
MaterialLayout.alignToParentHorizontally(view, child: cardView, left: 20, right: 20)`

 This code seems to

[2016-05-01 12:59] mohpor commented on #350
I ran a test with the code excerpt you've provided and found that you are right about it. It seems that constraints cannot be made for map view (or because of the very complex internal layout system, layout cannot determine the size.). In anyway, if you use a top + bottom constraint for your card view, you'll be able to have your map view inside a card view:
e.g.:

[code]

P.S.: use triple back-ti

[2016-05-01 15:15] danieldahan commented on #341
As I have not heard from you, I am going to close this issue. If it continues to persist, please reopen the issue, create a new one, or join us on gitter: https://gitter.im/CosmicMind/Material

[2016-05-01 15:15] #341 closed

[2016-05-01 15:15] danieldahan commented on #339
I'll be working on this, feel free to join the conversation here: https://gitter.im/CosmicMind/Material

[2016-05-01 21:38] danieldahan commented on #339
@MarkOnly So I got this working :) a whole new pulse. I am going to apply it everywhere and post it.

[2016-05-01 23:29] danieldahan commented on #345
Hi, as I have not heard from you, I am closing this issue. If this continues to persist, please let me know. I have double checked the TableViewCell code, and the userInteraction is all set to false

[code]

The only interaction we added is the pulse animation, which has nothing to do with panning or any sort of gesturing.

If you need, send an example project to support@cosmicmind.io and we will

[2016-05-01 23:29] #345 closed

[2016-05-01 23:33] danieldahan commented on #350
Yes, the issue is that you were not setting the Vertical alignment. If you have any further issues, please reopen or create a new issue.

Thank you! and @mohpor Thanks for the answer.

[2016-05-01 23:33] #350 closed

[2016-05-01 23:35] danieldahan commented on #294
I fixed this in the rewrite of the pulse animations. I am adding some documentation and will be making the release. You can check the development branch and App example project to confirm. I am closing this issue for clean up. Thank you!

[2016-05-01 23:35] #294 closed

[2016-05-01 23:38] danieldahan commented on #274
@RuslanPatyk Hi, I rewrote the pulse animation, to match this [spec](https://www.google.com/design/spec/animation/responsive-interaction.html#responsive-interaction-user-input), the surface reaction and Material response. I am going to add an enum handler to set the different states. I will close this for now, and once the release is out, please test. Sorry, if this is closed early in your opinion

[2016-05-01 23:38] #274 closed

[2016-05-01 23:39] danieldahan commented on #274
@colinmorelli I definitely agree about the scaling and have made some changes. I will be adding a new type of scale, or correcting it based on the scaleFactor, which was not set. Thank you!

[2016-05-01 23:44] danieldahan commented on #311
@levuhai In the example project, I eliminate this issue, by using a view hierarchy that you can see in the AppDelegate, App example project in the programmatic directory. The issue is, Apple detects the NavigationController at the point of contact to the edge of the screen, if that makes any sense, and then they decide to animate the statusBar to a hidden state. I will continue to see if I can mak

[2016-05-01 23:44] #311 closed

[2016-05-01 23:45] danieldahan commented on #342
This is now resolved and being prepared for release. Thank you!

[2016-05-01 23:45] #342 closed

[2016-05-01 23:46] danieldahan commented on #337
I resolved this in the new rewrite of the pulse animation. It is currently in development and I will push the fix tonight. Thank you!

[2016-05-01 23:46] #337 closed

[2016-05-01 23:48] danieldahan commented on #339
@MarkOnly I fixed this :) Thank you for bringing it to our attention. I will be adding an enum helper to make this a choice for animation. It is currently in development and will be released later tonight. I am closing this for clean up purposes, thank you!

[2016-05-01 23:48] #339 closed

[2016-05-02 01:48] craigpearce5 opened #353 "Adding a CardView on top of a TableView results in constrained cardView."
I have a tableView with a nav bar (embedded).  When a user taps on a row, it calls a func that adds a CardView.  Problem is that the CardView gets constrained to a small section in the top right (see photo).  When I run the same code on a regular view, the CardView appears properly (extends across whole screen).

The solution I found was to add a bunch of spaces in the placeholder text, it appears

[2016-05-02 03:27] mohpor commented on #353
I wish you could share some code as well. Especially on how you are adding the cardView to the view hierarchy.

[2016-05-02 03:35] craigpearce5 commented on #353
The following func `addNote()` is called from `    override func tableView(tableView: UITableView, didSelectRowAtIndexPath indexPath: NSIndexPath) {`

    func addNote(){

        // Title label.
        let titleLabel: UILabel = UILabel()
        titleLabel.text = "Add Note For Parents"
        titleLabel.textColor = MaterialColor.blue.lighten2
        titleLabel.font = RobotoFont.mediumWithSize(

[2016-05-02 03:43] mohpor commented on #353
As far as I can see, the problem lies within the this part:

[code]

I'm not sure if the tableview is part of the nabber view itself, but in any case, I think you need to implement a delegate pattern here and let the navbar's superview (with controls the main real estate of the view) to handle the card view's appearance.

[2016-05-02 04:35] mohpor commented on #298
@brandonroth,
@danieldahan has pushed a major redesign for the `TextField`. Could you please check if your issue has been resolved using the new `TextField` (currently on `development` branch)?

Thanks

[2016-05-02 06:33] saipnc commented on #342
@danieldahan so this is not yet released in the last cocoa pods version?

[2016-05-02 06:34] saipnc commented on #338
@danieldahan Thank you so much!

[2016-05-02 08:37] theolof opened #354 "titleLabel in CardView takes up space even if not set"
I'm using a CardView but only setting detailView:
[code]
It seems as the titleLabel is taking up some space even when I don't set it.

<img width="460" alt="screen shot 2016-05-02 at 10 35 49" src="https://cloud.githubusercontent.com/assets/14074538/14950416/c5513510-1051-11e6-95f3-d255e912e643.png">

[2016-05-02 08:39] mohpor commented on #354
have you tried to set the `titleLabelInsetPreset` of the card view? it is defaulted to `Square2`

[2016-05-02 08:44] mohpor commented on #354
there is a `detailViewInsetPreset` available too. My guess is the second inset preset.

[2016-05-02 08:53] mohpor commented on #354
@theolof
in a test project I have found that setting two parameters on card view should solve your problem:

[code]

[2016-05-02 08:59] theolof commented on #354
Thanks, @mohpor. `cardView.detailViewInsetPreset = .None` was the one that did it. I didn't need `cardView.contentInsetPreset = .None` since I wanted some margins inside the CardView.

[2016-05-02 08:59] #354 closed

[2016-05-02 17:59] craigpearce5 commented on #353
@mohpor I think I'm too new at Swift to understand this.  I think you are suggesting that instead of having the tableView place the card, have navbar which controls the superview?  I don't have my machine with me now, but is that as simple as `navigationController.addSubview(cardView)`?

[2016-05-02 18:04] mohpor commented on #353
@craigpearce5 Swift is not that much different than ObjC as far as patterns are concerned, it's even simpler to implement them using Swift. But I get what you mean, it's a whole new ball game at the beginning. you see, you are trying to add a view to a part of your view hierarchy that covers only the navigation bar area. It is meant to hold that area only. It's because of it not masking to its bou

[2016-05-02 18:06] craigpearce5 commented on #353
@mohpor Swift is my first (and only programming language at this point).

I had tried `view.addSubview(cardView)` but had the same results (card was placed in upper left corner).

[2016-05-02 18:08] mohpor commented on #353
just to be clear, is your table view on the same view as your navBar or you have a view controller for the table view?

P.S.: Swift is the perfect language to start off learning to program.

[2016-05-02 18:13] craigpearce5 commented on #353
@mohpor It's a tableViewController with an embedded nav Bar.  So when I use `view.subView...` is that the same as `tableView....`?

[2016-05-02 18:17] mohpor commented on #353
that's right. they are essentially the same.
Well, let me see if I can reproduce the problem.

[2016-05-02 18:24] mohpor commented on #353
try this:

[code]

[2016-05-02 18:25] mohpor commented on #353
and while you're at it. Give the card view some more depth:

[code]

[2016-05-02 18:26] craigpearce5 commented on #353
I'll try that tonight.  Currently at day job without access to macbook.

Thanks for your help!

[2016-05-02 18:27] mohpor commented on #353
ok,
I have tested it myself, it sure will solve your problem.
Have a good day at work.

[2016-05-03 02:50] craigpearce5 commented on #353
@mohpor Works great.  Will close issue.

[2016-05-03 02:50] #353 closed

[2016-05-03 05:17] Bashta commented on #322
the problem is common also with UIControl subclasses. An easy solution is to make the remove/add gesture recognisers public. Dirty but works until the maintainer fixes the issue.

[2016-05-03 05:18] mohpor commented on #322
@Bashta
@danieldahan has fixed the issue and will be released soon.

[2016-05-03 05:23] Bashta commented on #322
Nice! Is there a branch with the fix already available?

[2016-05-03 05:26] mohpor commented on #322
I'm afraid not.
But if you want to live on the edge and enjoy the development with others, you can always use the `development` branch and participate in the [Gitter Room](https://gitter.im/CosmicMind/Material)'s chat.

[2016-05-03 05:27] Bashta commented on #322
+1 to karma +3 to friendship

[2016-05-03 18:24] saipnc commented on #342
Hey @danieldahan

I'm just curious, It's been almost 10 days since the library has been updated. When can we have the changes related to Text Field in the latest build through Cocoa Pods?

[2016-05-03 18:26] saipnc commented on #342
Actually, we wanted to move the library to the latest version to use the updated depth in card views, but since the Text Field titleLabel has caused the problem so we rolled back to a previous version where is was working. Since you have fixed those issues, we can make use of card view depth as well, if you could release the new Text Field implementation in the latest build.

[2016-05-03 19:05] gilthonweapps opened #356 "Mix MaterialTableViewCell and SWTableViewCell"
Hi,

I am using MaterialTableViewCell for all my cells in my app as I really like the pulse effect and all the other features.
I am as well looking at SWTableViewCell (https://github.com/CEWendel/SWTableViewCell) because I would like to be able to display extra buttons when swiping left or right.
So, I suppose I have to use SWTableViewCell for my cells. But how can I use all the visual effects of

[2016-05-03 19:07] mohpor commented on #356
you can use the `SWTableViewCell` as normal, and while formatting your cell, slip a `MaterialPulseView` in the background or even set cell's `backgroundView` and `selectedBackgroundView` with `MaterialPulseView`.

[2016-05-03 19:10] danieldahan commented on #356
Yes that sounds correct. :) @mohpor

[2016-05-03 22:38] danieldahan commented on #322
@xaviermawet Please try 1.40.0 and let me know if the issue is fixed. I am closing the issue for now, please reopen or create a new one if the issue persists.

[2016-05-03 22:38] #322 closed

[2016-05-03 22:40] danieldahan commented on #320
@hvbnet Please try version 1.40.0. If the issue persists, please reopen the issue, or create a new one. Thank you!

[2016-05-03 22:40] #320 closed

[2016-05-04 00:37] psuedonovicecoder opened #358 "How to make MaterialTableCells have an image indentation but not an image?"
This seems quite strange but, when you add an image to a MaterialTableCell, the divider gets an indentation. However, the other cells do not. This irks me quite a bit and I was wondering how I can add the effect (the divider indentation).

[2016-05-04 00:54] danieldahan commented on #342
Hi, sorry for any delay. The TextField is now released in 1.40.0.

[2016-05-04 03:21] saipnc commented on #342
Thank you very much @danieldahan 👍

[2016-05-04 07:35] xaviermawet commented on #322
That works like a charms :D Thanks for all you did

[2016-05-04 07:59] havocked commented on #322
Yeah works really well!

Did you reduce the threshold, it seems that it more difficult to get the swipe the sideView.

But it is really ok though ! 👍

[2016-05-04 16:13] tySwift93 opened #360 "MaterialSwitch sizes"
It seems to me that currently the only way to have a custom size for a Material Switch is to alter the code directly before building the framework.  Am I missing something?  I feel like changing its size should be easy and that I'm probably missing something!  Thank you for the help

[2016-05-04 16:42] gilthonweapps commented on #356
Thanks for the info :)

[2016-05-04 17:04] danieldahan commented on #322
@havocked awesome. Yes I lowered it so it wouldn't be so far out. Maybe it is too little. To adjust the value, you can set rightThreshold, and leftThreshold on the SideNavigationController instance.

[code]

If you find a better value to use as the default, please let me know.

[2016-05-04 17:10] RuslanPatyk commented on #237
Are TextView bugs being fixed? If not, so when do you plan to start? Thank you.:)

[2016-05-04 17:10] danieldahan commented on #360
There are three different sizes, .Small, .Default, and .Large.

[code]

Otherwise, the customization of the MaterialSwitch is a little tricky. It will be rewritten soon, so if you have any suggestion, please send them this way.

[2016-05-04 17:10] #360 closed

[2016-05-04 17:12] danieldahan commented on #237
They are. I have already started working on them. They should be all tackled by next week.

[2016-05-04 17:13] danieldahan commented on #356
I am closing this issue. If you have any further issues, please reopen, or create a new one. Thank you!

[2016-05-04 17:13] #356 closed

[2016-05-04 17:13] RuslanPatyk commented on #237
Thank you. By the way, pulse animation is awesome

[2016-05-04 17:14] danieldahan commented on #237
@RuslanPatyk Thank you! :) And thanks for bringing it to our attention.

[2016-05-04 18:08] danieldahan commented on #358
Thank you for bringing this to our attention. I fixed the issue by adding this line of code to the cell

[code]
In the next release, this will already be set and you will not have to include it in your application.

Thank you!

[2016-05-04 18:08] #358 closed

[2016-05-05 08:46] hvbnet commented on #320
thanks a lot

[2016-05-05 10:24] RuslanPatyk opened #361 "TextView autoresizing"
Android text views can be automatically autoresized according to their content height. It would be nice to see such a functionality incapsulated into Material TextView. Thank you.

[2016-05-05 17:31] jstheoriginal opened #362 "2x and 3x Assets Are Ignored when using CocoaPods"
When using CocoaPods, the assets don't work correctly as all 2x and 3x assets end in "_2x" and "_3x" instead of "@2x" and "@3x". iOS just defaults to the base png which is pixelated. When I change the "_3x" to "@3x" on an asset, it displays correctly.

I believe the solution is to rename the assets, but if there is another solution, please advise.

[2016-05-05 20:51] lancevalour opened #363 "Has error initiating the Toolbar object in the function"
I can't initiate Toolbar object with default constructor in the function. See below:
![image](https://cloud.githubusercontent.com/assets/7004418/15056661/afbef6ce-12e0-11e6-97bb-36937480dd80.png)

However if I initiate it outside the function in the class, there is no error:
![image](https://cloud.githubusercontent.com/assets/7004418/15056728/2ae943e0-12e1-11e6-9f3e-f19ac88bb34c.png)

[2016-05-06 02:35] craigpearce5 opened #364 "Add Multiple UIView Components to CardViews' DetailView"
Is it possible to add multiple components to the detailView of a cardView?

I would like to be able to add a segmentedController above a textField.

[2016-05-06 06:19] mohpor commented on #363
try:

[code]

(Why? because of the init chaining it somehow loses the sight of which initializer to user)

[2016-05-06 06:22] mohpor commented on #364
@craigpearce5
you can create a container view and add whatever components to it and then set the detail view as that container view.
Even better yet, you can use [Grid](https://github.com/CosmicMind/Material/wiki/Grid) to handle everything.

[2016-05-06 13:21] lancevalour commented on #363
yes, that works. I also try:

[code]
and it works too. Seems empty default constructor has some problems.

[2016-05-06 16:42] leelir commented on #236
When i use 1.40.0, it can't work again. Can you help me?

[2016-05-06 17:21] Sunitadaffodil opened #365 "SideNavigationViewController disable swipe gesture"
How to disable swipe gesture of SideNavigationController . I want to open side menu on button click only.
Right now it opens on right and left swipe also.

[2016-05-06 17:31] mohpor commented on #236
@leelir what doesn't work exactly?

[2016-05-06 17:39] mohpor commented on #365
Right now `panLeftViewGesture` and `panRightViewGesture` are `internal` variables and you don't have access to disable them. We need to make them public.
Meanwhile, you can subclass the `SideNavigationViewController` and override `public func gestureRecognizer(_, shouldReceiveTouch touch) -> Bool` function to return `false`.

[2016-05-06 18:15] danieldahan commented on #365
The approach you are about to take may or may not be effective. I am going to add a property that says to enable and disable both pan and tap.

[2016-05-06 18:16] danieldahan commented on #364
That is the correct solution. Use a container UIView and do what you like within it. Thank you @mohpor  :)

[2016-05-06 18:16] #364 closed

[2016-05-06 18:27] danieldahan commented on #363
I fixed this in 1.40.1, which I will be pushing within the next 30 minutes.

[2016-05-06 18:27] #363 closed

[2016-05-06 18:59] danieldahan commented on #361
Yes, I will add this type of feature while I rebuild the TextView :) Thank you!

[2016-05-06 19:01] danieldahan commented on #236
@leelir
What version of CocoaPods are you using?

[2016-05-06 19:23] danieldahan commented on #362
Please try [1.40.1](https://github.com/CosmicMind/Material/releases/tag/1.40.1). I updated all the icons :)

[2016-05-06 19:23] #362 closed

[2016-05-06 19:24] danieldahan commented on #365
Please try [1.40.1](https://github.com/CosmicMind/Material/releases/tag/1.40.1). I added enable booleans for all gestures. Thank you! :)

[2016-05-06 19:24] #365 closed

[2016-05-06 23:03] jstheoriginal commented on #362
Woohoo! Thank you. :D

[2016-05-07 02:41] leelir commented on #236
I am using cocoapods-0.39.0 @danieldahan

[2016-05-07 02:46] leelir commented on #236
The material icons can not be loaded, when i use the method like this

[code]

[2016-05-07 03:31] craigpearce5 commented on #364
@mohpor Can you help out a bit more?  All the online demos/lessons are for Container View Controllers using storyboard.  I'm trying to code it in but can't seem to figure it out.

[2016-05-07 03:36] mohpor commented on #364
it's very simple:

[code]

[2016-05-07 03:54] craigpearce5 commented on #364
Ahhh... so close.  I had...

    let container = UIView()
        container.addSubview(segmentButton)
        container.addSubview(noteText)
        cardView.detailView?.addSubview(container)

Thanks again - you're a very big help.

[2016-05-07 03:56] mohpor commented on #364
As a general rule of thumb, whenever an assignable view in Material is optional, it needs to be assigned by you and doesn't contain any view to add a subview to them.

[2016-05-07 04:22] craigpearce5 commented on #364
I'm not getting a successful card view.  They appear to just overlap, or not display at all depending on what I fiddle with.

    let container = UIView()

    var segmentButton = UISegmentControl()
    segmentButton.grid.rows = 6
    container.addSubview(segmentButton)

    var noteText = UITextEdit()
    noteText.grid.rows = 6
    container.addSubview(noteText)

    container.grid.axis.direction

[2016-05-07 04:24] mohpor commented on #364
you should set a frame for the container, I think

[2016-05-07 04:27] mohpor commented on #364
Give me a few minutes I will post a sample code for you.

[2016-05-07 04:29] craigpearce5 commented on #364
Hmmm - I tried adding `container.frame = CGRectMake(0, 0, 300, 500)` but that does some really funky things.  It makes the segmentcontroller 500px tall, but it doesn't push the `.leftButtons` and `.rightButtons` down.

[2016-05-07 04:50] mohpor commented on #364
Here it goes:

[code]

Hope it helps

[2016-05-07 16:02] craigpearce5 commented on #364
That worked! Thanks again.

[2016-05-09 21:44] danieldahan commented on #236
@leelir  The version you are using (1.0.0.rc.2) is a release candidate, not the 0.39* version that is stable and released. I would downgrade to that version. This is probably because the image bundle handling in the 1*.rc.* version is handling bundles differently.

[2016-05-10 00:55] leelir commented on #236
@danieldahan Thank you so much, I'll try to downgrade my pod version.

[2016-05-10 03:43] mohpor commented on #236
@danieldahan podsepc should be tested with 1.0.0 version o Pod. I have been using it until last week, every time I ran a pod update with material (and some other pods) they would add a bogus bundle framework that needed to be removed manually from the list of pod targets. It worths investigating on it as the release of pod 1.0.0 is imminent.

[2016-05-10 03:44] danieldahan commented on #236
@mohpor Yes testing against it is an excellent idea. Supporting it with a production release we cannot do until it is fully released.

[2016-05-10 03:47] mohpor commented on #236
Agreed. Meanwhile, it is release candidate and wouldn't change that much to make any difference and I have faced it from day one of 1.0.0, we should at least find the cause and a solution.

[2016-05-10 03:59] danieldahan commented on #236
Yes, I will put a task on this.

[2016-05-10 04:52] danieldahan opened #366 "Fix: Update alignment for NavigationBar."
The alignment for the NavigationBar should use a dynamic spacer, and allow spacing aside from contentInset.

[2016-05-10 16:27] jstheoriginal opened #367 "TextField text label widens when becomes active with clear button enabled"
When you have a clear button enabled, enter some text and then leave the field. click in the field again and the text will quickly widen and return to it's correct size. This only happens when the clear button is enabled.

This is just a textfield dropped in and set to be TextField class, with clear button turned on.

Gif: http://cl.ly/2P1x0C0N2R2w

Any ideas what might be causing this?

[2016-05-10 16:28] danieldahan commented on #367
Can you send me your code setup?

[2016-05-10 19:55] jstheoriginal commented on #367
Hey Daniel,

We've figured out the issue...we were calling view.layoutIfNeeded() which was what caused the TextField to perform that way. Not sure if there's a way to prevent that with an enhancement in the future, but for now, we just removed that line of code.

Thanks!

[2016-05-10 19:55] danieldahan commented on #367
Awesome! I will close this issue then. Thank you!

[2016-05-10 19:55] #367 closed

[2016-05-10 22:50] #366 closed

[2016-05-11 03:52] mohpor commented on #340
Here is how you make a card view centered vertically:

[code]

It's a simple patch for now, there will be an `AlertView` soon. that should solve many other problems as well.

[2016-05-11 03:52] #340 closed

[2016-05-11 03:53] mohpor commented on #249
What's the status on this issue @danieldahan, @GreyEcologist ?

[2016-05-11 03:55] mohpor commented on #277
What's the status on this issue @danieldahan, @HowardCsie?

[2016-05-11 03:56] mohpor commented on #298
Is this still a problem @danieldahan, @brandonroth ?

[2016-05-11 07:32] jongarate opened #368 "ScrollView within CardView's detailView"
Hello everyone,

I've been banging my head against the wall for a couple of days now trying to include a _UIScrollView_ with scalable text content in the _detailView_ of a **CardView** element. I've based my closest attempts in the code @mohpor provided on issue #364 but It seems I can't pin down the problem.

This is the code currently firing up on _viewDidLoad()_. **cardView** is linked with the

[2016-05-11 10:11] mohpor commented on #368
@jongarate
There are a few things that come to mind after reading your code:

1. if you are going to explicitly size the `detailView` and the `scrollView`, you probably can ignore the `Grid` part of the `detailView`. There is nothing particularly wrong with grid in this case, it's just not necessary anymore.
2. Dynamic height `UILabel`s need to be played out more carefully. If I had to do it mysel

[2016-05-11 13:41] jongarate commented on #368
You are right in that `UITextView` made things a whole lot simpler, removing the need for `ScrollViews`, `Grids`, etc...

However, I had severe difficulties making the size of the card dynamic for certain sizes of the content within the `UITextView` and hence, I achieved a simpler solution by using native `UIKit` items.

Again, thank for your time and keep up the good work with this library. I sha

[2016-05-11 13:41] #368 closed

[2016-05-11 14:05] girishghoda opened #369 "Sidenavigationbar with 3 tab"
hi danieldahan,
Thanks for create great library. i use sidenavigatincontroller with 3 tab but how to handle 3 view controller with same side navigationcontoller.

my view as same as you display demo view in material github main page https://camo.githubusercontent.com/ecfd0bd7e5ebe8d8c505c0be1da77a630c53f6d9/687474703a2f2f7777772e636f736d69636d696e642e696f2f4d4b2f4d6174657269616c4170702e676966

ple

[2016-05-11 14:14] danieldahan commented on #369
Are you asking how to switch the view from the SideNav, or the Tab?

[2016-05-11 14:15] girishghoda commented on #369
ya for tab but toolbar & sidenavigationcontroller same for 3 view

[2016-05-11 14:18] danieldahan commented on #369
I am about to head out and will be back in a couple hours. I will give you feedback on the easiest way to do it once I am back to my computer.

[2016-05-11 14:19] girishghoda commented on #369
ok thank you danieldahan.

[2016-05-11 14:20] girishghoda commented on #369
![img_0224](https://cloud.githubusercontent.com/assets/19307918/15184097/83e81f14-17b1-11e6-9881-268d5c394ad1.jpg)
 i attach screenshot for your better understand.

[2016-05-11 17:43] danieldahan commented on #277
This is now fixed in the issue-366 branch. I am going to close this and in the next release it will be available.

[2016-05-11 17:43] #277 closed

[2016-05-11 17:44] danieldahan commented on #298
This is actually not so much an issue but rather a suggestion as I write the new TextView. I have taken note of this and will put it into play as the new one comes out. Thank you!

[2016-05-11 17:44] #298 closed

[2016-05-11 17:45] danieldahan commented on #361
I have taken this into consideration and will include it in the release of the TextView. Thank you! As it is not an issue, I will close it for now. I plan on the releasing the new TextView within the next 10 days.

[2016-05-11 17:45] #361 closed

[2016-05-11 17:47] danieldahan commented on #249
@mohpor There is a project passed to support for this. I will forward it to you to review.

[2016-05-11 17:51] danieldahan commented on #237
I am closing this as the notes have been made for the rework. Thank you!

[2016-05-11 17:51] #237 closed

[2016-05-11 18:52] mohpor commented on #249
I'm on it now.

[2016-05-11 19:37] mohpor commented on #249
I found the root cause for this problem and designed a quick patch for it.

The culprit is the `hitTest(_:, withEvent:):` function in `menuView`. It needs to test the hit for the off shore buttons and because the menuView button is getting hidden (not disabled or removed) it still receives the touch events regardless of its visibility (because hit test only uses point-in-rect, and not actual ray-c

[2016-05-11 19:39] danieldahan commented on #249
@mohpor nice. Yes, please make a PR to solve the issue and please make a card for reworking the menu in Trello :) Excellent work.

[2016-05-11 19:41] danieldahan commented on #249
actually rather than return nil, if the statement doesn't have a return type, use

[code]

Also no need for `self`, unless in a closure with `unowned` or `weak`

[2016-05-11 20:01] danieldahan commented on #369
So the setup you should have is:

1. Global SideNav, which wraps The BottomNavigation (TabBar)
2. When you Tab between UIViewControllers in the Tab, rather than this:

[code]

do this:

[code]

So you are not tricking anything in this solution. If you are not using the internal NavigationController panning, you should use a Toolbar, and thus switch out the NavigationController(root...) code to Too

[2016-05-11 20:05] danieldahan commented on #249
I am closing this issue as it will be released in the next release later tonight. Thank you @mohpor

[2016-05-11 20:05] #249 closed

[2016-05-11 20:06] danieldahan commented on #369
If you have any further issues, please let us know, or if you require more assistance on this issue, please let us know. Thank you!

[2016-05-12 05:01] girishghoda commented on #369
i want to create same as one activity with navigation drawer with 3 fragment like android.
so in ios problem is that tab have seprate viewcontroller ,so i lost rootview which has toolbar & sidenavigation.

so i can handle for tab view which have upper toolbar & side navigation are same like android one activity have 3 fragment only inner view change.

[2016-05-12 05:03] danieldahan commented on #369
Okay, in the morning I will help you out. It is late now and I am going to be sleeping soon.

[2016-05-12 05:04] danieldahan commented on #369
Actually for this issue, let's move to [Gitter](https://gitter.im/CosmicMind/Material). Add any details you like there, and in the morning I will take a look. I believe I know what you are looking for.

[2016-05-12 05:04] #369 closed

[2016-05-12 05:04] girishghoda commented on #369
ok no problem danieldahan. actually i from india so i post my problem at tis time.
sorry for interfere.

thank you

[2016-05-12 05:04] danieldahan commented on #369
No worries :) we are here to help.

[2016-05-12 13:12] lutzj82 opened #371 "1.41 will not build Carthage...NavigationController in Storyboard examples is missing project.pbxproj"
It looks like a recent check-in may have meant to remove the example project completely? But left behind some files?

[2016-05-12 13:30] danieldahan commented on #371
Can you share the error you are getting?

[2016-05-12 13:43] lutzj82 commented on #371
sure.
`*** Checking out Material at "1.41.0"
*** xcodebuild output can be found in /var/folders/1r/gw68_wv57bn807_b2sm71scm0000gp/T/carthage-xcodebuild.GnzolL.log
A shell task (/usr/bin/xcrun xcodebuild -project /Users/devaccount/Code/rounding-ios/Carthage/Checkouts/Material/Examples/Storyboards/NavigationController/NavigationController.xcodeproj CODE_SIGNING_REQUIRED=NO CODE_SIGN_IDENTITY= CARTHA

[2016-05-12 13:45] danieldahan commented on #371
Can you try cleaning your build folder and derived data?

[2016-05-12 13:53] lutzj82 commented on #371
That worked. Is this a Carthage issue?

[2016-05-12 13:55] danieldahan commented on #371
No just files left over in the caching of the build system. It happens in compiled systems here and there. Happy it worked :)

[2016-05-12 13:55] #371 closed

[2016-05-12 22:16] tbergeron opened #372 "How to start using Material's NavigationBar instead of UINavigationController's default one?"
Hi!

I didn't really know where to go for help on this and since I wasn't finding anything relevant I thought it was pretty easy to implement. I also checked the examples but none really covered what I wanted to do.

I built an app using Swift and iOS defaults controls. Today I started using Material, I switched a few controls like UIButton to FlatButton in Interface Builder (using storyboards) fo

[2016-05-12 22:26] tbergeron commented on #372
Uh actually the navigation controller works sometimes. The first "Add" button isn't responding but when I push a new detail view the next view's "Edit" button is working and the "back button" works though invisible.

You can see a demo here http://d.pr/v/FGEu

[2016-05-12 23:37] tbergeron commented on #372
I think there might be an issue with icons altogether?
I pulled the App example and here's what I see:
1: http://d.pr/i/13TNi
2: http://d.pr/i/11IVG

[2016-05-12 23:39] tbergeron commented on #372
For the icon part I guess this is related https://github.com/CosmicMind/Material/issues/231

[2016-05-13 00:16] tbergeron commented on #372
I've been able to set the NavigationBar's title this way:
[code]

e.g. http://d.pr/i/1baDm

But the title is left aligned, I feel I'm forcing my way through the process LOL :P

[2016-05-13 02:29] danieldahan commented on #372
Hello, what version of CocoaPods are you using?

[2016-05-13 02:30] danieldahan commented on #372
We have not updated Material for support for v1.0.* of CocoaPods. If you want immediate usage of Material, use 0.39.*.

[2016-05-13 02:31] tbergeron commented on #372
Hi! I'm using the latest 1.41.1.

So I'd need to use Material 0.39.* right? Or is that the CocoaPods version?

Thanks

[2016-05-13 02:33] danieldahan commented on #372
No, CocoaPods 0.39.*. They recently updated to 1.0.*. Please continue to use Material 1.41.1 :) Also, checkout the App example for usage of the NavigationBar. Tonight I am signing off, but tomorrow I will share an example with you to better demonstrate its Usage.

[2016-05-13 02:34] tbergeron commented on #372
Awesome! I'll do so!

I played with the App demo, it's the NavigationController side of things I'm having a hard time with. Though after playing more with the App demo I've been able to progress a bit more with the UI side of things. Thanks for helping me out and good night!

[2016-05-13 02:37] danieldahan commented on #372
No worries :) If you follow this [installation](https://github.com/CosmicMind/Material/wiki) example, you wont need to wait for the CocoaPods update.

[2016-05-13 07:20] bonroyage opened #374 "ToolbarController release in SideNavigationController crash"
Hi,

I have setup a SideNavigationController with three menu items. Two of the items load a ToolbarController and load fine. Switching away from that controller to another controller will crash the app. (The initial rootViewController is also an instance of ToolbarController but that doesn't crash, only when leaving it a second time)

[code]

The third menu item, which links to a regular ViewContr

[2016-05-13 09:21] urizev opened #375 "Square shadow in FabButton"
Hi,

There is a weird shadow under a FabButton. Here is a video:

  https://youtu.be/O4CIaIu7eow

It not always happens. Sometimes the square doesn't appear and it is alright and other times it happens like the video shows. When the button is tapped, the square shadow disappears and everything goes right.

¿Any idea? I have tried to tweek some shadow parameters but it does not work

Thanks

[2016-05-13 09:44] TheHmmka opened #376 "Can't set UILabel for title of Toolbar."
Hi! Found one problem that property titleLabel of Toolbar is readonly in 1.41.1. How could I set label for title and detail?

[2016-05-13 10:11] mohpor commented on #376
As of `1.41.1` `Toolbar` doesn't need you to setup a label and assign to it, just format the toolbar's `TitleLabel` and `DetailLabel` however you like.

Good luck.

[2016-05-13 10:15] mohpor commented on #375
Could you post some code too?
How are you initialize your fabButton?

[2016-05-13 10:22] urizev commented on #375
I create the button in the StoryBoard. I can post screenshots or sourcecode if it helps

[2016-05-13 10:24] mohpor commented on #375
yeah, that would be nice.
If you're formatting your button in code, please add some of the code, and if you use only the storyboard, please add some screenshots.
Thanks a lot.

[2016-05-13 10:38] urizev commented on #375
Here you can find the screenshots. Let me know if you need further information

<img width="124" alt="captura de pantalla 2016-05-13 a las 12 35 16" src="https://cloud.githubusercontent.com/assets/997364/15245531/60bc01fc-1907-11e6-8259-78039b37a7d2.png">
<img width="269" alt="captura de pantalla 2016-05-13 a las 12 35 33" src="https://cloud.githubusercontent.com/assets/997364/15245527/5d7c7d0a-19

[2016-05-13 10:50] mohpor commented on #375
could you try and set the `shape` property of the fab button to `.Circle` in the `viewDidLoad()` of your view and see what happens then?

[code]

[2016-05-13 10:59] urizev commented on #375
The same thing happens: The square shadow appears sometimes and when it does not appears, it flickers before disappear.

[2016-05-13 11:00] mohpor commented on #375
Hmmm.... It's interesting.
I'm going to try and reproduce it in a test project, would be great if you could do that.

[2016-05-13 11:02] urizev commented on #375
I have just check that if shape is set to .Circle in viewDidAppear(), the square shadow doesn't appear but there still are some flickers

[2016-05-13 11:03] mohpor commented on #375
Ok,
about the view hierarchy, your fabButton is inside a MapView? does it especially flicker when you pan or zoom your map view?

[2016-05-13 11:07] mohpor commented on #375
What Material version are you using? Have you updated your pod recently? it is currently at `1.41.1

[2016-05-13 11:11] TheHmmka commented on #376
Confused with this page: https://github.com/CosmicMind/Material/wiki/Toolbar.
And when I just set text and font for titleLabel - it looks unlayouted. Can't make screenshot right now cause I reverted to 1.40.0.

[2016-05-13 11:13] urizev commented on #375
No, it is over the map but not inside.

It flickers only at the begining. Square shadow does not appear after the flickers.

I was using 1.39.17, but the same thing happens with 1.41.1

[2016-05-13 11:14] mohpor commented on #376
@TheHmmka The toolbar's Wiki page is not reflecting the last version of Material. The whole documentation is being under reconstruction. Sorry for the inconvenience for now. I have used toolbar with 1.41.1 and it works like a charm. Would love to see some screenshots about it not having the correct layout any time you possibly could.
Cheers
M.

[2016-05-13 11:18] mohpor commented on #375
I can't really reproduce the issue my self, but I can suggest a couple of things:

1. Call `prepareView()` in `viewWillAppear()`
2. Setup the fab button in code and see what happens.

[2016-05-13 11:35] chashmeetsingh opened #377 "Facing issue (pulseScale)"
<img width="1024" alt="screen shot 2016-05-13 at 5 03 26 pm" src="https://cloud.githubusercontent.com/assets/8962264/15246726/b1c76328-192c-11e6-8584-cb204bae52d6.png">

ScreenShot ^

[2016-05-13 11:43] mohpor commented on #377
There has been a change in pulse animation and toolbar controls:

* Pulse controls and views now have a new property to handle pulse: `pulseAnimation` which controls the way an item pulses, and about the `pulseScale` option.

* `Toolbar` doesn't need you to setup labels for title and detail label. You can now format the toolbar title and detail label however you like.

[2016-05-13 11:46] chashmeetsingh commented on #377
how to format the toolbar title and detail thing ?
code or example? @mohpor

[2016-05-13 11:51] mohpor commented on #377
before, you would setup a `UILabel` and formatted it (font, text color, etc.) and assign it to the toolbar's `titleLabel` or `detailLabel`.
Now, toolbar has the pre-formatted `titleLabel` and `detailLabel`. you just need to modify it to match your own formatting (font, text color, etc)

e.g.:

[code]

[2016-05-13 11:53] chashmeetsingh commented on #377
thanks

[2016-05-13 11:54] chashmeetsingh commented on #377
No images are being displayed

[2016-05-13 11:55] mohpor commented on #377
Well, that's a whole another issue. I have submitted a pull request to solve it. it'll be fixed ASAP.

[2016-05-13 11:58] urizev commented on #375
Ok, I will try that approach. Thanks

[2016-05-13 12:08] chashmeetsingh commented on #377
<img width="404" alt="screen shot 2016-05-13 at 5 38 33 pm" src="https://cloud.githubusercontent.com/assets/8962264/15247390/867719ca-1931-11e6-8497-98902deca7ba.png">

tried center aligning a label

[2016-05-13 12:10] urizev commented on #375
If I call prepareView on viewWillAppear() its background color is red. If I change the background color after calling prepareView() it shows ok.

Anyway, it keeps on flickering

[2016-05-13 15:38] mohpor commented on #377
That's because the tile is getting centered to the available width. the only way I can think of, is to set content inset for the toolbar itself to compensate for right toolbar items.

[2016-05-13 16:02] GreyEcologist commented on #249
Sorry... late to the party! Thanks guys!

[2016-05-13 16:18] tbergeron commented on #372
Downgrading Cocoapods fixed the icon issue straightaway.
It almost work well now except for the non-working "Add" UIBarButtonItem and the title-less pushed views i.e. http://d.pr/i/8YR1 and also I clearly feel I'm doing something wrong just take a look at the left UIBarButtonItem here http://d.pr/i/11ukL

Looking at the App example, I'm feeling I use the storyboards "too much" and I should impleme

[2016-05-13 16:20] danieldahan commented on #372
Excellent. I am going to be working on documentation all day and this weekend. This will help you out. We have undergone many updates, and the documentation is behind.

[2016-05-13 16:48] tbergeron commented on #372
Checking the source greatly helped me understand how it works. Updated docs will be even better! Thanks a lot for all your work!

From checking out the demos, I'm starting to believe I should stop using Interface Builder and lay everything down from the code. I always did this with other languages but storyboards made me think I'd like to use UI instead of code. I wonder how difficult it would be

[2016-05-13 16:52] danieldahan commented on #372
I think you would be on a great track to drop Interface Builder and look from the code perspective. It gives you unbelievable control and understanding.

[2016-05-13 16:58] danieldahan commented on #375
This is a weird issue @urizev. It would result because the FabButtons frame is being altered to a square at one point. The flickering means it is struggling to maintain its shape. What AutoLayout constraints do you have on it from Storyboards?

[2016-05-13 16:59] danieldahan commented on #374
I will take a look into this very soon. Thank you for submitting this.

[2016-05-13 17:23] urizev commented on #375
Yep! Here you have a screenshot. Really simple as you can see

<img width="260" alt="captura de pantalla 2016-05-13 a las 19 19 00" src="https://cloud.githubusercontent.com/assets/997364/15256013/a09eb084-193f-11e6-8006-10d62b3d6ce5.png">

[2016-05-13 17:53] urizev commented on #375
I have been able to create a small project with the same issue:
   https://github.com/urizev/FabButtonTester

[2016-05-13 17:58] danieldahan commented on #375
Excellent I will take a look shortly.

[2016-05-13 20:47] lancevalour opened #378 "BottomNavigationController onViewDidLoad() called twice"
When I inherit BottomNavigationController and open my view controller, viewDidLoad() function is called twice. Below is the code:
[code]

Output is:
[code]

[2016-05-13 20:49] danieldahan commented on #378
There is nothing in the BottomNavigationController that executes the viewDidLoad method directly. This is interesting. How are you invoking MainViewController? Storyboards?

[2016-05-13 20:51] lancevalour commented on #378
I call presentViewController from another view controller:
[code]

[2016-05-13 20:52] danieldahan commented on #378
Can you confirm that this does not happen when you are not using the BottomNav?

[2016-05-13 20:54] lancevalour commented on #378
Yes, when I use UITabBarController, onViewDidLoad() is called once.

[2016-05-13 21:00] danieldahan commented on #378
I tried to reproduce it programmatically. I wasn't able to. This is probably a side-affect of the freeze dry principal with Storyboards. Do you mind sending me a sample project, to support@cosmicmind.io. I can take a look there.

[2016-05-13 21:16] tbergeron opened #379 "Pulse animation not working on buttons that are inside a MaterialTableViewCell"
Hi!

Basically if I comment the self.waterButton.addTarget() call, the pulse animation will work but if I add a target method, the method will get called and everything works except the pulse animation doesn't happen.

[code]

That's a minor issue but I thought I'd report it.

Thanks and keep it up!

[2016-05-13 21:19] danieldahan commented on #379
The reason you may not get the pulse is because all animations happen on the Main thread. This means that any UI that may occur could disable and block the pulse from actually happening. Are you having UI events occur after the button is clicked, or is it a simple notification and nothing else?

[2016-05-13 21:19] lancevalour commented on #378
Just sent it to you.

[2016-05-13 21:20] danieldahan commented on #378
Cool I will take a look. Thank you!

[2016-05-13 21:23] tbergeron commented on #379
After thinking about it, this is what is called on that event:

Pretty sure that my EHPlainAlert call is what is messing it up. This is showing a bottom alert so maybe that alert view/animation is the one taking over causing the lack of button pulse animation in my scenario.

[code]

[2016-05-13 21:24] danieldahan commented on #379
yes, comment out that code and see what happens.

[2016-05-13 21:31] tbergeron commented on #379
Weirdly enough it persists after commenting it. Even commenting the whole thing changes nothing.

I can even keep the notification i.e. http://d.pr/i/1cdBq

What messes it up is my `self.tableView.reloadData()` call that is after that notification call.

[2016-05-13 21:31] danieldahan commented on #378
So if you comment out the code and do this

[code]
The issue is gone. So my thinking is correct. Are familiar with how Storyboards are handled?